.icon__site-main--chat__cam--mic {
    font-size: 1.875rem;
}

.icon__site-main--chat__cam--play {
    font-size: 1rem;
    color: #05578b
}

.icon__site-main--chat__cam--stop {
    font-size: 1rem;
    color: #ff1600
}

.site-main__chat--cam {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all .3s ease-in;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  
  .site-main__chat--cam__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    overflow: hidden;
    background-color: rgba(0,0,0, .9);
  }

   .site-main__chat--cam__wrapper > video { 
     width: 100%;
     display: flex;
      -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
   }

   .site-main__chat--cam__control {
     position: absolute;
     width: 60px;
     height: 60px;
     outline: none;
     border: none;;
     border-radius: 50%;
     background: #ff1600;
     bottom: 5px;
     left: 50%;
     transform: translateX(-50%);
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.875rem;
     box-shadow: 0 5px 5px 2px rgba(0,0,0, 1);
     cursor: pointer;
   }

  .site-main__chat--cam__control:hover {
    font-size: 2rem;
    width: 70px;
     height: 70px;
    transition: all .3s ease-out;
  }

  .site-main__chat--cam__control:disabled {
    opacity: .5;
  }