.icon {

    &--rotate {
        svg {
            transform: rotate(180deg);
            transition: all .3s ease-out;
        }
    }
 

    &__site-main__ptwrit--ptwritIcon {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 3.5px;
        left: 4.4px;
    }

    &__site-main__ptwrit--ptwritsecondIcon {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 5px;
        left: 4.4px;
    }

    &__site-main__ptwrit--footer__smile {
        margin-right: 5px;
    }

    &__site-main__ptwrit--footer__heart {
        margin-right: 5px;
    }

    &__site-main__ptwrit--footer__comments {
        margin-right: 5px;
    }

    
    &__ptwritfilter--angleicon {
        margin-left: 5px;
        color:$mainFontColor;
    }

    &__ptwritfilter--filter__calend {
       font-size: 1.2rem;
       position: relative;
       color: rgba($mainDarkBlack, .6);
       cursor: pointer;

       @mixin atExtraSmall {
        font-size: 1.3rem;
       }

       @mixin atSmall {
        font-size: 1.4rem;
       }
    }
  
    &__ptwritfilter--filter__alt--comment {
        color: rgba($mainDarkBlack, .6);
        margin-right: 8px;
    }

    &__ptwritfilter--filter__alt--eye{
        color: rgba($mainDarkBlue, .8);
        margin-right: 8px;
    }

    &__ptwritfilter--filter__alt--heart {
        color: rgba($mainDarkRed, .8);
        margin-right: 8px;
    }

    &__ptwritfilter--filter__categsm--angleicon {
        margin-left: 10px;
    }

    &__site-main--ptwrit__header--pencil {
        font-size: 1.2rem;
    }

    &__site-main--ptwrit__header--quoteleft {
        font-size: .5rem;
        position: relative;
        top: -6px;
        margin-right: 5px;
    }

    &__site-main--ptwrit__header--quoteright {
        font-size: .5rem;
        position: relative;
        bottom: -6px;
        margin-left: 5px;
    }

    &__site-main--ptwrit__header--angle {
        margin-left: 5px;
    }

    &__site-main__ptwrit--quote {
        margin: 0  10px 0 0;
    }

    &__site-main__ptwrit--time {
        margin-right: 5px;
    }
}