.site-main__ptwrit {
    
    &--mainwrapper {
        width: 100%;   
        background-color: rgba($mainHeaderColor, .4);  
        box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -o-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -webkit-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);  
        
        &__hidden { 
            box-shadow: none; 
            background-color: transparent; 
        }
    }

    &--header {
        @mixin clearfix;
        padding-bottom: 10px;
        border-bottom: 1px solid $mainDarkGray; 

        &__main {
            float: left;
            width: 100%;
            @mixin clearfix;

            &--icon {
                float: left;
                padding: 15px 20px;
                background-color: $mainMiddleDarkBlue;
                border-radius: 3px;
                color: #fff;
            }

            &--title {
                float: left;
                list-style: none;
                margin: 0;
                padding: 0 20px;

                li {
                    float: none;

                    &:first-child {
                        padding-top: 2px;
                        padding-bottom: 10px;
                        padding-left: 20px;
                        font-size: 1rem;
                        color: $mainDarkBlue;
                    }

                    &:last-child {
                        font-size: .875rem;
                    }
                }
            }

            @mixin atSmall {
                width: 60%;
                border-right: 1px solid $mainDarkGray; 
            }

            @mixin atMedium {
                width: 50%;
            }
        }

        &__submain {
            float: left;
            padding-left: 10px;
            text-align: center;
            display: none;

            &--title {
                padding: 0;
                margin: 0;
                font-size: .875rem;
            }

            &--opt {
                width: 64px;
                background-color: $mainDarkBlue;
                color: #fff; 
                font-size: .8125rem;
                padding: 4px 10px;
                border-radius: 5px;
                position: relative;
                margin: 8px auto 0 auto;
                cursor: pointer;

                &__list {
                    position: absolute;
                    background-color: #fff;
                    border: 1px solid $mainDarkGray;
                    @mixin clearfix;
                    font-size: .875rem;
                    color: $mainFontColor;
                    text-align: left;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    top: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    

                    li {
                        float: left;
                        text-align: left;
                        padding: 5px 20px;

                        &:first-child {
                            border-bottom: 1px solid $mainDarkGray;
                        }
                    }
                }
            }

            @mixin atSmall {
                display: block;
                width: 40%; 
            }

            @mixin atMedium {
                width: 50%;
                display: block
            }
        }

        @mixin atSmall {
            margin-top: -20px;  
        }
    }

    &--tag {
        font-size: .875rem;
        color: $mainFontColor;
        @mixin clearfix;

        & > h3 {
            padding: 5px 10px;
            background-color: $mainLightGray;
            float: left;
            font-weight: 400;
            font-size: .875rem;
            margin: 10px 10px 0 0;
        }

        &__list {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            margin-top: 10px;
            @mixin clearfix;

            li {
                float: left;
                margin-right: 10px;
                line-height: 1.8;

                &:first-child {
                    color: $mainDarkBlue;
                }

                &:last-child {
                     
                    & > span {
                        padding: 3px 15px;
                        background-color: $mainDarkBlue;
                        color: #fff;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &--note {
        background-color: $mainHeaderColor;
        font-size: .875rem;
        margin: 20px 0;
        padding: 8px 20px;
        width: 100%;

        & > span {
            position: relative;
        }

        &__title {
            padding: 3px 10px;
            background-color:rgba($mainDarkBlack, .6);
            color: #fff;
            margin-left: 5px;
        }

        &__content { 
            padding-left: 10px;
        }
    }

    &--top { 
        @mixin atLarge {
            padding-top: 10px;  
            background-color: #fff;
            position: sticky; 
            top: 60px;     
            z-index: 2;   
        }
    }

    &--tab {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $mainMiddleDarkBlue;
        @mixin clearfix;
        font-size: .875rem;
        font-weight: 300;
        position: relative; 
        z-index: 2;   

        li {
            float: none;
            text-align: center;
            color: #fff;
            cursor: pointer;
            padding: 11px 35px; 
            position: relative;
            font-size: .8125rem; 
               
            &:first-child { 
                border-bottom: 1px solid rgba(255,255,255, .45);

                @mixin atExtraSmall { 
                    border-bottom: none;  
                    border-right: 1px solid rgba(255,255,255, .45);
                }
            }

            @mixin atExtraSmall {
                float: left;
            }

            @mixin atSmall {
                font-size: .875rem; 
            }

            @mixin atMedium {
                padding: 15px 35px;
                font-size: .9375rem;
            }
        }

        &__sticky {
            position: sticky;
            top: 52px;         
            z-index: 2;  
            box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -o-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -ms-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -webkit-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -moz-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2);  
            
            @mixin atMedium {
                position: sticky; 
                top: 61px;    
            }

            @mixin atLarge {
                top: 70px;     
            }
        }

        @mixin atSmall {
            font-size: .9375rem !important;
        }
    }

    &--wrapper {
        font-weight: 400;
        background-color: #fff;
        box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        border-radius: 10px; 
        position: relative;
        margin: 40px  15px;   
        
        @mixin atSmall { 
            margin: 40px 20px 60px 20px;
        }

        &:last-child {
            margin-bottom: 0;

            @mixin atSmall {
                margin-bottom: 0;
            }
        }
    }

    &--mainheader {
        position: relative;
        border-bottom: 1px solid $mainDarkGray;
        padding: 8px 0;

        &__timePosted {
            position: absolute;
            right: 25px;
            font-size: .75rem;
            font-style: italic;
            color: $mainDarkBlue;
            top: 14px;
        }

        &__tag {
            font-size: .875rem;
            margin-left: 10px;
            padding: 5px 10px;
            /* background-color: $mainLightGray; */
            color: $mainDarkBlue;
            border-radius: 3px;
            white-space: nowrap;
            width: 85px;

            & > span {
                font-size: .875rem;
                margin-left: 30px;
                padding: 5px 10px;
                background-color: $mainDarkBlue;
                color: #fff;
                border-radius: 3px;
                white-space: nowrap;
                position: relative;
                top: 2px;
            }

        } 
    }

    &--content {
        color: $mainFontColor;
        padding: 10px 0px;
        width: 100%;
        position: relative;

        &__firstptwritIcon { 
            width: 24px;
            height: 24px;
            border-radius: 12px;
            border: 1px solid $mainDarkGray;
            position: absolute;
            margin-left: 10px;
            left: 0;
            top: 5px;
        }

        &__secondptwritIcon {
            width: 100%;
            position: relative;
            margin-bottom: 30px;
            left: -10px;   

            &--user {
                font-size: .8125rem;
                position: absolute;
                right: 38px;
                top: 6px;
                color: rgba($mainDarkPaleBlue, .8);

                &__img {
                    cursor: pointer;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    border: 1px solid $mainLightGray;
                    border-radius: 25px;
                    top: -10px;
                    left: -60px;
                }
            }

            a {
                color: rgba($mainDarkPaleBlue, .8);
                position: relative;
                top: -2px;
            }

            &--wrapper {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                border: 1px solid $mainDarkGray;
                position: absolute;
                right: 0;
                top: 10px;
            }

            &--time {
                margin-top: 2px;
                color: $mainFontColor;  
            }

        }

        &__title {
            font-size: .875rem;
            margin: 10px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 2;
            border-top: 1px solid $mainDarkGray; 
            padding: 10px 0 0 0; 
            position: relative;

            &--mt {
                padding-top: 20px;
            }

            &--wrapper {
                width: 90%;
                /* font-style: italic; */

                a {
                    color: rgba($mainDarkBlack, .7);
                    text-decoration: none;
                    font-weight: 500;
                }
            }

            @mixin atExtraSmall {
                font-size: .9375rem;
            }
        }

        &__tag {
            margin-bottom: 15px; 

           & > span {
            font-size: .875rem;
            margin-left: 10px;
            padding: 5px;
            background-color: $mainHeaderColor;
            color: rgba($mainFontColor, .6);
            border-radius: 3px;
            white-space: nowrap;
           }
        }
    }

    &--footer {
        margin: 10px 0 0 0;
        color: $mainFontColor;
        list-style: none;
        @mixin clearfix;
        border-top: 1px solid $mainDarkGray;
        font-size: .8125rem;
        padding: 0;

            li {
            float: left;
            width: 33.333%;
            border-right: 1px solid $mainDarkGray;
            text-align: center;
            padding: 8px 0;

            &:first-child {
                border-right: 1px solid $mainDarkGray;
                width: 33.333%;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    @mixin atSmall {
        margin: 30px 0;
    }
}