<div class="site-main site-main__no-tab">
    <div class="wrapper__exmain">
       <div class="site-main__content">
           <div class="site-main__content--no-tab-wrapper">
               <div class="site-main__content--overlay"></div>
                <div class="site-main__content--top"></div>
                {{> partialcontentpwt}}
           </div>
        </div>
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                <ul class="site-main__nav--header">
                    <li><i class="fas fa-exchange-alt"></i></li>
                </ul>
                {{> partialnavpwt}}
            </div>
        </div>
    </div>
</div> 