<div class="reuse-view__nav">
    <div class="reuse-view__nav--related">
        <div class="reuse-view__nav--related__header">
            <div class="reuse-view__nav--related__header--title reuse-view__nav--related__header--title__pt">
                 Related Post
                 <div>24</div>
            </div>
        </div>
        <ul class="reuse-view__nav--related__options">
            <li><a href="">
                What's is your view about this stuffs
                What's is your view about this stuffs
                </a>
            </li>
            <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
             <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
             <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
        </ul>
    </div>
</div>

{{> partialset}}