$mainExtraLightBlue: #abc6d4;
$mainLightBlue: #15a4fa;
$mainMiddleDarkBlue: #437da3;
$mainPaleBlue: #134df2; 
$mainExtraDarkPaleBlue: #008feb;   
$mainDarkPaleBlue: #05578b; 
$mainDarkBlue: #0284a8;
$mainLightRed: #ff1600;
$mainDarkRed: #f22613;  
$mainExtraLightGray: #f2f2f2;
$mainLightGray: #e9ebf2;
$mainDarkGray: #dcdbdc;
$mainLightGreen: #16cf27;
$mainDarkGreen: #a3d930;
$mainLightBlack: #777; 
$mainMediumLightBlack: #555; 
$mainDarkBlack: #000; 
$mainFontColor: #182427;
$mainHeaderColor: #f9f9f9;
$mainContentHeaderColor: #f9fafb;
$mainChatLogColor: #005cc6;
$active: #3a6c8c;