.icon {

    &__acc-pub--tab {
        color: $mainFontColor;
    }

    &__reuse-acc-filter--comment {
        color: $maiDarkBlue;
        margin-right: 5px;
    }

    &__reuse-acc-filter--fav {
        color: $mainLightRed;
        margin-right: 5px;
    }
}