<div class="reuse-pwt">
    <div class="reuse-pwt__wrapper">
         {{> partialshare}}
        <div class="reuse-pwt__content">
                <div class="reuse-pwt__content--tag">
                <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Quote</a></span>
                </div>
            <div class="reuse-pwt__content--title reuse-pwt__content--title__mt">
                <div class="reuse-pwt__content--firstptwritIcon">
                    <i class="fas fa-quote-left icon icon__reuse-pwt--quote"></i>
                </div>
                <div class="reuse-pwt__content--title__wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database 
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database<span>...</span></a>
                </div>
            </div>
            <div class="reuse-pwt__content--det reuse-pwt__content--det__quoteright">
                <div class="reuse-pwt__content--det__user">
                    <div class="reuse-pwt__content--det__user--img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                        <div class="reuse-pwt__content--det__user--time">
                        @ 2m ago
                    </div>
                    <div class="reuse-pwt__content--det__user--det">
                        <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                        <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                        <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>

                            <ul class="reuse-pwt__content--det__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                            <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
                <div class="reuse-pwt__content--det__quote-wrapper">
                    <i class="fas fa-quote-right icon icon__reuse-pwt--quoteright"></i>
                </div>
            </div>
        </div>
        <ul class="reuse-pwt__footer">
            <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
            <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
        </ul>
    </div>
   
   

<div class="reuse-pwt__wrapper">
    {{> partialshare}}
    <div class="reuse-pwt__content">
        <div class="reuse-pwt__content--tag">
            <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Poems</a></span>
        </div>
        <div class="reuse-pwt__content--title">
            <div class="reuse-pwt__content--title__wrapper">
                <a href="">The quote is the best nature of lif, this is from the database
                The quote is the best nature of lif, this is from the database <span>...</span></a>
            </div>
        </div>
        <div class="reuse-pwt__content--det">
            <div class="reuse-pwt__content--det__user">
                <div class="reuse-pwt__content--det__user--img">
                    <img src="/" alt="">
                </div> 
                <a href="">User user </a>
                    <div class="reuse-pwt__content--det__user--time">
                    @ 2m ago
                </div>
                <div class="reuse-pwt__content--det__user--det">
                    <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                    <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                    <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>

                        <ul class="reuse-pwt__content--det__user--det__opt">
                        <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                        <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                        <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
    <ul class="reuse-pwt__footer">
        <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
        <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
        <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
    </ul>
</div>

<div class="reuse-pwt__wrapper">
    {{> partialshare}}
    <div class="reuse-pwt__content">
        <div class="reuse-pwt__content--tag">
            <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Poems</a></span>
            <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Paid</a></span>
        </div>
        <div class="reuse-pwt__content--title">
            <div class="reuse-pwt__content--title__wrapper">
                <a href="">The quote is the best nature of lif, this is from the database
                The quote is the best nature of lif, this is from the database <span>...</span></a>
            </div>
        </div>
        <div class="reuse-pwt__content--det">
            <div class="reuse-pwt__content--det__user">
                <div class="reuse-pwt__content--det__user--img">
                    <img src="/" alt="">
                </div> 
                <a href="">User user </a>
                    <div class="reuse-pwt__content--det__user--time">
                    @ 2m ago
                </div>
                <div class="reuse-pwt__content--det__user--det">
                    <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                    <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                    <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>

                        <ul class="reuse-pwt__content--det__user--det__opt">
                        <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                        <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                        <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>
    <ul class="reuse-pwt__footer">
        <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
        <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
        <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
    </ul>
</div>
</div>