<div class="site-main__nav--chats">
    <ul class="site-main__nav--chats__headerIcon">
        <li><i class="fas fa-location-arrow"></i></li>
        <li><i class="far fa-edit"></i></li>
        <li><i class="far fa-heart"></i></li>
        <li><i class="far fa-trash-alt"></i> </li>
        <li><i class="fas fa-search"></i></li>
    </ul>
    <ul class="site-main__nav--chats__groupList">
        <li>Top Groups</li>
        <li>Poeters group for all <i class="fas fa-angle-down"></i></li>
    </ul>
    <ul class="site-main__nav--chats__userStatus">
        <li>278K students</li>
        <li>344m Students</li>
    </ul>
    <div class="site-main__nav--chats__currentday">
        Today
    </div>
</div>