<div class="site-main__nav--trend">
    <p>Top Trendings</p>
    <div class="site-main__nav--trend__items">
        {{!-- <ul class="site-main__nav--topTreding__items--title">
            <li>Collections</li>
            <li>Store</li>
        </ul> --}}
         <div class="site-main__nav--trend__itm--wrapper">
            <div class="site-main__nav--trend__itm--cnt">
                Every prose is very interesting
            </div>
            <div class="site-main__nav--trend__itm--det">
                <div class="site-main__nav--trend__itm--det__categ">
                    <i class="fas fa-tags icon icon__site-main--nav__trd--tag"></i>   P
                </div>
                <ul class="site-main__nav--trend__itm--det__footer">  
                    <li><i class="far fa-eye icon icon__site-main--nav__trd--comment"></i> 234K</li>
                      <li><span><i class="far fa-comments icon icon__site-main--nav__trd--view"></i> 11K</span></li>
                    <li><span><i class="far fa-clock icon icon__site-main--nav__trd--tm"></i>2hrs</span></li>
                </ul>
            </div>
        </div> 
    </div>
</div>

<div class="reuse-set">
    <div class="reuse-set__header">
        <i class="far fa-clock icon icon__reuse-set--tm"></i>
        <span>Set Timed Question</span>
        <span class="reuse-set__header--startQues">
            <a href="">start</a>
        </span>
    </div>
    <div class="reuse-set__categ">
        <div class="reuse-set__categ--title">Select Category 
            <span class="reuse-set__categ--title__icn"><i class="fas fa-angle-down icon icon__reuse-set--angle"></i></span>
            <ul class="reuse-set__categ--title__item">
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
            </ul>
        </div>
    </div>
</div>