<div class="reuse-set">
    <div class="reuse-set__header">
        <i class="far fa-clock icon icon__reuse-set--tm"></i>
        <span>Set Timed Question</span>
        <span class="reuse-set__header--startQues">
            <a href="">start</a>
        </span>
    </div>
    <div class="reuse-set__categ">
        Category <i class="fas fa-angle-down icon icon__reuse-set--angle"></i>
        <ul class="reuse-set__categ--opt">
            <li>Mathematics</li>
            <li>Social</li>
            <li>Prose</li>
            <li>Mathematics</li>
            <li>Social</li>
            <li>Prose</li>
            <li>Mathematics</li>
            <li>Social</li>
            <li>Prose</li>
            <li>Mathematics</li>
            <li>Social</li>
            <li>Prose</li>
        </ul>
    </div>
</div>