<div class="reuse-trd reuse-trd__nav">
    <h3> Top Trendings</h3>
    <div class="reuse-trd__cnt reuse-trd__cnt--nav">
         <div class="reuse-trd__cnt--wrapper reuse-trd__cnt--wrapper__nav">
            <div class="reuse-trd__cnt--categ"><i class="fas fa-clone icon icon__reuse-trd--categ"></i> Post</div>
            <h4 class="reuse-trd__cnt--title">
                <a href="">Every prose is very interesting Every prose is very interesting</a>   
            </h4>
            <ul class="reuse-trd__cnt--footer">  
                <li><i class="far fa-eye icon icon__reuse-trd--view"></i> 234K</li>
                <li><i class="far fa-comments icon icon__reuse-trd--comment"></i> 11K</li>
                <li><i class="far fa-heart icon icon__reuse-trd--fav"></i>222k</li>
            </ul>
        </div> 
        <div class="reuse-trd__cnt--wrapper reuse-trd__cnt--wrapper__nav">
            <div class="reuse-trd__cnt--categ"><i class="fas fa-book icon icon__reuse-trd--categ"></i> Poet/Writer</div>
            <div class="reuse-trd__cnt--tag"><i class="fas fa-tag icon icon__reuse-trd--tag"></i> Social</div>
            <h4 class="reuse-trd__cnt--title">
                <a href="">Every prose is very interesting Every prose is very interesting</a>   
            </h4>
            <ul class="reuse-trd__cnt--footer">  
                <li><i class="far fa-smile icon icon__reuse-trd--smile"></i> 234K</li>
                <li><i class="far fa-heart icon icon__reuse-trd--fav"></i> 11K</li>
                <li><i class="far fa-comment-dots icon icon__reuse-trd--pwt-comment"></i>222k </li>
            </ul>
        </div> 
        <div class="reuse-trd__cnt--wrapper reuse-trd__cnt--wrapper__nav">
            <div class="reuse-trd__cnt--categ"><i class="fas fa-book icon icon__reuse-trd--categ"></i> Question</div>
            <h4 class="reuse-trd__cnt--title">
                <a href="">Every prose is very interesting Every prose is very interesting</a>   
            </h4>
            <ul class="reuse-trd__cnt--footer">  
                <li><i class="far fa-thumbs-up icon icon__reuse-trd--smile"></i> 234K</li>
                <li><i class="far fa-thumbs-down icon icon__reuse-trd--view"></i> 11K </li>
                <li><i class="far fa-heart icon icon__reuse-trd--fav"></i>222k </li>
            </ul>
        </div> 
        <div class="reuse-trd__cnt--wrapper reuse-trd__cnt--wrapper__nav">
            <div class="reuse-trd__cnt--categ"><i class="fas fa-users icon icon__reuse-trd--categ"></i> Group</div>
            <h4 class="reuse-trd__cnt--title">
                <a href="">Every prose is very interesting Every prose is very interesting</a>   
            </h4>
            <ul class="reuse-trd__cnt--footer">  
                <li><div class="reuse-trd__cnt--footer__det"><div><i class="fas fa-users icon icon__reuse-trd--users"></i></div> 234K</div></li>
                <li><div class="reuse-trd__cnt--footer__det"><div class="reuse-trd__cnt--footer__det--status"><i class="fas fa-user-friends icon icon__reuse-trd--user-frnd"></i></div> 11K</div></li>
                <li class="reuse-trd__cnt--footer__add-grp"><i class="fas fa-plus icon icon__reuse-trd--add"></i> Join</li>
            </ul>
        </div> 
    </div>
</div>

{{> partialset}}
