
    <div class="userdetails">
        <ul class="userdetails__header">
            <li class="userdetails__header--firstItem">
                <div class="userdetails__header--mainClose">
                    <i class="fas fa-angle-double-left"></i>
                </div>
                Back
            </li>
            <li>
                <div class="userdetails__header--title">
                    User Details
                </div>
            </li>
            <li class="userdetails__header--lastItem">
                close
                <div class="userdetails__header--mainClose">
                    <i class="fas fa-angle-double-left"></i>
                </div>
            </li>
        </ul>   
        <div class="userdetails__content">
            <div class="userdetails__content--userStatus">
                online
            </div>
            <ul class="userdetails__content--userdetails">
                <li class="userdetails__content--userdetails__imgholder">
                    <img src="/" alt="">
                </li>
                <li>
                    <p class="userdetails__content--userdetails__userTitle">User User</p>
                    <p class="userdetails__content--userdetails__occu">Occupation: 
                    <span class="userdetails__content--userdetails__occu--title"></span></p>
                </li>
            </ul>
            <div class="userdetails__content--userdes">
                <div class="userdetails__content--userdes--about">
                    <div class="userdetails__content--userdes--about__icon"><i class="fas fa-user"></i></div> About me
                </div>
                <p class="userdetails__content--userdes--content">I only feel like i should do this things which is the hottest at as of
                    d year don't ask me about it now
                </p>
            </div>
            <div class="userdetails__content--userrates">
                <div class="userdetails__content--userrates__wrapper">
                    <div class="userdetails__content--userrates__icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <ul class="userdetails__content--userrates__content">
                        <li>Students Accepted <span class="userdetails__content--userrates__content--title">222k</span></li>
                        <li>Students Rejected <span class="userdetails__content--userrates__content--title">0</span></li>
                    </ul>
                </div>
                <div class="userdetails__content--userrates__wrapper">
                    <div class="userdetails__content--userrates__icon">
                        <i class="fas fa-coffee"></i>
                    </div>
                    <ul class="userdetails__content--userrates__content">
                        <li>Online Questions 
                            <span class="userdetails__content--userrates__content--title">222k</span>
                            <span class="userdetails__content--userrates__content--viewall">view all</span>
                        </li>
                    </ul>
                </div>
                <div class="userdetails__content--userrates__wrapper">
                    <div class="userdetails__content--userrates__icon">
                        <i class="fas fa-coffee"></i>
                    </div>
                    <ul class="userdetails__content--userrates__content">
                        <li>Questions Answered
                            <span class="userdetails__content--userrates__content--title">222k</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>