<div class="reuse-group">
    <div class="reuse-group__wrapper">
        <ul class="reuse-group__header">
            <li>
                <div class="reuse-group__header--img">
                    
                </div>
                <div class="reuse-group__header--nm">
                    <a href="">user user</a> 
                </div>
            </li>
            <li>
                <div class="reuse-group__header--tm">
                    <i class="fas fa-calendar-check icon icon__reuse-group--header__calend"></i>
                    <span>08/3/18</span>
                </div>
            </li>
        </ul>
        <div class="reuse-group__cnt">
            <div class="reuse-group__cnt--add-grp">
                <i class="fas fa-plus icon icon__reuse-group--cnt__add"></i>
            </div>
            <div class="reuse-group__cnt--img">
                <img src="/" alt="">
            </div>
            <div class="reuse-group__cnt--desc">
                <div class="reuse-group__cnt--desc__title">
                    mathematics excel multi purpose group
                    mathematics excel multi purpose group
                    mathematics excel multi purpose group
                </div>
                <div class="reuse-group__cnt--desc__opt">
                    <div class="reuse-group__cnt--desc__opt--det">
                        <i class="fas fa-angle-double-right icon icon__reuse-group--cnt__det"></i>
                        Details
                    </div>
                    <div class="reuse-group__cnt--desc__opt--chat">
                        <a href=""><i class="fas fa-comment-dots icon icon__reuse-group--cnt__comment"></i>Chat</a>
                        <div class="active__main active__main--chat"><div>9</div></div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-group__footer">
            <li class="reuse-group__footer--users">
                <div class="reuse-group__footer--users__wrapper">
                    <div class="reuse-group__footer--users__icn">
                        <i class="fas fa-users icon icon__reuse-group--footer__users"></i>
                    </div> 
                    2333m
                </div>
            </li>
            <li class="reuse-group__footer--status"> 
                <div class="reuse-group__footer--status__wrapper">
                    <div class="reuse-group__footer--status__icn">
                        <i class="fas fa-user-friends icon icon__reuse-group--footer__users-on"></i>
                        <div class="reuse-group__footer--status__icn--on"></div>
                    </div> 
                    2333m
                </div>
            </li>
        </ul>
    </div>
</div>