<div class="site-main__nav--chats">
    <div class="site-main__nav--chats--clicklistening">
    <div class="site-main__nav--chats__headerWrapper">
            <ul class="site-main__nav--chats__userStatus">
                <li class="site-main__nav--chats__userStatus--item"><i class="fas fa-users icon icon__site-main__nav--chats__usericon"></i><span class="site-main__nav--chats__userStatus--title">Users Status</span></li>
            </ul> 
            <ul class="site-main__nav--chats__headerIcon">
                <li class="disabled site-main__nav--chats__headerIcon--firstitems"><i class="fas fa-location-arrow"></i></li>
                <li class="disabled site-main__nav--chats__headerIcon--items"><i class="far fa-edit"></i></li>
                <li class="disabled site-main__nav--chats__headerIcon--items"><i class="far fa-heart"></i></li>
                <li class="disabled site-main__nav--chats__headerIcon--items"><i class="far fa-trash-alt"></i> </li>
                <li><i class="fas fa-search"></i></li>
            </ul>
            
        </div> 

        <ul class="site-main__nav--chats__groupList">
            <li>Select Group</li>
            <li class="site-main__nav--chats__groupList--item">
                Poeters group Poeters <i class="fas fa-angle-down icon icon__site-main--nav__grouplist--angledown"></i>
                <ul class="site-main__nav--chats__groupList--options">
                    <li>Programmers</li>
                    <li>Poet writers</li>
                    <li>Designers</li>
                </ul>
            </li>
        </ul>
        <div class="site-main__nav--chats__currentday">
            <i class="far fa-clock icon icon__site-main--nav__chatIcon"></i>   Today
        </div>
        <div class="site-main__nav--chats__firstChatBox">
            <div class="site-main__nav--chats__firstChatBox--wrapper">
                <p class="site-main__nav--chats__firstChatBox--content">
                    Am i speeking with the guy n red today?
                    immediate response pls....
                </p>
                <div class="site-main__nav--chats__firstChatBox--footer">
                    <div class="site-main__nav--chats__firstChatBox--footer__details">
                        <div class="site-main__nav--chats__firstChatBox--footer__details--middle"></div>
                    </div>
                    <div class="site-main__nav--chats__firstChatBox--footer__user">
                        <div class="site-main__nav--chats__firstChatBox--footer__user--title">
                        User User
                        </div>
                        <div class="site-main__nav--chats__firstChatBox--footer__user--img">
                            <img src="/" alt="">
                        </div>
                    </div>
                </div>
                <ul class="site-main__nav--chats__firstChatBox--postDetails">
                    <li>11:12 PM</li>
                    <li>3m ago</li>
                </ul>
            </div>
        </div>
        <div class="site-main__nav--chats__secondChatBox">
            <div class="site-main__nav--chats__secondChatBox--wrapper">
                <p class="site-main__nav--chats__secondChatBox--content">
                    Am i speeking with the guy n red today?
                    immediate response pls....
                </p>
                <div class="site-main__nav--chats__secondChatBox--footer">
                    <div class="site-main__nav--chats__secondChatBox--footer__user">
                        <div class="site-main__nav--chats__secondChatBox--footer__user--title">
                        User User
                        </div>
                        <div class="site-main__nav--chats__secondChatBox--footer__user--img">
                            <img src="/" alt="">
                        </div>
                    </div>
                    <div class="site-main__nav--chats__secondChatBox--footer__details">
                        <div class="site-main__nav--chats__secondChatBox--footer__details--middle"></div>
                    </div>
                </div>
                <ul class="site-main__nav--chats__secondChatBox--postDetails">
                    <li>11:12 PM</li>
                    <li>3m ago</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="site-main__nav--chats__inputWrapper">
        <div class="site-main__nav--chats__micWrapper">
            <div class="site-main__nav--chats__mic">
                <i class="fas fa-microphone icon icon__site-main--nav__micIcon"></i>
            </div>
        </div>
        <textarea placeholder="Type something here" class="site-main__nav--chats__input"></textarea> 
        <div class="site-main__nav--chats__clip">
            <i class="fas fa-paperclip icon icon__site-main--nav__clipIcon"></i>
        </div>
        <div class="site-main__nav--chats__smile">
            <i class="far fa-smile icon icon__site-main--nav__smileIcon"></i>
        </div>
    </div>
    <div class="site-main__nav--chats__attachWrapper">
        <div class="site-main__nav--chats__attachContent">
            <ul class="site-main__nav--chats__attach">
                <li>
                    <div class="site-main__nav--chats__attach--iconHolder site-main__nav--chats__attach--camicon">
                        <i class="fas fa-camera icon icon__site-main__nav--chaticon"></i>
                    </div>
                    <p class="site-main__nav--chats__attach--title">Camera</p>
                </li>
                <li>
                    <div class="site-main__nav--chats__attach--iconHolder site-main__nav--chats__attach--videoicon">
                        <i class="fas fa-video icon icon__site-main__nav--chaticon"></i>
                    </div>    
                     <p class="site-main__nav--chats__attach--title">Video recorder</p>
                </li>
                <li>
                    <div class="site-main__nav--chats__attach--iconHolder site-main__nav--chats__attach--imageicon">
                        <i class="fas fa-images icon icon__site-main__nav--chatimageicon"></i>
                    </div> 
                     <p class="site-main__nav--chats__attach--title">Picture picker</p>     
                </li>
            </ul>
            <ul class="site-main__nav--chats__attach site-main__nav--chats__secondattach">
                <li>
                    <div class="site-main__nav--chats__attach--iconHolder site-main__nav--chats__attach--locationicon">
                    <i class="fas fa-map-marker-alt icon icon__site-main__nav--chatlocationicon"></i>
                    </div> 
                     <p class="site-main__nav--chats__attach--title">Share location</p>
                </li>
                <li>
                    <div class="site-main__nav--chats__attach--iconHolder site-main__nav--chats__attach--fileicon">
                        <i class="fas fa-file icon icon__site-main__nav--chaticon"></i>
                    </div>
                     <p class="site-main__nav--chats__attach--title">Documents</p>
                </li>
                <li>
                    <div class="site-main__nav--chats__attach--iconHolder site-main__nav--chats__attach--audioicon">
                        <i class="fas fa-headphones icon icon__site-main__nav--chaticon"></i>
                    </div>
                     <p class="site-main__nav--chats__attach--title">Audio picker</p>
                </li>
            </ul> 
        </div>
    </div>

    <div class="chats__logs">
        <div class="chats__logs--mainclose">
            <i class="fas fa-times icon icon__chats--log__maincloseIcon"></i>
        </div>
        <ul class="chats__logs--header">
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOnline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOffline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li>
                <p class="chats__logs--header__title">Chats Logs</p>
            </li>
            <li>
                <input type="text" class="chats__logs--header__searchChat--input" placeholder="Search User">
                <div class="chats__logs--header__notifyHolder chats__logs--header__searchChat--searchIcon">
                    <i class="fas fa-search icon icon__site-main__nav--chatLog__searchIcon"></i>
                </div>
            </li>
        </ul>

        <div class="chats__logs--mainOutlet">
            <div class="chats__logs--userOnline">
                <ul class="chats__logs--userOnline__header">
                    <li></li>
                    <li> Online</li>
                    <li>Offline</li>
                </ul>
                <div class="chats__logs--userstatus__outlet">
                    <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div>

                    {{!-- <div class="chats__logs--userOffline__wrapper">
                        <div class="chats__logs--userOffline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOffline__view--userDetails">
                                <i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i>
                            </div>
                            <div class="chats__logs--userOffline__img--holder">
                                <img src="/" alt="">
                            </div>
                        </div>
                        <ul class="chats__logs--userOffline__details">
                            <li> 
                                <p class="chats__logs--userOffline__details--title">The user userThe user user The user user</p>
                                <div class="chats__logs--userOffline__details--statusIcon chats__logs--userOffline__details--statusColor"></div>
                                <p class="chats__logs--userOffline__details--userStatus"> offline</p>
                                <p class="chats__logs--userOffline__details--timeLeft"> 12hrs ago 12hrs ago 12hrs ago </p>
                            </li>
                            <li>
                                <p class="chats__logs--userOffline__details--lastMessage">Pls do you know the response Pls do you know the response</p>
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> --}}

                </div>
            </div>

            
        </div>

        <div class="chats__logs--share">
            <div class="chats__logs--share__userselected">
                <p class="chats__logs--share__userselected--title">User Selected </p>
                <div class="chats__logs--share__userselected--totalwrapper">
                    <div class="chats__logs--share__userselected--total">
                       <span class="chats__logs--share__userselected--total__content">
                           20
                       </span>
                    </div>
                </div>
            </div>
            <ul class="chats__logs--share__options">
                <li>
                    <div class="chats__logs--share__options--firstitem">
                        <i class="fas fa-location-arrow icon icon__chats--logs__share--options__Icons"></i>Share
                    </div>
                </li>
                <li>
                    <div class="chats__logs--share__options--seconditem">
                        <i class="fas fa-eye icon icon__chats--logs__share--options__lastIcons"></i>View
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>