<div class="site-main__nav--topTreding">
    <p>Top Trendings</p>
    <div class="site-main__nav--topTreding__items">
        {{!-- <ul class="site-main__nav--topTreding__items--title">
            <li>Collections</li>
            <li>Store</li>
        </ul> --}}
        <div class="site-main__nav--topTreding__items--wrapper">
            <div class="site-main__nav--topTreding__items--content">
                Every prose is very interesting
            </div>
            <div class="site-main__nav--topTreding__items--details">
                <div class="site-main__nav--topTreding__items--details__category">
                    <i class="fas fa-tags icon icon__site-main--nav__topTreding--tagIcon"></i>   P
                </div>
                <ul class="site-main__nav--topTreding__items--details__icons">  
                    <li><i class="far fa-eye icon icon__site-main--nav__topTreding--comment"></i> 234K</li>
                      <li><span><i class="far fa-comments icon icon__site-main--nav__topTreding--view"></i> 11K</span></li>
                    <li><span><i class="far fa-clock icon icon__site-main--nav__topTreding--clock"></i>2hrs</span></li>
                </ul>
            </div>
        </div>
         <div class="site-main__nav--topTreding__items--wrapper">
            <div class="site-main__nav--topTreding__items--content">
                Every prose is very interesting
            </div>
            <div class="site-main__nav--topTreding__items--details">
                <div class="site-main__nav--topTreding__items--details__category">
                    <i class="fas fa-tags icon icon__site-main--nav__topTreding--tagIcon"></i>   P
                </div>
                <ul class="site-main__nav--topTreding__items--details__icons">  
                    <li><i class="far fa-eye icon icon__site-main--nav__topTreding--comment"></i> 234K</li>
                      <li><span><i class="far fa-comments icon icon__site-main--nav__topTreding--view"></i> 11K</span></li>
                    <li><span><i class="far fa-clock icon icon__site-main--nav__topTreding--clock"></i>2hrs</span></li>
                </ul>
            </div>
        </div> 

        
    </div>
</div>

<div class="site-main__nav--timedQues">
    <div class="site-main__nav--timedQues__header">
        <i class="far fa-clock icon icon__site-main--nav__clock"></i>
        <span>Set Timed Question</span>
        <span class="site-main__nav--timedQues__header--startQues">
            <a href="">start</a>
        </span>
    </div>
    <div class="site-main__nav--timedQues__category">
        <div class="site-main__nav--timedQues__category--title">Select Category 
            <span class="site-main__nav--timedQues__category--title__toggleIcon"><i class="fas fa-angle-down icon icon__site-main--nav__angleDown"></i></span>
            <ul class="site-main__nav--timedQues__category--title__item">
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
                <li>Mathematics</li>
                <li>Social</li>
                <li>Prose</li>
            </ul>
        </div>
    </div>
</div>