<div class="site-main">
    <div class="wrapper__exmain">
        <div class="site-main__content">
            <div class="site-main__content--wrapper">
                <div class="site-main__content--overlay"></div>
                <div class="site-main__content--top"></div>
                <ul class="site-main__content--tab"> 
                    <li><a href="" class="active-content-tab"><i class="fas fa-clone icon icon__site-main__content--tab"></i>Post</a></li>
                    <li>
                        <a href="">
                            <i class="fas fa-clone icon icon__site-main__content--tab"></i>Questions
                         <div class="active__main active__main--tab">
                            <div>9</div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-users icon icon__site-main__content--tab"></i>Groups
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-hand-paper icon icon__site-main__content--tab"></i>Help Me
                        <div class="active__main active__main--tab">
                            <div>9</div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-book icon icon__site-main__content--tab"></i>Poet&Writers
                        </a>
                    </li>
                </ul> 
                <div class="post-section">
                    {{!-- {{> partialPost}}  --}}
                </div>
                <div class="question-section">
                    {{!-- {{> partialQuestion}} --}}
                </div>
                <div class="question-section">
                    {{> partialGroups}}
                </div>
                <div class="question-section">
                    {{!-- {{> partialHelpMe}} --}}
                </div>
                <div class="question-section">
                    {{!-- {{> partialPwt}} --}}
                </div>
            </div>
        </div>
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                <ul class="site-main__nav--header">
                    <li>
                        <i class="fas fa-exchange-alt"></i>
                        <div class="active__main active__main--nav">
                            <div>9</div>
                        </div>
                    </li>
                </ul>
                {{> partialTopTrending}} 
            </div>
        </div>
    </div>
</div>