<div class="site-main">
    <div class="wrapper__main">
        <div class="site-main__nav--md">
            <ul>
                <li>Options</li>
                <li>
                    <div class="site-main__nav--md__contentHolder">
                        <i class="fas fa-coffee icon icon__site-main__nav--md__contentIcon"></i>
                    </div>
                </li>
                <li>
                    <div class="site-main__nav--md__contentHolder">
                        <i class="fas fa-tablets icon icon__site-main__nav--md__contentIcon"></i>
                    </div>
                </li>
                <li>
                    <div class="site-main__nav--md__contentHolder">
                        <i class="fas fa-comment-dots icon icon__site-main__nav--md__contentIcon"></i>
                    </div>
                </li>
                <li>
                    <div class="site-main__nav--md__contentHolder">
                        <i class="fas fa-pencil-alt icon icon__site-main__nav--md__contentIcon"></i>
                    </div>
                </li>
                <li>
                    <div class="site-main__nav--md__contentHolder">
                        <i class="fas fa-people-carry icon icon__site-main__nav--md__contentIcon"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="site-main__content">
            <div class="site-main__content--wrapper">
                <ul class="site-main__content--header">
                    <li>Post</li>
                    <li>Questions</li>
                    <li>Groups</li>
                    <li>Help Me <span class="activeMd"><span>9</span></span></li>
                    <li>Communities</li>
                </ul>
                <div class="post-section">
                    {{!-- {{> partialPost}} --}}
                </div>
                <div class="question-section">
                    {{!-- {{> partialQuestion}} --}}
                </div>
                <div class="question-section">
                    {{!-- {{> partialGroups}} --}}
                </div>
                <div class="question-section">
                    {{!-- {{> partialHelpMe}} --}}
                </div>
                <div class="question-section">
                    {{> partialCommunities}}
                </div>
            </div>
        </div>
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                <ul class="site-main__nav--header">
                    <li>Daily Quote</li>
                    <li>Online Questions</li>
                    <li><i class="fas fa-exchange-alt"></i></li>
                </ul>
                <div class="site-main__nav--contentOutlet">
                    {{!-- {{> partialTopTrending}} --}}
                    {{!-- {{> partialDailyQuo}} --}}
                    {{!-- {{> partialOnlineQue}} --}}
                    {{> partialChats}}
                </div>
            </div>
        </div>
    </div>
</div>