<header class="site-header">
    <div class="wrapper">
        <div class="site-header__logo">
            <div class="site-header__logo--graphics">
                LOGO
            </div>
        </div>
         <form class="site-header__form">
            <input type="text" class="site-header__form--input" autocomplete="on">
            <span class="site-header__form--search">
                <i class="fas fa-search icon icon__site-header--search"></i>
            </span>
        </form>
        <div class="site-header__addNew">
            <span class="site-header__addNew--content">Add New <i class="fas fa-angle-down icon__site-header--addNew"></i></span>
            <span class="site-header__addNew--content-sm">Add<i class="fas fa-angle-down icon__site-header--addNew"></i></span>
            <ul class="site-header__addNew--list">
                <li>Post</li>
                <li>Question</li>
                <li>Group</li>
                <li>Timed Question</li>
                <li>Answer</li>
                <li>Quote</li>
                <li>Items</li>
            </ul>
        </div>
        <div class="site-header__list">
            <ul>
                <li class="site-header__list--bars"><a><i class="fas fa-bars"></i></a></li>
                <li><a href="">Questions</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Groups</a></li>
                <li class="site-header__list--search-mini"><a class="site-header__list--search-mini__content"><i class="fas fa-search icon icon__site-header--search-mini"></i></a></li>
                <li><a href="">Quotes</a></li>
            </ul>
        </div>
        <div class="site-header__menu">
            <div class="site-header__menu--mini-space"> </div>
            <div class="site-header__menu--favorites">
                <i class="fas fa-heart icon icon__site-header--favorites"></i>
                <ul class="site-header__menu--favorites__tool-tip">
                    <li>Favorites</li>
                </ul>
            </div>
            <div class="site-header__menu--shares active">
                <span class="">9</span>
                <i class="fas fa-location-arrow icon icon__site-header--shares"></i>
                <ul class="site-header__menu--shares__tool-tip">
                    <li>Shared with me</li>
                </ul>
            </div>
            <div class="site-header__menu--notification active">
                <span class="site-header__menu--notification__icon--number">9</span>
                <div class="site-header__menu--notification__icon"><i class="fas fa-bell icon icon__site-header--bell"></i></div>
                <ul class="site-header__menu--notification__tool-tip">
                    <li>Notification</li>
                </ul>
                <div class="site-header__menu--notification__notify-content">
                    <div class="site-header__menu--notification__wrapper-header">
                    <span class="site-header__menu--notification__wrapper-header--settings">
                        <i class="fas fa-cogs icon icon__site-header--notification__settings"></i>
                    </span>
                </div>
                <div class="site-header__menu--notification__wrapper">
                    <div class="site-header__menu--notification__wrapper--content 24">
                        <span class="site-header__menu--notification__wrapper--category">f</span>
                        <p class="site-header__menu--notification__wrapper--title">
                        <a href=""> what is your view about all this stuffs
                        <span class="site-header__menu--notification__wrapper--viewmore">
                            . . .
                        </span>
                        </a>
                        </p>
                        <i class="far fa-clock icon icon__site-header--notification__clock"></i>
                        <span class="site-header__menu--notification__wrapper--dts">
                            {{!-- <i class="fas fa-circle icon icon__site-header--notification--circle"></i>
                            <i class="fas fa-circle icon icon__site-header--notification--circle"></i>
                            <i class="fas fa-circle icon icon__site-header--notification--circle"></i> --}}
                        </span>
                        <p class="site-header__menu--notification__wrapper--Viewers">
                            <i class="far fa-eye icon icon__site-header__menu--notification--details__eye"></i>: 345k
                        </p>
                        <p class="site-header__menu--notification__wrapper--favorite">
                            <i class="far fa-heart icon icon__site-header__menu--notification--details__heart"></i>: 345k
                        </p>
                        <p class="site-header__menu--notification__wrapper--comment">
                            <i class="far fa-comment icon icon__site-header__menu--notification--details__comment"></i>: 345k
                        </p>
                    </div>
                    
                </div>
                {{!-- <div class="site-header__menu--notification--ct">
                    <div class="site-header__menu--notification--ct__details 24">
                        <div class="site-header__menu--notification--ct__details--user">
                            <p>Category: <a href="">Question</a></p>
                            <p>author : <a href="">User User User User</a></p>
                        </div>
                        <p class="site-header__menu--notification--ct__details--viewLater">
                            <i class="far fa-clock icon icon__site-header--notifcation__viewLater"></i> 
                            <span class="site-header__menu--notification--ct__details--viewLater__text">25minute ago</span>
                        </p>
                    </div>
                </div> --}}
                </div>
            </div>
            <div class="site-header__menu--nav">
                <div class="site-header__menu--nav__icon"><i class="fas fa-bars icon icon__site-header--list"></i></div>
                <ul class="site-header__menu--nav__tool-tip">
                    <li>Options</li>
                </ul>
                <div class="nav nav__list">
                    <ul class="nav__list--options">
                        <li class="nav__list--options__firstitems nav__list--options__firstdropdown"><i class="fas fa-newspaper icon icon__site-header__menu--nav-icon"></i> News <i class="fas fa-angle-down site-header__menu--list-icon"></i>
                            <ul class="nav__list--options__firstItemsDetails">
                                <li><a href="">Sport</a></li>
                                <li><a href="">Scholarships</a></li>
                                <li><a href="">Entertainment</a></li>
                                {{!-- <li>more</li> --}}
                            </ul>
                        </li>
                        <li class="nav__list--options__firstitems nav__list--options__firstitems--hide-sm"><a href=""><i class="fas fa-users icon icon__site-header__menu--nav-icon"></i> Groups</a></li>
                        <li class="nav__list--options__firstitems"><a href=""><i class="fas fa-coffee icon icon__site-header__menu--nav-icon"></i>Online Questions</a></li>
                    </ul>
                    <ul class="nav__list--options">
                        <li class="nav__list--options__seconditems"><a href=""><i class="fas fa-clone icon icon__site-header__menu--nav-icon"></i> posts</a></li>
                        <li class="nav__list--options__seconditems nav__list--options__seconditems--addmargin-sm nav__list--options__seconddropdown"><i class="fas fa-people-carry icon icon__site-header__menu--nav-icon"></i> Communities <i class="fas fa-angle-down site-header__menu--toggleIcon"></i>
                            <ul class="nav__list--options__secondItemsDetails">
                                <li><a href="">Education</a></li>
                                <li><a href="">Programmers</a></li>
                                <li><a href="">Designers</a></li>
                            </ul>
                        </li>
                        <li class="nav__list--options__seconditems nav__list--options__seconditems--hide-sm"><a href=""><i class="fas fa-book icon icon__site-header__menu--nav-icon"></i> Scholars Field</a></li>
                    </ul>
                     <ul class="nav__list--options">
                        <li class="nav__list--options__thirditems"><a href=""><i class="fas fa-store icon icon__site-header__menu--nav-icon"></i> My Store</a></li>
                        <li class="nav__list--options__thirditems nav__list--options__thirditems--show-sm"><a href=""><i class="fas fa-users icon icon__site-header__menu--nav-icon"></i> Groups</a></li>
                    </ul>
                    <ul class="nav__list--options nav__list--options__hide--sm">
                        <li class="nav__list--options__thirditems"><a href=""><i class="fas fa-book icon icon__site-header__menu--nav-icon"></i> Scholars Field</a></li>
                    </ul>
                </div>
            </div>
            <div class="site-header__menu--user">
                <div class="site-header__menu--user__img"></div>
                <ul class="site-header__menu--user__details">
                    <li class="site-header__menu--user__details--portal">
                    <a href="">
                        <div class="site-header__menu--user__details--portal__img">
                        <img>
                    </div>
                     <p>My Portal</p>      
                    </a> 
                    </li>
                    <li class="site-header__menu--user__details--account">
                        <a href=""><i class="fas fa-cogs icon icon__site-header--menu__user--icons"></i> Account Settings</a>
                    </li>
                    <li class="site-header__menu--user__details--logout">
                        <a href=""><i class="fas fa-angle-double-right icon icon__site-header--menu__user--icons"></i> Logout</a>
                    </li>
                </ul>
          </div>
        </div>
         {{!-- <div class="site-header__btn-container">
                 <ul>
                    <li><a href=""><i class="fas fa-lock icon icon__site-header--login"></i> Login</a></li>
                    <li><a href="">Signup</a></li>
                </ul>
            </div> --}}
        
        <form class="site-header__miniForm">
            <div class="site-header__miniForm--logo">
                <div class="site-header__miniForm--logo__graphics">
                    LOGO
                </div>
            </div>
            <div class="site-header__miniForm--wrapper">
                <input type="text" class="site-header__miniForm--wrapper__input" autofocus autocomplete="on">
                <span class="site-header__miniForm--wrapper__search">
                    <i class="fas fa-search icon icon__site-header--search"></i>
                </span>
            </div>
            <div class="site-header__miniForm--close">
                <i class="fas fa-times icon icon__site-header--miniForm__close"></i>
            </div>
        </form>
    </div>
</header>