<header class="site-header">
    <div class="wrapper">
        <div class="site-header__logo">
            <div class="site-header__logo--graphics">
                LOGO
            </div>
        </div>
         <div class="site-header__form">
            <input type="text" class="site-header__form--input" autofocus autocomplete="on">
            <span class="site-header__form--search">
                <i class="fas fa-search icon icon__site-header--search"></i>
            </span>
        </div>
        {{!-- <div class="site-header__addNew">
            <span class="site-header__addNew--content">Add New <i class="fas fa-angle-down icon__site-header--addNew"></i></span>
        </div> --}}
        <div class="site-header__list">
            <ul>
                <li class="site-header__list--bars"><a href=""><i class="fas fa-bars"></i></a></li>
                <li><a href="">Questions</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Groups</a></li>
                <li><a href="">Quotes</a></li>
            </ul>
        </div>
        <div class="site-header__menu">
            <div class="site-header__menu--favorites">
            <i class="far fa-heart icon icon__site-header--favorites"></i>
            </div>
            <div class="site-header__menu--shares">
                <i class="fas fa-location-arrow icon icon__site-header--shares"></i>
            </div>
            <div class="site-header__menu--notification">
                <i class="far fa-bell icon icon__site-header--bell"></i>
            </div>
            <div class="site-header__menu--nav">
                <i class="fas fa-bars icon icon__site-header--list"></i>
            </div>
            {{!-- <div class="site-header__menu--user">
                <div class="site-header__menu--user__img"></div>
          </div> --}}
        </div>
       
        {{!-- <div class="site-header__user">
                <div class="site-header__user--img"></div>
          </div> --}}
         
         <div class="site-header__btn-container">
                 <ul>
                    <li><a href=""><i class="fas fa-lock icon icon__site-header--login"></i> Login</a></li>
                    <li><a href="">Signup</a></li>
                </ul>
            </div>
    </div>
</header>