<header class="site-header">
    <div class="wrapper">
        <div class="site-header__logo">
            <div class="site-header__logo--graphics">
                LOGO
            </div>
        </div>
        <form class="site-header__form">
            <input type="text" class="site-header__form--input" autocomplete="on">
            <div class="site-header__form--search">
                <i class="fas fa-search icon icon__site-header--search"></i>
            </div>
        </form>
        <div class="site-header__form-sm"><i class="fas fa-search icon icon__site-header--search"></i></div>
        <div class="site-header__add-new">
            <h4 class="site-header__add-new--title">Add <i class="fas fa-angle-down icon__site-header--add-new"></i></h4>
            <ul class="site-header__add-new--opt">
                <li><a href="">Post</a></li>
                <li><a href="">Question</a></li>
                <li><a href="">Group</a></li>
                <li><a href="">Timed Question</a></li>
                <li><a href="">Answer</a></li>
                <li><a href="">Quote</a></li>
                <li><a href="">Items</a></li>
            </ul>
        </div>
        <ul class="site-header__nav-opt">
            <li><a><i class="fas fa-bars"></i></a></li>
            <li><a href="">Question</a></li>
            <li><a href="">Post</a></li>
            <li><a href="">chat</a></li>
            <li><a href="">Poet/Writer</a></li>
            <li><a class="site-header__list--search-mini__content"><i class="fas fa-search icon icon__site-header--search-mini"></i></a></li>
        </ul>
        <div class="site-header__menu">
            <a class="site-header__menu--fav" href="">
                <i class="fas fa-heart icon icon__site-header--favorites"></i>
                <div class="site-header__tool-tip site-header__tool-tip--fav">
                    Favorites
                </div>
            </a>
            <a class="site-header__menu--share" href="">
                <div class="active__main active__main--header">
                    <div>9</div>
                </div>
                <i class="fas fa-location-arrow icon icon__site-header--shares"></i>
                <div class="site-header__tool-tip site-header__tool-tip--share">
                    Shared with me
                </div>
            </a> 
            <div class="site-header__menu--notify">
                <div class="active__main active__main--header site-header__menu--notify__num">
                    <div>9</div>
                </div>
                <div class="site-header__menu--notify__icn"><i class="fas fa-bell icon icon__site-header--bell"></i></div>
                <div class="site-header__tool-tip site-header__tool-tip--notify">
                    Notifications
                </div>
                <div class="site-header__menu--notify__cnt">
                    <div class="site-header__menu--notify__cnt--set"><i class="fas fa-cogs icon icon__site-header--notify__set"></i></div>
                    <div class="site-header__menu--notify__cnt--det">
                        {{> partialtrd}}
                    </div>
                </div>
            </div>
            <div class="site-header__menu--nav">
                <div class="site-header__menu--nav__icn">
                    <i class="fas fa-bars icon icon__site-header--list"></i>
                </div>
                 <div class="site-header__tool-tip site-header__tool-tip--nav">
                    Options
                </div>
                <nav class="nav">
                    <div class="nav__wrapper">
                        <div class="nav__pt">
                            <h4>
                                <i class="fas fa-clone icon icon__site-header--nav__itm"></i> Post
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                        <div class="nav__que">
                            <h4>
                                <i class="fas fa-clone icon icon__site-header--nav__itm"></i> Questions
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                        <div class="nav__online-que">
                            <h4>
                                <i class="fas fa-coffee icon icon__site-header--nav__itm"></i> Online Exam
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav__wrapper"> 
                        <div class="nav__grp">
                            <h4>
                                <i class="fas fa-users icon icon__site-header--nav__itm"></i> Group
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                        <div class="nav__pwt">
                            <h4>
                                <i class="fas fa-book icon icon__site-header--nav__itm"></i> Poet/Writers
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                        <div class="nav__other">
                            <h4>
                                <i class="fas fa-book icon icon__site-header--nav__itm"></i> Others
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav__wrapper"> 
                        <div class="nav__other-sm">
                            <h4>
                                <i class="fas fa-book icon icon__site-header--nav__itm"></i> Others
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                         <div class="nav__online-que-sm"> 
                            <h4>
                                <i class="fas fa-coffee icon icon__site-header--nav__itm"></i> Online Exam
                                <span><i class="fas fa-angle-down icon icon__site-header--nav__angle"></i></span>
                            </h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Social</a></li>
                                <li><a href="">Entertainment</a></li>
                            </ul>
                        </div>
                    </div>
                </nav> 
            </div>
        </div>
         <div class="site-header__user">
             <div class="site-header__user--img">

             </div>
            <ul class="site-header__user--det">
                <li class="site-header__user--det__portal">
                   <a href="">
                       <div class="site-header__user--det__portal--img"><img></div>
                       My Portal 
                    </a>  
                </li>
                <li class="site-header__user--det__acc">
                    <a href="">
                        <div><i class="fas fa-cogs icon icon__site-header--user__set"></i></div>
                         Account Settings
                    </a>
                </li>
                <li class="site-header__user--det__logout">
                    <a href="">
                        <div><i class="fas fa-angle-double-right icon icon__site-header--user__log"></i> </div>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
         <ul class="site-header__no-acc">
            <li><a href="" class="site-header__no-acc--login"><i class="fas fa-lock icon icon__site-header--no-acc"></i> Login</a></li>
            <li><a href="" class="site-header__no-acc--sign">Signup</a></li>
        </ul>
        
        <form class="site-header__sm-form">
            <div class="site-header__sm-form--logo">
                <div class="site-header__sm-form--logo__graphics">
                    LOGO
                </div>
            </div>
            <div class="site-header__sm-form--srch">
               <input type="text" class="site-header__sm-form--srch__input" autocomplete="on">
                <div class="site-header__sm-form--srch__icn">
                    <i class="fas fa-search icon icon__site-header--search"></i>
                </div>
            </div>
            <div class="site-header__sm-form--close">
                <i class="fas fa-times icon icon__site-header--sm-form__close"></i>
            </div>
        </form>
    </div>
</header>