<div class="site-main">
    <div class="wrapper__main">
        <div class="site-main__content">
            <ul class="site-main__content--header">
                    <li>Post</li>
                    <li>Questions</li>
                    <li>Groups</li>
                    <li>Help Me</li>
                    <li>Communities</li>
            </ul>
            <div class="post-section">
                {{> partialPost}}
            </div>
            <div class="question-section">
                {{> partialQuestion}}
            </div>
        </div>
        <div class="site-main__nav">
            <ul class="site-main__nav--header">
                <li>Daily Quote</li>
                <li>Online Questions</li>
                <li><i class="fas fa-exchange-alt"></i></li>
            </ul>
        </div>
        <div class="site-main__nav--md">
            <ul>
                <li><i class="fas fa-coffee"></i></li>
                <li><i class="fas fa-pills"></i></li>
                <li><i class="fas fa-comment-dots"></i></li>
                <li><i class="fas fa-pencil-alt"></i></li>
                <li><i class="fas fa-people-carry"></i></li>
            </ul>
        </div>
    </div>
</div>