<div class="site-main site-main__expage">
    <div class="wrapper__exmain">
       <div class="site-main__content">
            {{> partialExPost}}
        </div>
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                <ul class="site-main__nav--header">
                    <li><i class="fas fa-exchange-alt"></i></li>
                </ul>
                {{> partialNav}}
            </div>
        </div>
    </div>
</div> 
