<div class="site-main__content--wrapper">
    <div class="site-main__content--overlay"></div>
    <div class="site-main__content--top"></div>
    <ul class="site-main__content--tab">
        <li><i class="fas fa-clone icon icon__site-main--content__tab--clone"></i> Post</li>
        <li>
            <i class="fas fa-location-arrow icon icon__site-main--content__tab--share"></i> Shared
            <div class="active__main active__main--shareme">
                <div>99</div>
            </div>    
        </li>
    </ul>

    <div class="reuse-pt-filter">
        <div class="reuse-pt-filter__wrapper">
            {{> reusecateg}}
            {{> reusefilter}}
            <div class="reuse-pt-filter__pt">
                My Post 
                <div>99</div>
            </div>
            <div class="reuse-pt-filter__add">
                Add Post
            </div>
        </div>
    </div>

    <div class="reuse-pt">
        <div class="reuse-pt__overlaywrapper">
            <div class="reuse-pt__wrapper">
                <ul class="reuse-pt__header">
                    <li>
                        <div class="reuse-pt__header--category__img">
                            <img src="/" alt="">
                        </div>
                        <div class="reuse-pt__header--category__det">
                            <div class="reuse-pt__header--category__det--name"><a href="">User User User User User User User User </a></div>
                            <div class="reuse-pt__header--category__det--timePosted">@ 2m ago</div> 
                        </div>
                    </li>
                    <li>
                        <p class="reuse-pt__header--share__category"><i class="fas fa-tag icon icon__reuse-pt--header__tag"></i><a href=""> Social</a></p>
                        {{> partialshare}}
                    </li>
                </ul>
                <div class="reuse-pt__img">
                    <div class="reuse-pt__img--wrapper">
                        <img  alt="" src="/">
                    </div>
                </div>
                <p class="reuse-pt__title">What is your view about all this stuffs</p>
                <p class="reuse-pt__description">
                    <a href="">
                        The is a description of the sites to be used when
                    this is rendered to the database, The is a description of the sites to be used when
                    this is rendered to the database <span>...</span>
                    </a>
                </p>
            
                <div class="reuse-pt__footer">
                    <ul class="reuse-pt__footer--list">
                        <li><i class="far fa-eye icon icon__reuse-pt--footer__eye"></i>  1223K</li>
                        <li class="reuse-pt__footer--list__item-middle"><i class="far fa-comments icon icon__reuse-pt--footer__chats"></i>  12m</li>
                        <li><i class="far fa-heart icon icon__reuse-pt--footer__heart"></i> 222m</li>
                    </ul>
                    <div class="reuse-pt__footer--details">
                        <div class="reuse-pt__footer--details__mid"></div>
                        <ul class="reuse-pt__footer--details__options">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pt--options"></i>Edit </a></li>
                            <li class="reuse-pt__footer--details__options--status"><i class="far fa-eye-slash icon icon__reuse-pt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
