<div class="reuse-conv">
    <div class="reuse-conv__title">
       <div class="reuse-conv__title--wrapper">
           <div><i class="far fa-comment-dots icon icon__reuse-conv--comment"></i></div> Conversations
       </div>
    </div>
    <div class="reuse-conv__cnt">
        <div class="reuse-grp-chat reuse-grp-chat__nav">
            <div class="active__main active__main--chat-cnt"><div>9</div></div>
            <div class="reuse-grp-chat__img"><img src="/" alt=""></div>
            <ul class="reuse-grp-chat__det">
                <li class="reuse-grp-chat__det--title"><a href="">The real community for programmers The real community for programmers The real community for programmers</a></li>
                <li class="reuse-grp-chat__det--last-msg">Pls do you know the reson while Pls do you know the reson while Pls do you know the reson while Pls do you know the reson whilePls do you know the reson while Pls do you know the reson whilePls do you know the reson while Pls do you know the reson while</li>
                <li class="reuse-grp-chat__det--status"><div class="reuse-grp-chat__det--status__on reuse-grp-chat__det--status__on--nav"> online <span>22k</span></div> <div class="reuse-grp-chat__det--status__off"> offline <span>2k</span></div> </li>
            </ul>
            <div class="reuse-grp-chat__opt">
                <div class="reuse-grp-chat__opt--mid"></div>
                <ul class="reuse-grp-chat__opt--det">
                    <li><i class="fas fa-eye-slash icon icon__reuse-conv--blk"></i> Block</li>
                    <li><i class="fas fa-trash-alt icon icon__reuse-conv--del"></i><a href="">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="reuse-pvt-chat reuse-pvt-chat__nav">
            <div class="active__main active__main--chat-cnt"><div>9</div></div>
            <div class="reuse-pvt-chat__img">
                <img src="/" alt="">
                {{!-- <div class="reuse-pvt-chat__img--status reuse-pvt-chat__img--status__on"></div> --}}
                <div class="reuse-pvt-chat__img--status reuse-pvt-chat__img--status__off"></div>
            </div>
            <ul class="reuse-pvt-chat__det">
                <li><a href="">User user <span>@ 2m ago</span></a></li>
                <li><a href="">What is the real defination pls, i need it What is the real defination pls, i need itWhat is the real defination pls, i need itWhat is the real defination pls, i need itWhat is the real defination pls, i need it</a></li>
            </ul>
            <div class="reuse-pvt-chat__opt">
                <div class="reuse-pvt-chat__opt--mid"></div>
                <ul class="reuse-pvt-chat__opt--det">
                    <li><i class="fas fa-eye-slash icon icon__reuse-conv--blk"></i> Block</li>
                    <li><i class="fas fa-trash-alt icon icon__reuse-conv--del"></i><a href="">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>