<div class="reuse-tag">
    <div class="reuse-tag__header">
        <i class="fas fa-tags icon icon__reuse-tag--header"></i> Tags
    </div>
    <ul class="reuse-tag__cnt">
        <li><a href="">Social</a></li>
        <li><a href="">Writes</a></li>
        <li><a href="">Poem</a></li>
        <li><a href="">Poet</a></li>
        <li><a href="">Social</a></li>
        <li><a href="">Writes</a></li>
        <li><a href="">Poem</a></li>
        <li><a href="">Poet</a></li>
        <li><a href="">Social</a></li>
        <li><a href="">Writes</a></li>
        <li><a href="">Poem</a></li>
        <li><a href="">Poet</a></li>
    </ul>
</div>