.active__main {
    position: absolute;
    background-color: $mainDarkRed;
    color: #fff;
    font-size: .875rem;
  

    &--shareme {
        top: 4px;
        right: 0;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        font-size: .8125rem;
        border: 1px solid rgba(#fff, .25);
       
        > div {
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            width: 100%;
            text-align: center;
        }

        @mixin atExtraSmall {
          
        }

        @mixin atSmall {
            right: 8px; 
            top: 4px;  
        }
    }
}