.icon {
    
    &__site-main--content__tab--clone {
        margin-right: 5px;
    }
    
    &__site-main--content__tab--share {
        margin-right: 5px;
    }

    &__reuse-pt--footer__eye {
        color: $mainDarkBlack;
        cursor: pointer;
    }

    &__reuse-pt--footer__chats {
        color: $mainDarkBlue;
        cursor: pointer;
    }

    &__reuse-pt--footer__heart {
        color: $mainLightRed; 
        cursor: pointer;
    }

    &__reuse-pt--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-pt--header__tag {
        color: $mainLightBlack;
        cursor: pointer;
    }

    &__reuse-pt--share {
        position: absolute;
        top: 27%;
        transform: translate(-54%);
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-pt--options {
        margin-right: 10px;
    }

    &__reuse-pt--options__dft {
        margin-right: 5px;
    }

    &__reuse-share--title {
        margin-left: 20px;
    }

    &__reuse-share--googleplus {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainDarkRed;
        float: right;
    }

    &__reuse-share--facebook {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainLightBlue;
        float: left;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-share--selec {
        color: $mainLightGreen;
    }

    &__reuse-share--content-ans {
        font-size: .625rem;
        color: $mainLightBlue;
    }

    &__reuse-share--content-snts {
        font-size: .625rem;
        color: $mainDarkPaleBlue;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-share--mainclose {
        font-size: .75rem;
        color: rgba($mainDarkBlack, .6);
    }
    
    &__reuse-share--close {
        font-size: .625rem;
        color: $mainLightRed;
    }

    &__reuse-share--user-selec__user {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-share--reset {
        color: $mainLightRed;
        margin-right: 5px;
        font-size: .875rem;
        position: relative;
        top: 1px;
    }
    
    &__expost--angleicon {
        margin-left: 5px;
        color:$mainFontColor;
    }

    &__expost--filter__calend {
       font-size: 1.2rem;
       position: relative;
       color: rgba($mainDarkBlack, .6);
       cursor: pointer;

       @mixin atExtraSmall {
        font-size: 1.3rem;
       }

       @mixin atSmall {
        font-size: 1.4rem;
       }
    }
  
    &__expost--filter__alt--comment {
        color: rgba($mainDarkBlack, .6);
        margin-right: 8px;
    }

    &__expost--filter__alt--eye{
        color: rgba($mainDarkBlue, .8);
        margin-right: 8px;
    }

    &__expost--filter__alt--heart {
        color: rgba($mainDarkRed, .8);
        margin-right: 8px;
    }

    &__expost--filter__categsm--angleicon {
        margin-left: 10px;
    }

    &__reuse-tag--header {
        font-size: .75rem;
        margin-right: 5px;
    }
  
}