.icon {
    
    &__site-main--content__tab--clone {
        margin-right: 5px;
    }
    
    &__site-main--content__tab--share {
        margin-right: 5px;
    }
    
    &__reuse-pt-filter--comment {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-pt-filter--view {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-pt-filter--fav {
        color: $mainLightRed;
        margin-right: 5px;
    }
}