.icon {
    
    &__site-main--content__tab--clone {
        margin-right: 5px;
    }
    
    &__site-main--content__tab--share {
        margin-right: 5px;
    }

    &__reuse-share--title {
        margin-left: 20px;
    }

    &__reuse-share--googleplus {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainDarkRed;
        float: right;
    }

    &__reuse-share--facebook {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainLightBlue;
        float: left;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-share--selec {
        color: $mainLightGreen;
    }

    &__reuse-share--content-ans {
        font-size: .625rem;
        color: $mainLightBlue;
    }

    &__reuse-share--content-snts {
        font-size: .625rem;
        color: $mainDarkPaleBlue;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-share--mainclose {
        font-size: .75rem;
        color: rgba($mainDarkBlack, .6);
    }
    
    &__reuse-share--close {
        font-size: .625rem;
        color: $mainLightRed;
    }

    &__reuse-share--user-selec__user {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-share--reset {
        color: $mainLightRed;
        margin-right: 5px;
        font-size: .875rem;
        position: relative;
        top: 1px;
    }
    
    &__reuse-categ--angle {
        margin-left: 5px;
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-filter--angle {
        margin-left: 5px;
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-filter--calend {
        font-size: 1rem;
        color: rgba($mainDarkBlack, .6);
        cursor: pointer;
    }

    &__reuse-pt-filter--comment {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-pt-filter--view {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-pt-filter--fav {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-filter--categ {
        color: $mainFontColor;
        margin-right: 10px;
    }
  
    &__reuse-filter--apply {
        color: #fff;
        margin-right: 5px;
    }

    &__reuse-filter--cancel {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-filter--close {
        color: $mainLightRed;
    }
}