.icon__exam-cnt--cor {
    color: #16cf27;
    margin-right: 5px;
}

.icon__exam-cnt--err {
    color: #ff1600;
    margin-right: 5px;
}

.icon__exam-cnt--comment {
    color: #333;
    font-size: .875rem;
}


.exam-cnt__submit {
    position: absolute;
    top: 54px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.exam-cnt__submit--wrapper {
    position: relative;
    padding: 10px;
    background-color: #fff;
    min-width: 300px;
}

.exam-cnt__submit--score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.exam-cnt__submit--score__wrapper {
    font-size: 1.5625rem;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #437da3;
    overflow: hidden;
}

.exam-cnt__submit--score__wrapper--below {
    background-color: #ff1600;
}

.exam-cnt__submit--title {
    background-color: #f2f2f2;
    color: #333;
    margin: 20px 0 5px 0;
    padding: 2px;
    text-align: center;;
    border-radius: 5px;
    font-size: .875rem;
}

.exam-cnt__submit--share {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.exam-cnt__submit--share::after {
    content: ""; 
    clear: both; 
    display: table;
}

.exam-cnt__submit--share > li { 
    float: left;
    padding: 0;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
}

.exam-cnt__submit--share>li:first-child {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0, .45);
    border-radius: 5px;
    font-size: .875rem;
    float: left;
}

.exam-cnt__submit--share>li:last-child {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdbdc;
}

.exam-cnt__submit--close {
    background-color: #ff1600;
    color: #fff;
    font-size: .75rem;
    position: absolute;
    right: -8px;
    top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.exam-cnt__submit--share__correct {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.exam-cnt__submit--share__correct--wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
}

.exam-cnt__submit--share__correct--que {
    background-color: #fff; 
    box-shadow: 0 1px 5px 0px rgba(0,0,0, 0.45); 
    border-radius: 5px; 
    margin-bottom: 20px;;
    padding: 5px 10px;
}

.exam-cnt__submit--share__correct--que__opt {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .875rem;
}

.exam-cnt__submit--share__correct--que__opt > li {
    float: none;
    margin: 5px 0;
    padding: 0;
}

.exam-cnt__submit--que__wrapper {
    font-weight: 600;
}

.exam-cnt__submit--share__correct-close {
    top: -1px;
    right: -8px;
}
