<div class="reuse-view__nav--wrapper">
    <div class="reuse-view__nav--related">
        <div class="reuse-view__nav--related__header">
            <div class="reuse-view__nav--related__header--title">
                 Related Post
                 <div>24</div>
            </div>
        </div>
        <ul class="reuse-view__nav--related__options">
            <li><a href="">
                What's is your view about this stuffs
                What's is your view about this stuffs
                </a>
            </li>
            <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
             <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
             <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
        </ul>
        <button class="reuse-view__nav--related__view-btn">View all</button>
    </div>
    <div class="reuse-view__nav--online-que">
        <div class="reuse-view__nav--online-que__header">
            <i class="far fa-clock icon icon__reuse-view--nav__clock"></i>
            <span>Set Timed Question</span>
            <span class="reuse-view__nav--online-que__header--start">
                <a href="">start</a>
            </span>
        </div>
        <div class="reuse-view__nav--online-que__category">
            <div class="reuse-view__nav--online-que__category--title">Select Category
                <i class="fas fa-angle-down icon icon__reuse-view--nav__angle"></i>
                <ul class="reuse-view__nav--online-que__category--title__item">
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="reuse-view__nav--footer">
        <ul class="reuse-view__nav--footer__header">
            <li><i class="fas fa-users icon icon__reuse-view--nav__user"></i> Groups</li>
            <li><i class="fas fa-coffee icon icon__reuse-view--nav__coffee"></i> Timed Que</li>
        </ul>
        <div class="reuse-view__nav--footer--outlet">
            {{!-- <ul class="reuse-view__nav--footer__group">
                <li>
                    <ul>
                        <li>Mathematics</li>
                        <li>122K online</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>Programmers</li>
                        <li>122K online</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>Designers</li>
                        <li>122K online</li>
                    </ul>
                </li>
            </ul>
            <div class="reuse-view__nav--footer__group--view-more">view more</div> --}}
            <ul class="reuse-view__nav--footer__timedQue">
                <li>
                    <h3 class="reuse-view__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li>
                 <li>
                    <h3 class="reuse-view__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li> <li>
                    <h3 class="reuse-view__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li> <li>
                    <h3 class="reuse-view__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li>
                  <button class="reuse-view__nav--footer__timedQue--view-btn">view more</button>
            </ul>
        </div>
    </div>
</div>