.icon {
    
    &__reuse-form--angle {
        margin-left: 5px;
    }

    &__reuse-form--btn {
        margin-right: 5px;
    }

    &__reuse-form--cnt__user {
        color: $mainDarkBlue; 
        margin-right: 5px;
    }

    &__reuse-form--srch {
        color: #fff;
    }

    &__reuse-form--cnt__tag {
        margin-right: 5px;
        color: $mainLightRed;
        font-size: .8125rem;
    }
}