<div class="nav__chats">
    <div class="nav__chats--clicklistening">
    <div class="nav__chats--headerWrapper">
            <ul class="nav__chats--userStatus">
                <li class="nav__chats--userStatus__item"><i class="fas fa-users icon icon__nav--chats__usericon"></i><span class="nav__chats--userStatus__title">Users Status</span></li>
            </ul> 
            <ul class="nav__chats--headerIcon">
                <li class="disabled nav__chats--headerIcon__items nav__chats--headerIcon__firstitems"><i class="fas fa-location-arrow"></i></li>
                <li class="disabled nav__chats--headerIcon__items"><i class="far fa-edit"></i></li>
                <li class="disabled nav__chats--headerIcon__items"><i class="far fa-heart"></i></li>
                <li class="disabled nav__chats--headerIcon__items"><i class="far fa-trash-alt"></i> </li>
                <li class="nav__chats--headerIcon__inputitem"><div class="nav__chats--headerIcon__inputcalendar"><i class="far fa-calendar-alt"></i></div> <input type="text" class="nav__chats--headerIcon__input" placeholder="search chats"></li>
                <li class="nav__chats--headerIcon__search"><i class="fas fa-search"></i></li>
            </ul>
            
        </div> 

        <ul class="nav__chats--groupList">
            <li>Select Group</li>
            <li class="nav__chats--groupList__item">
                Poeters group Poeters <i class="fas fa-angle-down icon icon__nav--chats__grouplist--angledown"></i>
                <ul class="nav__chats--groupList__options">
                    <li>Programmers</li>
                    <li>Poet writers</li>
                    <li>Designers</li>
                </ul>
            </li>
        </ul>
        <div class="nav__chats--wrapper">
            <div class="nav__chats--holder">
                 <div class="nav__chats--holder__overlay">
                 </div>
                 <div class="nav__chats--topspace"></div>
                <div class="nav__chats--currentday">
                    <i class="far fa-clock icon icon__nav--chats__chatIcon"></i>   Today
                </div>
                <div class="nav__chats--firstChatBox">
                    <div class="nav__chats--firstChatBox__wrapper">
                        <p class="nav__chats--firstChatBox__content">
                            Am i speeking with the guy n red today?
                            immediate response pls....
                        </p>
                        <div class="nav__chats--firstChatBox__footer">
                            <div class="nav__chats--firstChatBox__footer--details">
                                <div class="nav__chats--firstChatBox__footer--details__middle"></div>
                            </div>
                            <div class="nav__chats--firstChatBox__footer--user">
                                <div class="nav__chats--firstChatBox__footer--user__title">
                                User User
                                </div>
                                <div class="nav__chats--firstChatBox__footer--user__img">
                                    <img src="/" alt="">
                                </div>
                            </div>
                        </div>
                        <ul class="nav__chats--firstChatBox__postDetails">
                            <li>11:12 PM</li>
                            <li>3m ago</li>
                        </ul>
                    </div>
                </div>
                <div class="nav__chats--secondChatBox">
                    <div class="nav__chats--secondChatBox__wrapper">
                        <p class="nav__chats--secondChatBox__content">
                            Am i speeking with the guy n red today?
                            immediate response pls....
                        </p>
                        <div class="nav__chats--secondChatBox__footer">
                            <div class="nav__chats--secondChatBox__footer--user">
                                <div class="nav__chats--secondChatBox__footer--user__title">
                                User User
                                </div>
                                <div class="nav__chats--secondChatBox__footer--user__img">
                                    <img src="/" alt="">
                                </div>
                            </div>
                            <div class="nav__chats--secondChatBox__footer--details">
                                <div class="nav__chats--secondChatBox__footer--details__middle"></div>
                            </div>
                        </div>
                        <ul class="nav__chats--secondChatBox__postDetails">
                            <li>11:12 PM</li>
                            <li>3m ago</li>
                        </ul>
                    </div>
                </div>

                <div class="nav__chats--bottomspace"></div>
            </div>
        </div>
    </div>

    <div class="nav__chats--inputWrapper">
        <div class="nav__chats--micWrapper">
            <div class="nav__chats--mic">
                <i class="fas fa-microphone icon icon__nav--chats__micIcon"></i>
            </div>
        </div>
        <textarea placeholder="Type something here" class="nav__chats--input"></textarea> 
        <div class="nav__chats--clip">
            <span class="nav__chats--clip__wrapper">
                <i class="fas fa-paperclip icon icon__nav--chats__clipIcon"></i>
            </span>
        </div>
        <div class="nav__chats--smile">
            <i class="far fa-smile icon icon__nav--chats__smileIcon"></i>
        </div>
    </div>
    <div class="nav__chats--attachWrapper">
        <div class="nav__chats--attachContent">
            <ul class="nav__chats--attach">
                <li>
                    <div class="nav__chats--attach__iconHolder nav__chats--attach__camicon">
                        <i class="fas fa-camera icon icon__nav--chats__chaticon"></i>
                    </div>
                    <p class="nav__chats--attach__title">Camera</p>
                </li>
                <li>
                    <div class="nav__chats--attach__iconHolder nav__chats--attach__videoicon">
                        <i class="fas fa-video icon icon__nav--chats__chaticon"></i>
                    </div>    
                     <p class="nav__chats--attach__title">Video recorder</p>
                </li>
                <li>
                    <div class="nav__chats--attach__iconHolder nav__chats--attach__imageicon">
                        <i class="fas fa-images icon icon__nav--chats__chatimageicon"></i>
                    </div> 
                     <p class="nav__chats--attach__title">Picture picker</p>     
                </li>
            </ul>
            <ul class="nav__chats--attach nav__chats--secondattach">
                <li>
                    <div class="nav__chats--attach__iconHolder nav__chats--attach__locationicon">
                    <i class="fas fa-map-marker-alt icon icon__nav--chats__chatlocationicon"></i>
                    </div> 
                     <p class="nav__chats--attach__title">Share location</p>
                </li>
                <li>
                    <div class="nav__chats--attach__iconHolder nav__chats--attach__fileicon">
                        <i class="fas fa-file icon icon__nav--chats__chaticon"></i>
                    </div>
                     <p class="nav__chats--attach__title">Documents</p>
                </li>
                <li>
                    <div class="nav__chats--attach__iconHolder nav__chats--attach__audioicon">
                        <i class="fas fa-headphones icon icon__nav--chats__chaticon"></i>
                    </div>
                     <p class="nav__chats--attach__title">Audio picker</p>
                </li>
            </ul> 
        </div>
    </div>

    <div class="chats__logs">
        <div class="chats__logs--mainclose">
            <i class="fas fa-times icon icon__chats--log__maincloseIcon"></i>
        </div>
        <ul class="chats__logs--header">
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOnline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOffline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li>
                <p class="chats__logs--header__title">Chats Logs</p>
            </li>
            <li>
                <input type="text" class="chats__logs--header__searchChat--input" placeholder="Search User">
                <div class="chats__logs--header__notifyHolder chats__logs--header__searchChat--searchIcon">
                    <i class="fas fa-search icon icon__site-main__nav--chatLog__searchIcon"></i>
                </div>
            </li>
        </ul>

        <div class="chats__logs--mainOutlet">
            <div class="chats__logs--userOnline">
                <ul class="chats__logs--userOnline__header">
                    <li></li>
                    <li> Online</li>
                    <li>Offline</li>
                </ul>
                <div class="chats__logs--userstatus__outlet">
                    <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div>

                    {{!-- <div class="chats__logs--userOffline__wrapper">
                        <div class="chats__logs--userOffline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOffline__view--userDetails">
                                <i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i>
                            </div>
                            <div class="chats__logs--userOffline__img--holder">
                                <img src="/" alt="">
                            </div>
                        </div>
                        <ul class="chats__logs--userOffline__details">
                            <li> 
                                <p class="chats__logs--userOffline__details--title">The user userThe user user The user user</p>
                                <div class="chats__logs--userOffline__details--statusIcon chats__logs--userOffline__details--statusColor"></div>
                                <p class="chats__logs--userOffline__details--userStatus"> offline</p>
                                <p class="chats__logs--userOffline__details--timeLeft"> 12hrs ago 12hrs ago 12hrs ago </p>
                            </li>
                            <li>
                                <p class="chats__logs--userOffline__details--lastMessage">Pls do you know the response Pls do you know the response</p>
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> --}}

                </div>
            </div>

            
        </div>

        <div class="chats__logs--share">
            <div class="chats__logs--share__userselected">
                <p class="chats__logs--share__userselected--title"><i class="fas fa-users"></i>  Users Selected </p>
                <div class="chats__logs--share__userselected--totalwrapper">
                    <div class="chats__logs--share__userselected--total">
                       <span class="chats__logs--share__userselected--total__content">
                           20
                       </span>
                    </div>
                </div>
            </div>
            <ul class="chats__logs--share__options">
                <li>
                    <div class="chats__logs--share__options--firstitem">
                        <i class="fas fa-location-arrow icon icon__chats--logs__share--options__Icons"></i>Share
                    </div>
                </li>
                <li>
                    <div class="chats__logs--share__options--seconditem">
                        <i class="fas fa-eye icon icon__chats--logs__share--options__lastIcons"></i>View
                    </div>
                </li>
            </ul>
        </div>
    </div>

    
</div> 