<div class="viewall__content">
    <p class="viewall__content--title">
        What is your view about this stuff
    </p> 
    <ul class="viewall__content--details">
        <li><span class="viewall__content--details__title">Asked </span><i class="fas fa-clock icon icon__viewall--content__clockIcon"></i> <span class="viewall__content--details__time">11:45pm today</span></li>
        <li> 
            <div class="viewall__content--details__soln">
                <p class="viewall__content--details__soln--title">Answers Added</p>   
                <div class="viewall__content--details__solnAdded">
                    <span class="viewall__content--details__solnAdded--num">2</span>
                </div>
            </div> 
        </li>
        <li>
            <i class="fas fa-eye icon icon__viewall--content__viewerIcon"></i> viewers <span class="viewall__content--details__viewer">222</span>
        </li>
    </ul>
    <p class="viewall__content--view">
        the view about stuffs is always very important and this is the reason while this
        post was writen, do you know that the secret is somewhere within this content and 
        that is while it is very important to know the reason while the title is given such
        name, ok well i can discuss it later ,.
    </p>
    <ul class="viewall__content--userdetails">
        <li><p class="viewall__content--userdetails__edit"><i class="fas fa-edit icon icon__view--content__editicon"></i> Edit <span class="viewall__content--userdetails__edit--time">2m ago</span></p></li>
        <li>
            {{!-- <p>Asked by </p> --}}
            <div class="viewall__content--userdetails__imgwrapper">
                <div class="viewall__content--userdetails__img">
                    <img src="/" alt="">
                </div>
            </div>
            <ul class="viewall__content--userdetails__status">
                <li class="viewall__content--userdetails__status--title"><a href="">User user</a></li>
                <li class="viewall__content--userdetails__status--details">online</li>
                 {{!-- <li class="viewall__content--userdetails__status--details__offline">offline 2m ago</li> --}}
            </ul>
        </li>
    </ul>
    <ul class="viewall__content--footer">
        <li>
            <div class="viewall__content--footer__share">
                <div class="viewall__content--footer__share--shareIcon"><i class="fas fa-location-arrow icon icon__viewall--content__shareIcon"></i></div> share <span class="viewall__content--details__heartIcon"></i>
            </div>
            <div class="viewall__content--footer__favorite">
                <span class="viewall__content--footer__favoriteIcon"><i class="far fa-heart icon icon__viewall--content__favIcon"></i></span> favorities <span class="viewall__content--details__heartIcon"></i>
            </div>
        </li>
        <li class="viewall__content--footer__item"><i class="fas fa-pencil-alt icon icon__viewall--content__pencilIcon"></i> Add solution</li>
        <li>
            <div class="viewall__content--footer__loadmorewrapper">
                <i class="fas fa-circle viewall__content--footer__firstloadmore icon icon__viewall--content__circleIcon"></i>
                <i class="fas fa-circle viewall__content--footer__secondloadmore icon icon__viewall--content__circleIcon"></i>
                <i class="fas fa-circle viewall__content--footer__lastloadmore icon icon__viewall--content__circleIcon"></i>
            </div>
        </li>
    </ul>
</div>