<div class="viewall__content">
    <p class="viewall__content--title">
        What is your view about this stuff
    </p> 
    <ul class="viewall__content--details">
        <li><span class="viewall__content--details__title">Asked </span><i class="fas fa-clock icon icon__viewall--content__clockIcon"></i> <span class="viewall__content--details__time">11:45pm today</span></li>
        <li> 
            <div class="viewall__content--details__soln">
                <p class="viewall__content--details__soln--title">Answers Added</p>   
                <div class="viewall__content--details__solnAdded">
                    <span class="viewall__content--details__solnAdded--num">2</span>
                </div>
            </div> 
        </li>
        <li>
            <i class="fas fa-eye icon icon__viewall--content__viewerIcon"></i> viewers <span class="viewall__content--details__viewer">222</span>
        </li>
    </ul>
    <p class="viewall__content--view">
        the view about stuffs is always very important and this is the reason while this
        post was writen, do you know that the secret is somewhere within this content and 
        that is while it is very important to know the reason while the title is given such
        name, ok well i can discuss it later ,.
    </p>
    <ul class="viewall__content--userdetails">
        <li><p class="viewall__content--userdetails__edit"><i class="fas fa-edit icon icon__view--content__editicon"></i> Edit <span class="viewall__content--userdetails__edit--time">2m ago</span></p></li>
        <li>
            {{!-- <p>Asked by </p> --}}
            <div class="viewall__content--userdetails__imgwrapper">
                <div class="viewall__content--userdetails__img">
                    <img src="/" alt="">
                </div>
            </div>
            <ul class="viewall__content--userdetails__status">
                <li class="viewall__content--userdetails__status--title"><a href="">User user</a></li>
                <li class="viewall__content--userdetails__status--details">online</li>
                 {{!-- <li class="viewall__content--userdetails__status--details__offline">offline 2m ago</li> --}}
            </ul>
        </li>
    </ul>
    <ul class="viewall__content--footer">
        <li>
            <div class="viewall__content--footer__share">
                <div class="viewall__content--footer__share--shareIcon"><i class="fas fa-location-arrow icon icon__viewall--content__shareIcon"></i></div> share 
            </div>
            <div class="viewall__content--footer__favorite">
                <span class="viewall__content--footer__favoriteIcon"><i class="far fa-heart icon icon__viewall--content__favIcon"></i></span> favorities
            </div>
        </li>
        <li class="viewall__content--footer__item"><i class="fas fa-pencil-alt icon icon__viewall--content__pencilIcon"></i> Add solution</li>
        <li>
            <div class="viewall__content--footer__loadmorewrapper">
                <i class="fas fa-circle viewall__content--footer__firstloadmore icon icon__viewall--content__circleIcon"></i>
                <i class="fas fa-circle viewall__content--footer__secondloadmore icon icon__viewall--content__circleIcon"></i>
                <i class="fas fa-circle viewall__content--footer__lastloadmore icon icon__viewall--content__circleIcon"></i>
            </div>
        </li>
    </ul>
</div>

<div class="viewall__comments">
    <div class="viewall__comments--header">
        <p class="viewall__comments--header__ans">25 Answers Added <a href="" class="viewall__comments--header__askQue">Ask Question</a></p>
    </div>

    <div class="viewall__comments--box">
        <ul class="viewall__comments--box__header">
           <li>
                <div class="viewall__comments--box__header--img">
                    <img src="" alt="">
                </div>
                <ul class="viewall__comments--box__header--userdetails">
                    <li><span class="viewall__comments--box__header--userdetails__title">User user</span></li>
                    <li>online <span class="viewall__comments--box__header--userdetails__lastItem">2m ago</span></li>
                     {{!-- <li class="viewall__comments--box__header--userdetails__offline">offline <span class="viewall__comments--box__header--userdetails__lastItem">2m ago</span></li> --}}
                </ul>
           </li>
           <li class="viewall__comments--box__header--soln">Answer Added  <span class="viewall__comments--box__header--soln__time">2 years ago</span></li>
        </ul>
        <p class="viewall__comments--box__content">
            the solution to the question is not that difficult, when i tried to check the question
            i saw the answer immediately so very very simple question, the answer is ...
            <span class="viewall__comments--box__content--chats"><i class="fas fa-comments icon icon__viewall--comments__commentIcon"></i> <span class="viewall__comments--box__content--chats__title">chats</span></span>
        </p>
        <ul class="viewall__comments--box__footer">
            <li>
                <ul>
                    <li><i class="fas fa-location-arrow icon icon__viewall--comments__box-arrowIcon"></i></li>
                    <li><i class="far fa-heart"></i></li>
                    <li><i class="fas fa-reply"></i></li>
                </ul>
            </li>
            <li class="viewall__comments--box__footer--middleitem">
                <ul>
                    <li><i class="far fa-thumbs-up icon icon__viewall--comments__box-thumbIcon"></i></li>
                    <li>24</li>
                </ul>
            </li>
            <li class="viewall__comments--box__footer--lastItem">
                <div class="viewall__comments--box__footer--loadmorewrapper">
                    <i class="fas fa-circle  icon icon__viewall--comments__box--footer__circleIcon"></i>
                    <i class="fas fa-circle  icon icon__viewall--comments__box--footer__circleIcon"></i>
                    <i class="fas fa-circle  icon icon__viewall--comments__box--footer__circleIcon"></i>
                </div>
                <ul class="viewall__comments--box__footer--lastItem__options">
                    {{!-- <li class="viewall__comments--box__footer--lastItem__options--view"><i class="far fa-eye icon icon__viewall--comments__box--footer__eyeicon"></i> View Profile</li>
                    <li class="viewall__comments--box__footer--lastItem__options--teacher"><i class="fas fa-chalkboard-teacher icon icon__viewall--comments__box--footer__icon"></i> Add as teacher</li> --}}
                    <li class="viewall__comments--box__footer--lastItem__options--edit"><i class="fas fa-edit icon icon__viewall--comments__box--footer__icon"></i> Edit Answer</li>
                    <li class="viewall__comments--box__footer--lastItem__options--delete"><i class="fas fa-trash-alt icon icon__viewall--comments__box--footer__icon"></i> Delete Answer</li> 
                </ul>
            </li>
        </ul>

    </div>

    <div class="viewall__comments--box__replywrapper">
        <div class="viewall__comments--box viewall__comments--box__reply">
            <div class="viewall__comments--box__reply--header">
               <span class="viewall__comments--box__reply--header__content">
                    <i class="fas fa-angle-double-down icon icon__viewall__comments--box__reply--headericon"></i>
                        reply
                    <i class="fas fa-angle-double-down icon icon__viewall__comments--box__reply--headericon"></i>
               </span>
            </div>
            <ul class="viewall__comments--box__header">
                <li>
                    <div class="viewall__comments--box__header--img">
                        <img src="" alt="">
                    </div>
                    <ul class="viewall__comments--box__header--userdetails">
                        <li><span class="viewall__comments--box__header--userdetails__title">User user</span></li>
                        <li>online <span class="viewall__comments--box__header--userdetails__lastItem">2m ago</span></li>
                        {{!-- <li class="viewall__comments--box__header--userdetails__offline">offline <span class="viewall__comments--box__header--userdetails__lastItem">2m ago</span></li> --}}
                    </ul>
                </li>
                <li class="viewall__comments--box__header--soln">Reply Added  <span class="viewall__comments--box__header--soln__time">2 years ago</span></li>
            </ul>
            <p class="viewall__comments--box__content">
                the solution to the question is not that difficult, when i tried to check the question
                i saw the answer immediately so very very simple question, the answer is ...
                <span class="viewall__comments--box__content--chats"><i class="fas fa-comments icon icon__viewall--comments__commentIcon"></i> <span class="viewall__comments--box__content--chats__title">chats</span></span>
            </p>
            <ul class="viewall__comments--box__footer">
                <li>
                    <ul>
                        <li><i class="fas fa-location-arrow icon icon__viewall--comments__box-arrowIcon"></i></li>
                        <li><i class="far fa-heart"></i></li>
                        <li><i class="fas fa-reply"></i></li>
                    </ul>
                </li>
                <li class="viewall__comments--box__footer--middleitem">
                    <ul>
                        <li><i class="far fa-thumbs-up icon icon__viewall--comments__box-thumbIcon"></i></li>
                        <li>24</li>
                    </ul>
                </li>
                <li class="viewall__comments--box__footer--lastItem">
                    <div class="viewall__comments--box__footer--loadmorewrapper">
                        <i class="fas fa-circle  icon icon__viewall--comments__box--footer__circleIcon"></i>
                        <i class="fas fa-circle  icon icon__viewall--comments__box--footer__circleIcon"></i>
                        <i class="fas fa-circle  icon icon__viewall--comments__box--footer__circleIcon"></i>
                    </div>
                    <ul class="viewall__comments--box__footer--lastItem__options viewall__comments--box__footer--lastItem__options--reply">
                        {{!-- <li class="viewall__comments--box__footer--lastItem__options--view"><i class="far fa-eye icon icon__viewall--comments__box--footer__eyeicon"></i> View Profile</li>
                        <li class="viewall__comments--box__footer--lastItem__options--teacher"><i class="fas fa-chalkboard-teacher icon icon__viewall--comments__box--footer__icon"></i> Add as teacher</li> --}}
                        <li class="viewall__comments--box__footer--lastItem__options--edit"><i class="fas fa-edit icon icon__viewall--comments__box--footer__icon"></i> Edit Answer</li>
                        <li class="viewall__comments--box__footer--lastItem__options--delete"><i class="fas fa-trash-alt icon icon__viewall--comments__box--footer__icon"></i> Delete Answer</li> 
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>
</div>
    <div class="viewall__tips">
        <h3 class="viewall__tips--title">
            Tips
        </h3>
        <h4 class="viewall__tips--subtitle">Not satisfied with the solution</h4>
        <ul>
            <li>Check <span>chats</span> for related question and answers or chat to ask question inside the chats</li>
            <li>For Items released by the teacher, click the teacher image or name for options</li>
        </ul>
        <p class="viewall__tips--note"><span> Notes</span> No direct chats </p>
        <p class="viewall__tips--note__details">All question should be asked by clicking <span><i class="fas fa-reply"></i> reply </span> or <span><i class="fas fa-comments"></i> chats</span> </p>
    </div>

<div class="viewall__form">
    <p class="viewall__form--header"><i class="fas fa-pen-square icon icon__viewall--form__header--penIcon"></i> Add Answer</p>
    <form action="" class="viewall__form--field">
        <textarea class="viewall__form--field__textarea" name="editor"></textarea>
        <button type="button"><i class="fas fa-plus-circle icon icon__viewall--form__field--addIcon"></i>   Submit</button>
    </form>
</div>