<div class="viewall__nav--wrapper">
    <div class="viewall__nav--related">
        <div class="viewall__nav--related__header">
            <p class="viewall__nav--related__header--title"> Related Questions </p>
            <div class="viewall__nav--related__header--foundWrapper">
                <div class="viewall__nav--related__header--found">
                    22
                </div>
            </div>
        </div>
        <ul class="viewall__nav--related__options">
            <li><a href="">
                What's is your view about this stuffs
                What's is your view about this stuffs
                </a>
            </li>
            <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
             <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
             <li><a href="">What do you understand by the word</a></li>
            <li><a href="">what is the meaning of stuff itself</a></li>
        </ul>
        <button class="viewall__nav--related__viewbtn">View all</button>
    </div>
    <div class="viewall__nav--timedQues">
        <div class="viewall__nav--timedQues__header">
            <i class="far fa-clock icon icon__viewall--nav__clock"></i>
            <span>Set Timed Question</span>
            <span class="viewall__nav--timedQues__header--startQues">
                <a href="">start</a>
            </span>
        </div>
        <div class="viewall__nav--timedQues__category">
            <div class="viewall__nav--timedQues__category--title">Select Category 
                <span class="viewall__nav--timedQues__category--title__toggleIcon"><i class="fas fa-angle-down icon icon__viewall--nav__angleDown"></i></span>
                <ul class="viewall__nav--timedQues__category--title__item">
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                    <li>Mathematics</li>
                    <li>Social</li>
                    <li>Prose</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="viewall__nav--footer">
        <ul class="viewall__nav--footer__header">
            <li><i class="fas fa-users icon icon__viewall--nav__userIcon"></i> Groups</li>
            <li><i class="fas fa-coffee icon icon__viewall--nav__coffeeIcon"></i> Timed Que</li>
        </ul>
        <div class="viewall__nav--footer--outlet">
            {{!-- <ul class="viewall__nav--footer__group">
                <li>
                    <ul>
                        <li>Mathematics</li>
                        <li><i class="fas fa-users  icon icon__viewall--nav__groupIcon"></i> 122K online</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>Programmers</li>
                        <li><i class="fas fa-users icon icon__viewall--nav__groupIcon"></i> 198K online</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>Designers</li>
                        <li><i class="fas fa-users icon icon__viewall--nav__groupIcon"></i> 987K online</li>
                    </ul>
                </li>
            </ul>
            <div class="viewall__nav--footer__group--viewmore">view more</div> --}}
            <ul class="viewall__nav--footer__timedQue">
                <li>
                    <h3 class="viewall__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li>
                 <li>
                    <h3 class="viewall__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li> <li>
                    <h3 class="viewall__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li> <li>
                    <h3 class="viewall__nav--footer__timedQue--title"><a href="">The maths question</a></h3>
                    <ul>
                        <li><i class="far fa-comment-dots icon icon__viewall--nav__footer--timedIcon"></i> 222k</li>
                        <li><i class="fas fa-pencil-alt icon icon__viewall--nav__footer--timedIcon"></i> 555k</li>
                    </ul>
                </li>
                  <button class="viewall__nav--footer__timedQue--viewbtn">view more</button>
            </ul>
        </div>
    </div>
</div>