<div class="reuse-view__comments--box__reply">
    <div class="reuse-view__comments--box__reply--mainClose">
        <i class="fas fa-times icon icon__viewall--box__reply--mainclose"></i>
    </div>
    <ul class="reuse-view__comments--box__reply--header">
        <li><div class="reuse-view__comments--box__reply--header__iconholder"><i class="fas fa-image icon icon__viewall--box__reply--headericon"></i></div></li>
        <li><div class="reuse-view__comments--box__reply--header__iconholder"><i class="fas fa-camera icon icon__viewall--box__reply--headericon"></i></div></li>
        <li><div class="reuse-view__comments--box__reply--header__iconholder"><i class="fas fa-microphone icon icon__viewall--box__reply--headermicicon"></i></div></li>
        <li><div class="reuse-view__comments--box__reply--header__iconholder"><i class="fas fa-file icon icon__viewall--box__reply--headericon"></i></div></li>
    </ul>
    <div class="reuse-view__comments--box__reply--content">
        <textarea class="reuse-view__comments--box__reply--content__input" name="" placeholder="Type something here"></textarea>
    </div>
    <div class="reuse-view__comments--box__reply--footer">
        <a href=""><i class="fas fa-reply icon icon__viewall--box__reply--replyIcon"></i>Reply</a>
    </div>
</div>