<div class="reuse-view">
    <div class="wrapper__reuse-view">
        <div class="reuse-view__wrapper">
            {{> content}}
        </div>
        <div class="reuse-view__nav">
            <div class="reuse-view__nav--header">
                <i class="fas fa-exchange-alt icon icon__viewall--exchange__alt"></i>
            </div>
            {{> nav}}
            {{!-- {{> chat}} --}}
        </div>
    </div>
</div>