<div class="viewuser">
            <div class="viewuser__overlay"></div>
            <ul class="viewuser__wrapper">
                <div class="viewuser--mainclose"><i class="fas fa-times icon icon__viewuser--mainclose"></i></div>
                <li class="viewuser--comment"><i class="fas fa-comments"></i> Chat Now</li>
                <li class="viewuser--students">
                    <ul>
                        <li><i class="fas fa-user-graduate icon icon__viewuser--studIcon"></i> Students</li>
                        {{!-- <li><i class="fas fa-users icon icon__viewuser--studIcon"></i>Friends</li> --}}
                        <li><span><a href="">222k</a></span></li>
                    </ul>
                </li>
                <li class="viewuser--items">
                    <ul>
                        <li><i class="fas fa-store icon icon__viewuser--storeIcon"></i> Items</li>
                        <li><span><a href="">222k</a></span></li>
                    </ul>
                </li>
                <li class="viewuser--viewmore">View more</li>
            </ul>
        </div>