.chats__logs {
    /* background-color: #2d6589; */
    /* background-color: #4582a9; */
    /* background-color: #4f88ad; */
    background-color: #4186AD;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 1;
    left: 0;
    /* left: -398px; */
    bottom: 0;
    right: 0;
    /* z-index: 1;
    padding-top: 62px;
    width: 398px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in; */

    &--shad {
        position: absolute;
        width: 1px;
        top: 0;
        right: -1px;
        bottom: 0;
        z-index: 1;
        background-color: transparent;
        box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
        -o-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
        -webkit-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
        -moz-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
        -ms-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
    }

    &--mainclose {
        position: absolute;
        top: 70px;
        right: 10px; 
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 9px;
        text-align: center;
        font-size: .8125rem;
        cursor: pointer;
        display: block;

        @mixin atLarge {
            display: none;
        }
    }

    &--header {
        list-style: none;
        margin: 25px 0 0 0;
        padding: 0 0 15px 0;
        width: 100%;
        border-bottom: 1px solid rgba(#fff, .3);
        @mixin clearfix;

        li {
            float: left;
            font-size: .875rem;
            margin: 0 10px; 

            &:first-child {
                margin-right: 10px 
            }
            
            &:last-child {
                margin: 0 41.3px 0 20px !important;
                cursor: pointer;
                position: relative;
            }
        }

        &__notifyHolder {
            width: 28px;
            height: 28px;
            border-radius: 14px;
            color: #fff;
            text-align: center;
            position: relative;

            &--content {
                position: absolute;
                top: 22%;
                transform: translateY(-22%);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__notifyOnline {
            background-color: $mainLightGreen;
            border: .5px solid rgba($mainLightGreen, .5);
        }

        &__notifyOffline {
            background-color: $mainLightRed;
            border: .5px solid rgba(#fff, .5);
        }

        &__title {
            padding: 0;
            margin: 0;
            position: relative;
            top: 7px;
            color: #fff;
            left: 6px;
            font-weight: 400;
        }

        &__searchChat {
            position: relative;

            &--input {
                width: 130px;
                border: 1px solid $mainDarkGray;
                outline: none;
                padding: 6px 30px 6px 12px;
                border-radius: 12px;
                box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -o-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -ms-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -webkit-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -moz-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                border-top-right-radius: 13.5px;
                border-bottom-right-radius: 13.5px;
                font-size: .8125rem;
            }

            &--searchIcon {
                background-color: rgba($mainDarkBlue, .7);
                font-size: .875rem;
                position: absolute;
                top: 0px;
                /* right: 40.6px; */
                right: -1px;
                /* border: 1px solid $mainDarkBlue; */
            }
        }

    }

    &--mainOutlet {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &--userOnline, &--userOffline {
       width: 100%;
        border-top: none;
        margin: 0;
        padding: 0;
        /* background-color: rgba($mainMediumLightBlack, .2); */
        /* border: 1px solid rgba(255, 255, 255, .45); */
        position: relative;

        &__header {
            list-style: none;
            margin: 0;
            padding: 0;
            @mixin clearfix;
            background-color: rgba($mainMediumLightBlack, .2);
            font-size: .875rem;
            border-left: 1px solid rgba(255, 255, 255, .45);
            border-right: 1px solid rgba(255, 255, 255, .45);
            width: 100%;

            li {
                float: left;
                width: 50%;
                font-weight: 300;
                color: #fff;
                text-align: center;
                margin: 0;
                padding: 5px 0;
                cursor: pointer;

                &:first-child {
                    float: none;
                    width: 100%;
                    padding: 1.5px;
                    background-color: #fff;
                    position: relative;
                    top: 0px;
                    box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -o-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -ms-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -webkit-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -moz-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    cursor: default;
                }

                &:last-child {
                    background-color: #fff;
                    color: $mainDarkBlue;
                    font-weight: 400;
                }
            }

            &--online {
                position: relative;

                &__leftspace {
                    background-color: $mainLightGreen;
                    padding: 2px 10px;
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &__rightspace {
                    background-color: $mainLightGreen;
                    padding: 2px 10px;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &__bottomspace {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    /* border: 1px solid rgba(255, 255, 255, .45); */
                    border-right: none;
                    border-left: none;
                    padding: .5px;
                    background-color: rgba(255, 255, 255, .45);
                }

                &__title {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }

        &__outlet {
            background-color: rgba($mainMediumLightBlack, .2);
            border: 1px solid rgba(255, 255, 255, .45);
            border-top: none;
        }

        &__wrapper {
            @mixin clearfix;
            padding: 10px 10px;
            border-bottom: 1px solid rgba(255, 255, 255, .45);
            position: relative;

            &:last-child {
                border: none;
            }
        }

        &__img {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: #fff;
            cursor: pointer;
            position: absolute;

            &--holder {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                cursor: pointer;
                overflow: hidden;
            }
        }

        &__view {
            &--userDetails {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($mainDarkBlack, .5);
                border-radius: 25px;
                border: .5px solid rgba($mainDarkBlack, .1);
                opacity: 0;
                transform: scale(.1);
                z-index: -1;
                transition: all .3s ease-in;

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                    transform: scale(1);
                    transition: all .3s ease-in;
                }
            }
        }

        &__details {
            float: left;
            margin: 0;
            padding: 0 0px 0 60px;
            list-style: none;
            position: relative;
            top: 5px;
            

            li {
                float: none;
                font-size: .875rem;

                &:first-child {
                    @mixin clearfix;
                }
            }

            &--title {
                float: left;
                margin: 0;
                padding: 0;
                color: #fff;
                font-weight: 300;
                font-size: .8125rem;
                max-width: 105px;
                white-space: nowrap;
                overflow: hidden;
            }


            &--timeLeft {
                float: right;
                margin: 0 0 0 10px;
                padding: 0;
                color: #fff;
                font-size: .8125rem;
                font-style: italic;
                max-width: 60px;
                overflow: hidden;
                white-space: nowrap;
            }   
            
            &--lastMessage {
                padding: 0;
                margin: 10px 0 0 0;
                color: #fff;
                font-weight: 400;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all !important;

                @mixin atSmall {
                    max-width: 263px;
                }
            }

            @mixin atSmall {
                padding: 0 0 0 20px;
            }
        }

    }

    &--userOnline {
        &__details { 
            &--userStatus {
                float: left;
                margin:  0 ;
                padding: 0;
                color: #fff;
                font-size: .8125rem;
            }  

            &--statusIcon {
                float: left;
                height: 8px;
                width: 8px;
                border-radius: 4px;
                background-color: $mainLightGreen;
                margin: 0  10px 0 105px;
                position: relative;
                top: 3px;
                font-weight: 300;
            }

            &--userTyping {
                color: #fff;
                font-size: .8125rem;
                padding: 3px 0;
                margin: 7px 0 3px 0;
                background-color: $mainLightBlue;
                width: 100px;
                border-radius: 20px;
                text-align: center;
            }
        }
    }

    &--userOffline {
        &__details { 
            &--userStatus {
                float: left;
                margin:  0 0 0 0px !important;
                padding: 0 !important;
                color: #fff;
                font-size: .8125rem;
            }
            
            &--statusIcon {
                float: left;
                height: 6px;
                width: 6px;
                border-radius: 3px;
                background-color: $mainLightRed;
                margin: 0  10px 0 40px;
                position: relative;
                top: 3px;
                font-weight: 300;
            }
        }
    }

    &--footer {
        padding: .5px 0;
        background-color: rgba(255, 255, 255, .45);
        position: relative;
        top: -40px;
    }

    &--visible {
        display: flex;
        flex-direction: column;
        left: 0;
        opacity: 1;
        visibility:visible;
        z-index: 1;
        width: 398px;
        transition: all .3s ease-in;
    }

    @mixin atExtraSmall {
        width: 100%;
    }

    @mixin atSmall {
        width: 398px;
    }

    @mixin atLarge {
        display: flex;
        flex-direction: column;
        left: 0;
        opacity: 1;
        visibility:visible;
        z-index: 1;
        transition: all .3s ease-in;
    }

}