.icon {

    &--rotate {
        svg {
            transform: rotate(180deg);
            transition: all .3s ease-out;
        }
    }
    &__site-header--search {
        font-size: .875rem;
        color: $mainLightBlack;

        &:hover {
            color: $mainPaleBlue;
        }
    }

    &__site-header--favorites {
        color: $mainLightRed;
    }

    &__site-header--shares {
        color: $mainLightBlue;
    }

    &__site-header--bell {
        color: $mainLightBlack;
    }
    
    &__site-header--list {
        color: $mainLightBlack;
    }

    &__site-header--add-new {
       margin-left: 5px;
    }

    &__site-header--nav__itm {
        margin-right: 5px;
        color: $mainLightBlack;
    }

    &__site-header--nav__angle {
        margin-left: 5px;
        color: $mainLightBlack;
    }

    &__site-header--notify__set {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-trd--fav {
        margin-right: 5px;
        color: $mainLightRed; 
        cursor: pointer; 
    }

    &__reuse-trd--comment, &__reuse-trd--smile {
        margin-right: 5px;
        color: $mainDarkBlue;
    }

    &__reuse-trd--users {
        color: $mainDarkPaleBlue;
    }

    &__reuse-trd--user-frnd {
        color: rgba($mainDarkBlack, .55);
    }

    &__reuse-trd--view, &__reuse-trd--pwt-comment {
        margin-right: 5px;
        color: $mainDarkBlack; 
    }

    &__reuse-trd--categ {
        margin-right: 5px;
        color: rgba($mainDarkBlack, .45);
        font-size: .75rem; 
    }

    &__reuse-trd--add {
        font-size: .75rem; 
        margin-right: 5px;
    }

    &__reuse-trd--tag {
        font-size: .625rem; 
        margin-right: 5px;
    }

    &__site-header--sm-form__close {
        color: $mainLightRed;
        font-size: .75rem; 
    }

    &__site-header--no-acc {
        margin-right: 5px;
    }


    &__site-main--chat__header--user {
        font-size: .75rem;
        color: $mainLightGray;
    }

    &__site-main--chat__header--calend {
        margin-right: 10px;
        color: $mainDarkGray;
    }

    &__site-main--chat__header--opt {
        color: #fff;
        font-size: .875rem;
    }

    &__site-main--chat__header--opt__fav {
        color: $mainLightRed; 
    }

    &__site-main--chat__header--angle {
        margin-left: 5px;
    }

    &__site-main--chat__footer--mic {
        color: $mainDarkPaleBlue;
    }

    &__site-main--chat__footer--camera {
        color: #fff;
    }

    &__site-main--chat__footer--clip {
        color: #fff;
    }

    &__site-main--chat__footer--input__smile {
        color: $mainDarkPaleBlue;
    }

    &__site-main--chat__footer--input__clip {
        color: $mainLightRed;
    }

    &__site-main--chat__footer--input__share {
        color: $mainDarkPaleBlue;
    }

    &__site-main--chat__srch--calend {
        color: $mainDarkPaleBlue;
    }

    &__site-main--chat__close {
        color: $mainLightRed;
    }

    &__site-main--chat__srh-user {
        color: #fff;
        margin-right: 5px;
        font-size: .75rem; 
    }

    &__site-main__chat--clip-itm {
        color: #fff;
        font-size: 1.5625rem;
    }

    &__site-main--chat__nav--close {
        color: rgba($mainLightBlack, .7);
    }

    &__site-main--chat__nav--srch {
        color: #fff;
    }

    &__site-main--chat__nav--share {
        color: #fff;
        margin-right: 5px;
    }

    &__site-main--chat__nav--footer__users {
        margin-right: 10px;
        color: $mainDarkBlue;
    }
}