.site-main__groupchat {
    color: $mainFontColor;
    padding: 0px 0 0 0 ;
    position: relative;
    height: 100vh;
    border-left: none;
    width: 100%;
    box-shadow:  0px 2px 2px 1px rgba($mainDarkPaleBlue, .5);
    -o-box-shadow:  0px 2px 2px 1px rgba($mainDarkPaleBlue, .5);
    -ms-box-shadow:  0px 2px 2px 1px rgba($mainDarkPaleBlue, .5);
    -webkit-box-shadow:  0px 2px 2px 1px rgba($mainDarkPaleBlue, .5);
    -moz-box-shadow:  0px 2px 2px 1px rgba($mainDarkPaleBlue, .5);
 
    &--mainwrapper {
        padding-left: 370px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 62px;
    }

    &--header {
        background-color: #4186AD;
        box-shadow: 0px 2px 4px 0px rgba($mainDarkPaleBlue, 0.53);
        -o-box-shadow: 0px 2px 4px 0px rgba($mainDarkPaleBlue, 0.53);
        -ms-box-shadow: 0px 2px 4px 0px rgba($mainDarkPaleBlue, 0.53);
        -webkit-box-shadow: 0px 2px 4px 0px rgba($mainDarkPaleBlue, 0.53);
        -moz-box-shadow: 0px 2px 4px 0px rgba($mainDarkPaleBlue, 0.53);
        position: relative;

        &__title {
            font-size: .9375rem;
            color: #fff;
            text-align: center;
            width: 90%;
            white-space: nowrap;
            padding: 10px 0;
            font-weight: 400;
            margin: 0 auto;
            border-bottom: 1px solid rgba($mainDarkGray, .3);
        }

        &__details {
            @mixin clearfix;
            width: 100%;
            padding: 3.8px 0;

            &--firstdetails {
                width: 33.3333%;
                text-align: left;
                float: left;
                list-style: none;
                margin: 0;
                padding: 0 0 0 40px;
                font-size: .875rem;
                position: relative;
                @mixin clearfix;

                li {
                    float: left;

                    & > span {
                        color: #fff;
                    }
                }

                &__users {
                    width: 28px;
                    height: 28px;
                    color: $mainLightGray;
                    border-radius: 14px;
                    background-color: rgba($mainDarkBlack, .15);
                    text-align: center;
                    position: absolute;
                    font-size: .75rem;
                    top: -2px;
                }

                &__total {
                    padding: 4px 0 4px 34px;
                    color: #fff;
                    font-size: .875rem;
                }
            }

            &--seconddetails {
                width: 33.333%;
                float: left;
                text-align: center;
                color: #fff;
                margin: 0;
                padding: 0;

                &__more {
                    background-color: $mainDarkPaleBlue;   
                    padding: 4px 20px;   
                    border-radius: 20px;
                    font-size: .875rem; 
                    font-weight: 300;   
                    width: 100px; 
                    margin: 0 auto;
                    box-shadow: 0 2px rgba($mainLightBlue, .4);
                    -o-box-shadow: 0 2px rgba($mainLightBlue, .4);
                    -webkit-box-shadow: 0 2px rgba($mainLightBlue, .4);
                    -moz-box-shadow: 0 2px rgba($mainLightBlue, .4);
                    -ms-box-shadow: 0 2px rgba($mainLightBlue, .4);
                    cursor: pointer;         
                }

            }

            &--lastdetails {
                float: left;
                text-align: right;
                width: 33.333%;
                color: #fff;
                font-size: .875rem;
                padding: 4px 40px 4px 0;
            }
        }

        &__options {
            position: absolute;
            width: 15px;
            /* background-color: $mainDarkPaleBlue; */
            top: 0;
            right: 0;
            bottom: 0;

            &--circle {
                position: absolute;
                background-color: $mainDarkPaleBlue;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                cursor: pointer;
    
                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: #fff;
                    border-radius: 4px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 10px;
                    cursor: pointer;
                }
    
    
                &__middle {
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: #fff;
                    border-radius: 4px;
                    left: 25%;
                    transform: translateX(-25%);
                    top: 50%;
                    transform: translateY(-50%);
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: #fff;
                    border-radius: 4px;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 10px;
                    cursor: pointer;
                }

            }

            &--list {
                position: absolute;
                list-style: none;
                margin: 0;
                padding: 3px  0;
                @mixin clearfix;
                border-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-color: #fff;
                box-shadow: 0px 3px 7px 2px rgba(137, 190, 213, 0.4);
                top: 100%;
                right: 0px;
                z-index: 1;
                width: 180px;
                display: none;  

                li {
                    float: none;
                    font-size: .875rem;
                    padding: 10px 10px 10px 20px;
                    word-break: normal;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover {
                        background-color: $mainLightGray;
                    }
                }

                &__visible {
                    display: block;
                }
            }

            &--group {
                position: absolute;
                right: 100%;
                background-color: #fff;
                box-shadow: 0px 1px 7px 2px rgba($mainDarkBlue, 0.4);
                padding: 10px;
                top: 32px;
                max-width: 365px;
                cursor: default;
                display: none;

                &__input {
                    padding: 10px;
                    /* box-shadow: 0 2px 9px rgba($mainDarkBlue, .5); */
                    border-radius: 5px;
                    border: none;
                    border: 1px solid $mainDarkGray;
                    width: 100%;
                    font-size: .8125rem;
                }

                &__content {
                    border: 1px solid $mainDarkGray;
                    margin: 10px 0 0  0;

                    padding-top: 10px;
                    position: relative;
                    max-height: 30vh;
                    overflow: hidden;
                    overflow-y: auto;
                    padding: 10px 10px 0 10px;
                    
                    &--wrapper {
                        border-radius: 3px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        position: relative;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 1px 8px 3px rgba($mainDarkGray, 0.94);
                    }

                    &--img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: $mainLightGray;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 5px;
                    }

                    &--details {
                        list-style: none;
                        padding: 0 0 0 60px;
                        margin:  0;
                        width: 100%;
                        background-color: rgb(255, 255, 255);
                        border-radius: 3px;

                        li {
                            margin: 0;

                            &:hover {
                                background-color: transparent;
                            }
                        }

                        &__title {
                            padding: 10px 10px 5px 0 !important;
                            margin: 0 !important;
                            /* border-bottom: 1px solid $mainDarkGray; */
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-weight: 500;
                            color: rgba($mainDarkPaleBlue, .8);
                            border-top-right-radius: 10px;
                        }   

                        &__status {
                            padding: 10px 10px 10px 0 !important;
                            @mixin clearfix;

                            &--online {
                                float: left;
                                padding-right: 10px;
                                font-size: .8125rem;

                                & > span {
                                    padding: 3px 8px;
                                    background-color: $mainLightGreen;
                                    color: #fff;
                                    border-radius: 20px;
                                    box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                                }
                            }

                            &--offline {
                                float: right;
                                padding-right: 10px;
                                font-size: .8125rem;

                                & > span {
                                    padding: 3px 8px;
                                    background-color: $mainLightRed;
                                    color: #fff;
                                    border-radius: 20px;
                                    box-shadow: inset 0 -1px 1px 0px rgba($mainDarkBlack, .4);
                                }
                            }
                        }
                    }
                }

                &__visible {
                    display: block;
                }

            }

             &--current {
                 width: 365px;
                 background-color: #fff;
                 box-shadow: 0px 1px 7px 2px rgba($mainDarkBlue, 0.4);
                 position: absolute;
                 right: 100%;
                 top: 72px;
                 display: none;

                &__tab {    
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    background-color: #4186AD;
                    @mixin clearfix;

                    li {
                        float: left;
                        width: 50%;
                        color: #fff;
                        text-align: center;

                        &:hover {
                            background-color: transparent;
                        }
                    } 
                }

                &__outlet {
                    height: 30vh;
                    overflow: hidden;
                    overflow-y: auto;
                }
                
                &__chat {
                    @mixin clearfix;
                    position: relative;
                    margin: 10px 0 10px 0;
                    font-size: .875rem;
                    border-radius: 0px;
                    cursor: default;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    box-shadow: 0px 1.5px 1px 0px rgba($mainDarkBlue, 0.44);

                    &--img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: $mainDarkPaleBlue;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 5px;
                        cursor: pointer;
                    }

                    &--details {
                        width: 100%;
                        padding: 0 0 0 70px;
                        margin:  0;
                        background-color: #fff;
                        font-size: .875rem;
                        
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            @mixin clearfix;
                            border-top-right-radius: 10px;
                            /* border-bottom: 1px solid $mainDarkBlue; */

                            li {

                                &:hover {
                                    background-color: transparent;
                                }
                            }
                            
                        }

                        &__title {
                            float: left !important;
                            width: 55%;
                            font-size: .8125rem;
                            overflow: hidden;
                            padding: 10px 10px 5px 0 !important;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        &__status {
                            float: right !important;
                            width: 45%;
                            overflow: hidden;
                            white-space: nowrap;
                            font-size: .8125rem;
                            text-overflow: ellipsis;
                            padding: 10px 10px 5px 20px !important;
                            position: relative; 
                            text-align: right;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 4px;
                                background-color: $mainLightGreen;
                                right: 55px;
                                top: 62%;
                                transform: translateY(-62%);
                            }

                            &--off {
                                text-align: left;

                                &::before {
                                    background-color: $mainLightRed;
                                    right: auto;
                                    left: 2px;
                                }
                            }
                        }
                    }

                    &--lastmssge {
                        padding: 8px 10px 8px 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $mainDarkBlue;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }

                &__group {
                    @mixin clearfix;
                    position: relative;
                    margin: 10px 0;
                    font-size: .875rem;
                    border-radius: 0;
                    margin-bottom: 10px;
                    cursor: default;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    box-shadow: 0px 1.5px 1px 0px rgba($mainDarkBlue, 0.54);
                    
                    &--img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: $mainDarkPaleBlue;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 5px;
                        cursor: pointer;
                    }

                    
                    &--details {
                        list-style: none;
                        padding: 0 0 0 70px;
                        margin:  0;
                        width: 100%;
                        background-color: rgb(255, 255, 255);

                        li {
                            margin: 0;

                            &:hover {
                                background-color: transparent;
                            }
                        }

                        &__title {
                            padding: 10px 10px 5px 0 !important;
                            margin: 0 !important;
                            /* border-bottom: 1px solid $mainDarkGray; */
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-weight: 500;
                            color: rgba($mainDarkPaleBlue, .8);
                            cursor: pointer;
                        }   

                        &__status {
                            padding: 10px 10px 10px 0 !important;
                            @mixin clearfix;

                            &--online {
                                float: left;
                                padding-right: 10px;
                                font-size: .8125rem;

                                & > span {
                                    padding: 3px 8px;
                                    background-color: $mainLightGreen;
                                    color: #fff;
                                    border-radius: 20px;
                                    box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                                }
                            }

                            &--offline {
                                float: right;
                                padding-right: 10px;
                                font-size: .8125rem;

                                & > span {
                                    padding: 3px 8px;
                                    background-color: $mainLightRed;
                                    color: #fff;
                                    border-radius: 20px;
                                    box-shadow: inset 0 -1px 1px 0px rgba($mainDarkBlack, .4);
                                }
                            }
                        }
                    }
                }

                &__visible {
                    display: block;
                }
            }

            &--search {
                width: 365px;
                background-color: #fff;
                box-shadow: -1px 1px 7px 5px rgba($mainDarkBlue, 0.4);
                position: absolute;
                right: 100%;
                top: 95px;
                cursor: default;
                display: none;

                &__header {
                    padding: 10px 10px;
                    font-size: .8125rem;
                    cursor: default;
                    color: $mainFontColor;
        
                    &--input {
                        width: 100%;
                        padding: 12px 10px;
                        border: 1px solid $mainDarkGray;
                        border-radius: 5px;
                    }
                }

                &__wrapper {
                    height: 30vh;
                    margin-top: 5px;
                    box-shadow: 0px .1px 1px 0px rgba($mainDarkBlue, 0.44);
                    overflow: hidden;
                    overflow-y: auto;
                    padding: 5px 10px;
                    cursor: default;
                }

                &__chat {
                    @mixin clearfix;
                    position: relative;
                    margin: 10px 0 15px 0;
                    padding: 8px 0;
                    font-size: .875rem;
                    border-radius: 10px;
                    cursor: default;
                    box-shadow: 0px 1.5px 8px 0px rgba($mainDarkBlue, 0.44);

                    &--switch {
                        position: absolute;
                        top: -6px;
                        right: -4px;
                        background-color: $mainDarkBlue;
                        color: #fff;
                        font-size: .8123rem;
                        height: 20px;
                        width: 20px;
                        border-radius: 10px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    &--img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: $mainDarkPaleBlue;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 5px;
                        cursor: pointer;
                    }

                    &--details {
                        width: 100%;
                        padding: 0 0 0 70px;
                        margin:  0;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        background-color: #fff;
                        font-size: .875rem;
                        
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            @mixin clearfix;
                            border-top-right-radius: 10px;
                            /* border-bottom: 1px solid $mainDarkBlue; */

                            li {

                                &:hover {
                                    background-color: transparent;
                                }
                            }
                            
                        }

                        &__title {
                            color: $mainFontColor;
                            float: left !important;
                            width: 55%;
                            font-size: .8125rem;
                            overflow: hidden;
                            padding: 10px 10px 5px 0 !important;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        &__status {
                            color: $mainFontColor;
                            float: right !important;
                            width: 45%;
                            overflow: hidden;
                            white-space: nowrap;
                            font-size: .8125rem;
                            text-overflow: ellipsis;
                            padding: 10px 10px 5px 20px !important;
                            position: relative; 
                            text-align: right;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 4px;
                                background-color: $mainLightGreen;
                                right: 55px;
                                top: 62%;
                                transform: translateY(-62%);
                            }

                            &--off {
                                text-align: left;

                                &::before {
                                    background-color: $mainLightRed;
                                    left: 2px;
                                    right: auto;
                                }
                            }
                        }
                    }

                    &--lastmssge {
                        padding: 8px 10px 8px 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $mainDarkBlue;
                        font-weight: 500;
                    }

                    &--nomssge {
                        color: $mainFontColor;
                        padding-top: 5px;

                         & > span {
                             color: $mainDarkBlue;
                             font-weight: 400;
                         }
                    }
                }

                &__visible {
                    display: block;
                }
            }
        }

    }

    &--detail {
        position: relative;
        background-color: transparent;
        height: 0;
        width: 100%;

        &__wrapper {
            position: absolute;
            background-color: #fff;
            width: 94.5%;
            z-index: 1;
            padding: 0 30px;
            left: 65%;
            transform: translateX(-65%);
            border-bottom: 2px solid $mainDarkGray;
            /* box-shadow: 0px -10px 0px rgba($mainDarkBlue, .6); */
        }

        &__header {
            padding: 30px;
            position: relative;
            @mixin clearfix;
            font-size: .875rem;

            &--imgwrapper {
                float: left;
                padding: 5px;
                position: relative;
                width: 30%;
            }

            &--img {
                height: 50px;
                width: 50px;
                background-color: $mainDarkGray;
                border-radius: 25px;
                position: absolute;
                right: 20px;
                top: 0px;
            }   
            &--list {
                width: 70%;
                float: left;
                list-style: none;
                margin: 0;
                padding: 0;

                &__group {
                    padding: 5px 0;

                    & > span {
                        margin-left: 5px;
                    }
                }
                &__comty {
                    padding: 5px 0;
                    
                    & > span {
                        color: $mainDarkBlue;
                        margin-left: 5px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }

        &__dest {
            width: 60%;
            margin: 0 auto;
            box-shadow: 0 2px 9px rgba($mainDarkBlue, .6);
            
            &--header {
                padding: 5px 0;
                background-color: $mainDarkBlue;
                color: #fff;
                text-align: center;
                font-size: .875rem;
            }

            &--content {
                text-align: center;
                font-size: .875rem;
                padding: 10px 0;
                line-height: 1.5;
            }
        }

        &__admin {
            width: 40%;
            margin: 0 auto;
            position: relative;

            &--img {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                background-color: $mainDarkPaleBlue;
            }

            &--detail {
                width: 100%;
                padding: 0 0 0 80px;
                margin: 20px 0 0 0;
                list-style: none;
                font-size: .875rem;

                li {
                    padding: 5px 0;
                }

                &__title {
                    float: none;
                }

                &__status {
                    float: none;
                    position: relative;
                    margin-left: 20px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: -20px;
                        height: 8px;
                        width: 8px;
                        border-radius: 4px;
                        top: 10px;
                    }

                    &--online {
                        &::before {
                            background-color: $mainLightGreen;
                        }
                    }

                    &--offline {
                        &::before {
                            background-color: $mainLightRed;
                        }
                    }
                }
            }
        }
        
        &__footer {
            width: 60%;
            margin: 10px auto 0 auto;
            font-size: .875rem;
            border-top: 1px solid $mainDarkGray;

            &--content {
                margin: 0;
                padding: 20px 0;
                list-style: none;
                @mixin clearfix;
                 
                &__online {
                    float: left;
                    margin-left: 60px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: -20px;
                        height: 8px;
                        width: 8px;
                        border-radius: 4px;
                        top: 5px;
                        background-color:$mainLightGreen;
                    }

                    & > span {
                        color: $mainDarkBlue;
                        font-weight: 500;
                        margin-left: 5px;
                    }
                }

                &__offline {
                    float: right;
                    margin-right: 40px;
                    position: relative;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        left: -20px;
                        height: 8px;
                        width: 8px;
                        border-radius: 4px;
                        top: 5px;
                        background-color:$mainLightRed;
                    }

                    & > span {
                        color: $mainDarkBlue;
                        font-weight: 400;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    &--options {
        @mixin clearfix;
        padding: 10px 0 10px 0;
        background-color: $mainLightGray;
        border-bottom: 1px solid $mainDarkGray;
        display: none;

        &__commentopt {
            float: right;
            list-style: none;
            padding: 0;
            margin: 0;
            @mixin clearfix;

            li {
                float: left;
                height: 32px;
                width: 32px;
                border-radius: 16px;
                border: 1px solid $mainDarkGray;
                margin-right: 30px;
                cursor: pointer;
                text-align: center;
                border: 1px solid #fff;

                &:last-child {
                    margin-right: 30px;
                }
            }

            &--share {
                background-color: $mainDarkBlue;
            }

            &--edit {
                background-color: $mainDarkPaleBlue;
            }

            &--fav {
                background-color: $mainDarkBlue;;
            }

            &--bin {
                background-color: $mainDarkRed;
            }
        }

        &__visible {
            display: block;
        }
    }

    &--chatbox {
        padding: 0 40px;
        background-color: $mainHeaderColor;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;

        &__search {
            width: 40%;
            font-size: .875rem;
            border-radius: 5px;
            position: relative;
            margin: 20px auto;
            display: none;

            &--close {
                width: 20px;
                height: 20px;
                border-radius: 10px;
                border: 1px solid $mainLightGray;
                font-size: .875rem;
                position: absolute;
                right: -5px;
                top: -10px;
                background-color: $mainDarkGray;
                text-align: center;
                cursor: pointer;
            }

            &--calend {
                padding: 0px 20px;
                background-color: $mainLightGray;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: #fff;
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                border: 1px solid $mainDarkGray; 
            }

            &--input {
                padding: 8px 8px 8px 60px;
                border: none;
                border-radius: 5px;
                outline: none;
                width: 100%;
                border: 1px solid $mainDarkGray;
            }

            &--visible {
                display: block;
            }
        }

        &__chatdate {
            position: relative;
            border-bottom: 1px solid $mainDarkGray;
            margin-top: 40px;

            &--current {
                position: absolute;
                padding: 5px 20px;
                background-color: $mainDarkGray;
                color: $mainFontColor;
                bottom: 0;
            }
        }

        &__firstchat {
            /* width: 100%; */
            display: flex;
            justify-content: flex-end;
            padding: 20px 0 40px 0;

            &--wrapper {
                width: 70%;
                font-size: .9375rem;
            }

            &--content {
                padding: 20px 10px;
                text-align: center;
                color: rgba($mainDarkBlack, .7);
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 2px 7px 0px rgba(137, 190, 213, 0.53);
                -o-box-shadow: 0px 2px 7px 0px rgba(137, 190, 213, 0.53);
                -ms-box-shadow: 0px 2px 7px 0px rgba(137, 190, 213, 0.53);
                -webkit-box-shadow: 0px 2px 7px 0px rgba(137, 190, 213, 0.53);
                -moz-box-shadow: 0px 2px 7px 0px rgba(137, 190, 213, 0.53);
                border-radius: 20px;
                line-height: 1.5;
                word-break: break-word;
                font-weight: 500;
                cursor: pointer;
            }

            &--footer {
                list-style: none;
                margin: 10px 0 0 0;
                padding: 0;
                @mixin clearfix;
                background-color: transparent;

                li {
                    font-size: .875rem;
                }

                &__chattime {
                    float: left;
                    padding-left: 15px;
                    color: $mainLightBlue;
                    font-weight: 400;
                }

                &__user {
                    float: right;
                    position: relative;
                    padding-right: 40px;
                    cursor: pointer;
                    color: $mainLightBlue;
                    font-weight: 500;

                    &--img {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: $mainDarkBlue;
                        top: -30px;
                        right: -10px;
                        cursor: pointer;
                        overflow: hidden;
                    }
                }
            }
        }

        
        &__secondchat {
            /* width: 100%; */
            display: flex;
            justify-content: flex-start;
            padding: 20px 0 40px 10px;
           

            &--wrapper {
                width: 70%;
                font-size: .9375rem;
            }

            &--content {
                padding: 20px 10px;
                text-align: center;
                border-radius: 20px;
                background-color: $mainDarkPaleBlue;
                line-height: 1.5;
                word-break: break-word;
                color: #fff;  
                /* background-image: radial-gradient(circle closest-side, rgba($mainDarkPaleBlue, .8) 20%, rgba($mainMiddleDarkBlue, .9) 50%, rgba($mainDarkPaleBlue, .9) 100%); */
                box-shadow: 0px 3px 2px 0px rgba($mainDarkBlack, 0.34);
                -o-box-shadow: 0px 3px 2px 0px rgba($mainDarkBlack, 0.34);
                -ms-box-shadow: 0px 3px 2px 0px rgba($mainDarkBlack, 0.34);
                -moz-box-shadow: 0px 3px 2px 0px rgba($mainDarkBlack, 0.34);
                -webkit-box-shadow: 0px 3px 2px 0px rgba($mainDarkBlack, 0.34);
                cursor: pointer;
            }

            &--footer {
                list-style: none;
                margin: 10px 0 0 0;
                padding: 0;
                @mixin clearfix;
                background-color: transparent;

                li {
                    font-size: .875rem;
                }

                &__chattime {
                    float: right;
                    padding-right: 15px;
                    color: $mainDarkPaleBlue;
                    font-weight: 500;
                }

                &__user {
                    float: left;
                    position: relative;
                    padding-left: 40px;
                    cursor: pointer;
                    color: $mainDarkPaleBlue;
                    font-weight: 500;

                    &--img {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: $mainDarkBlue;
                        top: -30px;
                        left: -10px;
                        cursor: pointer;
                        overflow: hidden;
                    }
                }
            }
        }

        &__typing {
            font-size: .625rem;
            width: 100%;
            margin: 40px 0;
            padding: 0 40px;
    
            &--wrapper {
                text-align: center;
                position: relative;
                @mixin clearfix;

                &__img {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: $mainDarkGray;
                    left: 30%;
                    transform:translateX(-30%);
                    float: left;
                    top: -10px;
                }

                &__content {
                    padding: 10px 0 20px 0;
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid $mainLightGray;
                    /* box-shadow: 0 2px 2px 2px rgba($mainDarkBlue, .7); */
                }
            }
        }
    }

    &--footer {
        @mixin clearfix;
        background-color: #4186AD;
        padding: 5px 20px;

        &__mic {
            float: left;
            width: 15%;
            position: relative;
            cursor: pointer;

            &--wrapper {
                width: 40px;
                height: 40px;
                background-color: #fff;
                border-radius: 20px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                top: 10px;
            }
        }

        &__input {
            float: left;
            background-color: #fff;
            @mixin clearfix;
            width: 70%;
            display: flex;
            align-items: center;
            box-shadow: 0px 2px 9px 4px rgba($mainDarkPaleBlue, .4);
            -o-box-shadow: 0px 2px 9px 4px rgba($mainDarkPaleBlue, .4);
            -webkit-box-shadow: 0px 2px 9px 4px rgba($mainDarkPaleBlue, .4);
            -ms-box-shadow: 0px 2px 9px 4px rgba($mainDarkPaleBlue, .4);
            -moz-box-shadow: 0px 2px 9px 4px rgba($mainDarkPaleBlue, .4);

            &--field {
                float: left;
                width: 80%;
                padding: 8px 5px; 
                font-size: .875rem;
                resize: none;
                margin: 0;
                border: none;
                outline: none;
                line-height: 1.5;
                font-weight: 500;
                color: $mainFontColor;
                overflow: hidden;
                overflow-y: auto;
            }

            &--mousein {
                float: left;
                width: 10%;
                text-align: center;
                padding: 14px 0; 
                border-right: 1px solid rgba($mainDarkBlue, .3);
                display: none;

                &__visible {
                    display: block;
                }
            }

            &--mouseout {
                float: left;
                width: 10%;
                text-align: center;
                padding: 14px 0; 
                border-right: 1px solid rgba($mainDarkBlue, .3);

                &__hidden {
                    display: none;
                }
            }

            &--smile {
                float: left;
                width: 10%;
                text-align: center;
                padding: 14px 0;
            }
        }

        &__camera {
            float: left;
            width: 10%;
            text-align: center;
            position: relative;
            left: 20px;

            &--wrapper {
                width: 40px;
                height: 40px;
                background-color: $mainDarkPaleBlue;
                border-radius: 20px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                top: 10px;
                cursor: pointer;
            }

            &--hidden {
                display: none;
            }
        }

        &__clip {
            float: left;
            width: 10%;
            text-align: center;
            position: relative;
            left: 20px;
            display: none;

            &--wrapper {
                width: 40px;
                height: 40px;
                background-color: $mainDarkPaleBlue;
                border-radius: 20px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                top: 10px;
                cursor: pointer;
            }

            &--visible {
                display: block;
            }
        }
    }

    &--attachWrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        right: 1px;
        background-color: rgba($mainDarkBlack, .6);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in;

        &__visible {
            top: 0;
            opacity: 1;
            visibility: visible;
            z-index: 1;
            transition: all .3s ease-in;
        }
    }

    &--attachContent {
    }

    &--attach {
        position: absolute;
        margin: 0;
        padding: 0;
        border: 1px solid $mainDarkGray;
        border-bottom: none;
        list-style: none;
        bottom: 190px;
        width: 100%;
        left: 70%;
        transform: translateX(-70%);
        width: 340px;
        background-color: #fff;
        font-size: 1.5625rem;
        z-index: 2;

        li {    
            float: left;
            color: $mainDarkBlue;
            margin: 20px 0;
            position: relative;
            width: 33.33%;
        }

        &__iconHolder {
            width: 54px;
            height: 54px;
            border-radius: 27px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }

        &__title {
            margin: 0px 0 0 0;
            padding: 12px  0 0 0;
            font-size: .8123rem;
            text-align: center;
            font-weight: 400;
        }

        &__camicon {
            font-size: 1.5rem;
            color: #fff;
            background: radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -o-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -moz-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -webkit-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -ms-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            /* box-shadow: 0px 1px 2px 2px rgba($mainDarkBlue, .8);  */
    
        }

        &__videoicon {
            font-size: 1.5rem;
            color: #fff;
            background: linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -o-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -webkit-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -moz-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -ms-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);     
        }

        &__imageicon {
            font-size: 1.5rem;
            color: #fff;
            background: radial-gradient(circle closest-side, rgba(5,87,139,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -o-radial-gradient(circle closest-side, rgba(5,87,139,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -webkit-radial-gradient(circle closest-side, rgba(5,87,139,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -moz-radial-gradient(circle closest-side, rgba(5,87,139,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -ms-radial-gradient(circle closest-side, rgba(5,87,139,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
        }

        &__locationicon {
            font-size: 1.5rem;
            color: #fff;
            background: radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -moz-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -webkit-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -ms-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -o-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
        }

        &__fileicon {
            font-size: 1.5rem;
            background-color: blue;
            color: #fff;
            background: linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -moz-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -webkit-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -ms-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -o-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
        }

        &__audioicon {
            font-size: 1.5rem;
            background-color: blue;
            color: #fff;
            background: linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -moz-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -webkit-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -ms-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -o-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
        }

    }

    &--secondattach {
        bottom: 70px;
        border-top: 0;
        border-bottom: 1px solid $mainDarkGray;
    }

}