.site-main {
    position: relative;
    padding-top: 62px; 
    font-family: "Roboto",Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

    &__expage { 
        padding-top: 82px !important; 
        /* background-color: rgba($mainDarkBlack, .9);  */

        @mixin atMedium {
            padding-top: 65px !important;
        }
    }
 
    &__overlay {
        position: absolute;
        top: 0; 
        bottom: 0;
        right: 0; 
        left: 0;
        background-color: rgba($mainDarkBlack, .55); 
        z-index: 1;  
        opacity: 0;
        visibility: hidden; 

        &--visible {
            opacity: 1;
            visibility: visible;
            transition: all .3s ease-out;
        }
    } 

    /* &__content { 
        
        &--wrapper {
            width: 100%;
            background-color: rgba($mainHeaderColor, .4);    
            box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
            -o-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
            -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
            -webkit-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
            -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);  
            position: relative; 
        }
    } */
}