.tool-tip {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    left: -30px;
    background-color: #fff;
    border: 1px solid $mainDarkGray;
    max-width: auto;

    &::after {
        content: "";
        position: absolute;
        right: 13px;
        border-color: transparent;
        border-width: 10px;
        border-style: solid;
        border-bottom-color: #fff;
        top: -20px;
    }

    &::before {
        content: "";
        position: absolute;
        right: 12px;
        top: -22px;
        border-color: transparent;
        border-width: 11px;
        border-style: solid;
        border-bottom-color: $mainDarkGray;
    }

    li {
        font-size: 14px;
        padding: 8px 8px;
    }
}