.icon__reuse-user--det__opt {
    margin-right: 5px;
}

.reuse-user {
    position: relative;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0, .3);
    margin-top: 10px;
    margin-bottom: 30px;
}

.reuse-user__det {
    position: relative;
    background-color: #fff;
    border-radius: 10px 0 10px 10px;
}

.reuse-user__det--img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -o-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -ms-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -webkit-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -moz-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    background-color: #e9ebf2;
    width: 60px;
    height: 60px;
    border-radius: 30px;

}

.reuse-user__det--img > img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(233,235,242, .7);
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: fill;
    object-fit: fill;

}

.reuse-user__det--img__status {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #dcdbdc;
    bottom: 4px;
    right: 8px;
}

.reuse-user__det--img__status--on {
    background-color: #16cf27;
}

.reuse-user__det--img__status--off {
    background-color: #ff1600;
}

.reuse-user__det--user {
    list-style: none;
    font-size: .875rem;
    margin: 0;
    padding: 10px 20px 10px 100px;
}

.reuse-user__det--user::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-user__det--user > li {
    float: none;
    padding: 6px 0;
    position: relative;
}

.reuse-user__det--user > li:first-child {
    color: rgba(0,0,0, .85);
    font-weight: 400;
    font-size: .9375rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reuse-user__det--user > li:first-child > a {
    text-decoration: none;
    color: rgba(0,0,0, .85);
    font-weight: 400;
}

.reuse-user__det--user > li:last-child {
    color: #0284a8;
    padding-left: 35px;
}

.reuse-user__det--user > li:last-child > div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #dcdbdc;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-weight: bold;
}

.reuse-user__det--opt {
    position: relative;
    font-size: .8125rem
}
.reuse-user__det--opt__acc--disable {
    opacity: .5;
    cursor: not-allowed
}

.reuse-user__det--opt > button {
    padding: 5px;
    border-radius: 2px;
    outline: none;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
}

.reuse-user__det--opt__acc {
    color: #fff; 
    border: none;
    margin-right: 10px;
    background: linear-gradient( 180deg, rgb(5,87,139) 20%,  rgb(19,51,97) 100%);
    background: -moz-linear-gradient( 180deg, rgb(5,87,139) 20%,  rgb(19,51,97) 100%);
    background: -webkit-linear-gradient( 180deg, rgb(5,87,139) 20%,  rgb(19,51,97) 100%);
    background: -ms-linear-gradient( 180deg, rgb(5,87,139) 20%,  rgb(19,51,97) 100%);
}

.reuse-user__det--opt__rej { 
    background: #f2f2f2;
    border: none;
    color: #333;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0, 0.26);
}

.reuse-user__det--opt__blk {
    border: none;
    color: #ff1600; 
    background: #f2f2f2;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0, 0.26);
}