.icon {
    
    &__reuse-form--angle {
        margin-left: 5px;
    }

    &__reuse-form--btn {
        margin-right: 5px;
    }

    &__reuse-form--cnt__tag {
        margin-right: 5px;
        color: $mainLightRed;
        font-size: .8125rem;
    }

    &__reuse-form__cnt--categ {
        margin-right: 10px;
    }

    &__reuse-form__cnt--tag__close {
        color: $mainLightRed; 
    }
}