.icon {
    
    &__reuse-pwt--tag {
        color: $mainLightBlack;
        margin-right: 5px;
    }

    &__reuse-pwt--quote {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 3.5px;
        left: 4.4px;
    }

    &__reuse-pwt--quoteright {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 5px;
        left: 4.4px;
    }

    &__reuse-pwt--options {
        margin-right: 10px;
    }

    &__reuse-pwt--options__dft {
        margin-right: 5px;
    }

    &__reuse-pwt--footer__smile {
        margin-right: 8px;
        color: $mainDarkBlue;
        font-size: .9375rem;  
    }

    &__reuse-pwt--footer__heart {
        margin-right: 8px;
        color: $mainLightRed; 
        font-size: .9375rem;
        cursor: pointer;
    }

    &__reuse-pwt--footer__comments {
        margin-right: 8px;
        color: $mainDarkBlack;
        font-size: .9375rem;
    }
}