<form action="" class="reuse-form">
    <div class="reuse-form__wrapper">
        <div class="reuse-form__overlay"></div>
        <div class="reuse-form__cnt">
            <div class="reuse-form__cnt--wrapper reuse-form__cnt--exp">
                <label for="category" class="reuse-form__cnt--title"> Add Expertise</label>
                <div class="reuse-form__cnt--det">
                    <div class="reuse-form__cnt--det__wrapper">
                        <div class="reuse-form__cnt--det__selec reuse-form__cnt--det__selec--categ">
                            Expertise <i class="fas fa-angle-down icon icon__reuse-form--angle"></i> 
                            <ul class="reuse-form__cnt--det__selec--opt">
                                <li>Entertainment</li>
                                <li>Social</li>
                                <li>Social</li>
                                <li>Poem</li>
                                <li>Prose</li>
                                <li>Poet</li>
                                 <li>Entertainment</li>
                                <li>Social</li>
                                <li>Social</li>
                                <li>Poem</li>
                                <li>Prose</li>
                                <li>Poet</li>
                            </ul>
                        </div>
                        <div class="reuse-form__cnt--det__alt">
                            <div class="reuse-form__cnt--det__alt--title">
                                <div>OR</div>
                            </div>
                            <div class="reuse-form__cnt--det__alt--cnt">
                                <input type="text" name="" id="" class="reuse-form__cnt--det__input" placeholder="Add new...">
                                <button class="reuse-form__btn--add">add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reuse-form__cnt--tag">
                    <h3><i class="fas fa-tags icon icon__reuse-form__cnt--categ"></i> Expertise </h3>
                    <ul class="reuse-form__cnt--tag__itm">
                        <li>Poem <div><i class="fas fa-times icon icon__reuse-form__cnt--tag__close"></i></div></li>
                        <li>Poet <div><i class="fas fa-times icon icon__reuse-form__cnt--tag__close"></i></div></li>
                        <li>News <div><i class="fas fa-times icon icon icon__reuse-form__cnt--tag__close"></i></div></li>
                        <li>Entertainment <div><i class="fas fa-times icon icon__reuse-form__cnt--tag__close"></i></div></li>
                    </ul>
                </div>
                {{!-- <div class="reuse-form__err">Pls, select category</div> --}}
            </div>
            <div class="reuse-form__cnt--wrapper">
                <label for="category" class="reuse-form__cnt--title"><i class="fas fa-image icon icon__reuse-form--cnt__tag"></i> Profile Image </label>
                <div class="reuse-form__cnt--det">
                    <div class="reuse-form__itm">
                        <div class="reuse-form__itm--det">
                            <div class="reuse-form__cnt">
                                <label for="image link" class="reuse-form__cnt--title">Image Link</label>
                                <div class="reuse-form__cnt--det">
                                    <input type="text" name="" id="" class="reuse-form__cnt--det__input reuse-form__cnt--det__input--lg" placeholder="paste link">
                                </div>
                            </div>
                            <div class="reuse-form__itm--det__view"></div>
                            <div class="reuse-form__itm--det__alt">
                                OR
                            </div>
                            <div class="reuse-form__cnt">
                                <div class="reuse-form__cnt--det">
                                    <div class="reuse-form__cnt--det__fil">
                                        Upload image
                                        <input type="file" name="" id="" class="reuse-form__cnt--det__fil--input">
                                    </div>
                                </div>
                            </div>
                            <div class="reuse-form__itm--det__view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="reuse-form__footer reuse-form__btn">
            <button type="submit" class="reuse-form__btn--add">Sign Up</button>
        </div>
    </div>
</form>