.icon__reuse-share--googleplus {
    color: #f22613;
}

.icon__reuse-share--facebook {
    color: #15a4fa;
}

.reuse-share__social-icn {
    list-style: none;
    margin: 0;
    padding: 6px 10px;
    font-size: 28px;
    border-top: 1px solid #dcdbdc;
}

.reuse-share__social-icn::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-share__social-icn > li {
    float: left;
}

.reuse-share__social-icn > li:last-child {
    float: right;
}

.reuse-share__social-icn--more-opt {
    padding: 6px 26px 6px 10px;
}