.icon__acc-dft--tab {
    color: #182427;
}

.icon__acc-dft--opt {
    margin-right: 5px;
}

.site-main {
    color: #182427;
}

.site-main__content {
    color: #182427;
}

.site-main__content--tab {
    padding: 12px 0 12px 60px;
    color: #fff;
}

.site-main__content--tab__icn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .5);
}

.site-main__content--tab > span {
    background-color: rgba(0,0,0, .4);
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
}

.site-main__acc-dft {
    width: 100%;
}

.site-main__acc-dft--opt {
    color: #182427;
}

.site-main__acc-dft--opt > li {
    position: relative;
    padding: 0;
}

.site-main__acc-dft--opt > li:first-child {
    color: #fff;
    padding: 5px;
    border: 1px solid #dcdbdc;
}

.site-main__acc-dft--opt > li:last-child {
    color: #fff;
}

.site-main__acc-dft--opt > li:last-child > a {
    color: #fff;
}

.site-main__acc-dft--opt > li > a {
    color: #182427;
} 