.icon__site-main--conv__header--comment {
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    left: 50%;
    transform: translateX(-50%);

}

.icon__site-main--conv__header--search {
    cursor: pointer;

}

.icon__site-main--conv__filter {
    margin-right: 5px;

}

.icon__site-main--conv__tab--icn {
    margin-right: 5px;

}

.icon__site-main--conv__det {
    margin-right: 5px;

}

.active__main {
    color: #fff;

}

.active__main--conv {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--conv > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 530px) {

    .active__main--conv {
        right: 8px;
        top: 4px;

    }

}

.reuse-trd {
    position: relative;
}

.reuse-trd__nav {
    margin: 10px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    border: 1px solid #dcdbdc;

    /* box-shadow: 0 0 .2px .2px rgba($mainDarkBlack, .2); */

}

.reuse-trd > h3 {
    padding: 5px 20px;
    font-size: 1rem;
    background-color: #dcdbdc;
    margin: 0 0 0 0;
    font-weight: 400;
    box-shadow: 0 .5px 1px 0px rgba(0,0,0, .2);

}

.reuse-trd__cnt {
    padding: 0;

}

.reuse-trd__cnt--nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 5px;

}

.reuse-trd__cnt--wrapper {
    position: relative;

}

.reuse-trd__cnt--wrapper__nav {
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    margin: 20px 10px;

}

.site-main__conv{
    color: #182427;
}

.site-main__conv--header {
    background-color: #437da3;
    font-size: .875rem;
    font-weight: 300;
    position: relative;
    z-index: 4;
    padding: 8px 35px;
    color: #fff;
    box-shadow: 0 1px 2px 0px rgba(0,0,0, .4);

}

.site-main__conv--header__wrapper {
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 40px;
    width: 160px;

}

.site-main__conv--header__wrapper > div {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #fff;
    color: #182427;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

}

.site-main__conv--header__search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: #05578b;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;

}

@media (min-width: 530px) {

    .site-main__conv--header {
        font-size: .875rem;

    }

}

@media (min-width: 800px) {

    .site-main__conv--header {
        padding: 8px 35px;
        font-size: .9375rem;

    }

}

.site-main__conv--srch {
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #dcdbdc;
    border-top: none;
    top: 100px;
    width: 90%;
    padding: 10px 10px 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;

}

.site-main__conv--srch__close {
    width: 20px;
    height: 20px;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .5);
    color: #ff1600;
    font-size: .75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 10px;
    cursor: pointer;

}

.site-main__conv--srch__wrapper {
    position: relative;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .3);
    z-index: 1;
    font-size: .875rem;
    border-radius: 5px;
    width: 95%;
    box-shadow: 0 2px 1px 0 rgba(0,0,0, .3);

}

.site-main__conv--srch__wrapper > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align:center;
        align-items:center;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0,0,0, .3);

}

.site-main__conv--srch__input {
    border: none;
    outline: none;
    padding: 6px 10px 6px 60px;
    border-radius: 5px;
    width: 100%;

}

@media (min-width: 800px) {

    .site-main__conv--srch__input {
        padding: 8px 10px 8px 60px;

    }

}

.site-main__conv--srch__visible {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    right: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    z-index: 2;

}

.site-main__conv--filter {
    list-style: none;
    padding: 0  15px;
    margin: 20px 0 0 0;
    font-size: .9375rem;

}

.site-main__conv--filter::after {
    content: "";
    clear: both;
    display: table;

}

/* border-bottom: 1px solid $mainDarkGray;  */

.site-main__conv--filter > li {
    float: right;
    padding: 7px 15px;
    border-radius: 3px;

}

.site-main__conv--filter > li:first-child {
    float: left;

}

.site-main__conv--filter__sort {
    border: 1px solid rgba(5,87,139, .2);
    border-top: 3px solid #05578b;
    color: #182427;
    margin: 0;
    position: relative;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 10px;

}

.site-main__conv--filter__sort--opt {
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    padding: 0px ;
    font-size: .875rem;
    border: 1px solid #dcdbdc;
    border-bottom: none;
    top: 100%;
    left: -10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;

}

.site-main__conv--filter__sort--opt > div {
    padding: 5px 35px;
    border-bottom: 1px solid rgba(0,0,0, .2);

}

.site-main__conv--filter__sort--opt > div:hover {
    background-color: #e9ebf2;

}

.site-main__conv--filter__sort--opt__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;

}

.site-main__conv--filter__del {
    border: 1px solid rgba(255,22,0, .2);
    border-top: 3px solid #ff1600;
    margin: 0;
    position: relative;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: #ff1600;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .6);

}

.site-main__conv--filter__new {
    border: 1px solid rgba(21,164,250,  .2);
    border-top: 3px solid #15a4fa;
    margin: 0;
    position: relative;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: #15a4fa;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .6)

}

@media (min-width: 530px) {

    .site-main__conv--filter {
        padding: 0  20px;

    }

}

.site-main__conv--cnt {
    position: relative;

}  