.icon__site-main--exam-cnt__tag { 
    color: #182427; 
    margin-right: 5px;
}

.icon__site-main--exam-cnt__tm { 
    color: #05578b;
}

.icon__site-main--exam-cnt__footer--prev { 
    margin-right: 5px;
}

.icon__site-main--exam-cnt__footer--nxt { 
    margin-left: 5px;
}

.exam-cnt { 
    position: relative;
    padding: 0 15px;
    margin-bottom: 40px;
    top: 64px;
}

.exam-cnt__wrapper { 
    box-shadow: 0px 2px 8px 0px rgba(0,0,0, .45); 
    border-radius: 20px; 
    background-color: #fff;
}

.exam-cnt__title { 
    text-align:  center; 
    font-weight: 400; 
    color: #fff; 
    font-size: 1rem; 
    background-color: #437da3; 
    border-radius: 20px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
    margin: 0; 
    box-shadow: 0px 2px 8px 0px rgba(0,0,0, .45); 
    width: 100%; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
    padding: 10px 20px;
}

.exam-cnt__det { 
    position: relative; 
    padding: 20px; 
    font-size: 1rem; 
    color: #182427; 
    border-bottom: .5px solid rgba(23, 40, 59, 0.4);
}

.exam-cnt__det::after { 
    content: ""; 
    clear: both; 
    display: table;
}

.exam-cnt__det--tag { 
    float: left; 
    display: none; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.exam-cnt__det--tag > span { 
    padding-left: 5px;
}

@media (min-width: 530px) {

    .exam-cnt__det--tag { 
        display: block;
    }
}

.exam-cnt__det--cur-que { 
    position: absolute; 
    left: 20px; 
    width: 95px; 
    padding-left: 40px; 
    color: rgba(220,219,220, 1); 
    font-size: .875rem; 
    top: 20px;
}

.exam-cnt__det--cur-que > div { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 0; 
    background-color: #ff1600; 
    box-shadow: 0px 2px 6.79px 0.21px rgba(24, 22, 22, 0.5); 
    -o-box-shadow: 0px 2px 6.79px 0.21px rgba(24, 22, 22, 0.5); 
    -ms-box-shadow: 0px 2px 6.79px 0.21px rgba(24, 22, 22, 0.5); 
    -webkit-box-shadow: 0px 2px 6.79px 0.21px rgba(24, 22, 22, 0.5); 
    -moz-box-shadow: 0px 2px 6.79px 0.21px rgba(24, 22, 22, 0.5); 
    height: 30px; 
    width: 30px; 
    border-radius: 15px; 
    color: #fff; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-pack: center; 
        justify-content: center; 
    -ms-flex-align: center; 
        align-items: center; 
    overflow: hidden;
}

@media (min-width: 530px) {

    .exam-cnt__det--cur-que { 
        left: 50%; 
        transform: translateX(-50%);
    }
}

.exam-cnt__det--tm { 
    float: right; 
    padding: 0 0 0 40px; 
    font-size: 1.125rem; 
    font-weight: 400; 
    color: #05578b; 
    position: relative;
}

.exam-cnt__det--tm > div { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 0; 
    height: 30px; 
    width: 30px; 
    border-radius: 15px; 
    background-color: #fff; 
    box-shadow: 0px 0px 9px 0px rgba(23, 40, 59, 0.8); 
    -o-box-shadow: 0px 0px 9px 0px rgba(23, 40, 59, 0.8); 
    -ms-box-shadow: 0px 0px 9px 0px rgba(23, 40, 59, 0.8); 
    -webkit-box-shadow: 0px 0px 9px 0px rgba(23, 40, 59, 0.8); 
    -moz-box-shadow: 0px 0px 9px 0px rgba(23, 40, 59, 0.8); 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-pack: center; 
        justify-content: center; 
    -ms-flex-align: center; 
        align-items: center;
}

.exam-cnt__content { 
    position: relative; 
    padding: 20px;
}

.exam-cnt__content--que { 
    background-color: rgba(242,242,242, .2); 
    box-shadow: 0 1px 5px 0px rgba(0,0,0, 0.45); 
    padding: 20px; 
    text-align: center; 
    border-radius: 5px; 
    font-size: 1rem; 
    /* font-weight: bold; */ 
    color: rgba(0,0,0, .8); 
    line-height: 1.8; 
    min-height: 100px;
}

.exam-cnt__content--opt { 
    list-style: none; 
    margin: 0; 
    padding: 20px 0 0 0; 
    width: 100%; 
    font-size: .9375rem;
}

.exam-cnt__content--opt::after { 
    content: ""; 
    clear: both; 
    display: table;
}

.exam-cnt__content--opt > li { 
    position: relative; 
    float: left; 
    padding: 6px 10px 6px 40px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    background-color: #f2f2f2; 
    /* box-shadow: 0 1px 1px 0px rgba($mainDarkBlack, 0.45); */ 
    /* height: 30px; */ 
    border-radius: 15px; 
    cursor: pointer;
}

.exam-cnt__content--opt > li > div { 
    position: absolute; 
    height: 30px; 
    width: 30px; 
    border-radius: 15px; 
    background-color: #dcdbdc; 
    box-shadow: 0 0 1px 1px rgba(0,0,0, 0.45); 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-pack: center; 
        justify-content: center; 
    -ms-flex-align: center; 
        align-items: center; 
    left: 0px; 
    top: 50%; 
    transform: translateY(-50%);
}

@media (min-width: 530px) {

    .exam-cnt__content--opt > li { 
        margin-right: 50px;
    }
}

.exam-cnt__content--opt > li:last-child { 
    margin-right: 0;
}

.exam-cnt__footer { 
    background-color: #437da3; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    padding: 4px 0; 
    font-size: 0.875rem;
}

.exam-cnt__footer::after { 
    content: ""; 
    clear: both; 
    display: table;
}

.exam-cnt__footer > div { 
    position: relative; 
    padding: 5px 10px; 
    border-radius: 5px; 
    width: 70px; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .85); 
    cursor: pointer;
}

.exam-cnt__footer--prev { 
    float: left; 
    background-color: #fff; 
    left: 10%;
}

@media (min-width: 530px) {

    .exam-cnt__footer--prev { 
        left: 20%;
    }
}

.exam-cnt__footer--prev:hover { 
    background-color: #f2f2f2;
}

.exam-cnt__footer--nxt { 
    float: right; 
    color: #fff; 
    background-color: #15a4fa; 
    right: 10%;
}

@media (min-width: 530px) {

    .exam-cnt__footer--nxt { 
        right: 20%;
    }
}

.exam-cnt__footer--nxt:hover { 
    background-color: #05578b;
}

@media (min-width: 530px) {

    .exam-cnt { 
        padding: 0 20px;
    }
} 