.reuse-grp-filter {
    width: 100%;
    position: relative;
    padding: 10px 15px 10px 15px;  
    border-bottom: 1px solid #dcdbdc;
    
}

.reuse-grp-filter__wrapper {
    position: relative;
    
}

.reuse-grp-filter__wrapper::after {
    content: "";
    clear: both;
    display: table;
    
}

.reuse-grp-filter__add {
    float: right;
    border: 1px solid  #15a4fa;
    border-top: 3px solid  #15a4fa;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: #15a4fa;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0, 0.53);
    cursor: pointer;
    
}

@media (min-width: 530px) {

    .reuse-grp-filter {
        padding: 20px;
    
    }
    
}

.icon__site-main__content--tab {
    margin-right: 5px;
    
}

.icon__reuse-grp-filter--user {
    color: #15a4fa;
    margin-right: 5px;
    
}

.active__main {
    color: #fff;
}

.active__main--shareme {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);
    
}

.active__main--shareme > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
    
}

@media (min-width: 530px) {

    .active__main--shareme {
        right: 8px;
        top: 4px;
    
    }
    
}

.active__main--chat {
    top: -10px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);
    
}

.active__main--chat > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
    
}

@media (min-width: 530px) {

    .active__main--chat {
        right: -20px;
    
    }
    
}