.reuse-group {
    color: #182427; 
    padding: 0 15px;  
    margin: 40px 0; 
}

.reuse-group__wrapper {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9); 
}

.reuse-group__header {
    list-style: none;
    margin: 0;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid  #e9ebf2; 
}

.reuse-group__header::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__header li {
    position: relative;
    float: left;
    font-size: .8125rem; 
}

.reuse-group__header li:first-child {
    position: relative; 
}

.reuse-group__header li:last-child {
    float: right; 
}

@media (min-width: 530px) {

    .reuse-group__header li {
        font-size: .875rem; 
    } 
}

.reuse-group__header--img {
    height: 36px;
    width: 36px;
    position: absolute;
    border-radius: 18px;
    background-color: #dcdbdc;
    border: 1px solid #e9ebf2;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-group__header--nm {
    margin-left: 55px; 
}

.reuse-group__header--nm a {
    text-decoration: none;
    color: #05578b; 
}

.reuse-group__header--tm {
    color: #182427;
    margin-right: 10px;
    font-style: italic; 
}

.reuse-group__cnt{
    padding: 8px 0;
    position: relative; 
}

.reuse-group__cnt--add-grp {
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    left: 5px;
    top: 5px;
    box-shadow: 0px 0px 2.1px 1.9px rgba(67, 125, 163, 0.26);
    cursor: pointer;
    display: none; 
}

@media (min-width: 530px) {

    .reuse-group__cnt--add-grp {
        left: 20px;
        top: 5px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; 
    } 
}

.reuse-group__cnt--img {
    position: absolute;
    width: 60px;
    background-color: #fff;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -o-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -ms-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -moz-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57); 
}

@media (min-width: 530px) {

    .reuse-group__cnt--img {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        left: 40px; 
    } 
}

.reuse-group__cnt--desc {
    margin: 0;
    padding: 0 10px 0 100px;
    position: relative; 
}

.reuse-group__cnt--desc__title {
    font-size: .9375rem;
    margin: 0;
    padding: 0 0 10px 0;
    font-weight: 400;
    color: #05578b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__title {
        font-size: 1rem; 
    } 
}

.reuse-group__cnt--desc__opt {
    font-size: .8125rem; 
}

.reuse-group__cnt--desc__opt::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__cnt--desc__opt > div {
    float: left;
    cursor: pointer;
    border-radius: 3px; 
}

.reuse-group__cnt--desc__opt--det {
    margin-right: 30px;
    background-color: #f9f9f9;
    border: 1px solid #dcdbdc;
    padding: 6px;
    position: relative; 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__opt--det {
        padding: 8px; 
    } 
}

.reuse-group__cnt--desc__opt--chat {
    background-color: #05578b;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0, 0.26);
    padding: 6px 0;
    position: relative; 
}

.reuse-group__cnt--desc__opt--chat > a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 6px; 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__opt--chat > a {
        padding: 8px; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__opt--chat {
        padding: 8px 0; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__opt {
        font-size: .875rem;
        margin-top: 10px; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc {
        padding: 0 10px 0 170px;
        margin: 10px 0; 
    } 
}

.reuse-group__footer {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-size: .8125rem;
    border-top: 1px solid  #e9ebf2; 
}

.reuse-group__footer::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__footer li {
    float: left;
    width: 50%;
    text-align: center;
    color: #182427;
    padding: 15px 0;
    margin: 0; 
}

.reuse-group__footer li:first-child {
    border-right: 1px solid rgba(233,235,242, .9); 
}

.reuse-group__footer--status, .reuse-group__footer--users {
    position: relative; 
}

.reuse-group__footer--status__wrapper, .reuse-group__footer--users__wrapper {
    background-color: #fff;
    width: 74px;
    margin: 0 auto;
    position: relative;
    padding-left: 40px; 
}

.reuse-group__footer--status__icn, .reuse-group__footer--users__icn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0; 
}

.reuse-group__footer--status__icn--on, .reuse-group__footer--users__icn--on {
    width: 8px;
    height: 8px;
    background-color: #16cf27;
    position: absolute;
    right: -2px;
    bottom: 4px;
    border-radius: 8px;
    border: 1px solid #dcdbdc; 
}

@media (min-width: 530px) {

    .reuse-group__footer {
        font-size: .875rem; 
    } 
}

.reuse-group__acc {
    width: 100%;
    position: relative;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 40px; 
}

.reuse-group__acc--wrapper {
    position: relative;
    width: 250px;
    padding-left: 100px;
    margin: 0 auto; 
}

.reuse-group__acc--icn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: .9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-group__acc--cnt {
    text-align: left;
    font-size: .9375rem;
    padding:  0;
    margin: 0;
    position: relative; 
}

.reuse-group__acc--cnt__title {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400; 
}

.reuse-group__acc--cnt__title--add-grp {
    text-align: center;
    margin-bottom: 10px; 
}

.reuse-group__acc--cnt > ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.reuse-group__acc--cnt > ul::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__acc--cnt > ul > li {
    float: left;
    padding: 3px 0; 
}

.reuse-group__acc--cnt > ul > li > a {
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    font-weight: 300;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .45); 
}

.reuse-group__acc--cnt__wrapper {
    position: relative; 
}

.reuse-group__acc--cnt__wrapper > li {
    width: 100%;
    text-align: center; 
}

.reuse-group__acc--cnt__login {
    background-color: #e9ebf2;
    color: #182427; 
}

.reuse-group__acc--cnt__sign {
    background-color: #0284a8;
    color: #fff;
    margin: 0 0 0 20px; 
}

.reuse-group__acc--cnt__add-grp {
    background-color: #0284a8;
    color: #fff; 
}

@media (min-width: 530px) {

    .reuse-group {
        margin: 40px 0px 60px 0px;
        padding: 0 20px; 
    } 
}

.reuse-group__filter {
    position: relative;
    font-size: .8125rem;
    margin: 20px 15px 10px 15px;   
    padding: 0;
}

.reuse-group__filter::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__filter--srt {
    float: left; 
}

.reuse-group__filter--srt__title {
    border: 1px solid rgba(5,87,139, .2);
    border-top: 3px solid #05578b;
    color: #182427;
    margin: 0;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255); 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__title {
        padding: 10px 20px; 
    } 
}

@media (min-width: 1010px) {

    .reuse-group__filter--srt__title {
        margin-left: 10px; 
    } 
}

.reuse-group__filter--srt__wrapper {
    position: absolute;
    width: 100%;
    background-color: #fff;
    color: #182427;
    font-size: .875rem;
    box-shadow: 0 1px 6px 2px rgba(51, 51, 51, .2);
    -o-box-shadow: 0 1px 6px 2px rgba(51, 51, 51, .2);
    -webkit-box-shadow: 0 1px 6px 2px rgba(51, 51, 51, .2);
    -moz-box-shadow: 0 1px 6px 2px rgba(51, 51, 51, .2);
    -ms-box-shadow: 0 1px 6px 2px rgba(51, 51, 51, .2);
    left: 0;
    top: 0;
    border-radius: 3px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .3s ease-out; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__wrapper {
        top: 5px; 
    } 
}

.reuse-group__filter--srt__wrapper--visible {
    visibility: visible;
    z-index: 2;
    opacity: 1;
    transition: all .3s ease-out; 
}

.reuse-group__filter--srt__srch {
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: #fff; 
}

.reuse-group__filter--srt__srch::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__filter--srt__srch--wrapper {
    position: relative;
    border: 1px solid #dcdbdc;
    border-radius: 2px; 
}

.reuse-group__filter--srt__srch--calend {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f9fafb;
    padding: 0 30px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-right: 1px solid #dcdbdc;
    cursor: pointer; 
}

.reuse-group__filter--srt__srch--input {
    width: 100%;
    padding: 10px 10px 10px 80px;
    font-size: .8125rem;
    border: none;
    border-left: 1px solid #dcdbdc; 
}

/* outline: none; */

@media (min-width: 530px) {

    .reuse-group__filter--srt__srch--input {
        padding: 13px 10px 13px 80px;
        font-size: .875rem; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__srch {
        padding: 20px 20px 0 20px; 
    } 
}

.reuse-group__filter--srt__fnd {
    width: 100%;
    padding: 15px 10px 0 10px; 
}

.reuse-group__filter--srt__fnd::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__filter--srt__fnd--wrapper {
    float: none; 
}

.reuse-group__filter--srt__fnd--wrapper::after {
    content: "";
    clear: both;
    display: table; 
}

@media (min-width: 380px) {

    .reuse-group__filter--srt__fnd--wrapper {
        float: left; 
    } 
}

.reuse-group__filter--srt__fnd--title {
    float: left;
    padding: 5px 0;
    font-size: .8125rem;

    /* width: 100px; */
    text-align: center;
    position: relative;
    top: 1px;
    margin-right: 10px; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__fnd--title {
        font-size: .875rem;
        width: 100px;
        margin-right: 0; 
    } 
}

.reuse-group__filter--srt__fnd--total {
    float: left;
    padding: 5px 12px;
    background-color: #05578b;
    color: #fff;
    border-radius: 3px;
    font-size: .8125rem;
    box-shadow: 0px 2px rgba(2,132,168, .2);
    -o-box-shadow: 0px 2px rgba(2,132,168, .2);
    -ms-box-shadow: 0px 2px rgba(2,132,168, .2);
    -webkit-box-shadow: 0px 2px rgba(2,132,168, .2);
    -moz-box-shadow: 0px 2px rgba(2,132,168, .2);
    margin-right: 20px;
    cursor: pointer; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__fnd--total {
        font-size: .875rem;
        padding: 5px 20px; 
    } 
}

.reuse-group__filter--srt__fnd--more {
    text-align: center;
    font-size: .8125rem;
    color: rgba(0,0,0, .7);
    background-color: #f9fafb;
    border: 1px solid #e9ebf2;
    float: none;
    width: 100%;
    position: relative;
    top: 14px;
    font-style: italic; 
}

@media (min-width: 380px) {

    .reuse-group__filter--srt__fnd--more {
        float: left;
        width: 50%;
        top: 4px; 
    } 
}

@media (min-width: 800px) {

    .reuse-group__filter--srt__fnd--more {
        width: 60%;
        font-size: .9375rem;
        top: 2px;
        left: auto; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__fnd {
        padding: 20px 20px 0 20px; 
    } 
}

.reuse-group__filter--srt__cnt-wrapper {
    padding-left: 10px;
    padding-top: 30px; 
}

.reuse-group__filter--srt__cnt-wrapper::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__filter--srt__cnt-wrapper > div {
    padding-right: 10px; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__cnt-wrapper > div {
        padding-right: 30px; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__cnt-wrapper {
        padding-left: 30px; 
    } 
}

.reuse-group__filter--srt__cnt {
    float: none;
    width: 70%;
    margin: 0 auto; 
}

.reuse-group__filter--srt__cnt--title {
    font-weight: 400;
    padding: 8px 0;
    border: 1px solid #dcdbdc;
    border-bottom: none;
    margin: 0;
    font-size: .8125rem;
    position: relative;
    background-color: #f9f9f9; 
}

.reuse-group__filter--srt__cnt--title__status {
    width: 8px;
    height: 8px;
    background-color: #16cf27;
    position: absolute;
    right: -2px;
    bottom: 4px;
    border-radius: 8px;
    border: 1px solid #dcdbdc; 
}

.reuse-group__filter--srt__cnt--title__wrapper {
    width: 80px;
    margin: 0 auto;
    position: relative;
    padding-left: 40px; 
}

.reuse-group__filter--srt__cnt--title__wrapper > div {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__cnt--title {
        font-size: .875rem; 
    } 
}

.reuse-group__filter--srt__cnt--opt {
    z-index: 1;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px 0;
    border: 1px solid #dcdbdc;
    font-size: .8125rem; 
}

.reuse-group__filter--srt__cnt--opt::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__filter--srt__cnt--opt ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #182427; 
}

.reuse-group__filter--srt__cnt--opt ul::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__filter--srt__cnt--opt ul li {
    float: left;
    padding: 8px 0;
    text-align: center; 
}

.reuse-group__filter--srt__cnt--opt ul li > span {
    margin-right: 5px; 
}

.reuse-group__filter--srt__cnt--opt ul li:first-child {
    width: 45%; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__cnt--opt ul li:first-child {
        width: 50%; 
    } 
}

.reuse-group__filter--srt__cnt--opt ul li:last-child {
    width: 55%; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__cnt--opt ul li:last-child {
        width: 50%; 
    } 
}

.reuse-group__filter--srt__cnt--opt ul:hover  {
    background-color: #dcdbdc;
    color: #182427 !important;
    cursor: pointer; 
}

@media (min-width: 530px) {

    .reuse-group__filter--srt__cnt--opt {
        font-size: .875rem; 
    } 
}

@media (min-width: 380px) {

    .reuse-group__filter--srt__cnt {
        float: left;
        margin: 0;
        width: 50%; 
    } 
}

.reuse-group__filter--srt__categ {
    position: relative;
    color: #182427;
    width: 160px;
    margin: 0 auto 20px auto;
    cursor: pointer;
    text-align: left;
    font-size: .8125rem; 
}

.reuse-group__filter--srt__categ--title {
    padding: 8px 0;
    background-color: #dcdbdc;
    border-radius: 3px;
    border: 1px solid #dcdbdc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; 
}

.reuse-group__filter--srt__categ--opt {
    list-style: none;
    margin: 1px 0 0 0;
    padding: 3px  0;
    width: 100%;
    border: 1px solid #dcdbdc;
    display: none;
    visibility: hidden;
    z-index: 1;
    transition: all .3s ease-in; 
}

.reuse-group__filter--srt__categ--opt li {
    padding: 8px 0 8px 4px;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; 
}

.reuse-group__filter--srt__categ--opt li:hover {
    background-color: #e9ebf2;
    color: #182427; 
}

.reuse-group__filter--srt__categ--opt__visible {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: all .3s ease-in; 
}

.reuse-group__filter--srt__btn {
    font-size: .875rem;
    color: #fff !important;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    border-top: 1px solid #dcdbdc;
    padding: 15px 0 15px 0;
    text-align: center; 
}

.reuse-group__filter--srt__btn > span {
    text-align: center;
    cursor: pointer;
    border-radius: 3px; 
}

.reuse-group__filter--srt__btn--ok {
    background-color: #05578b;
    box-shadow: 0px 2px rgba(2,132,168, .2);
    -o-box-shadow: 0px 2px rgba(2,132,168, .2);
    -ms-box-shadow: 0px 2px rgba(2,132,168, .2);
    -webkit-box-shadow: 0px 2px rgba(2,132,168, .2);
    -moz-box-shadow: 0px 2px rgba(2,132,168, .2);
    padding: 5px 20px; 
}

@media (min-width: 335px) {

    .reuse-group__filter--srt__btn--ok {
        padding: 5px 40px; 
    } 
}

.reuse-group__filter--srt__btn--cancel {
    color: #182427;
    font-weight: 400;
    margin-right: 10px;
    border: 1px solid rgba(242,38,19, .4);
    padding: 5px 20px;
    background-color: #f9fafb; 
}

@media (min-width: 335px) {

    .reuse-group__filter--srt__btn--cancel {
        margin-right: 40px;
        margin-left: 0;
        padding: 5px 20px; 
    } 
}

.reuse-group__filter--add-grp {
    float: left;
    color: #fff;
    margin: 0;
    margin-left: 10px;
    position: relative;
    top: 0px;
    padding: 9px 10px;
    margin-right: 0px;
    text-align: center;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: #15a4fa;
    box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.53);
    cursor: pointer; 
}

@media (min-width: 335px) {

    .reuse-group__filter--add-grp {
        margin-left: 0;
        top: 0;
        float: right; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__filter--add-grp {
        margin-top: 0;
        padding: 12px 20px; 
    } 
}

.reuse-group__filter--categ {
    border: 1px solid rgba(21,164,250, .2);
    border-top: 3px solid #15a4fa;
    color: #182427;
    margin: 0;
    position: relative;
    padding: 7px 15px;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    margin-right: 10px;
    display: none; 
}

.reuse-group__filter--categ__opt {
    position: absolute;
    list-style: none;
    padding: 3px 0;
    width: 100%;
    box-shadow: 0 1px 2px 1px rgba(2,132,168, .6);
    -o-box-shadow: 0 1px 2px 1px rgba(2,132,168, .6);
    -ms-box-shadow: 0 1px 2px 1px rgba(2,132,168, .6);
    -webkit-box-shadow: 0 1px 2px 1px rgba(2,132,168, .6);
    -moz-box-shadow: 0 1px 2px 1px rgba(2,132,168, .6);
    color: #182427;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    top: 15px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .3s ease-in; 
}

.reuse-group__filter--categ__opt li {
    padding: 8px 0 8px 4px;
    background-color: #fff;
    white-space: nowrap;
    cursor: pointer; 
}

.reuse-group__filter--categ__opt li:hover {
    background-color: #e9ebf2;
    color: #182427; 
}

.reuse-group__filter--categ__opt--visible {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition: all .3s ease-in; 
}

@media (min-width: 335px) {

    .reuse-group__filter--categ {
        display: block; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__filter--categ {
        padding: 10px 15px; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__filter {
        margin: 20px 20px 10px 20px; 
    } 
}

.icon__site-main__content--tab {
    margin-right: 5px; 
}

.icon__reuse-group--filter__angle {
    color: #182427;
    margin-left: 5px; 
}

.icon__reuse-group--filter__grp {
    color: #05578b; 
}

.icon__reuse-group--filter__user {
    color: rgba(0,0,0, .55); 
}

.icon__reuse-group--filter__alt--categ {
    margin-left: 5px; 
}

.icon__reuse-group--filter__categ {
    position: relative;
    margin-left: 5px; 
}

.icon__reuse-group--filter__calend {
    font-size: 1rem;
    position: relative;
    color: rgba(0,0,0, .6);
    cursor: pointer; 
}

.icon__reuse-group--acc__grp {
    font-size: 1.875rem;
    color: #dcdbdc; 
}

.icon__reuse-group--header__calend {
    margin-right: 5px;
    color: rgba(5,87,139, .6); 
}

.icon__reuse-group--cnt__add {
    font-size: .625rem;
    color: rgba(5,87,139, .6); 
}

.icon__reuse-group--cnt__det {
    color: #182427;
    margin-right: 5px; 
}

.icon__reuse-group--cnt__comment {
    margin-right: 10px;
    color: #fff; 
}

.icon__reuse-group--footer__users {
    color: #05578b; 
}

.icon__reuse-group--footer__users-on {
    color: rgba(0,0,0, .55); 
}

.active__main {
    color: #fff;
}

.active__main--shareme {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25); 
}

.active__main--shareme > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center; 
}

@media (min-width: 530px) {

    .active__main--shareme {
        right: 8px;
        top: 4px; 
    } 
}

.active__main--chat {
    top: -10px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25); 
}

.active__main--chat > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center; 
}

@media (min-width: 530px) {

    .active__main--chat {
        right: -20px; 
    } 
}