.active__main {
    color: #fff;
}

.active__main--exam {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    top: 4px;
    right: 0px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);
}

.active__main--exam > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
}

@media (min-width: 530px) {

    .active__main--exam {
        right: 8px;
        top: 4px;
    }
}

.reuse-share {
    font-style: normal;
}

.reuse-share__icn {
    position: absolute;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: #437da3;
    right: 0;
    top: -6px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__icn:hover {
    transform: rotate(-90deg);
    transition: all .3s ease-in;
}

.reuse-share__icn--rotate {
    transform: rotate(-90deg);
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-share__icn {
        border-radius: 15px;
        height: 30px;
        width: 30px;
        top: -10px;
        right: 0px;
    }
}

.reuse-share__wrapper {
    position: absolute;
    right: 35px;
    top: -10px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    padding: 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__wrapper::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -20px;
    border-color: transparent;
    border-width: 10px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-share__wrapper::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -22px;
    border-color: transparent;
    border-width: 11px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-share__wrapper--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-out;
}

@media (min-width: 530px) {

    .reuse-share__wrapper {
        right: 40px;
        top: -15px;
    }
}

.reuse-share__title {
    padding: 10px 30px;
    background-color: #0284a8;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    font-size: .8125rem;
    position: relative;
}

.reuse-share__social-icn {
    padding: 10px 25px 0 25px;
    background-color: #fff;
    position: relative;
}

.reuse-share__social-icn::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-share__content {
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__content--search {
    color: #182427;
    width: 100%;
    padding-right: 5px;
    font-size: .8125rem;
}

.reuse-share__content--search__cnt {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdbdc;
    background-color: #fff;
}

.reuse-share__content--user {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    height: 9rem;
    margin: 10px 0;
    border-top: 1px solid #dcdbdc;
    border-bottom: 1px solid #dcdbdc;
    padding: 10px 5px 0 0;
}

.reuse-share__content--user__wrapper {
    margin-bottom: 10px;
    border: 1px solid #dcdbdc;
    padding: 0 2px;
    font-size: .8125rem;
    color: #182427;
    position: relative;
}

.reuse-share__content--user__wrapper--selec {
    border: 1px solid rgba(22,207,39, .5);
    transition: all .7s ease-out;
}

.reuse-share__content--user__wrapper--border-hov {
    border: 1px solid rgba(22,207,39, .5);
    transition: all .3s ease-out;
}

.reuse-share__content--user__hov-icn {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__content--user__hov-icn--visible {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transition: all .3s ease-out;
}

.reuse-share__content--user__clk-icn {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__content--user__clk-icn--visible {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transition: all .7s ease-out;
}

.reuse-share__content--user__img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #15a4fa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 2px;
}

.reuse-share__content--user__img--status  {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottom: 5px;
    left: 80%;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2);
}

.reuse-share__content--user__img--status__on {
    background-color: #16cf27;
}

.reuse-share__content--user__img--status__off {
    background-color: #ff1600;
}

.reuse-share__content--user ul {
    margin: 0;
    padding: 0 0 0 70px;
    list-style: none;
}

.reuse-share__content--user ul li {
    margin: 0;
    padding:  5px 0 5px 25px;
    font-style: normal;
    float: none !important;
    color: #182427;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    position: relative;
    text-align: left;
}

.reuse-share__content--user ul li:first-child  {
    margin: 0;
    padding: 3px 0 0 0;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__content--user ul li:last-child {
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 3px 0 3px 25px;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__content--user ul li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e9ebf2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.reuse-share__content--user ul li a {
    color: #0284a8;
}

.reuse-share__content--user__tooltip {
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(0,0,0, .5);
    padding: 2px;
    position: absolute;
    bottom: 0;
}

.reuse-share__content--user__tooltip--ans {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    bottom: auto;
    top: 12px;
    text-align: center;
    width: 70px;
    left: 0;
}

.reuse-share__content--user__tooltip--ans__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-share__content--user__tooltip--snts {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    left: 10px;
    bottom: 2px;
}

.reuse-share__content--user__tooltip--snts__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-share__content--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    top: 50px;
    transition: all .3s ease-out;
}

.reuse-share__user-counter {
    position: absolute;
    margin: 0;
    top: 0;
    left: -94px;
    padding: 10px;
    z-index: 2;
    list-style: none;
    background-color: #fff;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    /* opacity: 0;
        visibility: hidden;
        z-index: 1; */
    transition: all .3s ease-in;
}

.reuse-share__user-counter::after {
    content: "";
    position: absolute;
    top: 23px;
    right: -23px;
    border-color: transparent;
    pointer-events: none;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    display: none;
}

@media (min-width: 530px) {

    .reuse-share__user-counter::after {
        display: block;
    }
}

.reuse-share__user-counter::before {
    content: "";
    position: absolute;
    top: 22px;
    right: -26px;
    border-color: transparent;
    pointer-events: none;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    display: none;
}

@media (min-width: 530px) {

    .reuse-share__user-counter::before {
        display: block;
    }
}

.reuse-share__user-counter li {
    float: none !important;
    width: auto !important;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: .8125rem;
    white-space: normal;
    color: #182427;
}

.reuse-share__user-counter li:first-child {
    padding: 0 0 8px 0px;
    margin-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #dcdbdc;
    position: relative;
}

.reuse-share__user-counter li > div {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    background-color: #dcdbdc;
    top: -5px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__user-counter li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reuse-share__user-counter li > ul::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-share__user-counter li > ul li {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    font-size: .75rem;
    cursor: pointer;
    float: none;
}

.reuse-share__user-counter li > ul li:first-child {
    margin: 0;
    padding: 5px 10px;
    background-color: #0284a8;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -o-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
}

.reuse-share__user-counter li > ul li:last-child {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e9ebf2;
    color: #182427;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0, 0.8);
}

.reuse-share__user-counter--number {
    margin-left: 10px;
    color: #ff1600;
    font-weight: 500;
}

.reuse-share__user-counter--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in
}

@media (min-width: 530px) {

    .reuse-share__user-counter {
        left: -104px;
    }
}

.reuse-share__user-selected {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    background-color: #fff;
    color: #182427;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all .3s ease-in;
}

.reuse-share__user-selected--mainclose {
    position: absolute;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    top: -9px;
    right: -9px;
    background-color: #fff;
    border: 1px solid #dcdbdc;
    text-align: center;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__user-selected--title {
    text-align: center;
    border-top: 1px solid #05578b;
    box-shadow: 0 2px 5px 1px rgba(0,0,0, .4);
    padding: 10px 0;
    margin: 0;
    background-color: #437da3;
    color: #fff;
    position: relative;
    border-radius: 3px;
    font-size: .8125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reuse-share__user-selected--title > div {
    position: relative;
    width: 115px;
    margin: 0 auto;
    padding-left: 20px;
}

.reuse-share__user-selected--title > div > div {
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0;
}

.reuse-share__user-selected--det {
    height: 9rem;
    margin:  0;
    padding: 10px 5px 0 5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.reuse-share__user-selected--det__wrapper {
    margin-bottom: 20px;
    border: 1px solid #dcdbdc;
    padding: 0 2px;
    font-size: .8125rem;
    color: #182427;
    position: relative;
}

.reuse-share__user-selected--det__wrapper > ul {
    margin: 0;
    padding: 0 0 0 70px;
    list-style: none;
}

.reuse-share__user-selected--det__wrapper > ul li {
    margin: 0;
    padding:  5px 0 5px 25px;
    font-style: normal;
    float: none !important;
    color: #182427;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    position: relative;
    text-align: left;
}

.reuse-share__user-selected--det__wrapper > ul li:first-child  {
    margin: 0;
    padding: 3px 0 0 0;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__user-selected--det__wrapper > ul li:last-child {
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 3px 0 3px 25px;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__user-selected--det__wrapper > ul li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e9ebf2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.reuse-share__user-selected--det__wrapper > ul li a {
    color: #0284a8;
}

.reuse-share__user-selected--det__img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #15a4fa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 2px;
}

.reuse-share__user-selected--det__img--status  {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottom: 5px;
    left: 80%;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2);
}

.reuse-share__user-selected--det__img--status__on {
    background-color: #16cf27;
}

.reuse-share__user-selected--det__img--status__off {
    background-color: #ff1600;
}

.reuse-share__user-selected--det__close {
    position: absolute;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    background-color: #e9ebf2;
    border: 1px solid #dcdbdc;
    text-align: center;
    top: -9px;
    right: -6px;
    cursor: pointer;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__user-selected--btn {
    width: 100%;
    background-color: #dcdbdc;
    color: #182427;
    padding: 8px 0;
    text-align: center;
    outline: none;
    border: none;
    border-top: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
    font-size: .875rem;
    position: relative;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.reuse-share__user-selected--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in
}

.reuse-categ {
    position: relative;
    float: left;
    border: 1px solid rgba(21,164,250, .2);
    border-top: 3px solid #15a4fa;
    color: #182427;
    margin-right: 20px;
    padding: 8px 0;
    width: 90px;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
}

.reuse-categ__opt {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    text-align: left;
    position: absolute;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    background-color: #fff;
    left: 0;
    width: 150px;
    max-height: 240px;
    overflow: hidden;
    overflow-y: auto;
    top: 35px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-categ__opt::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-categ__opt > li {
    float: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.reuse-categ__opt > li > a {
    text-decoration: none;
    color: #182427;
    display: block;
    padding: 6px 20px;
}

.reuse-categ__opt > li > a:hover {
    background-color: #0284a8;
    color: #fff;
}

.reuse-categ__opt--visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-categ {
        display: block;
    }
}

.reuse-filter {
    z-index: 2;
}

.reuse-filter__title {
    float: left;
    border: 1px solid rgba(5,87,139, .2);
    border-top: 3px solid #05578b;
    color: #182427;
    padding: 8px 0;
    margin-right: 20px;
    width: 70px;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1;
}

.reuse-filter__opt {
    position: absolute;
    top: 0;
    border: 1px solid #dcdbdc;
    background-color: #fff;
    /* -o-box-shadow: 0px 1px 10px 5px rgba($mainDarkGray, .8); */
    padding: 10px;
    width: 100%;
    font-size: .875rem;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
}

.reuse-filter__opt--srch {
    position: relative;
    background-color: #e9ebf2;
    border: 1px solid #dcdbdc;
    border-radius: 3px;
    width: 100%;
}

.reuse-filter__opt--srch > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f2f2f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align:center;
        align-items:center;
    width: 60px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #dcdbdc;
}

.reuse-filter__opt--srch__input {
    border: none;
    outline: none;
    padding: 8px 10px 8px 70px;
    border-radius: 3px;
    width: 100%;
}

@media (min-width: 530px) {

    .reuse-filter__opt--srch__input {
        padding: 12px 10px 12px 70px;
    }
}

.reuse-filter__opt--fnd {
    position: relative;
    margin: 10px 0;
    padding: 30px 0 30px 100px;
    background-color: #f9f9f9;
}

.reuse-filter__opt--fnd__title {
    position: absolute;
    /* left: 20px; */
    width: 80px;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
}

.reuse-filter__opt--fnd__title > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    background-color: #0284a8;
    box-shadow: 0 1px 3px 1px rgba(0,0,0, .75);
    color: #fff;
}

.reuse-filter__opt--fnd__alt {
    text-align: center;
    width: 100%;
    padding: 30px 10px 30px 20px;
    display: none;
}

.reuse-filter__opt--fnd__alt--wrapper {
    border: 1px solid #dcdbdc;
    background-color: #f9f9f9;
}

@media (min-width: 530px) {

    .reuse-filter__opt--fnd__alt {
        padding: 30px 40px;
    }
}

.reuse-filter__opt--cnt {
    position: relative;
    font-size: .8125rem;
    padding-left: 10px;
}

.reuse-filter__opt--cnt::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-filter__opt--cnt__wrapper {
    float: left;
    padding-right: 10px;
    margin-bottom: 20px;
}

.reuse-filter__opt--cnt__wrapper--mid {
    width: 50%;
}

@media (min-width: 800px) {

    .reuse-filter__opt--cnt__wrapper--mid {
        width: 33.333%;
    }
}

@media (min-width: 530px) {

    .reuse-filter__opt--cnt__wrapper {
        padding-right: 30px;
    }
}

.reuse-filter__opt--cnt__title {
    font-weight: 400;
    color: #182427;
    text-align: center;
    font-size: .875rem;
    padding: 3px 0;
    margin: 0;
    border: 1px solid #dcdbdc;
    background-color: #f2f2f2;
}

.reuse-filter__opt--cnt__det {
    list-style: none;
    margin: 0;
    padding: 2px 0;
    border: 1px solid #dcdbdc;
    border-top: none;
}

.reuse-filter__opt--cnt__det--categ {
    height: 84px;
    overflow: hidden;
    overflow-y: auto;
}

.reuse-filter__opt--cnt__det > li {
    float: none;
    padding: 6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.reuse-filter__opt--cnt__det > li:last-child {
    border-bottom: none;
}

.reuse-filter__opt--cnt__det > li > span {
    position: absolute;
    right: 10px;
}

@media (min-width: 530px) {

    .reuse-filter__opt--cnt__det > li > span {
        right: 20px;
    }
}

.reuse-filter__opt--cnt__det > li:hover {
    background-color: #0284a8;
    color: #fff;
}

@media (min-width: 530px) {

    .reuse-filter__opt--cnt__det > li {
        padding: 6px 20px;
    }
}

@media (min-width: 530px) {

    .reuse-filter__opt--cnt {
        padding-left: 30px;
    }
}

.reuse-filter__opt--info {
    background-color: #f9f9f9;
    font-size: .8125rem;
    display: none;
}

.reuse-filter__opt--info > h3 {
    text-align: center;
    padding: 5px 0;
    background-color: #dcdbdc;
    font-size: .875rem;
    font-weight: 400;
    margin: 0;
}

.reuse-filter__opt--info__cnt {
    list-style: none;
    margin: 0;
    padding: 14px 10px 0 10px;
}

.reuse-filter__opt--info__cnt::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-filter__opt--info__cnt > li {
    float: left;
    font-size: .8125rem;
    color: #182427;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    margin-right: 14px;
    margin-bottom: 14px;
    font-weight: 400;
    border: 1px solid #dcdbdc;
    position: relative;
}

.reuse-filter__opt--info__cnt > li > div {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    font-size: .625rem;
    border-radius: 9px;
    border: 1px solid #dcdbdc;
    background-color: #f2f2f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.reuse-filter__opt--info__visible {
    display: block;
}

.reuse-filter__opt--btn {
    padding: 5px 10px;
    margin-top: 20px;
    border-top: 1px solid #dcdbdc;
    font-size: .8125rem;
}

.reuse-filter__opt--btn::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-filter__opt--btn > button {
    position: relative;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0, .85);
}

.reuse-filter__opt--btn__cancel {
    background-color: #fff;
    color: #ff1600;
    float: left;
}

.reuse-filter__opt--btn__cancel:hover {
    background-color: #f2f2f2;
}

.reuse-filter__opt--btn__apply {
    background-color: #0284a8;
    color: #fff;
    float: right;
}

.reuse-filter__opt--btn__apply:hover {
    background-color: #05578b;
}

@media (min-width: 530px) {

    .reuse-filter__opt--btn {
        padding: 5px 30px;
    }
}

@media (min-width: 530px) {

    .reuse-filter__opt {
        padding: 20px;
    }
}

.reuse-filter__opt--visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-onlineque-filter {
    width: 100%;
    position: relative;
    padding: 10px 15px 10px 15px;  
    border-bottom: 1px solid #dcdbdc;
    
}

.reuse-onlineque-filter__wrapper {
    position: relative;
}

.reuse-onlineque-filter__wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-onlineque-filter__que {
    float: left;
    position: relative;
    border: 1px solid rgba(242,38,19, .2);
    border-top: 3px solid #f22613;
    color: #182427;
    padding: 8px 44px 8px 10px;
    text-align: right;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.reuse-onlineque-filter__que > div {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #f22613;
    color: #fff;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-onlineque-filter__add {
    float: right;
    border: 1px solid  #05578b;
    border-top: 3px solid  #05578b;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: #05578b;
    box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.53);
    cursor: pointer;
}

@media (min-width: 530px) {

    .reuse-onlineque-filter {
        padding: 20px;
    }
}

.reuse-onlineque {
    border-radius: 10px; 
    box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -o-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -ms-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3); 
    margin: 40px 15px;
}

.reuse-onlineque__header {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .875rem;
    border-bottom: 1px solid #e9ebf2;
    position: relative;
}

.reuse-onlineque__header::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-onlineque__header li {
    position: relative;
    float: right;
    padding: 10px 0;
}

.reuse-onlineque__header li:first-child {
    float: left;
}

.reuse-onlineque__header li:last-child {
    float: none;
    padding: 0;
    margin: 0;
}

.reuse-onlineque__header--quesNumber {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #f22613;
    border: 1px solid rgba(255,255,255, .3);
    text-align: center;
    top: 3px;
    left: 10px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-onlineque__header--title {
    margin-left: 45px;
}

.reuse-onlineque__header--quesTime {
    margin-right: 48px;
}

.reuse-onlineque__content {
    padding: 5px 10px;
    border-bottom: 1px solid #dcdbdc;
}

.reuse-onlineque__content--title {
    text-align: center;
    color: #0284a8;
    font-weight: 500;
    font-size: .9375rem;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reuse-onlineque__content--title a {
    text-decoration: none;
    color: #0284a8;
}

.reuse-onlineque__content--posted {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.reuse-onlineque__content--posted::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-onlineque__content--posted__user {
    float: right;
    font-size: .8125rem;
    position: relative;
    padding-left: 28px;
}

.reuse-onlineque__content--posted__user > span {
    position: relative;
}

.reuse-onlineque__content--posted__user > span > a {
    text-decoration: none;
    color: #0284a8;
}

.reuse-onlineque__content--posted__user--det {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 10px;
    background-color: #e9ebf2;
    margin-top: 5px;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-onlineque__content--posted__user--det::before, .reuse-onlineque__content--posted__user--det::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
}

.reuse-onlineque__content--posted__user--det::before {
    left: 5px;
}

.reuse-onlineque__content--posted__user--det::after {
    left: 30px;
}

.reuse-onlineque__content--posted__user--det__mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
}

.reuse-onlineque__content--posted__user--det__opt {
    position: absolute;
    list-style: none;
    top: -57px;
    right: 53px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-onlineque__content--posted__user--det__opt li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-onlineque__content--posted__user--det__opt li:first-child {
    background-color: #05578b;
    border: none;
    padding: 0;
}

.reuse-onlineque__content--posted__user--det__opt li:last-child {
    padding: 0;
    background-color: #f22613;
}

.reuse-onlineque__content--posted__user--det__opt li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.reuse-onlineque__content--posted__user--det__opt::after {
    position: absolute;
    content: "";
    top: 50px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-onlineque__content--posted__user--det__opt::before {
    position: absolute;
    content: "";
    top: 49px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-onlineque__content--posted__user--det__opt--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-out;
}

.reuse-onlineque__content--posted__user--det__clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-onlineque__content--posted__user--det {
        right: 40px;
        /* background-color: $mainDarkBlack; */
    }
}

.reuse-onlineque__content--posted__user--img {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #e9ebf2;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: -18px;
}

.reuse-onlineque__footer {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .8125rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.reuse-onlineque__footer::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-onlineque__footer li {
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #dcdbdc;
    color: #182427;
    cursor: default;
}

.reuse-onlineque__footer li:last-child {
    background-color: #0284a8;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-right: none;
}

@media (min-width: 530px) {

    .reuse-onlineque {
        margin: 40px 20px 60px 20px;
    }
}

.icon__site-main--onlineque__tab {
    margin-right: 5px;
}

.icon__site-main--onlineque__shared {
    margin-right: 5px;
}

.icon__reuse-onlineque--durationClock {
    margin-right: 3px;
    color: #0284a8;
}

.icon__reuse-onlineque--options {
    margin-right: 10px;
}

.icon__reuse-onlineque--options__dft {
    margin-right: 5px;
}

.icon__reuse-onlineque--share {
    z-index: .7;
    color: #fff;
    font-size: .75rem;
}

@media (min-width: 530px) {

    .icon__reuse-onlineque--share {
        font-size: .9375rem;
    }
}

.icon__reuse-onlineque--pen {
    margin-right: 5px;
    color: #fff;
}

.icon__reuse-onlineque--comment {
    margin-right: 5px;
    color: #000;
}

.icon__reuse-onlineque--heart {
    margin-right: 5px;
    cursor: pointer;
    color: #ff1600;
}

.icon__reuse-onlineque--time {
    margin-right: 3px;
    /* color: $mainFontColor; */
    color: #15a4fa;
}

.icon__reuse-share--title {
    margin-left: 20px;
}

.icon__reuse-share--googleplus {
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #f22613;
    float: right;
}

.icon__reuse-share--facebook {
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #15a4fa;
    float: left;
}

.icon__reuse-share--icn {
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: .75rem;
}

@media (min-width: 530px) {

    .icon__reuse-share--icn {
        font-size: .9375rem;
    }
}

.icon__reuse-share--selec {
    color: #16cf27;
}

.icon__reuse-share--content-ans {
    font-size: .625rem;
    color: #15a4fa;
}

.icon__reuse-share--content-snts {
    font-size: .625rem;
    color: #05578b;
}

.icon__reuse-share--share {
    margin-right: 5px;
}

.icon__reuse-share--view {
    margin-right: 5px;
}

.icon__reuse-share--user {
    color: #182427;
    font-size: .75rem;
}

.icon__reuse-share--mainclose {
    font-size: .75rem;
    color: rgba(0,0,0, .6);
}

.icon__reuse-share--close {
    font-size: .625rem;
    color: #ff1600;
}

.icon__reuse-share--user-selec__user {
    color: #0284a8;
    font-size: .625rem;
}

.icon__reuse-share--reset {
    color: #ff1600;
    margin-right: 5px;
    font-size: .875rem;
    position: relative;
    top: 1px;
}

.icon__reuse-onlineque-filter--que, .icon__reuse-onlineque-filter--writ {
    color: #15a4fa;
    margin-right: 5px;
}

.icon__reuse-onlineque-filter--tm, .icon__reuse-onlineque-filter--fav {
    color: #ff1600;
    margin-right: 5px;
}

.icon__reuse-onlineque-filter--type, .icon__reuse-onlineque-filter--comment {
    color: #182427;
    margin-right: 5px;
}

.icon__reuse-categ--angle {
    margin-left: 5px;
    color: #182427;
    font-size: .75rem;
}

.icon__reuse-filter--angle {
    margin-left: 5px;
    color: #182427;
    font-size: .75rem;
}

.icon__reuse-filter--calend {
    font-size: 1rem;
    color: rgba(0,0,0, .6);
    cursor: pointer;
}

.icon__reuse-filter--categ {
    color: #182427;
    margin-right: 10px;
}

.icon__reuse-filter--apply {
    color: #fff;
    margin-right: 5px;
}

.icon__reuse-filter--cancel {
    color: #ff1600;
    margin-right: 5px;
}

.icon__reuse-filter--close {
    color: #ff1600;
}  