.active__main {
    color: #fff;
}

.active__main--shareme {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);
}

.active__main--shareme > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
}

@media (min-width: 530px) {

    .active__main--shareme {
        right: 8px;
        top: 4px;
    }
}

.icon__site-main--content__tab--clone {
    margin-right: 5px;
}

.icon__site-main--content__tab--share {
    margin-right: 5px;
}

.icon__reuse-pt-filter--comment {
    color: #15a4fa;
    margin-right: 5px;
}

.icon__reuse-pt-filter--view {
    color: #182427;
    margin-right: 5px;
}

.icon__reuse-pt-filter--fav {
    color: #ff1600;
    margin-right: 5px;
}

.reuse-pt-filter {
    width: 100%;
    position: relative;
    padding: 10px 15px 10px 15px;  
    border-bottom: 1px solid #dcdbdc;
    
}

.reuse-pt-filter__wrapper {
    position: relative;
}

.reuse-pt-filter__wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-pt-filter__pt {
    float: left;
    position: relative;
    border: 1px solid rgba(242,38,19, .2);
    border-top: 3px solid #f22613;
    color: #182427;
    padding: 8px 44px 8px 10px;
    text-align: right;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.reuse-pt-filter__pt > div {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #f22613;
    color: #fff;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-pt-filter__add {
    float: right;
    border: 1px solid  #15a4fa;
    border-top: 3px solid  #15a4fa;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: #15a4fa;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0, 0.53);
    cursor: pointer;
}

@media (min-width: 530px) {

    .reuse-pt-filter {
        padding: 20px;
    }
}
  