.icon--rotate svg {
    transform: rotate(180deg);
    transition: all .3s ease-out;

}

.icon__site-header--search {
    display: inline;
    font-size: .875rem;
    color: #777;

}

.icon__site-header--search:hover {
    color: #134df2;

}

.icon__site-header--favorites {
    position: absolute;
    font-size: .875rem;
    top: 25%;
    transform: translate(-50%);
    color: #ff1600;

}

@media (min-width: 530px) {

    .icon__site-header--favorites {
        font-size: .875rem;
        top: 25%;

    }

}

@media (min-width: 800px) {

    .icon__site-header--favorites {
        font-size: 1rem;
        top: 25%;

    }

}

@media (min-width: 1010px) {

    .icon__site-header--favorites {
        font-size: 1.2rem;
        top: 25%;

    }

}

.icon__site-header--shares {
    font-size: .875rem;
    position: absolute;
    top: 25%;
    transform: translate(-50%);
    color: #15a4fa;

}

@media (min-width: 530px) {

    .icon__site-header--shares {
        font-size: .875rem;
        top: 25%;

    }

}

@media (min-width: 800px) {

    .icon__site-header--shares {
        font-size: 1rem;
        top: 22%;

    }

}

@media (min-width: 1010px) {

    .icon__site-header--shares {
        font-size: 1rem;
        top: 25%;

    }

}

.icon__site-header--addNew {
    position: absolute;
    font-size: .875rem;
    top: 25%;
    transform: translate(-55%);
    color: #fff;
    right: 2px;

}

@media (min-width: 530px) {

    .icon__site-header--addNew {
        font-size: .875rem;
        top: 25%;

    }

}

@media (min-width: 800px) {

    .icon__site-header--addNew {
        font-size: .875rem;
        top: 25%;

    }

}

@media (min-width: 1010px) {

    .icon__site-header--addNew {
        transform: translate(-50%);
        font-size: .9375rem;
        top: 25%;

    }

}

.icon__site-header--bell {
    position: absolute;
    font-size: .875rem;
    top: 25%;
    transform: translate(-50%);
    color: #777;

}

@media (min-width: 530px) {

    .icon__site-header--bell {
        font-size: .895rem;
        top: 25%;

    }

}

@media (min-width: 800px) {

    .icon__site-header--bell {
        font-size: 1rem;
        top: 22%;

    }

}

@media (min-width: 1010px) {

    .icon__site-header--bell {
        font-size: 1.2rem;
        top: 25%;

    }

}

.icon__site-header--list {
    position: absolute;
    font-size: .875rem;
    top: 25%;
    transform: translate(-50%);
    color: #777;

}

@media (min-width: 530px) {

    .icon__site-header--list {
        font-size: .875rem;
        top: 25%;

    }

}

@media (min-width: 800px) {

    .icon__site-header--list {
        font-size: 1rem;
        top: 22%;

    }

}

@media (min-width: 1010px) {

    .icon__site-header--list {
        font-size: 1rem;
        top: 25%;

    }

}

.icon__site-header--login {
    font-size: .875rem;
    color: #E4DEDE;
    display: none;

}

@media (min-width: 1010px) {

    .icon__site-header--login {
        margin: 0 .25rem 0 0;
        display: inline;

    }

}

.icon--bars {
    display: block;
    font-size: .875rem;

}

@media (min-width: 800px) {

    .icon--bars {
        display: none;

    }

}

.icon--search-mini {
    font-size: .875rem;

}

@media (min-width: 530px) {

    .icon--search-mini {
        display: none;

    }

}

.icon__site-header--miniForm__close {
    font-size: .8125rem;
    color: #777;

}

.icon__site-header--notification__clock {
    position: absolute;
    font-size: .875rem;
    top: 5px;
    right: 5px;
    color: #dcdbdc;
    cursor: pointer;

}

.icon__site-header--notification--circle {
    font-size: .35rem;
    color: #dcdbdc;
    margin-left: .125rem;

}

.icon__site-header--notification__settings {
    color: #0284a8;
    font-size: .5rem;
    position: absolute;
    top: 25%;
    transform: translate(-50%);

}

.icon__site-header__menu--notification--details__icon {
    font-size: .8125rem;

}

.icon__site-header__menu--notification--details__eye {
    font-size: .75rem;

}

.icon__site-header__menu--notification--details__heart {
    font-size: .75rem;
    cursor: pointer;

}

.icon__site-header__menu--notification--details__comment {
    font-size: .75rem;
    cursor: pointer;

}

.icon__site-header--notifcation__viewLater {
    font-size: .8125rem;

}

.icon__site-header__menu--nav-icon {
    font-size: .8125rem;
    color: #777;
    margin-right: 3px;

}

.icon__site-header--menu__user--icons {
    font-size: .8125rem;
    color: #777;
    margin-right: 10px;

}

@media (min-width: 530px) {

    .icon__site-header--menu__user--icons {
        font-size: .875rem;

    }

}

.icon__site-main--prf-main__user--comment {
    color: #ff1600;

}

.icon__site-main--prf-main__user--add {
    color: #16cf27;

}

.icon__site-main__prf-main--tab__snt {
    color: #0284a8;

}

.icon__site-main__prf-main--tab__onlineque {
    color: #ff1600;

}

.icon__site-main__prf-main--tab__que {
    color: #0284a8;

}

.icon__site-main__prf-main--tab__post {
    color: #05578b;

}

.icon__site-main__prf-main--tab__group {
    color: #16cf27;

}

.icon__site-main__prf-main--tab__itm {
    color: #fff;

}

.icon__site-main__prf-main--tab__header {
    font-size: .75rem;
    color: #ff1600;

}

.active__main {
    position: absolute;
    background-color: #f22613;
    color: #fff;
    font-size: .875rem;

}

.active__main--header {
    z-index: 1;
    top: -10px;
    right: -4px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(255,255,255, .25);
    overflow: hidden;

}

.active__main--header > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: .75rem;

}

@media (min-width: 800px) {

    .active__main--header > div {
        font-size: .8125rem;

    }

}

@media (min-width: 1010px) {

    .active__main--header {
        border-radius: 10px;
        width: 20px;
        height: 20px;

    }

}

.active__main--req {
    top: 12px;
    right: 25%;
    width: 20px;
    height: 20px;
    font-size: .75rem;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--req > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 335px) {

    .active__main--req {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        top: 4px;
        right: 0px;
        font-size: .8125rem;

    }

}

@media (min-width: 530px) {

    .active__main--req {
        right: 8px;
        top: 4px;

    }

}

.reuse-prf {
    width: 100%;
}

.reuse-prf__user {
    position: relative;
    padding: 0;
    margin-top: 25px;
    background-color: rgba(67,125,163, 1);
    box-shadow: 0 0 1px  0 rgba(0,0,0, .5);

}

.reuse-prf__user--img {
    position: relative;
    padding: 5px 0;

}

.reuse-prf__user--img__wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0, 0.4);
    margin: 0 auto;

}

@media (min-width: 530px) {

    .reuse-prf__user--img__wrapper {
        top: 5px;
        left: 20px;
        margin: 0;

    }

}

.reuse-prf__user--img__status {
    position: absolute;
    padding-left: 20px;
    font-weight: 300;
    font-size: .8125rem;
    width: 70px;
    top: 5px;
    right: 20px;
    color: #e9ebf2;

}

.reuse-prf__user--img__status > div {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.reuse-prf__user--img__status--on {
    background-color: #16cf27;
    box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);

}

.reuse-prf__user--img__status--off {
    background-color: #ff1600;
    box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);

}

@media (min-width: 530px) {

    .reuse-prf__user--img__status {
        bottom: -26%;
        left: 32%;
        right: auto;
        top: auto;

    }

}

@media (min-width: 530px) {

    .reuse-prf__user--img {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;

    }

}

.reuse-prf__user--det {
    font-size: 1rem;
    background-color: #437da3;
    /* box-shadow: -2px 0 2px 0 rgba($mainDarkBlack, .3); */
    border-right: 1px solid #437da3;
    border-left: 1px solid #437da3;

}

.reuse-prf__user--det__name {
    color: #fff;
    text-shadow: 1px 1px 2px  #000;
    padding: 8px 20px;
    border-bottom: 1px solid rgba(5,87,139, .8);
    box-shadow: 0 2px 15px 2px rgba(220,219,220,.8);
    border-left: 1px solid rgba(5,87,139, .8);

}

.reuse-prf__user--det__exp {
    list-style: none;
    margin: 10px 0 0 0;
    width: 100%;
    padding: 5px 10px 10px 20px;
    position: relative;
    font-size: .875rem;

}

.reuse-prf__user--det__exp::after {
    content: "";
    clear: both;
    display: table;

}

.reuse-prf__user--det__exp > li {
    float: left;
    font-size: .8125rem;
    /* background-color: rgba($mainDarkBlack, .2); */
    color: #182427;
    background-color: #e9ebf2;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 6px;
    font-weight: 400;
    border-bottom: 1px solid #dcdbdc;

}

.reuse-prf__user--det__exp > li:first-child {
    background-color: rgba(0,0,0, .2);
    color: #fff;
    border-bottom: none;
    border-radius: 0;
    font-weight: 300;
    font-size: .875rem;
    padding: 1.5px 8px;

}

.reuse-prf__user--det__opt {
    border-left: 1px solid rgba(5,87,139, .8);
    border-top: 1px solid rgba(5,87,139, .8);
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
    font-size: .8125rem;
    box-shadow: 0 2px 15px 2px rgba(220,219,220,.8);

}

.reuse-prf__user--det__opt::after {
    content: "";
    clear: both;
    display: table;

}

.reuse-prf__user--det__opt > li {
    position: relative;
    float: left;
    padding: 5px 10px 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0;

}

.reuse-prf__user--det__opt > li:first-child {
    margin-right: 40px;
    color: #fff;

}

.reuse-prf__user--det__opt > li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-size: .5rem;
    border: 1px solid rgba(0,0,0, .3);
    top: 50%;
    transform: translateY(-50%);
    left: 5px;

}

.reuse-prf__user--det__opt--chat {
    background-color: rgba(0,0,0, .2);
    box-shadow: 0 2px 2px 0 rgba(233,235,242, .5);

}

.reuse-prf__user--det__opt--add {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .5);

}

@media (min-width: 530px) {

    .reuse-prf__user {
        padding: 0 0 0 140px;
        margin-top: 5px;

    }

}

@media (min-width: 1010px) {

    .reuse-prf__user {
        margin-top: 15px;

    }

}

.reuse-prf__about {
    position: relative;
    font-size: .875rem;
    background-color: #f9f9f9;
    border: 1px solid #dcdbdc;
    text-align: center;
    padding: 20px 10px 20px 10px;

}

.reuse-prf__about--title {
    text-align: center;
    padding: 5px 20px;
    background-color: #e9ebf2;
    border-radius: 10px;
    font-weight: 400;
    color: rgba(5,87,139, .8);
    border-bottom: 1px solid rgba(0,0,0, .2);

}

.reuse-prf__about--cnt {
    padding: 10px;
    background-color: rgba(233,235,242, 1);
    /* background-color: rgba($mainDarkBlack, .5); */
    color: rgba(0,0,0, .7);
    border: 1px solid rgba(0,0,0, .1);
    font-size: .9375rem;
    font-weight: 600;
    line-height: 2;
    border-radius: 3px;

}

.reuse-prf__tab {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #05578b;
    font-weight: 300;
    position: relative;

}

.reuse-prf__tab::after {
    content: "";
    clear: both;
    display: table;

}

.reuse-prf__tab li {
    float: left;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 11px 35px;
    position: relative;
    font-size: .9375rem;

}

.reuse-prf__tab li:first-child {
    border-right: 1px solid rgba(255,255,255, .45);

}

.reuse-prf__tab li > div {
    width: 24px;
    height: 24px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 12px;
    left: 5px;

}

@media (min-width: 800px) {

    .reuse-prf__tab li {
        padding: 10px 35px;

    }

}

.reuse-prf__det {
    position: relative;
    background-color: #437da3;
    margin-bottom: 10px;
    box-shadow: inset 0 0 0 1px rgba(5,87,139, 1);
    font-size: .875rem;

}

.reuse-prf__det--wrapper {
    padding: 15px 10px 15px 0;
    position: relative;
    border-bottom: 1px solid #dcdbdc;

}

.reuse-prf__det--icn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    left: 20px;
    border: 1px solid #e9ebf2;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;

}

.reuse-prf__det--icn__itm {
    background-color: #ff1600;

}

.reuse-prf__det--cnt {
    list-style: none;
    margin: 0;
    padding: 0 0 0 80px;

}

.reuse-prf__det--cnt::after {
    content: "";
    clear: both;
    display: table;

}

.reuse-prf__det--cnt > li {
    float: none;
    padding: 6px 0;
    color: #fff;
    font-weight: 300;

}

.reuse-prf__det--cnt > li > span {
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 20px;
    cursor: pointer;

}

.reuse-prf__det--cnt__sntaccept {
    position: relative;

}

.reuse-prf__det--cnt__sntaccept > span {
    background-color: #fff;
    color: #16cf27;
    font-weight: 600;
    border: 1px solid rgba(220,219,220, 1);

}

.reuse-prf__det--cnt__sntreject {
    position: relative;

}

.reuse-prf__det--cnt__sntreject > span {
    background-color: #f9f9f9;
    color: #182427;

}

.reuse-prf__det--cnt__onlineque {
    position: relative;

}

.reuse-prf__det--cnt__onlineque > span {
    background-color: #ff1600;
    color: #fff;

}

.reuse-prf__det--cnt__que {
    position: relative;

}

.reuse-prf__det--cnt__que > span {
    background-color: #f9f9f9;
    color: #0284a8;

}

.reuse-prf__det--cnt__pt {
    position: relative;

}

.reuse-prf__det--cnt__pt > span {
    background-color: #f9f9f9;
    color: #05578b;

}

.reuse-prf__det--cnt__grp {
    position: relative;

}

.reuse-prf__det--cnt__grp > span {
    background-color: #16cf27;
    color: #fff;

}

.reuse-prf__det--cnt__itm {
    position: relative;

}

.reuse-prf__det--cnt__itm > span {
    background-color: #ff1600;
    color: #fff;

}

.reuse-trd {
    position: relative;
}

.reuse-trd__nav {
    margin: 10px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    border: 1px solid #dcdbdc;
    /* box-shadow: 0 0 .2px .2px rgba($mainDarkBlack, .2); */

}

.reuse-trd > h3 {
    padding: 5px 20px;
    font-size: 1rem;
    background-color: #dcdbdc;
    margin: 0 0 0 0;
    font-weight: 400;
    box-shadow: 0 .5px 1px 0px rgba(0,0,0, .2);

}

.reuse-trd__cnt {
    padding: 0;

}

.reuse-trd__cnt--nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 5px;

}

.reuse-trd__cnt--wrapper {
    position: relative;

}

.reuse-trd__cnt--wrapper__nav {
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    margin: 20px 10px;

}

.reuse-set {
    background-color: #437da3;
    color: #fff;
    margin: 10px;
    font-weight: 400;
}

.reuse-set__header {
    text-align: center;
    font-size: .9375rem;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, .6);

}

.reuse-set__header--startQues {
    background-color: #15a4fa;
    padding: 3px 5px;
    margin-left: 10px;

}

.reuse-set__header--startQues a {
    text-decoration: none;
    color: #fff;

}

.reuse-set__categ {
    text-align: center;
    width: 100%;
    color: #182427;
    display:  -ms-flexbox;
    display:  flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: .875rem;

}

.reuse-set__categ--title {
    width: 140px;
    margin: 8px 0;
    padding: 5px 0;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -o-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -moz-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -webkit-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -ms-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);

}

.reuse-set__categ--title__item {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -o-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -moz-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    width: 100%;
    background-color: #fff;
    bottom: 26px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    border-top: none;
    font-size: .875rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease-out;

}

.reuse-set__categ--title__item li {
    /* border-bottom: 1px solid $mainLightGray; */
    padding: 5px 0;
    box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -o-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -moz-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -webkit-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -ms-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);

}

.reuse-set__categ--title__item li:first-child {
    margin-top: 3px;
    /* border-top: 1px solid $mainLightGray; */
    box-shadow: none;

}

.reuse-set__categ--title__item li:last-child {
    border-bottom: none;

}

.reuse-set__categ--title__item--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-out;

} 