.icon__site-main__ptwrit--tab--share {
    margin-right: 5px;
}

.icon__site-main--ptwrit__header--pencil {
    font-size: 1.2rem;
    color: #fff;
}

.icon__site-main--ptwrit__header--quoteleft {
    font-size: .5rem;
    position: relative;
    top: -6px;
    margin-right: 5px;
}

.icon__site-main--ptwrit__header--quoteright {
    font-size: .5rem;
    position: relative;
    bottom: -6px;
    margin-left: 5px;
}

.icon__site-main--ptwrit__header--angle {
    margin-left: 5px;
}

.icon__site-main--ptwrit__note--circle {
    color: #ff1600;
    font-size: .625rem;
    margin-right: 10px;
    top: -1px;
    position: relative;
}

.icon__reuse-pwt-filter--comment {
    color: #182427;
    margin-right: 5px;
}

.icon__reuse-pwt-filter--smile {
    color: #15a4fa;
    margin-right: 5px;
}

.icon__reuse-pwt-filter--fav {
    color: #ff1600;
    margin-right: 5px;
}

.active__main {
    color: #fff;
}

.active__main--shareme {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);
}

.active__main--shareme > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
}

@media (min-width: 530px) {

    .active__main--shareme {
        right: 8px;
        top: 4px;
    }
}

.reuse-pwt-filter {
    width: 100%;
    position: relative;
    padding: 10px 15px 10px 15px;  
    border-bottom: 1px solid #dcdbdc;
    
}

.reuse-pwt-filter__wrapper {
    position: relative;
}

.reuse-pwt-filter__wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-pwt-filter__pwt {
    float: left;
    position: relative;
    border: 1px solid rgba(255,22,0, .2);
    border-top: 3px solid #ff1600;
    color: #182427;
    padding: 8px 44px 8px 10px;
    text-align: right;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.reuse-pwt-filter__pwt > div {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #ff1600;
    color: #fff;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-pwt-filter__add {
    float: right;
    border: 1px solid  #0284a8;
    border-top: 3px solid  #0284a8;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: #0284a8;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0, 0.53);
    cursor: pointer;
}

@media (min-width: 530px) {

    .reuse-pwt-filter {
        padding: 20px;
    }
}

.site-main__ptwrit {
    position: relative;
    padding-top: 5px;
}

.site-main__ptwrit--header {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdbdc;
    width: 100%;
}

.site-main__ptwrit--header::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--header__icon {
    float: left;
    padding: 15px 20px;
    background-color: #0284a8;
    border-radius: 3px;
    color: #fff;
    margin-left: 10px;
}

@media (min-width: 1010px) {

    .site-main__ptwrit--header__icon {
        margin-left: 0;
    }
}

.site-main__ptwrit--header__title {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.site-main__ptwrit--header__title li {
    float: none;
}

.site-main__ptwrit--header__title li:first-child {
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 1rem;
    color: #0284a8;
}

.site-main__ptwrit--header__title li:last-child {
    font-size: .875rem;
}

.site-main__ptwrit--note {
    background-color: #f9f9f9;
    font-size: .875rem;
    margin: 10px 0;
    padding: 8px 0px;
    width: 100%;
    text-align: center;
    line-height: 1.6;
}

.site-main__ptwrit--note > span {
    position: relative;
}

.site-main__ptwrit--note__content {
    padding-left: 10px;
}

@media (min-width: 530px) {

    .site-main__ptwrit {
        padding-top: 10px;
    }
}


  