.icon__reuse-form--angle {
    margin-left: 5px;
}

.icon__reuse-form--selec__add {
    color: rgba(0,0,0, .45);
    font-size: .625rem;
}

.icon__reuse-form--btn {
    margin-right: 5px;
}

.icon__reuse-form--teach {
    color: #0284a8;
    margin-right: 5px;
}

.active__main {
    color: #fff;
}

.active__main--chat-cnt {
    z-index: 1;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, .25);
    overflow: hidden;
}

.active__main--chat-cnt > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: .75rem;
}

@media (min-width: 800px) {

    .active__main--chat-cnt > div {
        font-size: .8125rem;
    }
}

@media (min-width: 1010px) {

    .active__main--chat-cnt {
        border-radius: 12px;
        width: 24px;
        height: 24px;
    }
}

.reuse-form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    font-size: .875rem;
}

.reuse-form__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, .6);
    z-index: 2;
}

/* opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in; */

.reuse-form__overlay--visible {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-form__wrapper {
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 8px 4px rgba(0,0,0, .65);
    border-radius: 5px;
}

.reuse-form__title {
    padding: 15px 0;
    text-align: left;
    font-weight: 400;
    margin: 0 0 20px 0;
    background-color: #437da3;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .65);
}

.reuse-form__title > div {
    position: relative;
    padding-left: 40px;
}

.reuse-form__title > div > div {
    position: absolute;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #ff1600;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0px 2px 2px rgba(0,0,0, .45);
}

.reuse-form__cnt {
    position: relative;
    background-color: #fff;
}

.reuse-form__cnt--wrapper {
    padding: 0 10px 30px 10px;
}

@media (min-width: 530px) {

    .reuse-form__cnt--wrapper {
        padding: 0 20px 30px 20px;
    }
}

.reuse-form__cnt--title {
    color: rgba(0,0,0, .85);
    font-weight: 400;
    text-align: center;
}

.reuse-form__cnt--det {
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 3px;
    font-size: .875rem;

    /* border: 1px solid $mainDarkGray;  */
    box-shadow: inset 0 0px 1px 0px rgba(0,0,0, .95);
}

.reuse-form__cnt--det__wrapper {
    padding: 8px 10px;
    font-size: .8125rem;
}

.reuse-form__cnt--det__selec {
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.reuse-form__cnt--det__selec--categ {
    width: 110px;
    padding: 8px 0;
    border: 1px solid #dcdbdc;
}

.reuse-form__cnt--det__selec--categ > ul {
    width: 150px;
}

.reuse-form__cnt--det__selec--teach {
    position: absolute;
    padding: 8px 10px;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #dcdbdc;
}

.reuse-form__cnt--det__selec--add {
    background-color: #0284a8;
    color: #fff;
    padding: 8px 0px;
    width: 110px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .45);
}

.reuse-form__cnt--det__selec--opt {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    position: absolute;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    background-color: #fff;
    color: #182427;
    left: 0;
    right: 0;
    text-align: left;
    top: 100%;
    z-index: 2;
    max-height: 130px;
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-form__cnt--det__selec--opt::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-form__cnt--det__selec--opt > li {
    float: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 6px 20px;
}

.reuse-form__cnt--det__selec--opt > li:hover {
    background-color: #0284a8;
    color: #fff;
}

.reuse-form__cnt--det__selec--opt__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-form__cnt--det__alt {
    position: absolute;
    margin-left: 130px;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-form__cnt--det__alt--title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #dcdbdc;
    color: #ff1600;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-size: .75rem;
}

.reuse-form__cnt--det__alt--cnt {
    margin-left: 44px;
    margin-right: 10px;
    border: 1px solid #dcdbdc;
    background-color: #f9f9f9;
}

.reuse-form__cnt--det__input {
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 0;
    border-radius: 3px;
    background-color: transparent;
}

.reuse-form__cnt--det__input--lg {
    padding: 12px 10px;
}

.reuse-form__cnt--det__fil {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    border: 1px dashed #0284a8;
    padding: 20px 0;
}

.reuse-form__cnt--det__fil--input {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border: none;
    padding: 0 10px;
    margin: 0;
    border-radius: 3px;
    opacity: 0;
    cursor: pointer;
}

.reuse-form__cnt--det__info {
    width: 100%;
    border: none;
    outline: none;
    line-height: 2;
    padding: 5px 10px 5px 10px;
    height: 100px;
    resize: vertical;
    border-radius: 3px;
    background-color: transparent;
}

.reuse-form__itm {
    position: absolute;
    font-size: .875rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background-color: #fff;
    z-index: 2;
}

.reuse-form__itm--img, .reuse-form__itm--vid {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-form__itm--img__visible, .reuse-form__itm--vid__visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in;
}

.reuse-form__itm > h4 {
    padding: 10px 0;
    margin: 0;
    background-color: #0284a8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .65);
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.reuse-form__itm > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #437da3;
    font-size: .8125rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 2px rgba(0,0,0, .2);
}

.reuse-form__itm > ul::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-form__itm > ul li {
    float: left;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-weight: 300;
    padding: 12px 35px;
    position: relative;
}

.reuse-form__itm > ul li > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #ff1600;
}

.reuse-form__itm > ul li:first-child {
    border-right: 1px solid rgba(255,255,255, .45);
}

.reuse-form__itm > ul li:first-child > div {
    background-color: #16cf27;
}

.reuse-form__itm > ul li:last-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: #05578b;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    z-index: 2;
    color: #fff;
    margin: 0;
    padding: 0;
}

@media (min-width: 530px) {

    .reuse-form__itm > ul {
        font-size: .875rem;
    }
}

.reuse-form__itm--srch {
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #dcdbdc;
    border-top: none;
    top: 50px;
    width: 100%;
    padding: 10px 10px 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-form__itm--srch__close {
    width: 20px;
    height: 20px;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .5);
    color: #ff1600;
    font-size: .75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.reuse-form__itm--srch__wrapper {
    position: relative;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .3);
    z-index: 1;
    font-size: .875rem;
    border-radius: 5px;
    width: 95%;
    box-shadow: 0 2px 1px 0 rgba(0,0,0, .3);
}

.reuse-form__itm--srch__wrapper > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align:center;
        align-items:center;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0,0,0, .3);
}

.reuse-form__itm--srch__input {
    border: none;
    outline: none;
    padding: 6px 10px 6px 60px;
    border-radius: 5px;
    width: 100%;
}

@media (min-width: 800px) {

    .reuse-form__itm--srch__input {
        padding: 8px 10px 8px 60px;
    }
}

.reuse-form__itm--srch__visible {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    z-index: 2;
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-form__itm--srch {
        top: 50px;
    }
}

.reuse-form__itm--det {
    padding: 20px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.reuse-form__itm--det__teach {
    margin-top: 10px;
    margin-bottom: 30px;
}

.reuse-form__itm--det__alt {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #dcdbdc;
    color: #fff;
    background-color: #0284a8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-size: .75rem;
    margin: 5px 0 10px 0;
}

.reuse-form__itm--det__alt--vid {
    background-color: #ff1600;
}

.reuse-form__itm--det__view {
    background-color: #f9f9f9;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 10px;
}

.reuse-form__itm--footer {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #dcdbdc;
}

.reuse-form__itm--footer::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 530px) {

    .reuse-form__itm {
        width: 80%;
    }
}

.reuse-form__err {
    position: relative;
    padding: 5px 20px;
    margin-top: 10px;
    font-size: .875rem;
    background-color: #f9f9f9;
    color: #ff1600;
}

.reuse-form__btn {
    position: relative;
}

.reuse-form__btn > button {
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px 0;
    cursor: pointer;
}

.reuse-form__btn--close, .reuse-form__btn--dft {
    background-color: #fff;
    box-shadow: 0 1px 4px 1px rgba(0,0,0, .55);
    width: 80px;
    float: left;
}

.reuse-form__btn--close:hover, .reuse-form__btn--dft:hover {
    background-color: #f2f2f2;
}

.reuse-form__btn--close {
    color: #ff1600;
}

.reuse-form__btn--dft {
    color: #182427;
}

.reuse-form__btn--add {
    background-color: #437da3;
    color: #fff;
    float: right;
    box-shadow: 0 2px 4px 1px rgba(0,0,0, .65);
    width: 70px;
}

.reuse-form__btn--add__que {
    background-color: #ff1600;
}

.reuse-form__btn--add:hover {
    background-color: #05578b;
}

.reuse-form__footer {
    background-color: #f9f9f9;
    border-top: 1px solid #dcdbdc;
    padding: 8px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reuse-form__footer::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 530px) {

    .reuse-form__footer {
        padding: 8px 20px;
    }
}

@media (min-width: 530px) {

    .reuse-form {
        padding: 20px;
    }
}

@media (min-width: 800px) {

    .reuse-form {
        width: 70%;
    }
}

.reuse-pvt-chat {
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
}

.reuse-pvt-chat__nav {
    margin: 20px 10px 10px 10px;
}

.reuse-pvt-chat__conv {
    margin: 40px 15px;
}

@media (min-width: 530px) {

    .reuse-pvt-chat__conv {
        margin: 40px 20px 60px 20px;
    }
}

.reuse-pvt-chat__img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #e9ebf2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.reuse-pvt-chat__img--status {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #dcdbdc;
    bottom: 4px;
    right: 8px;
}

.reuse-pvt-chat__img--status__on {
    background-color: #16cf27;
}

.reuse-pvt-chat__img--status__off {
    background-color: #ff1600;
}

.reuse-pvt-chat__det {
    list-style: none;
    padding: 0 30px 0 80px;
    margin:  0;
    width: 100%;
    font-size: .875rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.reuse-pvt-chat__det li {
    margin: 0;
}

.reuse-pvt-chat__det li:first-child {
    padding: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: rgba(5,87,139, .8);
    font-size: .9375rem;
}

.reuse-pvt-chat__det li:first-child > a {
    text-decoration: none;
    color: rgba(5,87,139, .8);
}

.reuse-pvt-chat__det li:first-child > a > span {
    margin-right: 5px;
    font-weight: 300;
    color: rgba(0,0,0, .45);
    font-size: .8125rem;
}

.reuse-pvt-chat__det li:last-child {
    padding: 8px 0;
    color: rgba(0,0,0, .6);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reuse-pvt-chat__det li:last-child > a {
    text-decoration: none;
    color: rgba(0,0,0, .6);
}

.reuse-pvt-chat__det li:last-child > span {
    background-color: #437da3;
    color: #fff;
    border-radius: 3px;
    padding: 4px 15px;
    cursor: pointer;
    font-weight: 400;
    font-size: .8125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .45);
}

.reuse-pvt-chat__opt {
    position: absolute;
    right: 2px;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    bottom: 2px;
    cursor: pointer;
}

.reuse-pvt-chat__opt::before, .reuse-pvt-chat__opt::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0,0,0, .45);
}

.reuse-pvt-chat__opt::before {
    bottom: 20px;
}

.reuse-pvt-chat__opt::after {
    bottom: 4px;
}

.reuse-pvt-chat__opt--clk {
    background-color: #f2f2f2;
}

.reuse-pvt-chat__opt--mid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0,0,0, .45);
    bottom: 12px;
}

.reuse-pvt-chat__opt--det {
    position: absolute;
    list-style: none;
    top: 40%;
    transform: translateY(-40%);
    right: 42px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-pvt-chat__opt--det li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-pvt-chat__opt--det li:last-child {
    background-color: #f22613;
}

.reuse-pvt-chat__opt--det li:last-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-pvt-chat__opt--det::after, .reuse-pvt-chat__opt--det::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-pvt-chat__opt--det::after {
    top: 20px;
    right: -24px;
    border-width: 12px;
    border-bottom-color: #fff;
}

.reuse-pvt-chat__opt--det::before {
    top: 19px;
    right: -26px;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
}

.reuse-pvt-chat__opt--det__visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out;
}

.reuse-pvt-chat__opt:hover {
    background-color: #f2f2f2;
    transition: all .3s ease-in;
} 