.exquestion {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 15px; 
}

.exquestion__found {
    font-size: .875rem;
    font-weight: 400;
    padding: 10px 0 10px 10px;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdbdc;
    color: #182427; 
}

.exquestion__found--total {
    color: #0284a8;
    margin-left: 20px; 
}

@media (min-width: 335px) {

    .exquestion__found {
        font-size: .875rem; 
    } 
}

@media (min-width: 530px) {

    .exquestion__found {
        font-size: .9375rem;
        margin-bottom: 20px; 
    } 
}

.exquestion__wrapper {
    position: relative; 
}

.exquestion__wrapper::after {
    content: "";
    clear: both;
    display: table; 
}

.exquestion__wrapper--options {
    float: left;
    margin-bottom: 10px; 
}

@media (min-width: 335px) {

    .exquestion__wrapper--options {
        margin-bottom: 0; 
    } 
}

.exquestion__wrapper--altoption {
    float: left; 
}

@media (min-width: 335px) {

    .exquestion__wrapper--altoption {
        float: right; 
    } 
}

.exquestion__category {
    border: 1px solid rgba(21,164,250, .2);
    border-top: 3px solid #15a4fa;
    color: #182427;
    margin: 0;
    position: relative;
    padding: 7px 15px;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    margin-right: 10px;
    display: none; 
}

.exquestion__category--item {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 40px;
    left: 0;
    text-align: left;
    box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -o-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -ms-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -webkit-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -moz-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease-in;
    padding: 2px 0; 
}

.exquestion__category--item li {
    float: none;
    padding: 10px 0 10px 15px;
    font-size: .8125rem; 
}

.exquestion__category--item li:hover {
    background-color: #15a4fa;
    color: #fff; 
}

.exquestion__category--item__visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in; 
}

@media (min-width: 1010px) {

    .exquestion__category {
        padding: 10px 15px;
        display: block; 
    } 
}

.exquestion__filter {
    float: left;
    border: 1px solid rgba(5,87,139, .2);
    border-top: 3px solid #05578b;
    color: #182427;
    margin: 0;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255); 
}

.exquestion__filter--options {
    position: absolute;
    top: 0;
    background-color: #fff;
    box-shadow: 0 1px 6px 2px rgba(51, 51, 51, .2);
    /* -o-box-shadow: 0px 1px 10px 5px rgba($mainDarkGray, .8); */
    padding: 10px;
    width: 100%;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in; 
}

.exquestion__filter--options__search--field {
    border: 1px solid #dcdbdc;
    overflow: hidden;
    border-radius: 2px;
    width: 100%; 
}

.exquestion__filter--options__search--field::after {
    content: "";
    clear: both;
    display: table; 
}

.exquestion__filter--options__search--field__inputcalendar {
    padding: 5px 0;
    background-color: #f9fafb;
    width: 14%;
    float: left;
    text-align: center; 
}

@media (min-width: 335px) {

    .exquestion__filter--options__search--field__inputcalendar {
        padding: 6px 0; 
    } 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--field__inputcalendar {
        padding: 9px 0; 
    } 
}

.exquestion__filter--options__search--field__input {
    float: left;
    width: 86%;
    padding: 8px;
    font-size: .875rem;
    border: none;
    border-left: 1px solid #dcdbdc;
    outline: none; 
}

@media (min-width: 335px) {

    .exquestion__filter--options__search--field__input {
        padding: 10px;
        font-size: .8125rem; 
    } 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--field__input {
        padding: 13px 10px;
        font-size: .875rem; 
    } 
}

.exquestion__filter--options__search--middlewrapper {
    width: 100%;
    padding-top: 15px; 
}

.exquestion__filter--options__search--middlewrapper::after {
    content: "";
    clear: both;
    display: table; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--middlewrapper {
        padding-top: 20px; 
    } 
}

.exquestion__filter--options__search--found {
    float: none; 
}

.exquestion__filter--options__search--found::after {
    content: "";
    clear: both;
    display: table; 
}

.exquestion__filter--options__search--found__title {
    float: left;
    padding: 5px 0;
    font-size: .8125rem;
    /* width: 100px; */
    text-align: center;
    position: relative;
    top: 1px;
    margin-right: 10px; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--found__title {
        font-size: .875rem;
        width: 100px;
        margin-right: 0; 
    } 
}

.exquestion__filter--options__search--found__total {
    float: left;
    padding: 5px 12px;
    background-color: #05578b;
    color: #fff;
    border-radius: 3px;
    font-size: .8125rem;
    box-shadow: 0px 2px rgba(2,132,168, .2);
    -o-box-shadow: 0px 2px rgba(2,132,168, .2);
    -ms-box-shadow: 0px 2px rgba(2,132,168, .2);
    -webkit-box-shadow: 0px 2px rgba(2,132,168, .2);
    -moz-box-shadow: 0px 2px rgba(2,132,168, .2);
    margin-right: 20px;
    cursor: pointer; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--found__total {
        font-size: .875rem;
        padding: 5px 20px; 
    } 
}

@media (min-width: 380px) {

    .exquestion__filter--options__search--found {
        float: left; 
    } 
}

.exquestion__filter--options__search--more {
    text-align: center;
    font-size: .8125rem;
    color: rgba(0,0,0, .7);
    background-color: #f9fafb;
    border: 1px solid #e9ebf2;
    float: none;
    width: 100%;
    position: relative;
    /* left: 30px; */
    top: 14px;
    font-style: italic; 
}

@media (min-width: 380px) {

    .exquestion__filter--options__search--more {
        float: left;
        width: 50%;
        top: 4px; 
    } 
}

@media (min-width: 800px) {

    .exquestion__filter--options__search--more {
        width: 60%;
        font-size: .9375rem;
        top: 2px;
        left: auto; 
    } 
}

.exquestion__filter--options__search--altwrapper {
    width: 100%;
    margin: 30px 0 10px 5px; 
}

.exquestion__filter--options__search--altwrapper::after {
    content: "";
    clear: both;
    display: table; 
}

.exquestion__filter--options__search--altwrapper__space > div {
    padding-right: 10px; 
}

@media (min-width: 380px) {

    .exquestion__filter--options__search--altwrapper__space > div {
        padding-right: 15px; 
    } 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--altwrapper__space > div {
        padding-right: 20px; 
    } 
}

@media (min-width: 800px) {

    .exquestion__filter--options__search--altwrapper__space > div {
        padding-right: 33px; 
    } 
}

@media (min-width: 800px) {

    .exquestion__filter--options__search--altwrapper {
        margin: 30px 0 10px 18px; 
    } 
}

.exquestion__filter--options__search--alt {
    width: 70%;
    float: none;
    font-size: .875rem;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

.exquestion__filter--options__search--alt__title {
    font-weight: 400;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #dcdbdc;
    border-bottom: none;
    margin: 0;
    font-size: .8125rem; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--alt__title {
        font-size: .875rem; 
    } 
}

.exquestion__filter--options__search--alt__option {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #dcdbdc;
    font-size: .8125rem; 
}

.exquestion__filter--options__search--alt__option ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.exquestion__filter--options__search--alt__option ul::after {
    content: "";
    clear: both;
    display: table; 
}

.exquestion__filter--options__search--alt__option ul li {
    float: left;
    padding: 8px 0;
    text-align: center; 
}

.exquestion__filter--options__search--alt__option ul li > span {
    margin-right: 5px;
    color: #182427; 
}

.exquestion__filter--options__search--alt__option ul li:first-child {
    width: 55%; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--alt__option ul li:first-child {
        width: 50%; 
    } 
}

.exquestion__filter--options__search--alt__option ul li:last-child {
    width: 45%; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--alt__option ul li:last-child {
        width: 50%; 
    } 
}

.exquestion__filter--options__search--alt__option ul:hover {
    background-color: #e9ebf2;
    cursor: pointer; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--alt__option {
        font-size: .875rem; 
    } 
}

@media (min-width: 335px) {

    .exquestion__filter--options__search--alt {
        width: 50%;
        float: left;
        left: auto;
        transform: translateX(0); 
    } 
}

@media (min-width: 380px) {

    .exquestion__filter--options__search--alt {
        width: 33.33%;
        margin-bottom: 0; 
    } 
}

.exquestion__filter--options__search--categsm {
    margin: 20px 0;
    width: 140px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

.exquestion__filter--options__search--categsm__title {
    background-color: #e9ebf2;
    color: #182427;
    text-align: left;
    font-size: .8125rem;
    position: relative;
    padding: 8px 0 8px 0px;
    margin: 0;
    text-align: center;
    cursor: pointer; 
}

.exquestion__filter--options__search--categsm__item {
    list-style: none;
    margin: 0;
    padding: 3px 0 0 0;
    font-size: .8125rem;
    position: relative;
    top: 0;
    border: 1px solid #dcdbdc;
    display: none;
    visibility: hidden;
    z-index: -33;
    transition: all .3s ease-in; 
}

.exquestion__filter--options__search--categsm__item li {
    float: none;
    padding: 8px 0 8px 15px;
    margin: 0;
    cursor: pointer;
    white-space: nowrap; 
}

.exquestion__filter--options__search--categsm__item--visible {
    display: block;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in; 
}

@media (min-width: 530px) {

    .exquestion__filter--options__search--categsm {
        width: 150px;
        left: 48%;
        transform: translateX(-48%); 
    } 
}

@media (min-width: 800px) {

    .exquestion__filter--options__search--categsm {
        width: 150px;
        left: 50%;
        transform: translateX(-50%); 
    } 
}

.exquestion__filter--options__search--btn {
    font-size: .875rem;
    color: #fff !important;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    margin: 15px 0 10px 0; 
}

.exquestion__filter--options__search--btn > span {
    text-align: center;
    cursor: pointer;
    border-radius: 3px; 
}

.exquestion__filter--options__search--btn__ok {
    background-color: #05578b;
    box-shadow: 0px 2px rgba(2,132,168, .2);
    -o-box-shadow: 0px 2px rgba(2,132,168, .2);
    -ms-box-shadow: 0px 2px rgba(2,132,168, .2);
    -webkit-box-shadow: 0px 2px rgba(2,132,168, .2);
    -moz-box-shadow: 0px 2px rgba(2,132,168, .2);
    padding: 5px 20px; 
}

@media (min-width: 335px) {

    .exquestion__filter--options__search--btn__ok {
        padding: 5px 40px; 
    } 
}

.exquestion__filter--options__search--btn__cancel {
    background-color: #fff !important;
    color: #182427;
    font-weight: 400;
    /* box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .4) !important; */
    margin-right: 10px;
    border: 1px solid rgba(242,38,19, .4);
    padding: 5px 20px; 
}

@media (min-width: 335px) {

    .exquestion__filter--options__search--btn__cancel {
        margin-right: 40px;
        margin-left: 0;
        padding: 5px 20px; 
    } 
}

.exquestion__filter--options__visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in; 
}

@media (min-width: 335px) {

    .exquestion__filter--options {
        width: 100%; 
    } 
}

@media (min-width: 530px) {

    .exquestion__filter--options {
        top: 5px;
        padding: 20px; 
    } 
}

@media (min-width: 800px) {

    .exquestion__filter--options {
        width: 100%;
        padding: 20px; 
    } 
}

@media (min-width: 335px) {

    .exquestion__filter {
        padding: 7px 7px; 
    } 
}

@media (min-width: 380px) {

    .exquestion__filter {
        padding: 7px 15px; 
    } 
}

@media (min-width: 530px) {

    .exquestion__filter {
        padding: 10px 20px;
        margin-right: 10px; 
    } 
}

@media (min-width: 1010px) {

    .exquestion__filter {
        margin-left: 10px; 
    } 
}

.exquestion__myque {
    float: left;
    border: 1px solid rgba(2,132,168, .2);
    border-top: 3px solid #0284a8;
    color: #182427;
    margin: 0;
    margin-left: 5px;
    position: relative;
    padding: 7px 35px 7px 15px;
    text-align: left;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: none; 
}

.exquestion__myque--total {
    position: absolute;
    right: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #0284a8;
    color: #fff !important;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    color: #0284a8; 
}

@media (min-width: 335px) {

    .exquestion__myque {
        padding: 7px 30px 7px 5px;
        display: block; 
    } 
}

@media (min-width: 380px) {

    .exquestion__myque {
        padding: 7px 35px 7px 15px;
        margin-left: 10px; 
    } 
}

@media (min-width: 530px) {

    .exquestion__myque {
        padding: 10px 35px 10px 15px;
        margin-left: 10px; 
    } 
}

.exquestion__addque {
    display: inline;
    color: #fff;
    margin: 0;
    margin-left: 10px;
    position: relative;
    top: 0px;
    padding: 9px 8px;
    margin-right: 0px;
    text-align: center;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: #f22613;
    box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.53);
    cursor: pointer; 
}

@media (min-width: 335px) {

    .exquestion__addque {
        margin-left: 0;
        top: 0; 
    } 
}

@media (min-width: 380px) {

    .exquestion__addque {
        padding: 9px 10px; 
    } 
}

@media (min-width: 530px) {

    .exquestion__addque {
        margin-top: 0;
        padding: 12px 20px; 
    } 
}

@media (min-width: 530px) {

    .exquestion {
        padding: 0 20px; 
    } 
}

.site-main {
    color: #182427;
    margin: 0 0 6px 0;
}

.site-main__content {
    color: #182427; 
}

.site-main__content--wrapper {
    width: 100%;
    background-color: rgba(249,249,249, .4);
    box-shadow: inset 0px 0 2px 0px rgba(119,119,119, .5);
    -o-box-shadow: inset 0px 0 2px 0px rgba(119,119,119, .5);
    -ms-box-shadow: inset 0px 0 2px 0px rgba(119,119,119, .5);
    -webkit-box-shadow: inset 0px 0 2px 0px rgba(119,119,119, .5);
    -ms-box-shadow: inset 0px 0 2px 0px rgba(119,119,119, .5);
    position: relative; 
}

.site-main__content--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, .6);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in; 
}

.site-main__content--overlay__visible {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in; 
}

@media (min-width: 1010px) {

    .site-main__content--top {
        padding-top: 10px;
        background-color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        z-index: 3; 
    } 
}

.site-main__content--tab {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #437da3;
    font-size: .875rem;
    font-weight: 300;
    position: relative;
    z-index: 2;
    /* box-shadow:inset  0 1px 5px 0 rgba($mainDarkBlack, .7);  */
    box-shadow: 0 2px 2px rgba(0,0,0, .2); 
}

.site-main__content--tab::after {
    content: "";
    clear: both;
    display: table; 
}

.site-main__content--tab li {
    float: left;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 11px 35px;
    position: relative;
    font-size: .8125rem; 
}

.site-main__content--tab li:first-child {
    position: relative;
    border-bottom: none;
    border-right: 1px solid rgba(255,255,255, .45); 
}

@media (min-width: 530px) {

    .site-main__content--tab li {
        font-size: .875rem; 
    } 
}

@media (min-width: 800px) {

    .site-main__content--tab li {
        padding: 15px 35px;
        font-size: .9375rem; 
    } 
}

.site-main__content--tab__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 52px;
    z-index: 3;
    box-shadow: 0 2px 2px rgba(0,0,0, .2);
    -o-box-shadow: 0 2px 2px rgba(0,0,0, .2);
    -ms-box-shadow: 0 2px 2px rgba(0,0,0, .2);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0, .2);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0, .2); 
}

@media (min-width: 800px) {

    .site-main__content--tab__sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 61px; 
    } 
}

@media (min-width: 1010px) {

    .site-main__content--tab__sticky {
        top: 70px; 
    } 
}

@media (min-width: 530px) {

    .site-main__content--tab {
        font-size: .9375rem; 
    } 
}

.active__main {
    color: #fff;
}

.active__main--helpme {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    top: 4px;
    right: 0px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25); 
}

.active__main--helpme > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center; 
}

@media (min-width: 530px) {

    .active__main--helpme {
        right: 8px;
        top: 4px; 
    } 
}

.reuse-que {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -o-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -ms-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    margin: 40px 15px;
}

.reuse-que__header {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .8125rem;
    background-color: #fff;
    border-bottom: 1px solid #e9ebf2;
    position: relative;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.reuse-que__header::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-que__header li {
    position: relative; 
}

.reuse-que__header li:first-child {
    position: relative;
    padding: 15px 0 15px 15px;
    float: left; 
}

.reuse-que__header li:first-child::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-que__header li:last-child {
    position: relative;
    float: right;
    padding: 3px 0; 
}

.reuse-que__header--category {
    position: relative; 
}

.reuse-que__header--category__img {
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: #dcdbdc;
    top: 3px;
    left: 5px; 
}

@media (min-width: 530px) {

    .reuse-que__header--category__img {
        left: 20px; 
    } 
}

.reuse-que__header--category__det {
    padding-left: 20px; 
}

.reuse-que__header--category__det::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-que__header--category__det--name {
    float: left;
    margin-left: 10px;
    padding-right: 3px;
    max-width: 70px;
    overflow: hidden;
    word-wrap: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left; 
}

.reuse-que__header--category__det--name a {
    color: #0284a8; 
}

@media (min-width: 530px) {

    .reuse-que__header--category__det--name {
        max-width: 80px; 
    } 
}

.reuse-que__header--category__det--timePosted {
    float: left;
    white-space: nowrap;
    color: #05578b; 
}

@media (min-width: 530px) {

    .reuse-que__header--category__det {
        padding-left: 45px; 
    } 
}

.reuse-que__header--share {
    position: relative; 
}

.reuse-que__header--share__category {
    margin: 4px 25px 0 0;
    max-width: 90% !important;
    background-color: rgba(220,219,220, .4);
    border-radius: 5px;
    padding: 4px;
    /* border: 1px solid $mainDarkGray; */
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: none;
    text-overflow: ellipsis;
    position: relative;
    top: 3px; 
}

.reuse-que__header--share__category a {
    color: #182427;
    text-decoration: none; 
}

@media (min-width: 530px) {

    .reuse-que__header--share__category {
        margin: 4px 33px 0 0; 
    } 
}

.reuse-que__img {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; 
}

.reuse-que__img--wrapper {
    width: 92%;
    margin: 10px 10px 0 10px;
    height: 200px;
    background-color: #0284a8;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto; 
}

.reuse-que__title {
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: #437da3;
    cursor: pointer; 
}

@media (min-width: 800px) {

    .reuse-que__title {
        font-size: 1.2rem; 
    } 
}

.reuse-que__description {
    margin: 0 10px 10px 20px;
    padding: 0;
    text-align: center;
    font-size: .9375rem;
    line-height: 1.5;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.reuse-que__description a {
    color: #182427;
    cursor: pointer; 
}

@media (min-width: 800px) {

    .reuse-que__description {
        font-size: 1rem; 
    } 
}

.reuse-que__content {
    margin: 10px 0;
    padding: 0 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; 
}

.reuse-que__content::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-que__content--title {
    float: left;
    max-width: 60%;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    max-height: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    text-align: center; 
}

.reuse-que__content--title a {
    color: #0284a8; 
}

.reuse-que__content--img {
    float: left;
    max-width: 40%;
    background-color: rgba(233,235,242, .56);
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto; 
}

.reuse-que__ans {
    font-family: 'poppins', Roboto, Segoe UI, Tahoma, Geneva, Verdana, sans-serif; 
}

.reuse-que__ans::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-que__ans--wrapper {
    float: right;
    margin-right: 5px;
    position: relative;
    font-size: .8125rem;
    /* background-color: $mainLightGray; */
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 10px 10px 30px; 
}

.reuse-que__ans--total {
    position: absolute;
    left: 0;
    background-color: #ff1600;
    color: #fff;
    /* font-size: .875rem; */
    width: 22px;
    height: 22px;
    border-radius: 11px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-que__footer {
    background-color: #fff;
    border-top: 1px solid #e9ebf2;
    /* box-shadow: 0px -2px 9px 0px rgba($mainDarkGray, 0.57); */
    position: relative;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
}

.reuse-que__footer--list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .8125rem;
    position: relative; 
}

.reuse-que__footer--list::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-que__footer--list li {
    float: left;
    padding: 15px 12px;
    font-style: italic;
    color: #182427;
    border-right: 1px solid #e9ebf2;
    cursor: default; 
}

.reuse-que__footer--list li:first-child {
    padding-left: 5px; 
}

@media (min-width: 335px) {

    .reuse-que__footer--list li:first-child {
        padding-left: 8px; 
    } 
}

@media (min-width: 530px) {

    .reuse-que__footer--list li:first-child {
        padding-left: 18px; 
    } 
}

@media (min-width: 530px) {

    .reuse-que__footer--list li {
        padding: 15px; 
    } 
}

@media (min-width: 800px) {

    .reuse-que__footer--list li {
        padding: 15px 30px; 
    } 
}

.reuse-que__footer--list__item-middle {
    display: none; 
}

@media (min-width: 335px) {

    .reuse-que__footer--list__item-middle {
        display: block; 
    } 
}

.reuse-que__footer--details {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-que__footer--details__options {
    position: absolute;
    list-style: none;
    top: -42px;
    right: 52px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out; 
}

.reuse-que__footer--details__options li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer; 
}

.reuse-que__footer--details__options li:first-child {
    background-color: #05578b;
    border: none; 
}

.reuse-que__footer--details__options li:first-child a {
    color: #fff;
    text-decoration: none; 
}

.reuse-que__footer--details__options li:last-child {
    background-color: #f22613; 
}

.reuse-que__footer--details__options li:last-child a {
    color: #fff;
    text-decoration: none; 
}

.reuse-que__footer--details__options li a {
    color: #182427;
    text-decoration: none; 
}

.reuse-que__footer--details__options::after {
    position: absolute;
    content: "";
    top: 50px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none; 
}

.reuse-que__footer--details__options::before {
    position: absolute;
    content: "";
    top: 49px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none; 
}

.reuse-que__footer--details__options--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-out; 
}

.reuse-que__footer--details__clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in; 
}

@media (min-width: 530px) {

    .reuse-que__footer--details {
        right: 40px; 
    } 
}

@media (min-width: 530px) {

    .reuse-que {
        margin: 40px 20px 60px 20px; 
    } 
}

.reuse-share {
    font-style: normal;
}

.reuse-share__icn {
    position: absolute;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: #437da3;
    right: 0;
    top: -6px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-share__icn:hover {
    transform: rotate(-90deg);
    transition: all .3s ease-in; 
}

.reuse-share__icn--rotate {
    transform: rotate(-90deg);
    transition: all .3s ease-in; 
}

@media (min-width: 530px) {

    .reuse-share__icn {
        border-radius: 15px;
        height: 30px;
        width: 30px;
        top: -10px;
        right: 0px; 
    } 
}

.reuse-share__wrapper {
    position: absolute;
    right: 35px;
    top: -10px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    padding: 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out; 
}

.reuse-share__wrapper::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -20px;
    border-color: transparent;
    border-width: 10px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none; 
}

.reuse-share__wrapper::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -22px;
    border-color: transparent;
    border-width: 11px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none; 
}

.reuse-share__wrapper--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-out; 
}

@media (min-width: 530px) {

    .reuse-share__wrapper {
        right: 40px;
        top: -15px; 
    } 
}

.reuse-share__title {
    padding: 10px 30px;
    background-color: #0284a8;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    font-size: .8125rem;
    position: relative; 
}

.reuse-share__social-icn {
    padding: 10px 25px 0 25px;
    background-color: #fff;
    position: relative; 
}

.reuse-share__social-icn::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-share__content {
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out; 
}

.reuse-share__content--search {
    color: #182427;
    width: 100%;
    padding-right: 5px;
    font-size: .8125rem; 
}

.reuse-share__content--search__cnt {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdbdc;
    background-color: #fff; 
}

.reuse-share__content--user {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    height: 9rem;
    margin: 10px 0;
    border-top: 1px solid #dcdbdc;
    border-bottom: 1px solid #dcdbdc;
    padding: 10px 5px 0 0; 
}

.reuse-share__content--user__wrapper {
    margin-bottom: 10px;
    border: 1px solid #dcdbdc;
    padding: 0 2px;
    font-size: .8125rem;
    color: #182427;
    position: relative; 
}

.reuse-share__content--user__wrapper--selec {
    border: 1px solid rgba(22,207,39, .5);
    transition: all .7s ease-out; 
}

.reuse-share__content--user__wrapper--border-hov {
    border: 1px solid rgba(22,207,39, .5);
    transition: all .3s ease-out; 
}

.reuse-share__content--user__hov-icn {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out; 
}

.reuse-share__content--user__hov-icn--visible {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transition: all .3s ease-out; 
}

.reuse-share__content--user__clk-icn {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out; 
}

.reuse-share__content--user__clk-icn--visible {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transition: all .7s ease-out; 
}

.reuse-share__content--user__img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #15a4fa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 2px; 
}

.reuse-share__content--user__img--status  {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottom: 5px;
    left: 80%;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2); 
}

.reuse-share__content--user__img--status__on {
    background-color: #16cf27; 
}

.reuse-share__content--user__img--status__off {
    background-color: #ff1600; 
}

.reuse-share__content--user ul {
    margin: 0;
    padding: 0 0 0 70px;
    list-style: none; 
}

.reuse-share__content--user ul li {
    margin: 0;
    padding:  5px 0 5px 25px;
    font-style: normal;
    float: none !important;
    color: #182427;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    position: relative;
    text-align: left; 
}

.reuse-share__content--user ul li:first-child  {
    margin: 0;
    padding: 3px 0 0 0;
    background-color: #fff;
    color: #182427;
    position: relative; 
}

.reuse-share__content--user ul li:last-child {
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 3px 0 3px 25px;
    background-color: #fff;
    color: #182427;
    position: relative; 
}

.reuse-share__content--user ul li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e9ebf2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer; 
}

.reuse-share__content--user ul li a {
    color: #0284a8; 
}

.reuse-share__content--user__tooltip {
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(0,0,0, .5);
    padding: 2px;
    position: absolute;
    bottom: 0; 
}

.reuse-share__content--user__tooltip--ans {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    bottom: auto;
    top: 12px;
    text-align: center;
    width: 70px;
    left: 0; 
}

.reuse-share__content--user__tooltip--ans__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in; 
}

.reuse-share__content--user__tooltip--snts {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    left: 10px;
    bottom: 2px; 
}

.reuse-share__content--user__tooltip--snts__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in; 
}

.reuse-share__content--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    top: 50px;
    transition: all .3s ease-out; 
}

.reuse-share__user-counter {
    position: absolute;
    margin: 0;
    top: 0;
    left: -94px;
    padding: 10px;
    z-index: 2;
    list-style: none;
    background-color: #fff;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    /* opacity: 0;
        visibility: hidden;
        z-index: 1; */
    transition: all .3s ease-in; 
}

.reuse-share__user-counter::after {
    content: "";
    position: absolute;
    top: 23px;
    right: -23px;
    border-color: transparent;
    pointer-events: none;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    display: none; 
}

@media (min-width: 530px) {

    .reuse-share__user-counter::after {
        display: block; 
    } 
}

.reuse-share__user-counter::before {
    content: "";
    position: absolute;
    top: 22px;
    right: -26px;
    border-color: transparent;
    pointer-events: none;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    display: none; 
}

@media (min-width: 530px) {

    .reuse-share__user-counter::before {
        display: block; 
    } 
}

.reuse-share__user-counter li {
    float: none !important;
    width: auto !important;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: .8125rem;
    white-space: normal;
    color: #182427; 
}

.reuse-share__user-counter li:first-child {
    padding: 0 0 8px 0px;
    margin-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #dcdbdc;
    position: relative; 
}

.reuse-share__user-counter li > div {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    background-color: #dcdbdc;
    top: -5px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-share__user-counter li > ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.reuse-share__user-counter li > ul::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-share__user-counter li > ul li {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    font-size: .75rem;
    cursor: pointer;
    float: none; 
}

.reuse-share__user-counter li > ul li:first-child {
    margin: 0;
    padding: 5px 10px;
    background-color: #0284a8;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -o-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8); 
}

.reuse-share__user-counter li > ul li:last-child {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e9ebf2;
    color: #182427;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0, 0.8); 
}

.reuse-share__user-counter--number {
    margin-left: 10px;
    color: #ff1600;
    font-weight: 500; 
}

.reuse-share__user-counter--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in 
}

@media (min-width: 530px) {

    .reuse-share__user-counter {
        left: -104px; 
    } 
}

.reuse-share__user-selected {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    background-color: #fff;
    color: #182427;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all .3s ease-in; 
}

.reuse-share__user-selected--mainclose {
    position: absolute;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    top: -9px;
    right: -9px;
    background-color: #fff;
    border: 1px solid #dcdbdc;
    text-align: center;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-share__user-selected--title {
    text-align: center;
    border-top: 1px solid #05578b;
    box-shadow: 0 2px 5px 1px rgba(0,0,0, .4);
    padding: 10px 0;
    margin: 0;
    background-color: #437da3;
    color: #fff;
    position: relative;
    border-radius: 3px;
    font-size: .8125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.reuse-share__user-selected--title > div {
    position: relative;
    width: 115px;
    margin: 0 auto;
    padding-left: 20px; 
}

.reuse-share__user-selected--title > div > div {
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0; 
}

.reuse-share__user-selected--det {
    height: 9rem;
    margin:  0;
    padding: 10px 5px 0 5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto; 
}

.reuse-share__user-selected--det__wrapper {
    margin-bottom: 20px;
    border: 1px solid #dcdbdc;
    padding: 0 2px;
    font-size: .8125rem;
    color: #182427;
    position: relative; 
}

.reuse-share__user-selected--det__wrapper > ul {
    margin: 0;
    padding: 0 0 0 70px;
    list-style: none; 
}

.reuse-share__user-selected--det__wrapper > ul li {
    margin: 0;
    padding:  5px 0 5px 25px;
    font-style: normal;
    float: none !important;
    color: #182427;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    position: relative;
    text-align: left; 
}

.reuse-share__user-selected--det__wrapper > ul li:first-child  {
    margin: 0;
    padding: 3px 0 0 0;
    background-color: #fff;
    color: #182427;
    position: relative; 
}

.reuse-share__user-selected--det__wrapper > ul li:last-child {
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 3px 0 3px 25px;
    background-color: #fff;
    color: #182427;
    position: relative; 
}

.reuse-share__user-selected--det__wrapper > ul li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e9ebf2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer; 
}

.reuse-share__user-selected--det__wrapper > ul li a {
    color: #0284a8; 
}

.reuse-share__user-selected--det__img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #15a4fa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 2px; 
}

.reuse-share__user-selected--det__img--status  {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottom: 5px;
    left: 80%;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2); 
}

.reuse-share__user-selected--det__img--status__on {
    background-color: #16cf27; 
}

.reuse-share__user-selected--det__img--status__off {
    background-color: #ff1600; 
}

.reuse-share__user-selected--det__close {
    position: absolute;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    background-color: #e9ebf2;
    border: 1px solid #dcdbdc;
    text-align: center;
    top: -9px;
    right: -6px;
    cursor: pointer;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; 
}

.reuse-share__user-selected--btn {
    width: 100%;
    background-color: #dcdbdc;
    color: #182427;
    padding: 8px 0;
    text-align: center;
    outline: none;
    border: none;
    border-top: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
    font-size: .875rem;
    position: relative;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
}

.reuse-share__user-selected--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in 
}

.icon__exquestion--angleicon {
    margin-left: 5px;
    color:#182427; 
}

.icon__exquestion--filter__calend {
    font-size: 1.2rem;
    position: relative;
    color: rgba(0,0,0, .6);
    cursor: pointer; 
}

@media (min-width: 335px) {

    .icon__exquestion--filter__calend {
        font-size: 1.3rem; 
    } 
}

@media (min-width: 530px) {

    .icon__exquestion--filter__calend {
        font-size: 1.4rem; 
    } 
}

.icon__exquestion--filter__alt--comment {
    color: rgba(0,0,0, .6);
    margin-right: 8px; 
}

.icon__exquestion--filter__alt--eye{
    color: rgba(2,132,168, .8);
    margin-right: 8px; 
}

.icon__exquestion--filter__alt--heart {
    color: rgba(242,38,19, .8);
    margin-right: 8px; 
}

.icon__exquestion--filter__categsm--angleicon {
    margin-left: 10px; 
}

.icon__reuse-share--title {
    margin-left: 20px; 
}

.icon__reuse-share--googleplus {
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #f22613;
    float: right; 
}

.icon__reuse-share--facebook {
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #15a4fa;
    float: left; 
}

.icon__reuse-share--icn {
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: .75rem; 
}

@media (min-width: 530px) {

    .icon__reuse-share--icn {
        font-size: .9375rem; 
    } 
}

.icon__reuse-share--selec {
    color: #16cf27; 
}

.icon__reuse-share--content-ans {
    font-size: .625rem;
    color: #15a4fa; 
}

.icon__reuse-share--content-snts {
    font-size: .625rem;
    color: #05578b; 
}

.icon__reuse-share--share {
    margin-right: 5px; 
}

.icon__reuse-share--view {
    margin-right: 5px; 
}

.icon__reuse-share--user {
    color: #182427;
    font-size: .75rem; 
}

.icon__reuse-share--mainclose {
    font-size: .75rem;
    color: rgba(0,0,0, .6); 
}

.icon__reuse-share--close {
    font-size: .625rem;
    color: #ff1600; 
}

.icon__reuse-share--user-selec__user {
    color: #0284a8;
    font-size: .625rem; 
}

.icon__reuse-share--reset {
    color: #ff1600;
    margin-right: 5px;
    font-size: .875rem;
    position: relative;
    top: 1px; 
}

.icon__reuse-que--header__tag {
    color: #777;
    cursor: pointer; 
}

.icon__reuse-que--footer__thumbup {
    color: #0284a8;
    cursor: pointer; 
}

.icon__reuse-que--footer__thumbdown {
    color: #000;
    cursor: pointer; 
}

.icon__reuse-que--footer__heart {
    color: #ff1600;
    cursor: pointer; 
}

.icon__reuse-que--loadmore__circle {
    font-size: .35rem;
    color: #0284a8;
    margin-left: 6px; 
}

.icon__reuse-que--options {
    margin-right: 10px; 
}

.icon__reuse-que--options__dft {
    margin-right: 5px; 
}    