.icon--rotate svg {
    transform: rotate(180deg);
    transition: all .3s ease-out;
}

.icon__site-main__ptwrit--ptwritIcon {
    font-size: .8125rem;
    color: #0284a8;
    position: absolute;
    top: 3.5px;
    left: 4.4px;
}

.icon__site-main__ptwrit--ptwritsecondIcon {
    font-size: .8125rem;
    color: #0284a8;
    position: absolute;
    top: 5px;
    left: 4.4px;
}

.icon__site-main__ptwrit--footer__smile {
    margin-right: 5px;
}

.icon__site-main__ptwrit--footer__heart {
    margin-right: 5px;
}

.icon__site-main__ptwrit--footer__comments {
    margin-right: 5px;
}

.icon__ptwritfilter--angleicon {
    margin-left: 5px;
    color:#182427;
}

.icon__ptwritfilter--filter__calend {
    font-size: 1.2rem;
    position: relative;
    color: rgba(0,0,0, .6);
    cursor: pointer;
}

@media (min-width: 335px) {

    .icon__ptwritfilter--filter__calend {
        font-size: 1.3rem;
    }
}

@media (min-width: 530px) {

    .icon__ptwritfilter--filter__calend {
        font-size: 1.4rem;
    }
}

.icon__ptwritfilter--filter__alt--comment {
    color: rgba(0,0,0, .6);
    margin-right: 8px;
}

.icon__ptwritfilter--filter__alt--eye{
    color: rgba(2,132,168, .8);
    margin-right: 8px;
}

.icon__ptwritfilter--filter__alt--heart {
    color: rgba(242,38,19, .8);
    margin-right: 8px;
}

.icon__ptwritfilter--filter__categsm--angleicon {
    margin-left: 10px;
}

.icon__site-main--ptwrit__header--pencil {
    font-size: 1.2rem;
}

.icon__site-main--ptwrit__header--quoteleft {
    font-size: .5rem;
    position: relative;
    top: -6px;
    margin-right: 5px;
}

.icon__site-main--ptwrit__header--quoteright {
    font-size: .5rem;
    position: relative;
    bottom: -6px;
    margin-left: 5px;
}

.icon__site-main--ptwrit__header--angle {
    margin-left: 5px;
}

.icon__site-main__ptwrit--quote {
    margin: 0  10px 0 0;
}

.icon__site-main__ptwrit--time {
    margin-right: 5px;
}

.icon__site-main--ptwrit__arrowicon {
    margin-right: 5px;
}

/* border-top-right-radius: 0; */

.site-main__ptwrit--header {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdbdc;
}

.site-main__ptwrit--header::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--header__main {
    float: left;
    width: 50%;
    border-right: 1px solid #dcdbdc;
}

.site-main__ptwrit--header__main::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--header__main--icon {
    float: left;
    padding: 15px 20px;
    background-color: #437da3;
    border-radius: 3px;
    color: #fff;
}

.site-main__ptwrit--header__main--title {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.site-main__ptwrit--header__main--title li {
    float: none;
}

.site-main__ptwrit--header__main--title li:first-child {
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 1rem;
    color: #0284a8;
}

.site-main__ptwrit--header__main--title li:last-child {
    font-size: .875rem;
}

.site-main__ptwrit--header__submain {
    float: left;
    width: 50%;
    padding-left: 10px;
    text-align: center;
}

.site-main__ptwrit--header__submain--title {
    padding: 0;
    margin: 0;
    font-size: .875rem;
}

.site-main__ptwrit--header__submain--opt {
    width: 64px;
    background-color: #16cf27;
    color: #fff;
    font-size: .8125rem;
    padding: 4px 10px;
    border-radius: 10px;
    position: relative;
    margin: 8px auto 0 auto;
    cursor: pointer;
}

.site-main__ptwrit--header__submain--opt__list {
    position: absolute;
    background-color: #e9ebf2;
    border: 1px solid #dcdbdc;
    font-size: .875rem;
    color: #182427;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.site-main__ptwrit--header__submain--opt__list::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--header__submain--opt__list li {
    float: left;
    text-align: left;
    padding: 5px 20px;
}

.site-main__ptwrit--header__submain--opt__list li:first-child {
    border-bottom: 1px solid #dcdbdc;
}

.site-main__ptwrit--tag {
    font-size: .875rem;
    color: #182427;
}

.site-main__ptwrit--tag::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--tag > h3 {
    padding: 5px 10px;
    background-color: #e9ebf2;
    float: left;
    font-weight: 400;
    font-size: .875rem;
    margin: 10px 10px 0 0;
}

.site-main__ptwrit--tag__list {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    margin-top: 10px;
}

.site-main__ptwrit--tag__list::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--tag__list li {
    float: left;
    margin-right: 10px;
    line-height: 1.8;
}

.site-main__ptwrit--tag__list li:first-child {
    color: #0284a8;
}

.site-main__ptwrit--tag__list li:last-child > span {
    padding: 3px 15px;
    background-color: #0284a8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.site-main__ptwrit--note {
    background-color: #e9ebf2;
    font-size: .875rem;
    margin-top: 20px;
    padding: 8px 0;
}

.site-main__ptwrit--note > span {
    position: relative;
}

.site-main__ptwrit--note__title {
    padding: 3px 10px;
    background-color: #0284a8;
    color: #fff;
    margin-left: 5px;
}

.site-main__ptwrit--note__content {
    margin: 0 20px;
    padding-left: 20px;
}

.site-main__ptwrit--note__content::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0284a8;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: 0;
}

.site-main__ptwrit--tab {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    background-color: #437da3;
    color: #fff;
    font-size: .9375rem;
    font-weight: 300;
}

.site-main__ptwrit--tab::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--tab li {
    float: left;
    width: 33.33%;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid rgba(255,255,255, .45);
}

.site-main__ptwrit--tab li:last-child {
    border-right: none;
}

.site-main__ptwrit--wrapper {
    font-weight: 400;
    box-shadow: 0px 1px 5px 1px rgba(2,132,168, 0.481);

    /* -o-box-shadow: 0px 1px 5px 1px rgba(217, 217, 217, 0.981);
        -ms-box-shadow: 0px 1px 5px 1px rgba(217, 217, 217, 0.981);
        -moz-box-shadow: 0px 1px 5px 1px rgba(217, 217, 217, 0.981);
        -webkit-box-shadow: 0px 1px 5px 1px rgba(217, 217, 217, 0.981); */
    margin: 30px 0px;
    border-radius: 10px;
    position: relative;
}

.site-main__ptwrit--mainheader {
    position: relative;
    border-bottom: 1px solid #dcdbdc;
    padding: 8px 0;
}

.site-main__ptwrit--mainheader__timePosted {
    position: absolute;
    right: 25px;
    font-size: .75rem;
    font-style: italic;
    color: #0284a8;
    top: 14px;
}

.site-main__ptwrit--mainheader__tag {
    font-size: .875rem;
    margin-left: 10px;
    padding: 5px 10px;

    /* background-color: $mainLightGray; */
    color: #0284a8;
    border-radius: 3px;
    white-space: nowrap;
    width: 85px;
}

.site-main__ptwrit--mainheader__tag > span {
    font-size: .875rem;
    margin-left: 30px;
    padding: 5px 10px;
    background-color: #0284a8;
    color: #fff;
    border-radius: 3px;
    white-space: nowrap;
    position: relative;
    top: 2px;
}

.site-main__ptwrit--content {
    color: #182427;
    padding: 10px 10px;
    width: 100%;
    position: relative;
}

.site-main__ptwrit--content__firstptwritIcon {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #dcdbdc;
    position: relative;
    top: -2px;
}

.site-main__ptwrit--content__firstptwritIcon > span {
    font-size: .875rem;
    margin-left: 30px;
    padding: 5px 10px;
    background-color: #e9ebf2;
    color: #0284a8;
    border-radius: 3px;
    white-space: nowrap;
    position: relative;
    top: 2px;
}

.site-main__ptwrit--content__secondptwritIcon {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.site-main__ptwrit--content__secondptwritIcon--user {
    font-size: .8125rem;
    position: absolute;
    right: 38px;
    top: 6px;
    color: rgba(5,87,139, .8);
}

.site-main__ptwrit--content__secondptwritIcon--user__img {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e9ebf2;
    border-radius: 25px;
    top: -10px;
    left: -60px;
}

.site-main__ptwrit--content__secondptwritIcon a {
    color: rgba(5,87,139, .8);
    position: relative;
    top: 8px;
}

.site-main__ptwrit--content__secondptwritIcon--wrapper {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #dcdbdc;
    position: absolute;
    right: 0;
    top: 10px;
}

.site-main__ptwrit--content__title {
    font-size: .875rem;
    margin: 10px 0 0 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    line-height: 1.8;
}

.site-main__ptwrit--content__title--wrapper {
    width: 90%;
}

/* font-style: italic; */

.site-main__ptwrit--content__title--wrapper a {
    color: rgba(0,0,0, .7);
    text-decoration: none;
    font-weight: 500;
}

@media (min-width: 335px) {

    .site-main__ptwrit--content__title {
        font-size: .9375rem;
    }
}

.site-main__ptwrit--footer {
    margin: 10px 0;
    color: #182427;
    list-style: none;
    border-top: 1px solid #dcdbdc;
    font-size: .8125rem;
    padding: 0;
}

.site-main__ptwrit--footer::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__ptwrit--footer li {
    float: left;
    width: 33.333%;
    border-right: 1px solid #dcdbdc;
    text-align: center;
    padding: 8px 0;
}

.site-main__ptwrit--footer li:first-child {
    border-right: 1px solid #dcdbdc;
    width: 33.333%;
}

.site-main__ptwrit--footer li:last-child {
    border-right: none;
}

@media (min-width: 530px) {

    .site-main__ptwrit {
        margin: 30px 0;
    }
}

.ptwritfilter {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.ptwritfilter__found {
    font-size: .875rem;
    font-weight: 400;
    padding: 10px 0 10px 10px;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdbdc;
    color: #182427;
}

.ptwritfilter__found--total {
    color: #0284a8;
    margin-left: 20px;
}

@media (min-width: 335px) {

    .ptwritfilter__found {
        font-size: .875rem;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__found {
        font-size: .9375rem;
        margin-bottom: 20px;
    }
}

.ptwritfilter__wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.ptwritfilter__wrapper--options {
    float: left;
    margin-bottom: 10px;
}

@media (min-width: 335px) {

    .ptwritfilter__wrapper--options {
        margin-bottom: 0;
    }
}

.ptwritfilter__wrapper--altoption {
    float: left;
}

@media (min-width: 335px) {

    .ptwritfilter__wrapper--altoption {
        float: right;
    }
}

.ptwritfilter__category {
    border: 1px solid rgba(21,164,250, .2);
    border-top: 3px solid #15a4fa;
    color: #182427;
    margin: 0;
    position: relative;
    padding: 7px 15px;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    margin-right: 10px;
    display: none;
}

.ptwritfilter__category--item {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 40px;
    left: 0;
    text-align: left;
    box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -o-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -ms-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -webkit-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    -moz-box-shadow: 0px 1px 9px 1px rgba(53, 152, 219, 0.4);
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .3s ease-in;
}

.ptwritfilter__category--item li {
    float: none;
    padding: 10px 0 10px 15px;
    font-size: .8125rem;
}

.ptwritfilter__category--item__visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in;
}

@media (min-width: 1010px) {

    .ptwritfilter__category {
        padding: 10px 15px;
        display: block;
    }
}

.ptwritfilter__filter {
    float: left;
    border: 1px solid rgba(5,87,139, .2);
    border-top: 3px solid #05578b;
    color: #182427;
    margin: 0;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
}

.ptwritfilter__filter--options {
    position: absolute;
    top: 100px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 2px rgba(51, 51, 51, .2);
    -o-box-shadow: 0px 1px 6px 2px rgba(51, 51, 51, .2);
    -ms-box-shadow: 0px 1px 6px 2px rgba(51, 51, 51, .2);
    -moz-box-shadow: 0px 1px 6px 2px rgba(51, 51, 51, .2);
    -webkit-box-shadow: 0px 1px 6px 2px rgba(51, 51, 51, .2);
    padding: 10px;
    width: 100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in;
}

.ptwritfilter__filter--options__search--field {
    border: 1px solid #dcdbdc;
    overflow: hidden;
    border-radius: 2px;
    width: 100%;
}

.ptwritfilter__filter--options__search--field::after {
    content: "";
    clear: both;
    display: table;
}

.ptwritfilter__filter--options__search--field__inputcalendar {
    padding: 5px 0;
    background-color: #f9fafb;
    width: 14%;
    float: left;
    text-align: center;
}

@media (min-width: 335px) {

    .ptwritfilter__filter--options__search--field__inputcalendar {
        padding: 6px 0;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--field__inputcalendar {
        padding: 9px 0;
    }
}

.ptwritfilter__filter--options__search--field__input {
    float: left;
    width: 86%;
    padding: 8px;
    font-size: .875rem;
    border: none;
    border-left: 1px solid #dcdbdc;
    outline: none;
}

@media (min-width: 335px) {

    .ptwritfilter__filter--options__search--field__input {
        padding: 10px;
        font-size: .8125rem;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--field__input {
        padding: 13px 10px;
        font-size: .875rem;
    }
}

.ptwritfilter__filter--options__search--middlewrapper {
    width: 100%;
    padding-top: 15px;
}

.ptwritfilter__filter--options__search--middlewrapper::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--middlewrapper {
        padding-top: 20px;
    }
}

.ptwritfilter__filter--options__search--found {
    float: none;
}

.ptwritfilter__filter--options__search--found::after {
    content: "";
    clear: both;
    display: table;
}

.ptwritfilter__filter--options__search--found__title {
    float: left;
    padding: 5px 0;
    font-size: .8125rem;

    /* width: 100px; */
    text-align: center;
    position: relative;
    top: 1px;
    margin-right: 10px;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--found__title {
        font-size: .875rem;
        width: 100px;
        margin-right: 0;
    }
}

.ptwritfilter__filter--options__search--found__total {
    float: left;
    padding: 5px 12px;
    background-color: #05578b;
    color: #fff;
    border-radius: 3px;
    font-size: .8125rem;
    box-shadow: 0px 2px rgba(2,132,168, .2);
    -o-box-shadow: 0px 2px rgba(2,132,168, .2);
    -ms-box-shadow: 0px 2px rgba(2,132,168, .2);
    -webkit-box-shadow: 0px 2px rgba(2,132,168, .2);
    -moz-box-shadow: 0px 2px rgba(2,132,168, .2);
    margin-right: 20px;
    cursor: pointer;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--found__total {
        font-size: .875rem;
        padding: 5px 20px;
    }
}

@media (min-width: 380px) {

    .ptwritfilter__filter--options__search--found {
        float: left;
    }
}

.ptwritfilter__filter--options__search--more {
    text-align: center;
    font-size: .8125rem;
    color: rgba(0,0,0, .7);
    background-color: #f9fafb;
    border: 1px solid #e9ebf2;
    float: none;
    width: 100%;
    position: relative;

    /* left: 30px; */
    top: 14px;
    font-style: italic;
}

@media (min-width: 380px) {

    .ptwritfilter__filter--options__search--more {
        float: left;
        width: 50%;
        top: 4px;
    }
}

@media (min-width: 800px) {

    .ptwritfilter__filter--options__search--more {
        width: 60%;
        font-size: .9375rem;
        top: 2px;
        left: auto;
    }
}

.ptwritfilter__filter--options__search--altwrapper {
    width: 100%;
    margin: 30px 0 10px 5px;
}

.ptwritfilter__filter--options__search--altwrapper::after {
    content: "";
    clear: both;
    display: table;
}

.ptwritfilter__filter--options__search--altwrapper__space > div {
    padding-right: 10px;
}

@media (min-width: 380px) {

    .ptwritfilter__filter--options__search--altwrapper__space > div {
        padding-right: 15px;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--altwrapper__space > div {
        padding-right: 20px;
    }
}

@media (min-width: 800px) {

    .ptwritfilter__filter--options__search--altwrapper__space > div {
        padding-right: 33px;
    }
}

@media (min-width: 800px) {

    .ptwritfilter__filter--options__search--altwrapper {
        margin: 30px 0 10px 18px;
    }
}

.ptwritfilter__filter--options__search--alt {
    width: 70%;
    float: none;
    font-size: .875rem;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.ptwritfilter__filter--options__search--alt__title {
    font-weight: 400;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #dcdbdc;
    border-bottom: none;
    margin: 0;
    font-size: .8125rem;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--alt__title {
        font-size: .875rem;
    }
}

.ptwritfilter__filter--options__search--alt__option {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    border: 1px solid #dcdbdc;
    font-size: .8125rem;
}

.ptwritfilter__filter--options__search--alt__option ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ptwritfilter__filter--options__search--alt__option ul::after {
    content: "";
    clear: both;
    display: table;
}

.ptwritfilter__filter--options__search--alt__option ul li {
    float: left;
    padding: 8px 0;
    text-align: center;
}

.ptwritfilter__filter--options__search--alt__option ul li > span {
    margin-right: 5px;
    color: #182427;
}

.ptwritfilter__filter--options__search--alt__option ul li:first-child {
    width: 55%;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--alt__option ul li:first-child {
        width: 50%;
    }
}

.ptwritfilter__filter--options__search--alt__option ul li:last-child {
    width: 45%;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--alt__option ul li:last-child {
        width: 50%;
    }
}

.ptwritfilter__filter--options__search--alt__option ul:hover {
    background-color: #e9ebf2;
    cursor: pointer;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--alt__option {
        font-size: .875rem;
    }
}

@media (min-width: 335px) {

    .ptwritfilter__filter--options__search--alt {
        width: 50%;
        float: left;
        left: auto;
        transform: translateX(0);
    }
}

@media (min-width: 380px) {

    .ptwritfilter__filter--options__search--alt {
        width: 33.33%;
        margin-bottom: 0;
    }
}

.ptwritfilter__filter--options__search--categsm {
    margin: 20px 0;
    width: 140px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.ptwritfilter__filter--options__search--categsm__title {
    background-color: #e9ebf2;
    color: #182427;
    text-align: left;
    font-size: .8125rem;
    position: relative;
    padding: 8px 0 8px 0px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.ptwritfilter__filter--options__search--categsm__item {
    list-style: none;
    margin: 0;
    padding: 3px 0 0 0;
    font-size: .8125rem;
    position: relative;
    top: 0;
    border: 1px solid #dcdbdc;
    display: none;
    visibility: hidden;
    z-index: 1;
    transition: all .3s ease-in;
}

.ptwritfilter__filter--options__search--categsm__item li {
    float: none;
    padding: 8px 0 8px 15px;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
}

.ptwritfilter__filter--options__search--categsm__item--visible {
    display: block;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options__search--categsm {
        width: 150px;
        left: 48%;
        transform: translateX(-48%);
    }
}

@media (min-width: 800px) {

    .ptwritfilter__filter--options__search--categsm {
        width: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ptwritfilter__filter--options__search--btn {
    font-size: .875rem;
    color: #fff !important;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    margin: 15px 0 10px 0;
}

.ptwritfilter__filter--options__search--btn > span {
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.ptwritfilter__filter--options__search--btn__ok {
    background-color: #05578b;
    box-shadow: 0px 2px rgba(2,132,168, .2);
    -o-box-shadow: 0px 2px rgba(2,132,168, .2);
    -ms-box-shadow: 0px 2px rgba(2,132,168, .2);
    -webkit-box-shadow: 0px 2px rgba(2,132,168, .2);
    -moz-box-shadow: 0px 2px rgba(2,132,168, .2);
    padding: 5px 20px;
}

@media (min-width: 335px) {

    .ptwritfilter__filter--options__search--btn__ok {
        padding: 5px 40px;
    }
}

.ptwritfilter__filter--options__search--btn__cancel {
    background-color: #fff !important;
    color: #182427;
    font-weight: 400;

    /* box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .4) !important; */
    margin-right: 10px;
    border: 1px solid rgba(242,38,19, .4);
    padding: 5px 20px;
}

@media (min-width: 335px) {

    .ptwritfilter__filter--options__search--btn__cancel {
        margin-right: 40px;
        margin-left: 0;
        padding: 5px 20px;
    }
}

.ptwritfilter__filter--options__visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in;
}

@media (min-width: 335px) {

    .ptwritfilter__filter--options {
        width: 100%;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__filter--options {
        top: 100px;
        padding: 20px;
    }
}

@media (min-width: 800px) {

    .ptwritfilter__filter--options {
        width: 100%;
        padding: 20px;
    }
}

@media (min-width: 335px) {

    .ptwritfilter__filter {
        padding: 7px 8px;
    }
}

@media (min-width: 380px) {

    .ptwritfilter__filter {
        padding: 7px 20px;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__filter {
        padding: 10px 20px;
        margin-right: 10px;
    }
}

@media (min-width: 1010px) {

    .ptwritfilter__filter {
        margin-left: 10px;
    }
}

.ptwritfilter__myque {
    float: left;
    border: 1px solid rgba(242,38,19, .2);
    border-top: 3px solid #f22613;
    color: #182427;
    margin: 0;
    margin-left: 10px;
    position: relative;
    padding: 7px 35px 7px 15px;
    text-align: left;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
}

.ptwritfilter__myque--total {
    position: absolute;
    right: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #f22613;
    color: #fff !important;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    color: #0284a8;
}

@media (min-width: 335px) {

    .ptwritfilter__myque {
        padding: 7px 35px 7px 10px;
        display: block;
    }
}

@media (min-width: 380px) {

    .ptwritfilter__myque {
        padding: 7px 35px 7px 15px;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__myque {
        padding: 10px 35px 10px 15px;
        margin-left: 10px;
    }
}

.ptwritfilter__addque {
    display: inline;
    color: #fff;
    margin: 0;
    margin-left: 10px;
    position: relative;
    top: 0px;
    padding: 9px 10px;
    margin-right: 0px;
    text-align: center;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: #0284a8;
    box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.53);
    cursor: pointer;
}

@media (min-width: 335px) {

    .ptwritfilter__addque {
        margin-left: 0;
        top: 0;
    }
}

@media (min-width: 530px) {

    .ptwritfilter__addque {
        margin-top: 0;
        padding: 12px 20px;
    }
}

@media (min-width: 530px) {

    .ptwritfilter {
        padding: 0;
    }
}


