.icon__reuse-group--acc__grp {
    font-size: 1.875rem;
    color: #dcdbdc; 
}

.icon__reuse-group--header__calend {
    margin-right: 5px;
    color: rgba(5,87,139, .6); 
}

.icon__reuse-group--cnt__det {
    color: #182427;
    margin-right: 5px; 
}

.icon__reuse-group--cnt__comment {
    margin-right: 10px;
    color: #fff; 
}

.icon__reuse-group--footer__users {
    color: #05578b; 
}

.icon__reuse-group--footer__users-on {
    color: rgba(0,0,0, .55); 
}

.icon__reuse-group--footer__mute {
    margin-right: 5px; 
}

.icon__reuse-group--footer__exit {
    margin-right: 10px;
    color: #fff; 
}

.reuse-group {
    color: #182427; 
    padding: 0 15px;  
    margin: 40px 0; 
}

.reuse-group__wrapper {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9); 
}

.reuse-group__header {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid  #e9ebf2; 
}

.reuse-group__header::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__header > li {
    position: relative;
    float: left;
    font-size: .8125rem; 
}

.reuse-group__header > li:first-child {
    position: relative; 
}

.reuse-group__header > li:last-child {
    float: right; 
}

.reuse-group__header > li:last-child > div {
    display: inline-block; 
}

.reuse-group__header--categ {
    margin: 0 10px 0 0;
    background-color: rgba(220,219,220, .4);
    border-radius: 5px;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: none;
    text-overflow: ellipsis;
    position: relative; 
}

.reuse-group__header--categ a {
    color: #182427;
    text-decoration: none; 
}

.reuse-group__header--tm {
    color: #182427;
    margin-left: 10px;
    padding: 4px 0;
    font-style: italic; 
}

.reuse-group__cnt {
    position: relative;
    padding: 8px 0; 
}

.reuse-group__cnt--chat {
    padding: 30px 0; 
}

.reuse-group__cnt--img {
    position: absolute;
    width: 60px;
    background-color: #fff;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -o-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -ms-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57);
    -moz-box-shadow: 0px 0px 20px 0px rgba(220,219,220, 0.57); 
}

@media (min-width: 530px) {

    .reuse-group__cnt--img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        left: 40px; 
    } 
}

.reuse-group__cnt--desc {
    margin: 0;
    padding: 0 10px 0 100px;
    position: relative; 
}

.reuse-group__cnt--desc__title {
    font-size: .9375rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.reuse-group__cnt--desc__title > a {
    text-decoration: none;
    color: #437da3; 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__title {
        font-size: 1rem; 
    } 
}

.reuse-group__cnt--desc__opt {
    position: relative;
    font-size: .8125rem; 
}

.reuse-group__cnt--desc__opt--join {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #05578b;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0, 0.26);
    padding: 6px;
    color: #fff; 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__opt--join {
        padding: 6px 8px; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc__opt {
        font-size: .875rem;
        margin-top: 20px; 
    } 
}

@media (min-width: 530px) {

    .reuse-group__cnt--desc {
        padding: 0 10px 0 150px; 
    } 
}

.reuse-group__footer {
    position: relative;
    width: 100%; 
}

.reuse-group__footer--grp-det {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-size: .8125rem;
    border-top: 1px solid  #e9ebf2; 
}

.reuse-group__footer--grp-det::after {
    content: "";
    clear: both;
    display: table; 
}

.reuse-group__footer--grp-det > li {
    float: left;
    /* width: 33.333%; */
    text-align: center;
    color: #182427;
    padding: 15px 30px;
    margin: 0;
    border-right: 1px solid rgba(233,235,242, .9); 
}

.reuse-group__footer--grp-det__status, .reuse-group__footer--grp-det__users {
    position: relative; 
}

.reuse-group__footer--grp-det__status--wrapper, .reuse-group__footer--grp-det__users--wrapper {
    background-color: #fff;
    width: 74px;
    margin: 0 auto;
    position: relative;
    padding-left: 40px; 
}

.reuse-group__footer--grp-det__status--icn, .reuse-group__footer--grp-det__users--icn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0; 
}

.reuse-group__footer--grp-det__status--icn__on, .reuse-group__footer--grp-det__users--icn__on {
    width: 8px;
    height: 8px;
    background-color: #16cf27;
    position: absolute;
    right: -2px;
    bottom: 4px;
    border-radius: 8px;
    border: 1px solid #dcdbdc; 
}

.reuse-group__footer--user-det {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer; 
}

.reuse-group__footer--user-det::before, .reuse-group__footer--user-det::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8; 
}

.reuse-group__footer--user-det::before {
    left: 5px; 
}

.reuse-group__footer--user-det::after {
    left: 29px; 
}

.reuse-group__footer--user-det__mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
    left: 17px; 
}

.reuse-group__footer--user-det__opt {
    position: absolute;
    list-style: none;
    top: 40%;
    transform: translateY(-40%);
    right: 53px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in; 
}

.reuse-group__footer--user-det__opt li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer; 
}

.reuse-group__footer--user-det__opt li:last-child {
    background-color: #f22613;
    color: #fff; 
}

.reuse-group__footer--user-det__opt::after, .reuse-group__footer--user-det__opt::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none; 
}

.reuse-group__footer--user-det__opt::after {
    top: 20px;
    right: -24px;
    border-width: 12px;
    border-bottom-color: #fff; 
}

.reuse-group__footer--user-det__opt::before {
    top: 19px;
    right: -26px;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25); 
}

.reuse-group__footer--user-det__opt--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out; 
}

.reuse-group__footer--user-det__clk {
    background-color: #f2f2f2; 
}

.reuse-group__footer--user-det:hover {
    background-color: #f2f2f2;
    transition: all .3s ease-in; 
}

@media (min-width: 530px) {

    .reuse-group__footer {
        font-size: .875rem; 
    } 
}

@media (min-width: 530px) {

    .reuse-group {
        margin: 40px 0px 60px 0px;
        padding: 0 20px; 
    } 
}                 