.icon__reuse-share--googleplus {
    color: #f22613;
}

.icon__reuse-share--facebook {
    color: #15a4fa;
}

.icon__reuse-share--icn {
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: .75rem;
}

@media (min-width: 530px) {

    .icon__reuse-share--icn {
        font-size: .9375rem;
    }
}

.icon__reuse-share--selec {
    color: #dcdbdc;
}

.icon__reuse-share--share {
    margin-right: 5px;
}

.icon__reuse-share--view {
    margin-right: 5px;
}

.icon__reuse-share--user {
    margin-right: 5px;
}

.reuse-share {
    font-style: normal;
}

.reuse-share__icn {
    position: absolute;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: #437da3;
    right: 0;
    top: -6px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__icn:hover {
    transform: rotate(-90deg);
    transition: all .3s ease-in;
}

.reuse-share__icn--rotate {
    transform: rotate(-90deg);
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-share__icn {
        border-radius: 15px;
        height: 30px;
        width: 30px;
        top: -10px;
        right: 0px;
    }
}

.reuse-share__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .75);
    z-index: 4;
    padding-top: 52px;
}

.reuse-share__wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 500px;
    height: 90vh;
    background-color: #fff;
    border-radius: 3px;
    font-size: .875rem;

    /* opacity: 0;
        visibility: hidden; */
    transition: all .3s ease-out;
}

.reuse-share__wrapper--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-out;
}

.reuse-share__social-icn {
    list-style: none;
    margin: 0;
    padding: 8px 10px;
    font-size: 28px;

    /* background-color: $mainDarkPaleBlue;  */
    border-top: 1px solid #dcdbdc;
    display: none;
}

.reuse-share__social-icn::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-share__social-icn > li {
    float: left;
}

.reuse-share__social-icn > li:last-child {
    float: right;
}

.reuse-share__social-icn--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in;
}

.reuse-share__search {
    width: 100%;
    background-color: #05578b;
    padding: 10px 20px;
}

.reuse-share__search--cnt {
    padding: 8px 10px;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px 1px rgba(0,0,0, .45);
}

.reuse-share__user {
    border: 1px solid #dcdbdc;
    margin-top: 20px;
    border-radius: 5px;
}

.reuse-share__user--det {
    position: relative;
    padding: 5px 0;
}

.reuse-share__user--det__img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #0284a8;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.reuse-share__user--det__img--status {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #dcdbdc;
    bottom: 4px;
    right: 8px;
}

.reuse-share__user--det__img--status__on {
    background-color: #16cf27;
}

.reuse-share__user--det__img--status__off {
    background-color: #ff1600;
}

.reuse-share__user--det__info {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 90px;
}

.reuse-share__user--det__info > li {
    position: relative;
    padding: 6px 0;
}

.reuse-share__user--det__info > li > a {
    color: #182427;
    text-decoration: none;
}

.reuse-share__user--det__info > li:last-child {
    color: #0284a8;
    padding-left: 35px;
}

.reuse-share__user--det__info > li:last-child > div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #dcdbdc;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-weight: bold;
}

.reuse-share__user--det__selec {
    position: absolute;
    top: -5px;
    right: -2px;
    font-size: 1rem;
    cursor: pointer;
}

.reuse-share__user--det__selec--clk {
    color: #16cf27;
}

.reuse-share__user--det__selec--clk > svg {
    color: #16cf27;
    transition: all .3s ease-in;
}

.reuse-share__user:hover {
    border: 1px solid #16cf27;
    transition: all .3s ease-in;
}

.reuse-share__user--clk {
    border: 1px solid #16cf27;
    transition: all .3s ease-in;
    animation: wrapper .3s ease-in forwards;
}

.reuse-share__switch-opt {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 44px;
    background-color: #dcdbdc;
    box-shadow: -2px 0 2px 0 rgba(0,0,0, .45);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-share__switch-opt::after, .reuse-share__switch-opt::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0,0,0, .6);
    left: 50%;
    transform: translateX(-50%);
}

.reuse-share__switch-opt::before {
    top: 6px;
}

.reuse-share__switch-opt::after {
    top: 34px;
}

.reuse-share__switch-opt--mid {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.reuse-share__switch-opt--visible {
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transition: all .3s ease-in;
}

.reuse-share__user-counter {
    position: relative;
    margin: 0;
    padding: 10px;
    z-index: 1;
    background-color: #f2f2f2;
    cursor: default;
}

.reuse-share__user-counter::after {
    content: "";
    clear: both;
    display: table;
}

/* display: none; */

.reuse-share__user-counter > div {
    border-radius: 3px;
    font-size: .75rem;
    cursor: pointer;
}

.reuse-share__user-counter--share {
    position: relative;
    float: left;
    margin: 0;
    padding: 5px 10px;
    background-color: #0284a8;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -o-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
}

.reuse-share__user-counter--share__select {
    position: absolute;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
    top: -10px;
    right: -12px;
    color: #ff1600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border: 1px solid #dcdbdc;
    font-weight: bold;
}

.reuse-share__user-counter--share__select::before {
    content:"";
    border-bottom-width: 20px;
}

.reuse-share__user-counter--view {
    float: right;
    margin: 0;
    padding: 5px 10px;
    background-color: #fff;
    color: #0284a8;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.8);
}

.reuse-share__user-counter--more-opt {
    padding: 10px 26px 10px 10px;
}

.reuse-share__user-counter--visible {
    z-index: 1;
    display: block;
}

.reuse-share__all-users {
    background-color: #fff;
    padding: 0 10px 20px 10px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #dcdbdc;
    display: none;
}

.reuse-share__all-users--visible {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    transition: all .3s ease-in;
}

.reuse-share__user-select {
    background-color: #fff;
    padding: 0 0 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #dcdbdc;
}

/* display: none; */

.reuse-share__user-select--title {
    margin: 0;
    padding: 6px 0;
    text-align: center;
    background-color: #e9ebf2;
    position: relative;
}

.reuse-share__user-select > div {
    margin: 20px 10px 10px 10px;
}

.reuse-share__user-select--visible {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    transition: all .3s ease-in;
}
   