.reuse-que {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -o-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -ms-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    margin: 40px 15px;
}

.reuse-que__header {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .8125rem;
    background-color: #fff;
    border-bottom: 1px solid #e9ebf2;
    position: relative;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reuse-que__header::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que__header > li {
    position: relative;
}

.reuse-que__header > li:first-child {
    position: relative;
    padding: 15px 0 15px 15px;
    float: left;
}

.reuse-que__header > li:first-child::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que__header > li:last-child {
    position: relative;
    float: right;
    padding: 3px 0;
}

.reuse-que__header--category {
    position: relative;
}

.reuse-que__header--category__img {
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: #dcdbdc;
    top: 3px;
    left: 5px;
}

@media (min-width: 530px) {

    .reuse-que__header--category__img {
        left: 20px;
    }
}

.reuse-que__header--category__det {
    padding-left: 20px;
}

.reuse-que__header--category__det::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que__header--category__det--name {
    float: left;
    margin-left: 10px;
    padding-right: 3px;
    max-width: 70px;
    overflow: hidden;
    word-wrap: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.reuse-que__header--category__det--name a {
    color: #0284a8;
}

@media (min-width: 530px) {

    .reuse-que__header--category__det--name {
        max-width: 80px;
    }
}

.reuse-que__header--category__det--timePosted {
    float: left;
    white-space: nowrap;
    color: #05578b;
}

@media (min-width: 530px) {

    .reuse-que__header--category__det {
        padding-left: 45px;
    }
}

.reuse-que__header--share {
    position: relative;
}

.reuse-que__header--share__category {
    margin: 4px 25px 0 0;
    max-width: 90% !important;
    background-color: rgba(220,219,220, .4);
    border-radius: 5px;
    padding: 4px;
    /* border: 1px solid $mainDarkGray; */
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: none;
    text-overflow: ellipsis;
    position: relative;
    top: 3px;
}

.reuse-que__header--share__category a {
    color: #182427;
    text-decoration: none;
}

@media (min-width: 530px) {

    .reuse-que__header--share__category {
        margin: 4px 33px 0 0;
    }
}

.reuse-que__content {
    margin: 10px 0;
    padding: 0 20px;
}

.reuse-que__content::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que__content--title {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    text-align: center;
}

.reuse-que__content--title__que-img {
    float: left;
    width: 60%;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reuse-que__content--title a {
    color: #437da3;
}

@media (min-width: 530px) {

    .reuse-que__content--title {
        line-height: 2;
    }
}

.reuse-que__content--img {
    float: left;
    width: 40%;
    background-color: rgba(233,235,242, .56);
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.reuse-que__ans {
    font-family: 'poppins', Roboto, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.reuse-que__ans::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que__ans--wrapper {
    float: right;
    margin-right: 5px;
    position: relative;
    font-size: .8125rem;
    /* background-color: $mainLightGray; */
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 10px 10px 30px;
}

.reuse-que__ans--total {
    position: absolute;
    left: 0;
    background-color: #ff1600;
    color: #fff;
    /* font-size: .875rem; */
    width: 22px;
    height: 22px;
    border-radius: 11px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-que__footer {
    background-color: #fff;
    border-top: 1px solid #e9ebf2;
    /* box-shadow: 0px -2px 9px 0px rgba($mainDarkGray, 0.57); */
    position: relative;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.reuse-que__footer--list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .8125rem;
    position: relative;
}

.reuse-que__footer--list::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que__footer--list li {
    float: left;
    padding: 15px 12px;
    font-style: italic;
    color: #182427;
    border-right: 1px solid #e9ebf2;
    cursor: default;
}

.reuse-que__footer--list li:first-child {
    padding-left: 5px;
}

@media (min-width: 335px) {

    .reuse-que__footer--list li:first-child {
        padding-left: 8px;
    }
}

@media (min-width: 530px) {

    .reuse-que__footer--list li:first-child {
        padding-left: 18px;
    }
}

@media (min-width: 530px) {

    .reuse-que__footer--list li {
        padding: 15px;
    }
}

@media (min-width: 800px) {

    .reuse-que__footer--list li {
        padding: 15px 30px;
    }
}

.reuse-que__footer--list__item-middle {
    display: none;
}

@media (min-width: 335px) {

    .reuse-que__footer--list__item-middle {
        display: block;
    }
}

.reuse-que__footer--details {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-que__footer--details::before, .reuse-que__footer--details::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
}

.reuse-que__footer--details::before {
    left: 6px;
}

.reuse-que__footer--details::after {
    left: 30px;
}

.reuse-que__footer--details__mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
}

.reuse-que__footer--details__options {
    position: absolute;
    list-style: none;
    top: -41px;
    right: 53px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-que__footer--details__options li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-que__footer--details__options li:first-child {
    background-color: #05578b;
    padding: 0;
    border: none;
}

.reuse-que__footer--details__options li:last-child {
    background-color: #f22613;
    color: #fff;
}

.reuse-que__footer--details__options li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.reuse-que__footer--details__options::after {
    position: absolute;
    content: "";
    top: 50px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-que__footer--details__options::before {
    position: absolute;
    content: "";
    top: 49px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-que__footer--details__options--helpme {
    top: 40%;
    transform: translateY(-40%);
    right: 53px;
}

.reuse-que__footer--details__options--helpme > li {
    padding: 5px;
}

.reuse-que__footer--details__options--helpme > li:first-child {
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .25);
    padding: 5px;
}

.reuse-que__footer--details__options--helpme::after {
    top: 20px;
    right: -24px;
}

.reuse-que__footer--details__options--helpme::before {
    top: 19px;
    right: -26px;
}

.reuse-que__footer--details__options--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-out;
}

.reuse-que__footer--details__clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

.reuse-que__footer--details:hover {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-que__footer--details {
        right: 40px;
    }
}

@media (min-width: 530px) {

    .reuse-que {
        margin: 40px 20px 60px 20px;
    }
}

.icon__reuse-que--header__tag {
    color: #777;
    cursor: pointer;
}

.icon__reuse-que--footer__thumbup {
    color: #0284a8;
    cursor: pointer;
}

.icon__reuse-que--footer__thumbdown {
    color: #000;
    cursor: pointer;
}

.icon__reuse-que--footer__heart {
    color: #ff1600;
    cursor: pointer;
}

.icon__reuse-que--options {
    margin-right: 10px;
}

.icon__reuse-que--options__dft {
    margin-right: 5px;
}