.icon__site-main__content--tab {
    margin-right: 5px;

}

.icon__reuse-que-help--user {
    font-size: 1.875rem;
    color: #dcdbdc;

}

.active__main {
    position: absolute;
    background-color: #f22613;
    color: #fff;
    font-size: .875rem;

}

.active__main--tab {
    top: 4px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--tab > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 530px) {

    .active__main--tab {
        right: 8px;
        top: 4px;

    }

}

.active__main--chat {
    top: -10px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--chat > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 530px) {

    .active__main--chat {
        right: -20px;

    }

}

.site-hero {
    position: relative;
    margin-top: 62px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #006699;
}

/* border-top: 5px solid #fff; */

.site-hero__hidden {
    display: none;

}

.site-main {
    color: #555;
    margin: 0 0 6px 0;
}

.site-main__content {
    color: #555;

}

.site-main__content--tab{
    list-style: none;

}

.site-main__content--tab li {
    padding: 12px 0;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.site-main__content--tab li:last-child {
    display: none;

}

@media (min-width: 530px) {

    .site-main__content--tab li:last-child {
        display: block;

    }

}

@media (min-width: 530px) {

    .site-main__content--tab li {
        width: 20%;
        font-size: .875rem;

    }

}

.reuse-que-help {
    width: 100%;
    position: relative;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.reuse-que-help__wrapper {
    position: relative;
    width: 250px;
    padding-left: 100px;
    margin: 0 auto;

}

.reuse-que-help__icn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: .9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;

}

.reuse-que-help__cnt {
    text-align: left;
    font-size: .9375rem;
    padding:  0;
    margin: 0;
    position: relative;

}

.reuse-que-help__cnt--title {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;

}

.reuse-que-help__cnt--title__add-grp {
    text-align: center;
    margin-bottom: 10px;

}

.reuse-que-help__cnt > ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.reuse-que-help__cnt > ul::after {
    content: "";
    clear: both;
    display: table;

}

.reuse-que-help__cnt > ul > li {
    float: left;
    padding: 3px 0;

}

.reuse-que-help__cnt > ul > li > a {
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    font-weight: 300;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .45);

}

.reuse-que-help__cnt--login {
    background-color: #e9ebf2;
    color: #555;

}

.reuse-que-help__cnt--sign {
    background-color: #0284a8;
    color: #fff;
    margin: 0 0 0 20px;

} 
