.icon__site-main__content--tab {
    margin-right: 5px;

}

.active__main {
    position: absolute;
    background-color: #f22613;
    color: #fff;
    font-size: .875rem;

}

.active__main--tab {
    top: 4px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--tab > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 530px) {

    .active__main--tab {
        right: 8px;
        top: 4px;

    }

}

.active__main--chat {
    top: -10px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--chat > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 530px) {

    .active__main--chat {
        right: -20px;

    }

}

.site-hero {
    position: relative;
    margin-top: 62px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #006699;
}

/* border-top: 5px solid #fff; */

.site-hero__hidden {
    display: none;

}

.site-main {
    color: #555;
    margin: 0 0 6px 0;
}

.site-main__content {
    color: #555;

}

.site-main__content--tab{
    list-style: none;

}

.site-main__content--tab li {
    padding: 12px 0;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.site-main__content--tab li:last-child {
    display: none;

}

@media (min-width: 530px) {

    .site-main__content--tab li:last-child {
        display: block;

    }

}

@media (min-width: 530px) {

    .site-main__content--tab li {
        width: 20%;
        font-size: .875rem;

    }

} 
