.active__main {
    color: #fff;
}

.active__main--req {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);
}

.active__main--req > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
}

@media (min-width: 530px) {

    .active__main--req {
        right: 8px;
        top: 4px;
    }
}

.icon__site-main--user__tab {
    margin-right: 5px;
}

.icon__site-main--user__filter {
    margin-left: 5px;
}

.icon__site-main--user__content--opt {
    margin-right: 5px;
}

.icon__site-main__user--filter__snt {
    margin-right: 5px;
    color: #0284a8;
}

.icon__site-main__user--filter__ans {
    margin-right: 5px;
    color: #ff1600;
}

.icon__site-main__user--filter__sub {
    margin-right: 5px;
}

.reuse-trd {
    position: relative;
}

.reuse-trd__nav {
    margin: 10px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    border: 1px solid #dcdbdc;
    /* box-shadow: 0 0 .2px .2px rgba($mainDarkBlack, .2); */
}

.reuse-trd > h3 {
    padding: 5px 20px;
    font-size: 1rem;
    background-color: #dcdbdc;
    margin: 0 0 0 0;
    font-weight: 400;
    box-shadow: 0 .5px 1px 0px rgba(0,0,0, .2);
}

.reuse-trd__cnt {
    padding: 0;
}

.reuse-trd__cnt--nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 5px;
}

.reuse-trd__cnt--wrapper {
    position: relative;
}

.reuse-trd__cnt--wrapper__nav {
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    margin: 20px 10px;
}

.reuse-set {
    background-color: #437da3;
    color: #fff;
    margin: 10px;
    font-weight: 400;
}

.reuse-set__header {
    text-align: center;
    font-size: .9375rem;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, .6);
}

.reuse-set__header--startQues {
    background-color: #15a4fa;
    padding: 3px 5px;
    margin-left: 10px;
}

.reuse-set__header--startQues a {
    text-decoration: none;
    color: #fff;
}

.reuse-set__categ {
    text-align: center;
    width: 100%;
    color: #182427;
    display:  -ms-flexbox;
    display:  flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: .875rem;
}

.reuse-set__categ--title {
    width: 140px;
    margin: 8px 0;
    padding: 5px 0;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -o-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -moz-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -webkit-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
    -ms-box-shadow: inset 0 0 2px .5px rgba(2,132,168, .56);
}

.reuse-set__categ--title__item {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -o-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -moz-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0, .2);
    width: 100%;
    background-color: #fff;
    bottom: 26px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    border-top: none;
    font-size: .875rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease-out;
}

.reuse-set__categ--title__item li {
    /* border-bottom: 1px solid $mainLightGray; */
    padding: 5px 0;
    box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -o-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -moz-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -webkit-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
    -ms-box-shadow: inset 0 .5px .2px 0px rgba(0,0,0, .2);
}

.reuse-set__categ--title__item li:first-child {
    margin-top: 3px;
    /* border-top: 1px solid $mainLightGray; */
    box-shadow: none;
}

.reuse-set__categ--title__item li:last-child {
    border-bottom: none;
}

.reuse-set__categ--title__item--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-out;
}

.site-main__user{
    color: #182427;
}

.site-main__user--srch {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #dcdbdc;
    border-top: none;
    top: 0;
    padding: 10px 10px 20px 10px;
    display: none;
}

.site-main__user--srch__close {
    width: 20px;
    height: 20px;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .5);
    color: #ff1600;
    font-size: .75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.site-main__user--srch__wrapper {
    position: relative;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .3);
    z-index: 1;
    font-size: .875rem;
    border-radius: 5px;
    width: 95%;
    box-shadow: 0 2px 1px 0 rgba(0,0,0, .3);
}

.site-main__user--srch__wrapper > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align:center;
        align-items:center;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0,0,0, .3);
}

.site-main__user--srch__input {
    border: none;
    outline: none;
    padding: 6px 10px 6px 60px;
    border-radius: 5px;
    width: 100%;
}

@media (min-width: 800px) {

    .site-main__user--srch__input {
        padding: 8px 10px 8px 60px;
    }
}

.site-main__user--srch__visible {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    opacity: 1;
    visibility: visible;
    display: block;
    width: 100%;
    z-index: 2;
}

.site-main__user--filter {
    list-style: none;
    margin: 10px 15px 0 15px;
    padding:  0;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #dcdbdc;
}

.site-main__user--filter::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--filter > li {
    float: left;
}

.site-main__user--filter > li:first-child {
    font-size: .8125rem;
    text-align: center;
}

.site-main__user--filter__opt {
    cursor: default;
}

.site-main__user--filter__opt--wrapper {
    background-color: #fff;
    border: 1px solid #dcdbdc;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 5px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.site-main__user--filter__opt--wrapper__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.site-main__user--filter__opt--title {
    border: 1px solid rgba(2,132,168, .2);
    border-top: 3px solid #0284a8;
    color: #182427;
    margin: 0;
    margin-left: 0px;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transition: all .5s ease-in;
}

@media (min-width: 530px) {

    .site-main__user--filter__opt--title {
        padding: 10px 20px;
    }
}

.site-main__user--filter__opt--close {
    position: absolute;
    right: -5px;
    width: 22px;
    height: 22px;
    background-color: #e9ebf2;
    color: #ff1600;
    font-size: .75rem;
    top: -5px;
    border-radius: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1;
    cursor: pointer;
    border: 1px solid rgba(0,0,0, .3);
}

.site-main__user--filter__opt--header {
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .4);
    border-bottom: 2px solid #0284a8;
}

.site-main__user--filter__opt--header__cnt{
    position: relative;
    width: 130px;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #fff;
}

.site-main__user--filter__opt--header__cnt > div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #15a4fa;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.site-main__user--filter__opt--content {
    position: relative;
    padding: 20px 10px;
}

.site-main__user--filter__opt--content::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--filter__opt--content__wrapper {
    position: relative;
    margin: 0 auto 30px auto;
    width: 70%;
    float: none;
    text-align: left;
    padding: 0 10px 0 0;
    font-size: .8125rem;
}

.site-main__user--filter__opt--content__wrapper--sub {
    padding: 0 !important;
    border: 1px solid #0284a8 !important;
}

.site-main__user--filter__opt--content__wrapper > ul {
    list-style: none;
    margin: 0;
    padding:  0 0 5px 0;
    border: 1px solid #dcdbdc;
}

.site-main__user--filter__opt--content__wrapper > ul > li  {
    padding: 8px 0 8px 6px;
    text-align: left;
    cursor: pointer;
}

.site-main__user--filter__opt--content__wrapper > ul > li::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--filter__opt--content__wrapper > ul > li:first-child {
    text-align: center;
    cursor: default;
}

.site-main__user--filter__opt--content__wrapper > ul > li > span {
    margin: 0 6px 0 0;
    text-align: right;
    float: right;
}

.site-main__user--filter__opt--content__wrapper > ul > li > span > span {
    padding-left: 5px;
}

@media (min-width: 530px) {

    .site-main__user--filter__opt--content__wrapper > ul > li > span {
        margin: 0 20px 0 0;
    }
}

.site-main__user--filter__opt--content__wrapper > ul > li:hover {
    background-color: #e9ebf2;
}

@media (min-width: 530px) {

    .site-main__user--filter__opt--content__wrapper > ul > li {
        padding: 8px 0 8px 20px;
    }
}

@media (min-width: 335px) {

    .site-main__user--filter__opt--content__wrapper {
        text-align: center;
        width: 50%;
        float: left;
        padding: 0 15px 0 0;
    }
}

@media (min-width: 380px) {

    .site-main__user--filter__opt--content__wrapper {
        float: left;
        width: 33.33%;
        margin: 0  auto;
    }
}

@media (min-width: 530px) {

    .site-main__user--filter__opt--content__wrapper {
        padding: 0 20px 0 0;
        font-size: .875rem;
    }
}

@media (min-width: 800px) {

    .site-main__user--filter__opt--content__wrapper {
        padding: 0 33px 0 0;
    }
}

.site-main__user--filter__opt--content__snt {
    padding: 5px 0;
    box-shadow: 0 1px 4px 0px rgba(0,0,0, 0.57);
    margin-bottom: 8px;
}

.site-main__user--filter__opt--content__snt:hover {
    background-color: transparent !important;
}

.site-main__user--filter__opt--content__ans {
    padding: 5px 0;
    box-shadow: 0 1px 4px 0px rgba(0,0,0, 0.57);
    margin-bottom: 8px;
}

.site-main__user--filter__opt--content__ans:hover {
    background-color: transparent !important;
}

.site-main__user--filter__opt--content__sub {
    position: relative;
    background-color: #05578b;
    color: #fff;
}

.site-main__user--filter__opt--content__sub > ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0, .4);
    height: 110px;
    overflow: hidden;
    overflow-y: auto;
}

.site-main__user--filter__opt--content__sub > ul > li {
    margin: 0;
    padding: 8px 0 8px 10px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #dcdbdc;
    /* color: $mainDarkBlue; */
    font-weight: 600;
    color: rgba(0,0,0, .8);
    cursor: pointer;
}

.site-main__user--filter__opt--content__sub > ul > li:first-child {
    border-top: 1px solid #dcdbdc;
}

.site-main__user--filter__opt--content__sub > ul > li:last-child {
    border-bottom: none;
}

.site-main__user--filter__opt--content__sub > ul > li:hover {
    background-color: #e9ebf2;
}

.site-main__user--filter__opt--content__sub:hover {
    background-color: #05578b !important;
}

.site-main__user--filter__opt--subfilter {
    list-style:  none;
    margin: 80px 10px 20px 10px;
    padding: 0 0 5px 0;
    font-size: .875rem;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0, .5);
}

.site-main__user--filter__opt--subfilter::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--filter__opt--subfilter > li {
    float: left;
    margin: 5px 10px 5px 5px;
    padding: 5px 10px;
    background-color: #e9ebf2;
    position: relative;
    border: 1px solid #dcdbdc;
}

.site-main__user--filter__opt--subfilter > li > div {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    color: #ff1600;
    border-radius: 6px;
    right: -6px;
    font-size: .5rem;
    top: -5px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border: 1px solid rgba(0,0,0, .5);
}

.site-main__user--filter__opt--subfilter > li:first-child {
    padding: 5px 0;
    margin: 0 0 5px 0;
    float: none;
    text-align: center;
    color: #000;
    background-color: rgba(5,87,139, 1);
    /* box-shadow: 0 0 2px 0 rgba($mainDarkBlack, .6);  */
    color: #fff;
}

@media (min-width: 380px) {

    .site-main__user--filter__opt--subfilter {
        margin-top: 0;
    }
}

.site-main__user--filter__fnd {
    float: left;
    border: 1px solid rgba(242,38,19, .2);
    border-top: 3px solid #f22613;
    color: #182427;
    margin: 0;
    margin-left: 10px;
    position: relative;
    padding: 7px 35px 7px 15px;
    text-align: left;
    border-radius: 2px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .5s ease-in;
}

.site-main__user--filter__fnd > div {
    position: absolute;
    right: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #f22613;
    color: #fff !important;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    color: #0284a8;
}

@media (min-width: 530px) {

    .site-main__user--filter__fnd {
        padding: 10px 35px 10px 15px;
        margin-left: 20px;
    }
}

.site-main__user--filter__srch {
    position: absolute;
    background-color: #15a4fa;
    font-size: .875rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    color: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0, .5);
    -o-box-shadow: 0 0 2px 0 rgba(0,0,0, .5);
    -ms-box-shadow: 0 0 2px 0 rgba(0,0,0, .5);
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0, .5);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0, .5);
    top: 10%;
    transform: translateY(-10%);
    cursor: pointer;
    right: 0;
}

@media (min-width: 530px) {

    .site-main__user--filter__srch {
        padding: 10px;
    }
}

@media (min-width: 1010px) {

    .site-main__user--filter {
        margin: 10px 20px 0 20px;
    }
}

.site-main__user--content {
    position: relative;
}

.site-main__user--content__wrapper {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -o-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    -ms-box-shadow: 0px 2px 9px 2px rgba(0,0,0, .3);
    margin: 40px 15px;
    position: relative;
    padding: 10px 0px 0 0px;
}

@media (min-width: 530px) {

    .site-main__user--content__wrapper {
        margin: 40px 20px 60px 20px;
    }
}

.site-main__user--content__user {
    position: relative;
    border-bottom: 1px solid #dcdbdc;
    padding: 0 20px 5px 20px;
}

.site-main__user--content__user::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--content__user--title {
    color: #0284a8;
    font-size: .875rem;
    float: left;
}

@media (min-width: 800px) {

    .site-main__user--content__user--title {
        font-size: 1rem;
    }
}

.site-main__user--content__user--status {
    float: right;
    font-size: .8125rem;
    padding-left: 18px;
    position: relative;
}

.site-main__user--content__user--status > div {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0px 1px 2.68px 2.32px rgba(0, 0, 0, 0.57);
    -o-box-shadow: 0px 1px 2.68px 2.32px rgba(0, 0, 0, 0.57);
    -ms-box-shadow: 0px 1px 2.68px 2.32px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 1px 2.68px 2.32px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 1px 2.68px 2.32px rgba(0, 0, 0, 0.57);
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
}

.site-main__user--content__user--status__on {
    background-color: #16cf27;
}

.site-main__user--content__user--status__off {
    background-color: #ff1600;
}

.site-main__user--content__det {
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #dcdbdc;
}

.site-main__user--content__det--img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -o-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -ms-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -webkit-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    -moz-box-shadow: 0px 2px 7.76px 0.24px rgba(0, 98, 126, 0.4);
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.site-main__user--content__det--user {
    list-style: none;
    margin: 0;
    padding: 0 0 0 80px;
}

.site-main__user--content__det--user::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--content__det--user > li {
    float: none;
    position: relative;
}

.site-main__user--content__det--user > li > div {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #ff1600;
    color: #fff;
    position: absolute;
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 1.68px 1.32px rgba(0, 0, 0, 0.57);
    -o-box-shadow: 0px 0px 1.68px 1.32px rgba(0, 0, 0, 0.57);
    -ms-box-shadow: 0px 0px 1.68px 1.32px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 1.68px 1.32px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 1.68px 1.32px rgba(0, 0, 0, 0.57);
}

.site-main__user--content__det--user > li:last-child {
    padding-left: 28px;
    font-size: .875rem;
    margin-top: 5px;
}

.site-main__user--content__det--user__exp {
    font-size: .875rem;
    padding: 0;
    font-weight: 300;
}

.site-main__user--content__det--user__exp > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-main__user--content__det--user__exp > ul::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--content__det--user__exp > ul > li {
    float: left;
    background-color: #e9ebf2;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 400;
    margin-bottom: 6px;
}

.site-main__user--content__det--user__exp > ul > li:first-child {
    margin-left: 0;
    margin-right: 10px;
    background-color: #fff;
    padding: 2px 0 0 0;
    border-radius: 5px;
    font-weight: 400;
}

.site-main__user--content__opt {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.site-main__user--content__opt::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__user--content__opt > li {
    float: left;
    /* width: 50%; */
    text-align: center;
    padding: 10px 0;
    font-size: .875rem;
}

.site-main__user--content__opt > li:first-child {
    border-right: 1px solid #dcdbdc;
}

.site-main__user--content__opt--prf {
    border-radius: 5px;
    box-shadow: 0px 1px 4.85px 0.15px rgba(0, 0, 0, 0.57);
    -o-box-shadow: 0px 1px 4.85px 0.15px rgba(0, 0, 0, 0.57);
    -ms-box-shadow: 0px 1px 4.85px 0.15px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 1px 4.85px 0.15px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 1px 4.85px 0.15px rgba(0, 0, 0, 0.57);
    background-color: #f9f9f9;
    padding: 3px 15px;
    margin-right: 20px;
    cursor: pointer;
}

.site-main__user--content__opt--add {
    background: linear-gradient( 0deg, rgb(83,97,125) 0%, rgb(0,98,126) 0%, rgb(15,139,175) 39%, rgb(14,129,162) 55%, rgb(0,98,126) 100%);
    background: -ms-linear-gradient( 0deg, rgb(83,97,125) 0%, rgb(0,98,126) 0%, rgb(15,139,175) 39%, rgb(14,129,162) 55%, rgb(0,98,126) 100%);
    box-shadow: 0 2px 4.85px 0.15px rgba(0, 0, 0, 0.49);
    -o-box-shadow: 0 2px 4.85px 0.15px rgba(0, 0, 0, 0.49);
    -ms-box-shadow: 0 2px 4.85px 0.15px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 0 2px 4.85px 0.15px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0 2px 4.85px 0.15px rgba(0, 0, 0, 0.49);
    padding: 3px 25px;
    border-radius: 5px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}   