.icon__reuse-share--title {
    margin-left: 20px;
}

.icon__reuse-share--googleplus {
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #f22613;
    float: right;
}

.icon__reuse-share--facebook {
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #15a4fa;
    float: left;
}

.icon__reuse-share--icn {
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: .75rem;
}

.icon__reuse-share--selec {
    color: #16cf27;
}

.icon__reuse-share--content-ans {
    font-size: .625rem;
    color: #15a4fa;
}

.icon__reuse-share--content-snts {
    font-size: .625rem;
    color: #05578b;
}

.icon__reuse-share--share {
    margin-right: 5px;
}

.icon__reuse-share--view {
    margin-right: 5px;
}

.icon__reuse-share--user {
    color: #182427;
    font-size: .75rem;
}

.icon__reuse-share--mainclose {
    font-size: .75rem;
    color: rgba(0,0,0, .6);
}

.icon__reuse-share--close {
    font-size: .625rem;
    color: #ff1600;
}

.icon__reuse-share--user-selec__user {
    color: #0284a8;
    font-size: .625rem;
}

.icon__reuse-share--reset {
    color: #ff1600;
    margin-right: 5px;
    font-size: .875rem;
    position: relative;
    top: 1px;
}

.icon__reuse-view--main__edit {
    font-size: .75rem;
    color: #05578b;
    text-align: center;
}

.icon__reuse-view--main__add {
    margin-right: 10px;
}

.icon__reuse-view--main__tm {
    color: #0284a8;
    margin-right: 5px;
}

.icon__reuse-view--main__eye {
    color: #182427;
}

.icon__reuse-view--circle {
    font-size: .35rem;
    color: #0284a8;
    margin-left: 6px;
}

.icon__reuse-view--fav {
    color: rgba(85,85,85, .7);
    cursor: pointer;
}

.icon__reuse-view--comments__like {
    color: rgba(85,85,85, .8);
    cursor: pointer;
    margin-right: 34px;
}

.icon__reuse-view--comments__reply {
    color: rgba(85,85,85, .7);
    cursor: pointer;
}

.icon__reuse-view--comments__chats {
    color: rgba(0,0,0, .5);
    margin-right: 5px;
}

.icon__reuse-view--comments__arrow {
    margin: 0 10px;
    font-size: .8125rem;
}

@media (min-width: 530px) {

    .icon__reuse-view--comments__arrow {
        font-size: .875rem;
    }
}

.icon__reuse-view--box__reply--close {
    color:#182427;
    font-size: .875rem;
    cursor: pointer;
}

.icon__reuse-view--reply__header {
    position: relative;
    top: 9px;
    color: #15a4fa;
}

.icon__reuse-view--reply {
    margin-right: 10px;
}

.icon__reuse-view--reply__mic {
    position: relative;
    top: 9px;
    color: #f22613;
}

.icon__reuse-view--options {
    margin-right: 5px;
}

.icon__reuse-view--form__pen {
    margin-right: 10px;
    font-size: 1.1rem;
}

.icon__reuse-view--form__add {
    color: #182427;
    margin-right: 5px;
}

.icon__reuse-view--exchange__alt {
    color: #fff;
    font-size: 1rem;
    display: none;
    cursor: pointer;
}

@media (min-width: 1010px) {

    .icon__reuse-view--exchange__alt {
        display: inline;
    }
}

.icon__reuse-view--nav__clock {
    font-size: .9375rem;
    margin-right: 5px;
}

.icon__reuse-view--nav__angle {
    margin-left: 5px;
}

.icon__reuse-view--nav__user {
    margin-right: 5px;
    color: rgba(0,0,0, .25);
}

.icon__reuse-view--nav__coffee {
    margin-right: 5px;
    color: rgba(0,0,0, .25);
}

.icon__reuse-view--nav__footer--tm {
    margin-right: 5px;
}

.reuse-view {
    position: relative;
}

.reuse-view__main {
    background-color: #fff;
    position: relative;
    margin-top: 0;
}

.reuse-view__main--header {
    position: relative;
    padding: 0 10px;
    background-color: #dcdbdc;
}

.reuse-view__main--header__title {
    color: #182427;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.reuse-view__main--header__det {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    font-size: .875rem;
    color: #182427;
}

.reuse-view__main--header__det::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__main--header__det--que {
    padding-top: 10px;
    margin: 0;
}

.reuse-view__main--header__det > li {
    float: left;
    margin-right: 50px;
    position: relative;
}

.reuse-view__main--header__det > li:last-child {
    margin-right: 0;
    padding-left: 34px;
    color: #0284a8;
}

.reuse-view__main--header__det > li:last-child > div {
    left: 0;
    background-color: #e9ebf2;
}

.reuse-view__main--header__det > li > div {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .25);
}

@media (min-width: 530px) {

    .reuse-view__main--header__det > li {
        margin-right: 60px;
    }
}

.reuse-view__main--header__det--ans {
    padding-right: 34px;
}

.reuse-view__main--header__det--ans > div {
    background-color: #ff1600;
    color: #fff;
    right: 0;
}

.reuse-view__main--cnt {
    line-height: 2;
    margin: 0;
    padding: 15px 10px 0 10px;
    border-top: 1px solid #dcdbdc;
    font-size: .9375rem;
    color: #182427;
    background-color: #f9f9f9;
}

@media (min-width: 530px) {

    .reuse-view__main--cnt {
        font-size: .9375rem;
    }
}

@media (min-width: 800px) {

    .reuse-view__main--cnt {
        font-size: 1rem;
    }
}

.reuse-view__main--det {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f9f9f9;
}

.reuse-view__main--det::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__main--det__edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: .8125rem;
}

.reuse-view__main--det__edit--title {
    position: relative;
    font-size: .875rem;
    margin-bottom: 5px;
    padding-left: 25px;
}

.reuse-view__main--det__edit--title > div {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__main--det__edit--tm {
    text-align: center;
    color: #0284a8;
}

.reuse-view__main--det__user {
    float: right;
    position: relative;
    margin: 10px 0;
    padding-left: 50px;
    padding-right: 10px;
    font-size: .8125rem;
}

.reuse-view__main--det__user--img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -o-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -ms-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -moz-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -webkit-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

.reuse-view__main--det__user > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reuse-view__main--det__user > ul > li {
    position: relative;
}

.reuse-view__main--det__user > ul > li:first-child {
    padding-top: 2px;
}

.reuse-view__main--det__user > ul > li > a {
    text-decoration: none;
    color: #182427;
}

.reuse-view__main--det__user--status {
    font-size: .75rem;
    position: relative;
    padding-left: 15px;
    margin-top: 5px;
    color: #0284a8;
}

.reuse-view__main--det__user--status > div {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__main--det__user--status__off {
    background-color: #ff1600;
}

.reuse-view__main--det__user--status__on {
    background-color: #16cf27;
}

@media (min-width: 530px) {

    .reuse-view__main--det__user {
        font-size: .875rem;
    }
}

.reuse-view__main--footer {
    margin: 0;
    padding: 0;
    border: 1px solid #dcdbdc;
    border-left: 0;
    border-right: 0;
    position: relative;
    font-size: 1rem;
}

/* background-color: $mainHeaderColor;  */

.reuse-view__main--footer__user-opt {
    padding: 5px 0;
    padding-left: 64px;
}

.reuse-view__main--footer__add {
    font-size: .8125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    background-color: #437da3;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

.reuse-view__main--footer__user-det {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-view__main--footer__user-det--clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

.reuse-view__main--footer__user-det--opt {
    position: absolute;
    list-style: none;
    top: -52px;
    right: 52px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-view__main--footer__user-det--opt li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-view__main--footer__user-det--opt li:first-child {
    background-color: #05578b;
    border: none;
}

.reuse-view__main--footer__user-det--opt li:first-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__main--footer__user-det--opt li:last-child {
    background-color: #f22613;
}

.reuse-view__main--footer__user-det--opt li:last-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__main--footer__user-det--opt li a {
    color: #182427;
    text-decoration: none;
}

.reuse-view__main--footer__user-det--opt::after {
    position: absolute;
    content: "";
    top: 50px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__main--footer__user-det--opt::before {
    position: absolute;
    content: "";
    top: 49px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__main--footer__user-det--opt__visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out;
}

@media (min-width: 530px) {

    .reuse-view__main--footer {
        font-size: 1.2rem;
    }
}

.reuse-view__comments {
    width: 100%;
    margin-top: 40px;
    background-color: rgba(249,249,249, 1);
}

.reuse-view__comments--wrapper {
    position: relative;
    margin: 0 10px;
}

.reuse-view__comments--header {
    font-size: .8125rem;
    margin: 0 0 20px 0;
    background-color: #437da3;
    color: #fff;
    padding: 10px 0;
}

.reuse-view__comments--header__ans {
    text-align: center;
    padding: 5px 0;
    margin: 0;
    position: relative;
}

.reuse-view__comments--header__ask {
    padding: 5px 10px;
    margin: 0 0 0 10px;
    color: #0284a8;
    background-color: #fff !important;
    border-radius: 3px;
    text-decoration: none;
}

@media (min-width: 335px) {

    .reuse-view__comments--header__ask {
        margin: 0 0 0 20px;
    }
}

@media (min-width: 530px) {

    .reuse-view__comments--header {
        font-size: .875rem;
    }
}

.reuse-view__comments--box {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0px 1px 19.32px 3.68px rgba(220,219,220, .6);

    /* -o-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -ms-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -webkit-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -moz-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65); */
    width: 100%;
    position: relative;
}

.reuse-view__comments--box__reply-wrapper {
    position: relative;
}

.reuse-view__comments--box__reply-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__comments--box__reply-cnt {
    width: 95%;
    float: right;
    position: relative;
}

.reuse-view__comments--box__reply-cnt--header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    background-color: #0284a8;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: .8125rem;
    padding: 2px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__reply-cnt--header {
        font-size: .875rem;
    }
}

.reuse-view__comments--box__header {
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: .875rem;
    border-bottom: 1px solid #dcdbdc;
}

.reuse-view__comments--box__header::after {
    content: "";
    clear: both;
    display: table;
}

/* box-shadow: 0px 1px 8px 3px rgba($mainDarkGray, .8); */

.reuse-view__comments--box__header li {
    position: relative;
}

.reuse-view__comments--box__header li:first-child {
    position: relative;
    float: left;
}

.reuse-view__comments--box__header li:last-child {
    position: absolute;
}

.reuse-view__comments--box__header--img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -o-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -ms-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -moz-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    -webkit-box-shadow: 0 2px 9px 1px rgba(2,132,168, .9);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

.reuse-view__comments--box__header--det {
    position: relative;
    margin: 0 0 0 50px;
    font-size: .8125rem;
}

.reuse-view__comments--box__header--det__title {
    text-decoration: none;
    color: #182427;
}

.reuse-view__comments--box__header--det__status {
    font-size: .75rem;
    position: relative;
    padding-left: 15px;
    margin-top: 5px;
    color: #0284a8;
}

.reuse-view__comments--box__header--det__status > div {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__comments--box__header--det__status--off {
    background-color: #ff1600;
}

.reuse-view__comments--box__header--det__status--on {
    background-color: #16cf27;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__header--det {
        font-size: .875rem;
    }
}

.reuse-view__comments--box__header--soln {
    font-size: .8125rem;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.reuse-view__comments--box__header--soln__time {
    color: #15a4fa;
    display: block;
    margin-top: 8px;
    font-size: .75rem;
}

@media (min-width: 800px) {

    .reuse-view__comments--box__header--soln__time {
        display: inline;
        margin-left: 5px;
        margin-top: 0;
        font-size: .8125rem;
    }
}

@media (min-width: 800px) {

    .reuse-view__comments--box__header--soln {
        font-size: .875rem;
        position: relative;
    }
}

.reuse-view__comments--box__content {
    color: #182427;
    margin: 0;
    padding: 5px 10px;
    font-size: .875rem;
    line-height: 1.8;
}

.reuse-view__comments--box__content--chats {
    font-size: .9375rem;
}

.reuse-view__comments--box__content--chats__title {
    color: #15a4fa;
    cursor: pointer;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__content {
        font-size: .9375rem;
    }
}

.reuse-view__comments--box__footer {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5.12px 2.88px rgba(233,235,242, 0.9);
    -o-box-shadow: 0px 0px 5.12px 2.88px rgba(233,235,242, 0.9);
    -ms-box-shadow: 0px 0px 5.12px 2.88px rgba(233,235,242, 0.9);
    -webkit-box-shadow: 0px 0px 5.12px 2.88px rgba(233,235,242, 0.9);
    -moz--box-shadow: 0px 0px 5.12px 2.88px rgba(233,235,242, 0.9);
    position: relative;
    font-size: 1rem;
}

.reuse-view__comments--box__footer--user-opt {
    padding: 5px 0;
    padding-left: 54px;
}

.reuse-view__comments--box__footer--user-opt__reply {
    padding-left: 20px;
}

.reuse-view__comments--box__footer--user-like {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__comments--box__footer--user-like__total {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: .875rem;
    color: #15a4fa;
}

.reuse-view__comments--box__footer--user-det {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-view__comments--box__footer--user-det__clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

.reuse-view__comments--box__footer--user-det__opt {
    position: absolute;
    list-style: none;
    top: -22px;
    right: 52px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-view__comments--box__footer--user-det__opt li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-view__comments--box__footer--user-det__opt li:first-child {
    background-color: #05578b;
    border: none;
}

.reuse-view__comments--box__footer--user-det__opt li:first-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__comments--box__footer--user-det__opt li:last-child {
    background-color: #f22613;
}

.reuse-view__comments--box__footer--user-det__opt li:last-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__comments--box__footer--user-det__opt li a {
    color: #182427;
    text-decoration: none;
}

.reuse-view__comments--box__footer--user-det__opt::after {
    position: absolute;
    content: "";
    top: 20px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__comments--box__footer--user-det__opt::before {
    position: absolute;
    content: "";
    top: 19px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__comments--box__footer--user-det__opt--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__footer {
        font-size: 1.2rem;
    }
}

.reuse-view__comments--box__reply {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 1px 2px 0 rgba(220,219,220, 0.97);
    -o-box-shadow: 0px 1px 2px 0 rgba(220,219,220, 0.97);
    -moz-box-shadow: 0px 1px 2px 0 rgba(220,219,220, 0.97);
    -ms-box-shadow: 0px 1px 2px 0 rgba(220,219,220, 0.97);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(220,219,220, 0.97);
    top: 0;
    left: 90%;
    transform: translateX(-90%);
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-view__comments--box__reply--main-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #dcdbdc;
    border: 1px solid #dcdbdc;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-view__comments--box__reply--header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dcdbdc;
    width: 100%;
}

.reuse-view__comments--box__reply--header::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__comments--box__reply--header li {
    width: 25%;
    float: left;
    padding: 30px 0;
    position: relative;
}

.reuse-view__comments--box__reply--header__iconholder {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e9ebf2;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 10px !important;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.reuse-view__comments--box__reply--content {
    padding: 10px 10px;
}

.reuse-view__comments--box__reply--content__input {
    width: 11rem;
    border: 1px solid #dcdbdc;
    height: 15rem;
    resize: none;
    padding: 5px 10px;
    line-height: 2;
    margin: 0;
    background-color: #fff;
    font-size: .875rem;
    color: #182427;
}

@media (min-width: 335px) {

    .reuse-view__comments--box__reply--content__input {
        width: 14.5rem;
    }
}

@media (min-width: 380px) {

    .reuse-view__comments--box__reply--content__input {
        width: 15rem;
    }
}

@media (min-width: 530px) {

    .reuse-view__comments--box__reply--content__input {
        width: 18.75rem;
    }
}

.reuse-view__comments--box__reply--footer {
    text-align: center;
    width: 100%;
    color: #fff;
    border-top: 1px solid #dcdbdc;
    padding: 15px 20px;
}

.reuse-view__comments--box__reply--footer a {
    background-color: #0284a8;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: .875rem;
    border-radius: 3px;
    box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
    -o-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
    -webkit-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
    -ms-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
    -moz-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
    position: relative;
    top: -2px;
}

.reuse-view__comments--box__reply--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in;
}

.reuse-view__tips {
    box-shadow: 0 0 2px 0px rgba(0,0,0, .5);

    /* -o-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .8);
        -ms-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -webkit-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -moz-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6); */
    width: 100%;
    padding: 0 0;

    /* border-radius: 3px; */
    color: #182427;
    margin: 40px 0;
}

.reuse-view__tips--title {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #dcdbdc;
    font-weight: 500;
    font-size: .9375rem;
    color: #0284a8;
    background-color: #f9f9f9;
}

.reuse-view__tips--subtitle {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-weight: 300;
    font-size: .875rem;
    color: #0284a8;
}

@media (min-width: 530px) {

    .reuse-view__tips--subtitle {
        font-size: .9375rem;
        font-weight: 400;
    }
}

.reuse-view__tips ul {
    padding: 0px 20px 5px 20px;
    margin: 0;

    /* color: $mainDarkBlue; */
    font-size: .875rem;
    list-style-type: square;
    border-bottom: 1px solid #dcdbdc;
}

.reuse-view__tips ul li {
    padding: 8px 0;
}

.reuse-view__tips ul li > span {
    color: #f22613;
}

@media (min-width: 530px) {

    .reuse-view__tips ul {
        font-size: 1rem;
    }
}

.reuse-view__tips--note {
    font-size: .875rem;
    margin: 0;
    margin-top: 5px !important;
    padding: 8px 0;
    text-align: center;
}

.reuse-view__tips--note > span {
    background-color: #f22613;
    color: #fff;
    padding: 5px 10px;
}

.reuse-view__tips--note__details {
    font-size: .875rem;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}

.reuse-view__tips--note__details > span {
    padding: 0 10px;
    color: #0284a8;
}

.reuse-view__form {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 40px auto 0 auto;
    font-size: .875rem;
}

.reuse-view__form--header {
    text-align: center;
    font-size: 1rem;
    padding: 10px 0;
    margin:  0;
    background-color: #437da3;
    color: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reuse-view__form--field {
    margin-bottom: 40px;
}

.reuse-view__form--field__textarea {
    width: 100%;
    border: .5px solid #dcdbdc;
    resize: none;
    height: 300px;
    outline: none;
    padding: 10px;
    margin: 0;
    border-bottom: 0;
}

.reuse-view__form--field > button {
    border: none;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, .15);
    border: 1px solid rgba(0,0,0, .2);
    position: relative;
    padding: 6px 0;
    margin: 0;
    top: -4px;
    color: #182427;
    font-size: .9375rem;
    cursor: pointer;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.reuse-view__nav {
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
       flex-direction: column;
   -ms-flex-positive: 1;
       flex-grow: 1;

}

.reuse-view__nav--related {
    margin: 10px;
    color: #182427;
    position: relative;
    border: 1px solid #dcdbdc;
    background-color: #e9ebf2;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
}

.reuse-view__nav--related__header {
    position: relative;
    font-size: 1rem;
    background-color: #dcdbdc;
    margin: 0 0 0 0;
    font-weight: 400;
    box-shadow: 0 .5px 1px 0px rgba(0,0,0, .2);
}

.reuse-view__nav--related__header--title {
    padding: 5px 0;
    position: relative;
    margin: 0 auto;
    width: 174px;
    padding-right: 34px;
}

.reuse-view__nav--related__header--title__pt {
    width: 134px;
    padding-right: 14px;
}

.reuse-view__nav--related__header--title > div {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #f22613;
    color: #fff;
    font-size: .8125rem;
    border: 1px solid #f22613;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.reuse-view__nav--related__options {
    list-style: none;
    margin: 0;
    padding: 0  10px;
    font-size: 1rem;
    text-align: left;
    border-top: none;
    border-bottom: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 5px;
}

.reuse-view__nav--related__options li {
    margin: 10px 0;
}

.reuse-view__nav--related__options li a {

    /* text-decoration: none; */
    color: #182427;
    font-weight: 400;
}

.reuse-share {
    font-style: normal;
}

.reuse-share__icn {
    position: absolute;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: #437da3;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__icn--rotate {
    transition: all .3s ease-in;
}

.reuse-share__wrapper {
    position: absolute;
    left: 50px;
    top: 10px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    padding: 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__wrapper::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -20px;
    border-color: transparent;
    border-width: 10px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(-90deg);
    pointer-events: none;
}

.reuse-share__wrapper::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -22px;
    border-color: transparent;
    border-width: 11px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(-90deg);
    pointer-events: none;
}

.reuse-share__wrapper--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-out;
}

@media (min-width: 530px) {

    .reuse-share__wrapper {
        left: 50px;
        top: -5px;
    }
}

.reuse-share__title {
    padding: 10px 30px;
    background-color: #0284a8;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    font-size: .8125rem;
    position: relative;
}

.reuse-share__social-icn {
    padding: 10px 25px 0 25px;
    background-color: #fff;
    position: relative;
}

.reuse-share__social-icn::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-share__content {
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__content--search {
    color: #182427;
    width: 100%;
    padding-right: 5px;
    font-size: .8125rem;
}

.reuse-share__content--search__cnt {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdbdc;
    background-color: #fff;
}

.reuse-share__content--user {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    height: 9rem;
    margin: 10px 0;
    border-top: 1px solid #dcdbdc;
    border-bottom: 1px solid #dcdbdc;
    padding: 10px 5px 0 0;
}

.reuse-share__content--user__wrapper {
    margin-bottom: 10px;
    border: 1px solid #dcdbdc;
    padding: 0 2px;
    font-size: .8125rem;
    color: #182427;
    position: relative;
}

.reuse-share__content--user__wrapper--selec {
    border: 1px solid rgba(22,207,39, .5);
    transition: all .7s ease-out;
}

.reuse-share__content--user__wrapper--border-hov {
    border: 1px solid rgba(22,207,39, .5);
    transition: all .3s ease-out;
}

.reuse-share__content--user__hov-icn {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__content--user__hov-icn--visible {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transition: all .3s ease-out;
}

.reuse-share__content--user__clk-icn {
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-share__content--user__clk-icn--visible {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transition: all .7s ease-out;
}

.reuse-share__content--user__img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #15a4fa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 2px;
}

.reuse-share__content--user__img--status  {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottom: 5px;
    left: 80%;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2);
}

.reuse-share__content--user__img--status__on {
    background-color: #16cf27;
}

.reuse-share__content--user__img--status__off {
    background-color: #ff1600;
}

.reuse-share__content--user ul {
    margin: 0;
    padding: 0 0 0 70px;
    list-style: none;
}

.reuse-share__content--user ul li {
    margin: 0;
    padding:  5px 0 5px 25px;
    font-style: normal;
    float: none !important;
    color: #182427;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    position: relative;
    text-align: left;
}

.reuse-share__content--user ul li:first-child  {
    margin: 0;
    padding: 3px 0 0 0;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__content--user ul li:last-child {
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 3px 0 3px 25px;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__content--user ul li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e9ebf2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.reuse-share__content--user ul li a {
    color: #0284a8;
}

.reuse-share__content--user__tooltip {
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(0,0,0, .5);
    padding: 2px;
    position: absolute;
    bottom: 0;
}

.reuse-share__content--user__tooltip--ans {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    bottom: auto;
    top: 12px;
    text-align: center;
    width: 70px;
    left: 0;
}

.reuse-share__content--user__tooltip--ans__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-share__content--user__tooltip--snts {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    left: 10px;
    bottom: 2px;
}

.reuse-share__content--user__tooltip--snts__visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}

.reuse-share__content--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    top: 50px;
    transition: all .3s ease-out;
}

.reuse-share__user-counter {
    position: absolute;
    margin: 0;
    top: 0;
    right: -94px;
    padding: 10px;
    z-index: 2;
    list-style: none;
    background-color: #fff;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);

    /* opacity: 0;
        visibility: hidden;
        z-index: 1; */
    transition: all .3s ease-in;
}

.reuse-share__user-counter::after {
    content: "";
    position: absolute;
    top: 23px;
    left: -23px;
    border-color: transparent;
    pointer-events: none;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(-90deg);
    display: none;
}

@media (min-width: 530px) {

    .reuse-share__user-counter::after {
        display: block;
    }
}

.reuse-share__user-counter::before {
    content: "";
    position: absolute;
    top: 22px;
    left: -26px;
    border-color: transparent;
    pointer-events: none;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(-90deg);
    display: none;
}

@media (min-width: 530px) {

    .reuse-share__user-counter::before {
        display: block;
    }
}

.reuse-share__user-counter li {
    float: none !important;
    width: auto !important;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: .8125rem;
    white-space: normal;
    color: #182427;
}

.reuse-share__user-counter li:first-child {
    padding: 0 0 8px 0px;
    margin-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #dcdbdc;
    position: relative;
}

.reuse-share__user-counter li > div {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    background-color: #dcdbdc;
    top: -5px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__user-counter li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reuse-share__user-counter li > ul::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-share__user-counter li > ul li {
    padding: 0;
    margin: 0;
    border-radius: 3px;
    font-size: .75rem;
    cursor: pointer;
    float: none;
}

.reuse-share__user-counter li > ul li:first-child {
    margin: 0;
    padding: 5px 10px;
    background-color: #0284a8;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -o-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.8);
}

.reuse-share__user-counter li > ul li:last-child {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e9ebf2;
    color: #182427;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0, 0.8);
}

.reuse-share__user-counter--number {
    margin-left: 10px;
    color: #ff1600;
    font-weight: 500;
}

.reuse-share__user-counter--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .3s ease-in
}

@media (min-width: 530px) {

    .reuse-share__user-counter {
        right: -104px;
    }
}

.reuse-share__user-selected {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    background-color: #fff;
    color: #182427;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all .3s ease-in;
}

.reuse-share__user-selected--mainclose {
    position: absolute;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    top: -9px;
    right: -9px;
    background-color: #fff;
    border: 1px solid #dcdbdc;
    text-align: center;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__user-selected--title {
    text-align: center;
    border-top: 1px solid #05578b;
    box-shadow: 0 2px 5px 1px rgba(0,0,0, .4);
    padding: 10px 0;
    margin: 0;
    background-color: #437da3;
    color: #fff;
    position: relative;
    border-radius: 3px;
    font-size: .8125rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reuse-share__user-selected--title > div {
    position: relative;
    width: 115px;
    margin: 0 auto;
    padding-left: 20px;
}

.reuse-share__user-selected--title > div > div {
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0;
}

.reuse-share__user-selected--det {
    height: 9rem;
    margin:  0;
    padding: 10px 5px 0 5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.reuse-share__user-selected--det__wrapper {
    margin-bottom: 20px;
    border: 1px solid #dcdbdc;
    padding: 0 2px;
    font-size: .8125rem;
    color: #182427;
    position: relative;
}

.reuse-share__user-selected--det__wrapper > ul {
    margin: 0;
    padding: 0 0 0 70px;
    list-style: none;
}

.reuse-share__user-selected--det__wrapper > ul li {
    margin: 0;
    padding:  5px 0 5px 25px;
    font-style: normal;
    float: none !important;
    color: #182427;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    position: relative;
    text-align: left;
}

.reuse-share__user-selected--det__wrapper > ul li:first-child  {
    margin: 0;
    padding: 3px 0 0 0;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__user-selected--det__wrapper > ul li:last-child {
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 3px 0 3px 25px;
    background-color: #fff;
    color: #182427;
    position: relative;
}

.reuse-share__user-selected--det__wrapper > ul li > div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e9ebf2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.reuse-share__user-selected--det__wrapper > ul li a {
    color: #0284a8;
}

.reuse-share__user-selected--det__img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #15a4fa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 2px;
}

.reuse-share__user-selected--det__img--status  {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    bottom: 5px;
    left: 80%;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2);
}

.reuse-share__user-selected--det__img--status__on {
    background-color: #16cf27;
}

.reuse-share__user-selected--det__img--status__off {
    background-color: #ff1600;
}

.reuse-share__user-selected--det__close {
    position: absolute;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    background-color: #e9ebf2;
    border: 1px solid #dcdbdc;
    text-align: center;
    top: -9px;
    right: -6px;
    cursor: pointer;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__user-selected--btn {
    width: 100%;
    background-color: #dcdbdc;
    color: #182427;
    padding: 8px 0;
    text-align: center;
    outline: none;
    border: none;
    border-top: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
    font-size: .875rem;
    position: relative;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.reuse-share__user-selected--visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all .3s ease-in
}