.site-main {

    &__content { 

        &---wrapper {
            width: 100%;
        }
       
        &--details {
            margin: 20px 0px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
            -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
            -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
            -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
            -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
           
            &__overlaywrapper {
                position: relative;
            }

            &__overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba($mainDarkBlack, .6);
                z-index: -2;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in;

                &--visible {
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;
                    transition: all .3s ease-in;
                }
            }

            &__question {
                box-shadow: 0px 2px 9px 2px rgba($mainDarkGray, .9) !important;
                -o-box-shadow: 0px 2px 9px 2px rgba($mainDarkGray, .9) !important;
                -ms-box-shadow: 0px 2px 9px 2px rgba($mainDarkGray, .9) !important;
                -webkit-box-shadow: 0px 2px 9px 2px rgba($mainDarkGray, .9) !important;
                -moz-box-shadow: 0px 2px 9px 2px rgba($mainDarkGray, .9) !important;
            }


            &__header {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: .8125rem;
                @mixin clearfix;
                background-color: #fff;
                border-bottom: 1px solid $mainLightGray;
                /* box-shadow: 0px 1px 2px 0px rgba($mainLightGray, 0.87); */
                /* -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57); */
                /* -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57); */
                /* -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57); */
                /* box-shadow: 0px 2px 9px 0px rgba($mainDarkGray, 0.57); */
                position: relative;
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                li {
                    font-style: italic;
                    float: left;
                    width: 33.333%;
                    padding: 15px 0;
                   

                    &:first-child {
                        position: relative;
                        @mixin clearfix; 
                        padding: 15px 0 15px 15px;
                        width: 97%;

                        @mixin atSmall {
                            width: 70%;
                        }
                    }

                    &:last-child {
                        display: flex;
                        justify-content: flex-end;
                        right: 0;
                        width: 1px;
                        position: relative;
                        padding: 3px 0;
                        @mixin atSmall {
                            width: 30%;
                            /* padding: 7px 0; */
                        }
                    }
                }

                &--category {
                   &__img {
                       position: absolute;
                        height: 36px;
                        width: 36px;
                        border-radius: 18px;
                        background-color: $mainDarkGray;
                        top: 3px;
                        left: 5px;

                        @mixin atSmall {
                            left: 20px;
                        }
                   }

                   &__spaceHolderImg {
                    float: left;
                    width: 20px;
                    height: 1px;

                    @mixin atSmall {
                        width: 45px;
                    }
                   }

                   &__userDetails {
                    max-width: 180px;
                    overflow: hidden;
                    word-wrap: none;
                    @mixin clearfix;

                    &--name {
                        margin-left: 10px;
                        padding-right: 3px;
                        float: left;
                        max-width: 100px;
                        overflow: hidden;
                        word-wrap: none;
                        text-overflow: ellipsis; 
                        white-space: nowrap;  
                        text-align: left;
                        
                        a {
                            color: $mainDarkBlue;
                        }
                       }

                       &--timePosted {
                        float: left;
                        max-width: 80px;
                        padding-right: 2px;
                        overflow: hidden;
                        word-wrap: none;
                        text-overflow: ellipsis; 
                        white-space: nowrap;
                        color: $mainMiddleDarkBlue;  
                    }
                   }
                }

                &--share {
                    position: absolute;
                    border-radius: 12px;
                    height: 24px;
                    width: 24px;
                    background-color: $mainMiddleDarkBlue;
                    top: 5px;
                    left: -20px;
                    cursor: pointer;
                    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
                    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
                    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
                    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
                    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);

                    &:hover {
                        transform: rotate(-90deg);
                        transition: all .3s ease-in;
                    }

                    &__category {
                        margin: 0 40px 0 0;
                        max-width: 90% !important;
                        background-color: #fff;
                        padding: 8px 8px;
                        /* border: 1px solid $mainDarkGray; */
                        cursor: pointer;
                        overflow: hidden;
                        white-space: nowrap;
                        word-wrap: none;
                        text-overflow: ellipsis;
                        display: none;
                        position: relative;
                        top: 3px;

                        a {
                            color: $mainFontColor;
                            text-decoration: none;
                        }
                        
                        @mixin atSmall {
                            display: block;
                        }
                    }

                    &__optionsWrapper {
                        position: absolute;
                        top: 10px;
                        right: 30px;
                        width: 1px;
                        height: 1px;
                    }

                    &__options {
                        position: absolute;
                        list-style: none;
                        margin: 0;
                        left: -195px;
                        top: -16px;
                        padding: 10px;
                        background-color:#fff;
                        border: 1px solid $mainDarkGray;
                        @mixin clearfix;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -33;
                        transition: all .3s ease-out;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 8px;
                            right: -20px;
                            border-color: transparent;
                            border-width: 10px;
                            border-bottom-color: #fff;
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 7px;
                            right: -22px;
                            border-color: transparent;
                            border-width: 11px;
                            border-bottom-color: $mainDarkGray;
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }

                        li {
                            float: none;
                            padding: 10px 40px;
                            margin: 0;
                            width: auto;
                            font-style: normal;

                            &:first-child {
                                padding: 0px;
                                margin: 0;
                                background-color: $mainDarkBlue;
                                text-align: left !important;
                                color: #fff;
                                cursor: pointer;
                                width: 100%;
                            }
                            &:last-child {
                                display: block;
                                padding: 10px 25px 0 20px;
                                @mixin clearfix;
                                width: 100%;
                            }
                        }

                        &--socialIcons {
                            z-index: 1;
                            &__socialIconHide {
                                z-index: -33;
                            }
                        }

                        &--item {
                            padding: 10px 40px !important;

                            &__title {
                                position: relative;
                                left: -10px;
                            }
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .3s ease-out;
                        }

                        @mixin atExtraSmall {
                            left: -195px;
                            top: -16px;
                        }

                        @mixin atSmall {
                            top: -24px;
                            left: -200px;
                        }

                        @mixin atMedium {
                            left: -192px;
                        }

                        @mixin atLarge {
                            left: -200px;
                        }
                        
                    }

                    &__content {
                        position: absolute;
                        left: 0px;
                        top: 37px;
                        background-color: #fff;
                        border-radius: 3px;
                        padding: 5px;
                        box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -o-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -moz-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -webkit-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -ms-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        cursor: default; 
                        opacity: 0;
                        visibility: hidden;
                        z-index: -33;
                        transition: all .3s ease-out;

                        &--search {
                            padding: 10px;
                            color: $mainFontColor;
                            border: 1px solid $mainDarkGray;
                            width: 100%;
                        }

                        &--user {
                            overflow: hidden;
                            overflow-x: hidden;
                            overflow-y: auto;
                            max-height: 14.8rem;
                            margin: 10px 0;
                            border-top: 1px solid $mainDarkGray;
                            padding: 10px 0 0 0;

                            &__wrapper {
                                margin-bottom: 10px;
                                border: 1px solid $mainLightGray;
                                padding: 5px 2px 5px 4px;
                                @mixin clearfix;
                                font-size: .75rem;
                                color: $mainFontColor;
                                position: relative;

                                &--borderVisible {
                                    border: 1px solid rgba($mainLightGreen, .3);
                                    transition: all .7s ease-out;
                                }

                                &--borderHoverVisible {
                                    border: 1px solid rgba($mainLightGreen, .3);
                                    transition: all .3s ease-out;
                                }
                            }

                            &__selectIcon {
                                position: absolute;
                                z-index: -33;
                                top: 1px;
                                color: $mainLightGreen;
                                opacity: 0;
                                visibility: hidden;
                                transition: all .3s ease-out;
                        
                                &--visible {
                                    opacity: 1;
                                    z-index: 1;
                                    visibility: visible;
                                    transition: all .3s ease-out;
                                }
                            }

                            &__selectIconClicked {
                                position: absolute;
                                z-index: -33;
                                top: 1px;
                                color: $mainLightGreen;
                                opacity: 0;
                                visibility: hidden;
                                transition: all .3s ease-out;
                        
                                &--visible {
                                    opacity: 1;
                                    z-index: 2;
                                    visibility: visible;
                                    transition: all .7s ease-out;
                                }
                            }

                          
                            &__img {
                                border-radius: 20px;
                                width: 40px;
                                height: 40px;
                                background-color: $mainLightBlue;
                                float: left;
                                position: relative;
                                top: 5px;
                                cursor: pointer;
                                margin-right: 3px;
                            }

                            ul {
                                margin: 0 0 0 1px;
                                padding: 0;
                                list-style: none;
                                float: right;
                                max-width: 5.625rem;

                                li {
                                    margin: 0;
                                    padding: 3px 0;
                                    width: auto;
                                    float: none !important;
                                    color: $mainFontColor;
                                    text-overflow: ellipsis;
                                    width: 87px;
                                    overflow: hidden;
                                    word-wrap: none;
                                    white-space: nowrap;

                                    &:first-child , &:last-child {
                                        margin: 0;
                                        padding: 2px 0;
                                        background-color: #fff;
                                        color: $mainFontColor;
                                    }

                                    a {
                                        color: $mainFontColor;
                                    }
                                }
                            }

                            &__footer {
                                margin: 0 -1px 0 -1px;
                                padding: 5px 0; 
                                text-align: center;
                                float: none;
                                display: block;
                                color: $mainFontColor;
                                border: 1px  solid $mainLightBlue;
                                background-color: $mainLightBlue;
                                color: #fff;
                            }
                        }


                        &__visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                            transition: all .3s ease-out;
                        }
                    }

                    &__userCounter {
                        position: absolute;
                        left: -10px;
                        top: -120px;
                        width: 190px;
                        margin: 0;
                        padding: 10px 3px;
                        list-style: none;
                        background-color: #fff;
                        cursor: default;
                        border-radius: 3px;
                        box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -o-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -moz-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -webkit-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        -ms-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                        transition: all .3s ease-in;
                        display: none;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 23px;
                            right: -23px;
                            border-color: transparent;
                            pointer-events: none;
                            border-width: 12px;
                            border-bottom-color: #fff;
                            border-style: solid;
                            transform: rotate(90deg);
                            display: none;

                            @mixin atSmall {
                                display: block;   
                            }
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 22px;
                            right: -26px;
                            border-color: transparent;
                            pointer-events: none;
                            border-width: 13px;
                            border-bottom-color: rgba(67, 125, 163, 0.25);
                            border-style: solid;
                            transform: rotate(90deg);
                            display: none;
                            
                            @mixin atSmall {
                                display: block;   
                            }
                        }

                        li {
                            float: none !important;
                            width: auto !important;
                            text-align: center;
                            padding: 0;
                            margin: 15px 0 15px 0;
                            font-size: .875rem;
                            color: $mainFontColor;
                            
                             &:first-child {
                                 background-color: transparent;
                                 margin: 0 0 10px 0;
                                 padding: 0;
                                 color: $mainFontColor;
                                 font-size: .8125rem;
                                 font-weight: 300;
                                 cursor: default;
                             }

                             &:last-child {
                                padding: 0;
                                margin: 0;

                                ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    @mixin clearfix;

                                    li {
                                        padding: 0;
                                        margin: 0;
                                        border-radius: 3px;
                                        font-size: .75rem;
                                        cursor: pointer;
                                        
                                        &:first-child {
                                            float: left !important;
                                            padding: 5px 5px;
                                            margin: 0 10px 0 9px !important;
                                            background-color: $mainDarkBlue;
                                            color: #fff;
                                            box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                            -ms-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                            -o-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                            -webkit-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                            -moz-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                        }

                                        &:last-child {
                                            float: right !important;
                                            padding: 5px 5px;
                                            margin: 0 14px 0 5px;   
                                            background-color: #fff;
                                            color: $mainFontColor;
                                            border: 1px solid $mainDarkGray
                                        }
                                    }
                                }
                            }
                        }

                        &--number {
                            margin-left: 10px;
                            color: $mainDarkBlue;
                            font-weight: 500;
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .3s ease-in
                        }

                        @mixin atSmall {
                            padding: 10px;
                            left: -208px;
                            top: 80px;
                            width: auto;
                            display: block;
                        }

                        @mixin atMedium {
                            padding: 10px 8px;
                            left: -204px;
                        }

                        @mixin atLarge {
                            padding: 10px;
                            left: -208px;
                        }
                    }

                    &__userSelected {
                        position: absolute;
                        left: 0;
                        top: 0 !important;
                        background-color: #fff;
                        width: 100%;
                        border: 1px solid $mainDarkGray;
                        color: $mainFontColor;
                        cursor: default;
                        z-index: -1;
                        visibility: hidden;
                        opacity: 0;
                        transform: scale(1.2);
                        transition: all .3s ease-in;
                        

                        p {
                            text-align: center;
                            border-bottom: 1px solid $mainDarkGray;
                            padding: 10px 0;
                            margin: 0;
                        }

                        &--wrapper {
                            max-height: 14.8rem;
                            overflow: hidden;
                            overflow-x: hidden;
                            overflow-y: auto;
                            
                            &__content {
                                @mixin clearfix;
                                border: 1px solid $mainLightGray;
                                position: relative;
                                left: 12.5px;
                                margin: 10px 0;
                                padding: 5px 0 8px 1px;
                                max-width: 9.125rem;
                            }
                        }

                        &--img {
                            float: left;
                            border-radius: 20px;
                            height: 40px;
                            width: 40px;
                            background-color: blue;
                            position: relative;
                            top: 4px;
                        }

                        ul {
                            float: right;
                            margin: 0 0 0 2px !important;
                            padding: 0;
                            width: auto;
                            list-style: none;
                            background-color: #fff;
                            max-width: 6rem;

                            li {
                                width: auto;
                                margin: 0;
                                padding: 3px 0;

                                &:first-child {
                                    margin: 0;
                                    padding: 0;
                                    width: auto;
                                    max-width: 6.125rem;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    word-wrap: none;
                                    overflow: hidden;
                                    background-color: transparent;

                                    a {
                                        color: $mainFontColor;
                                    }
                                }
                                &:last-child {
                                    margin: 0;
                                    padding: 0;
                                    width: auto;
                                }
                            }
                        }

                        &--mainclose {
                            position: absolute;
                            border-radius: 9px;
                            height: 18px;
                            width: 18px;
                            top: -7px;
                            right: -7px;
                            background-color: $mainLightGray;
                            border: 1px solid $mainDarkGray;
                            text-align: center;
                            cursor: pointer;
                        }

                        &--close {
                            position: absolute;
                            border-radius: 9px;
                            height: 18px;
                            width: 18px;
                            background-color: $mainLightGray;
                            border: 1px solid $mainDarkGray;
                            text-align: center;
                            top: -4px;
                            left: -8px;
                            cursor: pointer;
                            padding: 0 !important;
                        }

                        &--btn {
                            width: 100%;
                            background-color: $mainDarkRed;
                            color: #fff;
                            padding: 8px 0;
                            text-align: center;
                            outline: none;
                            border: none;
                            border-top: 0;
                            cursor: pointer;
                            font-size: .875rem;
                            position: relative;
                            box-shadow: inset 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                            /* -o-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                            -webkit-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                            -moz-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                            -ms-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47); */
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transform: scale(1);
                            transition: all .3s ease-in
                        }

                        @mixin atSmall {
                            right: 8.2px;
                            top: -12px;
                        }
                    }

                    &__userCounter-sm {
                        position: absolute;
                        left: 170px;
                        width: 60px;
                        top: 5px;
                        background-color: #fff;
                        border: 1px solid $mainDarkGray;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        cursor: default;
                        border-radius: 3px;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -33;
                        transition: all .3s ease-out;

                        li {
                            margin: 0;
                            padding: 8px 0;
                            cursor: default;

                            &:first-child {
                                background-color: #fff;
                                margin: 0 0 10px 0;
                                padding: 0;
                                border-bottom: 1px solid $mainDarkGray;
                                p {
                                    background-color: $mainDarkBlue;
                                    padding: 10px 0;
                                    margin: 0;
                                    text-align: center;
                                    font-size: .8125rem;
                                    color: #fff
                                }

                            }

                            &:last-child {
                                margin: 5px 5px;
                                padding: 8px 0;
                                background-color: $mainDarkRed;
                                box-shadow: inset 0px 0px 4px 0px rgba(126, 30, 21, 0.68);
                                -o-box-shadow: inset 0px 0px 4px 0px rgba(126, 30, 21, 0.68);
                                -ms-box-shadow: inset 0px 0px 4px 0px rgba(126, 30, 21, 0.68);
                                -webkit-box-shadow: inset 0px 0px 4px 0px rgba(126, 30, 21, 0.68);
                                -moz-box-shadow: inset 0px 0px 4px 0px rgba(126, 30, 21, 0.68);
                                display: flex;
                                justify-content: center;
                                width: 80%;
                                cursor: pointer;

                                @mixin atExtraSmall {
                                    margin: 5px 8px;
                                }
                            }

                        }
                        &--userSelected {
                            color: $mainFontColor;
                            text-align: center;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            padding: 5px 0;
                            font-size: .875rem;
                        }

                        &--secondItem {
                            margin: 30px 5px 10px 5px!important;
                            padding: 8px 0;
                            background-color: #fff;
                            display: flex;
                            justify-content: center;
                            width: 80% !important;
                            border: 1px solid $mainDarkGray;
                            cursor: pointer !important;
                            color: $mainFontColor;

                            @mixin atExtraSmall {
                                margin: 30px 8px 10px 8px!important;
                            }
                        }
                        
                        &--thirdItem {
                            margin: 5px 5px 10px 5px!important;
                            padding: 8px 0;
                            background-color: $mainLightBlue;
                            display: flex;
                            justify-content: center;
                            width: 80% !important;
                            box-shadow: 0px 2px 3.72px 2.28px rgba(51, 152, 219, 0.29);
                            -o-box-shadow: 0px 2px 3.72px 2.28px rgba(51, 152, 219, 0.29);
                            -ms-box-shadow: 0px 2px 3.72px 2.28px rgba(51, 152, 219, 0.29);
                            -webkit-box-shadow: 0px 2px 3.72px 2.28px rgba(51, 152, 219, 0.29);
                            -moz-box-shadow: 0px 2px 3.72px 2.28px rgba(51, 152, 219, 0.29);
                            cursor: pointer !important;

                            @mixin atExtraSmall {
                                margin: 5px 8px 10px 8px!important;
                            }
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .3s ease-out;
                        }

                        @mixin atExtraSmall {
                            left: -83px;
                            width: 78px;
                        }

                        @mixin atSmall {
                            display: none;
                        }
                    }
                    

                    @mixin atExtraSmall {
                        border-radius: 12px;
                        height: 24px;
                        width: 24px;
                        top: 5px;
                        left: -20px;
                    }

                    @mixin atSmall {
                        border-radius: 12px;
                        height: 24px;
                        width: 24px;
                        top: 5px;
                        left: 70px;
                    }

                    @mixin atSmall {
                        border-radius: 15px;
                        height: 30px;
                        width: 30px;
                        top: -10px;
                        left: 85%;
                    }

                    @mixin atMedium {
                        border-radius: 16px;
                        height: 32px;
                        width: 32px;
                    }

                    @mixin atLarge {
                        border-radius: 16px;
                        height: 32px;
                        width: 32px;
                        top: -10px;
                        left: 85%;
                    }
                }
            }

            &__img {
                width: 100%;
                display: flex;
                justify-content: center;

                &--wrapper {
                    width: 92%;
                    margin: 10px 10px 0 10px;
                    height: 200px;
                    background-color: $mainDarkBlue;
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: auto;
                }

            }

            &__title {
                margin: 0 5px;
                padding: 10px 0;
                text-align: center;
                font-weight: 400;
                font-size: 1rem;
                color: $mainMiddleDarkBlue;
                cursor: pointer;

                @mixin atMedium {
                    font-size: 1.2rem;
                }
            }

            &__description {
                margin: 0 10px 10px 20px;
                padding: 0;
                text-align: center;
                font-size: .9375rem;
                line-height: 1.5;
                text-decoration: underline;
                overflow: hidden;
                text-overflow: ellipsis;
                
                a {
                    color: $mainFontColor;
                    cursor: pointer;
                }

                @mixin atMedium {
                    font-size: 1rem;
                }
            }

            &__footer {
                background-color: #fff;
                border-top: 1px solid $mainLightGray;
                /* box-shadow: 0px -2px 9px 0px rgba($mainDarkGray, 0.57); */
                position: relative;
                border-radius: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                
                &--list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    font-size: .8125rem;
                    @mixin clearfix;
                    position: relative;
                    
                    li {
                        float: left;
                        padding: 15px 12px;
                        font-style: italic;
                        color: $mainFontColor;
                        border-right: 1px solid $mainLightGray;
                        cursor: default;

                        &:first-child {
                            padding-left: 5px;

                            @mixin atExtraSmall {
                                padding-left: 8px;
                            }

                            @mixin atSmall {
                                padding-left: 18px;
                            }
                        }
                        
                        @mixin atSmall {
                            padding: 15px;
                        }

                        @mixin atMedium {
                            padding: 15px 30px;
                        }
                    }

                    &__item-middle {
                        display: none;

                        @mixin atExtraSmall {
                            display: block;
                        }
                    }
                }

                &--details {
                    position: absolute;
                    top: 12px;
                    right: 20px;
                    cursor: pointer;

                    &__options {
                        position: absolute;
                        list-style: none;
                        top: -38.5px;
                        right: 64px;
                        padding: 0;
                        margin: 0;
                        background-color: #fff;
                        border: 1px solid $mainDarkGray;
                        font-size: .8125rem;
                        margin-bottom: 40px;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                        transform: scale(.8);
                        transition: all .3s ease-out;

                        li {
                            padding: 10px;
                            margin: 10px;
                            background-color: $mainDarkRed;
                            font-weight: 300;
                            color: #fff;
                            cursor: pointer;

                            &:first-child {
                                background-color: $mainPaleBlue;
                            }

                            &:last-child {
                                background-color: $mainLightBlue;
                            }

                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }

                        &::after {
                            position: absolute;
                            content: "";
                            top: 50px;
                            right: -24px;
                            border-color: transparent;
                            border-width: 12px;
                            border-bottom-color: #fff;
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            top: 49px;
                            right: -26px;
                            border-color: transparent;
                            border-width: 13px;
                            border-bottom-color: $mainDarkGray;
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }
                        &--toggle {
                            position: absolute;
                            margin: 0;
                            padding: 0;
                            top: 134px;
                            left: 10px;
                            list-style: none;
                            opacity: 0;
                            visibility: hidden;
                            z-index: -33;
                            transition: all .3s ease-in;

                            li {
                                margin: 0;
                                padding: 5px 40px;
                                background-color: #fff !important;
                                border: 1px solid $mainDarkGray;
                                color: $mainFontColor;

                                &:first-child {
                                    border-bottom: none;
                                }

                                @mixin atSmall {
                                    padding: 5px 42.5px;
                                }
                            }

                            &__opened {
                                opacity: 1;
                                visibility: visible;
                                z-index: 1;
                                transition: all .3s ease-in;
                            }

                            @mixin atSmall {
                                top: 138px;
                                left: 10px;
                            }
                        }

                        &--toggleQuestion {
                            li {
                                padding: 5px 46px !important;
                            }
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transform: scale(1);
                            transition: all .3s ease-out;
                        }

                        @mixin atSmall {
                            font-size: .875rem;
                            right: 90px;
                        }


                    }

                    @mixin atSmall {
                        right: 40px;
                    }
                }
            }

            @mixin atSmall {
                margin: 30px 0;
            }
        }

    }
}