.site-main__question {
    &--content {
        @mixin clearfix;
        margin: 10px 0;
        padding: 0 10px;
        display: flex;
        justify-content: center;

        &__title {
            float: left;
            max-width: 60%;
            padding: 0;
            padding-right: 10px;
            margin: 0;
            max-height: 98px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2;
            text-align: center;

            a {
                color: $mainDarkBlue;
            }
        }

        &__img {
            float: left;
            max-width: 40%;
            background-color: rgba($mainLightGray, .56);
            max-height: 100px;
            overflow: hidden;
            overflow-y: auto;
        }
    }

    &--ans {
        @mixin clearfix; 
        font-family: 'poppins', Roboto, Segoe UI, Tahoma, Geneva, Verdana, sans-serif; 

        &__wrapper {
            float: right; 
            margin-right: 5px;
            position: relative; 
            font-size: .8125rem; 
            /* background-color: $mainLightGray; */
            border-radius: 5px;
            overflow: hidden;
            padding: 10px 10px 10px 30px;
        }

        &__total {
            position: absolute;
            left: 0;
            background-color: $mainLightRed;
            color: #fff;
            /* font-size: .875rem; */
            width: 22px;
            height: 22px;
            border-radius: 11px;
            text-align: center;
            top: 50%; 
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }
}