.icon {

    &--rotate {
        svg {
            transform: rotate(180deg);
            transition: all .3s ease-out;
        }
    }
 
    &__site-header--search {
        display: inline;
        font-size: .875rem;
        color: $mainLightBlack;

        &:hover {
            color: $mainPaleBlue;
        }
    }

    &__site-header--favorites {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightRed;

        @mixin atSmall{
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium{
            font-size: 1rem;
            top: 25%;
        }

        @mixin atLarge{
            font-size: 1.2rem;;
            top: 25%;
        }
    }

    &__site-header--shares {
        font-size: .875rem;
        position: absolute;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlue;

        @mixin atSmall{
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium{
            font-size: 1rem;
            top: 22%;
        }

        @mixin atLarge{
            font-size: 1rem;;
            top: 25%;
        }
    }

    &__site-header--addNew {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-55%);
        color: #fff;
        right: 2px;

        @mixin atSmall {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atLarge{
            transform: translate(-50%);
            font-size: .9375rem;
            top: 25%;
        }
    }

    &__site-header--bell {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlack;

        @mixin atSmall {
            font-size: .895rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: 1rem;
            top: 22%;
        }
        @mixin atLarge{
            font-size: 1.2rem;
            top: 25%;
        }
    }

    &__site-header--list {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlack;

        @mixin atSmall {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: 1rem;
            top: 22%;
        }

        @mixin atLarge{
            font-size: 1rem;
            top: 25%;
        }
    }

    &__site-header--login {
        font-size: .875rem;
        color: #E4DEDE;
        display: none;

        @mixin atLarge {
            margin: 0 .25rem 0 0;
            display: inline;
        }
    }

    &--bars {
        display: block;
        font-size: .875rem;
        @mixin atMedium {
            display: none;
        }
    }

    &--search-mini {
        font-size: .875rem;

        @mixin atSmall {
            display: none;
        }
    }

    &__site-header--miniForm__close {
        font-size: .8125rem;
        color: $mainLightBlack;
    }

    &__site-header--notification__clock {
        position: absolute;
        font-size: .875rem;
        top: 5px;
        right: 5px;
        color: $mainDarkGray;
        cursor: pointer;
    }

    &__site-header--notification--circle {
        font-size: .35rem; 
        color: $mainDarkGray;
        margin-left: .125rem;
    }

    &__site-header--notification__settings {
        color: $mainDarkBlue;
        font-size: .5rem;
        position: absolute;
        top: 25%;
        transform: translate(-50%);
    }

    &__site-header__menu--notification--details__icon {
        font-size: .8125rem;
    }

    &__site-header__menu--notification--details__eye {
        font-size: .75rem;
    }

    &__site-header__menu--notification--details__heart {
        font-size: .75rem;
        cursor: pointer;
    }

    &__site-header__menu--notification--details__comment {
        font-size: .75rem;
        cursor: pointer;
    }

    &__site-header--notifcation__viewLater {
        font-size: .8125rem;
    }

    &__site-header__menu--nav-icon {
        font-size: .8125rem;
        color: $mainLightBlack;
        margin-right: 3px;
    }

    &__site-header--menu__user--icons {
        font-size: .8125rem;
        color: $mainLightBlack;
        margin-right: 10px;

        @mixin atSmall {
            font-size: .875rem;
        }
    }
 
   &__site-main--queform__edit {
       margin-right: 10px;
       color: $mainDarkRed;
   }

   &__site-main--queform__eye {
        margin-right: 5px;
   }

   &__site-main--queform__opt--angle {
        margin-left: 5px;
   }

   &__site-main--queform__selec--angle {
        margin-left: 5px;
   }

   &__site-main--queform__img {
       margin-right: 10px;
       font-size: .9375rem;
   }

   &__site-main--queform__angledouble {
        margin-right: 5px;
   }

   &__site-main--queform__error--circle {
       font-size: .625rem;
       margin-right: 5px;
       color: $mainDarkRed;
   }

   &__site-main--queform__view--calend {
       position: relative;
       top: 40%;
       transform: translateY(-40%);
       color: $mainDarkBlue;
   }

   &__site-main--queform__view--que__tag {
        color: rgba($mainDarkBlack, .6);
        margin-right: 5px;
        font-size: .75rem;
   }

   &__site-main--queform__view--footer__fav {
        margin-right: 5px;
        color: $mainDarkBlue;
        font-size: .8125rem;
   }

   &__site-main--queform__view--footer__eye {
       color: rgba($mainDarkBlack, .6);
       margin-right: 5px;
       font-size: .8125rem;
   }

   &__site-main--queform__footer--option__edit {
       margin: 0  15px;
   }
   
    &__site-main--queform__footer--option__eye {
        margin: 0  15px;
    }

    &__site-main--queform__footer--option__del {
        margin: 0  15px;
    }

    &__site-main--queform__footer--option__eyeopen {
        margin: 0  15px;   
    }

    &__site-main--queform__view--close {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($mainDarkBlack, .7);
    }

    &__site-main--queform__teach--teacher {
        margin-right: 10px;
    }

    &__site-main--queform__teach--calend {
        position: relative;
        top: 40%;
        transform: translateY(-40%);
    }

}