<form action="" class="reuse-form">
    <div class="reuse-form__wrapper">
        <div class="site-main__logo">
            logo
        </div>
        <div class="reuse-form__overlay"></div>
        <div class="reuse-form__cnt">
            <div class="reuse-form__cnt--main-wrapper">
                <h4>Sign up with</h4>
                <ul>
                    <li><a href=""><i class="fab fa-google"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-square icon icon__reuse-form--fb"></i></a></li>
                </ul>
            </div>
            <div class="reuse-form__cnt--alt">OR</div>
            <div class="reuse-form__cnt--main-wrapper">
                <div class="reuse-form__cnt--wrapper">
                    <label for="username" class="reuse-form__cnt--title">Username</label>
                    <div class="reuse-form__cnt--det">
                        <input type="text" name=""  class="reuse-form__cnt--det__input">
                    </div>
                    {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
                </div>
                <div class="reuse-form__cnt--wrapper">
                    <label for="email" class="reuse-form__cnt--title">Email Address</label>
                    <div class="reuse-form__cnt--det">
                        <input type="email" name="" class="reuse-form__cnt--det__input">
                    </div>
                    {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
                </div>
                <div class="reuse-form__cnt--wrapper">
                    <label for="password" class="reuse-form__cnt--title">Password</label>
                    <div class="reuse-form__cnt--det">
                        <input type="password" name="" class="reuse-form__cnt--det__input reuse-form__cnt--det__input--pwd">
                        <div class="reuse-form__cnt--det__pwd"><i class="far fa-eye icon icon__reuse-form--view"></i></div>
                    </div>
                    {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
                </div>
                <div class="reuse-form__cnt--wrapper">
                    <label for="confirm password" class="reuse-form__cnt--title">Confirm Password</label>
                    <div class="reuse-form__cnt--det">
                        <input type="password" name="" class="reuse-form__cnt--det__input">
                    </div>
                    {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
                </div>
                 <div class="reuse-form__cnt--footer reuse-form__btn">
                    <button type="submit" class="reuse-form__btn--nxt"><i class="fas fa-angle-double-right"></i> Next</button>
                </div>
            </div>
            <p>Forgot password <a href="">Retrive</a></p>
            <p>Already have an account <a href="">Login in</a></p>
        </div>
        {{!-- {{> partialsignedform}} --}}
    </div>
</form>