<div class="site-main__groupchat">
    <div class="chats__logs">
        <div class="chats__logs--shad"></div>
        <div class="chats__logs--mainclose">
            <i class="fas fa-times icon icon__chats--log__maincloseIcon"></i>
        </div>
        <ul class="chats__logs--header">
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOnline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOffline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li>
                <p class="chats__logs--header__title">Chat Room</p>
            </li>
            <li>
                <input type="text" class="chats__logs--header__searchChat--input" placeholder="Search User">
                <div class="chats__logs--header__notifyHolder chats__logs--header__searchChat--searchIcon">
                    <i class="fas fa-search icon icon__site-main__nav--chatLog__searchIcon"></i>
                </div>
            </li>
        </ul>

        <div class="chats__logs--mainOutlet">
            <div class="chats__logs--userOnline">
                <ul class="chats__logs--userOnline__header">
                    <li></li>
                    <li> Online</li>
                    <li>Offline</li>
                </ul>
                <div class="chats__logs--userOnline__outlet">
                    <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <div class="active__main active__main--chat_room"><div>99</div></div>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-comment-alt icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                {{!-- <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p> --}}
                                <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p>
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div>
                     <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <div class="active__main active__main--chat_room"><div>22</div></div>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <div class="active__main active__main--chat_room"><div>18</div></div>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <div class="active__main active__main--chat_room"><div>9</div></div>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div>
                    {{!-- <div class="chats__logs--userOffline__wrapper">
                        <div class="chats__logs--userOffline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOffline__view--userDetails">
                                <i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i>
                            </div>
                            <div class="chats__logs--userOffline__img--holder">
                                <img src="/" alt="">
                            </div>
                        </div>
                        <ul class="chats__logs--userOffline__details">
                            <li> 
                                <p class="chats__logs--userOffline__details--title">The user userThe user user The user user</p>
                                <div class="chats__logs--userOffline__details--statusIcon chats__logs--userOffline__details--statusColor"></div>
                                <p class="chats__logs--userOffline__details--userStatus"> offline</p>
                                <p class="chats__logs--userOffline__details--timeLeft"> 12hrs ago 12hrs ago 12hrs ago </p>
                            </li>
                            <li>
                                <p class="chats__logs--userOffline__details--lastMessage">Pls do you know the response Pls do you know the response</p>
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> --}}

                </div>
            </div>

            
        </div>

        <div class="chats__logs--share">
            <div class="chats__logs--share__userselected">
                <p class="chats__logs--share__userselected--title"><i class="fas fa-users"></i>  Users Selected </p>
                <div class="chats__logs--share__userselected--totalwrapper">
                    <div class="chats__logs--share__userselected--total">
                        <span class="chats__logs--share__userselected--total__content">
                            20
                        </span>
                    </div>
                </div>
            </div>
            <ul class="chats__logs--share__options">
                <li>
                    <div class="chats__logs--share__options--firstitem">
                        <i class="fas fa-location-arrow icon icon__chats--logs__share--options__Icons"></i>Share
                    </div>
                </li>
                <li>
                    <div class="chats__logs--share__options--seconditem">
                        <i class="fas fa-eye icon icon__chats--logs__share--options__lastIcons"></i>View
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="site-main__userdetails">
        <div class="site-main__userdetails--header">
            <ul class="site-main__userdetails--header__back">
                <li class="site-main__userdetails--header__backopt--switcher"><i class="fas fa-angle-double-right"></i></li>
                <li class="site-main__userdetails--header__backopt--title">back</li>
            </ul>
             <div class="site-main__userdetails--header__title">
                <div class="site-main__userdetails--header__title--icon">
                </div>
                <h3 class="site-main__userdetails--header__title--main">
                </h3>
                <div class="site-main__userdetails--header__title--icon">
                </div>
            </div>
            <ul class="site-main__userdetails--header__cancel">
                           <li class="site-main__userdetails--header__cancelopt--title">back</li>
                <li class="site-main__userdetails--header__cancelopt--switcher"><i class="fas fa-angle-double-right"></i></li>
            </ul>
        </div>
        <div class="site-main__userdetails--main">
            <div class="site-main__userdetails--main__header">
                <div class="site-main__userdetails--main__header--img">
                    <img src="/" alt="">
                </div>
                <ul class="site-main__userdetails--main__header--user">
                    <li class="site-main__userdetails--main__header--user__title">user user</li>
                    <li class="site-main__userdetails--main__header--user__occup">occupation <span>Teacher</span></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__about">
                <span><i class="fas fa-user"></i> About Me</span>
                <p class="site-main__userdetails--main__about--content">
                    i only feel like should do this things which is the hottest as of d year don't ask me about it now
                </p>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Acceppted studdents <span>2222</span> </li>
                    <li>ReJected students <span>0</span></li>
                </ul>
            </div>
             <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Online Questions <button>2222</button> <button>view all</button></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Questions Answered <button>2222</button></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Post Published <button>229k</button></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Communities <button>22k</button></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Groups <button>2222</button></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Items in stock <button>view all</button></li>
                </ul>
            </div>
        </div>
        <div class="site-main__userdetails--footer">
            <div class="site-main__userdetails--footer__facicon">
                <div class="site-main__userdetails--footer__icon">
                    <i class="fas fa-facebook-f"></i>
                </div>
            </div>
            <div class="site-main__userdetails--footer__goicon">
                <i class="fas fa-google-plus"></i>
            </div>
        </div>
    </div>

<div class="site-main__groupchat--mainwrapper">
   <div class="site-main__groupchat--header">
       <h3 class="site-main__groupchat--header__title">
           Peom and prose group to help all who have grim for it
        </h3>
        <div class="site-main__groupchat--header__details">
            <ul class="site-main__groupchat--header__details--firstdetails">
                <li class="site-main__groupchat--header__details--firstdetails__users"><i class="fas fa-users icon icon__site-main--groupchat__header--user"></i></li>
                <li class="site-main__groupchat--header__details--firstdetails__total"><span>222k</span>   users</li>
            </ul>
            <div class="site-main__groupchat--header__details--seconddetails">
                <div class="site-main__groupchat--header__details--seconddetails__more">details</div>
            </div>
            <div class="site-main__groupchat--header__details--lastdetails">
                <span><i class="far fa-calendar-alt icon icon__site-main--groupchat__calend"></i> created 23/4/18</span>
            </div>
        </div>
        <div class="site-main__groupchat--header__options">
            <div class="site-main__groupchat--header__options--circle">
                <div class="site-main__groupchat--header__options--circle__middle"></div>
            </div>
            <div class="active__main active__main--chat_main"><div>99</div></div>
            <ul class="site-main__groupchat--header__options--list">
                <li class="site-main__groupchat--header__options--list__search"> Search Chat </li>
                <li class="site-main__groupchat--header__options--list__switGroup">
                    Switch Group <i class="fas fa-caret-right icon icon__site-main--groupchat--option__caret"></i>
                    <div class="site-main__groupchat--header__options--group">
                        <input type="text" class="site-main__groupchat--header__options--group__input" placeholder="search group...">
                        <div class="site-main__groupchat--header__options--group__content">
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="active__main active__main--group-item"><div>9</div></div>
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="site-main__groupchat--header__options--currentclk">Current Chat <i class="fas fa-caret-right icon icon__site-main--groupchat--option__caret"></i>
                    <div class="site-main__groupchat--header__options--current">
                        <ul class="site-main__groupchat--header__options--current__tab">
                            <li>Private Chat</li>
                            <li>Public Chat</li>
                        </ul>
                        <div class="site-main__groupchat--header__options--current__outlet">
                            <div class="site-main__groupchat--header__options--current__chat">
                                <div class="site-main__groupchat--header__options--current__chat--img">
                                    <div class="active__main active__main--group-item"><div>9</div></div>
                                    <img src="/" alt="">
                                </div>
                                <div class="site-main__groupchat--header__options--current__chat--details">
                                    <ul>
                                        <li class="site-main__groupchat--header__options--current__chat--details__title">User user</li>
                                        {{!-- <li class="site-main__groupchat--header__options--current__chat--details__status">online</li> --}}
                                        <li class="site-main__groupchat--header__options--current__chat--details__status site-main__groupchat--header__options--current__chat--details__status--off">offline 2m ago</li>
                                    </ul>
                                    <div class="site-main__groupchat--header__options--current__chat--lastmssge">
                                        What is the real defination pls, i need it
                                    </div>
                                </div>
                            </div>
                             {{!-- <div class="site-main__groupchat--header__options--current__group">
                                <div class="site-main__groupchat--header__options--current__group--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--current__group--details">
                                    <li class="site-main__groupchat--header__options--current__group--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--current__group--details__status">
                                        <div class="site-main__groupchat--header__options--current__group--details__status--online"><span>22k</span> online</div> 
                                        <div class="site-main__groupchat--header__options--current__group--details__status--offline"><span>2k</span> offline</div> 
                                    </li>
                                </ul>
                            </div> --}}
                        </div>
                    </div>
                </li>
                <li class="site-main__groupchat--header__options--searchuser">
                    Search User
                    <div class="site-main__groupchat--header__options--search">
                        <div class="site-main__groupchat--header__options--search__header">
                            <input type="text" class="site-main__groupchat--header__options--search__header--input" placeholder="search user....">
                        </div>
                        <div class="site-main__groupchat--header__options--search__wrapper">
                            <div class="site-main__groupchat--header__options--search__chat">
                                <div class="site-main__groupchat--header__options--search__chat--switch">
                                    <i class="far fa-comment-dots"></i>
                                </div>
                                <div class="site-main__groupchat--header__options--search__chat--img">
                                    <div class="active__main active__main--group-item"><div>9</div></div>
                                    <img src="/" alt="">
                                </div>
                                <div class="site-main__groupchat--header__options--search__chat--details">
                                    <ul>
                                        <li class="site-main__groupchat--header__options--search__chat--details__title">User user</li>
                                        {{!-- <li class="site-main__groupchat--header__options--search__chat--details__status">online</li> --}}
                                        <li class="site-main__groupchat--header__options--search__chat--details__status site-main__groupchat--header__options--search__chat--details__status--off">offline 2m ago</li>
                                    </ul>
                                    <div class="site-main__groupchat--header__options--search__chat--lastmssge">
                                        What is the real defination pls, i need it
                                    </div>
                                </div>
                            </div>

                        <div class="site-main__groupchat--header__options--search__chat">
                            <div class="site-main__groupchat--header__options--search__chat--switch">
                                <i class="far fa-comment-dots"></i>
                            </div>
                            <div class="site-main__groupchat--header__options--search__chat--img">
                                <div class="active__main active__main--group-item"><div>9</div></div>
                                    <img src="/" alt="">
                                </div>
                                <div class="site-main__groupchat--header__options--search__chat--details">
                                    <ul>
                                        <li class="site-main__groupchat--header__options--search__chat--details__title">User user</li>
                                        <li class="site-main__groupchat--header__options--search__chat--details__status">online</li>
                                        {{!-- <li class="site-main__groupchat--header__options--search__chat--details__status site-main__groupchat--header__options--search__chat--details__status--off">offline 2m ago</li> --}}
                                    </ul>
                                    <div class="site-main__groupchat--header__options--search__chat--nomssge">
                                        Occupation: <span>teacher</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
   </div>
    {{!-- <div class="site-main__groupchat--options">
       
       <ul class="site-main__groupchat--options__commentopt">
           <li class="site-main__groupchat--options__commentopt--share"><i class="fas fa-location-arrow icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--edit"><i class="far fa-edit  icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--fav"><i class="far fa-heart  icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--bin"><i class="far fa-trash-alt  icon icon__site-main--groupchat__optionsicon"></i></li>
       </ul>
    </div> --}}
    <div class="site-main__groupchat--chatbox">
       <div class="site-main__groupchat--chatbox__wrapper">
            <div class="site-main__groupchat--chatbox__search">
                <div class="site-main__groupchat--chatbox__search--close">
                    <i class="fas fa-times icon icon__site-main--groupchat__chatbox--searchicon"></i>
                </div>
                <div class="site-main__groupchat--chatbox__search--calend">
                    <i class="far fa-calendar-alt icon icon__site-main--groupchat__chatbox--calend"></i>
                </div>
                <input type="text" placeholder="search chat" class="site-main__groupchat--chatbox__search--input">
            </div>   
            <div class="site-main__groupchat--chatbox__chatdate">
                <div class="site-main__groupchat--chatbox__chatdate--current">today</div> 
            </div>
            <div class="site-main__groupchat--chatbox__firstchat">
                <div class="site-main__groupchat--chatbox__firstchat--wrapper">
                    <div class="site-main__groupchat--chatbox__firstchat--content">
                        Am i speaking with the guy n red today?
                        immediate response pls... 
                        Am i speaking with the guy n red today?
                        immediate response pls... 
                        Am i speaking with the guy n red today?
                        immediate response pls... 
                    </div>
                    <ul class="site-main__groupchat--chatbox__firstchat--footer">
                        <li class="site-main__groupchat--chatbox__firstchat--footer__chattime">11: 12pm</li>
                        <li class="site-main__groupchat--chatbox__firstchat--footer__user">
                            user user
                            <div class="site-main__groupchat--chatbox__firstchat--footer__user--img">
                                <img src="/" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-main__groupchat--chatbox__secondchat">
                <div class="site-main__groupchat--chatbox__secondchat--wrapper">
                    <div class="site-main__groupchat--chatbox__secondchat--content">
                        Sure i am the one that was speaking with you yesterday,
                            do you remember pls ?
                    </div>
                    <ul class="site-main__groupchat--chatbox__secondchat--footer">
                        <li class="site-main__groupchat--chatbox__secondchat--footer__user">
                            user user
                            <div class="site-main__groupchat--chatbox__secondchat--footer__user--img">
                                <img src="/" alt="">
                            </div>
                        </li>
                        <li class="site-main__groupchat--chatbox__secondchat--footer__chattime">11: 12pm</li>
                    </ul>
                </div>
            </div>
            <div class="site-main__groupchat--chatbox__typing">
                <div class="site-main__groupchat--chatbox__typing--wrapper">
                    <div class="site-main__groupchat--chatbox__typing--wrapper__img">
                        <img src="/" alt="">
                    </div>
                    <span class="site-main__groupchat--chatbox__typing--wrapper__content">
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--up"></i>
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--down"></i>
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--up"></i>
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--down icon__site-main--groupchat__typing--lasticon"></i>
                    </span>
                </div>
            </div>
       </div>
    </div>
    <div class="site-main__groupchat--footer">
        <div class="site-main__groupchat--footer__mic">
            <div class="site-main__groupchat--footer__mic--wrapper">
                <i class="fas fa-microphone icon icon__site-main__groupchat--footer__mic"></i>
            </div>
        </div>
        <div class="site-main__groupchat--footer__input">
           <textarea  class="site-main__groupchat--footer__input--field" placeholder="Type something ....." autofocus></textarea>
            <div class="site-main__groupchat--footer__input--mousein"><i class="fas fa-location-arrow icon icon__site-main--groupchat__footer--sharearrow"></i></div>
            <div class="site-main__groupchat--footer__input--mouseout"><i class="fas fa-paperclip icon icon__site-main--groupchat__footer--clip"></i></div>
            <div class="site-main__groupchat--footer__input--smile"><i class="far fa-smile icon icon__site-main--groupchat__footer--smile"></i></div>
        </div>
        <div class="site-main__groupchat--footer__camera">
            <div class="site-main__groupchat--footer__camera--wrapper">
                <i class="fas fa-camera icon icon__site-main__groupchat--footer__camera"></i>
            </div>
        </div>
    </div>
   </div>
</div>