<div class="site-main__groupchat">
    <div class="chats__logs">
        <div class="chats__logs--shad"></div>
        <div class="chats__logs--mainclose">
            <i class="fas fa-times icon icon__chats--log__maincloseIcon"></i>
        </div>
        <ul class="chats__logs--header">
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOnline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li class="chats__logs--header__notifyHolder chats__logs--header__notifyOffline">
                <div class="chats__logs--header__notifyHolder--content">
                    2
                </div>
            </li>
            <li>
                <p class="chats__logs--header__title">Chat Room</p>
            </li>
            <li>
                <input type="text" class="chats__logs--header__searchChat--input" placeholder="Search User">
                <div class="chats__logs--header__notifyHolder chats__logs--header__searchChat--searchIcon">
                    <i class="fas fa-search icon icon__site-main__nav--chatLog__searchIcon"></i>
                </div>
            </li>
        </ul>

        <div class="chats__logs--mainOutlet">
            <div class="chats__logs--userOnline">
                <ul class="chats__logs--userOnline__header">
                    <li></li>
                    <li> Online</li>
                    <li>Offline</li>
                </ul>
                <div class="chats__logs--userOnline__outlet">
                    <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-comment-alt icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div>
    <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> <div class="chats__logs--userOnline__wrapper">
                        <div class="chats__logs--userOnline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOnline__view--userDetails">
                                <a href=""><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i></a> 
                            </div>
                            <div class="chats__logs--userOnline__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <ul class="chats__logs--userOnline__details">
                            <li> 
                                <p class="chats__logs--userOnline__details--title">The user user The user user The user user</p>
                                <div class="chats__logs--userOnline__details--statusIcon"></div>
                                <p class="chats__logs--userOnline__details--userStatus"> Online</p>
                            </li>
                            <li>
                                <p class="chats__logs--userOnline__details--lastMessage">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--userOnline__details--userTyping">
                                    Typing . . .
                                </p> --}}
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div>
                    {{!-- <div class="chats__logs--userOffline__wrapper">
                        <div class="chats__logs--userOffline__img">
                            <span class="activeChat"><span>9</span></span>
                            <div class="chats__logs--userOffline__view--userDetails">
                                <i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeIcon"></i>
                            </div>
                            <div class="chats__logs--userOffline__img--holder">
                                <img src="/" alt="">
                            </div>
                        </div>
                        <ul class="chats__logs--userOffline__details">
                            <li> 
                                <p class="chats__logs--userOffline__details--title">The user userThe user user The user user</p>
                                <div class="chats__logs--userOffline__details--statusIcon chats__logs--userOffline__details--statusColor"></div>
                                <p class="chats__logs--userOffline__details--userStatus"> offline</p>
                                <p class="chats__logs--userOffline__details--timeLeft"> 12hrs ago 12hrs ago 12hrs ago </p>
                            </li>
                            <li>
                                <p class="chats__logs--userOffline__details--lastMessage">Pls do you know the response Pls do you know the response</p>
                            </li>
                        </ul>
                        <span class="chats__logs--selectIcon"><i class="fas fa-check-circle"></i></span>
                        <span class="chats__logs--selectIconActive"><i class="fas fa-check-circle"></i></span>
                    </div> --}}

                </div>
            </div>

            
        </div>

        <div class="chats__logs--share">
            <div class="chats__logs--share__userselected">
                <p class="chats__logs--share__userselected--title"><i class="fas fa-users"></i>  Users Selected </p>
                <div class="chats__logs--share__userselected--totalwrapper">
                    <div class="chats__logs--share__userselected--total">
                        <span class="chats__logs--share__userselected--total__content">
                            20
                        </span>
                    </div>
                </div>
            </div>
            <ul class="chats__logs--share__options">
                <li>
                    <div class="chats__logs--share__options--firstitem">
                        <i class="fas fa-location-arrow icon icon__chats--logs__share--options__Icons"></i>Share
                    </div>
                </li>
                <li>
                    <div class="chats__logs--share__options--seconditem">
                        <i class="fas fa-eye icon icon__chats--logs__share--options__lastIcons"></i>View
                    </div>
                </li>
            </ul>
        </div>

    </div>

<div class="site-main__groupchat--mainwrapper">
   <div class="site-main__groupchat--header">
       <h3 class="site-main__groupchat--header__title">
           Peom and prose group to help all who have grim for it
        </h3>
        <div class="site-main__groupchat--header__details">
            <ul class="site-main__groupchat--header__details--firstdetails">
                <li class="site-main__groupchat--header__details--firstdetails__users"><i class="fas fa-users icon icon__site-main--groupchat__header--user"></i></li>
                <li class="site-main__groupchat--header__details--firstdetails__total"><span>222k</span>   users</li>
            </ul>
            <div class="site-main__groupchat--header__details--seconddetails">
                <div class="site-main__groupchat--header__details--seconddetails__more">details</div>
            </div>
            <div class="site-main__groupchat--header__details--lastdetails">
                <span><i class="far fa-calendar-alt icon icon__site-main--groupchat__calend"></i> created 23/4/18</span>
            </div>
        </div>
   </div>
    <div class="site-main__groupchat--options">
       <div class="site-main__groupchat--options__search">
           <div class="site-main__groupchat--options__search--calend">
               <i class="far fa-calendar-alt icon icon__site-main__groupchat--option__calend"></i>
           </div>
           <input type="text" placeholder="search chat" class="site-main__groupchat--options__search--input">
       </div>
       <ul class="site-main__groupchat--options__commentopt">
           <li class="site-main__groupchat--options__commentopt--share"><i class="fas fa-location-arrow icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--edit"><i class="far fa-edit  icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--fav"><i class="far fa-heart  icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--bin"><i class="far fa-trash-alt  icon icon__site-main--groupchat__optionsicon"></i></li>
       </ul>
    </div>
    <div class="site-main__groupchat--chatbox">
        <div class="site-main__groupchat--chatbox__chatdate">
            <div class="site-main__groupchat--chatbox__chatdate--current">today</div> 
        </div>
        <div class="site-main__groupchat--chatbox__firstchat">
            <div class="site-main__groupchat--chatbox__firstchat--wrapper">
                 <div class="site-main__groupchat--chatbox__firstchat--content">
                    Am i speaking with the guy n red today?
                    immediate response pls... 
                     Am i speaking with the guy n red today?
                    immediate response pls... 
                     Am i speaking with the guy n red today?
                    immediate response pls... 
                </div>
                <ul class="site-main__groupchat--chatbox__firstchat--footer">
                    <li class="site-main__groupchat--chatbox__firstchat--footer__chattime">11: 12pm</li>
                    <li class="site-main__groupchat--chatbox__firstchat--footer__user">
                        user user
                        <div class="site-main__groupchat--chatbox__firstchat--footer__user--img">
                            <img src="/" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-main__groupchat--chatbox__secondchat">
            <div class="site-main__groupchat--chatbox__secondchat--wrapper">
                 <div class="site-main__groupchat--chatbox__secondchat--content">
                    Sure i am the one that was speaking with you yesterday,
                        do you remember pls ?
                </div>
                <ul class="site-main__groupchat--chatbox__secondchat--footer">
                    <li class="site-main__groupchat--chatbox__secondchat--footer__user">
                        user user
                        <div class="site-main__groupchat--chatbox__secondchat--footer__user--img">
                            <img src="/" alt="">
                        </div>
                    </li>
                    <li class="site-main__groupchat--chatbox__secondchat--footer__chattime">11: 12pm</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-main__groupchat--typing">
        <div class="site-main__groupchat--typing__wrapper">
            <span class="site-main__groupchat--typing__wrapper--content">
                <i class="fas fa-circle icon  icon__site-main--groupchat__typing--up"></i>
                <i class="fas fa-circle icon  icon__site-main--groupchat__typing--down"></i>
                <i class="fas fa-circle icon  icon__site-main--groupchat__typing--up"></i>
                <i class="fas fa-circle icon  icon__site-main--groupchat__typing--down icon__site-main--groupchat__typing--lasticon"></i>
            </span>
        </div>
    </div>
    <div class="site-main__groupchat--footer">
        <div class="site-main__groupchat--footer__mic">
            <i class="fas fa-microphone"></i>
        </div>
        <ul class="site-main__groupchat--footer__input">
           <li> <input type="text" class="site-main__groupchat--footer__input--field"></li>
            <li>
                <span class="site-main__groupchat--footer__input--mousein"><i class="fas fa-location-arrow"></i></span>
                <span class="site-main__groupchat--footer__input--mouseout"><i class="fas fa-paperclip"></i></span>
            </li>
            <li><i class="far fa-smile"></i></li>
        </ul>
        <div class="site-main__groupchat--footer__camera"><i class="fas fa-camera"></i></div>
    </div>
   </div>
</div>