<div class="reuse-group__cnt--desc__opt--det__wrapper">  
    <div class="reuse-group__cnt--desc__opt--det__close">
        <i class="fas fa-times icon icon__site-main--group__times"></i>
    </div>
    <div class="reuse-group__cnt--desc__opt--det__main-wrapper">
        <p class="reuse-group__cnt--desc__opt--det__title">
            This group is created for mathematicians
            This group is created for mathematicians
        </p>
        <div class="reuse-group__cnt--desc__opt--det__ratings">
            <i class="far fa-thumbs-up icon icon__site-main--group__thumbup"></i> ratings: 
            <span class="reuse-group__cnt--desc__opt--det__ratings--number">
                <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>  <i class="fas fa-star"></i>
                <i class="fas fa-star-half"></i>
            </span>
        </div>
    </div>
</div>