<div class="site-main__group">
    <div class="site-main__group--wrapperBorder">
        <ul class="site-main__group--optionsTab">
            <li><i class="fas fa-users icon icon__site-main--group__optionsTabIconGroups"></i> Groups</li>
            <li>
                <i class="fas fa-user-friends icon icon__site-main--group__optionsTabFriends"></i>   My Groups
                <div class="active__main active__main--group"><div>9</div></div>
            </li>
        </ul>

    <div class="site-main__group--filter">
        <div class="site-main__group--filter__alt">
            <div class="site-main__group--filter__alt--title"> Sort <i class="fas fa-angle-down icon icon__site-main--group__filter--angleicon"></i></div>

            <div class="site-main__group--filter__alt--wrapper site-main__group--filter__alt--wrapper__space">
                <div class="site-main__group--filter__alt--total">Total Found <span>3334</span></div>
                <div class="site-main__group--filter__alt--contentwrapper">
                    <div class="site-main__group--filter__alt--content">
                        <h3 class="site-main__group--filter__alt--content__title"><i class="fas fa-users icon icon__site-main--group__filter--groupicon"></i> Users</h3>
                        <ul class="site-main__group--filter__alt--content__option">
                            <li>
                                <ul>
                                    <li>Low</li>
                                    <li><span><</span> 400</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>Average</li>
                                    <li><span>></span> 400 to 599 </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>High</li>
                                    <li><span>></span> 600</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="site-main__group--filter__alt--content">
                        <h3 class="site-main__group--filter__alt--content__title site-main__group--filter__alt--content__title--status">
                            <i class="fas fa-user-friends icon icon__site-main--group__filter--usericon"></i> 
                            Users Online
                        </h3>
                        <ul class="site-main__group--filter__alt--content__option">
                            <li>
                                <ul>
                                    <li>Low</li>
                                    <li> <span><</span> 100 </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>Average</li>
                                    <li> <span>></span> 400 to 599</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>High</li>
                                    <li> <span>></span> 600</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            <div class="site-main__group--filter__innercategory">
                <div class="site-main__group--filter__innercategory--title">Category
                    <span class="site-main__group--filter__innercategory--header__toggleIcon">
                        <i class="fas fa-angle-down icon icon__site-main--group__innercateg--angleicon"></i>
                    </span> 
                </div>
                <ul class="site-main__group--filter__innercategory--option">
                    <li>English</li>
                    <li>Mathmatics</li>
                </ul>
            </div>

            <div class="site-main__group--filter__alt--wrapper__btn">
                <span class="site-main__group--filter__alt--wrapper__btn--cancel">Cancel</span>
                <span class="site-main__group--filter__alt--wrapper__btn--ok">Ok</span>
            </div>
            </div>
        </div>

        <div class="site-main__group--filter__search">
            <p class="site-main__group--filter__search--title">Filter</p>
            <input class="site-main__group--filter__search--input" type="text" placeholder="Group Name" autofocus>
        </div>
        <div class="site-main__group--filter__category">
             Category
                <span class="site-main__group--filter__category--header__toggleIcon">
                    <i class="fas fa-angle-down icon icon__site-main--group__categ--angleicon"></i>
                </span>  
            <ul class="site-main__group--filter__category--option">
                <li>English</li>
                <li>Mathmatics</li>
            </ul>
        </div>

    </div>

    {{!-- <div class="site-main__group--noaccount">
        <div class="site-main__group--noaccount__img">
            <i class="fas fa-users icon icon__site-main--noaccount__groupIcon"></i>
        </div>
        <div class="site-main__group--noaccount__title">
            <p>You are not logged in.</p>
            <p>Pls <a href="" class="site-main__group--noaccount__title--login">login in</a> or <a href="" class="site-main__group--noaccount__title--signup">sign up</a></p>
        </div>
        <div class="site-main__group--noaccount__title">
            <p>You have not added any community yet!</p>
            <p>Pls switch to next tab or create New <a href="">Community</a> </p>
        </div>  
    </div> --}}

    <div class="site-main__group--main-wrapper">
        <div class="site-main__group--wrapper">
            <ul class="site-main__group--header">
                <li>
                    <div class="site-main__group--header__imgHolder">
                        <i class="fas fa-users icon icon__site-main--group__Headeruser"></i>
                    </div>
                    <div class="site-main__group--header__category">
                        <a href="">mathematics</a>
                    </div>
                </li>
                <li>
                    <div class="site-main__group--header__dateCreated">
                        <i class="fas fa-calendar-check icon icon__site-main--group__calendar"></i>Created@  
                        <span class="site-main__group--header__dateCreated">
                            08/3/18
                        </span>
                    </div>
                    <div class="site-main__group--header__add">
                        <i class="fas fa-plus icon icon__site-main--group__Headeradd"></i>
                    </div>
                </li>
            </ul>
            <div class="site-main__group--mainContent">
                <div class="site-main__group--mainContent__addSm">
                    <i class="fas fa-plus icon icon__site-main--group__mainContentAddSm"></i>
                </div>
                <div class="site-main__group--mainContent__imgWrapper">
                    <div class="site-main__group--mainContent__imgWrapper--img">
                        <img src="/" alt="">
                    </div>
                </div>
                <ul class="site-main__group--mainContent__desc">
                    <li class="site-main__group--mainContent__desc--title">
                        <p>mathematics excel multi purpose group</p>
                    </li>
                    <li class="site-main__group--mainContent__desc--postCreator">
                        <span class="site-main__group--mainContent__desc--postCreator__admin">
                            Leader
                        </span> 
                        <div class="site-main__group--mainContent__desc--postCreator__userImg">
                            <img src="/" alt="">
                        </div>
                        <div class="site-main__group--mainContent__desc--postCreator__detailsWrapper">
                            <p class="site-main__group--mainContent__desc--postCreator__name">
                               <a href="">User user  </a>
                            </p>
                        </div>
                    </li>
                    <li class="site-main__group--mainContent__desc--options">
                        <ul>
                            <li class="site-main__group--mainContent__desc--options__firstItem">Details <i class="fas fa-angle-double-right icon icon__site-main--group__arrows"></i></li>
                            <li>
                            <a href=""><i class="fas fa-comment-dots icon icon__site-main--group__comments"></i>Chat Now 
                            <div class="active__main active__main--group-content"><div>9</div></div>
                            </a></li>
                        </ul>
                    </li>
                    <div class="site-main__group--mainContent__overlay">  
                        <div class="site-main__group--mainContent__overlay--close">
                            <i class="fas fa-times icon icon__site-main--group__times"></i>
                        </div>
                        <div class="site-main__group--mainContent__desc--options__details">
                            <p class="site-main__group--mainContent__desc--options__details--title">
                                This group is created for mathematicians
                                This group is created for mathematicians
                            </p>
                            <div class="site-main__group--mainContent__desc--options__details--ratings">
                                <i class="far fa-thumbs-up icon icon__site-main--group__thumbup"></i> ratings: 
                                <span class="site-main__group--mainContent__desc--options__details--ratings__number">
                                   <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>  <i class="fas fa-star"></i>
                                     <i class="fas fa-star-half"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <ul class="site-main__group--footer">
                <li><i class="fas fa-users icon icon__site-main--group__usersAdded"></i> 233k</li>
                <li> 
                    <div class="site-main__group--footer__userOnline">
                        <i class="fas fa-user-friends icon icon__site-main--group__userOnline"></i>online 2333m
                    </div>
                    <div class="site-main__group--footer__userOnline--status"></div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>