<div class="site-main__content--wrapper">
    <div class="site-main__content--overlay"></div>
    <div class="site-main__content--top"></div>
    <ul class="site-main__content--tab">
        <li><i class="fas fa-users icon icon__site-main__content--tab"></i> Groups</li>
        <li>
            <i class="fas fa-user-friends icon icon__site-main__content--tab"></i>   My Groups
            <div class="active__main active__main--shareme"><div>9</div></div>
        </li>
    </ul>

    <div class="reuse-grp-filter">
        <div class="reuse-grp-filter__wrapper">
            {{> reusecateg}}
            {{> reusegrpfilter}}
            <div class="reuse-grp-filter__add">
                Add 
            </div>
        </div>
    </div>

    {{!-- <div class="reuse-group__acc">
        <div class="reuse-group__acc--wrapper">
            <div class="reuse-group__acc--icn">
                <i class="fas fa-users icon icon__reuse-group--acc__grp"></i>
            </div>
            <div class="reuse-group__acc--cnt">
                <h4 class="reuse-group__acc--cnt__title">You are not logged in.</h4>
                <ul>
                    <li><a href="" class="reuse-group__acc--cnt__login">login in</a> </li>
                    <li><a href="" class="reuse-group__acc--cnt__sign">sign up</a></li>
                </ul>
            </div>

            <div class="reuse-group__acc--cnt">
                <h4 class="reuse-group__acc--cnt__title reuse-group__acc--cnt__title--add-grp">You have not added any group yet!.</h4>
                <ul class="reuse-group__acc--cnt__wrapper">
                    <li><a href="" class="reuse-group__acc--cnt__add-grp">Create New</a></li>
                </ul>
            </div>
        </div>
    </div> --}}

    <div class="reuse-group">
        <div class="reuse-group__wrapper">
            <ul class="reuse-group__header">
                <li>
                    <div class="reuse-group__header--img">
                        
                    </div>
                    <div class="reuse-group__header--nm">
                        <a href="">user user</a> 
                    </div>
                </li>
                <li>
                    <div class="reuse-group__header--tm">
                        <i class="fas fa-calendar-check icon icon__reuse-group--header__calend"></i>
                        <span>08/3/18</span>
                    </div>
                </li>
            </ul>
            <div class="reuse-group__cnt">
                <div class="reuse-group__cnt--img">
                    <img src="/" alt="">
                </div>
                <div class="reuse-group__cnt--desc">
                    <div class="reuse-group__cnt--desc__title">
                        mathematics excel multi purpose group
                        mathematics excel multi purpose group
                        mathematics excel multi purpose group
                    </div>
                    <div class="reuse-group__cnt--desc__opt">
                        <div class="reuse-group__cnt--desc__opt--det">
                            <i class="fas fa-angle-double-right icon icon__reuse-group--cnt__det"></i>
                            Details
                        </div>
                        <div class="reuse-group__cnt--desc__opt--chat">
                            <a href=""><i class="fas fa-comment-dots icon icon__reuse-group--cnt__comment"></i>Chat</a>
                            <div class="active__main active__main--chat"><div>9</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="reuse-group__footer">
                <li class="reuse-group__footer--users">
                    <div class="reuse-group__footer--users__wrapper">
                        <div class="reuse-group__footer--users__icn">
                            <i class="fas fa-users icon icon__reuse-group--footer__users"></i>
                        </div> 
                        2333m
                    </div>
                </li>
                <li class="reuse-group__footer--status"> 
                    <div class="reuse-group__footer--status__wrapper">
                        <div class="reuse-group__footer--status__icn">
                            <i class="fas fa-user-friends icon icon__reuse-group--footer__users-on"></i>
                            <div class="reuse-group__footer--status__icn--on"></div>
                        </div> 
                        2333m
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>