<div class="site-main__group">
    <div class="site-main__group--wrapperBorder">
        <div class="site-main__group--filter">
            <div class="site-main__group--filter__search">
                <p class="site-main__group--filter__search--title">Filter</p>
                <input class="site-main__group--filter__search--input" type="text" placeholder="Enter group name" autofocus>
            </div>
            <div class="site-main__group--filter__category">
                <p class="site-main__group--filter__category--header">
                    <span class="site-main__group--filter__category--header__Md">
                        Group Category
                    </span>
                    <span class="site-main__group--filter__category--header__Sm">
                        Category 
                    </span>
                    <span class="site-main__group--filter__category--header__toggleIcon">
                        <i class="fas fa-angle-down icon icon__site-main--group__filterIcon"></i>
                    </span> 
                </p>
                <ul class="site-main__group--filter__category--option">
                    <li>English</li>
                    <li>Mathmatics</li>
                </ul>
            </div>

            
        </div>

        <div class="site-main__group--main-wrapper">
            <div class="site-main__group--wrapper">
                <ul class="site-main__group--header">
                    <li>
                        <div class="site-main__group--header__imgHolder">
                            <i class="fas fa-users icon icon__site-main--group__Headeruser"></i>
                        </div>
                        <div class="site-main__group--header__category">
                            <a href="">mathematics</a>
                        </div>
                    </li>
                    <li>
                        <div class="site-main__group--header__dateCreated">
                            <i class="fas fa-calendar-check icon icon__site-main--group__calendar"></i>Created@  
                            <span class="site-main__group--header__dateCreated">
                                08/3/18
                            </span>
                            {{!-- <span class="site-main__group--header__dateCreated">
                                08/3/2018
                            </span> --}}
                        </div>
                        <div class="site-main__group--header__add">
                            <i class="fas fa-plus icon icon__site-main--group__Headeradd"></i>
                        </div>
                    </li>
                </ul>
                <div class="site-main__group--mainContent">
                    <div class="site-main__group--mainContent__addSm">
                        <i class="fas fa-plus icon icon__site-main--group__mainContentAddSm"></i>
                    </div>
                    <div class="site-main__group--mainContent__imgWrapper">
                        <div class="site-main__group--mainContent__imgWrapper--img">
                            <img src="/" alt="">
                        </div>
                    </div>
                    <ul class="site-main__group--mainContent__desc">
                        <li class="site-main__group--mainContent__desc--title">
                            <p>mathematics excel multi purpose group</p>
                        </li>
                        <li class="site-main__group--mainContent__desc--postCreator">
                            {{!-- <span class="site-main__group--mainContent__desc--postCreator__admin">
                                founder
                            </span>  --}}
                            <div class="site-main__group--mainContent__desc--postCreator__userImg">
                                <img src="/" alt="">
                            </div>
                            <div class="site-main__group--mainContent__desc--postCreator__detailsWrapper">
                                <p class="site-main__group--mainContent__desc--postCreator__name">
                                    <a href="">User user  </a>
                                </p>
                            </div>
                        </li>
                        <li class="site-main__group--mainContent__desc--options">
                            <ul>
                                <li class="site-main__group--mainContent__desc--options__firstItem">Details <i class="fas fa-angle-double-right icon icon__site-main--group__arrows"></i></li>
                                <li><a href=""><i class="fas fa-comment-dots icon icon__site-main--group__comments"></i>Chat Now </a></li>
                            </ul>
                        </li>
                        <div class="site-main__group--mainContent__overlay">  
                            <div class="site-main__group--mainContent__overlay--close">
                                <i class="fas fa-times icon icon__site-main--group__times"></i>
                            </div>
                            <div class="site-main__group--mainContent__desc--options__details">
                                <p class="site-main__group--mainContent__desc--options__details--title">
                                    This group is created for mathematicians
                                    This group is created for mathematicians
                                </p>
                                <div class="site-main__group--mainContent__desc--options__details--ratings">
                                    <i class="far fa-thumbs-up icon icon__site-main--group__thumbup"></i> ratings: 
                                    <span class="site-main__group--mainContent__desc--options__details--ratings__number">
                                    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>  <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <ul class="site-main__group--footer">
                    <li><i class="fas fa-users icon icon__site-main--group__usersAdded"></i> 233k</li>
                    <li> 
                        <div class="site-main__group--footer__userOnline">
                            <i class="fas fa-user-friends icon icon__site-main--group__userOnline"></i>online 2333m
                        </div>
                        <div class="site-main__group--footer__userOnline--status"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>