.icon {

    &--rotate {
        svg {
            transform: rotate(180deg);
            transition: all .3s ease-out;
        }
    }
 
    &__site-header--search {
        display: inline;
        font-size: .875rem;
        color: $mainLightBlack;

        &:hover {
            color: $mainPaleBlue;
        }
    }

    &__site-header--favorites {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightRed;

        @mixin atSmall{
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium{
            font-size: 1rem;
            top: 25%;
        }

        @mixin atLarge{
            font-size: 1.2rem;;
            top: 25%;
        }
    }

    &__site-header--shares {
        font-size: .875rem;
        position: absolute;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlue;

        @mixin atSmall{
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium{
            font-size: 1rem;
            top: 22%;
        }

        @mixin atLarge{
            font-size: 1rem;;
            top: 25%;
        }
    }

    &__site-header--addNew {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-55%);
        color: #fff;
        right: 2px;

        @mixin atSmall {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atLarge{
            transform: translate(-50%);
            font-size: .9375rem;
            top: 25%;
        }
    }

    &__site-header--bell {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlack;

        @mixin atSmall {
            font-size: .895rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: 1rem;
            top: 22%;
        }
        @mixin atLarge{
            font-size: 1.2rem;
            top: 25%;
        }
    }

    &__site-header--list {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlack;

        @mixin atSmall {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: 1rem;
            top: 22%;
        }

        @mixin atLarge{
            font-size: 1rem;
            top: 25%;
        }
    }

    &__site-header--login {
        font-size: .875rem;
        color: #E4DEDE;
        display: none;

        @mixin atLarge {
            margin: 0 .25rem 0 0;
            display: inline;
        }
    }

    &--bars {
        display: block;
        font-size: .875rem;
        @mixin atMedium {
            display: none;
        }
    }

    &--search-mini {
        font-size: .875rem;

        @mixin atSmall {
            display: none;
        }
    }

    &__site-header--miniForm__close {
        font-size: .8125rem;
        color: $mainLightBlack;
    }

    &__site-header--notification__clock {
        position: absolute;
        font-size: .875rem;
        top: 5px;
        right: 5px;
        color: $mainDarkGray;
        cursor: pointer;
    }

    &__site-header--notification--circle {
        font-size: .35rem; 
        color: $mainDarkGray;
        margin-left: .125rem;
    }

    &__site-header--notification__settings {
        color: $mainDarkBlue;
        font-size: .5rem;
        position: absolute;
        top: 25%;
        transform: translate(-50%);
    }

    &__site-header__menu--notification--details__icon {
        font-size: .8125rem;
    }

    &__site-header__menu--notification--details__eye {
        font-size: .75rem;
    }

    &__site-header__menu--notification--details__heart {
        font-size: .75rem;
        cursor: pointer;
    }

    &__site-header__menu--notification--details__comment {
        font-size: .75rem;
        cursor: pointer;
    }

    &__site-header--notifcation__viewLater {
        font-size: .8125rem;
    }

    &__site-header__menu--nav-icon {
        font-size: .8125rem;
        color: $mainLightBlack;
        margin-right: 3px;
    }

    &__site-header--menu__user--icons {
        font-size: .8125rem;
        color: $mainLightBlack;
        margin-right: 10px;

        @mixin atSmall {
            font-size: .875rem;
        }
    }

    &__reuse-share--title {
        margin-left: 20px;
    }

    &__reuse-share--googleplus {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainDarkRed;
        float: right;
    }

    &__reuse-share--facebook {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainLightBlue;
        float: left;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;
    }

    &__reuse-share--selec {
        color: $mainLightGreen;
    }

    &__reuse-share--content-ans {
        font-size: .625rem;
        color: $mainLightBlue;
    }

    &__reuse-share--content-snts {
        font-size: .625rem;
        color: $mainDarkPaleBlue;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-share--mainclose {
        font-size: .75rem;
        color: rgba($mainDarkBlack, .6);
    }
    
    &__reuse-share--close {
        font-size: .625rem;
        color: $mainLightRed;
    }

    &__reuse-share--user-selec__user {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-share--reset {
        color: $mainLightRed;
        margin-right: 5px;
        font-size: .875rem;
        position: relative;
        top: 1px;
    }


    &__reuse-view--main__edit {
        font-size: .75rem;
        color: $mainDarkPaleBlue;
        text-align: center; 
    }

    &__reuse-view--main__add {
        margin-right: 10px;
    }

    &__reuse-view--main__tm {
        color: $mainDarkBlue;
        margin-right: 5px;
    }

    &__reuse-view--main__eye {
        color: $mainFontColor;
    }

    &__reuse-view--circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-view--fav {
        color: rgba($mainMediumLightBlack, .7);
        cursor: pointer;
    }

    &__reuse-view--comments__like {
        color: rgba($mainMediumLightBlack, .8);
        cursor: pointer;
        margin-right: 34px;
    }

    &__reuse-view--comments__reply {
        color: rgba($mainMediumLightBlack, .7);
        cursor: pointer;
    }

    &__reuse-view--comments__chats {
        color: rgba($mainDarkBlack, .5);
        margin-right: 5px;
    }

    &__reuse-view--comments__arrow {
        margin: 0 10px;
        font-size: .875rem;
    }

    &__reuse-view--box__reply--close {
        color:$mainFontColor;
        font-size: .875rem;
        cursor: pointer;
    }

    &__reuse-view--reply__header {
        position: relative;
        top: 9px;
        color: $mainLightBlue;
    }

    &__reuse-view--reply {
        margin-right: 10px;
    }

    &__reuse-view--reply__mic {
        position: relative;
        top: 9px;
        color: $mainDarkRed;
    }
    

    &__reuse-view--options {
        margin-right: 5px; 
    }

    &__reuse-view--form__pen {
        margin-right: 10px;
        font-size: 1.1rem;
    }

    &__reuse-view--form__add {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-view--exchange__alt {
        color: #fff;
        font-size: 1rem;
        display: none;
        cursor: pointer;

        @mixin atLarge {
            display: inline;
        }
    }

    &__reuse-view--nav__clock {
        font-size: .9375rem;
        margin-right: 5px;
    }
    
    &__reuse-view--nav__angle {
        margin-left: 5px;
    }

    &__reuse-view--nav__user {
        margin-right: 5px; 
        color: rgba($mainDarkBlack, .25); 
    }

    &__reuse-view--nav__coffee {
        margin-right: 5px;
        color: rgba($mainDarkBlack, .25);
    }

    &__reuse-view--nav__footer--tm {
        margin-right: 5px;
    }

}