.icon {

    &__reuse-share--title {
        margin-left: 20px;
    }

    &__reuse-share--googleplus {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainDarkRed;
        float: right;
    }

    &__reuse-share--facebook {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainLightBlue;
        float: left;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;
    }

    &__reuse-share--selec {
        color: $mainLightGreen;
    }

    &__reuse-share--content-ans {
        font-size: .625rem;
        color: $mainLightBlue;
    }

    &__reuse-share--content-snts {
        font-size: .625rem;
        color: $mainDarkPaleBlue;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-share--mainclose {
        font-size: .75rem;
        color: rgba($mainDarkBlack, .6);
    }
    
    &__reuse-share--close {
        font-size: .625rem;
        color: $mainLightRed;
    }

    &__reuse-share--user-selec__user {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-share--reset {
        color: $mainLightRed;
        margin-right: 5px;
        font-size: .875rem;
        position: relative;
        top: 1px;
    }


    &__reuse-view--main__edit {
        font-size: .75rem;
        color: $mainDarkPaleBlue;
        text-align: center; 
    }

    &__reuse-view--main__add {
        margin-right: 10px;
    }

    &__reuse-view--main__tm {
        color: $mainDarkBlue;
        margin-right: 5px;
    }

    &__reuse-view--main__eye {
        color: $mainFontColor;
    }

    &__reuse-view--circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-view--fav {
        color: rgba($mainMediumLightBlack, .7);
        cursor: pointer;
    }

    &__reuse-view--comments__like {
        color: rgba($mainMediumLightBlack, .8);
        cursor: pointer;
        margin-right: 34px;
    }

    &__reuse-view--comments__reply {
        color: rgba($mainMediumLightBlack, .7);
        cursor: pointer;
    }

    &__reuse-view--comments__chats {
        color: rgba($mainDarkBlack, .5);
        margin-right: 5px;
    }

    &__reuse-view--comments__arrow {
        margin: 0 10px;
        font-size: .8125rem;

        @mixin atSmall {
            font-size: .875rem;
        }
    }

    &__reuse-view--box__reply--close {
        color:$mainFontColor;
        font-size: .875rem;
        cursor: pointer;
    }

    &__reuse-view--reply__header {
        position: relative;
        top: 9px;
        color: $mainLightBlue;
    }

    &__reuse-view--reply {
        margin-right: 10px;
    }

    &__reuse-view--reply__mic {
        position: relative;
        top: 9px;
        color: $mainDarkRed;
    }
    

    &__reuse-view--options {
        margin-right: 5px; 
    }

    &__reuse-view--form__pen {
        margin-right: 10px;
        font-size: 1.1rem;
    }

    &__reuse-view--form__add {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-view--exchange__alt {
        color: #fff;
        font-size: 1rem;
        display: none;
        cursor: pointer;

        @mixin atLarge {
            display: inline;
        }
    }

    &__reuse-view--nav__clock {
        font-size: .9375rem;
        margin-right: 5px;
    }
    
    &__reuse-view--nav__angle {
        margin-left: 5px;
    }

    &__reuse-view--nav__user {
        margin-right: 5px; 
        color: rgba($mainDarkBlack, .25); 
    }

    &__reuse-view--nav__coffee {
        margin-right: 5px;
        color: rgba($mainDarkBlack, .25);
    }

    &__reuse-view--nav__footer--tm {
        margin-right: 5px;
    }

}