.reuse-view {
    position: relative;
    top: 79px;
    background-color: #fff;  
    margin: 0 0 6px 0;

    &__wrapper {
        width: 100%;
        overflow: hidden; 
        
        @mixin atLarge {
            width: 65%;
            float: left;
            padding: 0 50px 0 0px;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba($mainDarkBlack, .6);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in;

        &--visible {
            z-index: 2;
            opacity: 1;
            visibility: visible;
            transition: all .3s ease-in;
        }
    }

    &__main {
        background-color: #fff;
        position: relative;
        margin-top: 0;
 
        &--header {
            position: relative;
            padding: 0 10px;
            background-color: $mainDarkGray;  
            

            &__title {
                color: $mainFontColor;
                font-weight: 400;
                font-size: 1.125rem;
                margin: 0;
                padding: 0;
                line-height: 1.8;
            }

            &__det {
                list-style: none;
                margin: 10px 0 0 0;
                padding: 0 0 10px 0;
                @mixin clearfix;
                font-size: .875rem;
                color: $mainFontColor;

                &--que {
                    padding-top: 10px;
                    margin: 0;
                }

                & > li {
                    float: left;
                    margin-right: 50px;
                    position: relative;

                    &:last-child { 
                        margin-right: 0; 
                        padding-left: 34px;
                        color: $mainDarkBlue;
                        
                        & > div {
                            left: 0;
                            background-color: $mainLightGray;
                        }
                    }

                    & > div {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        border-radius: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 50%;
                        transform: translateY(-50%);
                        box-shadow: 0 2px 2px 0 rgba($mainDarkBlack, .25);
                    }

                    @mixin atSmall {
                        margin-right: 60px;
                    }
                }

                &--ans {
                    padding-right: 34px;

                    & > div {
                        background-color: $mainLightRed;
                        color: #fff;
                        right: 0; 
                    }
                }
            } 
        }

        &--cnt {
            line-height: 2;
            margin: 0;
            padding: 15px 10px 0 10px;
            border-top: 1px solid $mainDarkGray;
            font-size: .9375rem;
            color: $mainFontColor;
            background-color: $mainHeaderColor;
            
            @mixin atSmall {
                font-size: .9375rem;
            }

            @mixin atMedium {
                font-size: 1rem;
            }
        } 

        &--det {
            margin: 0;
            padding: 0;
            position: relative;
            @mixin clearfix;
            background-color: $mainHeaderColor;

            &__edit {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                font-size: .8125rem;

                &--title {
                    position: relative;
                    font-size: .875rem; 
                    margin-bottom: 5px;
                    padding-left: 25px;

                    & > div {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        border-radius: 10px;
                        background-color: $mainLightGray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &--tm {
                    text-align: center; 
                    color: $mainDarkBlue; 
                }

            }

            &__user {
                float: right;
                position: relative;
                margin: 10px 0;
                padding-left: 50px;
                padding-right: 10px;
                font-size: .8125rem;

                &--img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #fff;
                    box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -o-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -ms-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -moz-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -webkit-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    cursor: pointer;
                }

                & > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    & > li {
                        position: relative;

                        &:first-child {
                            padding-top: 2px;
                        }

                        & > a {
                            text-decoration: none;
                            color: $mainFontColor;
                        }
                    }
                }

                &--status {
                    font-size: .75rem;
                    position: relative;
                    padding-left: 15px;
                    margin-top: 5px;
                    color: $mainDarkBlue; 

                    & > div {
                        width: 6px;
                        height: 6px;
                        border-radius: 3px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &__off {
                        background-color: $mainLightRed; 
                    }

                    &__on {
                        background-color: $mainLightGreen; 
                    }
                }
                
                @mixin atSmall {
                    font-size: .875rem;
                }
            }
        }

        &--footer {
            margin: 0;
            padding: 0;
            border: 1px solid $mainDarkGray;
            border-left: 0;
            border-right: 0;
            position: relative;
            font-size: 1rem;
            /* background-color: $mainHeaderColor;  */

            &__user-opt {
                padding: 5px 0;
                padding-left: 64px;
            }

            &__add {
                font-size: .8125rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                bottom: 0;
                background-color: $mainMiddleDarkBlue;
                color: #fff;
                display: flex;
                align-items: center;

                & > a {
                    padding: 0 20px;
                    color: #fff;
                    text-decoration: none;
                }
            }

            &__user-det {
                position: absolute;
                right: 20px;
                cursor: pointer; 
                width: 40px;
                height: 20px;
                border-radius: 3px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;

                &--clk {
                    background-color: $mainLightGray;
                    transition: all .3s ease-in;
                }

                &--opt {
                    position: absolute;
                    list-style: none;
                    top: -52px;
                    right: 52px;
                    padding: 0;
                    margin: 0;
                    background-color: #fff;
                    box-shadow: 0 0 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
                    font-size: .8125rem;
                    margin-bottom: 40px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease-out;
    
                    li {
                        padding: 5px;
                        margin: 5px;
                        background-color: $mainLightGray;
                        font-weight: 300;
                        white-space: nowrap;
                        border: 1px solid rgba($mainDarkBlack, .25);
                        cursor: pointer;
    
                        &:first-child {
                            background-color: $mainDarkPaleBlue;
                            border: none;
    
                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }
    
                        &:last-child {
                            background-color: $mainDarkRed;
    
                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }
    
                        a {
                            color: $mainFontColor; 
                            text-decoration: none;
                        }
                    }
    
                    &::after {
                        position: absolute;
                        content: "";
                        top: 50px;
                        right: -24px;
                        border-color: transparent;
                        border-width: 12px;
                        border-bottom-color: #fff;
                        border-style: solid;
                        transform: rotate(90deg);
                        pointer-events: none;
                    }
    
                    &::before {
                        position: absolute;
                        content: "";
                        top: 49px;
                        right: -26px;
                        border-color: transparent;
                        border-width: 13px;
                        border-bottom-color: rgba($mainDarkBlack, 0.25);
                        border-style: solid;
                        transform: rotate(90deg);
                        pointer-events: none;
                    }

                    &__visible {
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        transition: all .5s ease-out;
                    }
                }

            }

            @mixin atSmall {
                font-size: 1.2rem;
            }
        }

        @mixin atMedium {
            margin-top: 5px;
        }

        @mixin atLarge {
            margin-top: 15px;
        }
    }

    &__comments {
        width: 100%;
        margin-top: 40px;
        background-color: rgba($mainHeaderColor, 1);
        
        &--wrapper {
            position: relative;
            margin: 0 10px;
        }

        &--header {
            font-size: .8125rem;
            margin: 0 0 20px 0;
            background-color: $mainMiddleDarkBlue;
            color: #fff;
            padding: 10px 0; 

            &__ans {
                text-align: center;
                padding: 5px 0;
                margin: 0;
                position: relative;
            }

            &__ask {
                padding: 5px 10px;
                margin: 0 0 0 10px;
                color: $mainDarkBlue;
                background-color: #fff !important;
                border-radius: 3px;
                text-decoration: none;

                @mixin atExtraSmall {
                    margin: 0 0 0 20px;
                }
            }


            @mixin atSmall {
                font-size: .875rem;
            }
        }

        &--box {
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            margin-bottom: 20px;
            box-shadow: 0px 1px 19.32px 3.68px rgba($mainDarkGray, .6);
            /* -o-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -ms-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -webkit-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -moz-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65); */
            width: 100%;
            position: relative;

            &__reply-wrapper {
                @mixin clearfix;
                position: relative;
            }

            &__reply-cnt {
                width: 95%;
                float: right;
                position: relative;

                &--header {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -20px;
                    background-color: $mainDarkBlue;
                    border-radius: 10px;
                    color: #fff;
                    font-weight: 300;
                    font-size: .8125rem;
                    padding: 2px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @mixin atSmall {
                        font-size: .875rem;
                    }
                }
            }

            &__header {
                list-style: none;
                position: relative; 
                width: 100%;
                margin: 0;
                padding: 10px 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                @mixin clearfix;
                font-size: .875rem;
                border-bottom: 1px solid $mainDarkGray;
                /* box-shadow: 0px 1px 8px 3px rgba($mainDarkGray, .8); */

                li {
                    position: relative;

                    &:first-child {
                        position: relative;
                        float: left;
                    }

                    &:last-child {
                        position: absolute; 
                    }
                }

                &--img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #fff;
                    box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -o-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -ms-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -moz-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    -webkit-box-shadow:0 2px 9px 1px rgba($mainDarkBlue, .9);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    cursor: pointer;
                }

                &--det {
                    position: relative;
                    margin: 0 0 0 50px;
                    font-size: .8125rem;

                    &__title {
                        text-decoration: none;
                        color: $mainFontColor; 
                    }   
                    
                    &__status {
                        font-size: .75rem;
                        position: relative;
                        padding-left: 15px;
                        margin-top: 5px;
                        color: $mainDarkBlue; 

                        & > div {
                            width: 6px;
                            height: 6px;
                            border-radius: 3px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &--off {
                            background-color: $mainLightRed; 
                        }

                        &--on {
                            background-color: $mainLightGreen; 
                        }
                    }
                    
                    @mixin atSmall {
                        font-size: .875rem;
                    }
                }

                &--soln {
                    font-size: .8125rem;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;

                    &__time {
                        color: $mainLightBlue;
                        display: block;
                        margin-top: 8px;
                        font-size: .75rem;

                        @mixin atMedium {
                            display: inline;
                            margin-left: 5px;
                            margin-top: 0;
                            font-size: .8125rem;
                        }
                    }

                    @mixin atMedium {
                        font-size: .875rem;
                        position: relative;
                    }
                }
            }

            &__content {
                color: $mainFontColor;
                margin: 0;
                padding: 5px 10px;
                font-size: .875rem;
                line-height: 1.8;
                

                &--chats {
                    font-size: .9375rem;

                    &__title {
                        color: $mainLightBlue;
                        cursor: pointer;
                    }
                }

                @mixin atSmall {
                    font-size: .9375rem;
                }
            }

            &__footer {
                border-radius: 20px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -o-box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -ms-box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -webkit-box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -moz--box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                position: relative;
                font-size: 1rem;
                z-index: 1;
                
                &--user-opt {
                    padding: 5px 0;
                    padding-left: 54px;

                    &__reply {
                        padding-left: 20px;
                    }

                }

                &--user-like {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 50%;
                    transform: translateY(-50%);
                    
                    &__total {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        border-radius: 12px;
                        background-color: $mainLightGray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        font-size: .875rem;
                        color: $mainLightBlue;
                    }
                }

                &--user-det {
                    position: absolute;
                    right: 20px;
                    cursor: pointer; 
                    width: 40px;
                    height: 20px;
                    border-radius: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;

                    &__clk {
                        background-color: $mainLightGray;
                        transition: all .3s ease-in;
                    }
    
                    &__opt {
                        position: absolute;
                        list-style: none;
                        top: -22px;     
                        right: 52px;
                        padding: 0;
                        margin: 0;
                        background-color: #fff;
                        box-shadow: 0 0 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
                        font-size: .8125rem;
                        margin-bottom: 40px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease-out;
        
                        li {
                            padding: 5px;
                            margin: 5px;
                            background-color: $mainLightGray;
                            font-weight: 300;
                            white-space: nowrap;
                            border: 1px solid rgba($mainDarkBlack, .25);
                            cursor: pointer;
        
                            &:first-child {
                                background-color: $mainDarkPaleBlue;
                                border: none;
        
                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                            }
        
                            &:last-child {
                                background-color: $mainDarkRed;
        
                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                            }
        
                            a {
                                color: $mainFontColor; 
                                text-decoration: none;
                            }
                        }
        
                        &::after {
                            position: absolute;
                            content: "";
                            top: 20px;
                            right: -24px;
                            border-color: transparent;
                            border-width: 12px;
                            border-bottom-color: #fff;
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }
        
                        &::before {
                            position: absolute;
                            content: "";
                            top: 19px;
                            right: -26px;
                            border-color: transparent;
                            border-width: 13px;
                            border-bottom-color: rgba($mainDarkBlack, 0.25);
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }
    
                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .5s ease-out;
                        }
                    }
                }

                @mixin atSmall {
                    font-size: 1.2rem;
                }
            }

           &__reply {
               position: absolute;
               background-color: #fff;
                z-index: 1;
                box-shadow: 0px 1px 2px 0 rgba($mainDarkGray, 0.97);
                -o-box-shadow: 0px 1px 2px 0 rgba($mainDarkGray, 0.97);
                -moz-box-shadow: 0px 1px 2px 0 rgba($mainDarkGray, 0.97);
                -ms-box-shadow: 0px 1px 2px 0 rgba($mainDarkGray, 0.97);
                -webkit-box-shadow: 0px 1px 2px 0 rgba($mainDarkGray, 0.97);
                top: 0;
                left: 90%; 
                transform: translateX(-90%); 
                border-radius: 3px;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in;

               &--main-close {
                   position: absolute;
                   top: -10px;
                   right: -10px;
                   width: 24px;
                   height: 24px;
                   border-radius: 12px;
                   background-color: $mainDarkGray;
                   border: 1px solid $mainDarkGray;
                   text-align: center;
                   cursor: pointer;
                   z-index: 1;
                   display: flex;
                   justify-content: center;
                   align-items: center; 
               }

               &--header {
                   list-style: none;
                   margin: 0;
                   padding: 0;
                   border-bottom: 1px solid $mainDarkGray;
                   @mixin clearfix;
                   width: 100%;

                   li {
                       width: 25%;
                       float: left;
                       padding: 30px 0;
                       position: relative;
                   }

                   &__iconholder {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: $mainLightGray;
                    font-size: 1.2rem;
                    text-align: center;
                    position: absolute;
                    top: 10px !important;
                    left: 50%;
                    transform: translateX(-50%);
                    cursor: pointer;
                   }
               }

               &--content {
                padding: 10px 10px;

                   &__input {
                       width: 11rem;
                       border: 1px solid $mainDarkGray;
                       height: 15rem;
                       resize: none;
                       padding: 5px 10px;
                       line-height: 2;
                       margin: 0;
                       background-color: #fff;
                       font-size: .875rem;
                       color: $mainFontColor;

                       @mixin atExtraSmall {
                        width: 14.5rem;
                       }

                       @mixin atMiniSmall {
                        width: 15rem;
                       }

                       @mixin atSmall {
                        width: 18.75rem;
                       }
                   }
               }

               &--footer {
                   text-align: center;
                   width: 100%;
                   color: #fff;
                   border-top: 1px solid $mainDarkGray;
                   padding: 15px 20px;

                   a {
                       background-color: $mainDarkBlue;
                       color: #fff;
                       text-decoration: none;
                       padding: 8px 16px;
                       font-size: .875rem;
                        border-radius: 3px;
                        box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
                        -o-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
                        -webkit-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
                        -ms-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
                        -moz-box-shadow: 0px 4px 7.76px 0.24px rgba(2, 132, 168, 0.53);
                        position: relative;
                        top: -2px;
                   }
               }

               &--visible {
                   opacity: 1;
                   visibility: visible;
                   z-index: 2;
                   transition: all .3s ease-in;
               }
           }
        }
    }

    &__tips {
        box-shadow: 0 0 2px 0px rgba($mainDarkBlack, .5);
        /* -o-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .8);
        -ms-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -webkit-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -moz-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6); */
        width: 100%;
        padding: 0 0;
        /* border-radius: 3px; */
        color: $mainFontColor;
        margin: 40px 0;

        &--title {
            text-align: center;
            padding: 10px 0;
            margin: 0;
            border-bottom: 1px solid $mainDarkGray;
            font-weight: 500;
            font-size: .9375rem;
            color: $mainDarkBlue;
            background-color: $mainHeaderColor; 
        }

        &--subtitle {
            text-align: center;
            padding: 10px 0;
            margin: 0;
            font-weight: 300;
            font-size: .875rem;
            color: $mainDarkBlue;

            @mixin atSmall {
                font-size: .9375rem;
                font-weight: 400;
            }
        }

        ul {
            padding: 0px 20px 5px 20px;
            margin: 0;
            /* color: $mainDarkBlue; */
            font-size: .875rem;
            list-style-type: square;
            border-bottom: 1px solid $mainDarkGray;

            li {
                padding: 8px 0;

                & > span {
                    color: $mainDarkRed;
                }
            }

            @mixin atSmall {
                font-size: 1rem;
            }
        }

        &--note {
            font-size: .875rem;
            margin: 0;
            margin-top: 5px !important;
            padding: 8px 0;
            text-align: center;

            & > span {
                background-color: $mainDarkRed;
                color: #fff;
                padding: 5px 10px;
            }

            &__details {
                font-size: .875rem;
                margin: 0;
                padding: 8px 0;
                text-align: center;

                & > span {
                    padding: 0 10px;
                    color: $mainDarkBlue;
                }
            }
        }
    }
    
    &__form {
       padding: 10px;
       background-color: $mainHeaderColor; 
        margin: 40px auto 0 auto;
        font-size: .875rem;

        &--header {
            text-align: center;
            font-size: 1rem;
            padding: 10px 0;
            margin:  0;
            background-color: $mainMiddleDarkBlue;
            color: #fff;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--field {
            margin-bottom: 40px;

            &__textarea {
                width: 100%;
                border: .5px solid $mainDarkGray;
                resize: none;
                height: 300px;
                outline: none;
                padding: 10px;
                margin: 0;
                border-bottom: 0;
            }

            & > button {
                border: none;
                width: 100%;
                text-align: center;
                background-color: rgba($mainDarkBlack, .15);
                border: 1px solid rgba($mainDarkBlack, .2);
                position: relative;
                padding: 6px 0;
                margin: 0;
                top: -4px;
                color: $mainFontColor;
                font-size: .9375rem;
                cursor: pointer;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    @mixin atSmall {
        top: 60px; 
    }

    @mixin atMedium {
        top: 65px; 
    }
}