.reuse-view__nav {
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;   

    &--related {
        margin: 10px;
        color: $mainFontColor;
        position: relative;
        border: 1px solid $mainDarkGray;
        background-color: $mainLightGray; 
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;    

        &__header {
            position: relative;
            font-size: 1rem;
            background-color: $mainDarkGray;
            margin: 0 0 0 0; 
            font-weight: 400;
            box-shadow: 0 .5px 1px 0px rgba($mainDarkBlack, .2);

            &--title {
                padding: 5px 0;
                position: relative;
                margin: 0 auto;
                width: 174px;
                padding-right: 34px;

                &__pt {
                    width: 134px;
                    padding-right: 14px;
                }

                & > div {
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    background-color: $mainDarkRed;
                    color: #fff;
                    font-size: .8125rem;
                    border: 1px solid $mainDarkRed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }
        }

        &__options {
            list-style: none;
            margin: 0;
            padding: 0  10px;
            font-size: 1rem;
            text-align: left;
            border-top: none;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            flex-grow: 1;    
            overflow: hidden;
            overflow-y: auto;
            padding-top: 5px;


            li {
                margin: 10px 0;

                a {
                    /* text-decoration: none; */
                    color: $mainFontColor;
                    font-weight: 400; 
                }
            }
        }
    }

} 