.reuse-view__nav {
    margin-top: 15px;
    height: 90vh; 
    position: sticky;
    top: 70px;
    overflow: hidden;
    display: none; 

    &--wrapper {
        border: none;
        border-top: none;
        margin: 0;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto; 

        @mixin atLarge {
            border: 1px solid $mainDarkGray;
            padding: 10px 0 0 0;
        }
    }
     
    &--header {
        padding: 0px 20px 0px 0;
        background-color: transparent;
        text-align: right;
        border: none;
        margin: 0;
        
        @mixin atLarge {
            padding: 10px 20px 10px 0;
            border: 1px solid $mainMiddleDarkBlue;
            background-color: $mainMiddleDarkBlue;
        }
    }

    &--related {
        margin: 0 10px;
        color: $mainFontColor;
        position: relative;
        margin-bottom: 20px;
        border: 1px solid $mainDarkGray;

        &__header {
            position: relative;
            background-color: rgba($mainLightGray, .4);
            border-bottom: 1px solid $mainDarkGray;

            &--title {
                padding: 8px 0;
                position: relative;
                margin: 0 auto;
                /* padding-left:  */
                width: 174px;
                padding-right: 34px;
                font-size: 1rem; 

                & > div {
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    background-color: $mainDarkRed;
                    color: #fff;
                    font-size: .8125rem;
                    border: 1px solid $mainDarkRed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }
        }

        &__options {
            list-style: none;
            margin: 0;
            padding: 0  10px;
            font-size: 1rem;
            text-align: left;
            border-top: none;
            border-bottom: none;

            li {
                padding: 8px 0;
                margin: 5px 0;

                &:first-child {
                    padding-top: 10px;
                }

                a {
                    /* text-decoration: none; */
                    color: $mainDarkBlue;
                }
            }
        }

        &__view-btn {
            width: 100%;
            background-color: $mainDarkGray;
            color: $mainFontColor;
            padding: 8px 0;
            text-align: center;
            outline: none;
            border: none;
            border: 1px solid rgba($mainDarkBlack, .25);
            cursor: pointer;
            font-size: .875rem;
            position: relative;
        }
    }

    &--online-que {
        background-color: $mainDarkBlue;
        color: #fff;
        margin: 20px 10px 20px 10px;
        font-weight: 400;

        &__header {
            text-align: center;
            font-size: .875rem;
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px solid rgba(#fff, .6);

            &--start {
                background-color: $mainLightBlue;
                padding: 3px 5px;
                margin-left: 10px;
                box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                -o-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                -ms-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                -webkit-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                -moz-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }

            @mixin atMedium {
                font-size: .9375rem;
            }
        }
        &__category {
            text-align: center;
            width: 100%;
            color: $mainFontColor;
            display:  flex;
            justify-content: center;
            align-self: center;
            font-size: .8125rem;

            &--title {
                width: 140px;
                margin: 8px 0;
                padding: 8px 0;
                background-color: #fff;
                cursor: pointer;
                position: relative;
                box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                -o-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                -moz-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                -webkit-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                -ms-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);    
                
                &__item {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                    -moz-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                    -webkit-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                    -ms-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                    -o-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                    width: 100%;
                    background-color: #fff;
                    top: 30px;
                    max-height: 200px;
                    overflow: hidden;
                    overflow-y: auto;
                    border-top: none;
                    font-size: .8125rem;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                    transition: all .3s ease-out;

                    li {
                        padding: 5px 0;
                        text-align: left;
                        padding-left: 10px;
                        &:first-child {
                            margin-top: 3px;
                            box-shadow: none;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }

                    &--visible {
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        transition: all .3s ease-out;
                    }

    
                    @mixin atMiniSmall {
                        font-size: .8125rem;
                    }

                    @mixin atMedium {
                        font-size: .875rem;
                    }
                }

                @mixin atExtraSmall {
                    margin: 8px 0;
                    padding: 6px 0;
                }

                @mixin atSmall {
                    margin: 8px 0;
                    padding: 8px 0;
                }
            }

            @mixin atMiniSmall {
                font-size: .8125rem;
            }

            @mixin atMedium {
                font-size: .875rem;
            }
        }
    }

    &--footer {
        margin: 20px 10px 20px 10px;
        padding: 0;

       &__header {
            list-style: none;
            margin: 0;
            padding: 0;
            @mixin clearfix;
            background-color: rgba($mainDarkGray, 1);
            color: $mainFontColor;
            border: 1px solid rgba($mainDarkBlack, .15);

            li {
                float: left;
                width: 50%;
                text-align: center;
                font-size: .8125rem;
                padding: 8px 0;

                &:first-child {
                    border-right: 1px solid rgba($mainDarkBlack, .25);
                }

                @mixin atSmall {
                    font-size: .875rem;
                }
            }
        }

        &__group {
            width: 100%;
            font-size: .875rem;
            list-style: none;
            margin: 0;
            padding: 10px 0 0 0;
            @mixin clearfix;
            border: 1px solid $mainDarkGray;
            border-top: none;
            border-bottom: none;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                @mixin clearfix;
            }

            li {
                float: none !important;
                width: 100% !important;
                background-color: transparent;
                padding: 5px 0;

                ul {
                    @mixin clearfix;

                    li {
                        width: 50% !important;
                        float: left !important;
                        text-align: left;
                        padding-left: 20px;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &:last-child {
                            text-align: right !important; 
                            padding-right: 20px;
                            color: $mainDarkBlue;
                        }
                    }
                }
            }

            &--view-more {
                width: 100%;
                background-color: $mainDarkGray;
                color: $mainFontColor;
                padding: 8px 0;
                text-align: center;
                outline: none;
                border: none;
                border: 1px solid rgba($mainDarkBlack, .25);
                cursor: pointer;
                font-size: .875rem;
                position: relative;
            }
        }

        &__timedQue {
            margin: 0 0 0 0;
            padding: 10px 0 0 0;
            list-style: none;
            border: 1px solid $mainDarkGray;
            border-top: none;


            li {
                margin: 0 10px 10px 10px;
                border: 1px solid $mainLightGray;
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 5px 0px rgba(163, 161, 163, 0.41);
                  
                  
                ul {
                    @mixin clearfix;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    border-top: 1px solid $mainLightGray;

                    li {
                        float: left;
                        border-radius: none;
                        border: none;
                        padding: 5px 0;
                        margin: 0;
                        font-size: .8125rem;
                        width: 50%;
                        text-align: center;
                        color: $mainFontColor;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &:first-child {
                            border-right: 1px solid $mainLightGray;
                            border-radius: 5px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                        &:last-child {
                            border: none;
                            border-radius: 0;
                            border-bottom-right-radius: 5px;
                            cursor: pointer;
                            background-color: $mainDarkPaleBlue;
                            color: #fff;
                        }
                    }
                }
            }

            &--title {
                text-align: center;
                width: 100%;
                font-size: .875rem;
                margin: 0;
                padding: 10px 0;
                white-space: nowrap;
                text-overflow: ellipsis; 

                a {
                    color: $mainFontColor;
                    font-weight: 500;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            &--view-btn {
                width: 100%;
                background-color: $mainDarkGray;
                color: $mainFontColor;
                padding: 8px 0;
                text-align: center;
                outline: none;
                border: none; 
                border: 1px solid rgba($mainDarkBlack, .25);
                cursor: pointer;
                font-size: .875rem;
                position: relative;
            }
        }
    }


    @mixin atLarge {
        width: 35%;
        float: left;
        display: flex;
        flex-direction: column; 
    }

} 