.site-header {
    background-color: $mainHeaderColor;
    position: fixed;
    @mixin clearfix;
    width: 100%;
    top: 0;
    padding: .625rem 0;
    z-index: 2;
   
    &__logo {
        position: relative;
        width: 65px;
        height: 32px;
        background: #fff;
        float: left;
        left: 0;
    }

    &__form {
        float: left;
        position: relative;
        margin: 0 .625rem 0 1.25rem;
        @mixin clearfix;
        padding: 0;
        width: 1.563rem;
        display: none;
        /* box-shadow: 0 0 .2594rem .0531rem rgba(203, 209, 207, 0.65);
        -ms-box-shadow: 0 0 .2594rem  .0531rem rgba(203, 209, 207, 0.65);
        -webkit-box-shadow: 0 0 .2594rem  .0531rem rgba(203, 209, 207, 0.65);
        -moz-box-shadow: 0 0 .2594rem  .0531rem rgba(203, 209, 207, 0.65);
        -o-box-shadow: 0 0 .2594rem  .0531rem rgba(203, 209, 207, 0.65); */
        border: 1px solid $mainDarkGray;
          
        &--input {
            background-color: rgb(255, 255, 255);
            padding: .675rem 0 .675rem .125rem;
            float: left;
            width: 75%;
            border: none;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: none;

            @mixin atSmall {
                display: none;
            }

            @mixin atMedium {
                display: none;
            }

            @mixin atLarge {
                display: block;
            }

            &__formExpanded {
                width: 90%;
            }
        }
        
        &--search {
            background-color: $mainExtraLightGray;
            display: inline;
            float: right;
            text-align: center;
            width: 100%;
            padding: .395rem 0 .395rem 0;
            cursor: pointer;
            border-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            @mixin atSmall {
                width: 100%;
                padding: .395rem 0 .395rem 0;
            } 

            @mixin atMedium {
                width: 100%;
                padding: .675rem 0 .675rem 0;
            } 

            @mixin atLarge {
                text-align: center;
                width: 25%;
            }

            &__formExpanded {
                width: auto;
                @mixin atLarge {
                    width: 10%;
                }
            }

        }

        &--expanded{
            width: auto !important;
            
            @mixin atLarge {
                display: block !important;
                width: 550px !important;
                transition: width .01s ease-out;
            }
        }

        @mixin atSmall {
            display: block;
            padding: 0;
            width: 1.563rem;
        }

        @mixin atMedium {
            padding: 0;
            width: 2.063rem;
            /* border-radius: 4px; */
        }

        @mixin atLarge {
            width: 8.5%;
            border-radius: 0;
        }
    }

    &__addNew {
        float: left;
        background-color: $mainDarkBlue;
        height: 30px;
        padding: .6rem 0 .6rem .613rem;
        position: relative;
        font-size: .7375rem;
        color: #fff;
        cursor: pointer;
        border-radius: 2px;
        margin: .45rem 0 0 .5rem;
        width: 5.25rem;
        display: none;

        &--content {

                display: none;

            @mixin atLarge{
                display: block;
            }
        }

        &--content-sm {
                display: block;

            @mixin atLarge{
                display: none;
            }
        }

        &--list {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            background-color: #fff;
            top: 36px;
            width: 130px;
            left: -78px;
            border: 1px solid $mainDarkGray;
            opacity: 0;
            /* transform: scale(.9); */
            visibility: hidden;
            z-index: -33;
            transition: all .3s ease-out;

            &::after {
                content: "";
                border-color: transparent;
                position: absolute;
                right: 13px;
                border-width: 7px;
                border-style: solid;
                border-bottom-color: #fff;
                top: -14px;

                @mixin atMedium {
                    border-width: 11px;
                    top: -22px;
                }
            }

            &::before {
                border-color: transparent;
                content: "";
                position: absolute;
                right: 12px;
                border-width: 8px;
                border-bottom-color: $mainDarkGray;
                border-style: solid;
                top: -15.6px;

                 @mixin atSmall {
                    top: -16px;
                }

                @mixin atMedium {
                    border-width: 12px;
                    top: -24px;
                }
            }

            li {
                padding: 6px 0 6px 20px;
                width: 100%;
                font-size: .8125rem;
                color: $mainFontColor;

                &:first-child {
                    margin-top: 3px;
                }

                &:hover {
                    background-color: $mainDarkBlue;
                    color: #fff;
                }

                @mixin atSmall {
                    font-size: .8125rem;
                    /* font-size: .875rem; */
                }
            }

            &__opened {
                opacity: 1;
                z-index: 3;
                visibility: visible;
                transform: scale(1);
                width: 150px;
                transition: all .3s ease-out;
            }

            @mixin atMedium {
                top: 42px;
                left: -73px;
            }

            @mixin atLarge {
                left: -50px;
            }
        }

        &--formExpanded {
            @mixin atMedium {
                display: block !important;
            }

            @mixin atLarge {
                opacity: 1;
                transition: all .2sec ease-out;
                display: none !important;
            }
        }

        @mixin atExtraSmall {
            display: block;
            margin-top: .1rem;
            width: 3.85rem;
        }

        @mixin atMiniSmall {
            margin: .1rem .3rem 0 .5rem;
            width: 3.85rem;
        }

        @mixin atSmall {
            /* display: block; */
            margin: .15rem .5rem 0 1.2rem;
            width: 3.85rem;
        }

        @mixin atMedium {
            margin: .35rem .85rem 0 .8rem;
            padding: .6rem 0 .6rem .613rem;
            width: 3.85rem;
        }

        @mixin atLarge{
            margin: .35rem 1.2rem 0 1rem;
            width: 5.25rem;
        }

    }

    &__list {
        float: left;
        margin-top: .175rem;
        font-family: "poppins" , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        top: 45px;
        width: 100%;
        padding-left: 1px;
       left: 0;
       background-color: $mainDarkBlue;
        

        ul {
            display: flex;
            justify-content: center;
         
            list-style: none;
            margin: 0;
            padding: 0;
            @mixin clearfix;
            font-size: .875rem; 
            overflow: hidden;

            @mixin atSmall {
                display: flex;
                justify-content: center;
            }
            @mixin atMedium {
                display: inline;
                border-top: none;
                left: 0;
            }
        }
        li {
            float: left;
            margin: .488rem 0;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #fff;
                padding: 6.8rem .6rem;
                font-size: .8rem;
             
                
                @mixin atSmall {
                    padding: .8rem .6rem;
                    color: #fff;
                    font-size: .875rem;
                }

                @mixin atMedium {
                    color: $mainFontColor;
                    padding: .4rem .6rem;
                }

                @mixin atLarge {
                    padding: .4rem 1.225rem;
                }
                &:hover {
                    background-color: $mainDarkGray;
                    color: $mainFontColor;
                }
            }

        &:first-child {
            margin-right: 0rem;

            @mixin atSmall {
                margin-right: 1.45rem;
            }
        }

        &:last-child {
            display: none;
            @mixin atSmall {
                display: block;
            }
        }

        @mixin atSmall {
            font-size: .875rem;
            margin: .488rem 0;
        }

        @mixin atMedium {
            margin: .588rem 0;
        }
     
      }

      &--bars {
          display: inline;
          

          @mixin atSmall {
              display: none;
          }
      }

      &--search-mini {
          display: inline;
          /* padding:  0 0 0 .2rem; */
          @mixin atSmall {
              display: none;
          }

          &__content {
            background-color: $mainExtraLightGray;
          }
      }

      @mixin atSmall {
        padding-left: 0;
        top: 45px;
      }

        &--formExpanded {
            @mixin atMedium {
                display: block !important;
            }

            @mixin atLarge {
                opacity: 1;
                transition: all .2sec ease-out;
                display: none !important;
            }
        }

      @mixin atMedium {
        position: relative;
        top: 0;
        transform: translateY(0);
        left: 0;
        width: auto;
        border-top: none;
        background: transparent;
      }

    }

    &__menu {

        &--mini-space {

            @mixin atExtraSmall {
                display: none;
            }

            @mixin atMiniSmall{
                display: block;
                float: left;
                width: 16px;
                height: 24px;
                margin: .285rem  0rem 0 0rem;
                background-color: transparent;
                opacity: 0;
                z-index: -3333;
            }

            @mixin atSmall {
                display: none;
            }
        }

        &--favorites {
            float: left;
            border-radius: 14px;
            width: 28px;
            height: 28px;
            margin: .285rem  0rem 0 .825rem;
            background-color: rgba($mainLightGray, .7);
            display: inline;
            text-align: center;
            position: relative;
            cursor: pointer;

            &__tool-tip {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 35px;
                left: -26px;
                background-color: #fff;
                border: 1px solid $mainDarkGray;
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .3s ease-in;
                
                &::after {
                    content: "";
                    position: absolute;
                    right: 13px;
                    border-color: transparent;
                    border-width: 10px;
                    border-style: solid;
                    border-bottom-color: #fff;
                    top: -20px;

                    @mixin atExtraSmall {
                        border-width: 8px;
                        top: -16px;
                    }

                    @mixin atMedium {
                        border-width: 10px;
                        top: -20px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    right: 12px;
                    top: -22px;
                    border-color: transparent;
                    border-width: 11px;
                    border-style: solid;
                    border-bottom-color: $mainDarkGray;

                    @mixin atExtraSmall {
                        border-width: 9px;
                        top: -18px;
                    }

                    @mixin atMedium {
                        border-width: 11px;
                        top: -22px;
                    }
                }

                li {
                    font-size: 13px;
                    padding: 5px 5px;
                }

                &--openIcons {
                    opacity: 1 !important;
                    z-index: 0 !important;
                    visibility: visible !important;
                }

                @mixin atSmall {
                    top: 36px;
                }

                @mixin atMedium {
                    top: 42px;
                    left: -24px;
                }

                @mixin atLarge {
                    top: 46px;
                    left: -22px;
                }
            }

            @mixin atExtraSmall {
                margin: .2rem   0rem 0 .825rem;
            }

            @mixin atSmall {
                border-radius: 14px;
                width: 28px;
                height: 28px;
                margin: .11rem  0rem 0 1.825rem;
            }

            @mixin atMedium {
                border-radius: 16px;
                width: 32px;
                height: 32px;
                margin: .25rem  .5rem 0 1.625rem;
            }

            @mixin atLarge {
                border-radius: 18px;
                width: 36px;
                height: 36px;
                margin: .185rem  1rem 0 1.625rem;
            }
        }

        &--shares {
            float: left;
            border-radius: 14px;
            width: 28px;
            height: 28px;
            margin: .285rem  0 0 1rem;
            background-color: rgba($mainLightGray, .7);
            display: inline;
            text-align: center;
            position: relative;
            cursor: pointer;

            &__tool-tip {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 35px;
                left: -82px;
                background-color: #fff;
                border: 1px solid $mainDarkGray;
                width: 120px;
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .3s ease-in;

                &::after {
                    content: "";
                    position: absolute;
                    right: 13px;
                    border-color: transparent;
                    border-width: 10px;
                    border-style: solid;
                    border-bottom-color: #fff;
                    top: -20px;

                    @mixin atExtraSmall {
                        border-width: 8px;
                        top: -16px;
                    }

                    @mixin atMedium {
                        border-width: 10px;
                        top: -20px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    right: 12px;
                    top: -22px;
                    border-color: transparent;
                    border-width: 11px;
                    border-style: solid;
                    border-bottom-color: $mainDarkGray;

                    @mixin atExtraSmall {
                        border-width: 9px;
                        top: -18px;
                    }

                    @mixin atMedium {
                        border-width: 11px;
                        top: -22px;
                    }
                }

                li {
                    font-size: 13px;
                    padding: 5px 5px;
                }

                &--openIcons {
                    opacity: 1 !important;
                    z-index: 3 !important;
                    visibility: visible !important;
                }
               
                @mixin atSmall {
                    top: 36px;
                }

                @mixin atMedium {
                    top: 42px;
                    left: -80px;
                }

                @mixin atLarge {
                    top: 46px;
                    left: -78px;
                }
                
            }
            
            @mixin atExtraSmall {
                margin: .2rem   0rem 0 .825rem;
            }

            @mixin atSmall {
                border-radius: 14px;
                width: 28px;
                height: 28px;
                margin: .11rem  .5rem 0 1rem;
            }

            @mixin atMedium {
                border-radius: 16px;
                width: 32px;
                height: 32px;
                margin: .25rem .5rem 0 .5rem;
            }

            @mixin atLarge {
                border-radius: 18px;
                width: 36px;
                height: 36px;
                margin: .185rem  1rem 0 .5rem;
            }
        }
        
        &--notification {
            float: left;
            border-radius: 14px;
            width: 28px;
            height: 28px;
            margin: .285rem  0 0 1rem;
            background-color: rgba($mainLightGray, .7);
            display: inline;
            text-align: center;
            position: relative;
            cursor: pointer;

            &__icon {

            }

            &__tool-tip {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 35px;
                left: -40px;
                background-color: #fff;
                border: 1px solid $mainDarkGray;
                width: auto;
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .3s ease-in;

                &::after {
                    content: "";
                    position: absolute;
                    right: 13px;
                    border-color: transparent;
                    border-width: 10px;
                    border-style: solid;
                    border-bottom-color: #fff;
                    top: -20px;
                    pointer-events: none;

                    @mixin atExtraSmall {
                        border-width: 8px;
                        top: -16px;
                    }

                    @mixin atMedium {
                        border-width: 10px;
                        top: -20px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    right: 12px;
                    top: -22px;
                    border-color: transparent;
                    border-width: 11px;
                    border-style: solid;
                    border-bottom-color: $mainDarkGray;
                    pointer-events: none;
                    
                    @mixin atExtraSmall {
                        border-width: 9px;
                        top: -18px;
                    }

                    @mixin atMedium {
                        border-width: 11px;
                        top: -22px;
                    }
                }

                li {
                    font-size: 13px;
                    padding: 5px 5px;
                }

                &--openIcons {
                    opacity: 1 !important;
                    z-index: 3 !important;
                    visibility: visible !important;
                }

                @mixin atSmall {
                    top: 36px;
                }

                @mixin atMedium {
                    top: 44.5px;
                    left: -39px;
                }

                @mixin atLarge {
                    top: 48px;
                    left: -36px;
                }
            }

            &__notify-content {
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transform: scale(.8);
                transition: all .3s ease-out;

                &--open {
                    opacity: 1;
                    visibility: visible;
                    z-index: 4;
                    transform: scale(1);
                    transition: all .3s ease-out;
                }
            }



            &__wrapper-header {
                position: absolute;
                top: 34px;
                left: -238px;
                width: 21.875rem;
                height: 1px;
                background-color: transparent;
                cursor: default;
                z-index: 4;
                
                &::after {
                    border-color: transparent;
                    content: "";
                    position: absolute;
                    right: 87px;
                    border-bottom-color: $mainDarkBlue;
                    border-style: solid;
                    border-width: 10px;
                    top: -16px;

                    @mixin atSmall {
                        border-width: 10px;
                    }
                    @mixin atMedium {
                        border-width: 11px;
                        top: -10px;
                    }
                }

                &::before {
                    border-color: transparent;
                    content: "";
                    position: absolute;
                    top: -18px;
                    right: 86px;
                    border-width: 11px;
                    border-bottom-color: $mainDarkBlue;
                    border-style: solid;

                    @mixin atSmall {
                        border-width: 11px;
                    }
                    @mixin atMedium {
                        border-width: 12px;
                        top: -10px;
                    }
                }

                &--settings {
                    position: absolute;
                    right: 10px;
                    top: -2px;
                    height: 18px;
                    width: 18px;
                    border-radius: 9px;
                    background-color: #fff;
                    border: 1px solid $mainDarkBlue;
                    overflow: hidden;
                    cursor: pointer;
                    display: none;

                    @mixin atMedium {   
                        display: block;
                    }
                }

                @mixin atExtraSmall {
                    top: 34px;
                    left: -238px;
                }

                @mixin atMedium {
                    top: 34px;
                    left: -236px;
                }

                @mixin atLarge {
                    top: 36px;
                    left: -233px;
                }
            }

            &__wrapper {
                position: absolute;
                top: 35px;
                width: 240px;
                left: -165px;
                /* background-color: tgba($mainDarkBlue,.5); */
                padding: 10px;
                border-radius: 5px;
                max-height: 18.75rem;
                cursor: default;
                border-bottom: 5px solid $mainDarkBlue;
                border-top: 5px solid $mainDarkBlue;
                overflow: hidden ;
                overflow-x: hidden ;
                overflow-y: auto ;
                background: radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%);
                background: -webkit-radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%);
                background: -moz-radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%);
                background: -ms-radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%); 
                background: -o-radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%);

                &--content {
                    background-color: #fff;
                    padding: .2rem .5rem 1rem .5rem;
                    position: relative;
                    border-radius: 3px;
                    margin-bottom: .625rem;
                    overflow: hidden;

                    @mixin atExtraSmall {
                        padding: .3rem .5rem .8rem .5rem;
                    }
                    @mixin atMedium {
                        padding: .2rem .5rem 1rem .5rem;
                    }
                }

                &--title {
                    a {
                        color: $mainFontColor; 
                        cursor: pointer;
                        font-size: .875rem;

                        @mixin atExtraSmall {
                            font-size: .875rem;
                        }
                        @mixin atMedium {
                            font-size: .9375rem;
                        }
                    }
                }

                &--category {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    border-radius: 8px;
                    height: 16px;
                    width: 16px;
                    overflow: hidden;
                    font-size: .875rem;
                    text-align: center;
                    padding-top: 1px;
                    background-color: $mainLightGray;
                    color: $mainLightBlack;
                    cursor: pointer;
                }

                &--viewmore {
                    display: inline;
                    cursor: pointer;
                }

                &--dts {
                    position: absolute;
                    right: 7px;
                    top: 46px;
                    cursor: pointer;              
                }

                &--Viewers {
                    position: absolute;
                    top: 63px;
                    margin: 0;
                    padding: 0;
                    font-size: .6875rem;
                    color: $mainLightBlack;
                    font-style: italic;

                    @mixin atExtraSmall {
                        top: 49px;
                    }
                }

                &--favorite {
                    position: absolute;
                    top: 63px;
                    margin: 0;
                    padding: 0;
                    left: 80px;
                    font-size: .6875rem;
                    color: $mainLightBlack;
                    font-style: italic;

                    @mixin atExtraSmall {
                        top: 49px;
                    }
                }

                &--comment {
                    position: absolute;
                    top: 63px;
                    margin: 0;
                    padding: 0;
                    left: 155px;
                    font-size: .6875rem;
                    color: $mainLightBlack;
                    font-style: italic;

                    @mixin atExtraSmall {
                        top: 49px;
                    }
                }

                @mixin atExtraSmall {
                    top: 35px;
                    width: 310px;
                    left: -234.5px;
                }

                @mixin atMiniSmall {
                    top: 35px;
                    width: 340px;
                    left: -255px;
                }

                @mixin atSmall {
                    width: 21.875rem;
                    left: -240px;
                }

                @mixin atMedium {
                    top: 44px;
                }

                @mixin atLarge {
                    top: 48px;
                }

            }

            &--ct {
                position: absolute;
                top: -20px;
                max-width: 150px;
                background-color: transparent;
                right: -160px;
                height: 100px;
                padding: 20px 0 0 0 ;

                &__details {
                    background-color: $mainLightGray;
                    overflow: hidden;
                    margin-bottom: 10px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -333;

                    &--user {
                        overflow: hidden;
                        word-break: break-all;

                        p {
                            margin: 0;
                            padding: 5px 5px;
                            font-size: .8125rem;
                            height: 20px;
                        }

                    }

                    &--viewLater {
                        font-size: .8125rem;
                        padding: 10px 5px;
                        margin: 0;
                    }
                }
            }

            @mixin atExtraSmall {
                margin: .2rem   0rem 0 .825rem;
            }
            
            @mixin atSmall {
                border-radius: 14px;
                width: 28px;
                height: 28px;
                margin: .11rem  0 0 1rem;
            }
            
            @mixin atMedium {
                border-radius: 16px;
                width: 32px;
                height: 32px;
                margin: .25rem  .5rem 0 .5rem;
            }

            @mixin atLarge {
                border-radius: 18px;
                width: 36px;
                height: 36px;
                margin: .185rem 1rem 0 .5rem;
            }
        }

        &--nav {
            float: left;
            margin: 0;
            text-align: center;
            position: relative;
            cursor: pointer;

            &__icon {
                border-radius: 14px;
                width: 28px;
                height: 28px;
                background-color: rgba($mainLightGray, .7);
                display: none;

                @mixin atSmall {
                    display: block;
                    border-radius: 14px;
                    width: 28px;
                    height: 28px;
                }
    
                @mixin atMedium {
                    border-radius: 16px;
                    width: 32px;
                    height: 32px;
                }
    
                @mixin atLarge {
                    border-radius: 18px;
                    width: 36px;
                    height: 36px;
                }
            }

            &__tool-tip {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 35px;
                left: -18px;
                background-color: #fff;
                border: 1px solid $mainDarkGray;
                width: auto;
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .3s ease-in;
                display: none;

                &::after {
                    content: "";
                    position: absolute;
                    right: 13px;
                    border-color: transparent;
                    border-width: 10px;
                    border-style: solid;
                    border-bottom-color: #fff;
                    top: -20px;

                    @mixin atExtraSmall {
                        border-width: 8px;
                        top: -16px;
                    }

                    @mixin atMedium {
                        border-width: 10px;
                        top: -20px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    right: 12px;
                    top: -22px;
                    border-color: transparent;
                    border-width: 11px;
                    border-style: solid;
                    border-bottom-color: $mainDarkGray;

                    @mixin atExtraSmall {
                        border-width: 9px;
                        top: -18px;
                    }

                    @mixin atMedium {
                        border-width: 11px;
                        top: -22px;
                    }
                }

                li {
                    font-size: 13px;
                    padding: 5px 5px;
                }

                &--openIcons {
                    opacity: 1 !important;
                    z-index: 0 !important;
                    visibility: visible !important;
                    transition: all .3s ease-in;
                }

                @mixin atSmall {
                    display: block;
                    top: 36px;
                }

                @mixin atMedium {
                    top: 42px;
                    left: -16px;
                }

                @mixin atLarge {
                    top: 46px;
                    left: -14px;
                }
            }
            
            @mixin atSmall {
                display: block;
                margin: .11rem  .5rem 0 1rem;
            }

            @mixin atMedium {
                margin: .25rem  .5rem 0 .5rem;
            }

            @mixin atLarge {
                margin: .185rem 0 0 .5rem;
            }
        }

        &--user{
            float: left;
            background-color: $mainLightBlue;
            text-align: center;
            display: inline;
            position: relative;
            margin: 0 0 0 1.163rem;
            padding: .1875rem;
            cursor: pointer;

            &__img {
                float: left;
                border-radius: 14px;
                background-color: $mainExtraLightGray;
                overflow: hidden;
                text-align: center;
                width: 1.75rem;
                height: 1.75rem;
                padding: .0625rem;
                position: relative;

                @mixin atSmall {
                    border-radius: 14px;
                    width: 1.75rem;
                    height: 1.75rem;
                    padding: .0625rem;
                }

                @mixin atMedium {
                    border-radius: 1.0625rem;
                    width: 2.125rem;
                    height: 2.125rem;
                }
              }

              &__details {
                position: absolute;
                width: 180px;
                background-color: #fff;
                top: 38px;
                left: -148px;
                border: 1px solid $mainDarkGray;
                font-size: .8125rem;
                padding: 5px 0 0 0;
                margin: 0;
                list-style: none; 
                text-align: left;
                z-index: -33;
                opacity: 0;
                transform: scale(.8);
                visibility: hidden;
                transition: all .3s ease-out;
                
                &::after {
                    content: "";
                    position: absolute;
                    right: 6px;
                    top: -10px;
                    border-color: transparent;
                    border-bottom-color: #fff;
                    border-width: 5px;
                    border-style: solid;

                    @mixin atExtraSmall {
                        border-width: 5px;
                        top: -10px;
                        right: 15px;
                    }

                    @mixin atMiniSmall {
                        border-width: 5px;
                        top: -10px;
                        right: 19px;
                    }

                    @mixin atMedium {
                        border-width: 9px;
                        top: -18px; 
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    right: 5px;
                    top: -12px;
                    border-color: transparent;
                    border-bottom-color: $mainDarkGray;
                    border-width: 6px;
                    border-style: solid;

                    @mixin atExtraSmall {
                        border-width: 6px;
                        top: -12px;
                        right: 14px;
                    }

                    @mixin atMiniSmall {
                        border-width: 6px;
                        top: -12px;
                        right: 18px;
                    }

                    @mixin atMedium {
                        top: -20px;
                        border-width: 10px;
                    }
                }

                li {
                    padding: 10px 10px;
        
                    &:first-child {
                        padding: 5px 10px;
                    }

                    &:last-child {
                        background-color: $mainExtraLightGray;
                        padding-left: 15px;
                    }

                    a {
                        text-decoration: none;
                        color: $mainFontColor;
                    }

                    @mixin atSmall {
                        padding: 13px 10px;
                    }
                }

                &--portal {
                    position: relative;

                    &__img {
                        border-radius: 15px;
                        height: 30px;
                        width: 30px;
                        background-color: $mainDarkGray;
                        overflow: hidden;
                    }

                    p {
                        display: inline;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        top: 13px;
                        left: 55px;
                    }
                }

                &--account {
                    padding: 10px 10px 10px 15px !important;

                    @mixin atSmall {
                        padding: 13px 10px 13px 15px !important;
                    }
                }

                &--visible {
                    z-index: 4;
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    transition: all .3s ease-out;
                }

                @mixin atExtraSmall {
                    top: 38px;
                    left: -160px;
                    width: 200px;
                }

                @mixin atMiniSmall {
                    top: 38px;
                    left: -155px;
                }

                @mixin atSmall {
                    top: 38px;
                    left: -155px;
                    font-size: .875rem;
                }
                @mixin atMedium {
                    top: 50px;
                    left: -150px;
                }
              }

              @mixin atExtraSmall {
                margin: 0 0 0 .6rem;
              }

              @mixin atMiniSmall {
                margin: 0 0 0 1.5rem;
              }

              @mixin atSmall {
                margin: 0 0 0 1.563rem;
                width: auto;
                height: auto;
                padding: .165rem;
            }

            @mixin atMedium {
                margin: 0 0 0 1.163rem;
                width: auto;
                height: auto;
                padding: .1875rem;
            }
            @mixin atLarge {
                margin: 0 0 0 2.163rem;
            }
        }

            @mixin atSmall {
                float: left;
                display: block;
            }

            @mixin atMedium {
                float: left;
                @mixin clearfix;
            }

        }

        &__btn-container {
            float: left;
            margin: 0rem 0 0 2rem; 
            font-family: "poppins" , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
            position: absolute;
            right: 4px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                @mixin clearfix;
            }

            li {
                margin: 0;
                float: left;
                padding: .375rem .3125rem;
                background-color: $mainDarkRed;
                margin-left: .625rem;
                font-size: .9375rem; 
                border: 1px solid $mainLightGray;

                &:first-child, &:first-child > a {
                    background-color: #fff;
                    text-decoration: none;
                    color: $mainFontColor;
                    margin: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }

                @mixin atExtraSmall {
                    padding: .375rem .3125rem;
                    font-size: .875rem; 
                    margin-left: .525rem;
                }

                @mixin atSmall {
                   font-size: .875rem; 
                   margin-left: .625rem;
                }

                @mixin atMedium {
                    font-size: .9375rem; 
                    padding: .675rem .3125rem;
                }
        }

        @mixin atExtraSmall{
            position: relative;
            right: 0;
            display: block;
            margin: 0rem 0 0 1rem; 
        }

        @mixin atMiniSmall{
            display: block;
            margin: 0rem 0 0 1.2rem; 
        }

        @mixin atSmall{
            display: block;
            margin: 0rem 0 0 1rem; 
        }

        @mixin atMedium {
            margin: 0rem 0 0 1rem; 
        }

        @mixin atLarge{
            margin: 0rem 0 0 2.5rem; 
        }
    }

    &__miniForm {
        
        position: absolute;
        width: 100%;
        left: 0;
        background-color: $mainExtraLightGray;
        margin-top: -12.625rem;
        z-index: 0;
        padding: 13px 0px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in;

        &--logo {
            position: absolute;
            width: 65px;
            height: 32px;
            background: blue;
            display: none;
            left: 20px;

            @mixin atSmall {
                left: 20px;
                display: none;
            }

            @mixin atMedium {
                left: 60px;
                display: block;
            }
        }

        &--wrapper {
            border: 1px solid $mainDarkGray;
            width: 80%;
            padding: 0;
            margin: 0;
            @mixin clearfix;
            display: flex;
            background-color: $mainLightGray;

            &__input {
                float: left;
                width: 90%;
                padding: 6px  0 6px 3px;
                border: none;
            }
    
            &__search {
                overflow: hidden;
                text-align: center;
                float: left;
                width: 10%;
                padding: 6px  6px;
                border: .5px solid $mainLightGray;
                border-left: 0;
                background-color: $mainLightGray;
                cursor: pointer;
            }

            @mixin atExtraSmall {
                width: 80%;
            }

            @mixin atSmall {
                width: 70%;
            }

            @mixin atMedium {
                width: 60%;
            }
        }

        &--close {
            background-color: #fff;
            padding: .7px 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
            border-radius: 10px;
            text-align: center;
            position: absolute;
            top: 3px;
            right: 3px;
            cursor: pointer;

            @mixin atExtraSmall {
                top: 3px;
                right: 3px;
            }

            @mixin atSmall {
                top: 4px;
                right: 30px;
            }

            @mixin atMedium {
                top: 4px;
                right: 40px;
            }
        }

        &--miniForm__expanded {
            display: flex;
            justify-content: center;
            opacity: 1;
            visibility: visible;
            transition: all .3s ease-out;
            z-index: 3;
            margin-top: -.625rem;
        }

        @mixin atLarge {
            display: none;
        }
    }
}

