.viewall {
    position: relative;
    top: 80px;

    &__contentwrapper {
        width: 100%;
    
        @mixin atMedium {
            float: left;
            width: 64%;
            padding: 0 30px 0 5px;
        }

        @mixin atLarge {
            width: 62%;
            float: left;
            padding: 0 50px 0 30px;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: rgba($mainDarkBlack, .6);
        z-index: 1;
    }

    &__content {
        background-color: #fff;
        position: relative;

        &--title {
            color: $mainFontColor;
            font-weight: 400;
            font-size: 1.1rem;
            margin: 0;
            padding: 20px 10px;

            @mixin atExtraSmall {
                font-size: 1.125rem;
            }

            @mixin atSmall {
                font-size: 1.25rem;
            }

            @mixin atMedium {
                font-size: 1.3rem;;
            }

            @mixin atMedium {
                font-size: 1.5rem;
            }
        }

        &--details {
            margin: 0;
            padding: 0;
            list-style: none;
            @mixin clearfix;
            color: $mainFontColor;

            li {
                font-size: .8125rem;;   
                text-align: center;

                &:first-child {
                    float: left;
                    text-align: left;
                    width: 190px;

                    @mixin atSmall {
                        width: 190px;
                    }

                    @mixin atLarge{
                        width: 35%;
                    }
                }
                &:last-child {
                    float: left;
                    @mixin clearfix;
                    width: 100px;
                    text-align: left;
                    padding: 0;

                    @mixin atMiniSmall {
                        width: 120px;
                        text-align: left;
                        padding: 30px 0 0 10px;
                        float: none;
                    }

                    @mixin atSmall {
                        width: 100px;
                        padding: 0;
                        float: left;
                    }
                    @mixin atMedium {
                        width: 120px;
                    }
                    @mixin atLarge {
                        width: 35%;
                        padding: 0 0 0 30px;
                    }
                }

                @mixin atSmall {
                    font-size: .8125rem;
                }

                @mixin atMedium {
                    font-size: .875rem;
                }
            }

            &__title {
                margin-right: 5px;
                padding: 0 10px;
            }

            &__time {
                color: $mainMiddleDarkBlue;
            }

            &__middleItem {
                width: 120px;
                text-align: left;
                padding: 30px 0 0 10px;
                float: none;

                @mixin atMiniSmall {
                    width: 120px;
                    float: left;
                    padding: 0;
                }

                @mixin atSmall {
                    width: 120px;
                }
                @mixin atMedium {
                    width: 140px;
                }
                @mixin atLarge {
                    width: 30%;
                    padding: 0 0 0 40px;
                }
            }

            &__soln {
                float: left;
                margin: 0;
                width: 100%;
                position: relative;
                @mixin clearfix;


                &--title {
                    margin: 0;
                    padding: 0;
                    float: left;
                    text-align: left;
                    width: 100%;

                     @mixin atMedium {
                        padding: 0 0 0 10px;
                     }

                     @mixin atLarge {
                        width: auto;
                        text-align: left;
                        padding: 0;
                     }
                }
            }

            &__solnAdded {
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 12px;
                top: -5px;
                background-color: $mainLightRed;
                padding: 0;
                margin: 0 0 0 10px;
                box-shadow: 0px 2px 1px rgba($mainDarkBlack, .4);
                -o-box-shadow: 0px 2px 1px rgba($mainDarkBlack, .4);
                -ms-box-shadow: 0px 2px 1px rgba($mainDarkBlack, .4);
                -webkit-box-shadow: 0px 2px 1px rgba($mainDarkBlack, .4);
                -moz-box-shadow: 0px 2px 1px rgba($mainDarkBlack, .4);
                right: 28px;
                display: flex;
                justify-content: center;
                align-items: center;

                &--num {
                   position: relative;
                   color: #fff;
                   text-align: center;
                   padding: 0;
                   margin: 0;
                }

                @mixin atMiniSmall {
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    top: -5px;
                    right: 36px;
                }

                @mixin atSmall {
                    width: 28px;
                    height: 28px;
                    border-radius: 14px;
                    top: -8px;
                    right: 28px;
                }

                @mixin atMedium {
                    width: 28px;
                    height: 28px;
                    border-radius: 14px;
                    top: -7px;
                    right: 40px;
                }

                @mixin atLarge {
                    float: left;
                    position: relative;
                    right: auto;
                }
            }

            &__viewer {
                padding-left: 5px;
                color: $mainDarkBlue;
                font-weight: 500;
            }
        }

        &--view {
            line-height: 2;
            margin: 10px 0 15px 0;
            padding: 5px 10px;
            border-top: 1px solid $mainDarkGray;
            font-size: .9375rem;

            @mixin atSmall {
                font-size: .9375rem;
            }

            @mixin atMedium {
                font-size: 1rem;
            }
        }

        &--userdetails {
            margin: 0;
            padding: 0;
            list-style: none;
            @mixin clearfix;

            li {
                font-size: .875rem;
                @mixin clearfix;

                &:first-child {
                    float: left;
                }

                &:last-child {
                    float: right;
                    position: relative;
                    @mixin clearfix ;

                    p {
                        float: left;
                        margin: 0;
                        padding: 0;
                    }
                }

            }

            &__edit {
                margin: 0;
                padding: 0 10px;
                color: $mainFontColor;
                font-size: .8125rem;

                &--time {
                    margin-left: 5px;
                }

                @mixin atMedium {
                font-size: .875rem;                
                }
            }

            &__imgwrapper {
                float: left;
                width: 80px;
                height: 1px;
                background-color: transparent;
                position: relative;
            }

            &__img {
                width: 44px;
                height: 44px;
                border-radius: 22px;
                top: -16px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $mainLightGray;
                position: absolute;
                overflow: hidden;

                @mixin atSmall {
                    width: 44px;
                    height: 44px;
                    border-radius: 22px;
                    top: -16px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                @mixin atMedium {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    top: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &__status {
                float: left;
                padding: 0 20px 0 0;
                margin: 0;
                list-style: none;
                @mixin clearfix;
                position: relative;
                top: -13px;

               li {
                   float: none !important;
                   margin-bottom: 6px;

                   &:first-child {
                       font-weight: 400;

                       a {
                        color: $mainDarkBlue;
                        text-decoration: none;
                       }
                   }

                   &:last-child {
                       margin: 0;
                       position: relative;
                       padding-left: 20px;
                       color: $mainFontColor;

                       &::before {
                           content: "";
                           position: absolute;
                           width: 8px;
                           height: 8px;
                           border-radius: 4px;
                           background-color: $mainLightGreen;
                           left: 0;
                           top: 4px;
                       }
                   }
               }

               &--details {

                   &__offline {
                        &::before {
                            background-color: $mainDarkRed !important;
                        }
                   }
               }
            }
        }

        &--footer {
            margin: 0;
            padding: 0;
            border: 1px solid $mainLightGray;
            border-left: 0;
            border-right: 0;
            list-style: none;
            @mixin clearfix;
            color: $mainFontColor;

            li {
                float: left;
                width: 30%;
                padding: 6px 0;
                font-size: .8125rem !important;
                position: relative;
                text-align: center;

                &:first-child {
                    @mixin clearfix;
                    width: 30% !important;
                    
                    @mixin atMiniSmall {
                        width: 34% !important;
                    }

                    @mixin atSmall {
                        width: 33.33 !important;
                    }
                }

                @mixin atSmall {
                    font-size: .8125rem !important;
                    padding: 7px 0;
                }

                @mixin atMedium {
                    font-size: .875rem;
                    padding: 10px 0;
                }
            }

            &__share {
                float: left;
                width: 50%;
                text-align: left;
                position: relative;
                padding-left: 45px;

                &--shareIcon {
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    border-radius: 11px;
                    background-color: $mainDarkBlue;
                    left: 10px;
                    top: -6px;
                    cursor: pointer;

                    &__hidesm {
                        display: none;

                        /* @mixin atSmall {
                            display: block;
                        } */
                    }

                    @mixin atSmall {
                        width: 22px;
                        height: 22px;
                        border-radius: 11px;
                        top: -4px;
                    }

                    @mixin atMedium {
                        top: -6px;
                        width: 26px;
                        height: 26px;
                        border-radius: 13px;
                    }
                }

            }

            &__favorite {
                float: left;
                width: 50%;
                text-align: center;
                padding-right: 10px;
                position: relative;
            }

            &__favoriteIcon {
                cursor: pointer;

                &--hidesm {
                    display: none;

                    /* @mixin atSmall {
                        display: block;
                    } */
                }
            }

            &__item {
                width: 40% !important;
                background-color: $mainDarkPaleBlue;
                color: #fff;
                cursor: pointer;
                font-size: .5rem !important;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: .75rem !important;
                    
                    @mixin atMiniSmall {
                        font-size: .8125rem !important;
                    }

                    @mixin atMedium {
                        font-size: .875rem;
                    }
                }

                @mixin atMiniSmall {
                    width: 30% !important;
                    font-size: .8125rem !important;
                }

                @mixin atSmall {
                    width: 33.33%;
                }
            }

            &__lastitem {
                width: 30% !important;
                
                @mixin atMiniSmall {
                    width: 36% !important;
                }

                @mixin atSmall {
                    width: 33.33% !important;
                }

                /* @mixin atMedium {
                    width: 30%;
                } */
            }

            &__loadmorewrapper {
                float: left;
                width: 100%;
                @mixin clearfix;
                border-radius: 3px;
                text-align: center;
                position: relative;
                left: 0;
                cursor: pointer;

                @mixin atMiniSmall {
                    width: 50% !important;
                    left: 40px;
                }
            }

            
            &__firstloadmore {
                margin: 0 10px 0 0px;
            }

            &__secondloadmore {
                padding: 0;
            }

            &__lastloadmore {
                margin: 0 0 0 10px;
                margin-right: 0;
            }
        }
    }

    &__comments {
        width: 100%;

        &--wrapper {
            position: relative;
        }

        &--header {
            font-size: .875rem;
            margin: 40px 0 20px 0;
            background-color: $mainDarkPaleBlue;
            color: #fff;
            padding: 10px 0;

            &__ans {
                text-align: center;
                padding: 5px 0;
                margin: 0;
            }

            &__askQue {
                padding: 5px 10px;
                margin: 0 0 0 20px;
                color: $mainDarkBlue;
                background-color: #fff !important;
                border-radius: 3px;
                text-decoration: none;
            }
        }

        &--box {
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            margin-bottom: 20px;
            box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -o-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -ms-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -webkit-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            -moz-box-shadow: 0px 0px 19.32px 2.68px rgba($mainDarkGray, 0.65);
            width: 100%;
            position: relative;

            &__replywrapper {
                @mixin clearfix;
                position: relative;
            }

            &__reply {
                width: 95%;
                float: right;
                position: relative;

                &--header {
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    top: -20px;

                    &__content {
                        background-color: $mainDarkBlue;
                        border-radius: 10px;
                        color: #fff;
                        font-size: .875rem;
                        padding: 2px 0;
                    }
                }
            }

            &__header {
                list-style: none;
                margin: 0;
                padding: 10px 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                @mixin clearfix;
                font-size: .875rem;
                border-bottom: 1px solid $mainDarkGray;
                /* box-shadow: 0px 1px 8px 3px rgba($mainDarkGray, .8); */

                li {
                    float: left;
                    width: 25%;

                    &:first-child {
                        @mixin clearfix;
                        width: 60%;
                    }

                    &:last-child {
                        width: 40%;
                        text-align: center;
                    }
                }

                &--img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: $mainLightGray;
                    border: 1px solid $mainDarkBlue;
                    overflow: hidden;
                }

                &--userdetails {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    @mixin clearfix;
                    float: left;

                    li {
                        float: none;
                        margin: 3px 0 0px 10px;

                        &:first-child {
                            color: $mainLightBlue;
                            width: auto;
                        }
                        &:last-child {
                            padding: 2px 0 0 10px;
                            margin: 4px 0 0 10px;
                            position: relative;
                            width: auto;
                            font-size: .8125rem;
                            

                            &::before {
                                content: "";
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 4px;
                                background-color: $mainLightGreen;
                                left: -4px;
                                top: 6px;
                            }
                        }
                    }

                    &__lastItem {
                        color: $mainDarkBlue;
                        font-size: .8125rem;
                    }

                    &__offline {
                        &::before {
                            background-color: $mainLightRed !important;
                        }
                    }

                    &__title {
                        cursor: pointer;
                    }
                }

                &--soln {
                    position: relative;
                    padding: 14px 0  0 0 ;
                    &__time {
                        color: $mainLightBlue;
                        margin-left: 5px;
                    }
                }
            }

            &__content {
                margin: 0;
                padding: 5px 10px;
                line-height: 1.8;
                font-size: .9375rem;

                &--chats {
                    
                    &__title {
                        color: $mainLightBlue;
                        cursor: pointer;
                    }
                }
            }

            &__footer {
                list-style: none;
                margin: 0;
                padding: 0;
                @mixin clearfix;
                border-radius: 20px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -o-box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -ms-box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -webkit-box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);
                -moz--box-shadow: 0px 0px 5.12px 2.88px rgba($mainLightGray, 0.9);

                li {
                    float: left;
                    width: 40%;
                    padding: 5px 0;

                    &:first-child {
                        width: 30%;

                        ul {
                            @mixin clearfix;
                            position: relative;

                            li {
                                float: left;
                                text-align: center;
                                color: rgba($mainMediumLightBlack, .9);
                                margin: 0 0 0 70px;
                                font-size: 1.2rem;
                                cursor: pointer;

                                &:first-child {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 15px;
                                    background-color: $mainMiddleDarkBlue;
                                    color: #fff;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    padding: 0;
                                    margin: 0;
                                    left: 8px;
                                }

                                &:last-child {
                                    margin: 0 0 0 35px;
                                    color: rgba($mainMediumLightBlack, .7);
                                }
                            }
                        }

                        @mixin atMedium {
                            width: 45%;
                        }

                        @mixin atLarge {
                            width: 30%;
                        }
                    }

                    &:last-child {
                        width: 30%;
                        margin: 0;
                        
                        @mixin atMedium {
                            width: 25%;
                        }
                        @mixin atLarge {
                            width: 30%;
                        }
                    }

                    @mixin atMedium {
                        width: 30%;
                    }
                    @mixin atLarge {
                        width: 40%;
                    }
                }

                &--firstitem {
                    position: relative;

                    &__share {
                        z-index: 1;

                        &--zindex {
                            z-index: 2;
                        }
                    }
                }


                &--middleitem {
                    text-align: center;

                    ul {
                        position: relative;

                        li {
                            

                            &:first-child {
                                width: 60% !important;

                                @mixin atMedium {
                                    width: 20% !important;
                                }

                                @mixin atLarge {
                                    width: 60% !important;
                                }
                            }

                            &:last-child {
                                width: 30px !important;
                                height: 30px;
                                border-radius: 15px;
                                background-color: $mainLightGray;
                                color: $mainLightBlue;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                padding: 0;
                                margin: 0;
                                left: 40%;
                                font-size: .9375rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                @mixin atMedium {
                                    left: 25%;
                                }

                                @mixin atLarge {
                                    left: 40%;
                                }
                            }
                        }
                    }
                }

                &--lastItem {
                    position: relative;

                    &__options{
                        font-size: .8125rem; 
                        list-style: none;
                        margin: 0;
                        padding: 0;  
                        position: absolute;
                        background-color: #fff;
                        text-align: center;
                        border-top: 1px solid $mainDarkGray;
                        z-index: 1;
                        top:  30px;      
                        width: 149.5px;
                        left: -51px;
                        @mixin clearfix;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                        transition: all .3s ease-in;
                        
                        li {
                            font-size: .8125rem; 
                            float: none !important;
                            padding: 8px 18px;
                            cursor: pointer;
                            
                            
                            &:first-child {
                               border: 1px solid $mainDarkGray;
                               border-bottom: none;
                               border-top: none;
                            }

                            &:last-child {
                             }
                        }

                        &--view {
                            color: $mainDarkBlue;
                        }

                        &--teacher {
                            background-color: $mainDarkBlue !important;
                            color: #fff;
                        }

                        &--edit {
                            background-color: #fff !important;
                            color: $mainDarkBlue;
                        }

                        &--delete {
                            background-color: $mainDarkRed!important;
                            color: #fff;
                        }

                        &--reply {
                            right: -42px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: -24px;
                            left: 63px;
                            border-color: transparent;
                            border-bottom-color: #fff;
                            border-width: 12px;
                            border-style: solid;
                            pointer-events: none;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: -26px;
                            left: 62px;
                            border-color: transparent;
                            border-bottom-color: $mainDarkGray;
                            border-width: 13px;
                            border-style: solid;
                            pointer-events: none;
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                            transition: all .3s ease-in;
                        }
                    }  
                }

                &--loadmorewrapper {
                    width: 53px;
                    position: relative;
                    cursor: pointer;
                    margin: 6px 0 6px 30px;
                } 

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    font-size: 1.2rem;
                    @mixin clearfix;

                    li {
                        float: left;
                        text-align: center;
                        width: auto;

                        &:first-child {
                            background-color: transparent;
                            width: auto;
                        }

                        &:last-child {
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    &__tips {
        box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -o-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -ms-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -webkit-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -moz-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        width: 100%;
        padding: 0 10px;
        border-radius: 3px;
        color: $mainFontColor;
        margin: 40px 0;

        &--title {
            text-align: center;
            padding: 10px 0;
            margin: 0;
            border-bottom: 1px solid $mainDarkGray;
            font-weight: 500;
            font-size: .9375rem;
            color: $mainDarkBlue;
        }

        &--subtitle {
            text-align: center;
            padding: 10px 0;
            margin: 0;
            font-weight: 400;
            font-size: .9375rem;
        }

        ul {
            padding: 5px 20px;
            margin: 0;
            color: $mainDarkBlue;
            list-style-type: square;
            border-bottom: 1px solid $mainDarkGray;

            li {
                padding: 5px 0;

                & > span {
                    color: $mainDarkRed;
                }
            }
        }

        &--note {
            font-size: .875rem;
            margin: 0;
            margin-top: 5px !important;
            padding: 8px 0;
            text-align: center;

            & > span {
                background-color: $mainDarkRed;
                color: #fff;
                padding: 5px 10px;
            }

            &__details {
                font-size: .875rem;
                margin: 0;
                padding: 8px 0;
                text-align: center;

                & > span {
                    padding: 0 10px;
                    color: $mainDarkBlue;
                }
            }
        }
    }
    
    &__form {
        width: 100%;
        border-radius: 5px;

        &--header {
            text-align: center;
            font-size: 1rem;
            padding: 10px 0;
            margin:  0;
            background-color: $mainMiddleDarkBlue;
            color: #fff;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--field {
            margin-bottom: 40px;

            &__textarea {
                width: 100%;
                border: .5px solid $mainDarkGray;
                resize: none;
                height: 300px;
                outline: none;
                padding: 10px;
                margin: 0;
                border-bottom: 0;
            }

            & > button {
                border: none;
                width: 100%;
                text-align: center;
                background-color: #fff;
                border: 1px solid $mainDarkGray;
                position: relative;
                padding: 6px 0;
                margin: 0;
                top: -4px;
                color: $mainDarkBlue;
                font-size: .9375rem;
                cursor: pointer;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    &__nav {
        margin-top: 15px;

        &--wrapper {
            border: 1px solid $mainDarkGray;
            border-top: none;
            margin: 0;
            padding: 10px 0 0 0;
        }
         
        &--header {
            padding: 10px 20px 10px 0;
            background-color: $mainMiddleDarkBlue;
            text-align: right;
            border: 1px solid $mainMiddleDarkBlue;
            margin: 0;
        }

        &--related {
            padding: 0 10px;
            color: $mainFontColor;
            position: relative;
            margin-bottom: 20px;
            
            &__header {
                position: relative;
                background-color: rgba($mainLightGray, .4);
                

                &--title {
                    padding: 8px 0;
                    font-size: 1rem;
                    text-align: center;
                    margin: 0 0 0 0;
                    border: 1px solid $mainLightGray;
                }
    
                &--found {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    background-color: $mainDarkRed;
                    color: #fff;
                    font-size: .8125rem;
                    right: 20%; 
                    top: 14%;
                    border: 1px solid $mainDarkRed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__options {
                list-style: none;
                margin: 0;
                padding: 0  10px;
                font-size: .9375rem;
                text-align: left;
                border: 1px solid $mainLightGray;
                border-top: none;
                border-bottom: none;
                li {
                    padding: 8px 0;
                    margin: 0;

                    &:first-child {
                        padding-top: 10px;
                    }

                    a {
                        text-decoration: none;
                        color: $mainFontColor;
                        /* word-break: break-all; */
                    }
                }
            }

            &__viewbtn {
                width: 100%;
                padding: 10px 0;
                text-align: center;
                color: $mainLightBlue;
                background-color: rgba($mainLightGray, .4);
                border: none;
                outline: none;
                font-weight: 400;
                font-size: .875rem;
                cursor: pointer;
                border: 1px solid $mainLightGray;
            }
        }

        &--timedQues {
            background-color: $mainDarkBlue;
            color: #fff;
            margin: 20px 10px 20px 10px;
            font-weight: 400;

            &__header {
                text-align: center;
                font-size: .9375rem;
                padding: 10px 0;
                width: 100%;
                border-bottom: 1px solid rgba(#fff, .6);

                &--startQues {
                    background-color: $mainLightBlue;
                    padding: 3px 5px;
                    margin-left: 10px;
                    box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -o-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -ms-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -webkit-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -moz-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            &__category {
                text-align: center;
                width: 100%;
                color: $mainFontColor;
                display:  flex;
                justify-content: center;
                align-self: center;
                font-size: .875rem;

                &--title {
                    width: 140px;
                    margin: 8px 0;
                    padding: 8px 0;
                    background-color: #fff;
                    cursor: pointer;
                    position: relative;
                    box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -o-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -moz-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -webkit-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -ms-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);    
                    
                    &__item {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        position: absolute;
                        box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -moz-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -webkit-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -ms-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -o-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        width: 100%;
                        background-color: #fff;
                        top: 30px;
                        max-height: 200px;
                        overflow: hidden;
                        overflow-y: auto;
                        border-top: none;
                        font-size: .875rem;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                        transition: all .3s ease-out;

                        li {
                            padding: 5px 0;
                            text-align: left;
                            padding-left: 10px;
                            &:first-child {
                                margin-top: 3px;
                                box-shadow: none;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
        }

        &--community {
            color: $mainFontColor;
            margin: 0 10px;
            margin-top: 20px;

            &--header {
                font-size: .9375rem;
                text-align: center;
                padding: 10px 0;
                background-color: rgba($mainLightGray, .4);
                position: relative;
                width: 100%;
                border: 1px solid $mainLightGray;

                &__iconholder {
                    width: 28px;
                    height: 28px;
                    border-radius: 14px;
                    border: 0.1px solid $mainDarkGray;
                    background-color: #fff;
                    font-size: .8125rem;
                    position: absolute;
                    left: 22%;
                    top: 11%;
                }

                & > span {
                    color: #fff;
                    background-color: $mainLightBlue;
                    border-radius: 3px;
                    padding: 4px 10px;
                    font-size: .8125rem;
                    margin-left: 20px;
                    box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -o-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -ms-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -webkit-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    -moz-box-shadow: 0 1px 1px 1px rgba($mainDarkBlue, .4);
                    cursor: pointer;
                }
            }

            &__list {
                list-style: none;
                margin: 0;
                padding: 10px 0 0 0;
                width: 100%;
                border: 1px solid $mainLightGray;
                border-top: none;

                li {
                    float: none;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        @mixin clearfix;
                        width: 100%;
                        font-size: .875rem;
                        
                        li {
                            float: left;
                            width: 50%;
                            padding: 10px 0 10px 30px;

                            &:first-child {
                                text-align: left;
                            }

                            &:last-child {
                                text-align: right;
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
            &__viewmore {
                text-align: center;
                padding: 10px 0;
                background-color: $mainDarkBlue;
                color: #fff;
                font-size: .875rem;
                cursor: pointer;
            }
        }

        &--footer {
            margin: 20px 10px 20px 10px;
            padding: 0;

           &__header {
                list-style: none;
                margin: 0;
                padding: 0;
                @mixin clearfix;
                background-color: rgba($mainLightGray, .4);
                color: $mainFontColor;
                border: 1px solid $mainLightGray;

                li {
                    float: left;
                    width: 50%;
                    text-align: center;
                    font-size: .875rem;
                    padding: 8px 0;

                    &:first-child {
                        border-right: 1px solid $mainDarkGray;
                    }
                }
            }

            &__group {
                width: 100%;
                font-size: .875rem;
                list-style: none;
                margin: 0;
                /* box-sizing: border-box; */
                padding: 10px 0 0 0;
                @mixin clearfix;
                border: 1px solid $mainLightGray;
                border-top: none;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    @mixin clearfix;
                }

                li {
                    float: none !important;
                    width: 100% !important;
                    background-color: transparent;
                    padding: 5px 0;

                    ul {
                        @mixin clearfix;

                        li {
                            width: 50% !important;
                            float: left !important;
                            text-align: left;
                            padding-left: 20px;

                            &:last-child {
                                text-align: right !important; 
                                padding-right: 20px;
                            }
                        }
                    }
                }

                &--viewmore {
                    text-align: center;
                    padding: 10px 0 !important;
                    background-color: $mainDarkBlue !important;
                    color: #fff;
                    font-size: .875rem;
                    cursor: pointer;
                    margin: 0;
                    color: #fff !important;
                    /* border: 1px solid rgba($mainLightGray, .2); */
                }
            }

            &__timedQue {
                margin: 0 0 0 0;
                padding: 10px 0 0 0;
                list-style: none;
                border: 1px solid $mainLightGray;
                border-top: none;


                li {
                    margin: 0 10px 10px 10px;
                    border: 1px solid $mainLightGray;
                    border-radius: 5px;
                   
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 0px 5px 0px rgba(163, 161, 163, 0.41);
                      
                      
                    ul {
                        @mixin clearfix;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        border-top: 1px solid $mainLightGray;

                        li {
                            float: left;
                            border-radius: none;
                            border: none;
                            padding: 5px 0;
                            margin: 0;
                            font-size: .8125rem;
                            width: 50%;
                            text-align: center;
                            color: $mainFontColor;

                            &:first-child {
                                border-right: 1px solid $mainLightGray;
                                border-radius: 5px;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }

                            &:last-child {
                                border: none;
                                border-radius: 0;
                                border-bottom-right-radius: 5px;
                                cursor: pointer;
                                background-color: $mainMiddleDarkBlue;
                                color: #fff;
                                box-shadow: 1px 0 .5px 0px $mainDarkBlue;
                            }
                        }
                    }
                }

                &--title {
                    text-align: center;
                    width: 100%;
                    font-size: .875rem;
                    margin: 0;
                    padding: 10px 0;

                    a {
                        color: $mainDarkBlue;
                        font-weight: 500;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                &--viewbtn {
                    cursor: pointer;
                    text-align: center;
                    width: 100%;
                    padding: 5px 0;
                    background-color: rgba($mainLightGray, .4);
                    border: none;
                    font-size: .875rem;
                    outline: none;
                    color: $mainLightBlue !important;
                    border-top:1px solid $mainLightGray;
                }
            }
        }

        @mixin atMedium {
            float: left;
            width: 36%;
        }

        @mixin atLarge {
            width: 35%;
            float: left;
            display: block;
        }

    }

    @mixin atSmall {
        top: 80px;
    }

    @mixin atMedium {
        top: 62px;
    }
}