.wrapper {
    /* overflow: hidden; */
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;

    @mixin atSmall {
        padding-left: 18px;
        padding-right: 18px;
        max-width: 1236px;
        display: flex;
        justify-content: center;
    }


    &__viewall {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 1200px;
        margin: 0 auto;
        @mixin clearfix;
    
 
        @mixin atMedium {
            padding-left: 10px;
            padding-right: 10px;
            max-width: 1220px;
        }

        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px;
            max-width: 1236px;
        }
    }
}