.reuse-form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    font-size: .875rem;

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba($mainDarkBlack, .6);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in;

        &--visible {
            z-index: 2;
            opacity: 1;
            visibility: visible;
            transition: all .3s ease-in;
        }
    }


    &__wrapper {
        background-color: #fff;
        position: relative;
        box-shadow: 0 1px 8px 4px rgba($mainDarkBlack, .65);
        border-radius: 5px;
    }

    &__cnt {
        position: relative;

        &--wrapper {
            padding: 0 10px 30px 10px;

            @mixin atSmall {
                padding: 0 20px 30px 20px;                
            }
        }

        &--exp {
            padding-top: 20px;
        }

        &--title {
            color: rgba($mainDarkBlack, .85);
            font-weight: 400;
            text-align: center;
        }

        &--det {
            position: relative;
            width: 100%;
            margin-top: 10px;
            background-color: #fff;
            border-radius: 3px;
            font-size: .875rem;
            /* border: 1px solid $mainDarkGray;  */
            box-shadow: inset 0 0px 1px 0px rgba($mainDarkBlack, .95);

            &__wrapper {
                padding: 8px 10px;
                font-size: .8125rem;
            }

            &__selec {
                background-color: $mainExtraLightGray;
                text-align: center;
                cursor: pointer;
                position: relative;

                &--categ {
                   width: 110px;
                   padding: 8px 0;
                   border: 1px solid $mainDarkGray;

                   & > ul {
                       width: 150px;
                   }
                }

                &--opt {
                    margin: 0;
                    padding: 2px 0;
                    list-style: none;
                    @mixin clearfix;
                    position: absolute;
                    box-shadow: 0px 0px 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
                    background-color: #fff; 
                    color: $mainFontColor;
                    left: 0;
                    right: 0;
                    text-align: left;
                    top: 100%;
                    z-index: 2;
                    max-height: 130px;
                    overflow: hidden;
                    overflow-y: auto;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease-in;
        
                    & > li {
                        float: none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                        padding: 6px 20px; 
        
                        &:hover {
                            background-color: $mainDarkBlue;
                            color: #fff;
                        }
                    }
        
                    &__visible {
                        opacity: 1;
                        visibility: visible;
                        transition: all .3s ease-in;
                    }
                }
            }

            &__alt {
                position: absolute;
                margin-left: 130px;
                top: 50%;
                transform: translateY(-50%);
                
                &--title {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    border: 1px solid $mainDarkGray;
                    color: $mainLightRed;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: .75rem; 
                }

                &--cnt {
                    position: relative;
                    margin-left: 44px;
                    margin-right: 45px;
                    border: 1px solid $mainDarkGray;
                    background-color: $mainHeaderColor;
                    /* padding-right: 30px; */

                    & > button {
                        position: absolute;
                        width: 30px;
                        top: 0;
                        right: -35px;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 1px 2px 0 rgba($mainDarkBlack, .45);
                        color: #fff;
                        font-size: .75rem;
                        cursor: pointer;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                    }

                    & > div {
                        position: absolute;
                        width: 30px;
                        top: 0;
                        right: -35px;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $mainDarkBlue;
                        box-shadow: 0 1px 2px 0 rgba($mainDarkBlack, .45);
                        color: #fff;
                        font-size: .75rem;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }

            &__input {
                width: 100%;
                border: none;
                padding: 8px 10px;
                margin: 0;
                border-radius: 3px;
                background-color: transparent;

                &--lg {
                    padding: 12px 10px;
                }
            }

            &__fil {
                position: relative;
                width: 100%;
                background-color: $mainExtraLightGray;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: 1px dashed $mainDarkBlue;
                padding: 20px 0;

                &--input {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    border: none;
                    padding: 0 10px;
                    margin: 0;
                    border-radius: 3px;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }

        &--tag {
            background-color: $mainHeaderColor;
            font-size: .8125rem;
            margin-top: 10px;
            /* display: none; */
    
            & > h3 {
                text-align: center; 
                padding: 5px 0;
                background-color: $mainDarkGray;
                font-size: .875rem;
                font-weight: 400;
                margin: 0;
            }
    
            &__itm {
                list-style: none;
                margin: 0;
                padding: 14px 10px 0 10px;
                @mixin clearfix;
    
                & > li {
                    float: left;
                    font-size: .8125rem;
                    color: $mainFontColor; 
                    background-color: #fff;
                    padding: 5px 8px;
                    border-radius: 5px;
                    margin-right: 14px;
                    margin-bottom: 14px;
                    font-weight: 400;
                    border: 1px solid $mainDarkGray;
                    position: relative;
    
                    & > div {
                        position: absolute;
                        top: -9px;
                        right: -9px;
                        width: 18px;
                        height: 18px;
                        font-size: .625rem;
                        border-radius: 9px;
                        border: 1px solid $mainDarkGray;
                        background-color: $mainExtraLightGray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
    
            &__visible {
                display: block;
            }
        }
    }

    &__itm {
        position: relative;
        font-size: .875rem;
        width: 100%;
        background-color: rgba($mainHeaderColor, .45);
        border: 1px solid $mainDarkGray;
        z-index: 2;
        
        &--det {
            padding: 10px;
            max-height: 300px;
            overflow: hidden;
            overflow-y: auto;

            &__alt {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                border: 1px solid $mainDarkGray;
                color: #fff;
                background-color: $mainDarkBlue;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .75rem; 
                margin: 5px 0 10px 0;
            }

            &__view {
                background-color: $mainHeaderColor;
                max-height: 200px;
                width: 100%;
                overflow: hidden;
                overflow-y: auto;
                margin-top: 10px;
            }
        }
    }

    &__err {
        position: relative;
        padding: 5px 20px;
        margin-top: 10px;
        font-size: .875rem;
        background-color: $mainHeaderColor;
        color: $mainLightRed;
    }

    &__btn {
        position: relative;

        & > button {
            border-radius: 3px;
            border: none;
            outline: none;
            padding: 8px 0;
            cursor: pointer;
        }

        &--add {
            background-color: $mainMiddleDarkBlue;
            color: #fff;
            float: right;
            box-shadow: 0 2px 4px 1px rgba($mainDarkBlack, .65);
            width: 70px;

            &:hover {
                background-color: $mainDarkPaleBlue;
            }
        }
    }

    &__footer {
        background-color: $mainHeaderColor;
        border-top: 1px solid $mainDarkGray;
        padding: 8px 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @mixin clearfix;

        @mixin atSmall {
            padding: 8px 20px;
        }
    }

    
    @mixin atSmall {
        padding: 20px;
    }

    @mixin atMedium {
        width: 70%;
    }
}