<div class="site-main__content--wrapper">
    <div class="site-main__content--overlay"></div>
    <div class="site-main__content--top"></div>
    <ul class="site-main__content--tab">
        <li><i class="fas fa-users icon icon__site-main--user__tab"></i> Users</li>
        <li>
            <i class="fas fa-user-friends icon icon__site-main--user__tab"></i> Request 
            <div class="active__main active__main--req">
                <div>99</div>
            </div> 
        </li>
    </ul>
    <div class="site-main__user">
        <div class="site-main__user--srch">
            <div class="site-main__user--srch__close">
                <i class="fas fa-times"></i>
            </div>
            <div class="site-main__user--srch__wrapper">
                <div><i class="far fa-calendar-alt"></i></div>
                <input type="text" class="site-main__user--srch__input">
            </div>
        </div>

        <div class="reuse-user-filter">
            <div class="reuse-user-filter__wrapper">
                {{> reuseusercateg}}
                {{> reuseuserfilter}}
                <div class="reuse-user-filter__teach">
                    My Teachers
                    <div>99</div>
                </div>
                <div class="reuse-user-filter__srch">
                    <i class="fas fa-search icon icon__reuse-user-filter--srch"></i> 
                </div>
            </div>
        </div>

        <div class="site-main__user--cnt">
            <div class="site-main__user--cnt__wrapper">
                <div class="site-main__user--cnt__det">
                    <div class="site-main__user--cnt__det--img">
                        <div class="site-main__user--cnt__det--img__status site-main__user--cnt__det--img__status--on">
                        </div>
                        {{!-- <div class="site-main__user--cnt__det--img__status site-main__user--cnt__det--img__status--off">
                        </div> --}}
                    </div>
                    <ul class="site-main__user--cnt__det--user">
                        <li class="site-main__user--cnt__det--user__info">  
                            User User  
                        </li>
                        <li><div>98</div> Student</li> 
                    </ul>
                </div>
                <ul class="site-main__user--cnt__opt">
                    <li><span class="site-main__user--cnt__opt--prf"><i class="far fa-user icon icon__site-main--user__cnt--opt"></i> Profile</span></li>
                    <li><span class="site-main__user--cnt__opt--add">  Add</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>