<div class="reuse-categ">
    <div>Subject <i class="fas fa-angle-down icon icon__reuse-categ--angle"></i></div>
    <ul class="reuse-categ__opt">
        <li><a href="">Scholarships</a></li>
        <li><a href="">Sport</a></li>
        <li><a href="">Entertainment</a></li>
        <li><a href="">Scholarships</a></li>
        <li><a href="">Sport</a></li>
        <li><a href="">Entertainment</a></li><li><a href="">Scholarships</a></li>
        <li><a href="">Sport</a></li>
        <li><a href="">Entertainment</a></li><li><a href="">Scholarships</a></li>
        <li><a href="">Sport</a></li>
        <li><a href="">Entertainment</a></li><li><a href="">Scholarships</a></li>
        <li><a href="">Sport</a></li>
        <li><a href="">Entertainment</a></li><li><a href="">Scholarships</a></li>
        <li><a href="">Sport</a></li>
        <li><a href="">Entertainment</a></li>
    </ul>
</div>
