.icon {

    &__reuse-pt--footer__eye {
        color: $mainDarkBlack;
        margin-right: 8px;
        font-size: .9375rem;
    }

    &__reuse-pt--footer__chats {
        color: $mainDarkBlue;
        cursor: pointer;
        margin-right: 8px;
        font-size: .9375rem;
    }

    &__reuse-pt--footer__heart {
        color: $mainLightRed; 
        cursor: pointer;
        margin-right: 8px;
        font-size: .9375rem;
    }

    &__reuse-pt--header__tag {
        color: $mainLightBlack;
        cursor: pointer;
    }

    &__reuse-pt--media__play {
        font-size: 3.875rem;
        color: $mainDarkGray;
    }

    &__reuse-pt--media__nxt {
        font-size: 1.475rem;
    }

    &__reuse-pt--media__prev {
        font-size: 1.475rem;
    }

    &__reuse-pt--options {
        margin-right: 10px;
    }

    &__reuse-pt--options__dft {
        margin-right: 5px;
    }
}