.reuse-pt {
    position: relative;

    &__wrapper {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    }   

    &__overlaywrapper {
        position: relative;
        padding: 0 15px;  
        margin: 40px 0;  
           
        
        @mixin atSmall { 
            margin: 40px 0px 60px 0px;
            padding: 0 20px;    
        }
          
    }

    &__header {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: .8125rem;
        @mixin clearfix;
        background-color: #fff;
        border-bottom: 1px solid $mainLightGray;
        position: relative;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & > li {
            font-style: italic;
           
            &:first-child {
                position: relative;
                @mixin clearfix; 
                padding: 15px 0 15px 15px;
                float: left;
            }

            &:last-child {
                position: relative;
                float: right;
                padding: 3px 0;
            }
        }

        &--category {
            position: relative; 

           &__img {
               position: absolute;
                height: 36px;
                width: 36px;
                border-radius: 18px;
                background-color: $mainDarkGray;
                top: 3px;
                left: 5px;

                @mixin atSmall {
                    left: 20px;
                }
           }

           &__det {
            padding-left: 20px;
            @mixin clearfix;

            &--name {
                float: left;
                margin-left: 10px;
                padding-right: 3px;
                max-width: 70px;
                overflow: hidden;
                word-wrap: none;
                text-overflow: ellipsis; 
                white-space: nowrap;  
                text-align: left;
                
                a {
                    color: $mainDarkBlue;
                }

                @mixin atSmall {
                    max-width: 80px;
                }
               }

               &--timePosted {
                float: left;
                white-space: nowrap;
                color: $mainDarkPaleBlue;  
            }

            @mixin atSmall {
                padding-left: 45px;
            }
           }
        }

        &--share {
            position: relative;
            
            &__category {
                margin: 4px 25px 0 0;
                max-width: 90% !important;
                background-color: rgba($mainDarkGray, .4); 
                border-radius: 5px;
                padding: 4px;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: none;
                text-overflow: ellipsis;
                position: relative;
                top: 3px;
    
                a {
                    color: $mainFontColor;
                    text-decoration: none;
                }
                
                @mixin atSmall {
                    margin: 4px 33px 0 0;
                }
            }
        }
    }

    &__media {
        position: relative;
        width: 100%;
        padding: 10px 20px 0 20px;

        &--main-wrapper {
            width: 100%;
            background-color: $mainHeaderColor;
            overflow: hidden;
            padding: 5px;

            &__load {
                background-color: $mainDarkBlack;
                padding: 0;
            }
        }

        &--wrapper {
            position: relative;
            display: block;
            width: 100%;
            height: 320px;
            touch-action: pan-y;
        
            &__anim {
                animation: slide-in 3s linear -2s reverse backwards;
            }

            &__anim-rev {
                animation: slide-rev 3s linear -2s  forwards;
            }

            &__anim-exit {
                animation: slide-rev 3.2s linear -2s reverse backwards;
            }

            &__anim-exit-rev {
                animation: slide-in 3.2s linear -2s forwards;
            }

            &__icn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 45%;
                cursor: pointer;
                z-index: 2;
            }

            & > img , & > video {
                position: relative;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                object-position: 50% 50%;
                object-fit: contain;
                width: 100%;
                display: block;
                padding: 0;
                margin: 0;
                height: 100%;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-user-drag: none;
                user-drag: none;
                -webkit-touch-callout: none;
            }
        }

        &--cnt {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $mainDarkGray;
            color: rgba($mainDarkBlack, .75);
            box-shadow: 0 0 2px 0 rgba($mainDarkBlack, .45);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &__nxt {
                right: 5px;
            }

            &__prev {
                left: 5px;
            }

            &:hover {
                background-color: $mainMiddleDarkBlue;
                color: #fff;
                transition: all .3s ease-in;
            }
        }
    }
 
    &__title {
        margin: 10px 0;
        padding: 0 20px;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        color: $mainMiddleDarkBlue;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 

        @mixin atMedium {
            font-size: 1.2rem;
        }
    }

    &__description {
        margin: 0 20px 10px 20px;
        padding: 0;
        text-align: center;
        font-size: .9375rem;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        
        a {
            color: $mainFontColor;
            cursor: pointer;
            text-decoration: none;
        } 

        @mixin atMedium {
            font-size: 1rem;
        }
    }
    &__video-err {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        width: 100%;
        bottom: 0;
        color: #fff;

        &--icn {
            font-size: 1.375rem;
            width: 100%;
            text-align: center;
            touch-action: none;
        }


        & > h3 {
            width: 100%;
            font-weight: 400;
            font-size: .875rem;
            margin: 20px 0;
            padding: 5px;
            text-align: center;
            color: #fff;
            touch-action: none;
        }
    }

    &__modal {
        position: relative;
        font-size: .875rem;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
        margin: 0 auto; 
        background-color: #fff;
        box-shadow: 0 1px 8px 4px rgba(0,0,0, .65);
        z-index: 3;
        padding: 10px;

        & > h3 {
            font-weight: 400;
            font-size: .875rem;
            margin: 20px 0;
            padding: 5px;
            text-align: center;
            background-color: $mainHeaderColor;
        }

        &--icn {
            width: 80px;
            height: 80px;
            border-radius: 40px;
            margin: 0 auto;
            background-color: $mainHeaderColor;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: $mainFontColor;
            box-shadow: 0 2px 5px 0 rgba($mainDarkBlack, .75);
        } 

        @mixin atExtraSmall {
            width: 300px;
        }
    }

    &__footer {
        background-color: #fff;
        border-top: 1px solid $mainLightGray;
        position: relative;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        
        &--list {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: .8125rem;
            @mixin clearfix;
            position: relative;
            
            li {
                position: relative;
                float: left;
                padding: 15px  0;
                font-style: italic;
                color: $mainFontColor;
                border-right: 1px solid $mainLightGray;
                cursor: default;
                width: 100px;
                text-align: center;
            }

            &__item-middle {
                display: none;

                @mixin atExtraSmall {
                    display: block;
                }
            }
        }

        &--details {
            position: absolute;
            right: 20px;
            cursor: pointer; 
            width: 40px;
            height: 40px;
            border-radius: 20px; 
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center; 

            &::before, &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: $mainDarkBlue;
            }
    
            &::before {
                left: 5px;
            }
    
            &::after {
                left: 30px;
            }

            &__mid {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 18px;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: $mainDarkBlue;
            } 

            &__options {
                position: absolute;
                list-style: none;
                top: -41px;
                right: 53px;
                padding: 0;
                margin: 0;
                background-color: #fff;
                box-shadow: 0 0 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
                font-size: .8125rem;
                margin-bottom: 40px;
                cursor: default;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-out;

                li {
                    padding: 5px;
                    margin: 5px;
                    background-color: $mainLightGray;
                    font-weight: 300;
                    white-space: nowrap;
                    border: 1px solid rgba($mainDarkBlack, .25);
                    cursor: pointer;

                    &:first-child {
                        background-color: $mainDarkPaleBlue;
                        padding: 0;
                        border: none;
                    }

                    &:last-child {
                        background-color: $mainDarkRed;
                        color: #fff;
                    }

                    a {
                        color: #fff; 
                        text-decoration: none;
                        display: block;
                        padding: 5px;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 50px;
                    right: -24px;
                    border-color: transparent;
                    border-width: 12px;
                    border-bottom-color: #fff;
                    border-style: solid;
                    transform: rotate(90deg);
                    pointer-events: none;
                }

                &::before {
                    position: absolute;
                    content: "";
                    top: 49px;
                    right: -26px;
                    border-color: transparent;
                    border-width: 13px;
                    border-bottom-color: rgba($mainDarkBlack, 0.25);
                    border-style: solid;
                    transform: rotate(90deg);
                    pointer-events: none;
                }

                &--visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transition: all .3s ease-out;
                }
            }

            &__clk {
                background-color: $mainLightGray;
                transition: all .3s ease-in;
            }

            &:hover {
                background-color: $mainLightGray;
                transition: all .3s ease-in;
            }

            @mixin atSmall {
                right: 40px;
            }
        }
    }
}

@keyframes slide-in {
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 100%;
    }
}

@keyframes slide-rev {
    0% {
        right: 100%;
    }
    25% {
        right: 75%;
    }
    50% {
        right: 50%;
    }
    75% {
        right: 25%;
    }
    100% {
        right: 0%;
    }
}
