<div class="site-main__queform">
    <h3 class="site-main__queform--header">
        <i class="fas fa-pencil-alt icon icon__site-main--queform__edit"></i>Add Question
    </h3>
    <div class="site-main__queform--que">
        <div class="site-main__queform--que__total">Question Asked <div class="active__main active__main--queform"><div>24</div></div> </div>
        <span class="site-main__queform--que__viewall">
            <i class="fas fa-eye icon icon__site-main--queform__eye"></i>
            All <span class="site-main__queform--que__viewall--sm">Questions</span> 
        </span>
    </div>
    <div class="site-main__queform--outlet">
 
        <div class="site-main__queform--view">
            <div class="site-main__queform--view__close"><i class="fas fa-times icon icon__site-main--queform__view--close"></i></div>
            <p class="site-main__queform--view__title">My Questions</p>
            <div class="site-main__queform--view__search">
                <div class="site-main__queform--view__search--calend">
                    <i class="far fa-calendar-alt icon icon__site-main--queform__view--calend"></i>
                </div>
                <input type="text" class="site-main__queform--view__search--input" placeholder="search question">
            </div>
            <ul class="site-main__queform--view__tab">
                <li>Published</li>
                <li>Draft</li>
            </ul>
            <div class="site-main__queform--view__quewrapper">
                <div class="site-main__queform--view__que">
                    <ul class="site-main__queform--view__que--header">
                        <li>Asked <span>2m ago</span></li>
                        <li><i class="fas fa-tags icon icon__site-main--queform__view--que__tag"></i> social</li>
                    </ul> 
                    <div class="site-main__queform--view__que--content">
                        what is the best peom written this year
                        what is the best peom written this year
                        what is the best peom written this year
                    </div> 
                    <div class="site-main__queform--view__que--footer">
                        <ul class="site-main__queform--view__que--footer__total">
                            <li><div>25</div></li>
                            <li>Answer</li>  
                        </ul>
                        <div class="site-main__queform--view__que--footer__fav"><i class="fas fa-heart icon icon__site-main--queform__view--footer__fav"></i> 12k</div>
                        <div class="site-main__queform--view__que--footer__viewer">
                            <i class="fas fa-eye icon icon__site-main--queform__view--footer__eye"></i> 13k
                            <div class="site-main__queform--view__que--footer__opt">
                                <div class="site-main__queform--view__que--footer__opt--middlecircle"></div>

                                <ul class="site-main__queform--view__que--footer__opt--items">
                                    <li class="site-main__queform--view__que--footer__opt--items__edit"><i class="fas fa-edit icon icon__site-main--queform__footer--option__edit"></i> Edit</li>
                                    <li class="site-main__queform--view__que--footer__opt--items__dft"><i class="fas fa-eye-slash icon icon__site-main--queform__footer--option__eye"></i> Draft</li>
                                    <li class="site-main__queform--view__que--footer__opt--items__del"><i class="far fa-trash-alt icon icon__site-main--queform__footer--option__del"></i>Delete</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-main__queform--view__que">
                    <ul class="site-main__queform--view__que--header">
                        <li>Asked <span>2m ago</span></li>
                        <li><i class="fas fa-tags icon icon__site-main--queform__view--que__tag"></i> social</li>
                    </ul>
                    <div class="site-main__queform--view__que--content">
                        what is the best peom written this year
                    </div>
                    <div class="site-main__queform--view__que--footer">
                        <ul class="site-main__queform--view__que--footer__total">
                            <li><div>25</div></li>
                            <li>Answer</li> 
                        </ul>
                        <div class="site-main__queform--view__que--footer__fav"><i class="fas fa-heart icon icon__site-main--queform__view--footer__fav"></i> 12k</div>
                        <div class="site-main__queform--view__que--footer__viewer">
                            <i class="fas fa-eye icon icon__site-main--queform__view--footer__eye"></i> 13k
                            <div class="site-main__queform--view__que--footer__opt">
                                <div class="site-main__queform--view__que--footer__opt--middlecircle"></div>

                                <ul class="site-main__queform--view__que--footer__opt--items">
                                    <li class="site-main__queform--view__que--footer__opt--items__edit"><i class="fas fa-edit icon icon__site-main--queform__footer--option__edit"></i> Edit</li>
                                    <li class="site-main__queform--view__que--footer__opt--items__psh"><i class="fas fa-eye icon icon__site-main--queform__footer--option__eyeopen"></i>Publish</li>
                                    <li class="site-main__queform--view__que--footer__opt--items__del"><i class="far fa-trash-alt icon icon__site-main--queform__footer--option__del"></i>Delete</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>  

        <form action="" class="site-main__queform--form">
            <div class="site-main__queform--form__categ">
                <label for="category" class="site-main__queform--form__categ--label">Category</label>  
                <div class="error error__categ">Please select a category </div>
                <div class="site-main__queform--form__categ--content">
                    <div class="site-main__queform--form__categ--content__opt">
                        select category
                        <i class="fas fa-angle-down icon icon__site-main--queform__opt--angle"></i>
                        <ul class="site-main__queform--form__categ--content__opt--item">
                            <li>Mathemtics</li>
                            <li>Peom</li>
                        </ul>
                    </div>
                    <span class="site-main__queform--form__categ--content__alt">OR</span>
                    <input type="text" class="site-main__queform--form__categ--content__input" placeholder="Add new category">
                </div>
            </div>

            <div class="site-main__queform--form__que">
                <label for="question" class="site-main__queform--form__que--label">Question</label>
                <div class="error error__form">Question content must be geater than 10 letters</div>
                <textarea class="site-main__queform--form__que--content"></textarea>
            </div>

            <div class="site-main__queform--form__img">
                <p class="site-main__queform--form__img--title">Optional (Add Image)</p>
                <div class="site-main__queform--form__img--content">
                    <span><i class="far fa-image icon icon__site-main--queform__img"></i> Select Image</span>
                    <input type="file" class="site-main__queform--form__img--content__file">
                </div>
                <div class="site-main__queform--form__img--alt">
                    <span>OR</span>
                </div>
                <div class="site-main__queform--form__img--link">
                    <div class="site-main__queform--form__img--link__title">Paste Link</div>
                    <input type="text" class="site-main__queform--form__img--link__input">

                    <div class="site-main__queform--form__img--link__img">
                        <img src="/" alt="">
                    </div>
                </div>
            </div>

            <div class="site-main__queform--form__user">
                <div class="site-main__queform--form__user--title">Optional (Select Teachcer)</div>
                
                <div class="site-main__queform--form__user--teach">
                    <div class="site-main__queform--form__user--teach__close">
                        <i class="fas fa-times icon icon__site-main--queform__teach--close"></i>
                    </div>
                    <div class="site-main__queform--form__user--teach__title"><i class="fas fa-chalkboard-teacher icon icon__site-main--queform__teach--teacher"></i> Select Teacher</div>
                    <div class="site-main__queform--form__user--teach__search">
                        <div class="site-main__queform--form__user--teach__search--calend">
                            <i class="far fa-calendar-alt icon icon__site-main--queform__teach--calend"></i>
                        </div>
                        <input type="text" class="site-main__queform--form__user--teach__search--input" placeholder="Search teacher">
                    </div>
                    <div class="site-main__queform--form__user--teach__outlet">
                        <ul class="site-main__queform--form__user--teach__tab">
                            <li> Online</li>
                            <li>Offine</li>      
                        </ul>
                        <div class="site-main__queform--form__user--teach__user">
                            <div class="site-main__queform--form__user--teach__user--wrapper">
                                <div class="site-main__queform--form__user--teach__user--img"> 
                                    <img src="/" alt=""> 
                                </div>
                                <ul class="site-main__queform--form__user--teach__user--opt">    
                                    <li>user user <span class="site-main__queform--form__user--teach__user--opt__status"><i class="fas fa-circle icon icon__site-main--queform__teach--userstatus icon__site-main--queform__teach--userstatus__on"></i> online</span></li>           
                                    <li><div><i class="fas fa-users icon icon__site-main--queform__teach--usericon"></i> Students <div class="site-main__queform--form__user--teach__user--opt__wrapper  site-main__queform--form__user--teach__user--opt__first">500</div></div> </li> 
                                    <li><div><i class="fas fa-edit icon icon__site-main--queform__teach--usericon"></i>  Answered<div class="site-main__queform--form__user--teach__user--opt__wrapper site-main__queform--form__user--teach__user--opt__last">500</div></div></li> 
                                </ul> 
                                <div class="site-main__queform--form__user--teach__user--selectIcon"><i class="fas fa-check-circle"></i></div> 
                                <div class="site-main__queform--form__user--teach__user--selectIconActive"><i class="fas fa-check-circle"></i></div> 
                            </div>  
                            <div class="site-main__queform--form__user--teach__user--wrapper">
                                <div class="site-main__queform--form__user--teach__user--img"> 
                                    <img src="/" alt=""> 
                                </div> 
                                <ul class="site-main__queform--form__user--teach__user--opt">
                                    <li>user user <span><i class="fas fa-circle icon icon__site-main--queform__teach--userstatus icon__site-main--queform__teach--userstatus__off"></i> offline</span></li>   
                                    <li><div><i class="fas fa-users icon icon__site-main--queform__teach--usericon"></i>Students <div class="site-main__queform--form__user--teach__user--opt__wrapper  site-main__queform--form__user--teach__user--opt__first">500</div></div> </li> 
                                    <li><div><i class="fas fa-edit icon icon__site-main--queform__teach--usericon"></i>  Answered<div class="site-main__queform--form__user--teach__user--opt__wrapper site-main__queform--form__user--teach__user--opt__last">500</div></div></li> 
                                </ul> 
                                 <div class="site-main__queform--form__user--teach__user--selectIcon"><i class="fas fa-check-circle"></i></div> 
                                <div class="site-main__queform--form__user--teach__user--selectIconActive"><i class="fas fa-check-circle"></i></div> 
                            </div>      
                        </div> 

                        {{!-- <div class="site-main__queform--form__user--teach__selecTitle"> 
                            <div>Teacher's Selected <span><i class="fas fa-exchange-alt"></i></span>  </div>   
                        </div>
                        <div class="site-main__queform--form__user--teach__user">
                            <div class="site-main__queform--form__user--teach__user--wrapper site-main__queform--form__user--teach__user--wrapper__borderactive">
                                <div class="site-main__queform--form__user--teach__user--img"> 
                                    <img src="/" alt=""> 
                                </div>
                                <ul class="site-main__queform--form__user--teach__user--opt">    
                                    <li>user user <span class="site-main__queform--form__user--teach__user--opt__status"><i class="fas fa-circle icon icon__site-main--queform__teach--userstatus icon__site-main--queform__teach--userstatus__on"></i> online</span></li>           
                                    <li><div><i class="fas fa-users icon icon__site-main--queform__teach--usericon"></i> Students <div class="site-main__queform--form__user--teach__user--opt__wrapper  site-main__queform--form__user--teach__user--opt__first">500</div></div> </li> 
                                    <li><div><i class="fas fa-edit icon icon__site-main--queform__teach--usericon"></i>  Answered<div class="site-main__queform--form__user--teach__user--opt__wrapper site-main__queform--form__user--teach__user--opt__last">500</div></div></li> 
                                </ul> 
                                <div class="site-main__queform--form__user--teach__user--selectIconActive site-main__queform--form__user--teach__user--selectIconActive__visible"><i class="fas fa-check-circle"></i></div> 
                            </div>  
                            <div class="site-main__queform--form__user--teach__user--wrapper site-main__queform--form__user--teach__user--wrapper__borderactive">
                                <div class="site-main__queform--form__user--teach__user--img"> 
                                    <img src="/" alt=""> 
                                </div> 
                                <ul class="site-main__queform--form__user--teach__user--opt">
                                    <li>user user <span><i class="fas fa-circle icon icon__site-main--queform__teach--userstatus icon__site-main--queform__teach--userstatus__off"></i> offline</span></li>   
                                    <li><div><i class="fas fa-users icon icon__site-main--queform__teach--usericon"></i>Students <div class="site-main__queform--form__user--teach__user--opt__wrapper  site-main__queform--form__user--teach__user--opt__first">500</div></div> </li> 
                                    <li><div><i class="fas fa-edit icon icon__site-main--queform__teach--usericon"></i>  Answered<div class="site-main__queform--form__user--teach__user--opt__wrapper site-main__queform--form__user--teach__user--opt__last">500</div></div></li> 
                                </ul> 
                                <div class="site-main__queform--form__user--teach__user--selectIconActive site-main__queform--form__user--teach__user--selectIconActive__visible"><i class="fas fa-check-circle"></i></div>  
                            </div>      
                        </div> --}}
                    </div>
                    <div class="site-main__queform--form__user--teach__det">
                        <div class="site-main__queform--form__user--teach__det--total">
                            Seleceted <span>20</span>
                        </div>
                        <div class="site-main__queform--form__user--teach__det--view"> 
                            <i class="fas fa-eye icon icon__site-main--queform__teach--det"></i> View  
                        </div>
                    </div>
                </div> 

                <div class="site-main__queform--form__user--content">
                    <div class="site-main__queform--form__user--content__selec">
                        choose a teacher
                        <i class="fas fa-angle-down icon icon__site-main--queform__selec--angle"></i>
                        <div class="site-main__queform--form__user--content__selec--total">25</div>
                    </div>
                    <span class="site-main__queform--form__user--content__alt">OR</span>
                    <botton class="site-main__queform--form__user--content__btn">Add Teacher</botton>
                </div>
            </div>

            <div class="site-main__queform--form__footer">
                <button class="site-main__queform--form__footer--draft">
                    Add to Drafts
                </button>
                <button class="site-main__queform--form__footer--ask disabled__ask">
                    Ask Question
                </button> 
                <button class="site-main__queform--form__footer--exit" >
                    <i class="fas fa-angle-double-right icon icon__site-main--queform__angledouble"></i> <span class="site-main__queform--form__footer--exit__sm">Close Form</span>   
                </button> 
                <ul class="error error__ask">
                    <li>Errors</li>
                    {{!-- <li><i class="fas fa-circle icon icon__site-main--queform__error--circle"></i> Question content must be geater than 10 letters</li> --}}
                    <li><i class="fas fa-circle icon icon__site-main--queform__error--circle"></i> Please select a category</li>
                </ul>
            </div>
        </form>
    </div>
</div>