<div class="site-main__ptwrit">
    <div class="site-main__ptwrit--header">
        <div class="site-main__ptwrit--header__main">
            <div class="site-main__ptwrit--header__main--icon"><i class="fas fa-pencil-alt icon icon__site-main--ptwrit__header--pencil"></i></div>
            <ul class="site-main__ptwrit--header__main--title">
                <li>Poeters & Writers</li>
                <li><i class="fas fa-quote-left icon icon__site-main--ptwrit__header--quoteleft"></i> pen is mightier than sword <i class="fas fa-quote-right icon icon__site-main--ptwrit__header--quoteright"></i> </li>
            </ul>
        </div>
        <div class="site-main__ptwrit--header__submain">
            <p class="site-main__ptwrit--header__submain--title">Your pen is powerfu, earn as you write</p>
            <div class="site-main__ptwrit--header__submain--opt">Add <i class="fas fa-angle-down icon icon__site-main--ptwrit__header--angle"></i>
                <ul class="site-main__ptwrit--header__submain--opt__list">
                    <li>Free</li>
                    <li>Paid</li>
                </ul>
            </div>
        </div>
    </div>
    {{!-- <div class="site-main__ptwrit--tag">
        <h3>Tags</h3>
        <ul class="site-main__ptwrit--tag__list">
            <li> Poem ,</li>
            <li> poet ,</li>
            <li> stroy ,</li>
            <li> quote ,</li>
            <li> prose ,</li>
            <li>logics ,</li>
            <li><span>add</span></li>
        </ul>
    </div> --}}
    <div class="site-main__ptwrit--note">
        <span class="site-main__ptwrit--note__title">Note</span>    
        <span class="site-main__ptwrit--note__content"> Amount you earn is amount you recieve, No hidden charges</span>
    </div>

    <ul class="site-main__ptwrit--tab">
        <li>Free</li>
        <li>Paid</li>
    </ul>

    <div class="ptwritfilter">
        <h3 class="ptwritfilter__found">Total found <span class="ptwritfilter__found--total"> 2222k </span></h3>

        <div class="ptwritfilter__wrapper">
            <div class="ptwritfilter__wrapper--options">
                <div class="ptwritfilter__category">
                    Category <i class="fas fa-angle-down icon icon__ptwritfilter--angleicon"></i>
                    <ul class="ptwritfilter__category--item">
                        <li>Peom</li>
                        <li>Prose</li>
                        <li>writers</li>
                    </ul>
                </div>

                <div class="ptwritfilter__filter">
                    Filter <i class="fas fa-angle-down icon icon__ptwritfilter--angleicon"></i>
                </div>
                

                <div class="ptwritfilter__filter--options">
                        <div class="ptwritfilter__filter--options__search">
                            <div class="ptwritfilter__filter--options__search--field">
                                <div class="ptwritfilter__filter--options__search--field__inputcalendar"><i class="far fa-calendar-alt icon icon__ptwritfilter--filter__calend"></i></div> <input type="text" class="ptwritfilter__filter--options__search--field__input" placeholder="Enter Title">
                            </div>
                            <div class="ptwritfilter__filter--options__search--middlewrapper">
                                <div class="ptwritfilter__filter--options__search--found">
                                    <div class="ptwritfilter__filter--options__search--found__title">Total Found</div>
                                    <div class="ptwritfilter__filter--options__search--found__total">255</div>
                                </div>
                                <div class="ptwritfilter__filter--options__search--more">OR</div>
                            </div>
                            <div class="ptwritfilter__filter--options__search--altwrapper ptwritfilter__filter--options__search--altwrapper__space">
                                <div class="ptwritfilter__filter--options__search--alt">
                                    <h3 class="ptwritfilter__filter--options__search--alt__title"><i class="fas fa-comments icon icon__ptwritfilter--filter__alt--comment"></i> Comments</h3>
                                    <ul class="ptwritfilter__filter--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li><span><</span> 10</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li><span>></span> 20 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li><span>></span> 30</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="ptwritfilter__filter--options__search--alt">
                                    <h3 class="ptwritfilter__filter--options__search--alt__title"><i class="far fa-smile icon icon__ptwritfilter--filter__alt--eye"></i> Smiles</h3>
                                    <ul class="ptwritfilter__filter--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li> <span><</span> 20 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li> <span>></span> 40 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li> <span>></span> 60</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="ptwritfilter__filter--options__search--alt">
                                    <h3 class="ptwritfilter__filter--options__search--alt__title ptwritfilter__filter--options__search--alt__title--sm"><i class="fas fa-heart icon icon__ptwritfilter--filter__alt--heart"></i>   Favorites</h3>
                                    <ul class="ptwritfilter__filter--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li><span><</span> 12 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li><span>></span>22 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li><span>></span> 32</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="ptwritfilter__filter--options__search--categsm">
                                <p class="ptwritfilter__filter--options__search--categsm__title">Select Category <i class="fas fa-angle-down icon icon__ptwritfilter--filter__categsm--angleicon"></i></p>
                                <ul class="ptwritfilter__filter--options__search--categsm__item">
                                    <li>Poems</li>
                                    <li>Prose</li>
                                    <li>writers</li>
                                </ul>
                            </div>

                            <button class="ptwritfilter__filter--options__search--btn">
                                <span class="ptwritfilter__filter--options__search--btn__cancel">Cancel</span>
                                <span class="ptwritfilter__filter--options__search--btn__ok">Ok</span>
                            </button>
                        </div>
                    </div>
                    <div class="ptwritfilter__myque">
                    My Works
                    <div class="ptwritfilter__myque--total">
                        99
                    </div>
                </div>
            </div>
            <div class="ptwritfilter__addque ptwritfilter__wrapper--altoption">
                Add 
            </div>
        </div>
    </div>

    <div class="site-main__ptwrit--wrapper">
        <div class="site-main__share">
            <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
        </div>
        <div class="site-main__share--content">
            <ul class="site-main__share--content__options">
                <li>
                    <div class="site-main__share--content__options--item">
                        <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                    </div> 
                    <div class="site-main__share--content__options--details">
                        <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                        <div class="site-main__share--content__options--details__user">
                            <div class="site-main__share--content__options--details__user--wrapper">
                                <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                                <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                                <div class="site-main__share--content__options--details__user--img">
                                <img src="/" alt="">
                                </div>
                            <ul>
                                <li><a href=""> User user User user User user</a></li>
                                <li>Answered: 13K </li>
                                <li>Students: 234K</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="site-main__share--content__options--userCounter">
                        <li>Tips: Click user image to select</li> 
                        <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                        <li>
                            <ul>
                                <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                                <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="site-main__share--content__options--userSelected">
                        <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                        <div class="site-main__share--content__options--userSelected__mainclose">
                            <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                        </div>
                            <div class="site-main__share--content__options--userSelected__wrapper">
                                <div class="site-main__share--content__options--userSelected__wrapper--content">
                                <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                                <div class="site-main__share--content__options--userSelected__img">
                                        <img src="/" alt="">
                                    </div>
                                    <ul>
                                        <li><a href=""> User user User user User user</a></li>
                                        <li>Answered: 13K </li>
                                        <li>Students: 234K</li>
                                    </ul>
                                </div>
                            </div>
                            <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                        </div>
                </li>
                <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
            </ul>
        </div>

         <div class="site-main__ptwrit--content">
            <div class="site-main__ptwrit--content__timePosted">
                <i class="far fa-clock icon icon__site-main__ptwrit--time"></i> 2m ago
            </div>
            <div class="site-main__ptwrit--content__firstptwritIcon">
                <i class="fas fa-quote-left icon icon__site-main__ptwrit--ptwritIcon"></i>
                <span><i class="fas fa-tag icon icon__site-main__ptwrit--quote"></i> Quote</span>
            </div>
            <div class="site-main__ptwrit--content__title">
                <div class="site-main__ptwrit--content__title--wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database 
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database<span>...</span></a>
                </div>
            </div>
            <div class="site-main__ptwrit--content__secondptwritIcon">
                <div class="site-main__ptwrit--content__secondptwritIcon--user">
                    <div class="site-main__ptwrit--content__secondptwritIcon--user__img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                </div>
                <div class="site-main__ptwrit--content__secondptwritIcon--wrapper">
                    <i class="fas fa-quote-right icon icon__site-main__ptwrit--ptwritsecondIcon"></i>
                </div>
            </div>
        </div>
        <ul class="site-main__ptwrit--footer">
            <li><i class="far fa-smile icon icon__site-main__ptwrit--footer__smile"></i> 11k</li>
            <li><i class="far fa-heart icon icon__site-main__ptwrit--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__site-main__ptwrit--footer__comments"></i> 100k</li>
        </ul>
    </div>

    <div class="site-main__ptwrit--wrapper">
        <div class="site-main__share">
            <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
        </div>
        <div class="site-main__share--content">
            <ul class="site-main__share--content__options">
                <li>
                    <div class="site-main__share--content__options--item">
                        <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                    </div> 
                    <div class="site-main__share--content__options--details">
                        <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                        <div class="site-main__share--content__options--details__user">
                            <div class="site-main__share--content__options--details__user--wrapper">
                                <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                                <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                                <div class="site-main__share--content__options--details__user--img">
                                <img src="/" alt="">
                                </div>
                            <ul>
                                <li><a href=""> User user User user User user</a></li>
                                <li>Answered: 13K </li>
                                <li>Students: 234K</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="site-main__share--content__options--userCounter">
                        <li>Tips: Click user image to select</li> 
                        <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                        <li>
                            <ul>
                                <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                                <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="site-main__share--content__options--userSelected">
                        <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                        <div class="site-main__share--content__options--userSelected__mainclose">
                            <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                        </div>
                            <div class="site-main__share--content__options--userSelected__wrapper">
                                <div class="site-main__share--content__options--userSelected__wrapper--content">
                                <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                                <div class="site-main__share--content__options--userSelected__img">
                                        <img src="/" alt="">
                                    </div>
                                    <ul>
                                        <li><a href=""> User user User user User user</a></li>
                                        <li>Answered: 13K </li>
                                        <li>Students: 234K</li>
                                    </ul>
                                </div>
                            </div>
                            <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                        </div>
                </li>
                <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
            </ul>
        </div>

         <div class="site-main__ptwrit--content">
            <div class="site-main__ptwrit--content__timePosted">
                <i class="far fa-clock icon icon__site-main__ptwrit--time"></i> 2m ago
            </div>
            <div class="site-main__ptwrit--content__tag"><i class="fas fa-tag icon icon__site-main__ptwrit--quote"></i> Poems</div>
            <div class="site-main__ptwrit--content__title">
                <div class="site-main__ptwrit--content__title--wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database <span>...</span></a>
                </div>
            </div>
            <div class="site-main__ptwrit--content__secondptwritIcon">
                <div class="site-main__ptwrit--content__secondptwritIcon--user">
                    <div class="site-main__ptwrit--content__secondptwritIcon--user__img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                </div>
            </div>
        </div>
        <ul class="site-main__ptwrit--footer">
            <li><i class="far fa-smile icon icon__site-main__ptwrit--footer__smile"></i> 11k</li>
            <li><i class="far fa-heart icon icon__site-main__ptwrit--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__site-main__ptwrit--footer__comments"></i> 100k</li>
        </ul>
    </div>

    <div class="site-main__ptwrit--wrapper">
        <div class="site-main__share">
            <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
        </div>
        <div class="site-main__share--content">
            <ul class="site-main__share--content__options">
                <li>
                    <div class="site-main__share--content__options--item">
                        <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                    </div> 
                    <div class="site-main__share--content__options--details">
                        <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                        <div class="site-main__share--content__options--details__user">
                            <div class="site-main__share--content__options--details__user--wrapper">
                                <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                                <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                                <div class="site-main__share--content__options--details__user--img">
                                <img src="/" alt="">
                                </div>
                            <ul>
                                <li><a href=""> User user User user User user</a></li>
                                <li>Answered: 13K </li>
                                <li>Students: 234K</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="site-main__share--content__options--userCounter">
                        <li>Tips: Click user image to select</li> 
                        <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                        <li>
                            <ul>
                                <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                                <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="site-main__share--content__options--userSelected">
                        <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                        <div class="site-main__share--content__options--userSelected__mainclose">
                            <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                        </div>
                            <div class="site-main__share--content__options--userSelected__wrapper">
                                <div class="site-main__share--content__options--userSelected__wrapper--content">
                                <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                                <div class="site-main__share--content__options--userSelected__img">
                                        <img src="/" alt="">
                                    </div>
                                    <ul>
                                        <li><a href=""> User user User user User user</a></li>
                                        <li>Answered: 13K </li>
                                        <li>Students: 234K</li>
                                    </ul>
                                </div>
                            </div>
                            <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                        </div>
                </li>
                <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
            </ul>
        </div>

         <div class="site-main__ptwrit--content">
            <div class="site-main__ptwrit--content__timePosted">
                <i class="far fa-clock icon icon__site-main__ptwrit--time"></i> 2m ago
            </div>
            <div class="site-main__ptwrit--content__tag">
                <i class="fas fa-tag icon icon__site-main__ptwrit--quote"></i> Poems
                <span><i class="fas fa-tag icon icon__site-main__ptwrit--quote"></i> Paid</span>
            </div>
            
            <div class="site-main__ptwrit--content__title">
                <div class="site-main__ptwrit--content__title--wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database <span>...</span></a>
                </div>
            </div>
            <div class="site-main__ptwrit--content__secondptwritIcon">
                <div class="site-main__ptwrit--content__secondptwritIcon--user">
                    <div class="site-main__ptwrit--content__secondptwritIcon--user__img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                </div>
            </div>
        </div>
        <ul class="site-main__ptwrit--footer">
            <li><i class="far fa-smile icon icon__site-main__ptwrit--footer__smile"></i> 11k</li>
            <li><i class="far fa-heart icon icon__site-main__ptwrit--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__site-main__ptwrit--footer__comments"></i> 100k</li>
        </ul>
    </div>

</div>
