<div class="site-main__ptwrit">
    <div class="site-main__ptwrit--header">
        <div class="site-main__ptwrit--header__icon"><i class="fas fa-pencil-alt icon icon__site-main--ptwrit__header--pencil"></i></div>
        <ul class="site-main__ptwrit--header__title">
            <li>Poeters & Writers</li>
            <li><i class="fas fa-quote-left icon icon__site-main--ptwrit__header--quoteleft"></i> pen is mightier than sword <i class="fas fa-quote-right icon icon__site-main--ptwrit__header--quoteright"></i> </li>
        </ul>
    </div>
    <div class="site-main__ptwrit--note">
        <span class="site-main__ptwrit--note__content"><i class="fas fa-circle  icon icon__site-main--ptwrit__note--circle"></i> Amount you earn is amount you recieve, No hidden charges</span>
    </div>
    <div class="site-main__content--wrapper">
    <div class="site-main__content--overlay"></div>
    <div class="site-main__content--top"></div>
        <ul class="site-main__content--tab">
            <li>Free</li>
            <li>Paid</li>
            <li>
               <i class="fas fa-location-arrow icon icon__site-main__ptwrit--tab--share"></i>  Share 
                <div class="active__main active__main--shareme">
                    <div>9</div>
                </div>
            </li>
        </ul>

        <div class="ptwrit-filter">
            <h3 class="ptwrit-filter__found">Total found <span class="ptwrit-filter__found--total"> 2222k </span></h3>

            <div class="ptwrit-filter__wrapper">
                <div class="ptwrit-filter__wrapper--options">
                    <div class="ptwrit-filter__category">
                        Category <i class="fas fa-angle-down icon icon__ptwrit-filter--angle"></i>
                        <ul class="ptwrit-filter__category--item">
                            <li>Peom</li>
                            <li>Prose</li>
                            <li>writers</li>
                        </ul>
                    </div>

                    <div class="ptwrit-filter__cnt">
                        Filter <i class="fas fa-angle-down icon icon__ptwrit-filter--angle"></i>
                    </div>
                    

                    <div class="ptwrit-filter__cnt--options">
                            <div class="ptwrit-filter__cnt--options__search">
                                <div class="ptwrit-filter__cnt--options__search--field">
                                    <div class="ptwrit-filter__cnt--options__search--field__inputcalendar"><i class="far fa-calendar-alt icon icon__ptwrit-filter--calend"></i></div> <input type="text" class="ptwrit-filter__cnt--options__search--field__input" placeholder="Enter Title">
                                </div>
                                <div class="ptwrit-filter__cnt--options__search--middlewrapper">
                                    <div class="ptwrit-filter__cnt--options__search--found">
                                        <div class="ptwrit-filter__cnt--options__search--found__title">Total Found</div>
                                        <div class="ptwrit-filter__cnt--options__search--found__total">255</div>
                                    </div>
                                    <div class="ptwrit-filter__cnt--options__search--more">OR</div>
                                </div>
                                <div class="ptwrit-filter__cnt--options__search--altwrapper ptwrit-filter__cnt--options__search--altwrapper__space">
                                    <div class="ptwrit-filter__cnt--options__search--alt">
                                        <h3 class="ptwrit-filter__cnt--options__search--alt__title"><i class="fas fa-comments icon icon__ptwrit-filter--comment"></i> Comments</h3>
                                        <ul class="ptwrit-filter__cnt--options__search--alt__option">
                                            <li>
                                                <ul>
                                                    <li>Low</li>
                                                    <li><span><</span> 10</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>Average</li>
                                                    <li><span>></span> 20 </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>High</li>
                                                    <li><span>></span> 30</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="ptwrit-filter__cnt--options__search--alt">
                                        <h3 class="ptwrit-filter__cnt--options__search--alt__title"><i class="far fa-smile icon icon__ptwrit-filter--eye"></i> Smiles</h3>
                                        <ul class="ptwrit-filter__cnt--options__search--alt__option">
                                            <li>
                                                <ul>
                                                    <li>Low</li>
                                                    <li> <span><</span> 20 </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>Average</li>
                                                    <li> <span>></span> 40 </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>High</li>
                                                    <li> <span>></span> 60</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="ptwrit-filter__cnt--options__search--alt">
                                        <h3 class="ptwrit-filter__cnt--options__search--alt__title ptwrit-filter__cnt--options__search--alt__title--sm"><i class="fas fa-heart icon icon__ptwrit-filter--heart"></i>   Favorites</h3>
                                        <ul class="ptwrit-filter__cnt--options__search--alt__option">
                                            <li>
                                                <ul>
                                                    <li>Low</li>
                                                    <li><span><</span> 12 </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>Average</li>
                                                    <li><span>></span>22 </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>High</li>
                                                    <li><span>></span> 32</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="ptwrit-filter__cnt--options__search--categsm">
                                    <p class="ptwrit-filter__cnt--options__search--categsm__title">Select Category <i class="fas fa-angle-down icon icon__ptwrit-filter--categsm__angle"></i></p>
                                    <ul class="ptwrit-filter__cnt--options__search--categsm__item">
                                        <li>Poems</li>
                                        <li>Prose</li>
                                        <li>writers</li>
                                    </ul>
                                </div>

                                <button class="ptwrit-filter__cnt--options__search--btn">
                                    <span class="ptwrit-filter__cnt--options__search--btn__cancel">Cancel</span>
                                    <span class="ptwrit-filter__cnt--options__search--btn__ok">Ok</span>
                                </button>
                            </div>
                        </div>
                        <div class="ptwrit-filter__myque">
                        My Works
                        <div class="ptwrit-filter__myque--total">
                            99
                        </div>
                    </div>
                </div>
                <div class="ptwrit-filter__addque ptwrit-filter__wrapper--altoption">
                    Add 
                </div>
            </div>
        </div>

        <div class="reuse-pwt">
            {{> partialshare}}
            <div class="reuse-pwt__content">
                  <div class="reuse-pwt__content--tag">
                    <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Quote</a></span>
                  </div>
                <div class="reuse-pwt__content--title reuse-pwt__content--title__mt">
                    <div class="reuse-pwt__content--firstptwritIcon">
                        <i class="fas fa-quote-left icon icon__reuse-pwt--quote"></i>
                    </div>
                    <div class="reuse-pwt__content--title__wrapper">
                        <a href="">The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database 
                        The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database<span>...</span></a>
                    </div>
                </div>
                <div class="reuse-pwt__content--det reuse-pwt__content--det__quoteright">
                    <div class="reuse-pwt__content--det__user">
                        <div class="reuse-pwt__content--det__user--img">
                            <img src="/" alt="">
                        </div> 
                        <a href="">User user </a>
                         <div class="reuse-pwt__content--det__user--time">
                            @ 2m ago
                        </div>
                        <div class="reuse-pwt__content--det__user--det">
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>

                             <ul class="reuse-pwt__content--det__user--det__opt">
                                <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                                <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                                <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="reuse-pwt__content--det__quote-wrapper">
                        <i class="fas fa-quote-right icon icon__reuse-pwt--quoteright"></i>
                    </div>
                </div>
            </div>
            <ul class="reuse-pwt__footer">
                <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
                <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
                <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
            </ul>
        </div>
        
        <div class="reuse-pwt">
            {{> partialshare}}
            <div class="reuse-pwt__content">
                <div class="reuse-pwt__content--tag">
                    <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Poems</a></span>
                </div>
                <div class="reuse-pwt__content--title">
                    <div class="reuse-pwt__content--title__wrapper">
                        <a href="">The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database <span>...</span></a>
                    </div>
                </div>
                <div class="reuse-pwt__content--det">
                    <div class="reuse-pwt__content--det__user">
                        <div class="reuse-pwt__content--det__user--img">
                            <img src="/" alt="">
                        </div> 
                        <a href="">User user </a>
                         <div class="reuse-pwt__content--det__user--time">
                            @ 2m ago
                        </div>
                        <div class="reuse-pwt__content--det__user--det">
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>

                             <ul class="reuse-pwt__content--det__user--det__opt">
                                <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                                <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                                <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
            <ul class="reuse-pwt__footer">
                <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
                <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
                <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
            </ul>
        </div>

        <div class="reuse-pwt">
            {{> partialshare}}
            <div class="reuse-pwt__content">
                <div class="reuse-pwt__content--tag">
                    <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Poems</a></span>
                    <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Paid</a></span>
                </div>
                <div class="reuse-pwt__content--title">
                    <div class="reuse-pwt__content--title__wrapper">
                        <a href="">The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database <span>...</span></a>
                    </div>
                </div>
               <div class="reuse-pwt__content--det">
                    <div class="reuse-pwt__content--det__user">
                        <div class="reuse-pwt__content--det__user--img">
                            <img src="/" alt="">
                        </div> 
                        <a href="">User user </a>
                         <div class="reuse-pwt__content--det__user--time">
                            @ 2m ago
                        </div>
                        <div class="reuse-pwt__content--det__user--det">
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pwt--loadmore__circle"></i>

                             <ul class="reuse-pwt__content--det__user--det__opt">
                                <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                                <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                                <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>
            <ul class="reuse-pwt__footer">
                <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
                <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
                <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
            </ul>
        </div>
        
    </div>
</div>
