$mainLightBlue: #15a4fa;
$mainMiddleDarkBlue: #437da3;
$mainPaleBlue: #134df2;
$mainDarkBlue: #0284a8;
$mainLightRed: #ff1600;
$mainDarkRed: #f22613;
$mainExtraLightGray: #f2f2f2;
$mainLightGray: #e9ebf2;
$mainDarkGray: #dcdbdc;
$mainLightBlack: #777;
$mainMediumLightBlack: #555;
$mainFontColor: #333;
$mainHeaderColor: #f9f9f9;