 <div class="site-main__fav-nav">
     <div class="site-main__fav-nav--wrapper">
        <ul class="site-main__fav-nav--header">
            <li><i class="fas fa-exchange-alt"></i></li>
        </ul>
      
    </div>
 </div> 