<div class="site-main site-main__expage">
    <div class="wrapper__exmain">
       <div class="site-main__content">
           <div class="site-main__content--wrapper">
                <div class="site-main__content--overlay"></div>
                <div class="site-main__content--top"></div>
                {{> partialfavorite}}
           </div>
        </div>
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                <ul class="site-main__nav--header">
                    <li>
                        <i class="fas fa-exchange-alt"></i>
                        <div class="active__main active__main--nav">
                            <div>9</div>
                        </div>
                    </li>
                </ul>
                {{!-- {{> reuseconv}} --}}
                {{> partialTopTrending}} 
            </div>
        </div>
    </div>
</div> 
