<div class="reuse-share">
    <div class="reuse-share__icn">
        <i class="fas fa-location-arrow icon icon__reuse-share--icn"></i>
    </div>
    <div class="reuse-share__wrapper">
        <div class="reuse-share__title">
            Select Users <span class="reuse-share__title--icn"><i class="fas fa-angle-down icon icon__reuse-share--title"></i></span>
        </div>
        <div class="reuse-share__content">
            <div class="reuse-share__content--search">
                <input class="reuse-share__content--search__cnt" placeholder="search...." autofocus>
            </div>
            <div class="reuse-share__content--user">
                <div class="reuse-share__content--user__wrapper">
                    <div class="reuse-share__content--user__hov-icn"><i class="fas fa-check-circle icon icon__reuse-share--selec"></i></div>
                    <span class="reuse-share__content--user__clk-icn"><i class="fas fa-check-circle icon icon__reuse-share--selec"></i></span>
                    <div class="reuse-share__content--user__img">
                        <img src="/" alt="">
                        <div class="reuse-share__content--user__img--status reuse-share__content--user__img--status__on"></div>
                        {{!-- <div class="reuse-share__content--user__img--status reuse-share__content--user__img--status__off"></div> --}}
                    </div>
                    <ul class="reuse-share__content--user__det">
                        <li><a href=""> User user User user User user</a></li>
                        <li> <div class="reuse-share__content--user__ans"><i class="fas fa-edit icon icon__reuse-share--content-ans"></i></div>: 13K </li>
                        <li> <div class="reuse-share__content--user__snts"><i class="fas fa-user icon icon__reuse-share--content-snts"></i></div>: 234K</li>
                    </ul>
                    <div class="reuse-share__content--user__tooltip reuse-share__content--user__tooltip--ans">
                        Question Answered
                    </div>
                    <div class="reuse-share__content--user__tooltip reuse-share__content--user__tooltip--snts">
                        Students
                    </div>
                </div>
            </div>
        </div>

        <ul class="reuse-share__user-counter">
            <li><div><i class="fas fa-users icon icon__reuse-share--user"></i></div>:<span class="reuse-share__user-counter--number">73K</span></li>
            <li>
                <ul>
                    <li><i class="fas fa-location-arrow icon icon__reuse-share--share"></i> Share</li>
                    <li class="reuse-share__user-counter--viewall"> <i class="far fa-eye icon__reuse-share--view"></i> View </li>
                </ul>
            </li>
        </ul>

        <div class="reuse-share__user-selected">
            <div class="reuse-share__user-selected--title"><div><div><i class="fas fa-users icon icon__reuse-share--user-selec__user"></i></div> Users Selected</div></div>
            <div class="reuse-share__user-selected--mainclose">
                <i class="fas fa-times icon icon__reuse-share--mainclose"></i>
            </div>
            <div class="reuse-share__user-selected--det">
                <div class="reuse-share__user-selected--det__wrapper">
                    <div class="reuse-share__user-selected--det__close"><i class="fas fa-times icon icon__reuse-share--close"></i></div>
                    <div class="reuse-share__user-selected--det__img">
                        <img src="/" alt="">
                        <div class="reuse-share__user-selected--det__img--status reuse-share__user-selected--det__img--status__on"></div>
                        {{!-- <div class="reuse-share__user-selected--det__img--status reuse-share__user-selected--det__img--status__off"></div> --}}
                    </div>
                    <ul>
                        <li><a href=""> User user User user User user</a></li>
                        <li> <div><i class="fas fa-edit icon icon__reuse-share--content-ans"></i></div>: 13K </li>
                        <li> <div><i class="fas fa-user icon icon__reuse-share--content-snts"></i></div>: 234K</li>
                    </ul>
                </div>
            </div>
            <button class="reuse-share__user-selected--btn"><i class="fas fa-times icon icon__reuse-share--reset"></i> Reset</button>
        </div>

        <div class="reuse-share__social-icn"><a href=""><i class="fab fa-facebook-square icon icon__reuse-share--facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__reuse-share--googleplus"></i></a></div>
    </div>
</div>