<div class="site-main__fav-main">
    <div class="site-main__fav-main--wrapper">
        <div class="site-main__fav-main--top"></div>
        <div class="site-main__fav-main--header site-main__fav-main--header__sticky">
            <div class="site-main__fav-main--header__icn">
                <i class="fas fa-heart icon icon__site-main__fav-main--header"></i>
            </div>
            Favorites
            <span>255</span>
        </div>
        <div class="exfav">
            <div class="exfav__wrapper">
                <div class="exfav__wrapper--options">
                    <div class="exfav__sort">
                        Sort <i class="fas fa-angle-down icon icon__exfav--angle"></i>
                        <ul class="exfav__sort--item">
                            <li>Post</li>
                            <li>Question</li>
                            <li>Online Exam</li>
                            <li>Chat</li>
                        </ul>
                    </div>

                    <div class="exfav__filter">
                        Filter <i class="fas fa-angle-down icon icon__exfav--angle"></i>
                    </div>
                    

                    <div class="exfav__filter--options">
                        <div class="exfav__filter--options__search">
                            <div class="exfav__filter--options__search--field">
                                <div class="exfav__filter--options__search--field__inputcalendar"><i class="far fa-calendar-alt icon icon__exfav--filter__calend"></i></div> <input type="text" class="exfav__filter--options__search--field__input" placeholder="Search...">
                            </div>
                            <div class="exfav__filter--options__search--middlewrapper">
                                <div class="exfav__filter--options__search--found">
                                    <div class="exfav__filter--options__search--found__title">Total Found</div>
                                    <div class="exfav__filter--options__search--found__total">255</div>
                                </div>
                                <div class="exfav__filter--options__search--more">OR</div>
                            </div>
                            <div class="exfav__filter--options__search--altwrapper exfav__filter--options__search--altwrapper__space">
                                <div class="exfav__filter--options__search--alt">
                                    <h3 class="exfav__filter--options__search--alt__title"><i class="fas fa-comments icon icon__exfav--filter__alt--comment"></i> Comments</h3>
                                    <ul class="exfav__filter--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li><span><</span> 10</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li><span>></span> 20 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li><span>></span> 30</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="exfav__filter--options__search--alt">
                                    <h3 class="exfav__filter--options__search--alt__title"><i class="fas fa-eye icon icon__exfav--filter__alt--eye"></i> views</h3>
                                    <ul class="exfav__filter--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li> <span><</span> 20 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li> <span>></span> 40 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li> <span>></span> 60</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="exfav__filter--options__search--alt">
                                    <h3 class="exfav__filter--options__search--alt__title exfav__filter--options__search--alt__title--sm"><i class="fas fa-heart icon icon__exfav--filter__alt--heart"></i>   Favorites</h3>
                                    <ul class="exfav__filter--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li><span><</span> 12 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li><span>></span>22 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li><span>></span> 32</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="exfav__filter--options__search--categ">
                                <p class="exfav__filter--options__search--categ__title">Select Category <i class="fas fa-angle-down icon icon__exfav--filter__categ--angle"></i></p>
                                <ul class="exfav__filter--options__search--categ__item">
                                    <li>Scholarships</li>
                                    <li>Sport</li>
                                    <li>Entertainment Entertainment Entertainment</li>
                                </ul>
                            </div>

                            <button class="exfav__filter--options__search--btn">
                                <span class="exfav__filter--options__search--btn__cancel">Cancel</span>
                                <span class="exfav__filter--options__search--btn__ok">Ok</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="exfav__addfav exfav__wrapper--altoption">
                    <i class="fas fa-heart"></i> Add 
                </div>
            </div>
        </div>
        <div class="reuse-pt">
            <div class="reuse-pt__overlaywrapper">
                <div class="reuse-pt__wrapper">
                    <ul class="reuse-pt__header">
                        <li>
                            <div class="reuse-pt__header--category__img">
                                <img src="/" alt="">
                            </div>
                            <div class="reuse-pt__header--category__det">
                                <div class="reuse-pt__header--category__det--name"><a href="">User User User User User User User User </a></div>
                                <div class="reuse-pt__header--category__det--timePosted">@ 2m ago</div> 
                            </div>
                        </li>
                        <li>
                            <p class="reuse-pt__header--share__category"><i class="fas fa-tag icon icon__reuse-pt--header__tag"></i><a href=""> Social</a></p>
                            <div class="reuse-share">
                                <div class="reuse-share__icn">
                                    <i class="fas fa-location-arrow icon icon__reuse-share--icn"></i>
                                </div>
                                <div class="reuse-share__wrapper">
                                    <div class="reuse-share__title">
                                        Select Users <span class="userarrowicon"><i class="fas fa-angle-down icon icon__reuse-share--title"></i></span>
                                    </div>
                                    <div class="reuse-share__content">
                                        <div class="reuse-share__content--search">
                                            <input class="reuse-share__content--search__cnt" placeholder="search...." autofocus>
                                        </div>
                                        <div class="reuse-share__content--user">
                                            <div class="reuse-share__content--user__wrapper">
                                                <div class="reuse-share__content--user__select"><i class="fas fa-check-circle icon icon__reuse-share--selec"></i></div>
                                                <span class="reuse-share__content--user__select-clk"><i class="fas fa-check-circle icon icon__reuse-share--selec"></i></span>
                                                <div class="reuse-share__content--user__img">
                                                    <img src="/" alt="">
                                                    <div class="reuse-share__content--user__img--status reuse-share__content--user__img--status__on"></div>
                                                    {{!-- <div class="reuse-share__content--user__img--status reuse-share__content--user__img--status__off"></div> --}}
                                                </div>
                                                <ul>
                                                    <li><a href=""> User user User user User user</a></li>
                                                    <li> <div><i class="fas fa-edit icon icon__reuse-share--content-ans"></i></div>: 13K </li>
                                                    <li> <div><i class="fas fa-user icon icon__reuse-share--content-snts"></i></div>: 234K</li>
                                                </ul>
                                                <div class="reuse-share__content--user__tooltip reuse-share__content--user__tooltip--ans">
                                                    Question Answered
                                                </div>
                                                <div class="reuse-share__content--user__tooltip reuse-share__content--user__tooltip--snts">
                                                    Students
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="reuse-share__user-counter">
                                        <li><div><i class="fas fa-users icon icon__reuse-share--user"></i></div>:<span class="reuse-share__user-counter--number">73K</span></li>
                                        <li>
                                            <ul>
                                                <li><i class="fas fa-location-arrow icon icon__reuse-share--share"></i> Share</li>
                                                <li class="reuse-share__user-counter--viewall"> <i class="far fa-eye icon__reuse-share--view"></i> View </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <div class="reuse-share__user-selected">
                                        <div class="reuse-share__user-selected--title"><div><div><i class="fas fa-users icon icon__reuse-share--user-selec__user"></i></div> Users Selected</div></div>
                                        <div class="reuse-share__user-selected--mainclose">
                                            <i class="fas fa-times icon icon__reuse-share--mainclose"></i>
                                        </div>
                                        <div class="reuse-share__user-selected--det">
                                            <div class="reuse-share__user-selected--det__wrapper">
                                                <div class="reuse-share__user-selected--det__close"><i class="fas fa-times icon icon__reuse-share--close"></i></div>
                                                <div class="reuse-share__user-selected--det__img">
                                                    <img src="/" alt="">
                                                    <div class="reuse-share__user-selected--det__img--status reuse-share__user-selected--det__img--status__on"></div>
                                                    {{!-- <div class="reuse-share__user-selected--det__img--status reuse-share__user-selected--det__img--status__off"></div> --}}
                                                </div>
                                                <ul>
                                                    <li><a href=""> User user User user User user</a></li>
                                                    <li> <div><i class="fas fa-edit icon icon__reuse-share--content-ans"></i></div>: 13K </li>
                                                    <li> <div><i class="fas fa-user icon icon__reuse-share--content-snts"></i></div>: 234K</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button class="reuse-share__user-selected--btn"><i class="fas fa-times icon icon__reuse-share--reset"></i> Reset</button>
                                    </div>

                                    <div class="reuse-share__social-icn"><a href=""><i class="fab fa-facebook-square icon icon__reuse-share--facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__reuse-share--googleplus"></i></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="reuse-pt__img">
                        <div class="reuse-pt__img--wrapper">
                            <img  alt="" src="/">
                        </div>
                    </div>
                    <p class="reuse-pt__title">What is your view about all this stuffs</p>
                    <p class="reuse-pt__description">
                        <a href="">
                            The is a description of the sites to be used when
                        this is rendered to the database, The is a description of the sites to be used when
                        this is rendered to the database <span>...</span>
                        </a>
                    </p>
                
                    <div class="reuse-pt__footer">
                        <ul class="reuse-pt__footer--list">
                            <li><i class="far fa-eye icon icon__reuse-pt--footer__eye"></i>  1223K</li>
                            <li class="reuse-pt__footer--list__item-middle"><i class="far fa-comments icon icon__reuse-pt--footer__chats"></i>  12m</li>
                            <li><i class="far fa-heart icon icon__reuse-pt--footer__heart"></i> 222m</li>
                        </ul>
                        <span class="reuse-pt__footer--details">
                            <i class="fas fa-circle icon icon__reuse-pt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pt--loadmore__circle"></i>
                            <i class="fas fa-circle icon icon__reuse-pt--loadmore__circle"></i>
                        </span>
                        <ul class="reuse-pt__footer--details__options">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pt--options"></i>Edit </a></li>
                            <li class="reuse-pt__footer--details__options--status"><i class="far fa-eye-slash icon icon__reuse-pt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="reuse-que">
            <ul class="reuse-que__header">
                <li>
                    <div class="reuse-que__header--category__img">
                        <img src="/" alt="">
                    </div>
                    <div class="reuse-que__header--category__det">
                        <div class="reuse-que__header--category__det--name"><a href="">User User User User </a></div>
                        <div class="reuse-que__header--category__det--timePosted">@ 2m ago</div> 
                    </div>
                </li>
                <li>
                    <p class="reuse-que__header--share__category"><i class="fas fa-tag icon icon__reuse-que--header__tag"></i><a href=""> Social</a></p>
                    <div class="reuse-que__header--share__optionsWrapper">
                        
                    </div>
                </li>
            </ul>
            <div class="reuse-que__content">
                <p class="reuse-que__content--title">
                <a href=""> What is your view about all this stuffs</a>
                </p>
                <div class="reuse-que__content--img">
                    <img  alt="" src="/">
                </div>
            </div>
            <div class="reuse-que__ans">
                <div class="reuse-que__ans--wrapper">
                    <div class="reuse-que__ans--total">90</div> 
                    Answer
                </div>
            </div> 
            <div class="reuse-que__footer">
                <ul class="reuse-que__footer--list">
                    <li><i class="far fa-thumbs-up icon icon__reuse-que--footer__thumbup"></i>  1223K</li>
                    <li class="reuse-que__footer--list__item-middle"><i class="far fa-thumbs-down icon icon__reuse-que--footer__thumbdown"></i>  12m</li>
                    <li><i class="far fa-heart icon icon__reuse-que--footer__heart"></i> 222m</li>
                </ul>
                <span class="reuse-que__footer--details">
                    <i class="fas fa-circle icon icon__reuse-que--loadmore__circle"></i>
                    <i class="fas fa-circle icon icon__reuse-que--loadmore__circle"></i>
                    <i class="fas fa-circle icon icon__reuse-que--loadmore__circle"></i>
                </span>
                <ul class="reuse-que__footer--details__options">
                    <li><a href=""><i class="far fa-edit icon icon__reuse-que--options"></i>Edit </a></li>
                    <li class="reuse-que__footer--details__options--status"><i class="far fa-eye-slash icon icon__reuse-que--options__dft"></i> Draft</li>
                    <li><a href=""><i class="far fa-trash-alt icon icon__reuse-que--options"></i>Delete </a></li>
                </ul>
            </div>
        </div>
        <div class="reuse-onlineque">
            <ul class="reuse-onlineque__header">
                <li>
                    <div class="reuse-onlineque__header--quesNumber">
                        99
                    </div>
                    <div class="reuse-onlineque__header--title">
                        Questions 
                    </div>
                </li>
                <li>
                    <div class="reuse-onlineque__header--quesTime">
                        <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                    </div>
                </li>
                <li>
                    <div class="reuse-onlineque__header--share">
                        <i class="fas fa-location-arrow icon icon__reuse-onlineque--share"></i>
                    </div>
                    <div class="reuse-onlineque__share--content">
                        
                    </div>
                </li>
            </ul>
            <div class="reuse-onlineque__content">
                <p class="reuse-onlineque__content--title">
                    <a href="">The new exam set for the inter state</a>
                </p>
                <div class="reuse-onlineque__content--posted">
                    <div class="reuse-onlineque__content--posted__user">
                        <div><img src="" alt=""></div><a href="">User User</a>@ 2m ago
                    </div>
                </div>
            </div>
            <ul class="reuse-onlineque__footer">
                <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
                <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
                <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
            </ul>
        </div>
        <div class="reuse-pwt">
            <div class="reuse-pwt__share">
                <i class="fas fa-location-arrow icon icon__reuse-pwt--share"></i>
            </div>
            <div class="site-main__share--content">
            </div>
            <div class="reuse-pwt__content">
                  <div class="reuse-pwt__content--tag">
                    <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Quote</a></span>
                  </div>
                <div class="reuse-pwt__content--title reuse-pwt__content--title__mt">
                    <div class="reuse-pwt__content--firstptwritIcon">
                        <i class="fas fa-quote-left icon icon__reuse-pwt--quote"></i>
                    </div>
                    <div class="reuse-pwt__content--title__wrapper">
                        <a href="">The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database 
                        The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database<span>...</span></a>
                    </div>
                </div>
                <div class="reuse-pwt__content--det reuse-pwt__content--det__quoteright">
                    <div class="reuse-pwt__content--det__user">
                        <div class="reuse-pwt__content--det__user--img">
                            <img src="/" alt="">
                        </div> 
                        <a href="">User user </a>
                         <div class="reuse-pwt__content--det__time">
                            @ 2m ago
                        </div>
                    </div>
                    <div class="reuse-pwt__content--det__quote-wrapper">
                        <i class="fas fa-quote-right icon icon__reuse-pwt--quoteright"></i>
                    </div>
                </div>
            </div>
            <ul class="reuse-pwt__footer">
                <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
                <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
                <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
            </ul>
        </div>
        
        <div class="reuse-pwt">
            <div class="reuse-pwt__share">
                <i class="fas fa-location-arrow icon icon__reuse-pwt--share"></i>
            </div>
            <div class="site-main__share--content">
            </div>

            <div class="reuse-pwt__content">
                <div class="reuse-pwt__content--tag">
                    <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Poems</a></span>
                </div>
                <div class="reuse-pwt__content--title">
                    <div class="reuse-pwt__content--title__wrapper">
                        <a href="">The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database <span>...</span></a>
                    </div>
                </div>
                <div class="reuse-pwt__content--det">
                    <div class="reuse-pwt__content--det__user">
                        <div class="reuse-pwt__content--det__user--img">
                            <img src="/" alt="">
                        </div> 
                        <a href="">User user </a>
                         <div class="reuse-pwt__content--det__time">
                            @ 2m ago
                        </div>
                    </div>
                </div> 
            </div>
            <ul class="reuse-pwt__footer">
                <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
                <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
                <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
            </ul>
        </div>
        <div class="reuse-pwt">
            <div class="reuse-pwt__share">
                <i class="fas fa-location-arrow icon icon__reuse-pwt--share"></i>
            </div>
            <div class="site-main__share--content">
            </div>

            <div class="reuse-pwt__content">
                <div class="reuse-pwt__content--tag">
                    <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Poems</a></span>
                    <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Paid</a></span>
                </div>
                <div class="reuse-pwt__content--title">
                    <div class="reuse-pwt__content--title__wrapper">
                        <a href="">The quote is the best nature of lif, this is from the database
                        The quote is the best nature of lif, this is from the database <span>...</span></a>
                    </div>
                </div>
               <div class="reuse-pwt__content--det">
                    <div class="reuse-pwt__content--det__user">
                        <div class="reuse-pwt__content--det__user--img">
                            <img src="/" alt="">
                        </div> 
                        <a href="">User user </a>
                         <div class="reuse-pwt__content--det__time">
                            @ 2m ago
                        </div>
                    </div>
                </div>  
            </div>
            <ul class="reuse-pwt__footer">
                <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
                <li><i class="far fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
                <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
            </ul>
        </div>
        <div class="reuse-chat">
            <div class="reuse-chat__wrapper">
                <div class="reuse-chat__opt">
                    <i class="far fa-heart"></i>
                </div>
                <div class="reuse-chat__img">
                    <div class="reuse-chat__img--status reuse-chat__img--status__on">
                    </div>
                    {{!-- <div class="reuse-chat__img--status reuse-chat__img--status__off">
                    </div> --}}
                </div> 
                <div class="reuse-chat__det">
                    <div class="reuse-chat__det--name">
                        User User <span>@ 2m ago</span>
                    </div>
                    <div class="reuse-chat__det--msg">
                        Pls do you know the respone to this pls?
                        Pls do you know the respone to this pls?
                        Pls do you know the respone to this pls?
                    </div>
                    <div class="reuse-chat__det--notify">
                        1
                    </div>
                </div>
            </div>
            <div class="reuse-chat__wrapper">
                <div class="reuse-chat__opt">
                    <i class="far fa-heart"></i>
                </div>
                <div class="reuse-chat__img">
                     {{!-- <div class="reuse-chat__img--status reuse-chat__img--status__on">
                    </div> --}}
                    <div class="reuse-chat__img--status reuse-chat__img--status__off">
                    </div>
                </div> 
                <div class="reuse-chat__det">
                    <div class="reuse-chat__det--name">
                        The Poeters And writers Inn
                    </div>
                    <div class="reuse-chat__det--msg">
                        Pls do you know the respone to this pls?
                        Pls do you know the respone to this pls?
                        Pls do you know the respone to this pls?
                    </div>
                    <div class="reuse-chat__det--notify">
                        1
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>