<div class="reuse-share">
    <div class="reuse-share__icn">
        <i class="fas fa-location-arrow icon icon__reuse-share--icn"></i>
    </div>
    <div class="reuse-share__backdrop">
    <div class="reuse-share__wrapper">
        <div class="reuse-share__search">
            <input class="reuse-share__search--cnt" placeholder="search user...." autofocus>
        </div>
        <div class="reuse-share__all-users">
            <div class="reuse-share__user">
                <div class="reuse-share__user--det">
                    <div class="reuse-share__user--det__img">
                        <div class="reuse-share__user--det__img--status reuse-share__user--det__img--status__on">
                        </div>
                        {{!-- <div class="reuse-share__user--det__img--status reuse-share__user--det__img--status__off">
                        </div> --}}
                    </div>
                    <ul class="reuse-share__user--det__info">
                        <li>  
                            <a href="">User User</a>
                        </li>
                        <li><div>98</div> Student</li> 
                    </ul>
                    <div class="reuse-share__user--det__selec">
                        <i class="fas fa-check-circle icon icon__reuse-share--selec"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="reuse-share__user-select">
            <h4 class="reuse-share__user-select--title">
               <i class="fas fa-users icon icon__reuse-share--user"></i> User Selected
            </h4>
           <div class="reuse-share__user reuse-share__user--clk">
                <div class="reuse-share__user--det">
                    <div class="reuse-share__user--det__img">
                        <div class="reuse-share__user--det__img--status reuse-share__user--det__img--status__on">
                        </div>
                        {{!-- <div class="reuse-share__user--det__img--status reuse-share__user--det__img--status__off">
                        </div> --}}
                    </div>
                    <ul class="reuse-share__user--det__info">
                        <li>  
                            <a href="">User User</a>
                        </li>
                        <li><div>98</div> Student</li> 
                    </ul>
                    <div class="reuse-share__user--det__selec  reuse-share__user--det__selec--clk > svg">
                        <i class="fas fa-check-circle icon icon__reuse-share--selec"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="reuse-share__user-counter">
            <div class="reuse-share__user-counter--share">
                <i class="fas fa-location-arrow icon icon__reuse-share--share"></i> Share 
                <div class="reuse-share__user-counter--share__select">
                    22
                </div>
            </div>
            <div class="reuse-share__user-counter--view">
                <i class="far fa-eye icon__reuse-share--view"></i> View 
            </div>
        </div>

        <div class="reuse-share__switch-opt">
            <div class="reuse-share__switch-opt--mid"></div>
        </div>

        <ul class="reuse-share__social-icn">
            <li><a href=""><i class="fab fa-facebook-square icon icon__reuse-share--facebook"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square icon icon__reuse-share--googleplus"></i></a></li>
        </ul>
    </div>
    </div>
</div>