<div class="site-main__fav-main">
    <div class="site-main__content--tab">
        <div class="site-main__content--tab__icn">
            <i class="fas fa-heart icon icon__site-main__fav-main--header"></i>
        </div>
        Favorites
        <span>255</span>
    </div>

    {{> reusesrch}}

    <div class="reuse-fav-filter">
        <div class="reuse-fav-filter__wrapper">
            {{> reusesort}}
            {{> reusecateg}}
            {{> reusefavfilter}}
            <div class="reuse-fav-filter__srch">
                <i class="fas fa-search icon icon__reuse-fav-filter--srch"></i> 
            </div>
        </div>
    </div>

    <div class="reuse-pt">
        <div class="reuse-pt__overlaywrapper">
            <div class="reuse-pt__wrapper">
                <ul class="reuse-pt__header">
                    <li>
                        <div class="reuse-pt__header--category__img">
                            <img src="/" alt="">
                        </div>
                        <div class="reuse-pt__header--category__det">
                            <div class="reuse-pt__header--category__det--name"><a href="">User User User User User User User User </a></div>
                            <div class="reuse-pt__header--category__det--timePosted">@ 2m ago</div> 
                        </div>
                    </li>
                    <li>
                        <p class="reuse-pt__header--share__category"><i class="fas fa-tag icon icon__reuse-pt--header__tag"></i><a href=""> Social</a></p>
                        {{> partialshare}}
                    </li>
                </ul>
                <div class="reuse-pt__img">
                    <div class="reuse-pt__img--wrapper">
                        <img  alt="" src="/">
                    </div>
                </div>
                <p class="reuse-pt__title">What is your view about all this stuffs</p>
                <p class="reuse-pt__description">
                    <a href="">
                        The is a description of the sites to be used when
                    this is rendered to the database, The is a description of the sites to be used when
                    this is rendered to the database <span>...</span>
                    </a>
                </p>
            
                <div class="reuse-pt__footer">
                    <ul class="reuse-pt__footer--list">
                        <li><i class="far fa-eye icon icon__reuse-pt--footer__eye"></i>  1223K</li>
                        <li class="reuse-pt__footer--list__item-middle"><i class="far fa-comments icon icon__reuse-pt--footer__chats"></i>  12m</li>
                        <li><i class="fas fa-heart icon icon__reuse-pt--footer__heart"></i> 222m</li>
                    </ul>
                    <div class="reuse-pt__footer--details">
                        <div class="reuse-pt__footer--details__mid"></div>
                        <ul class="reuse-pt__footer--details__options">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pt--options"></i>Edit </a></li>
                            <li class="reuse-pt__footer--details__options--status"><i class="far fa-eye-slash icon icon__reuse-pt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reuse-que">
        <ul class="reuse-que__header">
            <li>
                <div class="reuse-que__header--category__img">
                    <img src="/" alt="">
                </div>
                <div class="reuse-que__header--category__det">
                    <div class="reuse-que__header--category__det--name"><a href="">User User User User </a></div>
                    <div class="reuse-que__header--category__det--timePosted">@ 2m ago</div> 
                </div>
            </li>
            <li>
                <p class="reuse-que__header--share__category"><i class="fas fa-tag icon icon__reuse-que--header__tag"></i><a href=""> Social</a></p>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-que__content">
            <p class="reuse-que__content--title">
            <a href=""> What is your view about all this stuffs</a>
            </p>
            <div class="reuse-que__content--img">
                <img  alt="" src="/">
            </div>
        </div>
        <div class="reuse-que__ans">
            <div class="reuse-que__ans--wrapper">
                <div class="reuse-que__ans--total">90</div> 
                Answer
            </div>
        </div> 
        <div class="reuse-que__footer">
            <ul class="reuse-que__footer--list">
                <li><i class="far fa-thumbs-up icon icon__reuse-que--footer__thumbup"></i>  1223K</li>
                <li class="reuse-que__footer--list__item-middle"><i class="far fa-thumbs-down icon icon__reuse-que--footer__thumbdown"></i>  12m</li>
                <li><i class="fas fa-heart icon icon__reuse-que--footer__heart"></i> 222m</li>
            </ul>
            <div class="reuse-que__footer--details">
                <div class="reuse-que__footer--details__mid"></div>
                <ul class="reuse-que__footer--details__options">
                    <li><a href=""><i class="far fa-edit icon icon__reuse-que--options"></i>Edit </a></li>
                    <li class="reuse-que__footer--details__options--status"><i class="far fa-eye-slash icon icon__reuse-que--options__dft"></i> Draft</li>
                    <li><a href=""><i class="far fa-trash-alt icon icon__reuse-que--options"></i>Delete </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                        <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                            <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="fas fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
    <div class="reuse-pwt">
        {{> partialshare}}
        <div class="reuse-pwt__content">
                <div class="reuse-pwt__content--tag">
                <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Quote</a></span>
                </div>
            <div class="reuse-pwt__content--title reuse-pwt__content--title__mt">
                <div class="reuse-pwt__content--firstptwritIcon">
                    <i class="fas fa-quote-left icon icon__reuse-pwt--quote"></i>
                </div>
                <div class="reuse-pwt__content--title__wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database 
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database<span>...</span></a>
                </div>
            </div>
            <div class="reuse-pwt__content--det reuse-pwt__content--det__quoteright">
                <div class="reuse-pwt__content--det__user">
                    <div class="reuse-pwt__content--det__user--img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                        <div class="reuse-pwt__content--det__user--time">
                        @ 2m ago
                    </div>
                    <div class="reuse-pwt__content--det__user--det">
                        <div class="reuse-pwt__content--det__user--det__mid"></div>
                        <ul class="reuse-pwt__content--det__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                            <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
                <div class="reuse-pwt__content--det__quote-wrapper">
                    <i class="fas fa-quote-right icon icon__reuse-pwt--quoteright"></i>
                </div>
            </div>
        </div>
        <ul class="reuse-pwt__footer">
            <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
            <li><i class="fas fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
        </ul>
    </div>
    
    <div class="reuse-pwt">
        {{> partialshare}}

        <div class="reuse-pwt__content">
            <div class="reuse-pwt__content--tag">
                <span><a href=""><i class="fas fa-tag icon icon__reuse-pwt--tag"></i> Poems</a></span>
            </div>
            <div class="reuse-pwt__content--title">
                <div class="reuse-pwt__content--title__wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database <span>...</span></a>
                </div>
            </div>
            <div class="reuse-pwt__content--det">
                <div class="reuse-pwt__content--det__user">
                    <div class="reuse-pwt__content--det__user--img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                        <div class="reuse-pwt__content--det__user--time">
                        @ 2m ago
                    </div>
                    <div class="reuse-pwt__content--det__user--det">
                        <div class="reuse-pwt__content--det__user--det__mid"></div>
                        <ul class="reuse-pwt__content--det__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                            <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
        <ul class="reuse-pwt__footer">
            <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
            <li><i class="fas fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
        </ul>
    </div>
    <div class="reuse-pwt">
        {{> partialshare}}
        <div class="reuse-pwt__content">
            <div class="reuse-pwt__content--tag">
                <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Poems</a></span>
                <span><a href=""><i class="fas fa-tags icon icon__reuse-pwt--tag"></i> Paid</a></span>
            </div>
            <div class="reuse-pwt__content--title">
                <div class="reuse-pwt__content--title__wrapper">
                    <a href="">The quote is the best nature of lif, this is from the database
                    The quote is the best nature of lif, this is from the database <span>...</span></a>
                </div>
            </div>
            <div class="reuse-pwt__content--det">
                <div class="reuse-pwt__content--det__user">
                    <div class="reuse-pwt__content--det__user--img">
                        <img src="/" alt="">
                    </div> 
                    <a href="">User user </a>
                        <div class="reuse-pwt__content--det__user--time">
                        @ 2m ago
                    </div>
                    <div class="reuse-pwt__content--det__user--det">
                        <div class="reuse-pwt__content--det__user--det__mid"></div>
                        <ul class="reuse-pwt__content--det__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-pwt--options"></i>Edit </a></li>
                            <li class="reuse-pwt__content--det__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-pwt--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-pwt--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
        <ul class="reuse-pwt__footer">
            <li><i class="far fa-smile icon icon__reuse-pwt--footer__smile"></i> 11k</li>
            <li><i class="fas fa-heart icon icon__reuse-pwt--footer__heart"></i> 122k</li>
            <li><i class="far fa-comment-dots icon icon__reuse-pwt--footer__comments"></i> 100k</li>
        </ul>
    </div>
    <div class="reuse-pvt-chat">
        <div class="reuse-pvt-chat__fav">
            <i class="fas fa-heart icon icon__reuse-pvt-chat--fav"></i>
        </div>
        <div class="reuse-pvt-chat__img">
            <img src="/" alt="">
            {{!-- <div class="reuse-pvt-chat__img--status reuse-pvt-chat__img--status__on"></div> --}}
            <div class="reuse-pvt-chat__img--status reuse-pvt-chat__img--status__off"></div>
        </div>
        <ul class="reuse-pvt-chat__det">
            <li><a href="">User user <span>@ 2m ago</span></a></li>
            <li><a href="">What is the real defination pls, i need it</a></li>
        </ul>
    </div>
</div>