<div class="reuse-sort">
    <i class="fas fa-sort icon icon__reuse-sort--angle"></i> Sort
    <ul class="reuse-sort__opt">
        <li>Post</li>
        <li>Question</li>
        <li>Onine Exam</li>
        <li>Chat</li>
    </ul>
</div>