<div class="reuse-srch">
    <div class="reuse-srch__close">
        <i class="fas fa-times icon icon__reuse-srch--close"></i>
    </div>
    <div class="reuse-srch__wrapper">
        <div><i class="far fa-calendar-alt icon icon__reuse-srch--calend"></i></div>
        <input type="text" class="reuse-srch__input" placeholder="search...">
    </div>
</div>