<div class="reuse-filter">
    <div class="reuse-filter__title">
        Filter <i class="fas fa-angle-down icon icon__reuse-filter--angle"></i>
    </div>
    <div class="reuse-filter__opt"> 
        <div class="reuse-filter__opt--srch">
            <div class="reuse-filter__opt--srch__calend"><i class="far fa-calendar-alt icon icon__reuse-filter--calend"></i></div> <input type="text" class="reuse-filter__opt--srch__input" placeholder="Search...">
        </div>
        <div class="reuse-filter__opt--fnd">
            <div class="reuse-filter__opt--fnd__title">
                Found
                <div class="reuse-filter__opt--fnd__title--total">255</div>
            </div>
            <div class="reuse-filter__opt--fnd__alt">
                <div class="reuse-filter__opt--fnd__alt--wrapper">
                    OR
                </div>
            </div>
        </div>
        <div class="reuse-filter__opt--cnt">
            <div class="reuse-filter__opt--cnt__wrapper reuse-filter__opt--cnt__wrapper--mid">
                <h3 class="reuse-filter__opt--cnt__title"><i class="fas fa-bars icon icon__reuse-filter--categ"></i>Category </h3>
                <ul class="reuse-filter__opt--cnt__det reuse-filter__opt--cnt__det--categ">
                    <li>Scholarships</li>
                    <li>Sport</li>
                    <li>Entertainment Entertainment Entertainment</li>
                    <li>Scholarships</li>
                    <li>Sport</li>
                    <li>Entertainment Entertainment Entertainment</li>
                    <li>Scholarships</li>
                    <li>Sport</li>
                    <li>Entertainment Entertainment Entertainment</li>
                </ul>
            </div>
        </div>

        <div class="reuse-filter__opt--info">
            <h3><i class="fas fa-bars icon icon__reuse-filter--categ"></i>Category </h3>
            <ul class="reuse-filter__opt--info__cnt">
                <li>Poem <div><i class="fas fa-times icon icon__reuse-filter--close"></i></div></li>
                <li>Poet <div><i class="fas fa-times icon icon__reuse-filter--close"></i></div></li>
                <li>News <div><i class="fas fa-times icon icon__reuse-filter--close"></i></div></li>
                <li>Entertainment <div><i class="fas fa-times icon icon__reuse-filter--close"></i></div></li>
            </ul>
        </div>

        <div class="reuse-filter__opt--btn">
            <button class="reuse-filter__opt--btn__cancel" type="button"><i class="fas fa-times icon icon__reuse-filter--cancel"></i> Cancel</button>
            <button class="reuse-filter__opt--btn__apply" type="button"><i class="fas fa-check icon icon__reuse-filter--apply"></i> Apply</button>
        </div>
    </div>
</div>