.reuse-srch {
    position: absolute; 
    left: 0;
    background-color: #fff;
    border: 1px solid $mainDarkGray;
    border-top: none;
    top: 88px;
    width: 90%;
    padding: 10px 40px 20px 10px; 
    opacity: 0;
    visibility: hidden;
    /* transition: all .3s ease-out; */

    &__close {
        width: 20px;
        height: 20px;
        background-color: $mainLightGray;
        border: 1px solid rgba($mainDarkBlack, .5);
        font-size: .75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5px;
        top: 2px;
        border-radius: 10px;
        cursor: pointer;
    }

    &__wrapper {
        position: relative;
        background-color: $mainLightGray;
        border: 1px solid rgba($mainDarkBlack, .3); 
        z-index: 1;
        font-size: .875rem; 
        border-radius: 5px;
        width: 100%;
        box-shadow: 0 2px 1px 0 rgba($mainDarkBlack, .3);

        & > div {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $mainLightGray;
            display: flex;
            justify-content: center;
            align-items:center; 
            padding: 0 20px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid rgba($mainDarkBlack, .3); 

        }
    }

    &__input {
        border: none;
        outline: none;
        padding: 6px 10px 6px 60px;
        border-radius: 5px;
        width: 100%;

        @mixin atMedium {
            padding: 8px 10px 8px 60px;
        }
    }

    &__visible {
        position: sticky;
        right: 0;
        opacity: 1;
        visibility: visible;
        width: 100%; 
        z-index: 2; 
        transition: all .3s ease-in;
    }

    @mixin atSmall {
        top: 90px; 
    }

    @mixin atLarge {
        top: 100px; 
    }
}