.reuse-filter {
    z-index: 2;

    &__title {
        float: left;
        border: 1px solid rgba($mainDarkPaleBlue, .2);
        border-top: 3px solid $mainDarkPaleBlue;
        color: $mainFontColor;
        padding: 8px 0;
        margin-right: 20px;
        width: 70px;
        text-align: center;
        border-radius: 3px;
        font-size: .8125rem;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        z-index: 1;
    }

    &__opt {
        position: absolute;
        border: 1px solid $mainDarkGray;
        background-color: #fff;
        box-shadow: 0px 0px 2px 2px rgba($mainDarkBlack, .45);
        padding: 10px;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        font-size: .875rem;
        z-index: 2; 

        &--srch {
            position: relative; 
            background-color: $mainLightGray;
            border: 1px solid $mainDarkGray; 
            border-radius: 3px;
            width: 100%;
    
            & > div {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: $mainExtraLightGray;
                display: flex;
                justify-content: center;
                align-items:center; 
                width: 60px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: 1px solid $mainDarkGray; 
            }
    
            &__input {
                border: none;
                outline: none;
                padding: 8px 10px 8px 70px;
                border-radius: 3px;
                width: 100%;
    
                @mixin atSmall{
                    padding: 12px 10px 12px 70px;
                }
            }

            &__no-total {
                margin-bottom: 30px;
            }
        }

        &--fnd {
            position: relative;
            margin: 10px 0;
            padding: 30px 0 30px 100px; 
            background-color: $mainHeaderColor;

            &__title {
                position: absolute;
                width: 80px;
                top: 22px;
                left: 50%;
                transform: translateX(-50%);

                & > div {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    background-color: $mainDarkBlue;
                    box-shadow: 0 1px 3px 1px rgba($mainDarkBlack, .75);
                    color: #fff;
                }
            }
        }

        &--cnt {
            position: relative;
            @mixin clearfix;
            font-size: .8125rem;
            padding-left: 10px;

            &__filter-err {
                color: #ff1600;
                padding: 10px 0;
                margin: 10px 0;
                text-align: center;
                background-color: #f9f9f9;
            }

            &__wrapper {
                float: left;
                padding-right: 10px;
                margin-bottom: 20px;

                &--mid {
                    width: 50%;

                    @mixin atMedium {
                        width: 33.333%;
                    }
                }

                @mixin atSmall{
                    padding-right: 30px;
                }
            }

            &__title {
                font-weight: 400;
                color: $mainFontColor;
                text-align: center;
                font-size: .875rem;
                padding: 3px 0;
                margin: 0;
                border: 1px solid $mainDarkGray;
                background-color: $mainExtraLightGray;
            
            }

            &__det {
                list-style: none;
                margin: 0;
                padding: 2px 0;
                border: 1px solid $mainDarkGray;
                border-top: none;
                
                &--categ {
                    height: 84px;
                    overflow: hidden;
                    overflow-y: auto; 
                }

                &--active {
                    background-color: $mainDarkBlue;
                    color: #fff;
                }

                & > li {
                    float: none;
                    padding: 6px 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    position: relative;

                    &:last-child {
                        border-bottom: none;
                    }

                    & > span {
                        position: absolute;
                        right: 10px;

                        @mixin atSmall {
                            right: 20px;
                        }
                    }

                    &:hover:not(.reuse-filter__opt--cnt__det--active) {
                        background-color: $mainDarkGray;
                        color: $mainFontColor;
                    }

                    @mixin atSmall {
                        padding: 6px 20px;
                    }
                }
            }

            @mixin atSmall {
                padding-left: 30px;
            }
        }

        &--info {
            background-color: $mainHeaderColor;
            font-size: .8125rem;

            & > h3 {
                text-align: center;
                padding: 5px 0;
                background-color: $mainDarkGray;
                font-size: .875rem;
                font-weight: 400;
                margin: 0;
            }

            &__cnt {
                list-style: none;
                margin: 0;
                padding: 14px 10px 0 10px;
                @mixin clearfix;

                & > li {
                    float: left;
                    font-size: .8125rem;
                    color: $mainFontColor; 
                    background-color: #fff;
                    padding: 5px 8px;
                    border-radius: 5px;
                    margin-right: 14px;
                    margin-bottom: 14px;
                    font-weight: 400;
                    border: 1px solid $mainDarkGray;
                    position: relative;

                    & > div {
                        position: absolute;
                        top: -9px;
                        right: -9px;
                        width: 18px;
                        height: 18px;
                        font-size: .625rem;
                        border-radius: 9px;
                        border: 1px solid $mainDarkGray;
                        background-color: $mainExtraLightGray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }

        &--btn {
            padding: 5px 10px;
            margin-top: 20px;
            border-top: 1px solid $mainDarkGray;
            @mixin clearfix;
            font-size: .8125rem;

            & > button {
                position: relative;
                padding: 6px 10px;
                border-radius: 5px;
                border: none; 
                outline: none;
                cursor: pointer;
                box-shadow: 0 1px 2px 0 rgba($mainDarkBlack, .85);

                &:disabled {
                    opacity: .75;
                    cursor: not-allowed;
                }
            }

            &__cancel {
                background-color: #fff;
                color: $mainLightRed;
                float: left;

                &:hover {
                    background-color: $mainExtraLightGray;
                }
            }

            &__apply {
                background-color: $mainDarkBlue;
                color: #fff;
                float: right;

                &:not(:disabled):hover {
                    background-color: $mainDarkPaleBlue;
                }
            }

            @mixin atSmall {
                padding: 5px 30px;
            }
        }

        @mixin atSmall {
            padding: 20px; 
        }

        @mixin atMedium {
            width: 780px;
        }
    }
}