.reuse-categ {
    position: relative;
    float: left;
    border: 1px solid rgba($mainLightBlue, .2);
    border-top: 3px solid $mainLightBlue;
    color: $mainFontColor;
    margin-right: 20px;
    padding: 8px 0;
    width: 90px;
    text-align: center;
    border-radius: 3px;
    font-size: .8125rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;

   &__opt {
        margin: 0;
        padding: 2px 0;
        list-style: none;
        text-align: left; 
        @mixin clearfix;
        position: absolute;
        box-shadow: 0px 0px 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
        background-color: #fff; 
        left: 0;
        width: 150px;
        height: 240px;
        overflow: hidden;
        overflow-y: auto;
        top: 35px;
        z-index: 2;
        transition: all .3s ease-in;

        & > li {
            float: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

            & > a {
                text-decoration: none;
                color: $mainFontColor;
                display: block;
                padding: 6px 20px; 

                &:hover {
                    background-color: $mainDarkBlue;
                    color: #fff;
                }
            }
        }
   }

   @mixin atSmall {
       display: block; 
   }
}