<div class="chats__logs">
        <div class="chats__logs--shad"></div>
        <div class="chats__logs--mainclose">
            <i class="fas fa-times icon icon__chats--log__maincloseIcon"></i>
        </div>
        <ul class="chats__logs--header">
            <li class="chats__logs--header__notifyHolder">
                <div class="chats__logs--header__notifyHolder--content">
                    <div class="chats__logs--header__notifyOnline">
                         2
                    </div>
                </div>
                <div class="chats__logs--header__notifyHolder--content">
                    <div class="chats__logs--header__notifyOffline">
                        2
                    </div>
                </div>
            </li>
            <li class="chats__logs--header__title">
                <p>Chat Room</p>
            </li>
            <li class="chats__logs--header__input">
                <input type="text" class="chats__logs--header__searchChat--input" placeholder="Search User">
                <div class="chats__logs--header__searchChat--searchIcon">
                    <i class="fas fa-search icon icon__site-main__nav--chatLog__searchIcon"></i>
                </div>
            </li>
        </ul>

        <div class="chats__logs--mainOutlet">
            <div class="chats__logs--user">
                <ul class="chats__logs--user__header">
                    <li></li>
                    <li class="chats__logs--user__header--online">
                        <div class="chats__logs--user__header--online__leftspace"></div>
                        <div class="chats__logs--user__header--online__title">Online</div>
                        <div class="chats__logs--user__header--online__rightspace"></div>
                        <div class="chats__logs--user__header--online__bottomspace"></div>
                    </li>
                    <li>Offline</li>
                </ul>
                <div class="chats__logs--user__outlet">
                    <div class="chats__logs--user__wrapper">
                        <div class="chats__logs--user__img">
                            <div class="active__main active__main--chat_room"><div>99</div></div>
                            <div class="chats__logs--user__view--userdetails">
                                <a href=""><i class="fas fa-comment-dots icon icon__site-main__nav--chatLog__chaticon"></i></a> 
                                <a class="chats__logs--user__view--userdetails__user"><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeicon"></i></a> 
                            </div>
                            <div class="chats__logs--user__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <div class="chats__logs--user__details">
                            <div class="chats__logs--user__details--header"> 
                                <h3 class="chats__logs--user__details--header__title">The user user The user user The user user</h3>
                                <h3 class="chats__logs--user__details--header__userStatus chats__logs--user__details--header__userStatus--online"><i class="fas fa-circle icon icon__chats--logs__user--details__online"></i> online</h3>
                            </div>
                            <div class="chats__logs--user__details--mssage">
                                {{!-- <p class="chats__logs--userOnline__details--mssage__last">Pls do you know the response Pls do you i know the response</p> --}}
                                <p class="chats__logs--user__details--mssage__usertyping">
                                    <span>Typing . . .</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chats__logs--user__wrapper">
                        <div class="chats__logs--user__img">
                            <div class="active__main active__main--chat_room"><div>99</div></div>
                            <div class="chats__logs--user__view--userdetails">
                                <a href=""><i class="fas fa-comment-dots icon icon__site-main__nav--chatLog__chaticon"></i></a> 
                                <a class="chats__logs--user__view--userdetails__user"><i class="fas fa-eye icon icon__site-main__nav--chatLog__eyeicon"></i></a> 
                            </div>
                            <div class="chats__logs--user__img--holder">
                                <img src="/" alt="">
                            </div> 
                        </div>
                        <div class="chats__logs--user__details">
                            <div class="chats__logs--user__details--header"> 
                                <h3 class="chats__logs--user__details--header__title">The user user The user user The user user</h3>
                                <h3 class="chats__logs--user__details--header__userStatus chats__logs--user__details--header__userStatus--offline"><i class="fas fa-circle icon icon__chats--logs__user--details__offline"></i> offline <span>2m ago</span></h3>
                            </div>
                            <div class="chats__logs--user__details--mssage">
                                <p class="chats__logs--userOnline__details--mssage__last">Pls do you know the response Pls do you i know the response</p>
                                {{!-- <p class="chats__logs--user__details--mssage__usertyping">
                                    <span>Typing . . .</span>
                                </p> --}}
                            </div>
                        </div>
                    </div>

                </div>
            </div> 

        </div>
        <div class="chats__logs--footer">
        </div>
    </div>