<div class="site-main__chat--nav">
    <div class="site-main__chat--nav__wrapper">
        <div class="site-main__chat--nav__shad"></div>
        <div class="site-main__chat--nav__close">
            <i class="fas fa-times icon icon__site-main--chat__nav--close"></i>
        </div> 
        <div class="site-main__chat--nav__header site-main__chat--nav__header--share">
            <div class="site-main__chat--nav__header--det">
                <h4 class="site-main__chat--nav__header--det__title site-main__chat--nav__header--det__title--share">
                    <i class="fas fa-location-arrow icon icon__site-main--chat__nav--share"></i>  Share Chat
                </h4>
            </div>
            <div class="site-main__chat--nav__header--srch">
                <input type="text" class="site-main__chat--nav__header--srch__input" placeholder="Search User">
                <div>
                    <i class="fas fa-search icon icon__site-main--chat__nav--srch"></i>
                </div>
            </div>
        </div>
        <div class="site-main__chat--nav__cnt">
            <div class="site-main__chat--nav__cnt--wrapper">
                <h4 class="site-main__chat--nav__cnt--title">
                    Click User image to select
                    {{!-- <i class="fas fa-users icon icon__site-main--chat__nav--cnt__users"></i> Select Users --}}
                </h4> 
                <ul class="site-main__chat--nav__cnt--tab site-main__chat--nav__cnt--tab__share">
                    <li class="site-main__chat--nav__cnt--tab__active">
                        Online
                    </li>
                    <li>Offline</li>
                    <li>Group</li>
                </ul> 
                <div class="site-main__chat--nav__cnt--user">
                    <div class="site-main__chat--nav__cnt--user__wrapper">
                        <div class="site-main__chat--nav__cnt--user__img">
                            <img src="/" alt="">
                            {{!-- <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__on"></div> --}}
                            <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__off"></div>
                        </div>
                        <ul class="site-main__chat--nav__cnt--user__det">
                            <li><a href="">User user <span>@ 2m ago</span></a></li>
                            <li><a href="">Pls do you know the response Pls do you i know the response</a></li>
                        </ul>
                    </div>
                    <div class="site-main__chat--nav__cnt--user__wrapper">
                        <div class="site-main__chat--nav__cnt--user__img">
                            <img src="/" alt="">
                            <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__on"></div>
                            {{!-- <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__off"></div> --}}
                        </div>
                        <ul class="site-main__chat--nav__cnt--user__det">
                            <li><a href="">User user</a></li>
                            {{!-- <li><a href="">Pls do you know the response Pls do you i know the response</a></li> --}}
                            <li><a href=""><span>Typing . . .</span></a></li>
                        </ul>
                    </div>
                    <div class="site-main__chat--nav__cnt--user__wrapper">
                        <div class="site-main__chat--nav__cnt--user__img">
                            <img src="/" alt="">
                        </div>
                        <ul class="site-main__chat--nav__cnt--user__det">
                            <li><a href="">The Poeters and Writers</a></li>
                            {{!-- <li><a href="">Pls do you know the response Pls do you i know the response</a></li> --}}
                            <li><a href="">User user <span>Typing . . .</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-main__chat--nav__footer">
            <h4><span>24</span> Selected</h4>
            <div class="site-main__chat--nav__footer--share">
                <i class="fas fa-location-arrow icon icon__site-main--chat__nav--share"></i> Share
            </div>
            <div class="site-main__chat--nav__footer--view">
                <i class="fas fa-users icon icon__site-main--chat__nav--footer__users"></i> View
            </div>
        </div>
    </div> 
</div>