<div class="site-main__groupchat">
     
     <div class="site-main__userdetails">
        <div class="site-main__userdetails--header">
            <ul class="site-main__userdetails--header__backopt">
                <li class="site-main__userdetails--header__backopt--title">back</li>
                <li class="site-main__userdetails--header__backopt--switcher">
                    <div><i class="fas fa-angle-double-right icon icon__site-main--userdetails__backopt"></i></div>
                </li>
            </ul>
             <div class="site-main__userdetails--header__title">
                <i class="fas fa-circle icon icon__site-main--userdetails__header--circleleft">
                </i>
                <span class="site-main__userdetails--header__title--main">
                    User Details
                </span>
                <i class="fas fa-circle icon icon__site-main--userdetails__header--circleright">
                </i>
            </div>
            <ul class="site-main__userdetails--header__cancelopt">
                <li class="site-main__userdetails--header__cancelopt--title">close</li>
                <li class="site-main__userdetails--header__cancelopt--switcher">
                    <div><i class="fas fa-times icon icon__site-main--userdetails__cancelopt"></i></div>
                </li>
            </ul>
        </div>
        <div class="site-main__userdetails--status">
            online
        </div>
        <div class="site-main__userdetails--sub-main">
            <div class="site-main__userdetails--sub-main__header">
                <div class="site-main__userdetails--sub-main__header--wrapper">
                    <div class="site-main__userdetails--sub-main__header--img">
                        <img src="/" alt="">
                    </div>
                    <ul class="site-main__userdetails--sub-main__header--user">
                        <li class="site-main__userdetails--sub-main__header--user__title">user user</li>
                        <li class="site-main__userdetails--sub-main__header--user__occup">occupation <span>Teacher</span></li>
                    </ul>
                </div>
            </div>
            <div class="site-main__userdetails--sub-main__about">
                <div class="site-main__userdetails--sub-main__about--title"><span><i class="fas fa-user"></i></span> About Me</div>
                <p class="site-main__userdetails--sub-main__about--content">
                    i only feel like should do this things which is the hottest as of d year don't ask me about it now
                </p>
            </div>
        </div>
        <div class="site-main__userdetails--main">
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-user icon icon__site-main__userdetails--main__details--icon"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li class="site-main__userdetails--main__details--content__stuacccept">Students Accepted <span>2222</span> </li>
                    <li class="site-main__userdetails--main__details--content__stureject">Students Rejected<span>0</span></li>
                </ul>
            </div>
             <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-coffee icon icon__site-main__userdetails--main__details--coffee"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Online Questions <span class="site-main__userdetails--main__details--content__onlinequetotal">222k</span></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-edit icon icon__site-main__userdetails--main__details--icon"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Questions Answered <span class="site-main__userdetails--main__details--content__questotal">222k</span></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-clone icon icon__site-main__userdetails--main__details--post"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Post Published <span class="site-main__userdetails--main__details--content__posttotal">222k</span></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-people-carry icon icon__site-main__userdetails--main__details--peopcarry"></i>
                </div> 
                <ul class="site-main__userdetails--main__details--content">
                    <li>Communities <span class="site-main__userdetails--main__details--content__comitytotal">222k</span></li>
                </ul>
            </div> 
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon">
                    <i class="fas fa-users icon icon__site-main__userdetails--main__details--icon"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Groups <span class="site-main__userdetails--main__details--content__grouptotal">222k</span></li>
                </ul>
            </div>
            <div class="site-main__userdetails--main__details">
                <div class="site-main__userdetails--main__details--icon site-main__userdetails--main__details--icon__store">
                    <i class="fas fa-store icon icon__site-main__userdetails--main__details--iconstore"></i>
                </div>
                <ul class="site-main__userdetails--main__details--content">
                    <li>Items in stock<span class="site-main__userdetails--main__details--content__itemtotal">222k</span></li>
                </ul>
            </div>
        </div>
        <div class="site-main__userdetails--footer">
            <div class="site-main__userdetails--footer__facicon">
                <div class="site-main__userdetails--footer__facicon--icon">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </div>
            <div class="site-main__userdetails--footer__goicon">
                 <div class="site-main__userdetails--footer__goicon--icon">
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="outlet">
         {{> partialchatroom}}
    </div>
    
<div class="site-main__groupchat--mainwrapper">
   <div class="site-main__groupchat--header">
       <h3 class="site-main__groupchat--header__title">
           Peom and prose group to help all who have grim for it
        </h3>
        <div class="site-main__groupchat--header__details">
            <ul class="site-main__groupchat--header__details--firstdetails">
                <li class="site-main__groupchat--header__details--firstdetails__users"><i class="fas fa-users icon icon__site-main--groupchat__header--user"></i></li>
                <li class="site-main__groupchat--header__details--firstdetails__total"><span>222k</span>   users</li>
            </ul>
            <div class="site-main__groupchat--header__details--seconddetails">
                <div class="site-main__groupchat--header__details--seconddetails__sh-more-lg">
                    <span>details</span>
                </div>
                <div class="site-main__groupchat--header__details--seconddetails__sh-more-sm">
                    <span>chat room</span>
                </div>
            </div>
            <div class="site-main__groupchat--header__details--lastdetails">
                <span><i class="far fa-calendar-alt icon icon__site-main--groupchat__calend"></i> created 23/4/18</span>
            </div>
        </div>
        <div class="site-main__groupchat--header__options">
            <div class="site-main__groupchat--header__options--circle">
                <div class="site-main__groupchat--header__options--circle__middle"></div>
            </div>
            <div class="active__main active__main--chat_main"><div>99</div></div>
            <ul class="site-main__groupchat--header__options--list">
                <li class="site-main__groupchat--header__options--list__search"> Search Chat </li>
                <li class="site-main__groupchat--header__options--list__switGroup">
                    Switch Group <i class="fas fa-caret-right icon icon__site-main--groupchat--option__caret"></i>
                    <div class="site-main__groupchat--header__options--group">
                        <input type="text" class="site-main__groupchat--header__options--group__input" placeholder="search group...">
                        <div class="site-main__groupchat--header__options--group__content">
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="active__main active__main--group-item"><div>9</div></div>
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                            <div class="site-main__groupchat--header__options--group__content--wrapper">
                                <div class="site-main__groupchat--header__options--group__content--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--group__content--details">
                                    <li class="site-main__groupchat--header__options--group__content--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--group__content--details__status"><div class="site-main__groupchat--header__options--group__content--details__status--online"><span>22k</span> online</div> <div class="site-main__groupchat--header__options--group__content--details__status--offline"><span>2k</span> offline</div> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="site-main__groupchat--header__options--currentclk">Current Chat <i class="fas fa-caret-right icon icon__site-main--groupchat--option__caret"></i>
                    <div class="site-main__groupchat--header__options--current">
                        <ul class="site-main__groupchat--header__options--current__tab">
                            <li>Private Chat</li>
                            <li>Public Chat</li>
                        </ul>
                        <div class="site-main__groupchat--header__options--current__outlet">
                            <div class="site-main__groupchat--header__options--current__chat">
                                <div class="site-main__groupchat--header__options--current__chat--img">
                                    <div class="active__main active__main--group-item"><div>9</div></div>
                                    <img src="/" alt="">
                                </div>
                                <div class="site-main__groupchat--header__options--current__chat--details">
                                    <ul>
                                        <li class="site-main__groupchat--header__options--current__chat--details__title">User user</li>
                                        {{!-- <li class="site-main__groupchat--header__options--current__chat--details__status">online</li> --}}
                                        <li class="site-main__groupchat--header__options--current__chat--details__status site-main__groupchat--header__options--current__chat--details__status--off">offline 2m ago</li>
                                    </ul>
                                    <div class="site-main__groupchat--header__options--current__chat--lastmssge">
                                        What is the real defination pls, i need it
                                    </div>
                                </div>
                            </div>
                             <div class="site-main__groupchat--header__options--current__group">
                                <div class="site-main__groupchat--header__options--current__group--img"><img src="/" alt=""></div>
                                <ul class="site-main__groupchat--header__options--current__group--details">
                                    <li class="site-main__groupchat--header__options--current__group--details__title">The real community for programmers The real community for programmers The real community for programmers</li>
                                    <li class="site-main__groupchat--header__options--current__group--details__status">
                                        <div class="site-main__groupchat--header__options--current__group--details__status--online"><span>22k</span> online</div> 
                                        <div class="site-main__groupchat--header__options--current__group--details__status--offline"><span>2k</span> offline</div> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="site-main__groupchat--header__options--searchuser">
                    Search User
                    <div class="site-main__groupchat--header__options--search">
                        <div class="site-main__groupchat--header__options--search__header">
                            <input type="text" class="site-main__groupchat--header__options--search__header--input" placeholder="search user....">
                        </div>
                        <div class="site-main__groupchat--header__options--search__wrapper">
                            <div class="site-main__groupchat--header__options--search__chat">
                                <div class="site-main__groupchat--header__options--search__chat--switch">
                                    <i class="far fa-comment-dots"></i>
                                </div>
                                <div class="site-main__groupchat--header__options--search__chat--img">
                                    <div class="active__main active__main--group-item"><div>9</div></div>
                                    <img src="/" alt="">
                                </div>
                                <div class="site-main__groupchat--header__options--search__chat--details">
                                    <ul>
                                        <li class="site-main__groupchat--header__options--search__chat--details__title">User user</li>
                                        {{!-- <li class="site-main__groupchat--header__options--search__chat--details__status">online</li> --}}
                                        <li class="site-main__groupchat--header__options--search__chat--details__status site-main__groupchat--header__options--search__chat--details__status--off">offline 2m ago</li>
                                    </ul>
                                    <div class="site-main__groupchat--header__options--search__chat--lastmssge">
                                        What is the real defination pls, i need it
                                    </div>
                                </div>
                            </div>

                        <div class="site-main__groupchat--header__options--search__chat">
                            <div class="site-main__groupchat--header__options--search__chat--switch">
                                <i class="far fa-comment-dots"></i>
                            </div>
                            <div class="site-main__groupchat--header__options--search__chat--img">
                                <div class="active__main active__main--group-item"><div>9</div></div>
                                    <img src="/" alt="">
                                </div>
                                <div class="site-main__groupchat--header__options--search__chat--details">
                                    <ul>
                                        <li class="site-main__groupchat--header__options--search__chat--details__title">User user</li>
                                        <li class="site-main__groupchat--header__options--search__chat--details__status">online</li>
                                        {{!-- <li class="site-main__groupchat--header__options--search__chat--details__status site-main__groupchat--header__options--search__chat--details__status--off">offline 2m ago</li> --}}
                                    </ul>
                                    <div class="site-main__groupchat--header__options--search__chat--nomssge">
                                        Occupation: <span>teacher</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
   </div>
   <div class="site-main__groupchat--detail">
       <div class="site-main__groupchat--detail__wrapper">
           <div class="site-main__groupchat--detail__header">
                <div class="site-main__groupchat--detail__header--imgwrapper">
                    <div class="site-main__groupchat--detail__header--img">
                        <img src="/" alt="">
                    </div>
                </div>
                <ul class="site-main__groupchat--detail__header--list">
                    <li class="site-main__groupchat--detail__header--list__group">Group: <span>The Peom and Peot Group</span></li>
                    <li class="site-main__groupchat--detail__header--list__comty">Community: <span>The Peom community</span></li>
                </ul>
            </div>
            <div class="site-main__groupchat--detail__dest">
                <div class="site-main__groupchat--detail__dest--header">
                    Description
                </div>
                <div class="site-main__groupchat--detail__dest--content">
                     This group is meants for best peoms only, it is the 
                     best group fon those interested in peom writing only
                </div>
            </div>
            <div class="site-main__groupchat--detail__admin">
                <div class="site-main__groupchat--detail__admin--img">
                    <img src="/" alt="">
                </div>
                <ul class="site-main__groupchat--detail__admin--detail">
                    <li class="site-main__groupchat--detail__admin--detail__title">Admin user user</li>
                    <li class="site-main__groupchat--detail__admin--detail__status site-main__groupchat--detail__admin--detail__status--online">online</li>
                    {{!-- <li class="site-main__groupchat--detail__admin--detail__status site-main__groupchat--detail__admin--detail__status--offline">offline</li> --}}
                </ul>
            </div>
            <div class="site-main__groupchat--detail__footer">
                <ul class="site-main__groupchat--detail__footer--content">
                    <li class="site-main__groupchat--detail__footer--content__online">online <span>34k</span>users</li>
                    <li class="site-main__groupchat--detail__footer--content__offline">offline <span>2</span>users</li>
                </ul>
            </div>
       </div>
   </div>
    <div class="site-main__groupchat--options">
       <ul class="site-main__groupchat--options__commentopt">
           <li class="site-main__groupchat--options__commentopt--share"><i class="fas fa-location-arrow icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--edit"><i class="far fa-edit  icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--fav"><i class="far fa-heart  icon icon__site-main--groupchat__optionsicon"></i></li>
           <li class="site-main__groupchat--options__commentopt--bin"><i class="far fa-trash-alt  icon icon__site-main--groupchat__optionsicon"></i></li>
       </ul>
    </div>
    <div class="site-main__groupchat--chatbox">
       <div class="site-main__groupchat--chatbox__wrapper">
            <div class="site-main__groupchat--chatbox__search">
                <div class="site-main__groupchat--chatbox__search--wrapper">
                    <div class="site-main__groupchat--chatbox__search--close">
                    <i class="fas fa-times icon icon__site-main--groupchat__chatbox--searchicon"></i>
                    </div>
                    <div class="site-main__groupchat--chatbox__search--calend">
                        <i class="far fa-calendar-alt icon icon__site-main--groupchat__chatbox--calend"></i>
                    </div>
                    <input type="text" placeholder="search chat" class="site-main__groupchat--chatbox__search--input">
                </div>
            </div>   
            <div class="site-main__groupchat--chatbox__chatdate">
                <div class="site-main__groupchat--chatbox__chatdate--current">today</div> 
            </div>
            <div class="site-main__groupchat--chatbox__firstchat">
                <div class="site-main__groupchat--chatbox__firstchat--wrapper">
                    <div class="site-main__groupchat--chatbox__firstchat--content">
                        Am i speaking with the guy n red today?
                        immediate response pls... 
                        Am i speaking with the guy n red today?
                        immediate response pls... 
                        Am i speaking with the guy n red today?
                        immediate response pls... 
                    </div>
                    <ul class="site-main__groupchat--chatbox__firstchat--footer">
                        <li class="site-main__groupchat--chatbox__firstchat--footer__chattime">11: 12pm</li>
                        <li class="site-main__groupchat--chatbox__firstchat--footer__user">
                            user user
                            <div class="site-main__groupchat--chatbox__firstchat--footer__user--img">
                                <img src="/" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-main__groupchat--chatbox__secondchat">
                <div class="site-main__groupchat--chatbox__secondchat--wrapper">
                    <div class="site-main__groupchat--chatbox__secondchat--content">
                        Sure i am the one that was speaking with you yesterday,
                            do you remember pls ?
                    </div>
                    <ul class="site-main__groupchat--chatbox__secondchat--footer">
                        <li class="site-main__groupchat--chatbox__secondchat--footer__user">
                            user user
                            <div class="site-main__groupchat--chatbox__secondchat--footer__user--img">
                                <img src="/" alt="">
                            </div>
                        </li>
                        <li class="site-main__groupchat--chatbox__secondchat--footer__chattime">11: 12pm</li>
                    </ul>
                </div>
            </div>
            <div class="site-main__groupchat--chatbox__typing">
                <div class="site-main__groupchat--chatbox__typing--wrapper">
                    <span class="site-main__groupchat--chatbox__typing--wrapper__content">
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--up"></i>
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--down"></i>
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--up"></i>
                        <i class="fas fa-circle icon  icon__site-main--groupchat__typing--down icon__site-main--groupchat__typing--lasticon"></i>
                    </span>
                </div>
            </div>
       </div>
    </div>
    <div class="site-main__groupchat--footer">
        <div class="site-main__groupchat--footer__mic">
            <div class="site-main__groupchat--footer__mic--wrapper">
                <i class="fas fa-microphone icon icon__site-main__groupchat--footer__mic"></i>
            </div>
        </div>
        <div class="site-main__groupchat--footer__input">
           <textarea  class="site-main__groupchat--footer__input--field" placeholder="Type something ....." autofocus></textarea>
            <div class="site-main__groupchat--footer__input--mousein"><i class="fas fa-location-arrow icon icon__site-main--groupchat__footer--sharearrow"></i></div>
            <div class="site-main__groupchat--footer__input--mouseout"><i class="fas fa-paperclip icon icon__site-main--groupchat__footer--clip"></i></div>
            <div class="site-main__groupchat--footer__input--smile"><i class="far fa-smile icon icon__site-main--groupchat__footer--smile"></i></div>
        </div>
        <div class="site-main__groupchat--footer__camera">
            <div class="site-main__groupchat--footer__camera--wrapper">
                <i class="fas fa-camera icon icon__site-main__groupchat--footer__camera"></i>
            </div>
        </div>
        <div class="site-main__groupchat--footer__clip">
            <div class="site-main__groupchat--footer__clip--wrapper">
                <i class="fas fa-paperclip icon icon__site-main__groupchat--footer__clip"></i>
            </div>
        </div>
    </div>

    <div class="site-main__groupchat--attachWrapper">
        <div class="site-main__groupchat--attachContent">
            <ul class="site-main__groupchat--attach">
                <li>
                    <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__camicon">
                        <i class="fas fa-camera icon icon__site-main__nav--chaticon"></i>
                    </div>
                    <p class="site-main__groupchat--attach__title">Camera</p>
                </li>
                <li>
                    <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__videoicon">
                        <i class="fas fa-video icon icon__site-main__nav--chaticon"></i>
                    </div>    
                     <p class="site-main__groupchat--attach__title">Video recorder</p>
                </li>
                <li class="site-main__groupchat--attach__pic">
                    <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__imageicon">
                        <i class="fas fa-images icon icon__site-main__nav--chatimageicon"></i>
                    </div> 
                     <p class="site-main__groupchat--attach__title">Picture picker</p>     
                </li>
            </ul>
            <ul class="site-main__groupchat--attach site-main__groupchat--secondattach">
                <li>
                    <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__locationicon">
                    <i class="fas fa-map-marker-alt icon icon__site-main__nav--chatlocationicon"></i>
                    </div> 
                     <p class="site-main__groupchat--attach__title">Share location</p>
                    </li>
                    <li>
                        <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__fileicon">
                            <i class="fas fa-file icon icon__site-main__nav--chaticon"></i>
                        </div>
                        <p class="site-main__groupchat--attach__title">Documents</p>
                    </li>
                    <li class="site-main__groupchat--attach__audio">
                        <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__audioicon">
                            <i class="fas fa-headphones icon icon__site-main__nav--chaticon"></i>
                        </div>
                        <p class="site-main__groupchat--attach__title">Audio picker</p>
                    </li>
                </ul> 
                <ul class="site-main__groupchat--attach site-main__groupchat--smattach">
                    <li>
                        <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__imageicon">
                            <i class="fas fa-images icon icon__site-main__nav--chatimageicon"></i>
                        </div> 
                        <p class="site-main__groupchat--attach__title">Picture picker</p>     
                    </li>
                    <li>
                        <div class="site-main__groupchat--attach__iconHolder site-main__groupchat--attach__audioicon">
                            <i class="fas fa-headphones icon icon__site-main__nav--chaticon"></i>
                        </div>
                        <p class="site-main__groupchat--attach__title">Audio picker</p>
                    </li>
                </ul> 
            </div>
        </div>
   </div>
</div>