<div class="site-main__chat--header">
    <div class="site-main__chat--header__img">
    </div>
    <h3 class="site-main__chat--header__title">
        Peom and prose group to help all who have grim for it
        Peom and prose group to help all who have grim for it
        Peom and prose group to help all who have grim for it
    </h3>
    <div class="site-main__chat--header__det">
        <div class="site-main__chat--header__det--users site-main__chat--header__det--users__grp">
            <div class="site-main__chat--header__det--users__icn"><i class="fas fa-users icon icon__site-main--chat__header--user"></i></div>
            <span>222k</span>
        </div>
        <div class="site-main__chat--header__det--cnt site-main__chat--header__det--cnt__lg">
            Details
            <div></div>
        </div>
        <div class="site-main__chat--header__det--cnt site-main__chat--header__det--cnt__sm">
            Chat Room
        </div>
        <div class="site-main__chat--header__det--calend">
            <i class="far fa-calendar-alt icon icon__site-main--chat__header--calend"></i> 23/4/18
        </div>
    </div>    
    <div class="site-main__chat--header__user-opt">
        <div class="site-main__chat--header__user-opt--circle">
            <div class="site-main__chat--header__user-opt--circle__middle"></div>
        </div>
        <div class="active__main active__main--chat-opt"><div>99</div></div>
        <ul class="site-main__chat--header__user-opt--list">
            <li class="site-main__chat--header__user-opt--list__srch"> Search Chat </li>
            <li class="site-main__chat--header__user-opt--list__grp"> Groups <i class="fas fa-caret-right icon icon__site-main--chat__header--angle"></i></li>
            <li class="site-main__chat--header__user-opt--list__chat"> Current Chats <i class="fas fa-caret-right icon icon__site-main--chat__header--angle"></i></li>
            <li class="site-main__chat--header__user-opt--list__srch-user"> Users <i class="fas fa-caret-right icon icon__site-main--chat__header--angle"></i></li>
            <li class="site-main__chat--header__user-opt--list__grp-det">Group Details</li>
        </ul>
    </div>
</div>
