<div class="site-main__chat--nav">
    <div class="site-main__chat--nav__wrapper">
        <div class="site-main__chat--nav__shad"></div>
        <div class="site-main__chat--nav__close">
            <i class="fas fa-times icon icon__site-main--chat__nav--close"></i>
        </div> 
        <div class="site-main__chat--nav__header">
            <div class="site-main__chat--nav__header--det">
                <div class="site-main__chat--nav__header--det__on">
                    22 
                </div>
                <div class="site-main__chat--nav__header--det__off">
                    22
                </div>
                <h4 class="site-main__chat--nav__header--det__title">
                    Chat Room
                </h4>
            </div>
            <div class="site-main__chat--nav__header--srch">
                <input type="text" class="site-main__chat--nav__header--srch__input" placeholder="Search User">
                <div>
                    <i class="fas fa-search icon icon__site-main--chat__nav--srch"></i>
                </div>
            </div>
        </div>

        <div class="site-main__chat--nav__cnt">
            <div class="site-main__chat--nav__cnt--wrapper">
                <ul class="site-main__chat--nav__cnt--tab site-main__chat--nav__cnt--tab__rm">
                    <li class="site-main__chat--nav__cnt--tab__active">
                        Online
                    </li>
                    <li>Offline</li>
                </ul> 
                <div class="site-main__chat--nav__cnt--user">
                    <div class="site-main__chat--nav__cnt--user__wrapper">
                        <div class="site-main__chat--nav__cnt--user__img">
                            <img src="/" alt="">
                          {{!-- <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__on"></div> --}}
                            <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__off"></div>
                        </div>
                        <ul class="site-main__chat--nav__cnt--user__det">
                            <li><a href="">User user <span>@ 2m ago</span></a></li>
                            <li><a href="">Pls do you know the response Pls do you i know the response</a></li>
                        </ul>
                    </div>
                    <div class="site-main__chat--nav__cnt--user__wrapper">
                        <div class="site-main__chat--nav__cnt--user__img">
                            <img src="/" alt="">
                            <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__on"></div>
                            {{!-- <div class="site-main__chat--nav__cnt--user__img--status site-main__chat--nav__cnt--user__img--status__off"></div> --}}
                        </div>
                        <ul class="site-main__chat--nav__cnt--user__det">
                            <li><a href="">User user</a></li>
                            {{!-- <li><a href="">Pls do you know the response Pls do you i know the response</a></li> --}}
                            <li><a href=""><span>Typing . . .</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-main__chat--nav__footer">
        </div>
    </div>
</div>