<div class="site-main__chat--header">
    <div class="site-main__chat--header__img">
    </div>
    <h3 class="site-main__chat--header__title">
       User User USer
    </h3>
    <div class="site-main__chat--header__det">
        <div class="site-main__chat--header__det--status site-main__chat--header__det--status__on">
            <div></div> online
        </div>
        {{!-- <div class="site-main__chat--header__det--status site-main__chat--header__det--status__off">
            <div></div> offline
        </div> --}}
        <div class="site-main__chat--header__det--cnt site-main__chat--header__det--cnt__prf">
            Profile
        </div>
         <div class="site-main__chat--header__det--users site-main__chat--header__det--users__pvt">
            <div class="site-main__chat--header__det--users__icn"><i class="fas fa-user-friends icon icon__site-main--chat__header--user"></i></div>
            <span>222k</span>
        </div>
    </div>    
    <div class="site-main__chat--header__user-opt">
        <div class="site-main__chat--header__user-opt--circle">
            <div class="site-main__chat--header__user-opt--circle__middle"></div>
        </div>
        <div class="active__main active__main--chat-opt"><div>99</div></div>
        <ul class="site-main__chat--header__user-opt--list">
           <li class="site-main__chat--header__user-opt--list__srch"> Search Chat </li>
            <li class="site-main__chat--header__user-opt--list__grp"> Groups <i class="fas fa-caret-right icon icon__site-main--chat__header--angle"></i></li>
            <li class="site-main__chat--header__user-opt--list__chat"> Current Chats <i class="fas fa-caret-right icon icon__site-main--chat__header--angle"></i></li>
            <li class="site-main__chat--header__user-opt--list__srch-user"> Users <i class="fas fa-caret-right icon icon__site-main--chat__header--angle"></i></li>
            <li class="site-main__chat--header__user-opt--list__prf">Profile</li>
        </ul>
    </div>
</div>
