.active__main {
    position: absolute;
    background-color: $mainDarkRed;
    color: #fff;
    font-size: .875rem;
  
    &--tab {
        top: 4px;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        font-size: .8125rem;
        border: 1px solid rgba(255,255,255, .25);
       
        > div {
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            width: 100%;
            text-align: center;
        }

        @mixin atSmall {
            right: 8px; 
            top: 4px;  
        }
    }

    &--chat {
        top: -10px; 
        right: -12px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        font-size: .8125rem;
        border: 1px solid rgba(255,255,255, .25);
       
        > div {
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            width: 100%;
            text-align: center;
        }

        @mixin atSmall {
            right: -20px;  
        }
    }

}