.chats__logs {
    position: absolute;
    /* background-color: #2d6589; */
    /* background-color: #4582a9; */
    /* background-color: #4f88ad; */
    background-color: #4186AD;
    border-top: 1px solid #fff;
    /* top: -80px;  */
    top: 0;
    bottom: 0; 
    /* width: 250px; */
    /* opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease-in; */

    &--mainclose {
        position: absolute;
        top: 4px;
        right: 4px; 
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 9px;
        text-align: center;
        font-size: .8125rem;
        cursor: pointer;
    }

    &--header {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0 0 8px 0;
        width: 100%;
        border-bottom: 1px solid rgba(#fff, .3);
        @mixin clearfix;

        li {
            float: left;
            font-size: .875rem;
            margin: 0 10px; 

            &:first-child {
                margin-right: 10px 
            }
            
            &:last-child {
                margin: 0 41.3px 0 20px !important;
                cursor: pointer;
            }
        }

        &__notifyHolder {
            width: 28px;
            height: 28px;
            border-radius: 14px;
            color: #fff;
            text-align: center;
            position: relative;

            &--content {
                position: absolute;
                top: 22%;
                transform: translateY(-22%);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__notifyOnline {
            background-color: $mainLightGreen;
            border: .5px solid rgba($mainLightGreen, .5);
        }

        &__notifyOffline {
            background-color: $mainLightRed;
            border: .5px solid rgba(#fff, .5);
        }

        &__title {
            padding: 0;
            margin: 0;
            position: relative;
            top: 7px;
            color: #fff;
            left: 6px;
            font-weight: 400;
        }

        &__searchChat {
            position: relative;

            &--input {
                width: 130px;
                border: 1px solid $mainDarkGray;
                outline: none;
                padding: 6px 30px 6px 12px;
                border-radius: 12px;
                box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -o-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -ms-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -webkit-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                -moz-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
                border-top-right-radius: 13.5px;
                border-bottom-right-radius: 13.5px;
                font-size: .8125rem;
            }

            &--searchIcon {
                background-color: rgba($mainDarkBlue, .7);
                font-size: .875rem;
                position: absolute;
                top: 20px;
                right: 40.6px;
                /* border: 1px solid $mainDarkBlue; */
            }
        }

    }

    &--userOnline, &--userOffline {
       
        border-top: none;
        margin: 10px 10px 0 10px;
        padding: 0;
        background-color: rgba($mainMediumLightBlack, .2);
        border: 1px solid rgba(255, 255, 255, .45);
        position: relative;

        &__header {
            list-style: none;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid rgba(#fff, .3);
            @mixin clearfix;
            font-size: .875rem;
            
            li {
                float: left;
                width: 50%;
                font-weight: 300;
                color: #fff;
                text-align: center;
                margin: 0;
                padding: 5px 0;
                cursor: pointer;

                &:first-child {
                    float: none;
                    width: 100%;
                    padding: 1.5px;
                    background-color: #fff;
                    position: relative;
                    top: 0px;
                    box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -o-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -ms-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -webkit-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    -moz-box-shadow: 0px 1px 8.16px 7.84px rgba($mainMiddleDarkBlue, 0.46);
                    cursor: default;
                }

                &:last-child {
                    background-color: #fff;
                    color: $mainDarkBlue;
                    font-weight: 400;
                }
            }
        }

        &__outlet {
            max-height: 375px;
            overflow: hidden;
            overflow-y: auto;
        }

        &__wrapper {
            @mixin clearfix;
            padding: 10px 10px;
            border-bottom: 1px solid rgba(255, 255, 255, .45);
            position: relative;

            &:last-child {
                border: none;
            }

            &--bordervisible {
                background-color: rgba($mainLightBlue, .25);
                transition: all .3s ease-in;
            }

            &--borderhover {
                background-color: rgba($mainLightBlue, .25);
                transition: all .3s ease-in;
            }
        }

        &__img {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: #fff;
            cursor: pointer;
            position: relative;

            &--holder {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                cursor: pointer;
                overflow: hidden;
            }
        }

        &__view {
            &--userDetails {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($mainDarkBlack, .5);
                border-radius: 25px;
                border: .5px solid rgba($mainDarkBlack, .1);
                opacity: 0;
                transform: scale(.1);
                z-index: -1;
                transition: all .3s ease-in;

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transform: scale(1);
                    transition: all .3s ease-in;
                }
            }
        }

        &__details {
            float: left;
            margin: 0 0 0 20px;
            padding: 0;
            list-style: none;
            position: relative;
            top: 5px;
            

            li {
                float: none;
                font-size: .875rem;

                &:first-child {
                    @mixin clearfix;
                }
            }

            &--title {
                float: left;
                margin: 0;
                padding: 0;
                color: #fff;
                font-weight: 300;
                font-size: .8125rem;
                max-width: 105px;
                white-space: nowrap;
                overflow: hidden;
            }


            &--timeLeft {
                float: left;
                margin: 0 0 0 10px;
                padding: 0;
                color: #fff;
                font-size: .8125rem;
                font-style: italic;
                max-width: 60px;
                overflow: hidden;
                white-space: nowrap;
            }   
            
            &--lastMessage {
                padding: 0;
                margin: 10px 0 0 0;
                color: #fff;
                font-weight: 400;
                max-width: 263px;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all !important;
            }
        }

    }

    &--userOnline {
        &__details { 
            &--userStatus {
                float: left;
                margin:  0 ;
                padding: 0;
                color: #fff;
                font-size: .8125rem;
            }  

            &--statusIcon {
                float: left;
                height: 6px;
                width: 6px;
                border-radius: 3px;
                background-color: $mainLightGreen;
                margin: 0  10px 0 105px;
                position: relative;
                top: 3px;
                font-weight: 300;
            }

            &--userTyping {
                color: #fff;
                font-size: .8125rem;
                padding: 3px 0;
                margin: 7px 0 3px 0;
                background-color: $mainLightBlue;
                width: 100px;
                border-radius: 20px;
                text-align: center;
            }
        }
    }

    &--userOffline {
        &__details { 
            &--userStatus {
                float: left;
                margin:  0 0 0 0px !important;
                padding: 0 !important;
                color: #fff;
                font-size: .8125rem;
            }
            
            &--statusIcon {
                float: left;
                height: 6px;
                width: 6px;
                border-radius: 3px;
                background-color: $mainLightRed;
                margin: 0  10px 0 40px;
                position: relative;
                top: 3px;
                font-weight: 300;
            }
        }
    }

    &--selectIcon {
       position: absolute;
       right: 2px;
       top: 2px;
       color: $mainLightGreen;
       opacity: 0;
       visibility: hidden;
       z-index: -33;
       transition: all .3s ease-in;

       &__visible {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            transform: all .3s ease-in;
        }
    }

    &--selectIconActive {
        position: absolute;
        right: 0;
        top: 2px;
        right: 2px;
        color: $mainLightGreen;
        opacity: 0;
        visibility: hidden;
        z-index: -33;
        transition: all .3s ease-in;

        &__visible {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            transform: all .3s ease-in;
        }
    }

    &--share {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(#fff, .3);

        &__userselected {
            @mixin clearfix;
            margin: 20px 0 15px 0;

            &--title {
                float: left;
                text-align: right;
                color: #fff;
                font-weight: 400;
                font-size: .9375rem;
                width: 55%;
                padding: 0;
                margin: 0;
            }

            &--totalwrapper {
                float: left;
                text-align: left;
                width: 45%;
                font-size: .875rem;
                position: relative;
            }

            &--total {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: #fff;
                text-align: center;
                font-size: 500;
                position: absolute;
                left: 10px;
                top: -8px;
                box-shadow: 0 1px 9px 0 rgba($mainPaleBlue, .7);
                -o-box-shadow: 0 1px 9px 0 rgba($mainPaleBlue, .7);
                -webkit-box-shadow: 0 1px 9px 0 rgba($mainPaleBlue, .7);
                -moz-box-shadow: 0 1px 9px 0 rgba($mainPaleBlue, .7);
                -ms-box-shadow: 0 1px 9px 0 rgba($mainPaleBlue, .7);

                &__content {
                    font-size: 1rem;
                    color: $mainDarkBlue;
                    font-weight: 500;
                    position: absolute;
                    top: 22%;
                    transform: translateY(-22%);
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &__options {
            margin: 0;
            padding: 0;
            list-style: none;
            @mixin clearfix;
            font-size: .9375rem;

            li {
                float: left;
                width: 50%;
                text-align: left;
                margin-bottom: 5px;
                font-weight: 400;
            }

            &--firstitem {
                width: 90px;
                padding: 5px 0px;
                background-color: $mainExtraDarkPaleBlue;
                left: -50%;
                transform: translateX(50%);
                border-radius: 3px;
                color: #fff;
                font-size: .875rem;
                cursor: pointer;
                box-shadow: 0 3px 4px 1px rgba($mainChatLogColor, .6);
                -o-box-shadow: 0 3px 4px 1px rgba($mainChatLogColor, .6);
                -ms-box-shadow: 0 3px 4px 1px rgba($mainChatLogColor, .6);
                -webkit-box-shadow: 0 3px 4px 1px rgba($mainChatLogColor, .6);
                -moz-box-shadow: 0 3px 4px 1px rgba($mainChatLogColor, .6);
            }

            &--seconditem {
                width: 90px;
                padding: 5px 0;
                background-color: #fff;
                left: -50%;
                transform: translateX(50%);
                border-radius: 3px;
                font-size: .875rem;
                cursor: pointer;
                box-shadow: 0px 1px 6px 0 rgba($mainMediumLightBlack, .5);
                -o-box-shadow: 0px 1px 6px 0 rgba($mainMediumLightBlack, .5);
                -ms-box-shadow: 0px 1px 6px 0 rgba($mainMediumLightBlack, .5);
                -webkit-box-shadow: 0px 1px 6px 0 rgba($mainMediumLightBlack, .5);
                -moz-box-shadow: 0px 1px 6px 0 rgba($mainMediumLightBlack, .5);
            }
        }
    }

    &--visible {
        opacity: 1;
        visibility: visible;
        left: 0;
        z-index: 1;
        top: 0;
        width: auto;
        /* transform: scale(1); */
        transition: all .3s ease-in;
    }
    
}