.icon {

    &__site-main__content--tab {
        margin-right: 5px;
    }

    &__site-main--nav__trd--tm {
        margin-right: 3px;
        color: $mainLightRed; 
    }

    &__site-main--nav__trd--comment {
        margin-right: 3px;
        color: $mainDarkBlack; 
    }

    &__site-main--nav__trd--view {
        margin-right: 3px;
        color: $mainDarkBlue;  
    }

    &__site-main--nav__trd--tag {
        margin-right: 3px;
        color: rgba($mainMediumLightBlack, .6);
    }


    &__reuse-pt--footer__eye {
        color: $mainDarkBlack;
        cursor: pointer;
    }

    &__reuse-pt--footer__chats {
        color: $mainDarkBlue;
        cursor: pointer;
    }

    &__reuse-pt--footer__heart {
        color: $mainLightRed; 
        cursor: pointer;
    }

    &__reuse-pt--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-pt--header__tag {
        color: $mainLightBlack;
        cursor: pointer;
    }

    &__reuse-pt--share {
        position: absolute;
        top: 27%;
        transform: translate(-54%);
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-pt--options {
        margin-right: 10px;
    }

    &__reuse-pt--options__dft {
        margin-right: 5px;
    }

    &__reuse-que--header__tag {
        color: $mainLightBlack;
        cursor: pointer;
    }
    
    &__reuse-que--footer__thumbup {
        color: $mainDarkBlue;
        cursor: pointer;
    }

    &__reuse-que--footer__thumbdown {
        color: $mainDarkBlack;
        cursor: pointer;
    }

    &__reuse-que--footer__heart {
        color: $mainLightRed; 
        cursor: pointer;
    }

    &__reuse-que--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-que--options {
        margin-right: 10px;
    }

    &__reuse-que--options__dft {
        margin-right: 5px;
    }

    &__reuse-share--title {
        margin-left: 20px;
    }

    &__reuse-share--googleplus {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainDarkRed;
        float: right;
    }

    &__reuse-share--facebook {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainLightBlue;
        float: left;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-share--selec {
        color: $mainLightGreen;
    }

    &__reuse-share--content-ans {
        font-size: .625rem;
        color: $mainLightBlue;
    }

    &__reuse-share--content-snts {
        font-size: .625rem;
        color: $mainDarkPaleBlue;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-share--mainclose {
        font-size: .75rem;
        color: rgba($mainDarkBlack, .6);
    }
    
    &__reuse-share--close {
        font-size: .625rem;
        color: $mainLightRed;
    }

    &__reuse-share--user-selec__user {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-share--reset {
        color: $mainLightRed;
        margin-right: 5px;
        font-size: .875rem;
        position: relative;
        top: 1px;
    }

    &__reuse-group--header__calend {
        margin-right: 5px;
        color: rgba($mainDarkPaleBlue, .6);
    }

    &__reuse-group--cnt__add {
        font-size: .625rem;
        color: rgba($mainDarkPaleBlue, .6);
    }

    &__reuse-group--cnt__det {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-group--cnt__comment {
        margin-right: 10px;
        color: #fff; 
    }

    &__reuse-group--footer__users {
        color: $mainDarkPaleBlue;
    }

    &__reuse-group--footer__users-on {
        color: rgba($mainDarkBlack, .55);
    }

    &__reuse-que-help--user {
        font-size: 1.875rem;
        color: $mainDarkGray;
    }

    &__reuse-pwt--tag {
        color: $mainLightBlack;
    }

    &__reuse-pwt--quote {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 3.5px;
        left: 4.4px;
    }

    &__reuse-pwt--quoteright {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 5px;
        left: 4.4px;
    }

    &__reuse-pwt--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkPaleBlue;
        margin-left: 6px;
    }

    &__reuse-pwt--options {
        margin-right: 10px;
    }

    &__reuse-pwt--options__dft {
        margin-right: 5px;
    }

    &__reuse-pwt--footer__smile {
        margin-right: 5px;
        color: $mainDarkBlue;  
    }

    &__reuse-pwt--footer__heart {
        margin-right: 5px;
        color: $mainLightRed;
        cursor: pointer;
    }

    &__reuse-pwt--footer__comments {
        margin-right: 5px;
        color: $mainDarkBlack;
    }

    &__reuse-set--tm {
        margin-right: 5px;
    }

    &__reuse-set--angle {
        margin-left: 5px;
    }

}