.site-main__nav--chats {
    color: $mainFontColor;
    padding: 10px 0 0 0 ;
    display: none;
    position: relative;

    &__headerWrapper {
        margin: 8px 20px 0 20px;
        border-bottom: 1px solid $mainDarkGray;
        @mixin clearfix;
    }

    &__userStatus {
        list-style: none;
        margin: 0;
        padding: 0;
        @mixin clearfix;
        position: relative;
        float: left;
        /* display: flex; */

        li {
            float: left;
            font-size: .8125rem;
            position: relative;

            &:first-child {
               padding: 10px  10px 5px 0;
                cursor: pointer;

                 &::after {
                    content: "";
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    border-radius: 3px;
                    background-color: $mainMiddleDarkBlue;
                    left: 0px;
                    top: -1px;
                }
            }
        }

        &--title {
            margin-left: 35px;
            position: relative;
            top: -4px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            top: -4px;
            background-color: $mainLightGreen;
            z-index: 1;
            left: 24px;
        }
    }

    &__headerIcon {
        margin: 0;
        padding: 0px 0 0px 10px;
        list-style: none;
        @mixin clearfix;
        float: right;
        position: relative;

        li {
            float: left;
            padding: 5px 0px 3px 0;
            position: relative;
            color: #fff;
            font-size: .8125rem;
            margin: 10px 20px 2px 20px;
            top: -10px;
            

            &:first-child {
                /* margin-left: 0; */
            }

            &:last-child {
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    width: 28px;
                    height: 28px;
                    border-radius: 3px;
                    background-color: $mainExtraDarkPaleBlue;
                    z-index: -1;
                    pointer-events: none;
                    top: -2px;
                    left: -8px;
                    box-shadow: inset 0px 1px 9px 0 $mainDarkBlue;
                    -o-box-shadow: inset 0px 1px 9px 0 $mainDarkBlue;
                    -ms-box-shadow: inset 0px 1px 9px 0 $mainDarkBlue;
                    -webkit-box-shadow: inset 0px 1px 9px 0 $mainDarkBlue;
                    -moz-box-shadow: inset 0px 1px 9px 0 $mainDarkBlue;
                }     
            }

            &::after {
                position: absolute;
                content: "";
                width: 28px;
                height: 28px;
                border-radius: 14px;
                background-color: $mainExtraDarkPaleBlue;
                z-index: -1;
                pointer-events: none;
                top: -2px;
                left: -8px;
            }
        }

        &--items {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            transition: all .2s ease-in;

            &__notvisible {
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .2s ease-in;
            }
        }

        &--firstitems {
            cursor: pointer;
        }

        &--inputitem {
            position: absolute !important;
            width: 100px;
            right: 20px;
            float: none !important;
            top: -17px !important;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            z-index: -33;
            transition: all .3s ease-in;

            &::after {
                display: none;
            }

            &__visible {
                opacity: 1;
                visibility: visible;
                width: 215px;
                z-index: 1;
                transition: all .3s ease-in;
            }
        }

        &--search {
            cursor: pointer;
        }

        &--inputcalendar {
            position: absolute;
            left: 2px;
            color: $mainFontColor;
            font-size: 1.1rem;
            z-index: 1;
            margin: 0;
            text-align: center;
            padding: 3.5px 6px 2.9px 6px;
            background-color: $mainHeaderColor;
            color: rgba($mainDarkBlack, .48);
            top: 6px;
            width: 40px;
            cursor: pointer;
            border-right: .5px solid $mainDarkGray;
        }

        &--input {
            width: 100%;
            padding: 6px 6px 6px 45px;
            border: 1px solid rgba($mainDarkBlack, .2);
            border-radius: 3px;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            outline: none;
        }
    }

    &__groupList {
        list-style: none;
        padding: 0;
        margin: 10px 20px 0 20px;
        @mixin clearfix;
        font-weight: 400;
        font-size: .8125rem;

        li {
            /* width: 120px; */
            text-align: center;
            float: left;
            padding: 5px 0;

            &:last-child {
                max-width: 230px;
                border: 1px solid $mainDarkGray;
                background-color: $mainExtraLightGray;
                color: $mainFontColor;
                padding: 5px 10px; 
                margin: 0 0 0 20px;
                white-space: nowrap;
                cursor: pointer;
                position: relative;
            }
        }

        &--options {
            position: absolute;
            background-color: #fff;
            list-style: none;
            margin: 0;
            padding: 3px 0;
            @mixin clearfix !important;
            width: 100%;
            left: 0 !important;
            top: 26px;
            cursor: default;
            border: 1px solid $mainDarkGray;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            transition: all .3s ease-out;

            li {
                float: none;
                padding: 5px 0 5px 10px;
                text-align: left;
                cursor: pointer;

                &:first-child {
                    float: none;
                    padding: 5px 0 5px 10px;
                    text-align: left;
                }

                &:last-child {
                    float: none;
                    border: 0;
                    background: transparent;
                    padding: 5px 0 5px 10px;
                    margin: 0;
                    text-align: left !important;
                }
            }

            &__visible {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                transition: all .3s ease-out;
            }
        }
    }

    &__currentday {
        font-size: .8125rem;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba($mainDarkBlue, .6);
        margin: 10px 20px 20px 20px;
    }

    &__firstChatBox {
        margin: 10px 0 60px 0;
        font-weight: 400;
        font-size: .9375rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 20px 0 0;
        
        &--wrapper {
            color: $mainFontColor;
            width: 85%;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -o-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -ms-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -webkit-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -moz-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            position: relative;

            @mixin atLarge {
                width: 70%;
            }
        }

        &--content {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            padding: 10px 10px 15px 10px;
            text-align: center;
            margin: 0;
            line-height: 1.5;
            /* box-shadow: 0px 1px 0px blue; */
            box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -o-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -moz-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -webkit-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -ms-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
        }

        &--footer {
            @mixin clearfix;

            &__details {
                float: left;
                position: relative;

                &--middle {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $mainExtraLightBlue;
                    left: 10px;
                    top: 7px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $mainExtraLightBlue;
                    left: 30px;
                    top: 7px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $mainExtraLightBlue;
                    left: 50px;
                    top: 7px;
                }
            }
            &__user {
                float: right;
                position: relative;
                font-size: .875rem;

                &--title {
                    float: left;
                    padding: 4px 40px 4px 0;
                }

                &--img {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: $mainDarkBlue;
                    right: -13px;
                    top: -15px;
                    box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -o-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -ms-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -webkit-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -moz-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                }
            }
        }

        &--postDetails {
            list-style: none;
            margin: 0;
            padding: 0;
            @mixin clearfix;
            font-size: .8125rem;
            position: absolute;
            bottom: -22px;
            left: 10px;

            li {
                float: left;
                padding-left: 20px;

                &:first-child {
                    border-right: 1px solid rgba($mainMediumLightBlack, .5);
                    padding: 0 20px 0 0 ;
                }
            }
        }
    }

    &__secondChatBox {
        margin: 60px 0 40px 0;
        font-weight: 400;
        font-size: .9375rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0  0 0 20px;

        &--wrapper {
            color: #fff;
            width: 85%;
            border-radius: 10px;
            background-color: $mainDarkBlue;
            box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -moz-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -webkit-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -o-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            -ms-box-shadow: 0px 1px 4px .5px rgba($mainDarkPaleBlue, 0.3);
            position: relative;

            @mixin atLarge {
                width: 70%;
            }
        }

        &--content {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            padding: 10px 10px 15px 10px;
            text-align: center;
            margin: 0;
            line-height: 1.5;
            /* box-shadow: 0px 1px 0px blue; */
            box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -o-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -ms-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -webkit-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
            -moz-box-shadow: 0px 1px 2px 0px rgba($mainDarkGray, 0.5);
        }

        &--footer {
            @mixin clearfix;

            &__details {
                width: 100px;
                float: right;
                position: relative;

                &--middle {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $mainExtraLightBlue;
                    right: 10px;
                    top: 7px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $mainExtraLightBlue;
                    right: 30px;
                    top: 7px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $mainExtraLightBlue;
                    right: 50px;
                    top: 7px;
                }
            }

            &__user {
                float: left;
                position: relative;
                font-size: .875rem;

                &--title {
                    float: left;
                    padding: 4px 0px 4px 40px;
                }

                &--img {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: #fff;
                    border: 1px solid $mainDarkBlue;
                    left: -13px;
                    top: -15px;
                    box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -moz-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -ms-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -webkit-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                    -o-box-shadow: 0px 1px 10px .5px rgba($mainDarkBlue, 0.52);
                }
            }
        }

        &--postDetails {
            list-style: none;
            margin: 0;
            padding: 0;
            @mixin clearfix;
            font-size: .8125rem;
            position: absolute;
            bottom: -22px;
            right: 10px;
            color: $mainFontColor;

            li {
                float: left;
                padding-left: 20px;
                color: $mainFontColor ;

                &:first-child {
                    border-right: 1px solid rgba($mainMediumLightBlack, .5);
                    padding: 0 20px 0 0 ;
                    color: $mainFontColor;
                }
            }
        }
    }

    &__inputWrapper {
        position: relative;
        border-top: 1px solid $mainDarkGray;
        @mixin clearfix;
        /* z-index: 2; */
    
        &--zindex {
            z-index: 2;
            /* border-right: 4px solid #fff; */
            /* box-shadow:  .5px 0 rgba($mainMediumLightBlack, .8); */
            width: 100%;
        }
    }

    &__input {
        float: left;
        padding: 8px 0 5px 10px;
        margin: 0;
        border: none;
        border-left: 1px solid rgba($mainDarkBlack, 0.2); 
        border-right: 1px solid rgba($mainDarkBlack, 0.2); 
        font-size: .875rem;
        resize: none;
        background-color: #fff;
        height: 50px;
        width: 66%;
        outline: none;
        line-height: 1.5;
        font-weight: 400;
    }

    &__micWrapper {
        float: left;
        background-color: #fff;
        height: 50px;
        width: 14%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__mic {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: $mainDarkBlue;
        box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkBlue, 0.23);
        -o-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkBlue, 0.23);
        -ms-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkBlue, 0.23);
        -webkit-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkBlue, 0.23);
        -moz-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkBlue, 0.23);
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        position: relative;

        &--active {
            background-color: $mainDarkRed;
            box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkRed, 0.23);
            -o-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkRed, 0.23);
            -ms-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkRed, 0.23);
            -webkit-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkRed, 0.23);
            -moz-box-shadow: 0px 0px 2.1px 3.9px rgba($mainDarkRed, 0.23);
        }
    }

    &__clip {
        float: left;
        /* border-left: 1px solid rgba(0, 143, 235, 0.149);  */
        height: 50px;
        color: $mainExtraDarkPaleBlue;
        background-color: #fff;
        width: 10%;
        text-align: center;
        /* padding-left: 8px; */
        padding-top: 15px;
    }

    &__smile {
        float: left;
        height: 50px;
        width: 10%;
        text-align: center;
        /* padding-left: 5px; */
        padding-top: 15px;
        background-color: #fff;
    }

    &__attachWrapper {
        position: absolute;
        left: 1px;
        bottom: 0;
        right: 1px;
        background-color: rgba($mainDarkBlack, .6);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in;

        &--visible {
            top: 0;
            opacity: 1;
            visibility: visible;
            z-index: 1;
            transition: all .3s ease-in;
        }
    }

    &__attachContent {
    }

    &__attach {
        position: absolute;
        margin: 0;
        padding: 0;
        border: 1px solid $mainDarkGray;
        border-bottom: none;
        list-style: none;
        bottom: 170px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;
        background-color: #fff;
        font-size: 1.5625rem;
        z-index: 2;

        li {    
            float: left;
            color: $mainDarkBlue;
            margin: 20px 0;
            cursor: pointer;
            position: relative;
            width: 33.33%;
        }

        &--iconHolder {
            width: 54px;
            height: 54px;
            border-radius: 27px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        &--title {
            margin: 0px 0 0 0;
            padding: 12px  0 0 0;
            font-size: .8123rem;
            text-align: center;
            font-weight: 400;
        }

        &--camicon {
            font-size: 1.5rem;
            color: #fff;
            background: radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -o-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -moz-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -webkit-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            background: -ms-radial-gradient(circle closest-side, rgb(255,47,0) 30%, rgba(5,87,139, .55) 33%, rgb(29,120,179) 81%, rgb(53,152,219) 84%);
            /* box-shadow: 0px 1px 2px 2px rgba($mainDarkBlue, .8);  */
    
        }

        &--videoicon {
            font-size: 1.5rem;
            color: #fff;
            background: linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -o-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -webkit-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -moz-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);
            background: -ms-linear-gradient( 0deg, rgb(24,205,202) 8%, rgb(12,149,200) 8%, rgba($mainDarkBlue, .9) 9%, rgba($mainDarkBlue, .9) 49%, rgb(0,118,217) 75%, rgb(0,143,235) 90%, rgb(128,95,118) 90%, rgb(255,47,0) 92%);     
        }

        &--imageicon {
            font-size: 1.5rem;
            color: #fff;
            background: radial-gradient(circle closest-side, rgba($mainLightGreen,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -o-radial-gradient(circle closest-side, rgba($mainLightGreen,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -webkit-radial-gradient(circle closest-side, rgba($mainLightGreen,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -moz-radial-gradient(circle closest-side, rgba($mainLightGreen,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -ms-radial-gradient(circle closest-side, rgba($mainLightGreen,.9) 40%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
        }

        &--locationicon {
            font-size: 1.5rem;
            color: #fff;
            background: radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -moz-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -webkit-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -ms-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
            background: -o-radial-gradient(circle closest-side, rgb(255,46,0) 25%, rgb(130,67,70) 11%, rgb(5,87,139) 11%, rgb(0,143,235) 100%);
        }

        &--fileicon {
            font-size: 1.5rem;
            background-color: blue;
            color: #fff;
            background: linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -moz-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -webkit-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -ms-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -o-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
        }

        &--audioicon {
            font-size: 1.5rem;
            background-color: blue;
            color: #fff;
            background: linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -moz-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -webkit-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -ms-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
            background: -o-linear-gradient( 0deg, rgb(47,168,232) 25%, rgb(24,130,215) 36%, rgb(0,92,198) 56%, rgb(47,168,232) 88%);
        }

    }

    &__secondattach {
        bottom: 50px;
        border-top: 0;
        border-bottom: 1px solid $mainDarkGray;
    }

    @mixin atLarge {
        display: block;
    }
}