.site-hero {
    position: relative;
    margin-top: 62px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #006699;
    /* border-top: 5px solid #fff; */

    &__hidden {
        display: none; 
    }
}


  