.site-main__helpMe {
    &--deleteQuestion{
        background-color: $mainLightRed !important;
    }
    &--blockUser {
        background-color: $mainMiddleDarkBlue !important;
    }

    &--filterWrapper {
        display: flex;
        justify-content: center;
    }

    &--filter {
        @mixin clearfix;
        padding-bottom: 10px;
        margin-bottom: 12px;
        border-bottom: 1px solid $mainLightGray;
        padding-left: 10px;
        width: 95%;
        margin-top: 20px;

        &__search {
            float: none;
            @mixin clearfix;

            &--title {
                padding: 0;
                margin: 0 10px 0 0;
                float: left;
                font-size: .8125rem;
                position: relative;
                top: 8px;
            }

            &--input {
                float: left;
                display: inline;
                padding: 6px 0 6px 3px;
                border-radius: 3px;
                border: none;
                border: 1px solid $mainDarkGray;
                font-size: .8125rem;
                width: 140px;

                @mixin atExtraSmall {
                    padding: 6px 0 6px 3px;
                }

                @mixin atMiniSmall {
                    padding: 6px 0 6px 3px;
                }
            }

            @mixin atExtraSmall {
                float: left;
            }
        }

        &__category {
            float: none;
            padding: 0;
            position: relative;
            margin:  0 0 0 5px;
            width: 100px;
           

            &--header {
                margin: 5px 0 0 35px;
                padding: 6px 10px;
                width: 100px;
                font-size: .8125rem;
                background-color: $mainDarkBlue;
                color: #fff;
                cursor: pointer;
                position: relative;
                top: .5px;

                &__Md {
                    display: none;
                    @mixin atSmall {
                        display: inline;
                    }
                }

                &__Sm {
                    display: inline;
                    @mixin atSmall {
                        display: none;
                    }
                }

                @mixin atExtraSmall {
                    width: auto;
                    margin: 0;
                }
            }

            &--option {
                list-style: none;
                padding: 0;
                margin: 0 0 0 35px;
                font-size: .8125rem;
                background-color: #fff;
                border: 1px solid $mainLightGray;
                position: absolute;
                width: 100%;
                max-height: 220px;
                overflow: hidden;
                overflow-y: auto;
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .3s ease-out;
                

                li {
                    padding: 5px 0 5px 5px;
                    border-bottom: 1px solid $mainLightGray;
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transition: all .3s ease-out;
                }

                @mixin atExtraSmall {
                    margin: 0;
                }
            }

            @mixin atExtraSmall {
                margin:  0 0 0 10px;
                float: left;
                width: auto;
            }
            @mixin atSmall {
                margin:  0 0 0 40px;
            }
        }
    }

    
    &--noaccount {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-top: 40px;

        &__img {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            background-color: $mainExtraLightGray;
            position: relative;
            opacity: .9;
            display: flex;
            align-self: center;

            @mixin atExtraSmall {
                width: 64px;
                height: 64px;
                border-radius: 32px;
            }

            @mixin atSmall {
                width: 70px;
                height: 70px;
                border-radius: 35px;
            }

            @mixin atMedium {
                width: 80px;
                height: 80px;
                border-radius: 40px;
            }
        }

        &__title {
            text-align: center;
            font-size: .8125rem;
            padding: 0;
            margin: 0 0 0 5px;
            position: relative;
            top: -3px;
            
            a {
                text-decoration: none;
            }

            p{
            }

            &--login {
                padding: 4px 6px;
                background-color: $mainLightGray;
                border: 1px solid $mainLightGray;
                color: rgba($mainFontColor, .8);
                border-radius: 3px;
                margin: 0 5px;
            }

            &--signup {
                padding: 4px 6px;
                background-color: $mainDarkBlue;
                color: #fff;
                border-radius: 3px;
                margin: 0 0 0 5px;
                font-weight: 300;
            }

            &--groups {
                padding: 4px 6px;
                background-color: $mainDarkBlue;
                color: #fff;
                border-radius: 3px;
                margin: 0 0 0 5px;
                font-weight: 300;
            }

            @mixin atMiniSmall {
                margin: 0 0 0 20px;
                /* font-size: .9375rem; */
                top: -1px;
            }

            @mixin atSmall {
                font-size: 1rem;
                top: -2px;
            }

            @mixin atMedium {
                font-size: 1rem;
                top: 1px;
            }
        }
        @mixin atExtraSmall {
            flex-direction: row;
        }

        @mixin atSmall {
            margin-top: 20px;
        }
    }
}