.site-main__share {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: $mainDarkBlue;
    right: -6px;
    top: -6px;
    cursor: pointer;
    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    z-index: 1;

    &--content {
        font-size: .8125rem !important;

        &__options {
            list-style: none;
            margin: 0;
            background-color: #fff;
            color: #fff;
            padding: 10px;
            width: 194px;
            border: 1px solid $mainDarkGray;
            position: absolute;
            right: 40px;
            top: -10px;
            opacity: 0;
            visibility: hidden;
            z-index: .5;
            transition: all .3s ease-out;

            &::after {
                content: "";
                position: absolute;
                top: 8px;
                right: -20px;
                border-color: transparent;
                border-width: 10px;
                border-bottom-color: #fff;
                border-style: solid;
                transform: rotate(90deg);
                pointer-events: none;
            }

            &::before {
                content: "";
                position: absolute;
                top: 7px;
                right: -22px;
                border-color: transparent;
                border-width: 11px;
                border-bottom-color: $mainDarkGray;
                border-style: solid;
                transform: rotate(90deg);
                pointer-events: none;
            }

            li {
                float: none;
                position: relative;

                &:first-child {
                    text-align: left !important;
                    cursor: pointer;
                    width: 100%;
                    float: none;
                    padding: 0;
                }

                &:last-child {
                    display: block;
                    padding: 10px 25px 0 20px;
                    @mixin clearfix;
                }
            }

            &--item {
                padding: 10px 40px;
                background-color: $mainDarkBlue;

                &__title {
                    position: relative;
                    left: -10px;
                }
            }

            &--details {
                position: absolute;
                left: 0px;
                top: 37px;
                background-color: #fff;
                border-radius: 3px;
                padding: 5px;
                box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -o-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -moz-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -webkit-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -ms-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                cursor: default; 
                opacity: 0;
                visibility: hidden;
                z-index: -33;
                transition: all .3s ease-out;

                &__search {
                    padding: 10px;
                    color: $mainFontColor;
                    border: 1px solid $mainDarkGray;
                    width: 100%;
                }

                &__user {
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: auto;
                    max-height: 14.8rem;
                    margin: 10px 0;
                    border-top: 1px solid $mainDarkGray;
                    padding: 10px 0 0 0;

                    &--wrapper {
                        margin-bottom: 10px;
                        border: 1px solid $mainLightGray;
                        padding: 5px 2px 5px 4px;
                        @mixin clearfix;
                        font-size: .75rem;
                        color: $mainFontColor;
                        position: relative;

                        &__borderVisible {
                            border: 1px solid rgba($mainLightGreen, .3);
                            transition: all .7s ease-out;
                        }

                        &__borderHoverVisible {
                            border: 1px solid rgba($mainLightGreen, .3);
                            transition: all .3s ease-out;
                        }
                    }

                    &--selectIcon {
                        position: absolute;
                        z-index: -33;
                        top: 1px;
                        color: $mainLightGreen;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease-out;
                
                        &__visible {
                            opacity: 1;
                            z-index: 1;
                            visibility: visible;
                            transition: all .3s ease-out;
                        }
                    }

                    &--selectIconClicked {
                        position: absolute;
                        z-index: -33;
                        top: 1px;
                        color: $mainLightGreen;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease-out;
                
                        &__visible {
                            opacity: 1;
                            z-index: 2;
                            visibility: visible;
                            transition: all .7s ease-out;
                        }
                    }

                    &--img {
                        border-radius: 20px;
                        width: 40px;
                        height: 40px;
                        background-color: $mainLightBlue;
                        float: left;
                        position: relative;
                        top: 5px;
                        cursor: pointer;
                        margin-right: 3px;
                    }

                    ul {
                        margin: 0 0 0 1px;
                        padding: 0;
                        list-style: none;
                        float: right;
                        max-width: 5.625rem;

                        li {
                            margin: 0;
                            padding: 3px 0;
                            width: auto;
                            float: none !important;
                            color: $mainFontColor;
                            text-overflow: ellipsis;
                            width: 87px;
                            overflow: hidden;
                            word-wrap: none;
                            white-space: nowrap;

                            &:first-child , &:last-child {
                                margin: 0;
                                padding: 2px 0;
                                background-color: #fff;
                                color: $mainFontColor;
                            }

                            a {
                                color: $mainFontColor;
                            }
                        }
                    }

                }
                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transition: all .3s ease-out;
                }
            }

            &--userCounter {
                position: absolute;
                left: -10px;
                top: -120px;
                width: 190px;
                margin: 0;
                padding: 10px 3px;
                list-style: none;
                background-color: #fff;
                cursor: default;
                border-radius: 3px;
                box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -o-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -moz-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -webkit-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                -ms-box-shadow: 0px 0px 4.15px 0.85px rgba(67, 125, 163, 0.65);
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: all .3s ease-in;
                display: none;

                &::after {
                    content: "";
                    position: absolute;
                    top: 23px;
                    right: -23px;
                    border-color: transparent;
                    pointer-events: none;
                    border-width: 12px;
                    border-bottom-color: #fff;
                    border-style: solid;
                    transform: rotate(90deg);
                    display: none;

                    @mixin atSmall {
                        display: block;   
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 22px;
                    right: -26px;
                    border-color: transparent;
                    pointer-events: none;
                    border-width: 13px;
                    border-bottom-color: rgba(67, 125, 163, 0.25);
                    border-style: solid;
                    transform: rotate(90deg);
                    display: none;
                    
                    @mixin atSmall {
                        display: block;   
                    }
                }

                li {
                    float: none !important;
                    width: auto !important;
                    text-align: center;
                    padding: 0;
                    margin: 15px 0 15px 0;
                    font-size: .875rem;
                    color: $mainFontColor;
                    
                        &:first-child {
                            background-color: transparent;
                            margin: 0 0 10px 0;
                            padding: 0;
                            color: $mainFontColor;
                            font-size: .8125rem;
                            font-weight: 300;
                            cursor: default;
                        }

                        &:last-child {
                        padding: 0;
                        margin: 0;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            @mixin clearfix;

                            li {
                                padding: 0;
                                margin: 0;
                                border-radius: 3px;
                                font-size: .75rem;
                                cursor: pointer;
                                
                                &:first-child {
                                    float: left !important;
                                    padding: 5px 5px;
                                    margin: 0 10px 0 9px !important;
                                    background-color: $mainDarkBlue;
                                    color: #fff;
                                    box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                    -ms-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                    -o-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                    -webkit-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                    -moz-box-shadow:  0px 0px 4px 0px rgba(2, 132, 168, 0.68);
                                }

                                &:last-child {
                                    float: right !important;
                                    padding: 5px 5px;
                                    margin: 0 14px 0 5px;   
                                    background-color: #fff;
                                    color: $mainFontColor;
                                    border: 1px solid $mainDarkGray
                                }
                            }
                        }
                    }
                }

                &--number {
                    margin-left: 10px;
                    color: $mainDarkBlue;
                    font-weight: 500;
                }

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transition: all .3s ease-in
                }

                @mixin atSmall {
                    padding: 10px;
                    left: -208px;
                    top: 80px;
                    width: auto;
                    display: block;
                }

                @mixin atMedium {
                    padding: 10px 8px;
                    left: -204px;
                }

                @mixin atLarge {
                    padding: 10px;
                    left: -208px;
                }
            }

            &--userSelected {
                position: absolute;
                left: 0;
                top: 0 !important;
                background-color: #fff;
                width: 100%;
                border: 1px solid $mainDarkGray;
                color: $mainFontColor;
                cursor: default;
                z-index: -1;
                visibility: hidden;
                opacity: 0;
                transform: scale(1.2);
                transition: all .3s ease-in;
                

                p {
                    text-align: center;
                    border-bottom: 1px solid $mainDarkGray;
                    padding: 10px 0;
                    margin: 0;
                }

                &__wrapper {
                    max-height: 14.8rem;
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: auto;
                    
                    &--content {
                        @mixin clearfix;
                        border: 1px solid $mainLightGray;
                        position: relative;
                        left: 12.5px;
                        margin: 10px 0;
                        padding: 5px 0 8px 1px;
                        max-width: 9.125rem;
                    }
                }

                &__img {
                    float: left;
                    border-radius: 20px;
                    height: 40px;
                    width: 40px;
                    background-color: blue;
                    position: relative;
                    top: 4px;
                }

                ul {
                    float: right;
                    margin: 0 0 0 2px !important;
                    padding: 0;
                    width: auto;
                    list-style: none;
                    background-color: #fff;
                    max-width: 6rem;

                    li {
                        width: auto;
                        margin: 0;
                        padding: 3px 0;

                        &:first-child {
                            margin: 0;
                            padding: 0;
                            width: auto;
                            max-width: 6.125rem;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            word-wrap: none;
                            overflow: hidden;
                            background-color: transparent;

                            a {
                                color: $mainFontColor;
                            }
                        }
                        &:last-child {
                            margin: 0;
                            padding: 0;
                            width: auto;
                        }
                    }
                }

                &__mainclose {
                    position: absolute;
                    border-radius: 9px;
                    height: 18px;
                    width: 18px;
                    top: -7px;
                    right: -7px;
                    background-color: $mainLightGray;
                    border: 1px solid $mainDarkGray;
                    text-align: center;
                    cursor: pointer;
                }

                &__close {
                    position: absolute;
                    border-radius: 9px;
                    height: 18px;
                    width: 18px;
                    background-color: $mainLightGray;
                    border: 1px solid $mainDarkGray;
                    text-align: center;
                    top: -4px;
                    left: -8px;
                    cursor: pointer;
                    padding: 0 !important;
                }

                &__btn {
                    width: 100%;
                    background-color: $mainDarkRed;
                    color: #fff;
                    padding: 8px 0;
                    text-align: center;
                    outline: none;
                    border: none;
                    border-top: 0;
                    cursor: pointer;
                    font-size: .875rem;
                    position: relative;
                    box-shadow: inset 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                    /* -o-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                    -webkit-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                    -moz-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47);
                    -ms-box-shadow: 0px 0px 2.12px .2px rgba(242, 38, 19, 0.47); */
                }

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transform: scale(1);
                    transition: all .3s ease-in
                }

                @mixin atSmall {
                    right: 8.2px;
                    top: -12px;
                }
            }

            &--socialIcons {
                z-index: 1;
                &__socialIconHide {
                    z-index: -33;
                }
            }

            &--visible {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                transition: all .3s ease-out;
            }
        }
    }

}