.site-main__nav--trend {
    color: $mainFontColor;
    text-align: center;
    margin: 10px 20px 0 20px;  
    font-weight: 400;           
    background-color: rgba($mainHeaderColor, .6);     
    display: flex;
    flex-direction: column;
    flex-grow: 1;             
    box-shadow: 0 0 .2px .2px rgba($mainDarkBlack, .2);
    /* -o-box-shadow: 0 0 .5px .5px rgba($mainDarkBlack, .2);
    -ms-box-shadow: 0 0 .5px .5px rgba($mainDarkBlack, .2);
    -webkit-box-shadow: 0 0 .5px .5px rgba($mainDarkBlack, .2);
    -moz-box-shadow: 0 0 .5px .5px rgba($mainDarkBlack, .2);  */

    p {
        padding: 5px 20px; 
        background-color: $mainDarkGray;
        margin: 0 0 0 0; 
        box-shadow: 0 .5px 1px 1px rgba($mainDarkBlack, .2);
    }

    &__itm {  
       /* background-color:  $mainHeaderColor; */
       padding: 0;
       margin: 0;  
       overflow: hidden;
       overflow-y: auto;  
       
        &--wrapper {     
           box-shadow: 0px .3px 1px 1px rgba($mainDarkBlue, .3); 
           /* -o-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
           -webkit-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
           -moz-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
           -ms-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3); */
            margin: 20px 10px;  
            border-radius: 3px;
            background-color: #fff;  
        }

        &--title {
            margin: 0;
            padding: 0;
            list-style: none;
            @mixin clearfix;
            border: 1px solid $mainLightGray;
            font-size: .875rem;
            
            
            li {
                float: left;
                width: 50%;
                text-align: center;
                padding: 5px 0;
                background-color: $mainDarkBlue;
                border-right: 1px solid $mainLightGray;
                color: #fff;

                &:last-child {
                    border: none;
                }
            }
        }

        &--cnt {
            font-size: .9375rem;
            padding: 10px;
            text-align: left;
            color: $mainFontColor;  
        }

        &--det {
            @mixin clearfix;
            font-size: .8125rem;
            border-top: 1px solid $mainLightGray;
            /* border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px; */

            &__categ {
                float: left;
                width: 30%;
                text-align: left;
                padding: 5px 0 5px 10px;
            }

            &__footer {
                float: left;
                width: 70%;
                list-style: none;
                margin: 0;
                padding: 0;
                @mixin clearfix;
                
                li {
                    width: 30%;
                    float: left;
                    border-right: 1px solid $mainLightGray;
                    padding: 5px 0 5px 0px;

                    &:first-child {
                        border-right: 1px solid $mainLightGray;
                        width: 40%;
                    }

                    &:last-child {
                        width: 30%;
                        border-right: none !important;    
                    }
                }
            }
        }
    }
}