.wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */

    @mixin atSmall {
        padding-left: 18px;
        padding-right: 18px;
        max-width: 1236px;
        display: flex;
        justify-content: center;
        
        /* align-items: center; */
    }
}