.icon__reuse-que-help--user {
    font-size: 1.875rem;
    color: #dcdbdc;
}

.reuse-que-help {
    width: 100%;
    position: relative;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.reuse-que-help__wrapper {
    position: relative;
    width: 250px;
    padding-left: 100px;
    margin: 0 auto;
}

.reuse-que-help__icn {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: .9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-que-help__cnt {
    text-align: left;
    font-size: .9375rem;
    padding:  0;
    margin: 0;
    position: relative;
}

.reuse-que-help__cnt--title {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
}

.reuse-que-help__cnt--title__add-grp {
    text-align: center;
    margin-bottom: 10px;
}

.reuse-que-help__cnt > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reuse-que-help__cnt > ul::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-que-help__cnt > ul > li {
    float: left;
    padding: 3px 0;
}

.reuse-que-help__cnt > ul > li > a {
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 3px;
    font-weight: 300;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .45);
}

.reuse-que-help__cnt--login {
    background-color: #e9ebf2;
    color: #182427;
}

.reuse-que-help__cnt--sign {
    background-color: #0284a8;
    color: #fff;
    margin: 0 0 0 20px;
}  