.icon {

    &__site-main--user__tab {
        margin-right: 5px;
    }

    &__site-main--user__content--opt {
        margin-right: 5px;
    }

    &__reuse-user-filter--srch {
        color: #fff;
    }

    &__reuse-user-filter--user {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-user-filter--ans {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-user-filter--sub {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-categ--angle {
        margin-left: 5px;
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-filter--angle {
        margin-left: 5px;
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-filter--calend {
        font-size: 1rem;
        color: rgba($mainDarkBlack, .6);
        cursor: pointer;
    }

    &__reuse-filter--categ {
        color: $mainFontColor;
        margin-right: 10px;
    }
  
    &__reuse-filter--apply {
        color: #fff;
        margin-right: 5px;
    }

    &__reuse-filter--cancel {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-filter--close {
        color: $mainLightRed;
    }
}