.icon {

    &__site-main--user__tab {
        margin-right: 5px;
    }

    &__site-main--user__cnt--opt {
        margin-right: 5px;
    }

    &__reuse-user-filter--srch {
        color: #fff;
    }

    &__reuse-user-filter--user {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-user-filter--ans {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-user-filter--sub {
        color: $mainLightBlue;
        margin-right: 5px;
    }
}