.site-main__user--nav {
    width: 35%;
    border: 1px solid $mainDarkGray;
    color: #fff;
    float: left;
    display: none;
    font-weight: 300;
    margin-top: 10px; 
    height: 92vh;   

      
    &__sticky { 
        top: 70px; 
        position: sticky;      
        overflow: hidden;    
    }

    &__header {
        background-color: $mainMiddleDarkBlue;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        font-size: .9375rem;
        @mixin clearfix;

        li {
            float: left;
            padding: 15px 27.2px;

            &:last-child {
                /* position: absolute;
                right: 8%; */
                float: right;
            }
        }
    }

    @mixin atLarge {
        display: flex;
        flex-direction: column; 
    }
}