.site-main__user--nav {
    width: 35%;
    border: 1px solid $mainDarkGray;
    color: #fff;
    float: left;
    display: none;
    font-weight: 300;
    margin-top: 10px; 
    height: 92vh;   

      
    &--sticky { 
        top: 70px; 
        position: sticky;      
        overflow: hidden;    
    }

    &__tab {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $mainMiddleDarkBlue;
        font-size: .9375rem;
        color: #fff;
        font-weight: 300;
        width: 100%;
        border: 1px solid $mainDarkGray;
        border-bottom: none;
        @mixin clearfix;

        li {
            float: left;
            width: 50%;
            text-align: center;
            padding: 10px 0px;

            &:first-child {
                border-right: 1px solid rgba(255,255,255, .45);
            }
        }
    }

    @mixin atLarge {
        display: flex;
        flex-direction: column; 
    }
}