.site-main__pvtchat--nav {
    width: 40%;
    border: 1px solid $mainDarkGray;
    color: #fff;
    float: left;
    display: none;
    font-weight: 300;

    &__tab {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $mainMiddleDarkBlue;
        font-size: .9375rem;
        color: #fff;
        font-weight: 300;
        width: 100%;
        @mixin clearfix;

        li {
            float: left;
            width: 50%;
            text-align: center;
            padding: 10px 0px;

            &:first-child {
                border-right: 1px solid rgba(255,255,255, .45);
            }
        }
    }

    &__content {
        padding: 5px 10px 0 10px;

        &--main {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 14.56px 1.44px rgba(220, 219, 220, 0.6);
            margin: 10px 0;
            border-radius: 5px;

            &__header {
                color: $mainLightBlue;
                font-weight: 400;
                text-align: center;
                padding: 20px 10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: 1px solid $mainDarkGray;
                border-bottom: none;
            }

            &__footer {
                list-style: none;
                margin: 0;
                padding: 0;
                color: $mainFontColor;
                font-size: .875rem;
                background-color: $mainExtraLightGray;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-left: 1px solid $mainDarkGray;
                border-bottom: 1px solid $mainDarkGray;
                @mixin clearfix;

                li {
                    float: left;
                    width: 50%;
                    text-align: center;
                    padding: 8px 0;

                    &:first-child {
                        box-shadow: inset 0 1px $mainDarkGray;
                        -o-box-shadow: inset 0 1px $mainDarkGray;
                        -webkit-box-shadow: inset 0 1px $mainDarkGray;
                        -moz-box-shadow: inset 0 1px $mainDarkGray;
                        -ms-box-shadow: inset 0 1px $mainDarkGray;
                    }
                    
                    &:last-child {
                        background-color: $mainDarkBlue;
                        color: #fff;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }

    @mixin atMedium {
        display: block;
    }
}