.site-main__pvtchat--main {
    width: 100%;
    float: none;

    &__headerwrapper {
        position: relative;
    }
 
    &__header {
        font-size: .875rem;
        color: #fff;
        font-weight: 300;
        color: #fff;
        text-align: center;
        padding: 10px 40px;
        background-color: $mainMiddleDarkBlue;
        position: relative;
        width: 100%;
        @mixin clearfix;

        & > span {
            float: right;
            cursor: pointer;
            position: relative;
            left: 20px;

            @mixin atMiniSmall {
                left: auto !important;
            }
        }

        &--title {
            position: absolute;
            left: 20%;
            transform: translateX(-20%);

            @mixin atExtraSmall {
                left: 32%;
                transform: translateX(-32%);
            }

            @mixin atMiniSmall {
                left: 40%;
                transform: translateX(-40%);
            }

            @mixin atSmall {
                left: 42%;
                transform: translateX(-42%);
            }
        }

        @mixin atSmall {
            font-size: .9375rem; 
        }
    }

    &__search {
        position: absolute;
        top: -100%;
        background-color: $mainHeaderColor;
        font-size: .875rem;
        width: 100%;
        padding: 10px 30px;
        opacity: 0;
        visibility: hidden;
        z-index: -333;
        transition: all .3s ease-in;

       &--wrapper {
            position: relative;
            border: 1px solid $mainDarkGray;
       }

       &--calend {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 15px;
        background-color: $mainLightGray;
        font-size: .875rem;
        color: $mainDarkPaleBlue;
        border-right: 1px solid $mainDarkGray;
        bottom: 0;
        cursor: pointer;
       }

       &--input {
        width: 100%;
        padding: 8px 50px 8px 50px;
        border: none;
        outline: none;
        font-size: .875rem;
       }

       &--icon {
           position: absolute;
           right: 0;
           top: 0;
           bottom: 0;
           background-color: $mainLightBlue;
           font-size: .875rem;
           color: #fff;
           padding: 0 15px;
           border-left: 1px solid $mainDarkGray;
           cursor: pointer;
       }

       &--visible {
           top: 100%;
           opacity: 1;
           visibility: visible;
           z-index: 1;
           transition: all .3s ease-in;
       }

       @mixin atSmall {
        padding: 10px 60px;
       }
    }
    
    &__notify {
        width: 300px;
        margin: 10px auto;
        background-color: $mainLightGray;
        position: relative;
        font-size: .875rem;
        opacity: 0;
        visibility: hidden;
        z-index: -33;
        top: -100px;
        display: none;
        transition: all .3s ease-in;

        &--close {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid $mainLightGray;
            text-align: center;
            right: 0;
            cursor: pointer;
        }

        &--content {
            position: relative;
            width: 150px;
            padding: 15px 0 15px 40px;
            margin: 0 auto;

            &__total {
                background-color: $mainDarkRed;
                color: #fff;
                font-size: .8125rem;
                text-align: center;
                height: 24px;
                width: 24px;
                border-radius: 12px;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);

                & > div {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &__visible {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            top: auto;
            display: block;
            transition: all .3s ease-in;
        }
    }

    &__options {
        position: relative;
        width: 100%;
        padding: 15px 10px;
        /* background-color: rgba($mainExtraLightGray, .5); */

        & > button {
            border: none;
            outline: none;
            color: #fff;
            font-size: .8125rem;
            font-weight: 300;
            padding: 8px;
            border-radius: 3px;
            margin-bottom: 10px;

            @mixin atSmall {
                font-size: .875rem;
                margin-bottom: 0;
            }

            @mixin atSmall {
                margin-bottom: 0;
            }
        }

        &--create {
            background-color: $mainDarkPaleBlue;
            box-shadow: 0 1px 9px 1px rgba($mainDarkPaleBlue, .6);
            -o-box-shadow: 0 1px 9px 1px rgba($mainDarkPaleBlue, .6);
            -webkit-box-shadow: 0 1px 9px 1px rgba($mainDarkPaleBlue, .6);
            -ms-box-shadow: 0 1px 9px 1px rgba($mainDarkPaleBlue, .6);
            -moz-box-shadow: 0 1px 9px 1px rgba($mainDarkPaleBlue, .6);
            margin-right: 20px;
            cursor: pointer;
        }

        &--delete {
            background-color: $mainDarkRed;
            box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .6);
            -o-box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .6);
            -moz-box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .6);
            -webkit-box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .6);
            -ms-box-shadow: 0 1px 5px 1px rgba($mainDarkRed, .6);
            margin-right: 20px;
            cursor: pointer;
        }

        &--neigh {
            background-color: $mainLightBlue;
            box-shadow: 0 1px 5px 1px rgba($mainLightBlue, .6);
            -o-box-shadow: 0 1px 5px 1px rgba($mainLightBlue, .6);
            -ms-box-shadow: 0 1px 5px 1px rgba($mainLightBlue, .6);
            -webkit-box-shadow: 0 1px 5px 1px rgba($mainLightBlue, .6);
            -moz-box-shadow: 0 1px 5px 1px rgba($mainLightBlue, .6);
            cursor: pointer;
        }


        &--searchuser {
            width: 100%;
            top: -50px;
            background-color: #fff;
            box-shadow: 0px 2px 2px 2px rgba($mainDarkBlue, 0.4);
            -o-box-shadow: 0px 2px 2px 2px rgba($mainDarkBlue, 0.4);
            -webkit-box-shadow: 0px 2px 2px 2px rgba($mainDarkBlue, 0.4);
            -ms-box-shadow: 0px 2px 2px 2px rgba($mainDarkBlue, 0.4);
            -moz-box-shadow: 0px 2px 2px 2px rgba($mainDarkBlue, 0.4);
            position: absolute;
            padding-left: 0px;
            left: 0;
            right: 0;
            cursor: default;
            font-size: .875rem;
            opacity: 0;
            visibility: hidden;
            z-index: 0;
            transition: all .3s ease-in;
    
            &__wrapper {
                width: 100%;
                padding: 10px;
    
                @mixin atExtraSmall {
                    padding: 10px 20px;
                }
            }
    
            &__header {
                font-size: .8125rem;
                cursor: default;
                color: $mainFontColor;
                margin-bottom: 10px;
    
                &--input {
                    padding: 12px;
                    border-radius: 5px;
                    border: none;
                    border: 1px solid $mainDarkGray;
                    width: 100%;
                    font-size: .8125rem;
    
                    @mixin atSmall {
                        padding: 15px  10px;
                    }
                }
            }
    
            &__outlet {
                height: 30vh;
                margin-top: 5px;
                box-shadow: 0px .1px 1px 0px rgba($mainDarkBlue, 0.44);
                -webkit-box-shadow: 0px .1px 1px 0px rgba($mainDarkBlue, 0.44);
                -moz-box-shadow: 0px .1px 1px 0px rgba($mainDarkBlue, 0.44);
                -o-box-shadow: 0px .1px 1px 0px rgba($mainDarkBlue, 0.44);
                -ms-box-shadow: 0px .1px 1px 0px rgba($mainDarkBlue, 0.44);
                overflow: hidden;
                overflow-y: auto;
                padding: 5px 10px;
                cursor: default;
                background-color: $mainHeaderColor;
            }
    
            &__chat {
                @mixin clearfix;
                position: relative;
                margin: 10px 0 15px 0;
                padding: 8px 0;
                font-size: .875rem;
                border-radius: 5px;
                cursor: default;
                box-shadow: 0px 1.5px 8px 0px rgba($mainDarkBlue, 0.44);
                -o-box-shadow: 0px 1.5px 8px 0px rgba($mainDarkBlue, 0.44);
                -ms-box-shadow: 0px 1.5px 8px 0px rgba($mainDarkBlue, 0.44);
                -webkit-box-shadow: 0px 1.5px 8px 0px rgba($mainDarkBlue, 0.44);
                -moz-box-shadow: 0px 1.5px 8px 0px rgba($mainDarkBlue, 0.44);
                background-color: #fff;
    
                &--switch {
                    position: absolute;
                    top: -6px;
                    right: -4px;
                    background-color: $mainDarkBlue;
                    color: #fff;
                    font-size: .8125rem;
                    height: 20px;
                    width: 20px;
                    border-radius: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
    
                &--img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: $mainDarkPaleBlue;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 5px;
                    cursor: pointer;
    
                    &__userdetails {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba($mainDarkBlack, .5);
                        border-radius: 25px;
                        border: .5px solid rgba($mainDarkBlack, .1);
                        opacity: 0;
                        transform: scale(.1);
                        z-index: -1;
                        transition: all .3s ease-in;
    
                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 0;
                            transform: scale(1);
                            transition: all .3s ease-in;
                        }
                } 
                }
    
                &--details {
                    width: 100%;
                    padding: 0 0 0 70px;
                    margin:  0;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-color: #fff;
                    font-size: .8125rem;
                    
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        @mixin clearfix;
                        border-top-right-radius: 10px;
    
                        li {
    
                            &:hover {
                                background-color: transparent;
                            }
                        }
                        
                    }
    
                    &__title {
                        float: left !important;
                        width: 55%;
                        font-size: .8125rem;
                        overflow: hidden;
                        padding: 10px 10px 5px 0 !important;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                       
                        a {
                            text-decoration: none;
                            color: $mainDarkBlue;
                            cursor: pointer;
                        }
                    }
    
                    &__status {
                        float: right !important;
                        width: 45%;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: .8125rem;
                        text-overflow: ellipsis;
                        padding: 10px 10px 5px 20px !important;
                        position: relative; 
                        text-align: right !important;
                    }
    
                    @mixin atMedium {
                        font-size: .875rem;
                    }
                }
    
                    &--lastmssge {
                    padding: 5px 10px 12px 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-weight: 500;
                    font-size: .875rem; 
                    color: rgba($mainDarkBlack, .6);

                    a {
                        text-decoration: none;
                        color: rgba($mainDarkBlack, .6);
                        cursor: pointer;
                    }
                }
    
                &--nomssge {
                    color: $mainFontColor;
                    padding-top: 10px;
                    position: relative;
                    top: -5px;
    
                    & > span {
                        color: $mainDarkBlue;
                        font-weight: 400;
                    }
                }
    
                
                @mixin atSmall {
                    font-size: .875rem;
                }
            }
    
            &__visible {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                top: 100%;
                transition: all .3s ease-in;
            }
        }


    }

    &__chatdate {
        margin: 40px 0 10px 10px;
        border-bottom: 1px solid $mainDarkGray;
        position: relative;

        & > div {
            padding: 5px 10px;
            background-color: $mainLightBlue;
            color: #fff;
            font-size: .8125rem;
            position: absolute;
            bottom: 0;

            @mixin atSmall {
                font-size: .875rem;
            }
        }
    }

    &__msg {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 1px 2px 2px rgba($mainDarkBlue, .3);
        -o-box-shadow: 0 1px 2px 2px rgba($mainDarkBlue, .3);
        -ms-box-shadow: 0 1px 2px 2px rgba($mainDarkBlue, .3);
        -webkit-box-shadow: 0 1px 2px 2px rgba($mainDarkBlue, .3);
        -moz-box-shadow: 0 1px 2px 2px rgba($mainDarkBlue, .3);
        margin: 20px 10px 60px 10px;


        &--header {
            @mixin clearfix;
            font-size: .8125rem;
            color: $mainFontColor;
            padding: 10px 5px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            /* background-color: $mainExtraLightGray; */
            box-shadow: 0 2px 4px .4px rgba($mainDarkBlue, .3);
            -o-box-shadow: 0 2px 4px .4px rgba($mainDarkBlue, .3);
            -ms-box-shadow: 0 2px 4px .4px rgba($mainDarkBlue, .3);
            -webkit-box-shadow: 0 2px 4px .4px rgba($mainDarkBlue, .3);
            -moz-box-shadow: 0 2px 4px .4px rgba($mainDarkBlue, .3);
            position: relative;     

            &__firstwrapper {
                float: left;
                position: relative;
            
                &--img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: $mainDarkGray;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    @mixin atSmall {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &--title {
                    list-style: none;
                    margin: 0;
                    padding: 0 0 0 60px;
                    position: relative;
                    top: 0px;

                    li {
                        padding: 3px 0;

                        &:first-child {
                            font-weight: 500;
                            color: rgba($mainDarkBlue, .9);
                        }

                        &:last-child {
                            position: relative;
                            margin: 0 0 0 20px;
                            font-size: .8125rem;
                            color: rgba($mainDarkBlack, .7);

                            &::before {
                                content: "";
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 4px;
                                top: 50%;
                                transform: translateY(-50%);
                                left: -20px;
                            }
                        }
                    }

                    &__offline {
                        &::before {
                            background-color: $mainDarkRed
                        }
                    }

                    &__online {
                        &::before {
                            background-color: $mainLightGreen;
                        }
                    }

                    @mixin atSmall {
                        padding: 0 0 0 60px;
                    }
                }
            }   

            &__secondwrapper {
                float: right;
                margin: 0;
                padding: 0;
                position: relative;
                top: 12px;

                & > span {
                    background-color: $mainLightGray;
                    color: $mainLightBlue;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: .75rem;
                }

                &--recieve {
                    background-color: $mainDarkBlue !important;
                    color: #fff !important;
                }
            }

            @mixin atSmall {
                font-size: .875rem;
                padding: 10px 20px;
            }
        }

        &--content {
            padding: 5px;
            background-color: $mainExtraLightGray;

            &__holder {
                padding: 5px;
                font-size: .875rem;
                line-height: 1.8;
                text-align: center;
                border-radius: 0px;
                font-weight: 500;
                position: relative;

                a {
                    cursor: pointer;
                    color: rgba($mainDarkPaleBlue, .8);
                    text-decoration: none;
                }

                @mixin atSmall {
                    font-size: .9375rem;
                    padding: 10px;
                }
            }

            &__total {
                border-radius: 3px;
                background-color: $mainDarkRed;
                color: #fff;
                font-size: .8125rem;
                padding: 4px 8px;
                margin-left: 20px;
                cursor: pointer;
                white-space: nowrap;
            }

            &__viewed {
                border-radius: 3px;
                background-color: $mainDarkBlue;
                color: #fff;
                font-size: .8125rem;
                padding: 4px 8px;
                margin-left: 20px;
                cursor: pointer;
            }

            @mixin atSmall {
                padding: 10px;
            }
        }

        &--footer {
            width: 100%;
            margin-bottom: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 -2px 3px  rgba($mainDarkBlue, .15);
            -o-box-shadow: 0 -2px 3px  rgba($mainDarkBlue, .15);
            -ms-box-shadow: 0 -2px 3px  rgba($mainDarkBlue, .15);
            -webkit-box-shadow: 0 -2px 3px  rgba($mainDarkBlue, .15);
            -moz-box-shadow: 0 -2px 3px  rgba($mainDarkBlue, .15);
            @mixin clearfix;
            /* background-color: $mainLightGray;  */
            /* overflow: hidden; */
            
            &__content {
                float: right;
                position: relative;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    /* background-color: $mainDarkPaleBlue; */
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba($mainDarkPaleBlue, .7);
                    height: 8px;
                    width: 8px;
                    border-radius: 4px;
                    left: 12px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba($mainDarkPaleBlue, .7);
                    height: 8px;
                    width: 8px;
                    border-radius: 4px;
                    right: 14px;
                }

                &--loadmore {
                    background-color: rgba($mainDarkPaleBlue, .7);
                    height: 8px;
                    width: 8px;
                    border-radius: 4px;
                    margin: 5px 35px;
                    cursor: pointer;
                }

                &--details {
                    position: absolute;
                    list-style: none;
                    margin: 0;
                    padding: 2px;
                    background-color: $mainExtraLightGray;
                    border: 1px solid $mainDarkGray;
                    text-align: center;
                    left: -50px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -33;
                    transition: all .3s ease-in;
                    
                    li {
                        float: none;
                        padding: 8px 20px;
                        white-space: nowrap;
                        font-size: .8125rem;
                        font-weight: 300 !important;

                        &:first-child {
                            color: #fff;
                            background-color: $mainDarkBlue;
                        }

                        &:last-child {
                            background-color: $mainDarkRed;
                            color: #fff;
                        }

                        @mixin atSmall {
                            font-size: .875rem;
                        }
                    }

                    &__visible {
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        transition: all .3s ease-in;
                    }
                }
            }
        }
    }

    @mixin atExtraSmall {
        width: 100%;
        position: relative;
    }

    @mixin atSmall {
        width: 100%;
        padding-right: 0px;
        float: left;
    }

    @mixin atMedium {
        width: 60%;
        padding-right: 30px;
    }

    @mixin atLarge {
        padding-right: 40px;
    }
}
