.site-main {
    font-family: "Roboto",Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 50px;


    &__fm {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; 

        &--notify {
            position: relative;
            padding: 14px 10px 8px 10px;
            width: 100%;
            text-align: center;
            background-color: #fff;
            margin: 0px 0 5px 0;
            font-size: .875rem;

            & > span {
                background-color: $mainLightRed;
                padding: 3px 10px;
                border-radius: 10px;
                color: #fff;
                margin-left: 20px;
                cursor: pointer;

                &:hover {
                    background-color: $mainDarkRed;
                }
            }
        }

        &--overlay, &--wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0,0,0, .6);
            z-index: 1;
            transition: all .3s ease-in;
        }

        &--wrapper {
            position: relative;
            background-color: rgba($mainDarkBlack, .95); 
            overflow: hidden;
            overflow-y: auto;
            padding: 50px 0 100px 0;
        }
    }

    &__content {
        position: relative;

        &--filter {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            overflow: hidden;
            overflow-y: auto;
            background-color: rgba($mainDarkBlack, .75);
            z-index: 4;
            padding-top: 50px;
            font-size: .9375rem;
            transition: all .3s ease-in;
            
            &__err {
                color: $mainLightRed;
                text-align: center;
            }

            &__wrapper {
                position: relative;
                background-color: #fff;
                min-height: 200px;
                max-height: 200px;
                overflow: hidden;
                overflow-y: auto;
                padding: 10px 0;

                &--pt {
                    background-color: $mainDarkBlue;
                }

                &--que {
                    background-color: $mainLightRed;
                }
            
                &--pwt {
                    background-color: $mainMiddleDarkBlue;
                }

                & > ul {
                    position: relative;
                    margin: 0;
                    padding: 0;

                    & > li {
                        float: none;
                        list-style: none;
                        cursor: pointer;

                         & > div {
                            position: relative;
                            font-size: .9375rem;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            padding: 10px 0;
                            max-width: 1200px;
                            width: 100%;
                            margin: 0 auto;

                            & > span {
                                position: relative;
                                border-radius: 20px;
                                padding: 5px 10px;
                                color: #fff;
                                text-align: center;
                                margin-right: 5px;
                                font-size: .8125rem
                            } 
                        }

                        &:hover {
                            color: $mainDarkBlue;
                            background-color: $mainHeaderColor;
                        }
                    }
                }
            }
        }
    }
}