.site-main {
    font-family: "Roboto",Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 50px;


    &__fm {
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0; 
        overflow: hidden;
        overflow-y: auto;
        background-color: rgba($mainDarkBlack, .75); 

        &--overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0,0,0, .6);
            z-index: 1;
            transition: all .3s ease-in;
        }
    }
}