.icon {

    &__acc-help--tab {
        color: $mainDarkBlue;
    }

    &__reuse-que-filter--ans {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-que-filter--rgt {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-que-filter--fav {
        color: $mainLightRed;
        margin-right: 5px;
    }
}