.icon {

    &__site-main__ptwrit--tab--share {
        margin-right: 5px;
    }

    &__site-main--ptwrit__header--pencil {
        font-size: 1.2rem;
        color: #fff;
    }

    &__site-main--ptwrit__header--quoteleft {
        font-size: .5rem;
        position: relative;
        top: -6px;
        margin-right: 5px;
    }

    &__site-main--ptwrit__header--quoteright {
        font-size: .5rem;
        position: relative;
        bottom: -6px;
        margin-left: 5px;
    }

    &__site-main--ptwrit__header--angle {
        margin-left: 5px;
    }

    &__site-main--ptwrit__note--circle {
        color: $mainLightRed; 
        font-size: .625rem; 
        margin-right: 10px; 
        top: -1px;
        position: relative;
    } 

    &__reuse-pwt-filter--comment {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-pwt-filter--smile {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-pwt-filter--fav {
        color: $mainLightRed;
        margin-right: 5px;
    }
}