.reuse-pwt {
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    border-radius: 10px; 
    position: relative;
    margin: 40px  15px;   

    &:last-child {
        margin-bottom: 0;

        @mixin atSmall {
            margin-bottom: 0;
        }
    }

    &__content {
        color: $mainFontColor;
        padding: 10px 0px;
        width: 100%;
        position: relative;

        &--firstptwritIcon { 
            width: 24px;
            height: 24px;
            border-radius: 12px;
            border: 1px solid $mainDarkGray;
            position: absolute;
            margin-left: 10px;
            left: 0;
            top: 5px;
        }

        &--det {
            width: 100%;
            position: relative;
            margin-bottom: 30px;
            left:  10px;

            &__quoteright {
                left: -10px;   
            }

            &__user {
                font-size: .8125rem;
                position: absolute;
                right: 38px;
                top: 6px;

                a {
                    color: rgba($mainDarkPaleBlue, .8);
                    position: relative;
                    top: -2px;
                }

                &--img {
                    cursor: pointer;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    border: 1px solid $mainLightGray;
                    border-radius: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -60px;
                }

                &--time {
                    margin-top: 2px;
                    color: $mainFontColor;  
                }

                &--det { 
                    position: relative;
                    cursor: pointer; 
                    width: 40px;
                    height: 10px;
                    background-color: $mainLightGray;
                    border-radius: 20px;
                    left: 0;
                    margin-top: 2px;
                    bottom: -2px;
                    display: flex;
                    align-items: center; 
        
                    &__opt {
                        position: absolute;
                        list-style: none;
                        top: -58px;
                        right: 52px;
                        padding: 0;
                        margin: 0;
                        background-color: #fff;
                        box-shadow: 0 0 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
                        font-size: .8125rem;
                        margin-bottom: 40px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease-out;
        
                        li {
                            padding: 5px;
                            margin: 5px;
                            background-color: $mainLightGray;
                            font-weight: 300;
                            white-space: nowrap;
                            border: 1px solid rgba($mainDarkBlack, .25);
                            cursor: pointer;
        
                            &:first-child {
                                background-color: $mainDarkPaleBlue;
                                border: none;
        
                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                            }
        
                            &:last-child {
                                background-color: $mainDarkRed;
        
                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                            }
        
                            a {
                                color: $mainFontColor; 
                                text-decoration: none;
                            }
                        }
        
                        &::after {
                            position: absolute;
                            content: "";
                            top: 50px;
                            right: -24px;
                            border-color: transparent;
                            border-width: 12px;
                            border-bottom-color: #fff;
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }
        
                        &::before {
                            position: absolute;
                            content: "";
                            top: 49px;
                            right: -26px;
                            border-color: transparent;
                            border-width: 13px;
                            border-bottom-color: rgba($mainDarkBlack, 0.25);
                            border-style: solid;
                            transform: rotate(90deg);
                            pointer-events: none;
                        }
        
                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .3s ease-out;
                        }
                    }
        
                    &__clk {
                        background-color: $mainLightGray;
                        transition: all .3s ease-in;
                    }
        
                    @mixin atSmall {
                        right: 40px;
                        /* background-color: $mainDarkBlack; */
                    }
                }

            }

            &__quote-wrapper {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                border: 1px solid $mainDarkGray;
                position: absolute;
                right: 0;
                top: 10px;
            }

        }

        &--title {
            font-size: .875rem;
            margin: 10px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 2;
            border-top: 1px solid $mainDarkGray; 
            padding: 10px 0 0 0; 
            position: relative;

            &__mt {
                padding-top: 20px;
            }

            &__wrapper {
                width: 90%;
                /* font-style: italic; */

                a {
                    color: rgba($mainDarkBlack, .7);
                    text-decoration: none;
                    font-weight: 500;
                }
            }

            @mixin atExtraSmall {
                font-size: .9375rem;
            }
        }

        &--tag {
            margin-bottom: 15px; 

           & > span {
            font-size: .8125rem;
            margin-left: 10px; 
            max-width: 90% !important;
            background-color: rgba($mainDarkGray, .4); 
            border-radius: 5px;
            padding: 4px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: none;
            text-overflow: ellipsis;
            position: relative;

                & > a {
                    color: $mainFontColor;
                    text-decoration: none; 
                } 
           }
        }
    }

    &__footer {
        margin: 12px 0 0 0;
        color: $mainFontColor;
        list-style: none;
        @mixin clearfix;
        border-top: 1px solid $mainDarkGray;
        font-size: .8125rem;
        padding: 0;

            li {
            float: left;
            width: 33.333%;
            border-right: 1px solid $mainDarkGray;
            text-align: center;
            padding: 8px 0;

            &:first-child {
                border-right: 1px solid $mainDarkGray;
                width: 33.333%;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    @mixin atSmall { 
        margin: 40px 20px 60px 20px;
    }
}