.site-main__ptwrit {
    position: relative;
    padding-top: 5px;

    &--header {
        @mixin clearfix;
        padding-bottom: 10px;
        border-bottom: 1px solid $mainDarkGray; 
        width: 100%;

        &__icon {
            float: left;
            padding: 15px 20px;
            background-color: $mainDarkBlue;
            border-radius: 3px;
            color: #fff;
            margin-left: 10px; 

            @mixin atLarge {
                margin-left: 0;
            }
        }

        &__title {
            float: left;
            list-style: none;
            margin: 0;
            padding: 0 20px;

            li {
                float: none;

                &:first-child {
                    padding-top: 2px;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    font-size: 1rem;
                    color: $mainDarkBlue;
                }

                &:last-child {
                    font-size: .875rem;
                }
            }
        }
    }

    &--note {
        background-color: $mainHeaderColor;
        font-size: .875rem;
        margin: 10px 0;
        padding: 8px 0px;
        width: 100%;
        text-align: center;
        line-height: 1.6;

        & > span {
            position: relative;
        }

        &__content { 
            padding-left: 10px;
        }
    }


    @mixin atSmall {
        padding-top: 10px;
    }
}