
.reuse-pvt-chat {
    border-radius: 10px;
    margin-bottom: 40px; 
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
}

.reuse-pvt-chat__img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #e9ebf2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.reuse-pvt-chat__img > img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: block;
  background-color: rgba(233,235,242, .7);
  cursor: pointer;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  -o-object-fit: fill;
  object-fit: fill;
}

.reuse-pvt-chat__img--status {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #dcdbdc;
  bottom: 4px;
  right: 8px;
}

.reuse-pvt-chat__img--status__on {
  background-color: #16cf27;
}

.reuse-pvt-chat__img--status__off {
  background-color: #ff1600;
}

.reuse-pvt-chat__det {
  list-style: none;
  padding: 0 10px 0 80px;
  margin:  0;
  width: 100%;
  font-size: .875rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.reuse-pvt-chat__det li {
  margin: 0;
}

.reuse-pvt-chat__det li:first-child {
  padding: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: rgba(5,87,139, .8);
  font-size: .9375rem;
}

.reuse-pvt-chat__det li:first-child > a {
  text-decoration: none;
  color: rgba(5,87,139, .8);
}

.reuse-pvt-chat__det li:first-child > a > span {
  margin-right: 5px;
  font-weight: 300;
  color: rgba(0,0,0, .45);
  font-size: .8125rem;
}

.reuse-pvt-chat__det li:last-child {
  padding: 8px 0;
  color: rgba(0,0,0, .6);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reuse-pvt-chat__det li:last-child > a {
  text-decoration: none;
  color: rgba(0,0,0, .6);
}

.reuse-pvt-chat__det li:last-child > a > span {
  background-color: #437da3;
  color: #fff;
  border-radius: 3px;
  padding: 4px 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: .8125rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, .45);
}

