<div class="site-main__content--wrapper">
    <div class="site-main__content--overlay"></div>
    <div class="site-main__content--top"></div>
    <ul class="site-main__content--tab">
        <li><i class="fas fa-coffee icon icon__site-main--onlineque__tab"></i> exam</li>
        <li>
            <i class="fas fa-location-arrow icon icon__site-main--onlineque__shared"></i>  
            shared
            <div class="active__main active__main--exam">
                <div>99</div>
            </div>
        </li>  
    </ul>

    <div class="onlineque-filter">
        <h3 class="onlineque-filter__found">Online Question found <span class="onlineque-filter__found--total"> 2222k </span></h3>
            <div class="onlineque-filter__wrapper">
                <div class="onlineque-filter__wrapper--options">
                    <div class="onlineque-filter__category">
                        Category <i class="fas fa-angle-down icon icon__onlineque-filter--angle"></i>
                        <ul class="onlineque-filter__category--item">
                            <li>Peom</li>
                            <li>Prose</li>
                            <li>Entertainment</li>
                        </ul>
                    </div>

                    <div class="onlineque-filter__cnt">
                        Filter <i class="fas fa-angle-down icon icon__onlineque-filter--angle"></i>
                    </div>
            
                    <div class="onlineque-filter__cnt--options">
                        <div class="onlineque-filter__cnt--options__search">
                            <div class="onlineque-filter__cnt--options__search--field">
                                <div class="onlineque-filter__cnt--options__search--field__inputcalendar"><i class="far fa-calendar-alt icon icon__onlineque-filter--calend"></i></div> <input type="text" class="onlineque-filter__cnt--options__search--field__input" placeholder="Enter Online Question Title">
                            </div>
                            <div class="onlineque-filter__cnt--options__search--middlewrapper">
                                <div class="onlineque-filter__cnt--options__search--found">
                                    <div class="onlineque-filter__cnt--options__search--found__title">Total Found</div>
                                    <div class="onlineque-filter__cnt--options__search--found__total">255</div>
                                </div>
                                <div class="onlineque-filter__cnt--options__search--more">OR</div>
                            </div>
                            <div class="onlineque-filter__cnt--options__search--altwrapper onlineque-filter__cnt--options__search--altwrapper__space">
                                <div class="onlineque-filter__cnt--options__search--alt">
                                    <h3 class="onlineque-filter__cnt--options__search--alt__title"><i class="fas fa-pencil-alt icon icon__online-quefilter--writ"></i> Write</h3>
                                    <ul class="onlineque-filter__cnt--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li><span><</span> 10</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li><span>></span> 20 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li><span>></span> 30</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="onlineque-filter__cnt--options__search--alt">
                                    <h3 class="onlineque-filter__cnt--options__search--alt__title"><i class="far fa-comment-dots icon icon__onlineque-filter--comment"></i> Comment</h3>
                                    <ul class="onlineque-filter__cnt--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li> <span><</span> 20 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li> <span>></span> 40 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li> <span>></span> 60</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="onlineque-filter__cnt--options__search--alt">
                                    <h3 class="onlineque-filter__cnt--options__search--alt__title"><i class="fas fa-heart icon icon__onlineque-filter--heart"></i>   Favorites</h3>
                                    <ul class="onlineque-filter__cnt--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li><span><</span> 12 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li><span>></span>22 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li><span>></span> 32</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="onlineque-filter__cnt--options__search--alt">
                                    <h3 class="onlineque-filter__cnt--options__search--alt__title"><i class="far fa-clone icon icon__onlineque-filter--comment"></i> Questions</h3>
                                    <ul class="onlineque-filter__cnt--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li> <span><</span> 50 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li> <span>></span> 50 </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li> <span>></span> 100</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="onlineque-filter__cnt--options__search--alt">
                                    <h3 class="onlineque-filter__cnt--options__search--alt__title"><i class="far fa-clock icon icon__onlineque-filter--tm"></i> Duration</h3>
                                    <ul class="onlineque-filter__cnt--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>Low</li>
                                                <li> <span><</span> 40 min </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Average</li>
                                                <li> <span>></span> 40 to 1hr</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>High</li>
                                                <li> <span>></span> 1hr </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="onlineque-filter__cnt--options__search--alt">
                                    <h3 class="onlineque-filter__cnt--options__search--alt__title"><i class="fas fa-coffee icon icon__onlineque-filter--type"></i> Type</h3>
                                    <ul class="onlineque-filter__cnt--options__search--alt__option">
                                        <li>
                                            <ul>
                                                <li>easy</li>
                                                <li> <input type="checkbox" name="">  </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Intermediate</li>
                                                <li> <input type="checkbox" name="" ></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li>Difficult</li>
                                                <li> <input type="checkbox" name=""> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="onlineque-filter__cnt--options__search--categsm">
                                <p class="onlineque-filter__cnt--options__search--categsm__title">Select Category <i class="fas fa-angle-down icon icon__onlineque-filter--categsm__angle"></i></p>
                                <ul class="onlineque-filter__cnt--options__search--categsm__item">
                                    <li>Scholarships</li>
                                    <li>Sport</li>
                                    <li>Entertainment</li>
                                </ul>
                            </div>

                            <button class="onlineque-filter__cnt--options__search--btn">
                                <span class="onlineque-filter__cnt--options__search--btn__cancel">Cancel</span>
                                <span class="onlineque-filter__cnt--options__search--btn__ok">Ok</span>
                            </button>
                        </div>
                    </div>
                    <div class="onlineque-filter__myque">
                    My Questions 
                    <div class="onlineque-filter__myque--total">
                        99
                    </div>
                </div>
            </div>
            <div class="onlineque-filter__addque onlineque-filter__wrapper--altoption">
                Add Question
            </div>
        </div>
    </div>

   <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                        <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                        <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
    <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                        <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                        <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
    <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                       <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                        <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
</div>