<div class="site-main__content--wrapper">
    <div class="site-main__content--overlay"></div>
    <div class="site-main__content--top"></div>
    <ul class="site-main__content--tab">
        <li><i class="fas fa-coffee icon icon__site-main--onlineque__tab"></i> exam</li>
        <li>
            <i class="fas fa-location-arrow icon icon__site-main--onlineque__shared"></i>  
            shared
            <div class="active__main active__main--exam">
                <div>99</div>
            </div>
        </li>  
    </ul>

    <div class="reuse-onlineque-filter">
        <div class="reuse-onlineque-filter__wrapper">
            {{> reusecateg}}
            {{> reuseonquefilter}}
            <div class="reuse-onlineque-filter__que">
                My Question
                <div>99</div>
            </div>
            <div class="reuse-onlineque-filter__add">
                Add 
            </div>
        </div>
    </div>

   <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                        <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                        <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
    <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                        <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                        <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
    <div class="reuse-onlineque">
        <ul class="reuse-onlineque__header">
            <li>
                <div class="reuse-onlineque__header--quesNumber">
                    99
                </div>
                <div class="reuse-onlineque__header--title">
                    Questions 
                </div>
            </li>
            <li>
                <div class="reuse-onlineque__header--quesTime">
                    <i class="far fa-clock icon icon__reuse-onlineque--time"></i> 22hrs
                </div>
            </li>
            <li>
                {{> partialshare}}
            </li>
        </ul>
        <div class="reuse-onlineque__content">
            <p class="reuse-onlineque__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="reuse-onlineque__content--posted">
                <div class="reuse-onlineque__content--posted__user">
                    <div class="reuse-onlineque__content--posted__user--img"><img src="" alt=""></div>
                    <span><a href="">User User</a>@ 2m ago</span>
                    <div class="reuse-onlineque__content--posted__user--det">
                       <div class="reuse-onlineque__content--posted__user--det__mid"></div>
                        <ul class="reuse-onlineque__content--posted__user--det__opt">
                            <li><a href=""><i class="far fa-edit icon icon__reuse-onlineque--options"></i>Edit </a></li>
                            <li class="reuse-onlineque__content--posted__user--det__opt--status"><i class="far fa-eye-slash icon icon__reuse-onlineque--options__dft"></i> Draft</li>
                            <li><a href=""><i class="far fa-trash-alt icon icon__reuse-onlineque--options"></i>Delete </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="reuse-onlineque__footer">
            <li><i class="far fa-comment-dots icon icon__reuse-onlineque--comment"></i> 111k</li>
            <li><i class="far fa-heart icon icon__reuse-onlineque--heart"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__reuse-onlineque--pen"></i> 222k</li>
        </ul>
    </div>
</div>