.icon {
    
    &__site-main__content--tab {
        margin-right: 5px;
    }

    &__reuse-group--filter__angle {
        color: $mainFontColor;
        margin-left: 5px;
    }

    &__reuse-group--filter__grp {
        color: $mainDarkPaleBlue;
    }

    &__reuse-group--filter__user {
        color: rgba($mainDarkBlack, .55);
    }

    &__reuse-group--filter__alt--categ {
        margin-left: 5px;
    }

    &__reuse-group--filter__categ {
        position: relative;
        margin-left: 5px;
    }

    &__reuse-group--filter__calend {
        font-size: 1rem;
        position: relative;
        color: rgba($mainDarkBlack, .6);
        cursor: pointer;
    }

    &__reuse-group--acc__grp {
        font-size: 1.875rem;
        color: $mainDarkGray;
    }

    &__reuse-group--header__calend {
        margin-right: 5px;
        color: rgba($mainDarkPaleBlue, .6);
    }

    &__reuse-group--cnt__add {
        font-size: .625rem;
        color: rgba($mainDarkPaleBlue, .6);
    }

    &__reuse-group--cnt__det {
        color: $mainFontColor;
        margin-right: 5px;
    }

    &__reuse-group--cnt__comment {
        margin-right: 10px;
        color: #fff; 
    }

    &__reuse-group--footer__users {
        color: $mainDarkPaleBlue;
    }

    &__reuse-group--footer__users-on {
        color: rgba($mainDarkBlack, .55);
    }

    &__reuse-tag--header {
        font-size: .75rem;
        margin-right: 5px;
    }
}