.site-main__group {

    &--main-wrapper {
        margin: 20px 15px;   
        
        @mixin atSmall { 
            margin: 40px 20px 60px 20px;
        }
    }

    &--wrapper {
        width: 100%;
        border-radius: 10px;
        /* box-shadow: 0px 0px 1px 0px rgba(42, 129, 164, 0.26); */
        background-color: #fff;  
        box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
        /* box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
        -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
        -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
        -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57);
        -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.57); */
    }

    &--header {
        list-style: none;
        margin: 0;
        padding: 8px 0;
        /* background-color: $mainDarkBlue; */
        background-color: #fff; 
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        @mixin clearfix;
        /* under */
        border-bottom: 1px solid  $mainLightGray;

        li {
            position: relative;
            float: left;

            &:first-child {
                position: relative;
            }

            &:last-child {
                float: right;
            }
        }

        &__imgHolder {
            height: 24px;
            width: 24px;
            position: absolute;
            border-radius: 12px;
            background-color: #fff;
            /* under */
            border: 1px solid $mainLightGray;
            top: -5px;
            left: 17px;

            @mixin atSmall {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                top: -12px;
            }
        }

        &__add {
            height: 20px;
            width: 20px;
            position: absolute;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -o-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -ms-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -webkit-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -moz-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            cursor: pointer;
            display: none;

            @mixin atSmall {
                /* display: block; */
                height: 26px;
                width: 26px;
                border-radius: 13px;
                right: 2px;
                top: -13px;
            }
        }

        &__category {
            margin-left: 46px;
            font-size: .8125rem;

            a {
                text-decoration: none;
                /* color: #fff; */
                color: $mainFontColor;
            }

            @mixin atSmall {
                font-size: .875rem;
                margin-left: 85px;
            }
        }

        &__dateCreated {
            /* color: #fff; */
            color: $mainFontColor;
            font-size: .8125rem;
            margin-right: 10px;
            font-style: italic;

            @mixin atSmall {
                font-size: .875rem;
                margin-right: 20px;
            }
        }

        @mixin atSmall {
            padding: 15px 0;
        }
    }

    &--mainContent {
        margin: 10px 0;
        @mixin clearfix;
        position: relative;
        /* display: flex;
        justify-content: center;
        align-items: center; */

        &__addSm {
            height: 20px;
            width: 20px;
            position: absolute;
            border-radius: 10px;
            background-color: #fff;
            left: 5px;
            top: -8.5px;
            box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -o-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -ms-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -webkit-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            -moz-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
            cursor: pointer;
            /* z-index: 1; */

            @mixin atExtraSmall {
                left: 5px;
                top: -8.5px;
            }

            @mixin atSmall {
                left: 5px;
                top: -5.5px;
            }

            @mixin atLarge {
                /* display: none; */
                left: 20px;
                top: -5.5px;
            }
        }

        &__imgWrapper {
            float: left;
            width: 30%;
            height: 100px;
            /* position: relative; */
            display: flex;
            justify-content: center;

            &--img {
                position: relative;
                width: 60px;
                background-color: #fff;
                height: 60px;
                border-radius: 30px;
                border: 1px solid $mainExtraLightGray;
                overflow: hidden;
                top: 5px;
                /* box-shadow: 0px 0px 3px 1px rgba(42, 129, 164, 0.26);   */

                /* box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
                -o-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
                -ms-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
                -webkit-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26);
                -moz-box-shadow: 0px 0px 8.1px 1.9px rgba(67, 125, 163, 0.26); */
                box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                -o-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                -ms-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                -webkit-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                -moz-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);

                @mixin atSmall {
                    width: 90px;
                    height: 90px;
                    border-radius: 45px;
                    top: 0;
                }
            }

            @mixin atSmall {
                width: 35%;
                /* background-color: $mainDarkGray */
            }

            @mixin atMedium {
                align-items: center;
            }

            @mixin atLarge {
                align-items: center;
            }
        }

        &__desc {
            float: left;
            margin: 0;
            padding: 0 5px 0 5px;
            list-style: none;
            width: 70%;
            position: relative;

            &--title {
                p {
                    font-size: .875rem;
                    margin: 0;
                    padding: 0 0 10px 0;
                    font-weight: 500;
                    color: $mainDarkBlue;
                    /* word-wrap: break-word; */
                    /* width: 100%; */

                    @mixin atSmall {
                        font-size: .9375rem;
                    }
                }
            }

            &--postCreator {
                background-color: transparent;
                padding: 0;
                font-size: .875rem;
                @mixin clearfix;

                &__admin {
                    float: left;
                    margin-right: 10px;
                    position: relative;
                    top: 8px;
                }
                &__userImg {
                    width: 26px;
                    height: 26px;
                    background-color: $mainLightGray;
                    border-radius: 13px;
                    float: left;
                    margin-right: 5px;
                    /* border: 1px solid rgba($mainDarkBlue, .2); */
                    box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                    -o-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                    -ms-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                    -webkit-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);
                    -moz-box-shadow: 0px 0px 20px 0px rgba($mainDarkGray, 0.57);

                    @mixin atSmall {
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        margin-right: 10px;
                    }
                }

                &__detailsWrapper {
                    float: left;
                    position: relative;
                    top: 5px;
                    width: 60%;
                    overflow: hidden;
                    word-wrap: none;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: .8125rem;

                    @mixin atSmall {
                        top: 8px; 
                        font-size: .875rem;
                    }
                }

                &__name {
                    margin: 0;
                    padding: 0;
                    display: inline;
                    overflow: hidden;
                    word-wrap: none;
                    text-overflow: ellipsis;
                    
                    a {
                        color: $mainFontColor;
                    }
                }

                @mixin atSmall {
                    /* padding: 0 0 0 10px; */
                }
            }

            &--options {
                ul {
                    list-style: none;
                    margin: 10px 0 0 0;
                    padding: 0;
                    @mixin clearfix;
                    font-size: .75rem;

                    li {
                        padding: 8px;
                        margin-right: 20px;
                        float: none;
                        cursor: pointer;

                        &:first-child {
                            color: $mainFontColor;
                            background-color: #fff;
                            border: 1px solid $mainDarkGray;
                            border-radius: 3px;
                            width: 55%;
                            margin-bottom: 10px;
                            text-align: center;

                            @mixin atExtraSmall {
                                width: auto;
                                margin-bottom: 0;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                            color: #fff;
                            border-radius: 3px;
                            background-color: $mainDarkPaleBlue;
                            box-shadow: 0px 0px 14.4px 1.6px rgba($mainDarkPaleBlue, 0.26);
                            width: 70%;
                            text-align: center;

                            @mixin atExtraSmall {
                                width: auto;
                                
                            }
                        }

                        a {
                            text-decoration: none;
                            color: #fff;
                            position: relative;
                        }

                        @mixin atExtraSmall {
                            float: left;
                        }

                        @mixin atSmall {
                            padding: 8px;
                            margin-right: 20px;
                            font-size: .875rem;
                        }
                    }
                    @mixin atSmall {
                        margin: 10px 0 0 0;
                        font-size: .875rem;
                    }
                }

                &__details{
                    position: relative;
                    top: 0;
                    max-width: 95%;
                    max-height: 95%;
                    background-color: #fff;
                    border: 1px solid $mainDarkGray;
                    cursor: default;
                    overflow: hidden;
                    /* transform: translateX(40px); */

                    &--title {
                        margin: 0;
                        padding: 5px 2px;
                        text-align: center;
                        background-color: $mainDarkBlue;
                        box-shadow: 0px 6px 10px 0px rgba(19, 51, 97, 0.26);
                        -o-box-shadow: 0px 6px 10px 0px rgba(19, 51, 97, 0.26);
                        -ms-box-shadow: 0px 6px 10px 0px rgba(19, 51, 97, 0.26);
                        -webkit-box-shadow: 0px 6px 10px 0px rgba(19, 51, 97, 0.26);
                        -moz-box-shadow: 0px 6px 10px 0px rgba(19, 51, 97, 0.26);
                        color: #fff;
                        font-size: .8125rem;
                        line-height: 1.4;
                        max-height: 58px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;

                        @mixin atExtraSmall {
                            display: block;
                        }
                    }

                    &--ratings {
                        margin: 10px 0;
                        text-align: center;
                        font-size: .875rem;
                        padding: 0 5px;
                        color: $mainDarkBlue;
                    }
                }
            }
            @mixin atSmall {
                width: 65%;
                padding: 0 20px 0 0;
            }
        }

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 5%;
            background-color: rgba($mainDarkBlack, .7);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba($mainDarkBlack, .2);
            opacity: 0;
            visibility: hidden;
            z-index: -33;
            transform: scale(.1);
            transition: all .3s ease-in;

            &--close {
                position: absolute;
                top: -8px;
                right: -5px;
                font-size: .8125rem;
                background-color: #fff;
                border-radius: 10px;
                height: 20px;
                width: 20px;
                border: 1px solid rgba($mainDarkBlack, .4);
                z-index: 1;
                cursor: pointer;
            }

            &--visible {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                width: 95%;
                transform: scale(1);
                transition: all .3s ease-in;
            }

        }
    }
    &--footer {
        width: 100%; 
        /* background-color: $mainDarkBlue; */
        background-color: #fff;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: 0 !important;
        padding: 0;
        list-style: none;
        @mixin clearfix;
        font-size: .8125rem;
        /* under */
        border-top: 1px solid  $mainLightGray;

        li {
            float: left;
            width: 50%;
            text-align: center;
            /* color: #fff; */
            color: $mainFontColor;
            padding: 8px 0; 
            margin: 0;
            

            &:first-child {
                /* border-right: 1px solid rgba(#fff, .5); */
                border-right: 1px solid rgba($mainLightGray, .9);
                /* background-color: rgba($mainMiddleDarkBlue, .6); */
                margin: 0 !important;
                /* border-bottom-left-radius: 10px; */
            }

            &:last-child {
                position: relative;
                @mixin clearfix;
                overflow: hidden;

                @mixin atExtraSmall {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    @mixin clearfix;
                }
            }

            @mixin atSmall {
                padding: 15px 0;
            }
        }

        &__userOnline {
            text-align: center;
            float: left;
            &--status {
                margin-left: 4px;
                width: 8px;
                height: 8px;
                border-radius: 5px;
                background-color: $mainLightGreen;
                float: left;
                position: relative;
                top: -6px;
                display: none;

            @mixin atExtraSmall {
                display: block;
            }
            }
        }

        @mixin atSmall {
            font-size: .875rem;
        }
    }
    

    &--filter {
        position: relative;
        @mixin clearfix;
        font-size: .8125rem;
        margin: 0 auto;  
        padding: 20px 20px 10px 20px ;   

       &__alt {
           float: left;
        
           &--title {
                padding: 6.5px 15px;
                color: $mainFontColor;
                border: 1px solid rgba($mainDarkPaleBlue, .25);
                border-top: 3px solid $mainDarkPaleBlue;
                border-radius: 3px;
                background-color: #fff;
                cursor: pointer;
           }

           &--wrapper {
               position: absolute;
               width: 100%;
               background-color: #fff;
               color: $mainFontColor;
               font-size: .875rem;
               box-shadow: 0 2px 9px 4px rgba($mainDarkGray, .6);
               -o-box-shadow: 0 2px 9px 4px rgba($mainDarkGray, .6);
                -ms-box-shadow: 0 2px 9px 4px rgba($mainDarkGray, .6);
                -webkit-box-shadow: 0 2px 9px 4px rgba($mainDarkGray, .6);
                -moz-box-shadow: 0 2px 9px 4px rgba($mainDarkGray, .6);
               left: 0;
               top: 50px;
               border-radius: 3px;
               cursor: default;
               opacity: 0;
               visibility: hidden;
               z-index: 1;
               transition: all .3s ease-out;

               &__btn {
                font-size: .875rem;
                color: #fff !important;
                border: none;
                background-color: transparent;
                width: 100%;
                outline: none;
                border-top: 1px solid $mainDarkGray;
                padding: 15px 0 15px 0;
                text-align: center;

                & > span {
                    text-align: center;
                    cursor: pointer;
                    border-radius: 3px;
                }

                &--ok {
                    background-color: $mainDarkPaleBlue;
                    box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                    -o-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                    -ms-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                    -webkit-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                    -moz-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                    padding: 5px 20px;
                    
                    @mixin atExtraSmall {
                        padding: 5px 40px;
                    }
                }

                &--cancel {
                    color: $mainFontColor;
                    font-weight: 400;
                    margin-right: 10px;
                    border: 1px solid rgba($mainDarkRed, .4);
                    padding: 5px 20px;
                    background-color: $mainContentHeaderColor;

                    @mixin atExtraSmall {
                        margin-right: 40px;
                        margin-left: 0;
                        padding: 5px 20px;
                    }
                }
            }

            &__visible {
                visibility: visible;
                z-index: 1;
                opacity: 1;
                transition: all .3s ease-out;
            }
           }

           &--total {
            width: 100%;
            text-align: center;
            padding: 14px 0;
            font-size: .875rem;
            border-bottom: 1px solid $mainDarkGray;

             & > span {
                 color: #fff;
                 padding: 8px 12px;
                 margin-left: 20px;
                 background-color: $mainDarkPaleBlue;
                 color: #fff;
                 border-radius: 3px;
                 font-size: .8125rem;
                 box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                 -o-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                 -ms-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                 -webkit-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
                 -moz-box-shadow: 0px 2px rgba($mainDarkBlue, .2);
             }
           }

           &--contentwrapper {
            @mixin clearfix;
            padding-left: 10px;
            padding-top: 10px;

                & > div {
                    padding-right: 10px;

                    @mixin atSmall {
                        padding-right: 30px;
                    }
                }

                @mixin atSmall {
                    padding-left: 30px
                }
           }

           &--content {
               float: none;
               width: 70%;
               margin: 0 auto;
               
               &__title {
                    font-weight: 400;
                    padding: 8px 0;
                    text-align: center;
                    border: 1px solid $mainDarkGray;
                    border-bottom: none;
                    margin: 0;
                    font-size: .8125rem;
                    position: relative;
                    background-color: $mainHeaderColor;

                    @mixin atSmall {
                        font-size: .875rem;
                    }
               }

               &__option {
                   z-index: 1;
                    list-style: none;
                    margin: 0;
                    margin-bottom: 20px;
                    padding: 5px 0;
                    border: 1px solid $mainDarkGray;
                    font-size: .8125rem;
                    @mixin clearfix;

                    &--item {
                        /* float: left; */
                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        color: $mainFontColor;
                        @mixin clearfix;

                        li {
                            float: left;
                            padding: 8px 0;
                            
                            text-align: center;
                            
                            & > span {
                                margin-right: 5px;
                            }

                            &:first-child {
                                width: 45%;

                                @mixin atSmall {
                                    width: 50%;
                                }
                            }

                            &:last-child {
                                width: 55%;
                                @mixin atSmall {
                                    width: 50%;
                                }
                            }
                        }

                        &:hover  {
                            background-color: $mainDarkGray;
                            color: $mainFontColor !important;
                            cursor: pointer;
                        }
                    }

                    @mixin atSmall {
                        font-size: .875rem;
                    }
               }

               @mixin atMiniSmall {
                   float: left;
                   margin: 0;
                   width: 50%;
               }
           } 
       }

       &__search {
           float: left;
           margin-left: 20px;
           @mixin clearfix;

           &--title {
                float: left;
                padding: 0;
                margin: 0;
                font-size: .8125rem;
                position: relative;
                top: 15px;
                left: -3px;

                @mixin atExtraSmall {
                    top: 10px;
                    left: auto;
                }
           }

           &--input {
               float: left;
               border: 1px solid rgba($mainDarkBlue, .3);
               font-size: .8125rem;
               padding: 5px 5px;
               width: 145px;
               margin-left: 10px;
               margin-top: 10px;

               @mixin atExtraSmall {
                margin-top: 0;
                padding: 8px 5px;
                width: 140px;
               }

               @mixin atSmall{
                width: 130px;
               }

               @mixin atMedium {
                width: 120px;
               }

               @mixin atLarge {
                width: 180px;
               }
           }
       }

       &__category {
            float: left;
            margin: 0 0 0 15px;
            position: relative;
            display: none;
            box-shadow: 0 .5px 6px 1px rgba($mainDarkBlue, .6);
            -o-box-shadow: 0 .5px 6px 1px rgba($mainDarkBlue, .6);
            -ms-box-shadow: 0 .5px 6px 1px rgba($mainDarkBlue, .6);
            -webkit-box-shadow: 0 .5px 6px 1px rgba($mainDarkBlue, .6);
            -moz-box-shadow: 0 .5px 6px 1px rgba($mainDarkBlue, .6);
            color: #fff;
            background-color: $mainDarkBlue;
            padding: 8px 15px;
            margin: 0;
            cursor: pointer;

            &--option {
                position: absolute;
                list-style: none;
                padding: 3px 0 0 0;
                width: 100%;
                box-shadow: 0 1px 2px 1px rgba($mainDarkBlue, .6);
                -o-box-shadow: 0 1px 2px 1px rgba($mainDarkBlue, .6);
                -ms-box-shadow: 0 1px 2px 1px rgba($mainDarkBlue, .6);
                -webkit-box-shadow: 0 1px 2px 1px rgba($mainDarkBlue, .6);
                -moz-box-shadow: 0 1px 2px 1px rgba($mainDarkBlue, .6);
                color: $mainFontColor;
                top: 22px;
                left: 0;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                transition: all .3s ease-in;

                li {
                    padding: 8px 0 8px 4px;
                    background-color: #fff;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover {
                        background-color: $mainLightGray;
                        color: $mainFontColor;
                    }
                }

                &__visible {
                    visibility: visible;
                    opacity: 1;
                    z-index: 1;
                    transition: all .3s ease-in;
                }
            }

            @mixin atMiniSmall {
                
                margin: 0 0 0 20px;
                padding: 8.5px 25px;
            }

            @mixin atSmall {
                display: block;
                margin: 0 0 0 30px;
                padding: 8.5px 30px;
            }
       }


       &__innercategory {
            position: relative;
            color: $mainFontColor;
            width: 160px;
            margin: 0 auto 20px auto;
            cursor: pointer;
            text-align: left;
            font-size: .8125rem;
            box-shadow: 0 1px 2px 1px rgba($mainDarkGray, .6);

            &--title {
                padding: 8px 28px 8px 28px;
                background-color: $mainLightGray;
                border-radius: 3px;
                border: 1px solid $mainDarkGray;
            }

            &--option {
                list-style: none;
                margin: 1px 0 0 0;
                padding: 3px 0 0 0;
                width: 100%;
                border: 1px solid $mainDarkGray;
                display: none;
                visibility: hidden;
                z-index: 1;
                transition: all .3s ease-in;

                li {
                    padding: 8px 0 8px 4px;
                    background-color: #fff;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover {
                        background-color: $mainLightGray;
                        color: $mainFontColor;
                    }
                }

                &__visible {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    z-index: 1;
                    transition: all .3s ease-in;
                }
            }

            @mixin atSmall {
                font-size: .875rem;
            }
        }

        @mixin atSmall { 
            padding: 20px 20px 10px 20px ;         
        }
    }

    &--top { 
        @mixin atLarge {
            padding-top: 10px;  
            background-color: #fff;
            position: sticky; 
            top: 60px;     
            z-index: 2;   
        }
     }

    &--optionsTab {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $mainMiddleDarkBlue;
        @mixin clearfix;
        font-size: .875rem;
        font-weight: 300;
        position: relative; 
        z-index: 2;   

        li {
            float: none;
            text-align: center;
            color: #fff;
            cursor: pointer;
            padding: 11px 35px; 
            position: relative;
            font-size: .8125rem; 
               
            &:first-child { 
                border-bottom: 1px solid rgba(255,255,255, .45);

                @mixin atExtraSmall { 
                    border-bottom: none;  
                    border-right: 1px solid rgba(255,255,255, .45);
                }
            }

            @mixin atExtraSmall {
                float: left;
            }

            @mixin atSmall {
                font-size: .875rem; 
            }

            @mixin atMedium {
                padding: 15px 35px;
                font-size: .9375rem;
            }
        }

        &__sticky {
            position: sticky;
            top: 52px;         
            z-index: 2;  
            box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -o-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -ms-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -webkit-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2); 
            -moz-box-shadow: 0 2px 2px rgba($mainDarkBlack, .2);  
            
            @mixin atMedium {
                position: sticky; 
                top: 61px;    
            }

            @mixin atLarge {
                top: 70px;     
            }
        }

        @mixin atSmall {
            font-size: .9375rem !important;
        }
    }

    &--noaccount {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid rgba($mainLightBlue, .3);

        &__img {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            background-color: $mainExtraLightGray;
            position: relative;
            opacity: .9;
            display: flex;
            align-self: center;

            @mixin atExtraSmall {
                width: 64px;
                height: 64px;
                border-radius: 32px;
            }

            @mixin atSmall {
                width: 70px;
                height: 70px;
                border-radius: 35px;
            }

            @mixin atMedium {
                width: 80px;
                height: 80px;
                border-radius: 40px;
            }
        }

        &__title {
            text-align: center;
            font-size: .8125rem;
            padding: 0;
            margin: 0 0 0 5px;
            position: relative;
            top: -3px;
            
            a {
                text-decoration: none;
            }

            p{
            }

            &--login {
                padding: 4px 6px;
                background-color: $mainLightGray;
                border: 1px solid $mainLightGray;
                color: rgba($mainFontColor, .8);
                border-radius: 3px;
                margin: 0 5px;
            }

            &--signup {
                padding: 4px 6px;
                background-color: $mainDarkBlue;
                color: #fff;
                border-radius: 3px;
                margin: 0 0 0 5px;
                font-weight: 300;
            }

            &--groups {
                padding: 4px 6px;
                background-color: $mainDarkBlue;
                color: #fff;
                border-radius: 3px;
                margin: 0 0 0 5px;
                font-weight: 300;
            }

            @mixin atMiniSmall {
                margin: 0 0 0 20px;
                /* font-size: .9375rem; */
                top: -1px;
            }

            @mixin atSmall {
                font-size: .875rem;
                top: -2px;
            }

            @mixin atMedium {
                font-size: .9375rem;
                top: 1px;
            }
        }
        @mixin atSmall {
            flex-direction: row;
        }
    }
}