 <div class="site-main site-main__expage">
    <div class="wrapper__exmain">
       <div class="site-main__content">
            <div class="site-main__content--wrapper">
                    {{> partialexamtab}}
            </div>
        </div>
    </div>
</div>