<div class="examtab">
    <h3 class="examtab__title">
        The Peom and poet best online exam to take
    </h3>  
    <ul class="examtab__details"> 
        <li class="examtab__details--tag"><i class="fas fa-tag"></i><span>poem</span></li>
        <li class="examtab__details--curque">
            <div class="examtab__details--curque__wrapper">
                <div><div>22</div></div>
                <span>25 Rem</span>
            </div>
        </li>
        <li class="examtab__details--time"><div class="examtab__details--time__wrapper"><div class="examtab__details--time__wrapper--icn"><i class="fas fa-clock"></i></div><span>25:00</span></div> </li>
    </ul>
    <div class="examtab__content">
        <div class="examtab__content--que">
            Who is the best poeter of the year
            Who is the best poeter of the yearWho is the best poeter of the yearWho is the best poeter of the yearWho is the best poeter of the yearWho is the best poeter of the year
        </div>
        <div class="examtab__content--opt">
            <ul class="examtab__content--opt__first">
                <li><div>A</div> Poem</li>
                <li><div>B</div> Prose</li>
                <li><div>C</div> Poeter </li>
                <li><div>D</div> Poet</li>
            </ul>
        </div>
    </div> 
    <div class="examtab__footer">
         <ul class="examtab__footer--cont">
            <li class="examtab__footer--cont__prev"><span><i class="fas fa-angle-double-left"></i> Prev</span></li>
            <li class="examtab__footer--cont__next"><span>Next <i class="fas fa-angle-double-right"></i></span> </li>
        </ul>
    </div>
</div>