<div class="exam-cnt">
    <div class="exam-cnt__wrapper">
        <h3 class="exam-cnt__title">
            The Peom and poet best online exam to take
        </h3>  
        <div class="exam-cnt__det"> 
            <div class="exam-cnt__det--tag"><i class="fas fa-tag icon icon__site-main--exam-cnt__tag"></i><span>poem</span></div>
            <div class="exam-cnt__det--cur-que">
                <div>22</div>
                <span>25 Rem</span>
            </div>
            <div class="exam-cnt__det--tm">
                <div><i class="fas fa-clock icon icon__site-main--exam-cnt__tm"></i></div>
                <span>25:00</span>
            </div>
        </div>
        <div class="exam-cnt__content">
            <div class="exam-cnt__content--que">
                Who is the best poeter of the year
                Who is the best poeter of the yearWho is the best poeter of the yearWho is the best poeter of the yearWho is the best poeter of the yearWho is the best poeter of the year
            </div>
            <ul class="exam-cnt__content--opt">
               <li><div>A</div> Poem</li>
                <li><div>B</div> Prose</li>
                <li><div>C</div> Poeter </li>
                <li><div>D</div> Poet</li>
            </ul>
        </div> 
        <div class="exam-cnt__footer">
            <div class="exam-cnt__footer--prev"><i class="fas fa-angle-double-left icon icon__site-main--exam-cnt__footer--prev"></i> Prev</div>
            <div class="exam-cnt__footer--nxt">Next <i class="fas fa-angle-double-right icon icon__site-main--exam-cnt__footer--nxt"></i></div>
        </div>
    </div>
</div>