.icon__site-main--conv__header--comment {
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    left: 50%;
    transform: translateX(-50%);

}

.icon__site-main--conv__header--search {
    cursor: pointer;
    color: #fff;

}

.icon__reuse-conv-filter--add {
    margin-right: 5px;
    font-size: .75rem;

}

.icon__reuse-conv-filter--del {
    margin-right: 5px;
    font-size: .75rem;

}

.icon__site-main--conv__tab--icn {
    margin-right: 5px;

}

.active__main {
    color: #fff;

}

.active__main--conv {
    top: 4px;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: .8125rem;
    border: 1px solid rgba(255,255,255, .25);

}

.active__main--conv > div {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;

}

@media (min-width: 530px) {

    .active__main--conv {
        right: 8px;
        top: 4px;

    }

}

.site-main__conv{
    color: #182427;
    position: relative;
}

.site-main__conv--header {
    background-color: #437da3;
    font-size: .875rem;
    font-weight: 300;
    position: relative;
    z-index: 1;
    padding: 8px 35px;
    color: #fff;
    box-shadow: 0 1px 2px 0px rgba(0,0,0, .4);

}

.site-main__conv--header__wrapper {
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 40px;
    width: 160px;

}

.site-main__conv--header__wrapper > div {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #fff;
    color: #182427;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

}

.site-main__conv--header__search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: #05578b;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;

}

@media (min-width: 530px) {

    .site-main__conv--header {
        font-size: .875rem;

    }

}

@media (min-width: 800px) {

    .site-main__conv--header {
        padding: 8px 35px;
        font-size: .9375rem;

    }

}


.reuse-conv-filter {
    width: 100%;
    position: relative;
    padding: 10px 15px 10px 15px;  
    border-bottom: 1px solid #dcdbdc;
    
}

.reuse-conv-filter__wrapper {
    position: relative;

}

.reuse-conv-filter__wrapper::after {
    content: "";
    clear: both;
    display: table;

}

.reuse-conv-filter__del {
    float: right;
    color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    text-align: center;
    font-size: .8125rem;
    background-color: #ff1600;
    box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.53);
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;

}

@media (min-width: 530px) {
    .reuse-conv-filter {
        padding: 20px;

    }
}  