<div class="site-main">
    <div class="wrapper__exmain">
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                 <h4 class="site-main__nav--header">
                    User Account
                </h4>
                <ul>
                    <li>
                        <a href=""><div><i class="fas fa-location-arrow"></i></div> Shared with me</a>
                        <div class="active__main active__main--nav">
                            <div>99</div>
                        </div> 
                    </li>
                    <li>
                        <a href=""><div><i class="fas fa-hand-paper"></i></div> Help me</a>
                        <div class="active__main active__main--nav">
                            <div>99</div>
                        </div> 
                    </li>
                    <li>
                        <a href=""><div><i class="fas fa-users"></i></div> Users</a>
                        <div class="active__main active__main--nav">
                            <div>99</div>
                        </div> 
                    </li>
                    <li><a href=""><div><i class="fas fa-eye"></i></div> Published</a></li>
                    <li><a href=""><div><i class="fas fa-eye-slash"></i></div> Draft</a></li>
                    <li>
                        <a href=""><div><i class="fas fa-edit"></i></div> Profile</a>
                        <div class="active__main active__main--nav">
                            <div>1</div>
                        </div> 
                    </li>
                    <li><a href=""><div><i class="fas fa-bell"></i></div> Notification Settings</a></li>
                    <li><a href=""><div><i class="fas fa-cogs"></i></div> Account Settings</a></li>
                </ul>
            </div>
        </div>
       <div class="site-main__content">
           <div class="site-main__content--wrapper">
                <div class="site-main__content--overlay"></div>
                <div class="site-main__content--top"></div>
                {{> partialaccprf}}
           </div>
        </div>
    </div>
</div> 
