<div class="acc">
    <div class="acc__nav">
        <h4 class="acc__nav--header">
             Account
        </h4>
        <ul>
            <li><div><i class="fas fa-location-arrow"></i></div> Shared with me</li>
            <li><div><i class="fas fa-users"></i></div> Users</li>
            <li><div><i class="fas fa-clone"></i></div> My Works</li>
            <li><div><i class="fas fa-cogs"></i></div> Settings</li>
        </ul>
    </div> 
    <div class="acc__main">
        {{> partialUsershare}}
    </div>
</div> 