<div class="site-main__acc-set">
    <div class="site-main__content--tab">
        <div class="site-main__content--tab__icn">
            <i class="fas fa-cogs con icon__acc-set--tab"></i>
        </div>
        Account Setting
        <div class="site-main__content--tab__nav-cnt">
            <i class="fas fa-bars icon icon__acc--nav-cnt"></i>
        </div> 
    </div>  

    <form action="" class="reuse-form">
        <div class="reuse-form__cnt">
            <div class="reuse-form__cnt--wrapper">
                <label for="old password" class="reuse-form__cnt--title">Current Password</label>
                <div class="reuse-form__cnt--det">
                    <input type="text" name="" id="" class="reuse-form__cnt--det__input reuse-form__cnt--det__input--lg">
                    <div><i class="far fa-eye icon icon__reuse-form--view"></i></div>
                </div>
                {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
            </div>
            <div class="reuse-form__cnt--wrapper">
                <label for="new password" class="reuse-form__cnt--title">New Password</label>
                <div class="reuse-form__cnt--det">
                    <input type="text" name="" id="" class="reuse-form__cnt--det__input reuse-form__cnt--det__input--lg">
                </div>
                {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
            </div>
            <div class="reuse-form__cnt--wrapper">
                <label for="confirm password" class="reuse-form__cnt--title">Confirm Password</label>
                <div class="reuse-form__cnt--det">
                    <input type="text" name="" id="" class="reuse-form__cnt--det__input reuse-form__cnt--det__input--lg">
                </div>
                {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
            </div>
        </div>
        
        <div class="reuse-form__footer reuse-form__btn">
            <button type="submit" class="reuse-form__btn--add"><i class="fas fa-check icon icon__reuse-form--btn"></i> Change</button>
        </div>
    </form>

</div>