<div class="site-main__acc-prf">
    <div class="site-main__content--tab">
        <div class="site-main__content--tab__icn">
            <i class="far fa-edit con icon__acc-prf--tab"></i>
        </div>
        Edit Profile
    </div>
    <div class="site-main__acc-prf--wrapper">
        <div class="site-main__acc-prf--user-det">
            <div class="site-main__acc-prf--user-det__img"></div>
            <h4 class="site-main__acc-prf--user-det__title">
                Change profile Picture 
                <div><i class="fas fa-edit"></i> Edit
                    <div class="active__main active__main--prf">
                        <div>1</div>
                    </div> 
                </div>
            </h4>
            <div class="site-main__acc-prf--user-det__cnt">
                <div action="" class="site-main__acc-prf--user-det__cnt--info">
                    <div>Upload profile picture</div>
                    <input type="file" name="" id="" class="site-main__acc-prf--user-det__cnt--info__img">
                </div>
                <div class="site-main__acc-prf--user-det__cnt--img">
                </div>
                <div class="site-main__acc-prf--user-det__cnt--btn">
                    <button class="site-main__acc-prf--user-det__cnt--btn__exit">
                        <i class="fas fa-times icon icon__acc-prf--user-det__btn"></i> Exit
                    </button>
                    <button class="site-main__acc-prf--user-det__cnt--btn__add">
                        <i class="fas fa-check icon icon__acc-prf--user-det__btn"></i> Change
                    </button>
                </div>
            </div>
        </div>
        
        <div class="site-main__acc-prf--exp">
            <h4 class="site-main__acc-prf--exp__title">
                Edit Expertise <span><i class="fas fa-edit"></i> Edit</span>
            </h4>
            <div class="site-main__acc-prf--exp__cnt">
                <form action="" class="site-main__acc-prf--exp__cnt--form">
                    <label for="expertise" class="site-main__acc-prf--exp__cnt--form__title">Add Expertise</label>
                    <div class="site-main__acc-prf--exp__cnt--form__wrapper">
                        <input type="text" placeholder="add..." class="site-main__acc-prf--exp__cnt--form__input">
                        <button type="submit" class="site-main__acc-prf--exp__cnt--form__btn">Add</button>
                    </div>
                </form>
                <div>Current Expertise</div>
                <ul>
                    <li>Post <div><i class="fas fa-times icon icon__acc-prf--exp__close"></i></div></li>
                </ul>
            </div>
        </div>
    </div>
</div>