.reuse-cnt__media--currentIndex {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.reuse-cnt__media--currentIndex > img, .reuse-cnt__media--currentIndex > video {
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.enter-active.enter-next, .enter-active.enter-prev {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.enter-next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.enter-prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.exit-active-next {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.exit.exit-active-prev {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}