.nav {
    font-size: .8125rem;
    font-family: "poppins" , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 40px;
    right: -40px;
    background-color: #fff;
    padding: 0 10px;
    @mixin clearfix;
    width: 15rem;
    box-shadow: 0px 0px 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
    /* border: 1px solid $mainDarkGray; */
    opacity: 0;
    visibility: hidden;
    cursor: default;
    transform: scale(.8);
    transition: all .3s ease-out;

    &::after {
        content: "";
        border-color: transparent;
        position: absolute;
        right: 45px;
        border-width: 10px;
        border-style: solid;
        border-bottom-color: #fff;
        top: -20px;
    }

    &::before {
        border-color: transparent;
        content: "";
        position: absolute;
        right: 44px;
        border-width: 11px;
        border-bottom-color: rgba($mainDarkBlack, 0.25);
        /* border-bottom-color: $mainDarkGray; */
        border-style: solid;
        top: -22px;
    }

    & > div {
        float: left;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        padding: 10px;
        text-align: center; 

        & > ul {
            list-style: none;
            margin: 5px 0 0 0;
            padding: 0;
            width: 100%;
            display: none; 
            
            & > li {
                padding: 5px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 

                & > a {
                    text-decoration: none;
                    padding: 5px 10px;
                    color: $mainFontColor;

                    &:hover {
                        background-color: $mainDarkBlue;
                        color: #fff;
                    }
                }

               
            }
        }

        @mixin atSmall {
            width: 33.333%;
        }
    }

    @mixin atSmall {
        width: 25rem;
    }

    &__visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: all .3s ease-out;
    }
}