.reuse-grp-chat {
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);

    &__nav {
        margin: 20px 10px 10px 10px;
    }

    &__conv {
        margin: 40px 15px;  

        @mixin atSmall {
            margin: 40px 20px 60px 20px;
        }
    }

    &__img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: $mainLightGray;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    &__det {
        list-style: none;
        padding: 0 30px 0 80px;
        margin:  0;
        width: 100%;
        font-size: .875rem;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;

        li {
            margin: 0;
        }

        &--title {
            padding: 6px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 500;
            color: rgba($mainDarkPaleBlue, .8);
            font-size: .9375rem;
            
            & > a {
                text-decoration: none;
                color: rgba($mainDarkPaleBlue, .8);
            }
        }   

        &--last-msg {
            padding: 2px 0; 
            color: rgba($mainDarkBlack, .6);
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            & > a {
                text-decoration: none;
                color: rgba($mainDarkBlack, .6);
            }
        }

        &--status {
            padding: 10px 0;
            @mixin clearfix;

            & > div {
                float: left;
                font-size: .8125rem;

                & > span {
                    padding: 2px 8px;
                    color: #fff;
                    margin-left: 5px;
                    border-radius: 10px;
                    box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                    -ms-box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                    -moz-box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                    -webkit-box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                    -o-box-shadow:0 2px 3px 0px rgba($mainDarkBlack, .4);
                }
            }

            &__on {
                padding-right: 25px;

                &--nav {
                    padding-right: 14px;
                }

                & > span {
                    background-color: $mainLightGreen;
                }
            }

            &__off {
                position: relative;

                & > span {
                    background-color: $mainLightRed;
                }
            }
        }
    }

    &__opt {
        position: absolute;
        right: 2px;
        height: 28px;
        width: 28px;
        border-radius: 14px; 
        bottom: 2px;
        cursor: pointer;

        &::before, &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: rgba($mainDarkBlack, .45);
        }

        &::before {
            bottom: 20px;
        }

        &::after {
            bottom: 4px;
        }

        &--clk {
            background-color: $mainExtraLightGray; 
        }

        &--mid {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: rgba($mainDarkBlack, .45);
            bottom: 12px;
        }

        &--det {
            position: absolute;
            list-style: none;
            top: 40%;    
            transform: translateY(-40%);
            right: 42px;
            padding: 0;
            margin: 0;
            background-color: #fff;
            box-shadow: 0 0 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
            font-size: .8125rem;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in;

            li {
                padding: 5px;
                margin: 5px;
                background-color: $mainLightGray;
                font-weight: 300;
                white-space: nowrap;
                border: 1px solid rgba($mainDarkBlack, .25);
                cursor: pointer;

                &:last-child {
                    background-color: $mainDarkRed;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            &::after, &::before {
                position: absolute;
                content: "";
                border-color: transparent;
                border-style: solid;
                transform: rotate(90deg);
                pointer-events: none;
            }

            &::after {
                top: 20px;
                right: -24px;
                border-width: 12px;
                border-bottom-color: #fff;
            }

            &::before {
                top: 19px;
                right: -26px;
                border-width: 13px;
                border-bottom-color: rgba($mainDarkBlack, 0.25);
            }

            &__visible {
                opacity: 1;
                visibility: visible;
                z-index: 1;
                transition: all .5s ease-out;
            }
        }

        &:hover {
            background-color: $mainExtraLightGray; 
            transition: all .3s ease-in;
        }
    }
}