.reuse-modal {
    position: relative;
    font-size: .875rem;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    margin: 0 auto; 
    background-color: #fff;
    box-shadow: 0 1px 8px 4px rgba(0,0,0, .65);
    z-index: 3;
    padding: 10px;

    & > h3 {
        font-weight: 400;
        font-size: .875rem;
        margin: 20px 0;
        padding: 5px;
        text-align: center;
        background-color: $mainHeaderColor;
    }

    &__success {
        color: $mainLightGreen;
        text-align: center;
        font-weight: 400;
    }

    &__icn {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin: 0 auto;
        background-color: $mainHeaderColor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: $mainFontColor;
        box-shadow: 0 2px 5px 0 rgba($mainDarkBlack, .75);
    }
    
    &__warn {
        text-align: center;
        color: $mainFontColor;

        & > h4 {
            margin: 15px 0 10px 0;
            padding: 0;
            text-align: center;
            font-weight: 400;
        }

        & > p {
            color: $mainFontColor;
            padding: 5px;
            background-color: $mainHeaderColor;
            margin: 0;
            font-weight: bold;
        }
    }

    &__btn {
        padding: 5px 10px;
        margin-top: 20px;
        width: 100%;
        @mixin clearfix;
        font-size: .8125rem;

        & > button {
            position: relative;
            padding: 6px 10px;
            border-radius: 5px;
            border: none; 
            outline: none;
            cursor: pointer;
            box-shadow: 0 1px 2px 0 rgba($mainDarkBlack, .85);
        }

        &--cancel {
            background-color: #fff;
            color: $mainFontColor;
            float: left;

            &:hover {
                background-color: $mainExtraLightGray;
            }
        }

        &--del {
            background-color: $mainLightRed;
            color: #fff;
            float: right;

            &:hover {
                background-color: $mainDarkRed;
            }
        }

        &--success {
            background-color: $mainDarkBlue;
            color: #fff;
            float: right;

            &:hover {
                background-color: $mainDarkPaleBlue;
            }
        }
    }

    @mixin atExtraSmall {
        width: 300px;
    }
}