.site-main__nav {
        width: 40%;
        border: 1px solid $mainDarkGray;
        color: #fff;
        float: left;
        display: none;
        font-weight: 300;
        margin-top: 10px;
        height: 92vh;       
 
       
        &--sticky { 
            top: 70px; 
            position: sticky;      
            overflow: hidden;   
        }

        &--header {
            background-color: $mainMiddleDarkBlue;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            font-size: .9375rem;
            @mixin clearfix;

            li {
                float: left;
                padding: 15px 27.2px;

                &:last-child {
                    /* position: absolute;
                    right: 8%; */
                    float: right;
                }
            }
        }

        &--topTreding {
            color: $mainFontColor;
            text-align: center;
            padding: 0px 20px;
            font-weight: 400;

            p {
                padding: 5px 20px;
                background-color: $mainHeaderColor;
            }

            &__items {
               
                &--wrapper {
                   box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
                   -o-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
                   -webkit-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
                   -moz-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
                   -ms-box-shadow: 0px .3px 5px 2px rgba($mainDarkBlue, .3);
                    margin: 10px  0 20px 0;
                    border-radius: 3px;
                }

                &--title {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    @mixin clearfix;
                    border: 1px solid $mainLightGray;
                    font-size: .875rem;
                    
                    
                    li {
                        float: left;
                        width: 50%;
                        text-align: center;
                        padding: 5px 0;
                        background-color: $mainDarkBlue;
                        border-right: 1px solid $mainLightGray;
                        color: #fff;

                        &:last-child {
                            border: none;
                        }
                    }
                }

                &--content {
                    font-size: .9375rem;
                    padding: 10px;
                    text-align: left;
                }

                &--details {
                    @mixin clearfix;
                    font-size: .8125rem;
                    border-top: 1px solid $mainLightGray;
                    /* border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px; */

                    &__category {
                        float: left;
                        width: 30%;
                        text-align: left;
                        padding: 5px 0 5px 10px;
                    }

                    &__icons {
                        float: left;
                        width: 70%;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        @mixin clearfix;
                        
                        li {
                            width: 30%;
                            float: left;
                            border-right: 1px solid $mainLightGray;
                            padding: 5px 0 5px 0px;

                            &:first-child {
                                border-right: 1px solid $mainLightGray;
                                width: 40%;
                            }

                            &:last-child {
                                width: 30%;
                                border-right: none !important;    
                            }
                        }
                    }
                }
            }
        }

        &--timedQues {
            background-color: $mainDarkBlue;
            color: #fff;
            margin: 10px 20px;
            font-weight: 400;

            &__header {
                text-align: center;
                font-size: .9375rem;
                padding: 10px 0;
                width: 100%;
                border-bottom: 1px solid rgba(#fff, .6);

                &--startQues {
                    background-color: $mainLightBlue;
                    padding: 3px 5px;
                    margin-left: 10px;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            &__category {
                text-align: center;
                width: 100%;
                color: $mainFontColor;
                display:  flex;
                justify-content: center;
                align-self: center;
                font-size: .875rem;

                &--title {
                    width: 140px;
                    margin: 8px 0;
                    padding: 5px 0;
                    background-color: #fff;
                    cursor: pointer;
                    position: relative;
                    box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -o-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -moz-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -webkit-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);
                    -ms-box-shadow: inset 0 0 2px .5px rgba($mainDarkBlue, .56);    
                    
                    &__item {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        position: absolute;
                        box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -moz-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -webkit-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -ms-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        -o-box-shadow:  0 0 .5px .2px rgba($mainDarkBlue, .8);
                        width: 100%;
                        background-color: #fff;
                        bottom: 25px;
                        max-height: 200px;
                        overflow: hidden;
                        overflow-y: auto;
                        border-top: none;
                        font-size: .875rem;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                        transition: all .3s ease-out;

                        li {
                            /* border-bottom: 1px solid $mainLightGray; */
                            padding: 5px 0;
                            box-shadow: inset 0 .5px .2px 0px rgba($mainDarkBlue, .8);

                            &:first-child {
                                margin-top: 3px;
                                /* border-top: 1px solid $mainLightGray; */
                                box-shadow: none;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        &--visible {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
        }
        
    @mixin atLarge {
        display: block; 
    }
}