.site-main__nav {
        width: 35%;
        background-color: rgba($mainHeaderColor, .4);    
        box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -o-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -webkit-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
        -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);  
        float: left;
        display: none;
        font-weight: 300;
        margin-top: 10px;
        height: 92vh;       
 
       
        &--sticky { 
            top: 60px; 
            position: sticky;      
            overflow: hidden;  
        }

        &--wrapper { 
            display: flex;
            flex-direction: column;
            height: 92vh; 
        }


        &--header {
            background-color: $mainMiddleDarkBlue;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            color: #fff;
            font-size: .875rem;
            @mixin clearfix;
            box-shadow: 0 2px 2px rgba($mainDarkBlack, .2);  

            li {
                float: right; 
                padding: 12px 25px 12px 0;
            }
        }
        
    @mixin atLarge {
        display: block;         
    }
}