.site-main {
    position: relative;
    font-family: "Roboto",Segoe UI, Tahoma, Geneva, Verdana, sans-serif;

    &__expage {
        top: 79px;

        @mixin atMedium {
            top: 65px;
        }
    }

    &__content {
        width: 100%;
        position: relative;
        float: none;
        
        &--wrapper {
            background-color: #fff;
            padding-bottom: 20px;
        }
        

        @mixin atMedium {
            padding-left: 0;
        }

        @mixin atLarge {
            width: 65%;
            float: left;
            padding-right: 40px;
            left: 0;
            transform: translateX(0);
        }

    }


}