<form action="" class="reuse-form">
    <div class="reuse-form__wrapper">
        {{!-- <div class="reuse-form__overlay"></div> --}}
        <h3 class="reuse-form__title">
            <div><div><i class="fas fa-pencil-alt"></i></div> Add Post</div>
        </h3>
        <div class="reuse-form__cnt">
            <div class="reuse-form__cnt--wrapper">
                <label for="category" class="reuse-form__cnt--title"><i class="fas fa-tags icon icon__reuse-form--cnt__tag"></i> Post Tags</label>
                <div class="reuse-form__cnt--det">
                    <div class="reuse-form__cnt--det__wrapper">
                        <div class="reuse-form__cnt--det__selec reuse-form__cnt--det__selec--categ">
                            Category <i class="fas fa-angle-down icon icon__reuse-form--angle"></i> 
                            <ul class="reuse-form__cnt--det__selec--opt">
                                <li>Entertainment</li>
                                <li>Social</li>
                                <li>Social</li>
                                <li>Poem</li>
                                <li>Prose</li>
                                <li>Poet</li>
                                 <li>Entertainment</li>
                                <li>Social</li>
                                <li>Social</li>
                                <li>Poem</li>
                                <li>Prose</li>
                                <li>Poet</li>
                            </ul>
                        </div>
                        <div class="reuse-form__cnt--det__alt">
                            <div class="reuse-form__cnt--det__alt--title">
                                <div>OR</div>
                            </div>
                            <div class="reuse-form__cnt--det__alt--cnt">
                                <input type="text" name="" id="" class="reuse-form__cnt--det__input" placeholder="Add Category">
                                <button class="reuse-form__cnt--det__alt--add">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reuse-form__cnt--tag">
                    <h3><i class="fas fa-bars icon icon__reuse-form__cnt--categ"></i>Category </h3>
                    <ul class="reuse-form__cnt--tag__itm">
                        <li>Poem <div><i class="fas fa-times icon icon__reuse-form__cnt--tag__close"></i></div></li>
                        <li>Poet <div><i class="fas fa-times icon icon__reuse-form__cnt--tag__close"></i></div></li>
                        <li>News <div><i class="fas fa-times icon icon icon__reuse-form__cnt--tag__close"></i></div></li>
                        <li>Entertainment <div><i class="fas fa-times icon icon__reuse-form__cnt--tag__close"></i></div></li>
                    </ul>
                </div>
                {{!-- <div class="reuse-form__err">Pls, select category</div> --}}
            </div>
            <div class="reuse-form__cnt--wrapper">
                <label for="Post Title" class="reuse-form__cnt--title">Post Title</label>
                <div class="reuse-form__cnt--det">
                    <input type="text" name="" id="" class="reuse-form__cnt--det__input reuse-form__cnt--det__input--lg">
                </div>
                {{!-- <div class="reuse-form__err">Pls, Enter a title</div> --}}
            </div>
            <div class="reuse-form__cnt--wrapper">
                <label for="post content" class="reuse-form__cnt--title">Content </label>
                <div class="reuse-form__cnt--det">
                    <textarea name="" id="" class="reuse-form__cnt--det__info"></textarea>
                </div>
                {{!-- <div class="reuse-form__err">Pls, content must not be empty</div> --}}
            </div>
            <div class="reuse-form__cnt--wrapper">
                <div class="reuse-form__cnt--det">
                    <div class="reuse-form__cnt--det__wrapper">
                        <div class="reuse-form__cnt--det__selec reuse-form__cnt--det__selec--add">
                            Add  Items <i class="fas fa-angle-down icon icon__reuse-form--angle"></i>
                            <ul class="reuse-form__cnt--det__selec--opt">
                                <li class="reuse-form__cnt--det__selec--opt__img">Image</li>
                                <li class="reuse-form__cnt--det__selec--opt__vid">Video</li>
                            </ul>
                        </div>
                        <div class="reuse-form__cnt--det__selec reuse-form__cnt--det__selec--user">
                            <i class="fas fa-chalkboard-teacher icon icon__reuse-form--cnt__user"></i> Share Users 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        <div class="reuse-form__footer reuse-form__btn">
            <button type="submit" class="reuse-form__btn--dft"><i class="fas fa-eye-slash icon icon__reuse-form--btn"></i> Draft</button>
            <button type="submit" class="reuse-form__btn--add"><i class="fas fa-plus icon icon__reuse-form--btn"></i> Add</button>
        </div>
    </div>
</form>