<div class="site-main__nav--onlineQue">
    <div class="site-main__nav--onlineQue__filter">
        {{!-- <div class="site-main__nav--onlineQue__filter--header">
            <p>Filter</p> <input type="text" placeholder="Enter question title" class="site-main__nav--onlineQue__filter--header__input">
        </div>  --}} 
         <div class="site-main__nav--onlineQue__filter--category">
             <div class="site-main__nav--onlineQue__filter--category__option">
                 Select category <i class="fas fa-angle-down icon icon__site-main__nav--onlineQue__filterIcon"></i>
                 <ul class="site-main__nav--onlineQue__filter--category__option--item">
                     <li>Prose</li>
                     <li>Social</li>
                     <li>Scholarship</li>
                     <li>Add Category</li>
                 </ul>
             </div> 
                <ul class="site-main__nav--onlineQue__filter--category__duration">
                    <li><i class="fas fa-clock icon icon__site-main__nav--onlineQue__durationClock"></i> Duration</li>
                    <li><input type="text" class="site-main__nav--onlineQue__filter--category__duration--inputField" placeholder="time"></li>
                    <li>
                    <div class="site-main__nav--onlineQue__filter--category__duration--timeframe">hrs</div> 
                    <div class="site-main__nav--onlineQue__filter--category__duration--icon"><i class="fas fa-angle-down"></i></div>
                    <ul class="site-main__nav--onlineQue__filter--category__duration--timeframe__option">
                        <li>Min</li>
                        <li>Hrs</li>
                    </ul>
                    </li>
                </ul>
         </div>
    </div>
    <div class="site-main__nav--onlineQue__contentwrapper">
        <ul class="site-main__nav--onlineQue__header">
            <li>
                <div class="site-main__nav--onlineQue__header--quesNumber">
                    100
                </div>
                <div class="site-main__nav--onlineQue__header--title">
                    Questions
                </div>
            </li>
            <li>
                <div class="site-main__nav--onlineQue__header--quesTime">
                    <i class="far fa-clock icon icon__site-main--nav__onlineQue--timeIcon"></i> 22hrs
                </div>
            </li>
            <li>
                <div class="site-main__share">
        <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
    </div>
    <div class="site-main__share--content">
        <ul class="site-main__share--content__options">
            <li>
                <div class="site-main__share--content__options--item">
                    <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                </div> 
                <div class="site-main__share--content__options--details">
                    <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                    <div class="site-main__share--content__options--details__user">
                        <div class="site-main__share--content__options--details__user--wrapper">
                            <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                            <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                            <div class="site-main__share--content__options--details__user--img">
                            <img src="/" alt="">
                             </div>
                        <ul>
                            <li><a href=""> User user User user User user</a></li>
                            <li>Answered: 13K </li>
                            <li>Students: 234K</li>
                        </ul>
                        </div>
                    </div>
                </div>
                <ul class="site-main__share--content__options--userCounter">
                    <li>Tips: Click user image to select</li> 
                    <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                    <li>
                        <ul>
                            <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                            <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                        </ul>
                    </li>
                </ul>
                <div class="site-main__share--content__options--userSelected">
                    <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                    <div class="site-main__share--content__options--userSelected__mainclose">
                        <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                    </div>
                        <div class="site-main__share--content__options--userSelected__wrapper">
                            <div class="site-main__share--content__options--userSelected__wrapper--content">
                            <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                            <div class="site-main__share--content__options--userSelected__img">
                                    <img src="/" alt="">
                                </div>
                                <ul>
                                    <li><a href=""> User user User user User user</a></li>
                                    <li>Answered: 13K </li>
                                    <li>Students: 234K</li>
                                </ul>
                            </div>
                        </div>
                        <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                    </div>
            </li>
            <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
        </ul>
    </div>
            </li>
        </ul>
        <div class="site-main__nav--onlineQue__content">
            <p class="site-main__nav--onlineQue__content--title">
                <a href="">The new exam set for the inter state</a>
            </p>
            <div class="site-main__nav--onlineQue__content--posted">
                <p class="site-main__nav--onlineQue__content--posted__user">
                    <i class="far fa-user icon icon__site-main--nav__onlineQue--userIcon"></i><a href="">User User</a>@ 2m ago
                </p>
            </div>
        </div>
        <ul class="site-main__nav--onlineQue__footer">
            <li><i class="far fa-comment-dots icon icon__site-main--nav__onlineQue--footerIcon"></i> 111k</li>
            <li><i class="far fa-heart icon icon__site-main--nav__onlineQue--footerHeartIcon"></i> 455m</li>
            <li><i class="fas fa-pencil-alt icon icon__site-main--nav__onlineQue--footerIcon"></i> 222k</li>
        </ul>
    </div>
</div>