<div class="reuse-que-help">
    <div class="reuse-que-help__wrapper">
        <div class="reuse-que-help__icn">
            <i class="fas fa-hand-paper icon icon__reuse-que-help--user"></i>
        </div>
        <div class="reuse-que-help__cnt">
            <h4 class="reuse-que-help__cnt--title">You are not logged in.</h4>
            <ul>
                <li><a href="" class="reuse-que-help__cnt--login">login in</a> </li>
                <li><a href="" class="reuse-que-help__cnt--sign">sign up</a></li>
            </ul>
        </div>

        <div class="reuse-que-help__cnt">
            <h4 class="reuse-que-help__cnt--title reuse-que-help__cnt--title__add-grp">You have no student yet!.</h4>
        </div>
    </div>
</div>