<div class="reuse-no-acc">
    <div class="reuse-no-acc__wrapper">
        <div class="reuse-no-acc__icn">
            <i class="fas fa-hand-paper icon icon__reuse-no-acc"></i>
        </div>
        <div class="reuse-no-acc__cnt">
            <h4 class="reuse-no-acc__cnt--title">You are not logged in.</h4>
            <ul>
                <li><a href="" class="reuse-no-acc__cnt--login">login in</a> </li>
                <li><a href="" class="reuse-no-acc__cnt--sign">sign up</a></li>
            </ul>
        </div>

        <div class="reuse-no-acc__cnt">
            <h4 class="reuse-no-acc__cnt--title reuse-no-acc__cnt--title__add-grp">You have no student yet!.</h4>
        </div>
    </div>
</div>