<div class="site-main__nav--quote">

    <div class="site-main__share">
        <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
    </div>
    <div class="site-main__share--content">
        <ul class="site-main__share--content__options">
            <li>
                <div class="site-main__share--content__options--item">
                    <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                </div> 
                <div class="site-main__share--content__options--details">
                    <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                    <div class="site-main__share--content__options--details__user">
                        <div class="site-main__share--content__options--details__user--wrapper">
                            <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                            <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                            <div class="site-main__share--content__options--details__user--img">
                            <img src="/" alt="">
                             </div>
                        <ul>
                            <li><a href=""> User user User user User user</a></li>
                            <li>Answered: 13K </li>
                            <li>Students: 234K</li>
                        </ul>
                        </div>
                    </div>
                </div>
                <ul class="site-main__share--content__options--userCounter">
                    <li>Tips: Click user image to select</li> 
                    <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                    <li>
                        <ul>
                            <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                            <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                        </ul>
                    </li>
                </ul>
                <div class="site-main__share--content__options--userSelected">
                    <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                    <div class="site-main__share--content__options--userSelected__mainclose">
                        <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                    </div>
                        <div class="site-main__share--content__options--userSelected__wrapper">
                            <div class="site-main__share--content__options--userSelected__wrapper--content">
                            <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                            <div class="site-main__share--content__options--userSelected__img">
                                    <img src="/" alt="">
                                </div>
                                <ul>
                                    <li><a href=""> User user User user User user</a></li>
                                    <li>Answered: 13K </li>
                                    <li>Students: 234K</li>
                                </ul>
                            </div>
                        </div>
                        <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                    </div>
            </li>
            <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
        </ul>
    </div>

    <div class="site-main__nav--quote__content">
        <div class="site-main__nav--quote__content--timePosted">
            <i class="far fa-clock"></i> 2m ago
        </div>
        <div class="site-main__nav--quote__content--firstquoteIcon">
            <i class="fas fa-quote-left icon icon__site-main__nav--quote__quoteIcon"></i>
        </div>
        <div class="site-main__nav--quote__content--title">
            <div class="site-main__nav--quote__content--title__wrapper">
                The quote is the best nature of lif, this is from the database
                The quote is the best nature of lif, this is from the database
            </div>
        </div>
        <div class="site-main__nav--quote__content--secondquoteIcon">
             <div class="site-main__nav--quote__content--secondquoteIcon__user">
                 <i class="fas fa-user icon icon__site-main__nav--quote__clock"></i>  
                 <a href="">User user </a>
             </div>
            <div class="site-main__nav--quote__content--secondquoteIcon__wrapper">
                <i class="fas fa-quote-right icon icon__site-main__nav--quote__quotesecondIcon"></i>
            </div>
        </div>
    </div>
    <ul class="site-main__nav--quote__footer">
        <li><i class="far fa-smile icon icon__site-main__nav--quote__footer--smile"></i> 11k</li>
        <li><i class="far fa-heart icon__site-main__nav--quote__footer--heart"></i> 122k</li>
        <li><i class="far fa-comment-dots icon__site-main__nav--quote__footer--comments"></i> 100k</li>
    </ul>
</div>


<div class="site-main__nav--quote">

    <div class="site-main__share">
        <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
    </div>
    <div class="site-main__share--content">
        <ul class="site-main__share--content__options">
            <li>
                <div class="site-main__share--content__options--item">
                    <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                </div> 
                <div class="site-main__share--content__options--details">
                    <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                    <div class="site-main__share--content__options--details__user">
                        <div class="site-main__share--content__options--details__user--wrapper">
                            <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                            <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                            <div class="site-main__share--content__options--details__user--img">
                            <img src="/" alt="">
                             </div>
                        <ul>
                            <li><a href=""> User user User user User user</a></li>
                            <li>Answered: 13K </li>
                            <li>Students: 234K</li>
                        </ul>
                        </div>
                    </div>
                </div>
                <ul class="site-main__share--content__options--userCounter">
                    <li>Tips: Click user image to select</li> 
                    <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                    <li>
                        <ul>
                            <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                            <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                        </ul>
                    </li>
                </ul>
                <div class="site-main__share--content__options--userSelected">
                    <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                    <div class="site-main__share--content__options--userSelected__mainclose">
                        <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                    </div>
                        <div class="site-main__share--content__options--userSelected__wrapper">
                            <div class="site-main__share--content__options--userSelected__wrapper--content">
                            <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                            <div class="site-main__share--content__options--userSelected__img">
                                    <img src="/" alt="">
                                </div>
                                <ul>
                                    <li><a href=""> User user User user User user</a></li>
                                    <li>Answered: 13K </li>
                                    <li>Students: 234K</li>
                                </ul>
                            </div>
                        </div>
                        <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                    </div>
            </li>
            <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
        </ul>
    </div>

    <div class="site-main__nav--quote__content">
        <div class="site-main__nav--quote__content--timePosted">
            <i class="far fa-clock"></i> 2m ago
        </div>
        <div class="site-main__nav--quote__content--firstquoteIcon">
            <i class="fas fa-quote-left icon icon__site-main__nav--quote__quoteIcon"></i>
        </div>
        <div class="site-main__nav--quote__content--title">
            <div class="site-main__nav--quote__content--title__wrapper">
                The quote is the best nature of lif, this is from the database
                The quote is the best nature of lif, this is from the database
            </div>
        </div>
        <div class="site-main__nav--quote__content--secondquoteIcon">
             <div class="site-main__nav--quote__content--secondquoteIcon__user">
                 <i class="fas fa-user icon icon__site-main__nav--quote__clock"></i>  
                 <a href="">User user </a>
             </div>
            <div class="site-main__nav--quote__content--secondquoteIcon__wrapper">
                <i class="fas fa-quote-right icon icon__site-main__nav--quote__quotesecondIcon"></i>
            </div>
        </div>
    </div>
    <ul class="site-main__nav--quote__footer">
        <li><i class="far fa-smile icon icon__site-main__nav--quote__footer--smile"></i> 11k</li>
        <li><i class="far fa-heart icon__site-main__nav--quote__footer--heart"></i> 122k</li>
        <li><i class="far fa-comment-dots icon__site-main__nav--quote__footer--comments"></i> 100k</li>
    </ul>
</div>


<div class="site-main__nav--quote">

    <div class="site-main__share">
        <i class="fas fa-location-arrow icon icon__site-main--share__shareIcon"></i>
    </div>
    <div class="site-main__share--content">
        <ul class="site-main__share--content__options">
            <li>
                <div class="site-main__share--content__options--item">
                    <span class="site-main__share--content__options--item__title">Select Users</span> <span class="userarrowicon"><i class="fas fa-angle-down icon icon__site-main--share__selectuserarrow"></i></span>
                </div> 
                <div class="site-main__share--content__options--details">
                    <input class="site-main__share--content__options--details__search" placeholder="search...." autofocus>
                    <div class="site-main__share--content__options--details__user">
                        <div class="site-main__share--content__options--details__user--wrapper">
                            <span class="site-main__share--content__options--details__user--selectIcon"><i class="fas fa-check-circle"></i></span>
                            <span class="site-main__share--content__options--details__user--selectIconClicked"><i class="fas fa-check-circle"></i></span>
                            <div class="site-main__share--content__options--details__user--img">
                            <img src="/" alt="">
                             </div>
                        <ul>
                            <li><a href=""> User user User user User user</a></li>
                            <li>Answered: 13K </li>
                            <li>Students: 234K</li>
                        </ul>
                        </div>
                    </div>
                </div>
                <ul class="site-main__share--content__options--userCounter">
                    <li>Tips: Click user image to select</li> 
                    <li><i class="fas fa-users icon icon__site-main--share__userCounterIcon"></i> User Selected: <span class="site-main__nav--quote__header-share__content--options__userCounter--number">33K</span></li>
                    <li>
                        <ul>
                            <li><i class="fas fa-location-arrow icon icon__site-main--share__locationIcon"></i> Share</li>
                            <li class="site-main__share--content__options--userCounter__viewall">View All</li>
                        </ul>
                    </li>
                </ul>
                <div class="site-main__share--content__options--userSelected">
                    <p><i class="fas fa-users icon icon__site-main--share__userSelectedIcon"></i> Users Selected</p>
                    <div class="site-main__share--content__options--userSelected__mainclose">
                        <i class="fas fa-times icon icon__site-main--share__userSelectedCloseMainIcon"></i>
                    </div>
                        <div class="site-main__share--content__options--userSelected__wrapper">
                            <div class="site-main__share--content__options--userSelected__wrapper--content">
                            <div class="site-main__share--content__options--userSelected__close"><i class="fas fa-times icon icon__site-main--share__userSelectedCloseIcon"></i></div>
                            <div class="site-main__share--content__options--userSelected__img">
                                    <img src="/" alt="">
                                </div>
                                <ul>
                                    <li><a href=""> User user User user User user</a></li>
                                    <li>Answered: 13K </li>
                                    <li>Students: 234K</li>
                                </ul>
                            </div>
                        </div>
                        <button class="site-main__share--content__options--userSelected__btn">Reset</button>
                    </div>
            </li>
            <li class="site-main__share--content__options--socialIcons"><a href=""><i class="fab fa-facebook-square icon icon__site-main--share__facebook"></i></a><a href=""><i class="fab fa-google-plus-square icon icon__site-main--share__googleplus"></i></a></li>
        </ul>
    </div>

    <div class="site-main__nav--quote__content">
        <div class="site-main__nav--quote__content--timePosted">
            <i class="far fa-clock"></i> 2m ago
        </div>
        <div class="site-main__nav--quote__content--firstquoteIcon">
            <i class="fas fa-quote-left icon icon__site-main__nav--quote__quoteIcon"></i>
        </div>
        <div class="site-main__nav--quote__content--title">
            <div class="site-main__nav--quote__content--title__wrapper">
                The quote is the best nature of lif, this is from the database
                The quote is the best nature of lif, this is from the database
            </div>
        </div>
        <div class="site-main__nav--quote__content--secondquoteIcon">
             <div class="site-main__nav--quote__content--secondquoteIcon__user">
                 <i class="fas fa-user icon icon__site-main__nav--quote__clock"></i>  
                 <a href="">User user </a>
             </div>
            <div class="site-main__nav--quote__content--secondquoteIcon__wrapper">
                <i class="fas fa-quote-right icon icon__site-main__nav--quote__quotesecondIcon"></i>
            </div>
        </div>
    </div>
    <ul class="site-main__nav--quote__footer">
        <li><i class="far fa-smile icon icon__site-main__nav--quote__footer--smile"></i> 11k</li>
        <li><i class="far fa-heart icon__site-main__nav--quote__footer--heart"></i> 122k</li>
        <li><i class="far fa-comment-dots icon__site-main__nav--quote__footer--comments"></i> 100k</li>
    </ul>
</div>
