.icon {

    &__site-main--conv__header--comment {
       position: absolute;
       top: 15%;
       transform: translateY(-15%);
       left: 50%;
       transform: translateX(-50%); 
    }

    &__site-main--conv__header--search {
        cursor: pointer; 
        color: #fff;
    }

    &__reuse-conv-filter--add {
        margin-right: 5px;
        font-size: .75rem;
    }

    &__reuse-conv-filter--del {
        margin-right: 5px;
         font-size: .75rem;
    }

    &__site-main--conv__tab--icn {
        margin-right: 5px;
    }
}