.site-main__conv{
    color: $mainFontColor;

    &--header {
        background-color: $mainMiddleDarkBlue;
        font-size: .875rem;
        font-weight: 300;
        position: relative; 
        z-index: 4;   
        padding: 8px 35px;
        color: #fff; 
        box-shadow: 0 1px 2px 0px rgba($mainDarkBlack, .4);


        &__wrapper {
            margin: 0 auto; 
            position: relative;
            padding: 0 0 0 40px;
            width: 160px;

            & > div {
                position: absolute;
                width: 22px;
                height: 22px;
                border-radius: 11px;
                background-color: #fff;
                color: $mainFontColor; 
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }

        &__search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
            height: 26px;
            width: 26px;
            border-radius: 13px;
            background-color: $mainDarkPaleBlue;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        @mixin atSmall {
            font-size: .875rem; 
        }

        @mixin atMedium {
            padding: 8px 35px;
            font-size: .9375rem;
        }
    }

    &--srch {
        position: absolute; 
        left: 0;
        background-color: #fff;
        border: 1px solid $mainDarkGray;
        border-top: none;
        top: 100px;
        width: 90%;
        padding: 10px 10px 20px 10px; 
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;

        &__close {
            width: 20px;
            height: 20px;
            background-color: $mainLightGray;
            border: 1px solid rgba($mainDarkBlack, .5);
            color: $mainLightRed;
            font-size: .75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 5px;
            top: 2px;
            border-radius: 10px;
            cursor: pointer;
        }

        &__wrapper {
            position: relative;
            background-color: $mainLightGray;
            border: 1px solid rgba($mainDarkBlack, .3); 
            z-index: 1;
            font-size: .875rem; 
            border-radius: 5px;
            width: 95%;
            box-shadow: 0 2px 1px 0 rgba($mainDarkBlack, .3);

            & > div {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: $mainLightGray;
                display: flex;
                justify-content: center;
                align-items:center; 
                padding: 0 20px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right: 1px solid rgba($mainDarkBlack, .3); 

            }
        }

        &__input {
            border: none;
            outline: none;
            padding: 6px 10px 6px 60px;
            border-radius: 5px;
            width: 100%;

            @mixin atMedium {
                padding: 8px 10px 8px 60px;
            }
        }

        &__visible {
            position: sticky;
            top: 100px; 
            right: 0;
            opacity: 1;
            visibility: visible;
            width: 100%; 
            z-index: 2; 
        }

    }

    &--filter {
        list-style: none;
        padding: 0  15px;
        margin: 20px 0 0 0;
        @mixin clearfix;
        font-size: .9375rem; 
        /* border-bottom: 1px solid $mainDarkGray;  */

        & > li {
            float: right; 
            padding: 7px 15px;
            border-radius: 3px;

            &:first-child {
                float: left; 
            }
        }

        &__sort {
            border: 1px solid rgba($mainDarkPaleBlue, .2);
            border-top: 3px solid $mainDarkPaleBlue;
            color: $mainFontColor;
            margin: 0;
            position: relative;
            text-align: center;
            border-radius: 3px;
            font-size: .8125rem;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            margin-right: 10px;

            &--opt {
                position: absolute;
                z-index: 2;
                background-color: rgb(255, 255, 255);
                padding: 0px ;
                font-size: .875rem; 
                border: 1px solid $mainDarkGray; 
                border-bottom: none; 
                top: 100%;
                left: -10px;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in;

                & > div {
                    padding: 5px 35px;
                    border-bottom: 1px solid rgba($mainDarkBlack, .2); 

                    &:hover {
                        background-color: $mainLightGray; 
                    }
                }

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    transition: all .3s ease-in;
                }
            }
        }

        &__del {
            border: 1px solid rgba($mainLightRed, .2);
            border-top: 3px solid $mainLightRed;
            margin: 0;
            position: relative;
            text-align: center;
            border-radius: 3px;
            font-size: .8125rem;
            background-color: $mainLightRed;
            color: #fff;
            cursor: pointer;
            margin-right: 10px; 
            box-shadow: 0 2px 2px 0 rgba($mainDarkBlack, .6); 
        }

        &__new {
            border: 1px solid rgba($mainLightBlue,  .2);
            border-top: 3px solid $mainLightBlue;
            margin: 0;
            position: relative;
            text-align: center;
            border-radius: 3px;
            font-size: .8125rem;
            background-color: $mainLightBlue;
            color: #fff;
            cursor: pointer;
            margin-left: 10px; 
            box-shadow: 0 2px 2px 0 rgba($mainDarkBlack, .6)
        }

        @mixin atSmall {
            padding: 0  20px;
        }
    }

    &--cnt {
        position: relative;

        &__opt {
            position: absolute;
            right: 2px;
            height: 28px;
            width: 28px;
            border-radius: 14px; 
            bottom: 2px;
            cursor: pointer;

            &::before, &::after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background-color: rgba($mainDarkBlack, .45);
            }

            &::before {
                bottom: 20px;
            }

            &::after {
                bottom: 4px;
            }

            &--clk {
                background-color: $mainExtraLightGray; 
            }

            &--mid {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background-color: rgba($mainDarkBlack, .45);
                bottom: 12px;
            }

            &--det {
                position: absolute;
                list-style: none;
                top: 40%;    
                transform: translateY(-40%);
                right: 42px;
                padding: 0;
                margin: 0;
                background-color: #fff;
                box-shadow: 0 0 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
                font-size: .8125rem;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in;

                li {
                    padding: 5px;
                    margin: 5px;
                    background-color: $mainLightGray;
                    font-weight: 300;
                    white-space: nowrap;
                    border: 1px solid rgba($mainDarkBlack, .25);
                    cursor: pointer;

                    &:last-child {
                        background-color: $mainDarkRed;

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }

                &::after, &::before {
                    position: absolute;
                    content: "";
                    border-color: transparent;
                    border-style: solid;
                    transform: rotate(90deg);
                    pointer-events: none;
                }

                &::after {
                    top: 20px;
                    right: -24px;
                    border-width: 12px;
                    border-bottom-color: #fff;
                }

                &::before {
                    top: 19px;
                    right: -26px;
                    border-width: 13px;
                    border-bottom-color: rgba($mainDarkBlack, 0.25);
                }

                &__visible {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                    transition: all .5s ease-out;
                }
            }

            &:hover {
                background-color: $mainExtraLightGray; 
                transition: all .3s ease-in;
            }
        }
    }
}
