.preview {
    position: fixed;
    background: #000;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    z-index: 2;
}

.preview__media--wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}

.preview__media--wrapper  img, .preview__media--wrapper  video {
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    background: #000 !important;
}

.preview__media--cnt {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #dcdbdc;
    color: rgba(0,0,0, .75);
    box-shadow: 0 0 2px 0 rgba(0,0,0, .45);
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.preview__media--cnt__nxt {
    right: 5px;
}

.preview__media--cnt__prev {
    left: 5px;
}

.preview__media--cnt:hover {
    background-color: #437da3;
    color: #fff;
    transition: all .3s ease-in;
}

.icon__preview--media__play {
    font-size: 3.875rem;
    color: #dcdbdc;
}

.icon__preview--media__nxt {
    font-size: 1.475rem;
}

.icon__preview--media__prev {
    font-size: 1.475rem;
}

.preview__media--wrapper__icn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
    cursor: pointer;
    z-index: 2;
}