.icon__acc--shared__tab {
    color: #15a4fa;
}

.icon__reuse-conv--del {
    margin-right: 10px;
    color: #fff;
    font-size: .8125rem;
}

.icon__reuse-conv--blk {
    margin-right: 5px;
    color: #182427;
}

.icon__site-main__acc-srd--info {
    margin-right: 5px;
    color: #fff;
    font-size: .75rem;
}

.reuse-pvt-chat {
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -o-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -ms-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
    -moz-box-shadow: 0px 2px 9px 0px rgba(67, 125, 163, 0.9);
}

.reuse-pvt-chat__nav {
    margin: 20px 10px 10px 10px;
}

.reuse-pvt-chat__conv {
    margin: 40px 15px;
}

@media (min-width: 530px) {

    .reuse-pvt-chat__conv {
        margin: 40px 20px 60px 20px;
    }
}

.reuse-pvt-chat__img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #e9ebf2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.reuse-pvt-chat__img--status {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #dcdbdc;
    bottom: 4px;
    right: 8px;
}

.reuse-pvt-chat__img--status__on {
    background-color: #16cf27;
}

.reuse-pvt-chat__img--status__off {
    background-color: #ff1600;
}

.reuse-pvt-chat__det {
    list-style: none;
    padding: 0 30px 0 80px;
    margin:  0;
    width: 100%;
    font-size: .875rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.reuse-pvt-chat__det li {
    margin: 0;
}

.reuse-pvt-chat__det li:first-child {
    padding: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: rgba(5,87,139, .8);
    font-size: .9375rem;
}

.reuse-pvt-chat__det li:first-child > a {
    text-decoration: none;
    color: rgba(5,87,139, .8);
}

.reuse-pvt-chat__det li:first-child > a > span {
    margin-right: 5px;
    font-weight: 300;
    color: rgba(0,0,0, .45);
    font-size: .8125rem;
}

.reuse-pvt-chat__det li:last-child {
    padding: 8px 0;
    color: rgba(0,0,0, .6);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reuse-pvt-chat__det li:last-child > a {
    text-decoration: none;
    color: rgba(0,0,0, .6);
}

.reuse-pvt-chat__det li:last-child > span {
    background-color: #437da3;
    color: #fff;
    border-radius: 3px;
    padding: 4px 15px;
    cursor: pointer;
    font-weight: 400;
    font-size: .8125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .45);
}

.reuse-pvt-chat__opt {
    position: absolute;
    right: 2px;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    bottom: 2px;
    cursor: pointer;
}

.reuse-pvt-chat__opt::before, .reuse-pvt-chat__opt::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0,0,0, .45);
}

.reuse-pvt-chat__opt::before {
    bottom: 20px;
}

.reuse-pvt-chat__opt::after {
    bottom: 4px;
}

.reuse-pvt-chat__opt--clk {
    background-color: #f2f2f2;
}

.reuse-pvt-chat__opt--mid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0,0,0, .45);
    bottom: 12px;
}

.reuse-pvt-chat__opt--det {
    position: absolute;
    list-style: none;
    top: 40%;
    transform: translateY(-40%);
    right: 42px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.reuse-pvt-chat__opt--det > li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
    text-align: right;
}

.reuse-pvt-chat__opt--det > li:last-child {
    padding: 0;
    border: none;
}

.reuse-pvt-chat__opt--det > li:last-child a {
    color: #fff;
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: #f22613;
    border: 1px solid rgba(0,0,0, .25);
}

.reuse-pvt-chat__opt--det::after, .reuse-pvt-chat__opt--det::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-pvt-chat__opt--det::after {
    top: 20px;
    right: -24px;
    border-width: 12px;
    border-bottom-color: #fff;
}

.reuse-pvt-chat__opt--det::before {
    top: 19px;
    right: -26px;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
}

.reuse-pvt-chat__opt--det__visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out;
}

.reuse-pvt-chat__opt:hover {
    background-color: #f2f2f2;
    transition: all .3s ease-in;
}

.site-main {
    color: #182427;
}

.site-main__content {
    color: #182427;
}

.site-main__content--tab {
    padding: 12px 0 12px 60px;
    color: #fff;
}

.site-main__content--tab__icn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0, .5);
}

.site-main__content--tab > span {
    background-color: rgba(0,0,0, .4);
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
}

.site-main__acc-srd {
    width: 100%;
}

.site-main__acc-srd--opt {
    color: #182427;
}

.site-main__acc-srd--opt__onlineque {
    top: 47%;
    transform: translateY(-47%);
}

.site-main__acc-srd--opt__pwt {
    top: 44%;
    transform: translateY(-44%);
}

.site-main__acc-srd--opt__pt, .site-main__acc-srd--opt__que {
    top: 40% ;
    transform: translateY(-40%);
}

.site-main__acc-srd--opt::before {
    top: 19px;
}

.site-main__acc-srd--opt::after {
    top: 20px;
}

.site-main__acc-srd--opt > li {
    position: relative;
}

.site-main__acc-srd--opt > li:first-child {
    background-color: #e9ebf2;
    color: #182427;
    border: 1px solid rgba(0,0,0, .25);
    padding: 5px;
}

.site-main__acc-srd--info {
    position: absolute;
    top: 8px;
    right: 100px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #e9ebf2;
    border: 1px solid #dcdbdc;
    z-index: 1;
    font-size: 1rem;
    cursor: pointer;
    color: #0284a8;
}

.site-main__acc-srd--info::before, .site-main__acc-srd--info::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.site-main__acc-srd--info::before {
    top: 3px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #15a4fa;
}

.site-main__acc-srd--info::after {
    top: 10px;
    width: 4px;
    height: 11px;
    background-color: rgba(0,0,0, .45);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.site-main__acc-srd--info__pwt {
    right: 50px;
}

.site-main__acc-srd--info__conv {
    right: 20px;
    top: 3px;
}

.site-main__acc-srd--info__onlineque {
    top: 3px;
    right: 120px;
}

.site-main__acc-srd--info__cnt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    white-space: nowrap;
    font-size: .8125rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    background-color: #fff;
    box-shadow: 0px 0px 4.15px 0.85px rgba(0,0,0, 0.65);
}

.site-main__acc-srd--info__cnt::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -20px;
    border-color: transparent;
    border-width: 10px;
    border-bottom-color: #ffff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.site-main__acc-srd--info__cnt::before {
    content: "";
    position: absolute;
    top: 19px;
    right: -22px;
    border-color: transparent;
    border-width: 11px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.site-main__acc-srd--info__cnt > h4 {
    padding: 3px 0;
    margin: 0;
    font-size: .8125rem;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    background-color: #437da3;
    box-shadow: inset 0 0 1.15px 0px rgba(0,0,0, 0.65);
    font-weight: 300;
}

.site-main__acc-srd--info__cnt--det {
    position: relative;
    font-style: normal;
    background-color: #ffff;
    color: #437da3;
    padding: 5px 10px 5px 51px;
    white-space: nowrap;
}

.site-main__acc-srd--info__cnt--det__img {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    background-color: #437da3;
}

.site-main__acc-srd--info__cnt--det__img--status {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #dcdbdc;
    bottom: 4px;
    right: 8px;
}

.site-main__acc-srd--info__cnt--det__img--status__on {
    background-color: #16cf27;
}

.site-main__acc-srd--info__cnt--det__img--status__off {
    background-color: #ff1600;
}

.site-main__acc-srd--info__cnt--det > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-main__acc-srd--info__cnt--det > ul > li {
    padding: 2px 0;
}

.site-main__acc-srd--info__cnt--det > ul > li > a {
    text-decoration: none;
    color: #0284a8;
    white-space: nowrap;
}

.site-main__acc-srd--info__cnt--det > ul > li:last-child {
    font-style: italic;
    color: rgba(0,0,0, .75);
    font-weight: 400;
    font-size: .75rem;
}

.site-main__acc-srd--info__cnt--visible {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in;
}     