.icon__reuse-share--icn {
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: .75rem;
}

@media (min-width: 530px) {

    .icon__reuse-share--icn {
        font-size: .9375rem;
    }
}

.reuse-share {
    font-style: normal;
}

.reuse-share__icn {
    position: relative;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: #437da3;
    right: 0;
    margin-right: 40px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-share__icn:hover {
    transform: rotate(-90deg);
    transition: all .3s ease-in;
}

.reuse-share__icn--rotate {
    transform: rotate(-90deg);
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-share__icn {
        border-radius: 15px;
        height: 30px;
        width: 30px;
    }
}
