.site-main__acc-srd {
    width: 100%;

    &--opt {
        color: $mainFontColor;

        &__onlineque {
            top: 47%;    
            transform: translateY(-47%);
        }

        &__pwt {
            top: 44%;    
            transform: translateY(-44%);
        }

        &__pt, &__que {
            top: 40% ;    
            transform: translateY(-40%);
        }

        &::before {
            top: 19px;
        }

        &::after {
            top: 20px;
        }

        & > li {
            position: relative;

            &:first-child {
                background-color: $mainLightGray;
                color: $mainFontColor;
                border: 1px solid rgba($mainDarkBlack, .25);
                padding: 5px;
            }
        }
    }

    &--info {
        position: absolute;
        top: 8px; 
        right: 100px;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background-color: $mainLightGray;
        border: 1px solid $mainDarkGray;
        z-index: 1;
        font-size: 1rem;
        cursor: pointer;
        color: $mainDarkBlue;

        &::before, &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            top: 3px;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: $mainLightBlue;
        }

        &::after {
            top: 10px;
            width: 4px;
            height: 11px;
            background-color: rgba($mainDarkBlack, .45);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &__pwt {
            right: 50px;
        }

        &__conv {
            right: 20px;
            top: 3px;
        }

        &__onlineque {
            top: 3px;
            right: 120px;
        }

        &__cnt {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
            white-space: nowrap;
            font-size: .8125rem;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in;
            background-color: #fff;
            box-shadow: 0px 0px 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
            
            &::after {
                content: "";
                position: absolute;
                top: 20px;
                right: -20px;
                border-color: transparent;
                border-width: 10px;
                border-bottom-color: #ffff;
                border-style: solid;
                transform: rotate(90deg);
                pointer-events: none;
            }
    
            &::before {
                content: "";
                position: absolute;
                top: 19px;
                right: -22px;
                border-color: transparent;
                border-width: 11px;
                border-bottom-color: rgba($mainDarkBlack, 0.25);
                border-style: solid;
                transform: rotate(90deg);
                pointer-events: none;
            }

    
            & > h4 {
                padding: 3px 0;
                margin: 0;
                font-size: .8125rem;
                text-align: center;
                font-weight: 400;
                font-style: italic;
                color: #fff;
                background-color: $mainMiddleDarkBlue;
                box-shadow: inset 0 0 1.15px 0px rgba($mainDarkBlack, 0.65); 
                font-weight: 300;
            }
    
            &--det {
                position: relative;
                font-style: normal; 
                background-color: #ffff;
                color: $mainMiddleDarkBlue;
                padding: 5px 10px 5px 51px;
                white-space: nowrap;

                &__img {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    border-radius: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 5px;
                    background-color: $mainMiddleDarkBlue;

                    &--status {
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        border: 1px solid $mainDarkGray;
                        bottom: 4px;
                        right: 8px;
            
                        &__on {
                            background-color: $mainLightGreen;
                        }
            
                        &__off {
                            background-color: $mainLightRed;
                        }
                    }
                }

                & > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    
                    & > li {
                        padding: 2px 0;

                        & > a {
                            text-decoration: none;
                            color: $mainDarkBlue;
                            white-space: nowrap;
                        }

                        &:last-child {
                            font-style: italic; 
                            color: rgba($mainDarkBlack, .75);
                            font-weight: 400;
                            font-size: .75rem;
                        }
                    }
                }

            }
    
            &--visible {
                height: auto;
                opacity: 1;
                visibility: visible;
                transition: all .3s ease-in;
            }
        }

    }
}