.site-main__chat--srch {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 300px;
    right: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: all .3s ease-in;
  }
  
  .site-main__chat--srch__wrapper {
    background-color: #f9f9f9;
    position: relative;
    width: 100%;
    padding: 18px 0;
  }

  .site-main__chat--srch__highlight {
     background: #d3e18a;
     color: #333
  }
  
  .site-main__chat--srch__close {
    width: 18px;
    height: 18px;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .5);
    color: #ff1600;
    font-size: .75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .site-main__chat--srch__cnt {
    position: relative;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .3);
    z-index: 1;
    font-size: .875rem;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    box-shadow: 0 2px 1px 0 rgba(0,0,0, .3);
  }
  
  .site-main__chat--srch__cnt--button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f9f9f9;
    color: #555;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align:center;
        align-items:center;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0,0,0, .3);
    cursor: pointer;
    overflow: hidden;
  }

  .site-main__chat--srch__cnt--next {
    border: none;
    border-right: 1px solid rgba(0,0,0, .3);
  }

  .site-main__chat--srch__cnt--prev {
    border: none;
  }

  .site-main__chat--srch__cnt--button > button {
    font-size: 1rem;
    padding: 8px 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: #f9f9f9;
  }

  .site-main__chat--srch__cnt--button > button:disabled {
    cursor: not-allowed;
    opacity: .7;
  }

  .site-main__chat--srch__cnt--total {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 5px;
    background-color: #fff;
    color: #05578b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
  }
  
  .site-main__chat--srch__cnt--input {
    border: none;
    outline: none;
    padding: 8px 10px 8px 80px;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
  }