.icon {

    &__reuse-share--googleplus {
        color: $mainDarkRed;
    }

    &__reuse-share--facebook {
        color: $mainLightBlue;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-share--selec {
        color: $mainDarkGray;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        margin-right: 5px;
    }
}