.reuse-share {
    font-style: normal;

    &__icn {
        position: absolute;
        border-radius: 12px;
        height: 24px;
        width: 24px;
        background-color: $mainMiddleDarkBlue;
        right: 0; 
        top: -6px;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
        -o-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
        -ms-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
        -webkit-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
        -moz-box-shadow: 0px 0px 3.1px 1.9px rgba(67, 125, 163, 0.26);
        display: flex;
        justify-content: center;
        align-items: center;  
        
        &:hover {
            transform: rotate(-90deg);
            transition: all .3s ease-in;
        }

        &--rotate {
            transform: rotate(-90deg);
            transition: all .3s ease-in;
        }
         
        @mixin atSmall {
            border-radius: 15px;
            height: 30px;
            width: 30px;
            top: -10px; 
            right: 0px;
        }
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($mainDarkBlack, .75);
        z-index: 4;
        padding-top: 52px;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 4.15px 0.85px rgba($mainDarkBlack, 0.65); 
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        width: 500px;
        height: 90vh;
        background-color: #fff; 
        border-radius: 3px;
        font-size: .875rem;
        /* opacity: 0;
        visibility: hidden; */
        transition: all .3s ease-out;

        &--visible {
            opacity: 1;
            visibility: visible;
            z-index: 2;
            transition: all .3s ease-out;
        }
    }

    &__social-icn {
        list-style: none;
        margin: 0;
        padding: 8px 10px;
        @mixin clearfix;
        font-size: 28px;
        /* background-color: $mainDarkPaleBlue;  */
        border-top: 1px solid $mainDarkGray;
        display: none;

        & > li {
            float: left;

            &:last-child {
                float: right;
            }
        }  

        &--visible {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            transition: all .3s ease-in;
        }
    }

    &__search {
        width: 100%;
        background-color: $mainDarkPaleBlue;
        padding: 10px 20px;

        &--cnt {
            padding: 8px 10px;
            width: 100%;
            border-radius: 3px;
            border: none;
            outline: none;
            box-shadow: 0 2px 5px 1px rgba($mainDarkBlack, .45);
        }
    }

    &__user {
        border: 1px solid $mainDarkGray;
        margin-top: 20px;
        border-radius: 5px;
 
        &--det {
            position: relative;
            padding: 5px 0;

            &__img {
                position: absolute;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                background-color: $mainDarkBlue;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;

                &--status {
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    border: 1px solid $mainDarkGray;
                    bottom: 4px;
                    right: 8px;
                    
                    &__on {
                        background-color: $mainLightGreen;
                    }
    
                    &__off {
                        background-color: $mainLightRed;
                    }
                }
            }

            &__info {
                position: relative;
                list-style: none;
                margin: 0;
                padding-left: 90px;

                & > li {
                    position: relative;
                    padding: 6px 0;

                    & > a {
                        color: $mainFontColor;
                        text-decoration: none;
                    }

                    &:last-child {
                        color: $mainDarkBlue;
                        padding-left: 35px;

                        & > div {
                            position: absolute;
                            left: 0; 
                            top: 50%;
                            transform: translateY(-50%);
                            width: 30px;
                            height: 30px;
                            border-radius: 15px;
                            border: 1px solid $mainDarkGray;
                            background-color: $mainLightGray;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                        }
                    }
                } 
            }

            &__selec {
                position: absolute;
                top: -5px;
                right: -2px;
                font-size: 1rem;
                cursor: pointer;

                &--clk {
                    color: $mainLightGreen;

                    & > svg {
                        color: $mainLightGreen;
                        transition: all .3s ease-in;
                    }
                }
            } 
        }

        &:hover {
            border: 1px solid $mainLightGreen;
            transition: all .3s ease-in;
        }

        &--clk {
            border: 1px solid $mainLightGreen;
            transition: all .3s ease-in;
            animation: wrapper .3s ease-in forwards;
        }
    }

    &__switch-opt {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        height: 44px;
        background-color: $mainDarkGray;
        box-shadow: -2px 0 2px 0 rgba($mainDarkBlack, .45);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in;

        &::after, &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: rgba($mainDarkBlack, .6);
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            top: 6px;
        }

        &::after {
            top: 34px;
        }

        &--mid {
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $mainDarkBlue;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        &--visible {
            opacity: 1;
            visibility: visible;
            z-index: 3;
            transition: all .3s ease-in;
        }
    }

    &__user-counter {
        position: relative;
        margin: 0;
        padding: 10px;
        z-index: 1;
        background-color: $mainExtraLightGray;
        cursor: default;  
        @mixin clearfix;
        /* display: none; */

        & > div {
            border-radius: 3px;
            font-size: .75rem;
            cursor: pointer;
        }

        &--share {
            position: relative;
            float: left;
            margin: 0;
            padding: 5px 10px;
            background-color: $mainDarkBlue;
            color: #fff;
            border: none;
            box-shadow:  0px 2px 4px 0px rgba($mainDarkBlack, 0.8);
            -o-box-shadow:  0px 2px 4px 0px rgba($mainDarkBlack, 0.8);
            -ms-box-shadow:  0px 2px 4px 0px rgba($mainDarkBlack, 0.8);
            -webkit-box-shadow:  0px 2px 4px 0px rgba($mainDarkBlack, 0.8);
            -moz-box-shadow:  0px 2px 4px 0px rgba($mainDarkBlack, 0.8);

            &__select {
                position: absolute;
                width: 30px;
                height: 20px;
                border-radius: 5px;
                background-color: #fff;
                top: -10px;
                right: -12px;
                color: $mainLightRed;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $mainDarkGray;
                font-weight: bold;

                &::before {
                    content:"";
                    border-bottom-width: 20px;
                }
            }
        }

        &--view {
            float: right;
            margin: 0;
            padding: 5px 10px;
            background-color: #fff;
            color: $mainDarkBlue;
            box-shadow:  0px 1px 2px 0px rgba($mainDarkBlack, 0.8);
        }

        &--more-opt {
            padding: 10px 26px 10px 10px;
        }

        &--visible {
            z-index: 1;
            display: block;
        }
    } 

    &__all-users {
        background-color: #fff;
        padding: 0 10px 20px 10px; 
        overflow: hidden;
        overflow-y: auto;
        border-bottom: 1px solid $mainDarkGray;
        display: none;

        &--visible {
            display: flex;
            flex-direction: column;
            flex-grow: 1; 
            transition: all .3s ease-in;
        }
    }

    &__user-select {
        background-color: #fff;
        padding: 0 0 20px 0; 
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        overflow: hidden;
        overflow-y: auto;
        border-bottom: 1px solid $mainDarkGray;
        /* display: none; */

        &--title {
            margin: 0;
            padding: 6px 0;
            text-align: center;
            background-color: $mainLightGray;
            position: relative;
        }

        & > div {
            margin: 20px 10px 10px 10px;
        }

        &--visible {
            display: flex;
            flex-direction: column;
            flex-grow: 1; 
            transition: all .3s ease-in;
        }
    }
}