.icon {
    
    &__reuse-form--angle {
        margin-left: 5px;
    }

    &__reuse-form--btn {
        margin-right: 5px;
    }

    &__reuse-form--user {
        color: $mainDarkBlue;
        margin-right: 5px;
    }

    &__reuse-form--srch {
        color: #fff;
    }
}