
  .site-main__chat--nav {
    background-color: #437da3;
    position: absolute;
    top: 0;
    left: -398px;
    right: 0;
    bottom: 0; 
    overflow: hidden;
    padding-top: 50px;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1; 
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.site-main__chat--nav__wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.site-main__chat--nav__shad {
  background-color: transparent;
}

@media (min-width: 530px) {

  .site-main__chat--nav__shad {
    position: absolute;
    width: 1px;
    top: 0;
    right: -1px;
    bottom: 0;
    z-index: 1;
    background-color: transparent;
    box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
    -o-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
    -webkit-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
    -moz-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
    -ms-box-shadow: -5px 0px 8.32px 4.68px rgba(255, 255, 255, 0.44);
  }
}

.site-main__chat--nav__close {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 9px;
  text-align: center;
  font-size: .8125rem;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

@media (min-width: 1010px) {

  .site-main__chat--nav__close {
    display: none;
  }
}

.site-main__chat--nav__header {
  position: relative;
  margin-top: 20px;
  padding: 19px 10px 19px 252px;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255, .3);
  font-size: .875rem;
}

.site-main__chat--nav__header--det {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.site-main__chat--nav__header--det > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.site-main__chat--nav__header--det__on {
  background-color: #16cf27;
  border: .5px solid rgba(22,207,39, .5);
  left: 10px;
}

.site-main__chat--nav__header--det__off {
  background-color: #ff1600;
  border: .5px solid rgba(255,255,255, .5);
  left: 70px;
}

.site-main__chat--nav__header--det__title {
  font-weight: 400;
  color: #fff;
  position: absolute;
  left: 140px;
  white-space: nowrap;
  width: 72px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  text-shadow: 0 2px 5px rgba(0,0,0, .5);
  -ms-text-shadow: 0 2px 5px rgba(0,0,0, .5);
}

.site-main__chat--nav__header--det__title--share {
  left: 10px;
  width: 94px;
}

.site-main__chat--nav__header--det__title--teach {
  width: 60px;
}

.site-main__chat--nav__header--srch {
  width: 100%;
  position: relative;
  border-radius: 16px;
  background-color: rgba(2,132,168, .7);
  box-shadow: 0 2px 4px rgba(0,0,0, .35);/* -o-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
            -ms-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
            -webkit-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6);
            -moz-box-shadow: 0 3px 4px rgba($mainChatLogColor, .6); */
  font-size: .8125rem;
  overflow: hidden;
}

.site-main__chat--nav__header--srch__input {
  width: 100%;
  background-color: #fff;
  outline: none;
  border: none;
  padding: 8px 30px 8px 10px;
  border-radius: 16px;
}

.site-main__chat--nav__header--srch > div {
  background-color: rgba(2,132,168, .7);
  font-size: .875rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28px;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.site-main__chat--nav__header--share {
  padding: 19px 10px 19px 144px;
}

.site-main__chat--nav__header--teach {
  padding: 19px 10px 19px 240px;
}

@media (min-width: 530px) {

  .site-main__chat--nav__header {
    margin-top: 0;
  }
}

.site-main__chat--nav__cnt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  margin: 10px 10px 0 10px;
  font-size: .875rem;
}

.site-main__chat--nav__cnt--wrapper {
  background-color: rgba(85,85,85, .25);
  border: 1px solid rgba(255, 255, 255, .45);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}

.site-main__chat--nav__cnt--title {
  position: relative;
  padding: 5px 0;
  color: #fff;
  background-color: rgba(0,0,0, .45);
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.site-main__chat--nav__cnt--tab {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 3px solid #fff;
  font-weight: 400;
}

.site-main__chat--nav__cnt--tab::after {
  content: "";
  clear: both;
  display: table;
}

.site-main__chat--nav__cnt--tab > li {
  float: left;
  text-align: center;
  padding: 5px 0;
  color: #0284a8;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.site-main__chat--nav__cnt--tab__rm {
  position: relative;
}

.site-main__chat--nav__cnt--tab__rm > li {
  width: 50%;
}

.site-main__chat--nav__cnt--tab__share {
  position: relative;
}

.site-main__chat--nav__cnt--tab__share > li {
  width: 33.333%;
  border-right: 1px solid #dcdbdc;
}

.site-main__chat--nav__cnt--tab__share > li:last-child {
  border-right: none;
}

.site-main__chat--nav__cnt--tab__active {
  color: #fff !important;
  background-color: #000 !important;
  font-weight: 300;
}

.site-main__chat--nav__cnt--tab__active::before, .site-main__chat--nav__cnt--tab__active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.site-main__chat--nav__cnt--tab__active::before {
  background-color: #16cf27;
  left: 10px;
}

.site-main__chat--nav__cnt--tab__active::after {
  background-color: #16cf27;
  right: 10px;
}

.site-main__chat--nav__cnt--tab::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #fff;
  box-shadow: 0 1px 8px 2px rgba(67,125,163, 0.56);
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.site-main__chat--nav__cnt--user {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, .45);
}

.site-main__chat--nav__cnt--user__wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, .45);
  padding: 5px 0;
  position: relative;
}

.site-main__chat--nav__cnt--user__img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #e9ebf2;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.site-main__chat--nav__cnt--user__img--status {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #dcdbdc;
  bottom: 4px;
  right: 8px;
}

.site-main__chat--nav__cnt--user__img--status__on {
  background-color: #16cf27;
}

.site-main__chat--nav__cnt--user__img--status__off {
  background-color: #ff1600;
}

.site-main__chat--nav__cnt--user__det {
  list-style: none;
  margin: 0;
  padding: 0 10px 0 80px;
  font-size: .875rem;
}

.site-main__chat--nav__cnt--user__det > li {
  float: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  padding: 5px 0;
  text-shadow: 0 2px 5px rgba(0,0,0, .5);
  -ms-text-shadow: 0 2px 5px rgba(0,0,0, .5);
}

.site-main__chat--nav__cnt--user__det > li:first-child {
  color: #e9ebf2;
}

.site-main__chat--nav__cnt--user__det > li:first-child > a {
  color: #e9ebf2;
  text-decoration: none;
}

.site-main__chat--nav__cnt--user__det > li:first-child > a > span {
  color: #dcdbdc;
  margin-left: 10px;
  font-weight: 300;
  font-size: .8125rem;
}

.site-main__chat--nav__cnt--user__det > li:last-child {
  font-weight: 300;
  color: #fff;
}

.site-main__chat--nav__cnt--user__det > li:last-child > a {
  color: #fff;
  text-decoration: none;
}

.site-main__chat--nav__cnt--user__det > li:last-child > a > span {
  background-color: #15a4fa;
  padding: 3px 10px;
  border-radius: 40px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0, .45);
  font-weight: 300;
  font-size: .8125rem;
}

.site-main__chat--nav__footer {
  position: relative;
  padding: 22px 10px;
  font-size: .875rem;
  color: #fff;
}

.site-main__chat--nav__footer > h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0,0,0, .5);
  -ms-text-shadow: 0 2px 5px rgba(0,0,0, .5);
}

.site-main__chat--nav__footer > h4 > span {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #182427;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0, .85);
  text-shadow: none;
}

.site-main__chat--nav__footer > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0, .85);
  cursor: pointer;
}

.site-main__chat--nav__footer--share {
  background-color: #15a4fa;
  left: 10px;
}

.site-main__chat--nav__footer--share:hover {
  background-color: #05578b;
}

.site-main__chat--nav__footer--view {
  background-color: #fff;
  color: #0284a8;
  right: 10px;
}

.site-main__chat--nav__footer--view:hover {
  background-color: #dcdbdc;
}

.site-main__chat--nav__visible {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-in;
  width: 100%;
}

@media (min-width: 530px) {

  .site-main__chat--nav__visible {
    width: 398px;
  }
}

@media (min-width: 1010px) {

  .site-main__chat--nav {
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 3;
    width: 398px;
  }
} 