.icon {

    &__site-main--onlineque__tab {
        margin-right: 5px;
    }

    &__site-main--onlineque__shared {
        margin-right: 5px;
    }

    &__reuse-onlineque-filter--que, &__reuse-onlineque-filter--writ {
        color: $mainLightBlue;
        margin-right: 5px;
    }

    &__reuse-onlineque-filter--tm, &__reuse-onlineque-filter--fav {
        color: $mainLightRed;
        margin-right: 5px;
    }

    &__reuse-onlineque-filter--type, &__reuse-onlineque-filter--comment {
        color: $mainFontColor;
        margin-right: 5px;
    }
}