.site-main {
    margin: 0 0 6px 0;

        &__content { 
          
            &--wrapper {
                width: 100%;
                background-color: rgba($mainHeaderColor, .4);    
                box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
                -o-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
                -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
                -webkit-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);
                -ms-box-shadow: inset 0px 0 2px 0px rgba($mainLightBlack, .5);   
            }
        }
    }