.icon__site-main__chat--form--itm--title {
    margin-right: 8px;
}

.icon__site-main__chat--form--itm--camera {
    margin-right: 5px;
}

.site-main__chat--form__cnt {
    position: relative;
    background-color: #fff;
}


.site-main__chat--form__cnt--title {
    color: rgba(0,0,0, .85);
    font-weight: 400;
    text-align: center;
}

.site-main__chat--form__cnt--det {
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 3px;
    font-size: .875rem;
    box-shadow: inset 0 0px 1px 0px rgba(0,0,0, .95);
}

.site-main__chat--form__cnt--det__input {
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 0;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
}

.site-main__chat--form__cnt--det__input--lg {
    padding: 12px 10px;
}

.site-main__chat--form__cnt--det__btn {
    position: absolute;
    width: 35px;
    background-color: #437da3;
    border: none;
    outline: none;
    color: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    box-shadow: 0 0 1px 0 rgba(220,219,220, 1);
    border-radius: 0 3px 3px 0;
}

.site-main__chat--form__cnt--det__btn:disabled {
    cursor: not-allowed;
    background-color: rgba(67,125,163, .45)
}

.site-main__chat--form__cnt--det__btn:not(:disabled):hover {
    background-color:#05578b;
}


.site-main__chat--form__cnt--det__fil {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    border: 1px dashed #0284a8;
    padding: 20px 0;
}

.site-main__chat--form__cnt--det__fil--input {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border: none;
    padding: 0 10px;
    margin: 0;
    border-radius: 3px;
    opacity: 0;
    cursor: pointer;
}

.site-main__chat--form--det__camera {
    padding: 10px;
    border-radius: 5px;
    background-color:#ff1600;;
    color: #fff;
    width:100%;
    text-align: center;
    cursor: pointer;

}

.site-main__chat--form {
    position: relative;
    font-size: .875rem;
    width: 100%;
    top: 60px;
    background-color: #fff;
    box-shadow: 0 1px 8px 4px rgba(0,0,0, .65);
    z-index: 3;
}

.site-main__chat--form > h4 {
    padding: 10px 0;
    margin: 0;
    background-color: #0284a8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .65);
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.site-main__chat--form--det {
    position: relative;
    padding: 20px;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.site-main__chat--form--det__view {
    background-color: #f9f9f9;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin: 10px 0;
}

.site-main__chat--form--det__view-select {
    background-color: #f9f9f9;
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

.site-main__chat--form--det__view-select::after {
    content: "";
    clear: both;
    display: table;
}

.site-main__chat--form--det__view-select--media {
    width: auto;
    padding: 20px;
    margin: 0 auto;
}

.site-main__chat--form--det__view-select--media__wrapper {
    position: relative;
    width: 100%;
}

.site-main__chat--form--det__view-select--media__wrapper--cnt {
    width: 100%;
    margin: 0 auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: fill;
       object-fit: fill;
    border: 1px solid #dcdbdc;
    display: block;
}

.site-main__chat--form--det__view-select--media__wrapper--video {
    width: 100%;
    margin: 10px auto 0 auto;
    display: block;
    height: 0;
}

.site-main__chat--form--det__view-select--media__wrapper--video__show {
    height: auto;
    width: 100%;
}

.site-main__chat--form--det__view-select--media__wrapper--preview {
    width: 100px;
    height: 100px;
}

.site-main__chat--form--det__alt {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #dcdbdc;
    color: #fff;
    background-color: #0284a8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-size: .75rem;
    margin: 5px 0 10px 0;
}

.site-main__chat--form--footer {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #dcdbdc;
}

.site-main__chat--form--footer::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 530px) {

    .site-main__chat--form {
        width: 500px;
        margin: 0 auto;
    }
}

.site-main__chat--form__err {
    position: relative;
    padding: 5px 20px;
    margin-top: 10px;
    font-size: .875rem;
    background-color: #f9f9f9;
    color: #ff1600;
}

.site-main__chat--form__btn {
    position: relative;
}

.site-main__chat--form__btn > button {
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px 0;
    cursor: pointer;
}

.site-main__chat--form__btn--close, .site-main__chat--form__btn--dft {
    background-color: #fff;
    box-shadow: 0 1px 4px 1px rgba(0,0,0, .55);
    width: 80px;
    float: left;
}

.site-main__chat--form__btn--close:disabled, .site-main__chat--form__btn--dft:disabled {
    cursor: not-allowed;
    background-color: rgba(255,255,255, .45)
}

.site-main__chat--form__btn--close:not(:disabled):hover, .site-main__chat--form__btn--dft:not(:disabled):hover {
    background-color: #f2f2f2;
}

.site-main__chat--form__btn--add  {
    position: relative;
    color: #fff;
    float: right;
    box-shadow: 0 2px 4px 1px rgba(0,0,0, .65);
    width: 70px;
}

.site-main__chat--form__btn--add {
    background-color: #437da3;
}

.site-main__chat--form__btn--add:disabled {
    cursor: not-allowed;
    background-color: rgba(67,125,163, .45)
}

.site-main__chat--form__btn--add:not(:disabled):hover {
    background-color:#05578b;
}
