<div class="site-main">
    <div class="wrapper__main">
       <div class="site-main__content">
            <div class="site-main__content--wrapper">
                    {{> partialComty}}
            </div>
        </div>
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                <ul class="site-main__nav--header">
                    <li><i class="fas fa-exchange-alt"></i></li>
                </ul>
                {{> partialNav}}
            </div>
        </div>
    </div>
</div>
