<div class="site-main">
    <div class="wrapper__exmain">
        <div class="site-main__nav">
            <div class="site-main__nav--wrapper">
                 <h4 class="site-main__nav--header">
                    User Account
                </h4>
                <ul>
                    <li><a href=""><div><i class="fas fa-location-arrow"></i></div> Shared with me</a></li>
                    <li><a href=""><div><i class="fas fa-users"></i></div> Users</a></li>
                    <li><a href=""><div><i class="fas fa-clone"></i></div> My Works</a></li>
                    <li><a href=""><div><i class="fas fa-cogs"></i></div> Settings</a></li>
                </ul>
            </div>
        </div>
       <div class="site-main__content">
           <div class="site-main__content--wrapper">
                <div class="site-main__content--overlay"></div>
                <div class="site-main__content--top"></div>
                {{> partialusershare}}
           </div>
        </div>
    </div>
</div> 
