.icon__reuse-srch--close {
    color: #ff1600;
}

.icon__reuse-srch--calend {
    color: #182427;
}

.reuse-srch {
    position: absolute; 
    left: 0;
    background-color: #fff;
    border-top: none;
    /* top: 88px; */
    width: 90%;
    padding: 10px 40px 20px 10px; 
    opacity: 0;
    visibility: hidden;
}


.reuse-srch__close {
    width: 20px;
    height: 20px;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .5);
    font-size: .75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.reuse-srch__wrapper {
    position: relative;
    background-color: #e9ebf2;
    border: 1px solid rgba(0,0,0, .3);
    z-index: 1;
    font-size: .875rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(0,0,0, .3);
}

.reuse-srch__wrapper > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align:center;
        align-items:center;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0,0,0, .3);
}

.reuse-srch__input {
    border: none;
    outline: none;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    width: 100%;
}

@media (min-width: 800px) {

    .reuse-srch__input {
        padding: 8px 10px 8px 10px;
    }
}

.reuse-srch__visible {
    /* position: -webkit-sticky; */
    /* position: sticky; */
    right: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    z-index: 2;
    transition: all .3s ease-in;
}

@media (min-width: 530px) {

    .reuse-srch {
        /* top: 90px; */
    }
}

@media (min-width: 1010px) {

    .reuse-srch {
        /* top: 100px; */
    }
}  