<div class="site-main__conv--nav">
    <div class="site-main__conv--nav__wrapper">
        <ul class="site-main__conv--nav__header">
            <li><i class="fas fa-exchange-alt"></i></li>
        </ul>
      
    </div>
</div>