<div class="site-main__conv">
    <div class="site-main__conv--header site-main__conv--header__sticky">
        <div class="site-main__conv--header__wrapper">
            <div><i class="far fa-comment-dots icon icon__site-main--conv__header--comment"></i></div>   
            All Conversations
        </div>
        <div class="site-main__conv--header__search"><i class="fas fa-search icon icon__site-main--conv__header--search"></i></div>
    </div>
     <ul class="site-main__content--tab">
        <li>
            <i class="fas fa-user-friends icon icon__site-main--conv__tab--icn"></i> Private
            <div class="active__main active__main--conv">
                <div>99</div>
            </div> 
        </li>
        <li>
            <i class="fas fa-users icon icon__site-main--conv__tab--icn"></i> Group
            <div class="active__main active__main--conv">
                <div>99</div>
            </div> 
        </li>
    </ul>
    <div class="site-main__conv--srch">
        <div class="site-main__conv--srch__close">
            <i class="fas fa-times"></i>
        </div>
        <div class="site-main__conv--srch__wrapper">
            <div><i class="far fa-calendar-alt"></i></div>
            <input type="text" class="site-main__conv--srch__input" placeholder="search...">
        </div>
    </div>

    <div class="reuse-conv-filter">
        <div class="reuse-conv-filter__wrapper">
            <div class="reuse-conv-filter__srt">
                <i class="fas fa-sort icon icon__reuse-conv-filter--srt"></i> Sort
                <ul class="reuse-conv-filter__srt--opt">
                    <li>Group</li>
                    <li>User</li>
                </ul>
            </div>
            <div class="reuse-conv-filter__add">
                <i class="fas fa-plus icon icon__reuse-conv-filter--add"></i> Add 
            </div>
            <div class="reuse-conv-filter__del">
                <i class="far fa-trash-alt icon icon__reuse-conv-filter--del"></i> Delete All
            </div>
        </div>
    </div> 
    
    <div class="site-main__conv--cnt">
        <div class="reuse-grp-chat reuse-grp-chat__conv">
            <div class="active__main active__main--chat-cnt"><div>9</div></div>
            <div class="reuse-grp-chat__img"><img src="/" alt=""></div>
            <ul class="reuse-grp-chat__det">
                <li class="reuse-grp-chat__det--title"><a href="">The real community for programmers The real community for programmers The real community for programmers</a></li>
                <li class="reuse-grp-chat__det--last-msg">Pls do you know the reson while Pls do you know the reson while Pls do you know the reson while Pls do you know the reson whilePls do you know the reson while Pls do you know the reson whilePls do you know the reson while Pls do you know the reson while</li>
                <li class="reuse-grp-chat__det--status"><div class="reuse-grp-chat__det--status__on"> online <span>22k</span></div> <div class="reuse-grp-chat__det--status__off"> offline <span>2k</span></div> </li>
            </ul>
            <div class="reuse-grp-chat__opt">
                <div class="reuse-grp-chat__opt--mid"></div>
                <ul class="reuse-grp-chat__opt--det">
                    <li><i class="fas fa-eye-slash icon__reuse-conv--blk"></i> Block</li>
                    <li><i class="fas fa-trash-alt icon icon__reuse-conv--del"></i><a href="">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="reuse-pvt-chat reuse-pvt-chat__conv">
            <div class="active__main active__main--chat-cnt"><div>9</div></div>
            <div class="reuse-pvt-chat__img">
                <img src="/" alt="">
                {{!-- <div class="reuse-pvt-chat__img--status reuse-pvt-chat__img--status__on"></div> --}}
                <div class="reuse-pvt-chat__img--status reuse-pvt-chat__img--status__off"></div>
            </div>
            <ul class="reuse-pvt-chat__det">
                <li><a href="">User user <span>@ 2m ago</span></a></li>
                <li><a href="">What is the real defination pls, i need it What is the real defination pls, i need itWhat is the real defination pls, i need itWhat is the real defination pls, i need itWhat is the real defination pls, i need it</a></li>
            </ul>
            <div class="reuse-pvt-chat__opt">
                <div class="reuse-pvt-chat__opt--mid"></div>
                <ul class="reuse-pvt-chat__opt--det">
                    <li><i class="fas fa-eye-slash icon__reuse-conv--blk"></i> Block</li>
                    <li><i class="fas fa-trash-alt icon icon__reuse-conv--del"></i><a href="">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>