<div class="site-main__conv">
    <div class="site-main__conv--main">
        <div class="site-main__conv--main__wrapper">
            <div class="site-main__conv--top"></div>
            <div class="site-main__conv--header">
                <div class="site-main__conv--header__wrapper">
                    <div><i class="far fa-comment-dots icon icon__site-main--conv__header--comment"></i></div>   
                    All Conversations
                </div>
                <div class="site-main__conv--header__search"><i class="fas fa-search icon icon__site-main--conv__header--search"></i></div>
            </div>
            <div class="site-main__conv--tab">
                <div class="site-main__conv--tab__overlay"></div>
                <ul class="site-main__conv--tab__header">
                    <li><i class="fas fa-user-friends icon icon__site-main--conv__tab--icn"></i> private <div>25</div></li>
                    <li><i class="fas fa-users icon icon__site-main--conv__tab--icn"></i>  Group <div>25</div></li>
                </ul>
                <ul class="site-main__conv--filter">
                    <li class="site-main__conv--filter__sort"><i class="fas fa-sort icon icon__site-main--conv__filter"></i>  Sort
                     <div class="site-main__conv--filter__sort--opt">
                        <div>new</div>
                        <div>old</div>
                    </div>
                    </li>
                    <li class="site-main__conv--filter__new"><i class="fas fa-plus icon icon__site-main--conv__filter"></i> Add </li>
                    <li class="site-main__conv--filter__del"><i class="far fa-trash-alt icon icon__site-main--conv__filter"></i> Delete All</li>
                </ul>
                <div class="site-main__conv--tab__srch">
                    <div class="site-main__conv--tab__srch--close">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="site-main__conv--tab__srch--wrapper">
                        <div><i class="far fa-calendar-alt"></i></div> <input type="text" name="" class="site-main__conv--tab__srch--field" placeholder="search..." autofocus>
                    </div>
                </div>
                <div class="site-main__conv--tab__content">
                    <div class="site-main__conv--tab__content--wrapper">
                        <div class="site-main__conv--tab__content--opt">
                            <div class="site-main__conv--tab__content--opt__mid"></div>

                            <ul class="site-main__conv--tab__content--opt__det">
                                <li><i class="fas fa-eye-slash icon icon__site-main--conv__det icon__site-main--conv__det--bk"></i> Block</li>
                                 <li><i class="fas fa-trash-alt icon icon__site-main--conv__det icon__site-main--conv__det--del"></i> Delete</li>
                            </ul>
                        </div>
                        <div class="site-main__conv--tab__content--img">
                            <div class="site-main__conv--tab__content--img__status site-main__conv--tab__content--img__status--on">
                            </div>
                            {{!-- <div class="site-main__conv--tab__content--img__status site-main__conv--tab__content--img__status--off">
                            </div> --}}
                        </div> 
                        <div class="site-main__conv--tab__content--det">
                            <div class="site-main__conv--tab__content--det__name">
                                User User <span>@ 2m ago</span>
                            </div>
                            <div class="site-main__conv--tab__content--det__msg">
                                Pls do you know the respone to this pls?
                                Pls do you know the respone to this pls?
                                Pls do you know the respone to this pls?
                            </div>
                            <div class="site-main__conv--tab__content--det__notify">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {{> convnav}}
</div>