<div class="site-main__pvtchat">
  <div class="site-main__pvtchat--main">
      <div class="site-main__pvtchat--main__headerwrapper">
          <div class="site-main__pvtchat--main__header"> 
            <div class="site-main__pvtchat--main__header--title">
                All Conversations
                <div class="active__main active__main--pvtchat"><div>99</div></div>
            </div>
            <span class="site-main__pvtchat--main__header--search"><i class="fas fa-search"></i></span>
        </div>
        <div class="site-main__pvtchat--main__search">
            <div class="site-main__pvtchat--main__search--wrapper">
                <div class="site-main__pvtchat--main__search--calend">
                    <i class="far fa-calendar-alt icon icon__site-main--pvtchat__main--calend"></i>
                </div>
                <input type="text" name="" class="site-main__pvtchat--main__search--input" placeholder="search chat">
                <div class="site-main__pvtchat--main__search--icon">
                    <i class="fas fa-search icon icon__site-main--pvtchat__main--search"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="site-main__pvtchat--main__notify">
            <div class="site-main__pvtchat--main__notify--close">
            <i class="fas fa-times icon icon__site-main--pvtchat__main--notify"></i>
            </div>
            <div class="site-main__pvtchat--main__notify--content">
              <div class="site-main__pvtchat--main__notify--content__total">
                  <div>20</div>
              </div>
              New messages
          </div>
      </div>
      <div class="site-main__pvtchat--main__options">
          <button class="site-main__pvtchat--main__options--create"><i class="fas fa-edit icon icon__site-main--pvtchat__main--options__icon"></i> create New</button>
           <button class="site-main__pvtchat--main__options--delete"><i class="fas fa-trash-alt icon icon__site-main--pvtchat__main--options__icon"></i> Delete All</button>
           <button class="site-main__pvtchat--main__options--neigh"><i class="fas fa-people-carry icon icon__site-main--pvtchat__main--options__icon"></i> Neighbours</button>

    <div class="site-main__pvtchat--main__options--searchuser">
        <div class="site-main__pvtchat--main__options--searchuser__wrapper">
            <div class="site-main__pvtchat--main__options--searchuser__header">
                <input type="text" class="site-main__pvtchat--main__options--searchuser__header--input" placeholder="search user....">
            </div>
            <div class="site-main__pvtchat--main__options--searchuser__outlet">
                <div class="site-main__pvtchat--main__options--searchuser__chat">
                    <div class="site-main__pvtchat--main__options--searchuser__chat--switch">
                        <i class="far fa-comment-dots"></i>
                    </div>
                    <div class="site-main__pvtchat--main__options--searchuser__chat--img">
                        <div class="active__main active__main--pvt-notify"><div>9</div></div>
                        <div class="site-main__pvtchat--main__options--searchuser__chat--img__userdetails">
                            <a href=""><i class="fas fa-comment-dots icon icon__site-main--pvtchat__searchuser--chaticon"></i></a> 
                            <a href=""><i class="fas fa-eye icon icon__site-main--pvtchat__searchuser--eyeicon"></i></a> 
                        </div>
                        <img src="/" alt="">
                    </div>
                    <div class="site-main__pvtchat--main__options--searchuser__chat--details">
                        <ul>
                            <li class="site-main__pvtchat--main__options--searchuser__chat--details__title"><a href="">Users user</a></li>
                            <li class="site-main__pvtchat--main__options--searchuser__chat--details__status">
                                <i class="fas fa-circle icon icon__site-main--pvtchat__searchchat--statuson"></i>
                                online                
                            </li>

                            {{!-- <li class="site-main__groupchat--searchuser__chat--details__status">
                               <i class="fas fa-circle icon icon__site-main--pvtchat__searchchat--statusoff"></i> 
                               offline 2m ago
                            </li> --}}
                        </ul>
                        <div class="site-main__pvtchat--main__options--searchuser__chat--lastmssge">
                           <a href=""> What is the real defination pls, i need it</a>
                        </div>
                    </div>
                </div>

            <div class="site-main__pvtchat--main__options--searchuser__chat">
                <div class="site-main__pvtchat--main__options--searchuser__chat--switch">
                    <i class="far fa-comment-dots"></i>
                </div>
                <div class="site-main__pvtchat--main__options--searchuser__chat--img">
                    <div class="active__main active__main--pvt-notify"><div>9</div></div>
                        <div class="site-main__pvtchat--main__options--searchuser__chat--img__userdetails">
                            <a href=""><i class="fas fa-comment-dots icon icon__site-main--pvtchat__searchuser--chaticon"></i></a> 
                            <a href=""><i class="fas fa-eye icon icon__site-main--pvtchat__searchuser--eyeicon"></i></a> 
                        </div>
                        <img src="/" alt="">
                    </div>
                    <div class="site-main__pvtchat--main__options--searchuser__chat--details">
                        <ul>
                            <li class="site-main__pvtchat--main__options--searchuser__chat--details__title"><a href="">Users user</a></li>
                            {{!-- <li class="site-main__pvtchat--main__options--searchuser__chat--details__status">
                                <i class="fas fa-circle icon icon__site-main--pvtchat__searchchat--statuson"></i>
                                online                
                            </li> --}}

                            <li class="site-main__pvtchat--main__options--searchuser__chat--details__status">
                               <i class="fas fa-circle icon icon__site-main--pvtchat__searchchat--statusoff"></i> 
                               offline 2m ago
                            </li>
                        </ul>
                        <div class="site-main__pvtchat--main__options--searchuser__chat--nomssge">
                            Occupation: <span>teacher</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

      </div>

      <div class="site-main__pvtchat--main__chatdate">
          <div>Today</div>
      </div>
      
      <div class="site-main__pvtchat--main__msg">
          <div class="site-main__pvtchat--main__msg--header">
              <div class="site-main__pvtchat--main__msg--header__firstwrapper">
                  <div class="site-main__pvtchat--main__msg--header__firstwrapper--img">
                      <img src="/" alt="">
                  </div>
                  <ul class="site-main__pvtchat--main__msg--header__firstwrapper--title">
                      <li>User user</li>
                      <li class="site-main__pvtchat--main__msg--header__firstwrapper--title__offline">2m ago</li>
                      {{!-- <li class="site-main__pvtchat--main__msg--header__firstwrapper--title__online">online</li> --}}
                  </ul>
              </div>
              <div class="site-main__pvtchat--main__msg--header__secondwrapper">
                  <span class="site-main__pvtchat--main__msg--header__secondwrapper--recieve"><i class="fas fa-location-arrow icon icon__site-main--pvtvhat__main--recieve"></i>  2m ago</span>
              </div>
              <div class="active__main active__main--msg"><div>New</div></div>
          </div>
          <div class="site-main__pvtchat--main__msg--content">
              <div class="site-main__pvtchat--main__msg--content__holder">
                  <a href="">Do you know the reason while i sent it to you? 
                  if you don't know the reason reply now!,  if you don't kno!</a>
                  <span class="site-main__pvtchat--main__msg--content__total"><i class="fas fa-comment-dots icon icon__site-main--pvtchat__main--msg"></i>  99</span>
              </div>
          </div>
          <div class="site-main__pvtchat--main__msg--footer">
              <div class="site-main__pvtchat--main__msg--footer__content">
                  <div class="site-main__pvtchat--main__msg--footer__content--loadmore"></div>
                    <ul class="site-main__pvtchat--main__msg--footer__content--details">
                        <li><i class="far fa-trash-alt icon icon__site-main--pvtchat__main--footer__icon"></i>Delete Chat</li>
                        <li><i class="fas fa-user-alt-slash icon icon__site-main--pvtchat__main--footer__icon"></i>Block User</li>
                    </ul>
              </div>
          </div>
      </div>

    <div class="site-main__pvtchat--main__msg">
          <div class="site-main__pvtchat--main__msg--header">
              <div class="site-main__pvtchat--main__msg--header__firstwrapper">
                  <div class="site-main__pvtchat--main__msg--header__firstwrapper--img">
                      <img src="/" alt="">
                  </div>
                  <ul class="site-main__pvtchat--main__msg--header__firstwrapper--title">
                      <li>User user</li>
                      <li class="site-main__pvtchat--main__msg--header__firstwrapper--title__online">online</li>
                  </ul>
              </div>
              <div class="site-main__pvtchat--main__msg--header__secondwrapper">
                  <span><i class="fas fa-location-arrow icon icon__site-main--pvtvhat__main--sent"></i> 2m ago</span>
              </div>
          </div>
          <div class="site-main__pvtchat--main__msg--content">
              <div class="site-main__pvtchat--main__msg--content__holder">
                  <a href="">Do you know the reason while i sent it to you? 
                  if you don't know the reason reply now!,  if you don't kno!</a>
                  <span class="site-main__pvtchat--main__msg--content__viewed">viewed</span>
              </div>
          </div>
          <div class="site-main__pvtchat--main__msg--footer">
              <div class="site-main__pvtchat--main__msg--footer__content">
                  <div class="site-main__pvtchat--main__msg--footer__content--loadmore"></div>
                    <ul class="site-main__pvtchat--main__msg--footer__content--details">
                        <li><i class="far fa-trash-alt icon icon__site-main--pvtchat__main--footer__icon"></i>Delete Chat</li>
                        <li><i class="fas fa-user-alt-slash icon icon__site-main--pvtchat__main--footer__icon"></i>Block User</li>
                    </ul>
              </div>
          </div>
      </div>


  </div>
  <div class="site-main__pvtchat--nav">
      <ul class="site-main__pvtchat--nav__tab">
          <li>My Groups </li>
          <li>Groups</li>
      </ul>
      <div class="site-main__pvtchat--nav__content">
          <div class="site-main__pvtchat--nav__content--main">
              <div class="site-main__pvtchat--nav__content--main__header">
                  <a href="">The peom and peot group for all the people with interest</a>
              </div>
              <ul class="site-main__pvtchat--nav__content--main__footer">
                  <li><i class="fas fa-users icon icon__site-main--pvtchat__nav--users"></i> 235k</li>
                  <li><i class="fas fa-user-friends icon icon__site-main--pvtchat__nav--user"></i>235k online</li>
              </ul>
          </div>
      </div>
      <div class="site-main__pvtchat--nav__viewmore">
          view more
      </div>
  </div>
</div>