.icon__reuse-view--main__edit {
    font-size: .75rem;
    color: #05578b;
    text-align: center;
}

.icon__reuse-view--main__add {
    margin-right: 10px;
}

.icon__reuse-view--time {
    margin-right: 5px;
}

.icon__reuse-view--main__tm {
    color: #0284a8;
    margin-right: 5px;
}

.icon__reuse-view--main__eye {
    color: #182427;
}

.icon__reuse-view--circle {
    font-size: .35rem;
    color: #0284a8;
    margin-left: 6px;
}

.icon__reuse-view--fav {
    cursor: pointer;
    margin-right: 5px;
}

.icon__reuse-view--comments__like {
    color: rgba(85,85,85, .8);
    cursor: pointer;
    margin-right: 34px;
}

.icon__reuse-view--comments__reply {
    color: rgba(85,85,85, .7);
    cursor: pointer;
}

.icon__reuse-view--comments__chats {
    color: rgba(0,0,0, .5);
    margin-right: 5px;
}

.icon__reuse-view--comments__arrow {
    margin: 0 10px;
    font-size: .8125rem;
}

@media (min-width: 530px) {

    .icon__reuse-view--comments__arrow {
        font-size: .875rem;
    }
}

.icon__reuse-view--box__reply--close {
    color:#182427;
    font-size: .875rem;
    cursor: pointer;
}

.icon__reuse-view--reply__header {
    position: relative;
    top: 9px;
    color: #15a4fa;
}

.icon__reuse-view--reply {
    margin-right: 10px;
}

.icon__reuse-view--reply__mic {
    position: relative;
    top: 9px;
    color: #f22613;
}

.icon__reuse-view--options {
    margin-right: 5px;
}

.icon__reuse-view--form__pen {
    margin-right: 10px;
    font-size: 1.1rem;
}

.icon__reuse-view--form__add {
    color: #182427;
    margin-right: 5px;
}

.icon__reuse-view--exchange__alt {
    color: #fff;
    font-size: 1rem;
    display: none;
    cursor: pointer;
}

@media (min-width: 1010px) {

    .icon__reuse-view--exchange__alt {
        display: inline;
    }
}

.icon__reuse-view--nav__clock {
    font-size: .9375rem;
    margin-right: 5px;
}

.icon__reuse-view--nav__angle {
    margin-left: 5px;
}

.icon__reuse-view--nav__user {
    margin-right: 5px;
    color: rgba(0,0,0, .25);
}

.icon__reuse-view--nav__coffee {
    margin-right: 5px;
    color: rgba(0,0,0, .25);
}

.icon__reuse-view--nav__footer--tm {
    margin-right: 5px;
}

.reuse-view {
    position: relative;
}

.reuse-view__main {
    background-color: rgba(249,249,249, .95);
    position: relative;
    margin-top: 0;
}

.reuse-view__main--header {
    position: relative;
    padding: 0 10px;
    background-color: #dcdbdc;
}

.reuse-view__main--header__title {
    color: #182427;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-weight: bold;
}

.reuse-view__main--header__det {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    font-size: .875rem;
    color: #182427;
}

.reuse-view__main--header__det::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__main--header__det--que {
    padding-top: 10px;
    margin: 0;
}

.reuse-view__main--header__det > li {
    float: left;
    margin-right: 50px;
    position: relative;
}

.reuse-view__main--header__det > li:last-child {
    margin-right: 0;
    padding-left: 34px;
    color: #0284a8;
}

.reuse-view__main--header__det > li:last-child > div {
    left: 0;
    background-color: #fff;
    box-shadow: none;
}

.reuse-view__main--header__det > li > div {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .25);
}

@media (min-width: 530px) {

    .reuse-view__main--header__det > li {
        margin-right: 60px;
    }
}

.reuse-view__main--header__det--ans {
    padding-right: 34px;
}

.reuse-view__main--header__det--ans > div {
    background-color: #ff1600;
    color: #fff;
    right: 0;
}

.reuse-pt__media {
    position: relative;
    width: 100%;
    padding: 10px 20px 0 20px;
}

.reuse-pt__media--main-wrapper {
    width: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
    padding: 5px;
}

.reuse-pt__media--main-wrapper__load {
    background-color: #000;
    padding: 0;
}

.reuse-pt__media--wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}

.reuse-pt__media--wrapper__anim {
    animation: slide-in 3s linear -2s reverse backwards;
}

.reuse-pt__media--wrapper__anim-rev {
    animation: slide-rev 3s linear -2s  forwards;
}

.reuse-pt__media--wrapper__anim-exit {
    animation: slide-rev 3.2s linear -2s reverse backwards;
}

.reuse-pt__media--wrapper__anim-exit-rev {
    animation: slide-in 3.2s linear -2s forwards;
}

.reuse-pt__media--wrapper__icn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
    cursor: pointer;
    z-index: 2;
}

.reuse-pt__media--wrapper > img, .reuse-pt__media--wrapper > video {
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.reuse-pt__media--cnt {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #dcdbdc;
    color: rgba(0,0,0, .75);
    box-shadow: 0 0 2px 0 rgba(0,0,0, .45);
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.reuse-pt__media--cnt__nxt {
    right: 5px;
}

.reuse-pt__media--cnt__prev {
    left: 5px;
}

.reuse-pt__media--cnt:hover {
    background-color: #437da3;
    color: #fff;
    transition: all .3s ease-in;
}

.reuse-pt__video-err {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    top: 0;
    width: 100%;
    bottom: 0;
    color: #fff;
}

.reuse-pt__video-err--icn {
    font-size: 1.375rem;
    width: 100%;
    text-align: center;
    -ms-touch-action: none;
        touch-action: none;
}

.reuse-pt__video-err > h3 {
    width: 100%;
    font-weight: 400;
    font-size: .875rem;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    color: #fff;
    -ms-touch-action: none;
        touch-action: none;
}

.reuse-view__main--cnt {
    line-height: 2;
    margin: 0;
    padding: 15px 10px 0 10px;
    border-top: 1px solid #dcdbdc;
    font-size: .9375rem;
    color: #182427;
    background-color: #f9f9f9;
}

@media (min-width: 530px) {

    .reuse-view__main--cnt {
        font-size: .9375rem;
    }
}

@media (min-width: 800px) {

    .reuse-view__main--cnt {
        font-size: 1rem;
    }
}

.reuse-view__main--det {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f9f9f9;
}

.reuse-view__main--det::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__main--det__edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: .8125rem;
}

.reuse-view__main--det__edit--title {
    position: relative;
    font-size: .875rem;
    margin-bottom: 5px;
    padding-left: 25px;
}

.reuse-view__main--det__edit--title > div {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__main--det__edit--tm {
    text-align: center;
    color: #0284a8;
}

.reuse-view__main--det__user {
    float: right;
    position: relative;
    margin: 10px 0;
    padding-left: 50px;
    padding-right: 10px;
    font-size: .8125rem;
}

.reuse-view__main--det__user--img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

.reuse-view__main--det__user--img > img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(233,235,242, .7);
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: fill;
    object-fit: fill;

}

.reuse-view__main--det__user > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reuse-view__main--det__user > ul > li {
    position: relative;
}

.reuse-view__main--det__user > ul > li:first-child {
    padding-top: 2px;
}

.reuse-view__main--det__user > ul > li > a {
    text-decoration: none;
    color: #182427;
}

.reuse-view__main--det__user--status {
    font-size: .75rem;
    position: relative;
    padding-left: 15px;
    margin-top: 5px;
    color: #0284a8;
}

.reuse-view__main--det__user--status > div {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__main--det__user--status__off {
    background-color: #ff1600;
}

.reuse-view__main--det__user--status__on {
    background-color: #16cf27;
}

@media (min-width: 530px) {

    .reuse-view__main--det__user {
        font-size: .875rem;
    }
}

.reuse-view__main--footer {
    margin: 0;
    padding: 0;
    border: 1px solid #dcdbdc;
    border-left: 0;
    border-right: 0;
    position: relative;
    font-size: 1rem;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-view__main--footer__user-opt {
    padding: 5px 0;
    padding-left: 20px;
    position: relative
}

.reuse-view__main--footer__user-opt > div {
    position: relative;
    display: inline-block;
}

.reuse-view__main--footer__user-opt--fav {
    color: #ff1600;
}

.reuse-view__main--footer__add {
    font-size: .8125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    background-color: #437da3;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

.reuse-view__main--footer__user-det {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-view__main--footer__user-det--clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

.reuse-view__main--footer__user-det--opt {
    position: absolute;
    list-style: none;
    top: -25px;
    right: 52px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-view__main--footer__user-det--opt li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-view__main--footer__user-det--opt li:first-child {
    background-color: #05578b;
    border: none;
}

.reuse-view__main--footer__user-det--opt li:first-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__main--footer__user-det--opt li a {
    color: #182427;
    text-decoration: none;
}

.reuse-view__main--footer__user-det--opt::after {
    position: absolute;
    content: "";
    top: 23px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__main--footer__user-det--opt::before {
    position: absolute;
    content: "";
    top: 22px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__main--footer__user-det--opt__visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out;
}

@media (min-width: 530px) {

    .reuse-view__main--footer {
        font-size: 1.2rem;
    }
}

.reuse-view__comments {
    width: 100%;
    margin-top: 40px;
    background-color: #437da3;
    /* background: radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%);
    background: -o-radial-gradient( circle closest-side, rgb(83,97,125) 0%, rgb(42,129,164) 0%, rgb(19,51,97) 100%); */
}

.reuse-view__comments--wrapper {
    position: relative;
    margin: 0 40px;
    padding-bottom: 20px;
}

.reuse-view__comments--header {
    position: relative;
    font-size: .8125rem;
    margin: 0 0 20px 0;
    background-color: rgb(19,51,97);
    box-shadow: 0 1px 5px #fff ;
    color: #fff;
    padding: 10px 0;
}

.reuse-view__comments--header__ans {
    text-align: left;
    padding: 5px 0 0 40px;
    margin: 0;
}

.reuse-view__comments--header__ask {
    padding: 5px 10px;
    margin-left: 20px;
    color: #fff;
    background-color: rgba(0,0,0, .5);
    position: relative;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

.reuse-view__comments--header__total {
    right: 40px !important;
    background-color: #fff !important;
}

@media (min-width: 530px) {
    .reuse-view__comments--header {
        font-size: .875rem;
    }
}

.reuse-view__comments--box {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    /* box-shadow: 0 0px 5px 3px rgba(220,219,220, .6); */
    width: 100%;
    position: relative;
}

.reuse-view__comments--box__reply-wrapper {
    position: relative;
}

.reuse-view__comments--box__reply-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.reuse-view__comments--box__reply-cnt {
    width: 95%;
    float: right;
    position: relative;
    background-color: rgba(249,249,249, 1);
}

.reuse-view__comments--box__reply-cnt--header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    background-color: rgb(19,51,97);
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: .8125rem;
    padding: 2px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__reply-cnt--header {
        font-size: .875rem;
    }
}

.reuse-view__comments--box__header {
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: .875rem;
    border-bottom: 1px solid #dcdbdc;
}

.reuse-view__comments--box__header::after {
    content: "";
    clear: both;
    display: table;
}

/* box-shadow: 0px 1px 8px 3px rgba($mainDarkGray, .8); */

.reuse-view__comments--box__header li {
    position: relative;
}

.reuse-view__comments--box__header li:first-child {
    position: relative;
    float: left;
}

.reuse-view__comments--box__header li:last-child {
    position: absolute;
}

.reuse-view__comments--box__header--img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

.reuse-view__comments--box__header--img > img { 
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(233,235,242, .7);
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: fill;
    object-fit: fill;
}

.reuse-view__comments--box__header--det {
    position: relative;
    margin: 0 0 0 50px;
    font-size: .8125rem;
}

.reuse-view__comments--box__header--det__title {
    text-decoration: none;
    color: #182427;
}

.reuse-view__comments--box__header--det__status {
    font-size: .75rem;
    position: relative;
    padding-left: 15px;
    margin-top: 5px;
    color: #0284a8;
}

.reuse-view__comments--box__header--det__status > div {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__comments--box__header--det__status--off {
    background-color: #ff1600;
}

.reuse-view__comments--box__header--det__status--on {
    background-color: #16cf27;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__header--det {
        font-size: .875rem;
    }
}

.reuse-view__comments--box__header--soln {
    font-size: .8125rem;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.reuse-view__comments--box__header--soln__time {
    color: #15a4fa;
    display: block;
    margin-top: 8px;
    font-size: .75rem;
}

@media (min-width: 800px) {

    .reuse-view__comments--box__header--soln__time {
        display: inline;
        margin-left: 5px;
        font-size: .8125rem;
    }
}

@media (min-width: 800px) {

    .reuse-view__comments--box__header--soln {
        font-size: .875rem;
        position: relative;
    }
}

.reuse-view__comments--box__content {
    color: #182427;
    margin: 0;
    padding: 5px 10px;
    font-size: .875rem;
    line-height: 1.8;
}

.reuse-view__comments--box__content--chats {
    font-size: .9375rem;
}

.reuse-view__comments--box__content--chats__title {
    color: #15a4fa;
    cursor: pointer;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__content {
        font-size: .9375rem;
    }
}

.reuse-view__comments--box__footer {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 5.12px 2.88px rgba(233,235,242, 0.9); */
    border: 1px solid #dcdbdc;
    position: relative;
    font-size: 1rem;
}

.reuse-view__comments--box__footer--user-opt {
    padding: 5px 0;
    padding-left: 54px;
}

.reuse-view__comments--box__footer--user-opt__reply {
    padding-left: 0;
}

.reuse-view__comments--box__footer--user-like {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}

.reuse-view__comments--box__footer--user-like__total {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #e9ebf2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: .875rem;
    color: #15a4fa;
}

.reuse-view__comments--box__footer--user-like__liked {
    background-color: #15a4fa;
    color: #fff;
}

.reuse-view__comments--box__footer--user-like__disliked {
    background-color: #ff1600;
    color: #fff;
}

.reuse-view__comments--box__footer--user-det {
    position: absolute;
    right: 20px;
    cursor: pointer;
    /* width: 40px;
    height: 20px; */
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.reuse-view__comments--box__footer--user-det__clk {
    background-color: #e9ebf2;
    transition: all .3s ease-in;
}

.reuse-view__comments--box__footer--user-det__opt {
    position: absolute;
    list-style: none;
    top: -22px;
    right: 52px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 4.15px 0.85px rgba(0,0,0, 0.65);
    font-size: .8125rem;
    margin-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}

.reuse-view__comments--box__footer--user-det__opt li {
    padding: 5px;
    margin: 5px;
    background-color: #e9ebf2;
    font-weight: 300;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0, .25);
    cursor: pointer;
}

.reuse-view__comments--box__footer--user-det__opt li:first-child {
    background-color: #05578b;
    border: none;
}

.reuse-view__comments--box__footer--user-det__opt li:first-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__comments--box__footer--user-det__opt li:last-child {
    background-color: #f22613;
}

.reuse-view__comments--box__footer--user-det__opt li:last-child a {
    color: #fff;
    text-decoration: none;
}

.reuse-view__comments--box__footer--user-det__opt li a {
    color: #182427;
    text-decoration: none;
}

.reuse-view__comments--box__footer--user-det__opt::after {
    position: absolute;
    content: "";
    top: 20px;
    right: -24px;
    border-color: transparent;
    border-width: 12px;
    border-bottom-color: #fff;
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__comments--box__footer--user-det__opt::before {
    position: absolute;
    content: "";
    top: 19px;
    right: -26px;
    border-color: transparent;
    border-width: 13px;
    border-bottom-color: rgba(0,0,0, 0.25);
    border-style: solid;
    transform: rotate(90deg);
    pointer-events: none;
}

.reuse-view__comments--box__footer--user-det__opt--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all .5s ease-out;
}

@media (min-width: 530px) {

    .reuse-view__comments--box__footer {
        font-size: 1.2rem;
    }
}
  
.reuse-view__tips {
    box-shadow: 0 0 2px 0px rgba(0,0,0, .5);

    /* -o-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .8);
        -ms-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -webkit-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6);
        -moz-box-shadow: 0 2px 9px 2px rgba($mainDarkGray, .6); */
    width: 100%;
    padding: 0 0;

    /* border-radius: 3px; */
    color: #182427;
    margin: 40px 0;
}

.reuse-view__tips--title {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #dcdbdc;
    font-weight: 500;
    font-size: .9375rem;
    color: #0284a8;
    background-color: #f9f9f9;
}

.reuse-view__tips--subtitle {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-weight: 300;
    font-size: .875rem;
    color: #0284a8;
}

@media (min-width: 530px) {

    .reuse-view__tips--subtitle {
        font-size: .9375rem;
        font-weight: 400;
    }
}

.reuse-view__tips ul {
    padding: 0px 20px 5px 20px;
    margin: 0;

    /* color: $mainDarkBlue; */
    font-size: .875rem;
    list-style-type: square;
    border-bottom: 1px solid #dcdbdc;
}

.reuse-view__tips ul li {
    padding: 8px 0;
}

.reuse-view__tips ul li > span {
    color: #f22613;
}

@media (min-width: 530px) {

    .reuse-view__tips ul {
        font-size: 1rem;
    }
}

.reuse-view__tips--note {
    font-size: .875rem;
    margin: 0;
    margin-top: 5px !important;
    padding: 8px 0;
    text-align: center;
}

.reuse-view__tips--note > span {
    background-color: #f22613;
    color: #fff;
    padding: 5px 10px;
}

.reuse-view__tips--note__details {
    font-size: .875rem;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}

.reuse-view__tips--note__details > span {
    padding: 0 10px;
    color: #0284a8;
}

.reuse-view__form {
    padding: 10px;
    background-color: #fff;
    margin: 40px auto 0 auto;
    font-size: .875rem;
}

.reuse-view__form--header {
    text-align: center;
    font-size: 1rem;
    padding: 10px 0;
    margin:  0;
    background-color: #e9ebf2;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.reuse-view__form--field {
    margin-bottom: 40px;
}

.reuse-view__form--field__wrapper {
    border: 1px solid #dcdbdc;
}

.reuse-view__form--field__textarea {
    width: 100%;
    border: none;
    outline: none;
    line-height: 2;
    padding: 5px 10px 5px 10px;
    resize: vertical;
    border-radius: 3px;
    background-color: #fff;
    height: 200px;
}

.reuse-view__form--field__textarea > div {
    height: auto;
}

.reuse-view__form--field__textarea > div > div {
    height: auto;
}

.reuse-view__form--field__textarea--toolbar {
    background-color: #f9f9f9;
    margin: 0;
}

.reuse-view__form--field > button {
    border: none;
    width: 100%;
    text-align: center;
    background-color: #437da3;
    position: relative;
    padding: 10px 0;
    margin: 5px 0 0 0;
    color: #fff;
    font-size: .9375rem;
    cursor: pointer;
    border-radius: 5px;
}

.reuse-view__form--field > button:disabled {
    opacity: .6;
}

@keyframes slide-in {
    0% {
        left: 0%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 75%;
    }
    100% {
        left: 100%;
    }
}

@keyframes slide-rev {
    0% {
        right: 100%;
    }
    25% {
        right: 75%;
    }
    50% {
        right: 50%;
    }
    75% {
        right: 25%;
    }
    100% {
        right: 0%;
    }
}

.icon__reuse-pt--media__play {
    font-size: 3.875rem;
    color: #dcdbdc;
}

.icon__reuse-pt--media__nxt {
    font-size: 1.475rem;
}

.icon__reuse-pt--media__prev {
    font-size: 1.475rem;
}