.icon {

    &__site-main__fav-main--header {
        color: $mainLightRed; 
    }

    &__reuse-pvt-chat--fav {
        color: $mainLightRed;
    }

    &__reuse-fav-filter--srch {
        color: #fff;
    }
}