.icon {

    &--rotate {
        svg {
            transform: rotate(180deg);
            transition: all .3s ease-out;
        }
    }
 
    &__site-header--search {
        display: inline;
        font-size: .875rem;
        color: $mainLightBlack;

        &:hover {
            color: $mainPaleBlue;
        }
    }

    &__site-header--favorites {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightRed;

        @mixin atSmall{
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium{
            font-size: 1rem;
            top: 25%;
        }

        @mixin atLarge{
            font-size: 1.2rem;;
            top: 25%;
        }
    }

    &__site-header--shares {
        font-size: .875rem;
        position: absolute;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlue;

        @mixin atSmall{
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium{
            font-size: 1rem;
            top: 22%;
        }

        @mixin atLarge{
            font-size: 1rem;;
            top: 25%;
        }
    }

    &__site-header--addNew {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-55%);
        color: #fff;
        right: 2px;

        @mixin atSmall {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atLarge{
            transform: translate(-50%);
            font-size: .9375rem;
            top: 25%;
        }
    }

    &__site-header--bell {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlack;

        @mixin atSmall {
            font-size: .895rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: 1rem;
            top: 22%;
        }
        @mixin atLarge{
            font-size: 1.2rem;
            top: 25%;
        }
    }

    &__site-header--list {
        position: absolute;
        font-size: .875rem;
        top: 25%;
        transform: translate(-50%);
        color: $mainLightBlack;

        @mixin atSmall {
            font-size: .875rem;
            top: 25%;
        }

        @mixin atMedium {
            font-size: 1rem;
            top: 22%;
        }

        @mixin atLarge{
            font-size: 1rem;
            top: 25%;
        }
    }

    &__site-header--login {
        font-size: .875rem;
        color: #E4DEDE;
        display: none;

        @mixin atLarge {
            margin: 0 .25rem 0 0;
            display: inline;
        }
    }

    &--bars {
        display: block;
        font-size: .875rem;
        @mixin atMedium {
            display: none;
        }
    }

    &--search-mini {
        font-size: .875rem;

        @mixin atSmall {
            display: none;
        }
    }

    &__site-header--miniForm__close {
        font-size: .8125rem;
        color: $mainLightBlack;
    }

    &__site-header--notification__clock {
        position: absolute;
        font-size: .875rem;
        top: 5px;
        right: 5px;
        color: $mainDarkGray;
        cursor: pointer;
    }

    &__site-header--notification--circle {
        font-size: .35rem; 
        color: $mainDarkGray;
        margin-left: .125rem;
    }

    &__site-header--notification__settings {
        color: $mainDarkBlue;
        font-size: .5rem;
        position: absolute;
        top: 25%;
        transform: translate(-50%);
    }

    &__site-header__menu--notification--details__icon {
        font-size: .8125rem;
    }

    &__site-header__menu--notification--details__eye {
        font-size: .75rem;
    }

    &__site-header__menu--notification--details__heart {
        font-size: .75rem;
        cursor: pointer;
    }

    &__site-header__menu--notification--details__comment {
        font-size: .75rem;
        cursor: pointer;
    }

    &__site-header--notifcation__viewLater {
        font-size: .8125rem;
    }

    &__site-header__menu--nav-icon {
        font-size: .8125rem;
        color: $mainLightBlack;
        margin-right: 3px;
    }

    &__site-header--menu__user--icons {
        font-size: .8125rem;
        color: $mainLightBlack;
        margin-right: 10px;

        @mixin atSmall {
            font-size: .875rem;
        }
    }

    &__site-main__fav-main--header {
        color: $mainLightRed; 
    }

    &__exfav--angle {
        margin-left: 5px;
        color:$mainFontColor;
    }

    &__exfav--filter__calend {
       font-size: 1.2rem;
       position: relative;
       color: rgba($mainDarkBlack, .6);
       cursor: pointer;

       @mixin atExtraSmall {
        font-size: 1.3rem;
       }

       @mixin atSmall {
        font-size: 1.4rem;
       }
    }
  
    &__exfav--filter__alt--comment {
        color: rgba($mainDarkBlack, .6);
        margin-right: 8px;
    }

    &__exfav--filter__alt--eye{
        color: rgba($mainDarkBlue, .8);
        margin-right: 8px;
    }

    &__exfav--filter__alt--heart {
        color: rgba($mainDarkRed, .8);
        margin-right: 8px;
    }

    &__exfav--filter__categ--angle {
        margin-left: 10px;
    }

    &__reuse-pt--footer__eye {
        color: $mainDarkBlack;
        cursor: pointer;
    }

    &__reuse-pt--footer__chats {
        color: $mainDarkBlue;
        cursor: pointer;
    }

    &__reuse-pt--footer__heart {
        color: $mainLightRed; 
        cursor: pointer;
    }

    &__reuse-pt--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-pt--header__tag {
        color: $mainLightBlack;
        cursor: pointer;
    }

    &__reuse-pt--share {
        position: absolute;
        top: 27%;
        transform: translate(-54%);
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-pt--options {
        margin-right: 10px;
    }

    &__reuse-pt--options__dft {
        margin-right: 5px;
    }

    &__reuse-que--header__tag {
        color: $mainLightBlack;
        cursor: pointer;
    }
    
    &__reuse-que--footer__thumbup {
        color: $mainDarkBlue;
        cursor: pointer;
    }

    &__reuse-que--footer__thumbdown {
        color: $mainDarkBlack;
        cursor: pointer;
    }

    &__reuse-que--footer__heart {
        color: $mainLightRed; 
        cursor: pointer;
    }

    &__reuse-que--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkBlue;
        margin-left: 6px;
    }

    &__reuse-que--options {
        margin-right: 10px;
    }

    &__reuse-que--options__dft {
        margin-right: 5px;
    }

    &__reuse-onlineque--durationClock {
        margin-right: 3px;
        color: $mainDarkBlue;
    }

    &__reuse-onlineque--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkPaleBlue;
        margin-left: 6px;
    }

    &__reuse-onlineque--options {
        margin-right: 10px;
    }

    &__reuse-onlineque--options__dft {
        margin-right: 5px;
    }

    &__reuse-onlineque--share {
        z-index: .7;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-onlineque--pen {
        margin-right: 5px;
        color: #fff;
    }

    &__reuse-onlineque--comment {
        margin-right: 5px;
        color: $mainDarkBlack;
    }

    &__reuse-onlineque--heart {
        margin-right: 5px;
        cursor: pointer;
        color: $mainLightRed;
    }

    &__reuse-onlineque--time {
        margin-right: 3px;
        /* color: $mainFontColor; */
        color: $mainLightBlue;
    }
    
    &__reuse-pwt--share {
        z-index: .7; 
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-pwt--tag {
        color: $mainLightBlack;
    }

    &__reuse-pwt--quote {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 3.5px;
        left: 4.4px;
    }

    &__reuse-pwt--quoteright {
        font-size: .8125rem;
        color: $mainDarkBlue;
        position: absolute;
        top: 5px;
        left: 4.4px;
    }

    &__reuse-pwt--loadmore__circle {
        font-size: .35rem; 
        color: $mainDarkPaleBlue;
        margin-left: 6px;
    }

    &__reuse-pwt--options {
        margin-right: 10px;
    }

    &__reuse-pwt--options__dft {
        margin-right: 5px;
    }

    &__reuse-pwt--footer__smile {
        margin-right: 5px;
        color: $mainDarkBlue;  
    }

    &__reuse-pwt--footer__heart {
        margin-right: 5px;
        color: $mainLightRed;
        cursor: pointer;
    }

    &__reuse-pwt--footer__comments {
        margin-right: 5px;
        color: $mainDarkBlack;
     
    }

    &__reuse-share--title {
        margin-left: 20px;
    }

    &__reuse-share--googleplus {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainDarkRed;
        float: right;
    }

    &__reuse-share--facebook {
        font-size: 28px;
        padding: 0;
        margin: 0;
        color: $mainLightBlue;
        float: left;
    }

    &__reuse-share--icn {
        cursor: pointer;
        z-index: 1;
        color: #fff;
        font-size: .75rem;

        @mixin atSmall {
            font-size: .9375rem;
        }
    }

    &__reuse-share--selec {
        color: $mainLightGreen;
    }

    &__reuse-share--content-ans {
        font-size: .625rem;
        color: $mainLightBlue;
    }

    &__reuse-share--content-snts {
        font-size: .625rem;
        color: $mainDarkPaleBlue;
    }

    &__reuse-share--share {
        margin-right: 5px;
    }

    &__reuse-share--view {
        margin-right: 5px;
    }

    &__reuse-share--user {
        color: $mainFontColor;
        font-size: .75rem;
    }

    &__reuse-share--mainclose {
        font-size: .75rem;
        color: rgba($mainDarkBlack, .6);
    }
    
    &__reuse-share--close {
        font-size: .625rem;
        color: $mainLightRed;
    }

    &__reuse-share--user-selec__user {
        color: $mainDarkBlue;
        font-size: .625rem;
    }

    &__reuse-share--reset {
        color: $mainLightRed;
        margin-right: 5px;
        font-size: .875rem;
        position: relative;
        top: 1px;
    }

    &__reuse-pvt-chat--fav {
        color: $mainLightRed;
    }
}