.reuse-pvt-chat {
    margin: 40px 15px;  
    position: relative;

    &__fav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: #fff;
        border: 1px solid $mainDarkGray;
        right: 10px;
        top: 2px;
        cursor: pointer;
    }

    @mixin atSmall {
        margin: 40px 20px 60px 20px;
    }
}