.site-main__fav-nav {
    width: 35%;
    border: 1px solid $mainDarkGray;
    color: #fff;
    float: left;
    display: none;
    font-weight: 300;
    margin-top: 10px; 
    height: 92vh; 
    position: sticky;  
    top: 70px;

      
    &--sticky { 
        top: 70px; 
        position: sticky;      
        overflow: hidden;    
    }

    &--header {
        background-color: $mainMiddleDarkBlue;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        font-size: .9375rem;
        box-shadow: 0 0 0 1px rgba($mainMiddleDarkBlue, 1); 
        @mixin clearfix;

        li {
            float: left;
            padding: 15px 27.2px;

            &:last-child {
                /* position: absolute;
                right: 8%; */
                float: right;
            }
        }
    }

    @mixin atLarge {
        display: flex;
        flex-direction: column; 
    }
}