<div class="site-main__prf-main--tab__det">
    <div class="site-main__prf-main--tab__det--wrapper">
        <div class="site-main__prf-main--tab__det--icn">
            <i class="fas fa-user icon icon__site-main__prf-main--tab__snt"></i>
        </div>
        <ul class="site-main__prf-main--tab__det--content">
            <li class="site-main__prf-main--tab__det--content__sntaccept"> Student Accepted <span>2222</span></li>
            <li class="site-main__prf-main--tab__det--content__sntreject"> Student Rejected <span>0</span></li>
        </ul>
    </div>
    <div class="site-main__prf-main--tab__det--wrapper">
        <div class="site-main__prf-main--tab__det--icn">
            <i class="fas fa-coffee icon icon__site-main__prf-main--tab__onlineque"></i>
        </div>
        <ul class="site-main__prf-main--tab__det--content">
            <li class="site-main__prf-main--tab__det--content__onlineque"> Online Questions <span>222K</span></li>
        </ul>
    </div>
    <div class="site-main__prf-main--tab__det--wrapper">
        <div class="site-main__prf-main--tab__det--icn">
            <i class="fas fa-edit icon icon__site-main__prf-main--tab__que"></i>
        </div>
        <ul class="site-main__prf-main--tab__det--content">
            <li class="site-main__prf-main--tab__det--content__que"> Questions Answered <span>222K</span></li>
        </ul>
    </div>
    <div class="site-main__prf-main--tab__det--wrapper">
        <div class="site-main__prf-main--tab__det--icn">
            <i class="fas fa-clone icon icon__site-main__prf-main--tab__post"></i>
        </div>
        <ul class="site-main__prf-main--tab__det--content">
            <li class="site-main__prf-main--tab__det--content__post"> Post Published <span>222K</span></li>
        </ul>
    </div>
        <div class="site-main__prf-main--tab__det--wrapper">
        <div class="site-main__prf-main--tab__det--icn">
            <i class="fas fa-users icon icon__site-main__prf-main--tab__group"></i>
        </div>
        <ul class="site-main__prf-main--tab__det--content">
            <li class="site-main__prf-main--tab__det--content__group"> Groups <span>222K</span></li>
        </ul>
    </div>
    <div class="site-main__prf-main--tab__det--wrapper">
        <div class="site-main__prf-main--tab__det--icn site-main__prf-main--tab__det--icn__itm">
            <i class="fas fa-store icon icon__site-main__prf-main--tab__itm"></i>
        </div>
        <ul class="site-main__prf-main--tab__det--content">
            <li class="site-main__prf-main--tab__det--content__itm"> Items in stock <span>222K</span></li>
        </ul>
    </div>
</div>