<div class="site-main__prf-main">
    <div class="site-main__prf-main--user">
        <div class="site-main__prf-main--user__img">
            <div class="site-main__prf-main--user__img--wrapper">

            </div>
            <div class="site-main__prf-main--user__img--status">
                {{!-- <div class="site-main__prf-main--user__img--status__on"></div> online --}}
                <div class="site-main__prf-main--user__img--status__off"></div> 3m ago
            </div>
        </div>
        <div class="site-main__prf-main--user__det">
            <div class="site-main__prf-main--user__det--name">TheUser User</div>
            <ul class="site-main__prf-main--user__det--exp">
                <li>Expertise : </li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                {{!-- <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li> --}}
            </ul>
            <ul class="site-main__prf-main--user__det--opt">
                <li class="site-main__prf-main--user__det--opt__chat"><div><i class="fas fa-comment-alt icon icon__site-main--prf-main__user--comment"></i></div> Chat</li>
                <li class="site-main__prf-main--user__det--opt__add"><div><i class="fas fa-plus icon icon__site-main--prf-main__user--add"></i></div> Add</li>
            </ul>
        </div>
    </div>
    <div class="site-main__prf-main--about">
        <span class="site-main__prf-main--about__title">
           About Me
        </span>
        <div class="site-main__prf-main--about__content">
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
        </div>
    </div>
    <div class="site-main__prf-main--tab">
        {{!-- <ul class="site-main__prf-main--tab__header">
            <li>Details</li>
            <li><div><i class="fas fa-store icon icon__site-main__prf-main--tab__header"></i></div> Reviews</li>
        </ul> --}}
        <div class="site-main__prf-main--tab__outlet">
            {{> partialdet}}
            <div class="site-main__prf-main--tab__rev">
                <div class="site-main__prf-main--tab__rev--wrapper">
                    <div class="site-main__prf-main--tab__rev--img">
                        
                    </div>
                    <div class="site-main__prf-main--tab__rev--name">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>