<div class="reuse-prf__det">
    <div class="reuse-prf__det--wrapper">
        <div class="reuse-prf__det--icn">
            <i class="fas fa-user icon icon__reuse-prf--user"></i>
        </div>
        <ul class="reuse-prf__det--cnt">
            <li class="reuse-prf__det--cnt__sntaccept"> Student Accepted <span>2222</span></li>
            <li class="reuse-prf__det--cnt__sntreject"> Student Rejected <span>0</span></li>
        </ul>
    </div>
    <div class="reuse-prf__det--wrapper">
        <div class="reuse-prf__det--icn">
            <i class="fas fa-coffee icon icon__reuse-prf--onlineque"></i>
        </div>
        <ul class="reuse-prf__det--cnt">
            <li class="reuse-prf__det--cnt__onlineque"> Online Questions <span>222K</span></li>
        </ul>
    </div>
    <div class="reuse-prf__det--wrapper">
        <div class="reuse-prf__det--icn">
            <i class="fas fa-edit icon icon__reuse-prf--que"></i>
        </div>
        <ul class="reuse-prf__det--cnt">
            <li class="reuse-prf__det--cnt__que"> Questions Answered <span>222K</span></li>
        </ul>
    </div>
    <div class="reuse-prf__det--wrapper">
        <div class="reuse-prf__det--icn">
            <i class="fas fa-clone icon icon__reuse-prf--pt"></i>
        </div>
        <ul class="reuse-prf__det--cnt">
            <li class="reuse-prf__det--cnt__pt"> Post Published <span>222K</span></li>
        </ul>
    </div>
        <div class="reuse-prf__det--wrapper">
        <div class="reuse-prf__det--icn">
            <i class="fas fa-users icon icon__reuse-prf--grp"></i>
        </div>
        <ul class="reuse-prf__det--cnt">
            <li class="reuse-prf__det--cnt__grp"> Groups <span>222K</span></li>
        </ul>
    </div>
    <div class="reuse-prf__det--wrapper">
        <div class="reuse-prf__det--icn reuse-prf__det--icn__itm">
            <i class="fas fa-store icon icon__reuse-prf--itm"></i>
        </div>
        <ul class="reuse-prf__det--cnt">
            <li class="reuse-prf__det--cnt__itm"> Items in stock <span>222K</span></li>
        </ul>
    </div>
</div>