<div class="reuse-prf">
    <div class="reuse-prf__user">
        <div class="reuse-prf__user--img">
            <div class="reuse-prf__user--img__wrapper">

            </div>
            <div class="reuse-prf__user--img__status">
                {{!-- <div class="reuse-prf__user--img__status--on"></div> online --}}
                <div class="reuse-prf__user--img__status--off"></div> 3m ago
            </div>
        </div>
        <div class="reuse-prf__user--det">
            <div class="reuse-prf__user--det__name">TheUser User</div>
            <ul class="reuse-prf__user--det__exp">
                <li>Expertise : </li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
                <li>Poet</li>
                <li>Poem</li>
                <li>Prose</li>
            </ul>
            <ul class="reuse-prf__user--det__opt">
                <li class="reuse-prf__user--det__opt--chat"><div><i class="fas fa-comment-alt icon icon__reuse-prf--comment"></i></div> Chat</li>
                <li class="reuse-prf__user--det__opt--add"><div><i class="fas fa-plus icon icon__reuse-prf--add"></i></div> Add</li>
            </ul>
        </div>
    </div>
    <div class="reuse-prf__about">
        <span class="reuse-prf__about--title">
           About Me
        </span>
        <div class="reuse-prf__about--cnt">
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
            Just always ready to assits and to share my knowledge
        </div>
    </div>
    {{!-- <ul class="reuse-prf__tab">
        <li>Details</li>
        <li><div><i class="fas fa-store icon icon__reuse-prf--tab"></i></div> Reviews</li>
    </ul> --}}
    <div class="reuse-prf__outlet">
        {{> reuseprfdet}}
        <div class="reuse-prf__rev">
            <div class="reuse-prf__rev--wrapper">
                <div class="reuse-prf__rev--img">
                    
                </div>
                <div class="reuse-prf__rev--name">

                </div>
            </div>
        </div>
    </div>
</div>