.reuse-share__switch-opt {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 44px;
    background-color: #dcdbdc;
    box-shadow: -2px 0 2px 0 rgba(0,0,0, .45);
    z-index: 3;
    transition: all .3s ease-in;
}

.reuse-share__switch-opt::after, .reuse-share__switch-opt::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0,0,0, .6);
    left: 50%;
    transform: translateX(-50%);
}

.reuse-share__switch-opt::before {
    top: 6px;
}

.reuse-share__switch-opt::after {
    top: 34px;
}

.reuse-share__switch-opt--mid {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0284a8;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}